
<% if params[:q].present? %>

<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="doc_actions"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bulk Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <% msg = "This will verify each KYC in the search results (including results on other pages). Proceed?" %>
            <%= button_to "Verify",
            bulk_actions_investor_kycs_path("bulk_action": "Verify", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg:, action: "click->confirm#popup", method: :post}  %>

            <% msg = "This will unverify each KYC in the search results (including results on other pages). Proceed?" %>
            <%= button_to "Unverify",
            bulk_actions_investor_kycs_path("bulk_action": "Unverify", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg:, action: "click->confirm#popup", method: :post}  %>


            <div class="dropdown-divider"></div>

            <%= button_to "Generate AML Reports",
            bulk_actions_investor_kycs_path("bulk_action": "GenerateAMLReports", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg: "This will generate AML Reports for all filtered KYCs. Proceed?", action: "click->confirm#popup", method: :post, turbo: false} if current_user.entity.entity_setting.aml_enabled %>

            <%= button_to "Validate Document Data",
            bulk_actions_investor_kycs_path("bulk_action": "ValidateDocsWithAi", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg: "This will validate docs or extract data from docs into the KYCs as defined by the DocQuestions. Proceed?", action: "click->confirm#popup", method: :post, turbo: false} if current_user.entity.enable_doc_llm_validation %>


            <%


                custom_notifications = current_user.entity.custom_notifications
                              .for_type("InvestorKyc").email_method(:kyc_required_reminder)

                custom_notifications.each do |custom_notification|

                msg = "This will send a reminder (#{custom_notification.tag}) to each KYC in the search results (including results on other pages). Proceed?"

            %>

                <%= button_to "Send Reminder #{custom_notification.tag}",
                bulk_actions_investor_kycs_path("bulk_action": "SendReminder", q: params.to_unsafe_h[:q], all: true, custom_notification_id: custom_notification.id),
                class: "dropdown-item", form_class: "w-100",
                data: {msg:, action: "click->confirm#popup", method: :post}  %>

            <% end %>


            <% msg = "This will try and verify the bank details using external bank APIs for KYCs below (including results on other pages). Proceed?" %>
            <%= button_to "Verify Bank Details",
            bulk_actions_investor_kycs_path("bulk_action": "BankVerification", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg:, action: "click->confirm#popup", method: :post}  if current_user.entity.entity_setting.bank_verification %>


            <% msg = "This will try and extract information from documents into the KYC (based on rules which have been setup). Proceed?" %>
            <%= button_to "Validate Document Data",
            bulk_actions_investor_kycs_path("bulk_action": "ValidateDocsWithAi", q: params.to_unsafe_h[:q], all: true),
            class: "dropdown-item", form_class: "w-100",
            data: {msg:, action: "click->confirm#popup", method: :post}  if current_user.entity.enable_doc_llm_validation %>

        </div>
    </div>
</div>

<% end %>
