<div class="associated_entity" data-controller="tabs tabdetails">


  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>
    <% @entity = @investor_kyc.entity%>
    <% if @entity.ckyc_or_kra_enabled? %>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#kyc-datas-tab"
        data-action="click->tabdetails#loadData">Kyc Data</a>
    <% end %>

    <% if false && params[:audit_trail].present? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#audit-trail-tab"
          data-action="click->tabdetails#loadData">Audit Trail</a>
    <% end %>

    <% if policy(@investor_kyc).validate_docs_with_ai? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-validation-tab" >Doc Validations</a>
    <% end %>

  </nav>


  <div class="tab-content" data-controller="datatable">

      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          <% documents = current_user.entity_id == @investor_kyc.entity_id ? @investor_kyc.documents : @investor_kyc.docs_for_investor %>
          <% msg = nil %>
          <%= render "/documents/index", documents: documents,
              owner: @investor_kyc, entity: @investor_kyc.entity, msg: msg %>
        </div>
      </div>

      <div id="docs-validation-tab" class="tab-pane fade in show">
        <div id="docs_validation" class="associated_entity">
          <%= Json2table.get_html_table(@investor_kyc.doc_question_answers, JsonTable::TABLE_OPTIONS).html_safe if @investor_kyc.doc_question_answers.present? %>
        </div>
      </div>

      <% if @entity.ckyc_or_kra_enabled? %>
      <div id="kyc-datas-tab" class="tab-pane fade in show">
        <div id="kyc-datas" class="associated_entity">
          <%= turbo_frame_tag "kyc_datas_frame", target: "_top", loading: :lazy, src: kyc_datas_path(investor_kyc_id: @investor_kyc.id) do %>
            <%= render "/layouts/loading" %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if false && params[:audit_trail].present? %>
      <div id="audit-trail-tab" class="tab-pane fade in show">
        <div id="audit-trail" class="associated_entity">
          <%= render AuditTrail.new(@investor_kyc, css_class: "investor_kyc_audit_trail") %>
        </div>
      </div>
      <% end %>
  </div>

</div>
