<%= form_with(model: investor_kyc, validate: true) do |form| %>
  <% if investor_kyc.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investor_kyc.errors.count, "error") %> prohibited this investor_kyc from being saved:</h2>

      <ul>
        <% investor_kyc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <% if investor_kyc.investor_id.present? %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
  <% else %>
    <div class="form-group">
      <%= form.label :investor_id %>
      <%= form.select :investor_id, investor_kyc.entity.investors.map{|i| [i.investor_name, i.id]}, {}, class: "form-control select2"  %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :kyc_type %>
    <%= form.select :kyc_type, InvestorKyc.kyc_types.invert, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :residency %>
    <%= form.select :residency, InvestorKyc.residencies.invert, {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :PAN %>
    <%= form.text_field :PAN, class: "form-control"  %>
  </div>

  <div class="form-group">

    <div class="alert alert-info">
      Please upload a clear image of your PAN card
    </div>

    <%= render "layouts/single_upload", form: form, field_label: "Upload PAN Card", 
                            for_model: "investor_kyc", field_name: "pan_card", 
                            model: investor_kyc %>

  </div>

  <% if current_user.entity_id == investor_kyc.entity_id || policy(investor_kyc).advisor? %>
    <div class="form-group">
      <%= form.label :pan_verified %>
      <%= form.check_box :pan_verified, class: "form-control form-checkbox"  %>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :bank_account_number %>
    <%= form.text_field :bank_account_number, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ifsc_code %>
    <%= form.text_field :ifsc_code, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= render "layouts/single_upload", form: form, field_label: "Upload Signature Image (jpg or png only)", 
                            for_model: "investor_kyc", field_name: "signature", 
                            model: investor_kyc, allowed_types: ['image/*'].freeze  %>

  </div>
  

  <!-- div class="form-group">
    <div class="alert alert-info">
      Please upload a video where you are holding your PAN Card saying:
      
      <div class="alert alert-success">
      "My name is [NAME] and my PAN is [PAN number].  I confirm the KYC details provided by me for subscribing to the fund by <%= investor_kyc.entity.name %> 
      on <%= Time.zone.today.to_formatted_s(:long) %>"
      </div>
      Kindly make sure your full face and the PAN card are clearly visible in the video.
    </div>

    <%#= render "layouts/single_upload", form: form, field_label: "Upload KYC Video (mp4 only)", 
                            for_model: "investor_kyc", field_name: "video", 
                            model: investor_kyc, allowed_types: ['video/*'].freeze %>

    
  </div -->

  <% if current_user.entity_id == investor_kyc.entity_id || policy(investor_kyc).advisor? %>

    <div class="form-group">
      <%= form.label :bank_verified %>
      <%= form.check_box :bank_verified, class: "form-control form-checkbox"  %>
    </div>
    <div class="form-group">
      <%= form.label :verified, "KYC Verified" %>
      <%= form.check_box :verified, class: "form-control form-checkbox"  %>
      <small>Check if you have confirmed all the details in the KYC and mark as verified</small>
    </div>

  <% end %>

  
  <%= custom_form_fields(investor_kyc, form) %>

  <%= render "layouts/multi_upload", form: form, title: "Documents", 
              for_model: "investor_kyc" %>

  <div class="form-group">
    <%= form.label :expiry_date %>
    <%= form.date_field :expiry_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :comments %>
    <%= form.text_area :comments, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
