<div class="wizard_container" data-controller="wizard">
  <div class="row justify-content-md-center">
    <div class="stepwizard hidden col-md-6">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-outline-primary btn-outline-primary btn-outline-circle">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn disabled btn-outline-primary btn-outline-circle">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn disabled btn-outline-primarybtn-outline-circle">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>
  </div>

<% is_investor = current_user.curr_role == "investor"%>

<%= form_with(model: investor_kyc, validate: is_investor, class: "wizard_form row justify-content-md-center") do |form| %>
  <% if investor_kyc.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investor_kyc.errors.count, "error") %> prohibited this investor_kyc from being saved:</h2>

      <ul>
        <% investor_kyc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-6 setup-content" id="step-1">
    <div class="">
      <div class="card">
        <div class="card-header"> 1. KYC Details </div>
        <div class="card-body">

            <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
            <!-- Sometimes we want to create a kyc and associate it with a commitment or EOI, this is the owner, see InvestorKycCreate.associate_with_owner -->
            <%= form.text_field :owner_id, class: "form-control", hidden: true, value: params[:owner_id], name: :owner_id  %>
            <%= form.text_field :owner_type, class: "form-control", hidden: true, value: params[:owner_type], name: :owner_type  %>

            <% if investor_kyc.investor_id.present? %>
              <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
            <% else %>
              <div class="form-group">
                <%= form.label :investor_id, "Stakeholder" %>
                <%= form.select :investor_id, investor_kyc.entity.investors.map{|i| [i.investor_name, i.id]}, {}, class: "form-control select2" %>
              </div>
            <% end %>

            <div class="form-group" data-controller="investor-kycs">
              <%= form.label :kyc_type %>
              <!-- Even though this is not a custom field, its class is set to custom_field to enable other custom_fields to be dependent on this -->
              <%= form.select :kyc_type, InvestorKyc.kyc_types.invert, {}, class: "form-control custom_field", id: "kyc_type", data: { action: "change->investor-kycs#kyc_type_changed" }  %>
            </div>

            <div class="form-group">
              <%= form.label :residency %>
              <%= form.select :residency, InvestorKyc.residencies.invert, {include_blank: false}, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= form.label :full_name %>
              <%= form.text_field :full_name, class: "form-control", maxlength: 255  %>
              <small class="form-text text-muted">Please enter full name as per the Identity Proof being attached</small>
            </div>

            <% if investor_kyc.entity.entity_type == "Angel Fund" && investor_kyc.entity_id == current_user.entity_id %>
              <div class="form-group">
                <%= form.label :agreement_committed_amount %>
                <%= form.text_field :agreement_committed_amount, class: "form-control"  %>
                <small class="form-text text-muted">Please enter the commitment amount. As per SEBI requirements, the minimum commitment is INR 2,500,000</small>
              </div>
              <div class="form-group">
                <%= form.label :agreement_unit_type, "Unit Type" %>
                <%= form.text_field :agreement_unit_type, class: "form-control", maxlength: 20  %>
                <small class="form-text text-muted">Please enter the unit type for the investor</small>
              </div>
            <% end %>

            <div class="form-group">
              <% label = investor_kyc.kyc_type == "individual" ? "Date Of Birth" : "Date Of Incorporation" %>
              <%= form.label :date_of_birth, label %>
              <%= form.date_field :birth_date, class: "form-control" %>
            </div>

            <% pan_label = Labels.get(current_user.entity.entity_setting.regulatory_env, "Tax ID") %>
            <div class="form-group">
              <%= form.label :pan, pan_label %>
              <%= form.text_field :PAN, class: "form-control", maxlength: 15  %>
            </div>


            <div class="form-group">
              <%= file_fields("Upload #{pan_label}", investor_kyc, form, required: is_investor, meta_data: "PAN") %>
              <small class="form-text text-muted">Please upload a clear image of your <%=pan_label%></small>
            </div>

            <% if current_user.entity_id == investor_kyc.entity_id %>
              <div class="form-group">
                <%= form.label :pan_verified, "#{pan_label} Verified" %>
                <%= form.check_box :pan_verified, class: "form-check-input"  %>
              </div>
            <% end %>

            <%= custom_form_fields(investor_kyc, form, step: :one, required: is_investor) %>

            <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button"><%= t_common(:next) %></button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 setup-content" id="step-2">
    <div class="">
      <div class="card">
        <div class="card-header"> 2. KYC Details </div>
        <div class="card-body">

          <div class="form-group">
              <%= file_fields("Upload Address Proof", investor_kyc, form, required: is_investor) %>
              <% address_proof_label = Labels.get(current_user.entity.entity_setting.regulatory_env, "Address Proof Documents") %>
              <small class="form-text text-muted"> Any one of: <%=address_proof_label%></small>

          </div>

          <div class="form-group">
            <%= form.label :permanent_address, "Address" %>
            <%= form.text_area :address, class: "form-control"  %>
            <small class="form-text text-muted">Address as per the address proof attached</small>
          </div>

          <div class="form-group">
            <%= form.label :correspondence_address %>
            <%= form.text_area :corr_address, class: "form-control"  %>
            <small class="form-text text-muted">If different from the address above.</small>
          </div>

          <div class="form-group">
            <%= form.label :bank_name, "Bank Name" %>
            <%= form.text_field :bank_name, class: "form-control", maxlength: 100  %>
            <small class="form-text text-muted">  I / We confirm that the subscription to units is made through my bank account / joint account where first account holder is one of the joint account holders of the bank account. <br>
            Investor will receive redemption or any proceeds directly into bank account provided here</small>
          </div>

          <div class="form-group">
            <%= form.label :bank_branch, "Branch Name" %>
            <%= form.text_field :bank_branch, class: "form-control", maxlength: 40  %>
          </div>

          <div class="form-group">
            <%= form.label :bank_account_type, "Account Type" %>
            <%= form.select :bank_account_type, ["Savings Account", "Current Account ", "Non-Resident Ordinary (NRO) Account", "Non-Resident External (NRE) Account", "Foreign Bank Account", "Other"], {}, class: "form-control", maxlength: 40  %>
          </div>

          <div class="form-group">
            <%= form.label :bank_account_number %>
            <%= form.text_field :bank_account_number, class: "form-control", maxlength: 40  %>
          </div>

          <% ifsc_label = Labels.get(current_user.entity.entity_setting.regulatory_env, "Bank Routing Number") %>
          <div class="form-group">
            <%= form.label :ifsc_code, ifsc_label %>
            <%= form.text_field :ifsc_code, class: "form-control", maxlength: 20 %>
          </div>


          <div class="form-group">
              <%= file_fields("Upload Cancelled Cheque / Bank Statement", investor_kyc, form, required: is_investor, meta_data: "Cheque") %>
              <small class="form-text text-muted"></small>
          </div>

          <%= custom_form_fields(investor_kyc, form, step: :two, required: is_investor) %>

          <% if current_user.entity_id == investor_kyc.entity_id  %>
            <div class="form-group">
              <%= form.label :bank_verified %>
              <%= form.check_box :bank_verified, class: "form-check-input"  %>
            </div>
          <% end %>

          <div class="form-group">
            <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button"><%= t_common(:next) %></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6 setup-content" id="step-3">
    <div class="">
      <div class="card">
        <div class="card-header"> 3. KYC Details </div>
        <div class="card-body">

          <% if investor_kyc.entity_id == current_user.entity_id %>
          <div class="form-group">
            <%= form.label :esign_emails, "Investor Signatory Emails" %>
            <%= form.text_field :esign_emails, class: "form-control" %>
            <small class="text-muted">Comma separated list of investor emails to send the esignature request to</small>
          </div>
          <% end %>

          <%= custom_form_fields(investor_kyc, form, required: is_investor) %>

          <% unless current_user.curr_role == "investor" %>
            <div class="form-group">
              <%= form.label :expiry_date %>
              <%= form.date_field :expiry_date, class: "form-control"  %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :comments %>
            <%= form.text_area :comments, class: "form-control"  %>
          </div>

          <% if !is_investor %>
            <div class="form-group">
              <%= form.label :send_kyc_form_to_user, "Send Notification to User to Update KYC"%>
              <%= form.check_box :send_kyc_form_to_user, class: "form-check-input"  %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.submit t_common(:save), {class: "btn btn-outline-primary btn-lg"}%>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
