<div class="wizard_container" data-controller="wizard">
  <div class="row justify-content-md-center">
    <div class="stepwizard hidden col-md-6">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-outline-primary btn-outline-primary btn-outline-circle">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-outline-primary btn-outline-circle" disabled="disabled">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-outline-primary btn-outline-circle" disabled="disabled">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>
  </div>

<%= form_with(model: investor_kyc, validate: true, class: "row justify-content-md-center") do |form| %>
  <% if investor_kyc.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investor_kyc.errors.count, "error") %> prohibited this investor_kyc from being saved:</h2>

      <ul>
        <% investor_kyc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-6 setup-content" id="step-1">
    <div class="">
      <div class="card">
        <div class="card-header"> 1. KYC Details </div>
        <div class="card-body">

            <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
            <% if investor_kyc.investor_id.present? %>
              <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
            <% else %>
              <div class="form-group">
                <%= form.label :investor_id %>
                <%= form.select :investor_id, investor_kyc.entity.investors.map{|i| [i.investor_name, i.id]}, {}, class: "form-control select2"  %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :kyc_type %>
              <%= form.select :kyc_type, InvestorKyc.kyc_types.invert, {}, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= form.label :residency %>
              <%= form.select :residency, InvestorKyc.residencies.invert, {include_blank: true}, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= form.label :full_name %>
              <%= form.text_field :full_name, class: "form-control"  %>
              <small class="form-text text-muted">Please enter full name as per the Identity Proof being attached</small>
            </div>

            <div class="form-group">
              <%= form.label :date_of_birth %>
              <%= form.date_field :birth_date, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= form.label :PAN, "PAN" %>
              <%= form.text_field :PAN, class: "form-control"  %>
            </div>

            <div class="form-group">

              <div>
                <% label = investor_kyc.pan_card.blank? ? "Upload PAN Card" : link_to("Uploaded PAN Card: #{uploaded_file_name(investor_kyc.pan_card)}", investor_kyc.cheque.url, target: "_blank") %>

                <%= render "layouts/single_upload", form: form, field_label: label,
                                      for_model: "investor_kyc", field_name: "pan_card",
                                      model: investor_kyc %>

                <small class="form-text text-muted">Please upload a clear image of your PAN card</small>                                      
              </div>

              <% if current_user.entity_id == investor_kyc.entity_id %>
                <div class="form-group">
                  <%= form.label :pan_verified %>
                  <%= form.check_box :pan_verified, class: "form-check-input"  %>
                </div>
              <% end %>

            </div>

            <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button">Next</button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 setup-content" id="step-2">
    <div class="">
      <div class="card">
        <div class="card-header"> 2. KYC Details </div>
        <div class="card-body">

          <div class="form-group">
            <%= form.label :permanent_address, "Address" %>
            <%= form.text_area :address, class: "form-control"  %>
            <small class="form-text text-muted">Address as per the address proof attached.</small>
          </div>

          <div class="form-group">
            <%= form.label :correspondence_address %>
            <%= form.text_area :corr_address, class: "form-control"  %>
            <small class="form-text text-muted">If different from the address above.</small>
          </div>

          <div class="form-group">
            <% label = investor_kyc.address_proof.blank? ? "Upload Address Proof" : link_to("Uploaded Address Proof: #{uploaded_file_name(investor_kyc.address_proof)}", investor_kyc.cheque.url, target: "_blank") %>

            <%= render "layouts/single_upload", form: form, field_label: label,
                                      for_model: "investor_kyc", field_name: "address_proof",
                                      model: investor_kyc %>

            <small class="form-text text-muted"> Any one of: 
                Passport
                Aadhar Card,
                Voter ID Card,
                Driving License,
                NREGA Job Card,
                National Population Register Letter,
                Deemed Proof of Address (utility bill not older than 2 month in English language)
            </small>

          </div>

          <div class="form-group">
            <%= form.label :bank_name, "Bank Name" %>
            <%= form.text_field :bank_name, class: "form-control"  %>
            <small class="form-text text-muted">  I / We confirm that the subscription to units is made through my bank account / joint account where first account holder is one of the joint account holders of the bank account. <br>
            Investor will receive redemption or any proceeds directly into bank account provided here</small>
          </div>

          <div class="form-group">
            <%= form.label :bank_branch, "Branch Name" %>
            <%= form.text_field :bank_branch, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= form.label :bank_account_type, "Account Type" %>
            <%= form.select :bank_account_type, ["Savings Account", "Current Account ", "Non-Resident Ordinary", "(NRO) Account", "Non-Resident External (NRE) Account", "Foreign Bank Account", "Other"], {}, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= form.label :bank_account_number %>
            <%= form.text_field :bank_account_number, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= form.label :ifsc_code %>
            <%= form.text_field :ifsc_code, class: "form-control"  %>
          </div>

          <div class="form-group">
                <% label = investor_kyc.cheque.blank? ? "Upload Cancelled Cheque" : link_to("Uploaded Cancelled Cheque: #{uploaded_file_name(investor_kyc.cheque)}", investor_kyc.cheque.url, target: "_blank") %>

                <%= render "layouts/single_upload", form: form, field_label: label,
                                      for_model: "investor_kyc", field_name: "cheque",
                                      model: investor_kyc %>

              <small class="form-text text-muted">Upload Cancelled Cheque or Bank account statement</small>                                      

          </div>


          <% if current_user.entity_id == investor_kyc.entity_id  %>
            <div class="form-group">
              <%= form.label :bank_verified %>
              <%= form.check_box :bank_verified, class: "form-check-input"  %>
            </div>
          <% end %>

          <div class="form-group">
            <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6 setup-content" id="step-3">
    <div class="">
      <div class="card">
        <div class="card-header"> 1. KYC Details </div>
        <div class="card-body">

          <%= custom_form_fields(investor_kyc, form) %>

          <%# = render "layouts/multi_upload", form: form, title: "Documents",
                      for_model: "investor_kyc" %>

          <div class="form-group">
            <%= form.label :expiry_date %>
            <%= form.date_field :expiry_date, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= form.label :comments %>
            <%= form.text_area :comments, class: "form-control"  %>
          </div>

          <%if investor_kyc.id.blank?%>
          <div class="form-group">
            <%= form.label :send_kyc_form_to_user, "Send Notification to User to Update KYC"%>
            <%= form.check_box :send_kyc_form_to_user, class: "form-check-input"  %>
          </div>
          <%end%>

          <div class="form-group">
            <%= form.submit "Save", {class: "btn btn-outline-primary btn-lg", value: "Save"}%>
            <%= form.submit "Save & Upload Documents", {class: "btn btn-outline-primary btn-lg", value: "Save & Upload Documents"}%>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
