<%
  lazy_load_data ||= false
  import_upload_id ||= params[:import_upload_id]
%>
<% data_source ||= investor_kycs_path(params: params.to_unsafe_h, import_upload_id:, format: :json, all: true) %>


  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">KYCs</h1>

    <div class="d-flex flex-wrap align-items-center gap-2">

      <% entity_id = @investor ? @investor.entity_id : current_user.entity_id %>
      <% investor_kyc = InvestorKyc.new(investor_id: @investor&.id, entity_id: entity_id) %>

      <% if policy(investor_kyc).new? && current_user.curr_role != "investor" %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle d-inline-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-id me-2"></i> New KYC
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%= link_to new_investor_kyc_path(
                            "investor_kyc[investor_id]": @investor&.id,
                            "investor_kyc[entity_id]": entity_id,
                            "investor_kyc[kyc_type]": "Individual"),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-user me-2"></i> Individual
              <% end %>

              <%= link_to new_investor_kyc_path(
                            "investor_kyc[investor_id]": @investor&.id,
                            "investor_kyc[entity_id]": entity_id,
                            "investor_kyc[kyc_type]": "Non Individual"),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-building me-2"></i> Non Individual
              <% end %>

              <%= link_to investor_kycs_path(filter: true),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-report me-2"></i> Report
              <% end %>

              <%= link_to new_custom_notification_path(
                            "custom_notification[for_type]": "InvestorKyc",
                            "custom_notification[entity_id]": entity_id),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-mail me-2"></i> Custom KYC Notification
              <% end %>

              <%= link_to new_custom_notification_path(
                            "custom_notification[for_type]": "Send Document",
                            "custom_notification[entity_id]": entity_id),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-mail-forward me-2"></i> Custom Agreement Notification
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <% if @investor.blank? %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle d-inline-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-file-certificate me-2"></i> KYC Documents
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <% if policy(ESignature).index? %>
                <%= link_to report_entity_path(id: entity_id, report: "dashboard/e_signatures"),
                            class: "dropdown-item d-flex align-items-center" do %>
                  <i class="ti ti-signature me-2"></i> eSignatures Report
                <% end %>
              <% end %>

              <% if params[:q].present? && policy(investor_kyc).new? %>
                <%= link_to generate_all_docs_investor_kycs_path(entity_id: entity_id, q: params[:q].to_unsafe_h),
                            class: "dropdown-item d-flex align-items-center" do %>
                  <i class="ti ti-file-plus me-2"></i> Generate KYC Docs
                <% end %>
              <% end %>

              <% if current_user.has_cached_role?(:approver) %>
                <%= link_to approve_documents_path(entity_id: entity_id, owner_type: "InvestorKyc"),
                            class: "dropdown-item d-flex align-items-center" do %>
                  <i class="ti ti-checkbox me-2"></i> Approve KYC Docs
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <% if params[:q].present? %>
        <%= render "investor_kycs/bulk_actions" %>
      <% elsif @investor.blank? %>
        <% if policy(InvestorKyc).send_kyc_reminder_to_all? %>
          <%= button_to send_kyc_reminder_to_all_investor_kycs_path("entity_id": entity_id),
                        method: :post,
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { action: "click->confirm#popup", turbo: false, msg: "This will generate a notification to all investor users whose KYC is unverified", method: :post } do %>
            <i class="ti ti-bell me-2"></i> Send KYC Reminders
          <% end %>
        <% end %>
      <% end %>

      <% if current_user && policy(InvestorKyc).import? %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle d-inline-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-upload me-2"></i> Upload/Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%= link_to download_xl_link(data_source),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-download me-2"></i> Download
              <% end %>

              <div class="dropdown-divider"></div>

              <%= link_to new_import_upload_path(
                            "import_upload[import_type]": "InvestorKyc",
                            "sample_upload": "INVESTOR_KYCS_SAMPLE"),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-upload me-2"></i> Upload KYC Details
              <% end %>

              <%= link_to new_import_upload_path(
                            "import_upload[import_type]": "KycDocs",
                            "sample_upload": "INVESTOR_KYCS_DOCS_SAMPLE"),
                          class: "dropdown-item d-flex align-items-center" do %>
                <i class="ti ti-upload me-2"></i> Upload KYC Documents
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>

  <% investor_kycs_frame = "investor_kycs_frame" %>
  <%=render SearchComponent.new(data_source: investor_kycs_path( params: params.except(:q).to_unsafe_h, import_upload_id:, q: params[:q].to_json), turbo_frame: investor_kycs_frame) %>

  <div class="table-responsive">
    <table id="investor_kycs" class="table table-bordered dataTable action_table hover">
        <%
          default_columns_map = if current_user.curr_role == "investor"
            InvestorKyc::INVESTOR_STANDARD_COLUMNS
          else
            if params.include?("investor_id")
              InvestorKyc::INVESTOR_TAB_STANDARD_COLUMNS
            else
              InvestorKyc::STANDARD_COLUMNS
            end
          end
        %>
        <% ransack_table_header = RansackTableHeader.new(InvestorKyc, q: @q, default_columns_map:, current_user: current_user, records: investor_kycs, report_id: params["report_id"], turbo_frame: investor_kycs_frame, referrer: request.referrer) %>
        <%= render ransack_table_header %>
      <tbody>
        <% investor_kycs.each do |investor_kyc| %>
          <%= render "investor_kycs/investor_kyc",  investor_kyc: investor_kyc.decorate, columns: ransack_table_header.columns%>
        <% end %>
      </tbody>
    </table>
    <% if investor_kycs.present? %>
      <%= page_entries_info investor_kycs, entry_name: 'item' %>
      <%= paginate investor_kycs, data: {turbo_frame: investor_kycs_frame} %>
    <% end %>
</div>
