<% data_source ||= investor_kycs_path(params, format: :json, all: true) %>
<% lazy_load_data ||= false %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Investor Kycs</h1>

    <span>
      <%
        entity_id = @investor ? @investor.entity_id : current_user.entity_id
        investor_kyc = InvestorKyc.new(investor_id: @investor&.id, entity_id: entity_id)
      %>
      
      <% if policy(investor_kyc).new? %>
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New KYC
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= link_to "Individual" , new_investor_kyc_path("investor_kyc[investor_id]": @investor&.id, "investor_kyc[entity_id]": entity_id, "investor_kyc[kyc_type]": "Individual"), {class: "dropdown-item" } %>

            <%= link_to "Non Individual" , new_investor_kyc_path("investor_kyc[investor_id]": @investor&.id, "investor_kyc[entity_id]": entity_id, "investor_kyc[kyc_type]": "Non Individual"), {class: "dropdown-item" } %>

          </div>
        </div>
      </div>
      <% end %>


      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            KYC Documents
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= link_to "Generate Kyc Docs", generate_all_docs_investor_kycs_path(entity_id:), class: "dropdown-item" if policy(investor_kyc).new? %>

            <%= link_to "Approve Kyc Docs", approve_documents_path(entity_id:, owner_type: "InvestorKyc"), class: "dropdown-item" if policy(Document).approve? %>

          </div>
        </div>
      </div>

      <%= button_to "Send KYC Reminders", send_kyc_reminder_to_all_investor_kycs_path("entity_id": entity_id), method: :get, class: "btn btn-outline-primary", data: {action: "click->confirm#popup", turbo:false,
      method: :get, msg: "This will generate a notification to all investor users whose KYC is unverified"} if policy(InvestorKyc).send_kyc_reminder_to_all? %>

      <% if current_user && policy(InvestorKyc).import? %>
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload/Download
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= link_to "Download", investor_kycs_path(investor_id: @investor&.id, format: "xlsx", all: true),  {class: "dropdown-item" }  %>

            <div class="dropdown-divider"></div>

            <%= link_to "Upload KYC Details",
              new_import_upload_path("import_upload[owner_id]": current_user.entity_id,
                  "import_upload[owner_type]": "Entity",
                  "import_upload[import_type]": "InvestorKyc",
                  "sample_upload": "INVESTOR_KYCS_SAMPLE"),
                  { class: "dropdown-item"}  %>

            <%= link_to "Upload KYC Documents",
              new_import_upload_path("import_upload[owner_id]": current_user.entity_id,
                  "import_upload[owner_type]": "Entity",
                  "import_upload[import_type]": "KycDocs",
                  "sample_upload": "INVESTOR_KYCS_DOCS_SAMPLE"),
                  { class: "dropdown-item"}  %>

          </div>
        </div>
      </div>
      <% end %>
    </span>
  </div>

  <div class="table-responsive" data-controller="investor-kycs"
       data-investor-kycs-lazy-load-data-value=<%= lazy_load_data %>
       data-investor-kycs-table-name-value="#investor_kycs">

    <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->investor-kycs#loadData"><span>Load Data</span></a>
    <% end %>

    <table id="investor_kycs" class="table table-bordered dataTable"
           data-source="<%= data_source %>" style="width:100%" >

      <thead>
        <tr>
          <th>
            Investor
          </th>
          <th>
            Full Name
          </th>
          <th>
            Pan
          </th>
          <th class="hideMobP">
            Pan Verified
          </th>
          <th class="hideMobP">
            Committed Amount
          </th>
          <th class="hideMobP">
            Collected Amount
          </th>
          <th class="hideMobP">
            Bank Verified
          </th>
          <th class="hideMobP">
            KYC Verified
          </th>
          <th class="hideMobP">
            Expired
          </th>

          <th class="hideMobP">
          </th>
        </tr>
      </thead>

      <tbody>

      </tbody>
    </table>

  </div>
