<%= form_for(@investor_kyc, url: compare_kyc_datas_investor_kycs_path, html: { data: {turbo: false} }) do |form| %>
  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <div class="form-group">
    <%= form.label :investor_id %>
    <%= form.select :investor_id, investor_kyc.entity.investors.map{|i| [i.investor_name, i.id]}, {include_blank: true}, class: "form-control select2", required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :date_of_birth %>
    <%= form.date_field :birth_date, class: "form-control"  %>
  </div>

  <div class="form-group" hidden='hidden'>
    <%= form.select :kyc_type, InvestorKyc.kyc_types.invert, {}, class: "form-control", id: "kyc_type", hidden: true %>
  </div>

  <div class="form-group">
    <%= form.label :PAN %>
    <%= form.text_field :PAN, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Next", {class: "btn btn-outline-primary"}%>
    <%= form.submit "Continue without CKYC/KRA", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
