<%
  reg_env = current_user ? current_user.entity.entity_setting.regulatory_env : ""
  pan_label = Labels.get(reg_env, "Tax ID")
  ifsc_label = Labels.get(reg_env, "Bank Routing number")
%>
<%= render ToggleCard.new(title: "KYC #{investor_kyc.full_name}", css_class: "show_inv_entities") do %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= investor_kyc.entity.name %>
      </td>
    </tr>

    <tr>
      <td>
        Kyc Type
      </td>
      <td>
        <%= InvestorKyc.kyc_types[investor_kyc.kyc_type] %>
      </td>
    </tr>


    <tr>
      <td>
        Stakeholder
      </td>
      <td>
        <%= link_to investor_kyc.investor.investor_name, investor_url(investor_kyc.investor, tab: "kycs-tab") %>
      </td>
    </tr>

    <tr>
      <td>
        Complete
      </td>
      <td>
          <%= display_boolean investor_kyc.completed_by_investor %>
      </td>
    </tr>

    <tr>
      <td>
        KYC Verified
      </td>
      <td>
          <%= display_boolean investor_kyc.verified %>
          <div>
            <small>
              <%= "Verified by: " + investor_kyc.verified_by.full_name if investor_kyc.verified && investor_kyc.verified_by %>
            </small>
          </div>
      </td>
    </tr>

    <% if current_user && policy(@investor_kyc).validate_docs_with_ai? %>
    <tr>
      <td>
        Document Data Validated
      </td>
      <td>
        <%= display_boolean investor_kyc.all_docs_valid %>
      </td>
    </tr>
    <% end %>

    <tr>
      <td>
        Investing Entity
      </td>
      <td>
        <%= investor_kyc.full_name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= (investor_kyc.kyc_type == "individual") ? "Date Of Birth" : "Date Of Incorporation" %>
      </td>
      <td>
        <%= investor_kyc.birth_date&.strftime("%d %B, %Y") %>
      </td>
    </tr>

    <tr>
      <td>
        <%= pan_label %>
      </td>
      <td>
        <%= investor_kyc.pan_card.present? ? link_to(investor_kyc.PAN, investor_kyc.pan_card.url(), target: "_blank") : investor_kyc.PAN   %>

        <% if investor_kyc.pan_card.present? %>
          <% if investor_kyc.pan_card.mime_type.include?("image") %>
            <br>
            <%= image_tag investor_kyc.pan_card.url,
              style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" %>
          <% end %>
        <% end %>
      </td>
    </tr>

    <% if investor_kyc.entity.entity_setting.pan_verification %>
      <tr>
        <td>
          <%= pan_label %> Verified
        </td>
        <td>
          <%= render "investor_kycs/pan_verification", model: investor_kyc, current_user: current_user %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        Signature
      </td>
      <td>
        <%= image_tag investor_kyc.signature_url,
          style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if investor_kyc.signature.present? %>
      </td>
    </tr>

    <tr>
      <td>
        Correspondence Address
      </td>
      <td>
        <%= investor_kyc.corr_address %>
      </td>
    </tr>

    <tr>
      <td>
        Permanent Address
      </td>
      <td>
        <%= investor_kyc.address %>
      </td>
    </tr>


    <tr>
      <td>
        Bank Name
      </td>
      <td>
        <%= investor_kyc.bank_name %>
      </td>
    </tr>
    <tr>
      <td>
        Branch Name
      </td>
      <td>
        <%= investor_kyc.bank_branch %>
      </td>
    </tr>
    <tr>
      <td>
        Bank Account Type
      </td>
      <td>
        <%= investor_kyc.bank_account_type %>
      </td>
    </tr>
    <tr>
      <td>
        Bank Account Number
      </td>
      <td>
        <%= investor_kyc.bank_account_number %>
      </td>
    </tr>
    <tr>
      <td>
        <%=ifsc_label%>
      </td>
      <td>
        <%= investor_kyc.ifsc_code %>
      </td>
    </tr>

    <tr>
      <td>
        Bank Verified
      </td>
      <td>
        <%= render "investor_kycs/bank_verification", model: investor_kyc, current_user: current_user %>
      </td>
    </tr>

    <tr>
      <td>
        Investor Signature Emails
      </td>
      <td>
        <%= investor_kyc.esign_emails %>
      </td>
    </tr>


    <%= display_custom_fields(investor_kyc) if current_user %>

    <tr>
      <td>
        Expiry Date
      </td>
      <td>
        <%= l investor_kyc.expiry_date if investor_kyc.expiry_date %>
        <br>
        <%= render "investor_kycs/expired", investor_kyc:  %>
      </td>
    </tr>


    <% if investor_kyc.entity.entity_type == "Angel Fund" %>
    <tr>
      <td>
        Unit Type
      </td>
      <td>
        <%= investor_kyc.agreement_unit_type %>
      </td>
    </tr>
    <tr>
      <td>
        Agreement Committed Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.agreement_committed_amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Due Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.due_amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Uncalled Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.uncalled_amount, params %>
      </td>
    </tr>
    <% end %>

    <tr>
      <td>
        Committed Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.committed_amount, params %>
      </td>
    </tr>

    <tr>
      <td>
        Collected Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.collected_amount, params %>
      </td>
    </tr>

    <tr>
      <td>
        Called Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.call_amount, params %>
      </td>
    </tr>


    <tr>
      <td>
        Distributed Amount
      </td>
      <td>
        <%= money_to_currency investor_kyc.distribution_amount, params %>
      </td>
    </tr>


    <% if investor_kyc.entity.entity_setting.aml_enabled? %>
    <tr>
      <td>
        AML Status
      </td>
      <td>
        <% if investor_kyc.aml_status == "no_match" %>
              <span class="badge bg-success" type="button">
                  <%= investor_kyc.aml_status.titleize %>
              </span>
          <% elsif investor_kyc.aml_status == "potential_match"%>
              <span class="badge bg-warning" type="button">
                  <%= investor_kyc.aml_status.titleize %>
              </span>
          <% end %>
      </td>
    </tr>
    <% end %>

    <% if params[:debug].present? %>
      <tr>
        <td>
          Bank Verification Response
        </td>
        <td>
          <%= investor_kyc.bank_verification_response %>
        </td>
      </tr>
      <tr>
        <td>
          Bank Verification Status
        </td>
        <td>
          <%= investor_kyc.bank_verification_status %>
        </td>
      </tr>
      <tr>
        <td>
          Signature Data
        </td>
        <td>
          <%= investor_kyc.signature_data %>
        </td>
      </tr>

      <tr>
        <td>
          <%=pan_label%> Verification Response
        </td>
        <td>
          <%= investor_kyc.pan_verification_response %>
        </td>
      </tr>
      <tr>
        <td>
          <%=pan_label%> Verification Status
        </td>
        <td>
          <%= investor_kyc.pan_verification_status %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>

<%# Investor User cannot see regulatory fields %>
<% if !current_user&.curr_role_investor? %>
  <%= render "form_custom_fields/reporting_fields", object: investor_kyc, edit_path: edit_reporting_fields_investor_kyc_path(investor_kyc)%>
<% end %>