<% cache_if(current_user != nil, cache_key("kyc_stats"), expires_in: 5.day) do %>
  <% kyc_types = {
      verified: { path: investor_kycs_path(q: ransack_query_params("verified", :eq, true)), subtitle: "Verified", progress_bar_color: "success", icon: "ti ti-check" },
      unverified: { path: investor_kycs_path(q: ransack_query_params("verified", :eq, false)), subtitle: "Unverified", progress_bar_color: "warning", icon: "ti ti-question-mark" },
      completed: { path: investor_kycs_path(q: ransack_query_params("completed_by_investor", :eq, true)), subtitle: "Completed", progress_bar_color: "info", icon: "ti ti-circle-dashed-check" },
      expired: { path: investor_kycs_path(q: ransack_query_params("expiry_date", :lt, Date.today)), subtitle: "Expired", progress_bar_color: "danger", icon: "ti ti-x" },
      individual: { path: investor_kycs_path(q: ransack_query_params("kyc_type", :eq, "Individual")), subtitle: "Individual", progress_bar_color: "primary", icon: "ti ti-user" },
      non_individual: { path: investor_kycs_path(q: ransack_query_params("kyc_type", :eq, "Non Individual")), subtitle: "Non Individual", progress_bar_color: "secondary", icon: "ti ti-building" }
    }
  %>

  <div class="row">
    <% kyc_types.each do |type, data| %>
      <div class="col">
        <a href="<%= data[:path] %>">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div>
                  <h3 class="fs-8"><%= policy_scope(current_user.entity.investor_kycs.send(type)).count %></h3>
                  <h6 class="card-subtitle mb-1 text-muted"><%= data[:subtitle] %></h6>
                </div>
                <div class="ms-auto">
                  <span class="text-<%= data[:progress_bar_color] %> display-6"><i class="<%= data[:icon] %>"></i></span>
                </div>
              </div>
              <div class="progress-bar text-bg-<%= data[:progress_bar_color] %>" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
