<%
  start_date ||= Time.zone.today.beginning_of_quarter
  end_date ||= Time.zone.today.end_of_quarter
%>

<%= render NewCard.new do %>

<%= render FormCard.new(title: "Generate Documents For : #{link_to @investor_kyc}") do %>

  <%= form_with(model: @investor_kyc, url: generate_docs_investor_kyc_path(@investor_kyc), method: :patch) do |form| %>
    
    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control", name: "start_date", value: start_date  %>
    </div>

    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control", name: "end_date", value: end_date %>
    </div>

    <div class="form-group">
      <%= form.label :template_name, "Template" %>
      <% template_folder = @investor_kyc.entity.folders.where(name: "KYC Templates").first %>
      <%= form.select :template_name, @investor_kyc.entity.documents.where(folder_id: template_folder&.id).template.map{|d| [d.name, d.id]}, {include_blank: false, include_hidden: false}, class: "form-control select2", 
      name: "document_template_ids[]", multiple: "multiple" %>
      <small class="text-muted">Select the template to be used for document generation from KYC Templates Folder. </small>
    </div>

    <div class="form-group">
      <%= form.submit "Generate Now", {class: "btn btn-outline-primary"}%>
      <br>
      <small class="text-muted">All generated documents will be attached to the KYC.</small>
    </div>
  <% end %>

<% end %>

<% end %>