<%
  start_date ||= Time.zone.today.beginning_of_quarter
  end_date ||= Time.zone.today.end_of_quarter
%>

<%= render NewCard.new do %>

<%= render FormCard.new(title: "Generate Documents for KYCs based on filters below. Count: #{@investor_kycs.count}") do %>

  <%= form_tag generate_all_docs_investor_kycs_path(entity_id: params[:entity_id], q: params[:q].to_unsafe_h), method: :post, data: { turbo: false } do %>

    <div class="form-group">
      <%= label_tag :start_date, "Start Date" %>
      <%= date_field_tag :start_date, start_date, class: "form-control", name: "start_date" %>
    </div>

    <div class="form-group">
      <%= label_tag :end_date, "End Date" %>
      <%= date_field_tag :end_date, end_date, class: "form-control", name: "end_date" %>
    </div>

    <div class="form-group">
      <%= label_tag :template_name, "Template" %>
      <% template_folder = current_user.entity.folders.where(name: "KYC Templates").first %>
      <%= select_tag "document_template_ids[]",
            options_from_collection_for_select(
              current_user.entity.documents.where(folder_id: template_folder&.id).template,
              :id,
              :name
            ),
            class: "form-control select2", multiple: true %>
      <small class="text-muted">Select the template to be used for document generation from KYC Templates Folder.</small>
    </div>

    <div class="form-group">
      <%= submit_tag "Generate Now", class: "btn btn-outline-primary", data: { turbo: false } %>
      <br>
      <small class="text-muted">All generated documents will be attached to the KYC.</small>
    </div>

  <% end %>

<% end %>

<% end %>

<%= render "/layouts/filter", associations: [:investor, :capital_commitments], disabled: true %>
<%= turbo_frame_tag "investor_kycs_frame", loading: :lazy, src: investor_kycs_path(params.to_unsafe_h), target: "_top" do %>
  <%= render "/layouts/loading" %>
<% end %>
