

<%= render "investor_kycs/show", investor_kyc: @investor_kyc %>

  <div>

    <%= link_to "Edit" , edit_investor_kyc_path(@investor_kyc), {class: "btn btn-outline-primary" } if policy(@investor_kyc).update? %>

    <%= button_to "Delete" , @investor_kyc, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup" , turbo:false} if policy(@investor_kyc).destroy? %>

    <% label = @investor_kyc.verified ? "UnVerify" : "Verify" %>
    <% label_class = @investor_kyc.verified ? "btn btn-outline-warning" : "btn btn-outline-success" %>
    <%= button_to label, toggle_verified_investor_kyc_path(@investor_kyc), method: :put, class: label_class, form_class: "deleteButton" if policy(@investor_kyc).toggle_verified? %>

    <%= button_to "Updates Required", send_notification_investor_kyc_path(@investor_kyc, message: "Investor #{@investor_kyc.investor}, #{current_user.email} has requested updates/changes for KYC  #{@investor_kyc.full_name}"), method: :put, class: label_class, form_class: "deleteButton", data: {action: "click->confirm#popup",
            method: :patch, msg: "This will generate a notification to #{@investor_kyc.entity.name}, requesting for changes to me made to the KYC #{@investor_kyc.full_name}. Proceed?"} if policy(@investor_kyc).send_notification? %>

    <% if current_user.curr_role != "investor" %>
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="kyc_actions"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            KYC Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= button_to "Send KYC Reminder", send_kyc_reminder_investor_kyc_path(@investor_kyc), method: :post, class: "dropdown-item", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, method: :post, msg: "This will generate a notification to all users associated with this investor"} if policy(@investor_kyc).send_kyc_reminder? %>

            <%= link_to "Generate Docs" , generate_docs_investor_kyc_path(@investor_kyc), {class: "dropdown-item" } if policy(@investor_kyc).generate_docs? %>

            <%= button_to "Validate Document Data", validate_docs_with_ai_investor_kyc_path(@investor_kyc), method: :post, class: "dropdown-item", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, method: :post, msg: "This try and validate the data in the documents and kyc. It will take a few minutes. Proceed?"} if policy(@investor_kyc).validate_docs_with_ai? %>

            <%= link_to "Audit Trail" , investor_kyc_path(@investor_kyc, audit_trail: true, tab: "audit-trail-tab"), {class: "dropdown-item" } if policy(@investor_kyc).toggle_verified? %>

            <%= button_to "Generate Aml Report", generate_new_aml_report_investor_kyc_path(@investor_kyc), method: :put, class: "dropdown-item" if policy(@investor_kyc).generate_new_aml_report? %>

            <%= link_to "View Aml Reports", aml_reports_path(investor_kyc_id: @investor_kyc.id), class: "dropdown-item" if @investor_kyc.aml_reports %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= render "investor_kycs/details", investor_kyc: @investor_kyc %>
