<%= render "/layouts/alerts" %>

<%= render "investor_kycs/show", investor_kyc: @investor_kyc %>


  <div>
    <% if policy(@investor_kyc).update? %>
      <%= link_to "Edit" , edit_investor_kyc_path(@investor_kyc), {class: "btn btn-primary" } %> 

      <%= button_to "Delete" , @investor_kyc, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete" , turbo:false} %>
    <% end %>
  </div>

<%= render "investor_kycs/details", investor_kyc: @investor_kyc %>