<tr id="<%= dom_id capital_commitment %>">
  <td>
    <%= capital_commitment.folio_id %>
  </td>
  <td>
    <%= link_to capital_commitment.investor_name, investor_path(id: capital_commitment.investor_id) %>
  </td>
  <td>
    <%= link_to capital_commitment.fund.name, capital_commitment.fund %>
  </td>
  <td>
    <%= capital_commitment.unit_type %>
  </td>
  <td>
    <%= money_to_currency capital_commitment.committed_amount, params %>
  </td>
  <td>
    <%= capital_commitment.percentage&.round(2) %> %
  </td>
  <td>
    <%= money_to_currency capital_commitment.collected_amount, params %>
  </td>
  <td>
    <%= display_boolean capital_commitment.onboarding_completed %>
  </td>
  <td>
    <%= link_to "Show" , capital_commitment , {class: "btn btn-outline-primary" }%>
  </td>
</tr>