<div class="row">
    <div class="col-lg-8 d-flex align-items-strech">
    <div class="card w-100">
        <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
                <div class="row">
                    <%= image_tag capital_commitment.entity.logo.url(expires_in: 60*60*24*7), class: "col cc-card-logo" if capital_commitment.entity.logo %>       

                    <span class="col">
                    <h4 class="card-title fw-semibold">
                        <%= link_to "#{capital_commitment.fund.name}: #{capital_commitment.entity.name}", capital_commitment %> 
                    </h4>                

                    <span class="fs3 mb-1">
                        <%= capital_commitment.investor_kyc&.full_name if capital_commitment.investor_kyc %>
                        Folio: <%= capital_commitment.folio_id %>
                    </span>
                    <span>

                </div>
                
            </div>     
            
        </div>
        <div class="row align-items-center">
            <div class="col-md-7">
                <%= column_chart [["Committed", capital_commitment.committed_amount.to_f], ["Called", capital_commitment.call_amount.to_f], ["Collected", capital_commitment.collected_amount.to_f], ["Distributed", capital_commitment.distribution_amount.to_f] ],
                 library: {
                   plotOptions: { 
                        column: {
                            pointWidth: 40,
                            dataLabels: {
                                enabled: false,
                                format: "{point.y:,.2f}"
                            }
                        }
                    }
                 } %>
            </div>
            <div class="col-md-5">
                <div class="hstack mb-4 pb-1">
                    <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                        <i class="ti ti-grid-dots text-primary fs-6"></i>
                        </div>
                        <div>
                        <h4 class="mb-0 fs-7"><%= money_to_currency(capital_commitment.committed_amount, params) %></h4>
                        <p class="fs-3 mb-0">Committed</p>
                    </div>
                </div>

                <div class="hstack mb-4 pb-1">
                    <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                        <i class="ti ti-grid-dots text-primary fs-6"></i>
                        </div>
                        <div>
                        <h4 class="mb-0 fs-7"><%= money_to_currency(capital_commitment.call_amount, params) %></h4>
                        <p class="fs-3 mb-0">Called</p>
                    </div>
                </div>

                <div class="hstack mb-4 pb-1">
                    <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                        <i class="ti ti-grid-dots text-primary fs-6"></i>
                        </div>
                        <div>
                        <h4 class="mb-0 fs-7"><%= money_to_currency(capital_commitment.distribution_amount, params) %></h4>
                        <p class="fs-3 mb-0">Distributed</p>
                    </div>
                </div>

                <div>
                    
                    <div class="text-center">
                        <a href="<%= capital_commitment_path(capital_commitment) %>" class="btn btn-outline-primary w-100">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="row">
        <div class="col-lg-12 col-md-6">
        <!-- Yearly Breakup -->
        <div class="card">
            <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="card-title mb-9 fw-semibold">
                        Recent Statements
                    </h5>
                    <table class="table">
                        <% capital_commitment.documents.not_template.limit(3).order(id: :desc).each do |doc| %>
                            <tr>
                                <td><%= link_to doc.name, doc %></td> 
                                <td><%= l doc.created_at.to_date %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
            </div>
        </div>
        </div>
        
        <!-- div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-body">
            <div class="row align-items-start">
                <div class="col">
                    <h5 class="card-title mb-9 fw-semibold">
                        Uncalled Capital
                    </h5>
                    <h6 class="fs-5 fw-semibold mb-0">
                        <%= money_to_currency(capital_commitment.commitment_pending, params) %>
                    </h6>
                </div>
            </div>
            </div>
        </div>
        </div -->

        <div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-body">
            <div class="row align-items-start">
                <div class="col">
                    <h5 class="card-title mb-9 fw-semibold">
                        Due Amount
                    </h5>
                    <h6 class="fs-5 mb-0">
                        <%= money_to_currency(capital_commitment.due_amount, {}) %>
                    </h6>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>