<div class="associated_entity" data-controller="tabs tabdetails">
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#remittances-tab"
          data-action="click->tabdetails#loadData">Remittances</a>

    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#distributions-tab"
          data-action="click->tabdetails#loadData">Distributions</a>

    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#tasks-tab" 
          data-action="click->tabdetails#loadData">
      Tasks
    </a>
    <% if capital_commitment.entity.enable_investor_kyc %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#kycs-tab" 
              data-action="click->tabdetails#loadData">
        KYC
      </a>
    <% end %>
    <% if params[:debug].present? %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#esigns-tab" 
              data-action="click->tabdetails#loadData">
        eSigns
      </a>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#signature-workflows-tab" 
                data-action="click->tabdetails#loadData">
        Signature Workflows
      </a>
    <% end %>
  </nav>

  <div class="tab-content" data-controller="datatable">
    <div id="docs-tab" class="tab-pane fade in show active">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: capital_commitment.documents, 
                owner: capital_commitment, entity: capital_commitment.entity %>
      </div>
    </div>

    <div id="remittances-tab" class="tab-pane fade in">
          <div id="remittances" class="associated_entity">
            <%= link_to capital_remittances_path(capital_commitment_id: capital_commitment.id), class: "load_data_link", data: { turbo_frame: 'capital_remittances_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_remittances_frame", target: "_top" do %>
            <% end %>
          </div>     
    </div>

    <div id="distributions-tab" class="tab-pane fade in">
          <div id="distributions" class="associated_entity">
            <%= link_to capital_distribution_payments_path(capital_commitment_id: capital_commitment.id), class: "load_data_link", data: { turbo_frame: 'capital_distribution_payments_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_distribution_payments_frame", target: "_top" do %>
            <% end %>
          </div>     
    </div>


    <div id="kycs-tab" class="tab-pane fade">
      <div id="kycs" class="associated_entity">
        <%= link_to investor_kycs_path( investor_id: capital_commitment.investor_id), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'investor_kycs_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "investor_kycs_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="esigns-tab" class="tab-pane fade">
      <div id="esigns" class="associated_entity">
        <%= link_to esigns_path( owner_id: capital_commitment.id, owner_type: "CapitalCommitment"), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'esigns_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "esigns_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="signature-workflows-tab" class="tab-pane fade">
      <div id="signature_workflows" class="associated_entity">
        <%= link_to signature_workflows_path( owner_id: capital_commitment.id, owner_type: "CapitalCommitment"), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'signature_workflows_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "signature_workflows_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="tasks-tab" class="tab-pane fade">
      <div id="tasks" class="associated_entity">
        <% investor = Investor.for(current_user, capital_commitment.entity).first %>
        <%= link_to tasks_path( for_entity_id: investor&.investor_entity_id, 
                                entity_id: capital_commitment.entity_id,
                                owner_id: capital_commitment.id, owner_type: "CapitalCommitment"), 
                                class: "load_data_link", 
                                data: { turbo_frame: 'task_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "task_list", target: "_top" do %>
        <% end %>
      </div>     
    </div>

  </div>
</div>
