<div class="associated_entity" data-controller="tabs tabdetails">
  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

    <% unless false && capital_commitment.fund.cat3? %>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#remittances-tab"
          data-action="click->tabdetails#loadData">Remittances</a>
    <% end %>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#distributions-tab"
          data-action="click->tabdetails#loadData">Distributions</a>


    <% if capital_commitment.entity.permissions.enable_units? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-units-tab"
            data-action="click->tabdetails#loadData">Units</a>
    <% end %>

    <% if capital_commitment.entity.permissions.enable_account_entries? && policy(capital_commitment).update? %>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#account-entries-tab"
            data-action="click->tabdetails#loadData">Account Entries</a>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#adjustments-tab"
            data-action="click->tabdetails#loadData">Adjustments</a>

    <% end %>

    <% if policy(capital_commitment).update? || capital_commitment.fund.show_fund_ratios %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-ratios-tab"
            data-action="click->tabdetails#loadData">Ratios</a>
    <% end %>


    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tasks-tab"
          data-action="click->tabdetails#loadData">
      Tasks
    </a>
    <% if capital_commitment.entity.permissions.enable_kycs? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#kycs-tab"
              data-action="click->tabdetails#loadData">
        All KYCs
      </a>
    <% end %>
  </nav>

  <div class="tab-content">
    <div id="docs-tab" class="tab-pane fade in show active" data-controller="datatable" data-datatable-responsive-details-value=false>
      <div id="docs" class="associated_entity">
        <% documents = policy(capital_commitment).update? ? capital_commitment.documents : capital_commitment.docs_for_investor %>
        <%= render "/documents/index", documents:,
                owner: capital_commitment, entity: capital_commitment.entity %>
      </div>
    </div>


    <% unless false && capital_commitment.fund.cat3? %>
    <div id="remittances-tab" class="tab-pane fade in">
          <div id="remittances" class="associated_entity">
            <%= turbo_frame_tag "capital_remittances_frame", target: "_top", loading: :lazy, src: capital_remittances_path(capital_commitment_id: capital_commitment.id, status: "", verified: "", for_commitment: true) do %>
              <%= render "/layouts/loading" %>
            <% end %>
          </div>
    </div>
    <% end %>

    <div id="distributions-tab" class="tab-pane fade in">
          <div id="distributions" class="associated_entity">
            <%= turbo_frame_tag "capital_distribution_payments_frame", target: "_top", loading: :lazy, src: capital_distribution_payments_path(capital_commitment_id: capital_commitment.id) do %>
              <%= render "/layouts/loading" %>
            <% end %>
          </div>
    </div>


    <div id="kycs-tab" class="tab-pane fade">
      <div id="kycs" class="associated_entity">
        <%= turbo_frame_tag "investor_kycs_frame", loading: :lazy, src: investor_kycs_path(investor_id: capital_commitment.investor_id), target: "_top" do %>
          <%= render "/layouts/loading" %>
        <% end %>
      </div>
    </div>


    <div id="tasks-tab" class="tab-pane fade">
      <div id="tasks" class="associated_entity">
        <% investor = Investor.for(current_user, capital_commitment.entity).first %>
        <%= link_to tasks_path( for_entity_id: investor&.investor_entity_id,
                                entity_id: capital_commitment.entity_id,
                                owner_id: capital_commitment.id, owner_type: "CapitalCommitment"),
                                class: "load_data_link",
                                data: { turbo_frame: 'task_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "task_list", target: "_top" do %>
        <% end %>
      </div>
    </div>


    <div id="fund-units-tab" class="tab-pane fade">
      <div id="fund_units" class="associated_entity">
        <%= link_to fund_units_path(capital_commitment_id: capital_commitment.id),
                                class: "load_data_link",
                                data: { turbo_frame: 'fund_units_list' } do %>
          <%= render "/layouts/loading" %>
        <% end %>
        <%= turbo_frame_tag "fund_units_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="account-entries-tab" class="tab-pane fade">
      <div id="account_entries" class="associated_entity">
        <%
          params[:capital_commitment_id] = capital_commitment.id
          params[:fund_id] = capital_commitment.fund_id
        %>

        <%= turbo_frame_tag "account_entries_frame", loading: :lazy, target: "_top", src: account_entries_path(capital_commitment_id: capital_commitment.id, fund_id: capital_commitment.fund_id, q: ransack_query_params("reporting_date", :gt, Date.today - 6.months)) do %>
          <%= render "/layouts/loading" %>
        <% end %>
      </div>
    </div>



    <div id="adjustments-tab" class="tab-pane fade">
      <div id="commitment_adjustments" class="associated_entity">
        <%= link_to commitment_adjustments_path(capital_commitment_id: capital_commitment.id),
                                class: "load_data_link",
                                data: { turbo_frame: 'commitment_adjustments_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "commitment_adjustments_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="fund-ratios-tab" class="tab-pane fade in">
          <div id="fund-ratios" class="associated_entity">
            <%= turbo_frame_tag "fund_ratios_frame", target: "_top", loading: :lazy, src: fund_ratios_path(capital_commitment_id: capital_commitment.id, fund_id: capital_commitment.fund_id) do %>
              <%= render "/layouts/loading" %>
            <% end %>
          </div>
    </div>

  </div>
</div>
