<%= form_with(model: capital_commitment, validate: true) do |form| %>
  <% if capital_commitment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(capital_commitment.errors.count, "error") %> prohibited this capital_commitment from being saved:</h2>

      <ul>
        <% capital_commitment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :fund_id, class: "form-control", hidden: true  %>


  <div data-controller="commitmentselect" data-commitmentselect-kyc-url-value="<%= investor_kycs_path %>" data-commitmentselect-employee-url-value="<%= investor_accesses_path %>"
           data-commitmentselect-param-value="investor_id">

    <div class="form-group">
      <% disabled = capital_commitment.investor_id.present? ? "disabled" : nil %>
      <%= form.label :investor_id %>
      <%= form.select :investor_id, capital_commitment.fund.investors.map{|i| [i.investor_name, i.id]}  ,{include_blank: "Select Investor"}, { disabled: disabled, class: 'form-control select2', data: { action: "change->commitmentselect#change" } }  %>
    </div>


    <div class="form-group">
      <%= form.label :investor_signatory_id %>
      <% employees = capital_commitment.investor ? capital_commitment.investor.investor_accesses.map{|e| [e.full_name, e.user_id]} : [] %>
      
      <%= form.select :investor_signatory_id, employees, {include_blank: true}, {class: 'form-control', data: { commitmentselect_target: "employeeSelect" } }  %>
    </div>

    <div class="form-group">
      <%= form.label :investor_kyc %>
      <% investor_kycs = capital_commitment.investor ? capital_commitment.investor.investor_kycs.map{|e| [e.full_name, e.id]} : [] %>
      
      <%= form.select :investor_kyc_id, investor_kycs, {include_blank: true}, {class: 'form-control', data: { commitmentselect_target: "kycSelect" } } %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :investor_signature_types %>
    <%= form.select :investor_signature_types, ["adhaar"], {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :folio_id, "Folio Id" %>
    <%= form.text_field :folio_id, class: "form-control"  %>
    <small class="text-muted">If your clients have a Folio Id / Number, add it here</small>
  </div>

  
  <div class="form-group" data-controller="currencyformat">
    <%= form.label :committed_amount %> <span class="formatted_currency"></span>
    <%= form.number_field :committed_amount, class: "form-control", data: {action: "input->currencyformat#format"}  %>
  </div>

  <%= custom_form_fields(capital_commitment, form) %>

  <%= render "layouts/multi_upload", form: form, title: "Documents", 
              for_model: "capital_commitment" %>


  <div class="form-group">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :onboarding_completed %>
    <%= form.check_box :onboarding_completed, class: "form-control form-checkbox"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
