<%= form_with(model: capital_commitment, validate: true) do |form| %>
  <% if capital_commitment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(capital_commitment.errors.count, "error") %> prohibited this capital_commitment from being saved:</h2>

      <ul>
        <% capital_commitment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
  
  <div class="form-group">
    <%= form.label :investor_id %>
    <%= form.select :investor_id, capital_commitment.fund.investors.map{|i| [i.investor_name, i.id]}  ,{}, class: "form-control"  %>
  </div>
  
  <% if capital_commitment.investor %>
  <div class="form-group">
    <%= form.label :investor_signatory_id %>
    <%= form.select :investor_signatory_id, capital_commitment.investor.investor_entity.employees.map{|e| [e.full_name, e.id]}, {include_blank: true}, class: "form-control"  %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :investor_signature_types %>
    <%= form.select :investor_signature_types, ["adhaar"], {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :folio_id, "Folio Id" %>
    <%= form.text_field :folio_id, class: "form-control"  %>
    <small class="text-muted">If your clients have a Folio Id / Number, add it here</small>
  </div>

  
  <div class="form-group" data-controller="currencyformat">
    <%= form.label :committed_amount %> <span class="formatted_currency"></span>
    <%= form.number_field :committed_amount, class: "form-control", data: {action: "input->currencyformat#format"}  %>
  </div>

  <%= custom_form_fields(capital_commitment, form) %>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :onboarding_completed %>
    <%= form.check_box :onboarding_completed, class: "form-control form-checkbox"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
