<%
  fund ||= Fund.find_by(id: params[:fund_id])
  fund_id ||= params[:fund_id] || fund&.id
  title ||= params[:title] || "Capital Commitments"
  import_upload_id ||= params[:import_upload_id]

  data_source ||= capital_commitments_path( params: params.to_unsafe_h, fund_id:, import_upload_id:, format: :json, all: true)

  xl_link = download_xl_link(data_source)
%>

<%= render "/capital_commitments/index_header", fund:, xl_link:, title: %>

<%capital_commitments_frame = "capital_commitments_frame"%>

<%=render SearchComponent.new(data_source: capital_commitments_path( params: params.to_unsafe_h, fund_id:, import_upload_id:), turbo_frame: capital_commitments_frame) %>

<div class="table-responsive">
    <table id="capital_commitments" class="table table-bordered dataTable action_table hover">
        <%
          default_columns_map = if current_user.curr_role == "investor"
            CapitalCommitment::INVESTOR_STANDARD_COLUMNS
          else
            if params.include?(:investor_id)
              CapitalCommitment::INVESTOR_TAB_STANDARD_COLUMNS
            else
              CapitalCommitment::STANDARD_COLUMNS
            end
          end
        %>
        <% ransack_table_header = RansackTableHeader.new(CapitalCommitment, q: @q, default_columns_map:, current_user: current_user, records: capital_commitments, report_id: params["report_id"], turbo_frame: capital_commitments_frame, referrer: request.referrer) %>
        <%= render ransack_table_header %>
      <tbody>
        <% capital_commitments.each do |capital_commitment| %>
          <%= render "capital_commitments/capital_commitment",  capital_commitment: capital_commitment.decorate, columns: ransack_table_header.columns%>
        <% end %>
      </tbody>
    </table>
    <% if capital_commitments.present? %>
      <%= page_entries_info capital_commitments, entry_name: 'item' %>
      <%= paginate capital_commitments, data: {turbo_frame: capital_commitments_frame} %>
    <% end %>
</div>

