<% toolbar ||= "Yes" %>
<% title ||= "Capital Commitments" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title.html_safe %></h1>

    <% if toolbar == "Yes" %>
    <div class="d-flex flex-wrap align-items-center gap-2">
        
        <% if fund && policy(fund).update? %>

            <%= link_to new_capital_commitment_path("capital_commitment[fund_id]": fund.id),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { turbo: false } do %>
            <i class="ti ti-plus"></i> New Commitment
            <% end %>

            <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle d-inline-flex align-items-center" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ti ti-script"></i> Generate
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% msg = "Generate Documents for all capital commitment from kyc and fund info. This will delete any previously generated documentation which is not signed. Proceed?" %>

                <%= button_to generate_documentation_fund_path(fund),
                                method: :patch,
                                class: "dropdown-item d-flex align-items-center",
                                form_class: "deleteButton",
                                data: { action: "click->confirm#popup", method: :patch, msg: msg, turbo: false } do %>
                    <i class="ti ti-file-text"></i> All Documents
                <% end %>

                <% fund.documents.where(owner_tag: ["Commitment Template"]).each do |template| %>
                    <%= button_to generate_documentation_fund_path(fund, template_id: template.id),
                                method: :patch,
                                class: "dropdown-item d-flex align-items-center",
                                form_class: "deleteButton",
                                data: { action: "click->confirm#popup", method: :patch, msg: msg, turbo: false } do %>
                    <i class="ti ti-file-description"></i> <%= template.name %>
                    <% end %>
                <% end %>

                <% if policy(fund).allocate? %>
                    <%= link_to allocate_form_fund_path(fund, generate_soa: true),
                                class: "dropdown-item d-flex align-items-center",
                                data: { turbo: false } do %>
                    <i class="ti ti-file-invoice"></i> Generate SOA
                    <% end %>
                <% end %>
                </div>
            </div>
            </div>

            <%= link_to new_import_upload_path(
                        "import_upload[owner_id]": fund.id,
                        "import_upload[owner_type]": "Fund",
                        "import_upload[import_type]": "CapitalCommitment",
                        "sample_upload": "CAPITAL_COMMITMENT_SAMPLE"),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { turbo: false } do %>
            <i class="ti ti-upload"></i> <%= t_common(:upload) %>
            <% end %>

        <% end %>

        <div class="btn-group">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-download"></i> <%= t_common(:download) %>
            </button>
            <ul class="dropdown-menu">
                <li>
                <%= link_to xl_link, class: "dropdown-item", data: { turbo: false } do %>
                    <i class="ti ti-file-spreadsheet"></i> <%= t_common(:export_all) %>
                <% end %>
                </li>
                <li>
                <button class="dropdown-item" data-controller="export-xl"
                        data-action="click->export-xl#export"
                        data-tableid="capital_commitments"
                        data-filename="Capital Commitments">
                    <i class="ti ti-table-export"></i> <%= t_common(:export_visible) %>
                </button>
                </li>
            </ul>
        </div>


    </div>

    <% end %>
</div>
