<% toolbar ||= "Yes" %>
<% title ||= "Capital Commitments" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title.html_safe %></h1>

    <% if toolbar == "Yes" %>
    <span>

        <% if fund && policy(fund).update? %>

            <%= link_to "New Commitment", new_capital_commitment_path("capital_commitment[fund_id]": fund.id),  {class: "btn btn-outline-primary" } %>            
            
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" 
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Generate
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    
                    <% msg = "Generate Documents for all capital commitment from kyc and fund info. This will delete any previously generated documentation which is not signed. Proceed?" %>

                        <%= button_to "All Documents", 
                            generate_documentation_fund_path(fund), 
                            method: :patch, class: "dropdown-item" , 
                            form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
                            msg: } %>

                        <% fund.documents.where(owner_tag: ["Commitment Template"]).each do |template| %>
                            <%= button_to template.name, 
                                generate_documentation_fund_path(fund, template_name: template.name), 
                                method: :patch, class: "dropdown-item" , 
                                form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
                                msg: } %>
                        <% end %>

                        <%= link_to "Generate SOA", allocate_form_fund_path(@fund, generate_soa: true), class: "dropdown-item" if policy(@fund).allocate? %>

                    </div>
                </div>
            </div>

            <%= link_to "Upload", 
                new_import_upload_path("import_upload[owner_id]": fund.id, 
                "import_upload[owner_type]": "Fund", 
                "import_upload[import_type]": "CapitalCommitment", 
                "sample_upload": "CAPITAL_COMMITMENT_SAMPLE"), 
                { class: "btn btn-outline-primary"}   %> 



        
        <% end %>

        <%= link_to "Download", xl_link,  {class: "btn btn-outline-success" } %>

        <%#= render "/funds/search_bar", model_name: "capital_commitment" %>

    </span>
    <% end %>
</div>