
<% if params[:card].present? %>
  <% capital_commitments.each do |cc| %>
      <%= render "/capital_commitments/card", capital_commitment: cc %>
  <% end %>
  <%= paginate capital_commitments %>
<% else %>
  <% 
    fund ||= nil; 
    cols ||= params[:cols] 
    import_upload_id ||= params[:import_upload_id]
    fund_id ||= params[:fund_id] || fund&.id
    title ||= "Capital Commitments" 
  %>

  <% 
    data_source ||= capital_commitments_path( params: params.to_unsafe_h, fund_id:, 
                                              import_upload_id:, format: :json, all: true)  
    xl_link = download_xl_link(data_source) 
    lazy_load_data ||= false 

    col_params = { fund_id: fund_id }
    if current_user.curr_role == "investor"
      col_params[:column_names] = CapitalCommitment::INVESTOR_COLUMN_NAMES
      col_params[:column_fields] = CapitalCommitment::INVESTOR_COLUMN_FIELDS
    end
    column_names, field_list = get_columns(CapitalCommitment, params: col_params) 
  %>

  <%= render "/capital_commitments/index_header", fund:, xl_link:, title: %>


  <div class="table-responsive" data-controller="commitments" 
    data-commitments-lazy-load-data-value=<%= lazy_load_data %> 
    data-commitments-table-name-value="#capital_commitments"
    data-commitments-field-list-value=<%=field_list%> >

    <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->commitments#loadData"><span>Load Data</span></a>
    <% end %>

    <%= render CustomTable.new(data_source:, id: "capital_commitments", column_names:) %>
    
  </div>

<% end %>
