<tr id="<%= dom_id capital_commitment %>">
  <td>
    <%= capital_commitment.entity.name %>
  </td>
  <td>
    <%= link_to capital_commitment.fund.name, capital_commitment.fund %>
  </td>
  <td>
    <%= link_to capital_commitment.folio_id, capital_commitment %>
  </td>
  <td class="hideMobP">
    <%= link_to capital_commitment.investor_kyc&.full_name, capital_commitment.investor_kyc if capital_commitment.investor_kyc %>
  </td>
  <td>
    <%= money_to_currency capital_commitment.committed_amount, params %>
  </td>
  <td class="hideMobP">
    <%= money_to_currency capital_commitment.call_amount, params %>
  </td>
  <td class="hideMobP">
    <%= money_to_currency capital_commitment.collected_amount, params %>
  </td>
  <td class="hideMobP">
    <%= money_to_currency capital_commitment.distribution_amount, params %>
  </td>
  <td class="hideMobP">
    <%= link_to "Show" , capital_commitment , {class: "btn btn-outline-primary" }%>
  </td>
</tr>