
<%= render NewCard.new do %>

  <%= render FormCard.new(title: "Generate SOA For : #{@capital_commitment.investor_name}") do %>

    <%= form_with(model: @capital_commitment, url: generate_soa_capital_commitment_path(@capital_commitment), method: :patch) do |form| %>
      
      <%= form.text_field :id, class: "form-control", hidden: true  %>
      
      
      <div class="form-group">
        <%= form.label :template_name %>
        <%= form.select :template_name, @capital_commitment.templates("SOA Template").map{|d| [d.name, d.id]}, {}, class: "form-control", name: "template_id"  %>
      </div>

      <div class="form-group">
        <%= form.label :start_date %>
        <%= form.date_field :start_date, class: "form-control", name: "start_date"  %>
      </div>

      <div class="form-group">
        <%= form.label :end_date %>
        <%= form.date_field :end_date, class: "form-control", name: "end_date"  %>
      </div>

      <div class="form-group">
        <%= form.label :for %>
        <%= form.select :for, ["Commitment", "Investing Entity"], {}, class: "form-control", name: "for"  %>
      </div>

      <div class="form-group">
        <%= form.submit "Generate SOA Now", {class: "btn btn-outline-primary"}%>
      </div>
    <% end %>

  <% end %>
  
<% end %>