<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
  
  <tr class="btn-success">
    <td colspan="2">
      <%= @capital_commitment.investor_name %>
    </td>
  </tr>

   <tr>
    <td>
      Folio No
    </td>
    <td>
      <%= @capital_commitment.folio_id %>
    </td>
  </tr>

  <tr>
    <td>
      Full Name
    </td>
    <td>
      <%= @capital_commitment.investor_kyc&.full_name %>
    </td>
  </tr>

  <tr>
    <td>
      Address
    </td>
    <td>
      <%= @capital_commitment.investor_kyc&.address %>
    </td>
  </tr>

  <tr>
    <td>
      Fund Name
    </td>
    <td>
      <%= @capital_commitment.fund.name %>
    </td>
  </tr>

  <tr class="btn-success">
    <td colspan="2">
      Summary
    </td>
  </tr>


  <tr>
    <td>
      Commited Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.committed_amount, params %>
    </td>
  </tr>


  <tr>
    <td>
      Call Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.call_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Pending Call Amount (Committed - Called)
    </td>
    <td>
      <%= money_to_currency (@capital_commitment.committed_amount-@capital_commitment.call_amount), params %>
    </td>
  </tr>

  <tr>
    <td>
      Collected Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.collected_amount, params %>      
    </td>
  </tr>


  <tr>
    <td>
      Call Amount Receivable (Called - Collected) 
    </td>
    <td>
      <% receivable = @capital_commitment.call_amount - @capital_commitment.collected_amount %>
      <%= money_to_currency (receivable), params %>      
    </td>
  </tr>

  <tr>
    <td>
      Distributed Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.distribution_amount, params %>      
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>

  <tr>
    <td colspan="2">
        <%= render "/capital_remittances/index", capital_commitment: @capital_commitment,
                lazy_load_data: false, data_source: capital_remittances_path(capital_commitment_id: @capital_commitment.id, all: true) %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>

  
  <tr>
    <td colspan="2">

        <%= render "/capital_distribution_payments/index", capital_commitment: @capital_commitment,
                lazy_load_data: false, data_source: capital_distribution_payments_path(capital_commitment_id: @capital_commitment.id, all: true) %>
    </td>
  </tr>

</table>
