
<table class="table table-bordered dataTable">

  <tr class="btn-outline-success">
    <td colspan="2">
      <h1><%= @capital_commitment.investor_name.titleize %></h1>
    </td>
  </tr>

   <tr>
    <td>
      Folio No
    </td>
    <td>
      <%= @capital_commitment.folio_id %>
    </td>
  </tr>

  <tr>
    <td>
      Investing Entity
    </td>
    <td>
      <%= @capital_commitment.investor_kyc&.full_name %>
    </td>
  </tr>

  <tr>
    <td>
      Address
    </td>
    <td>
      <%= @capital_commitment.investor_kyc&.address %>
    </td>
  </tr>

  <tr>
    <td>
      Fund Name
    </td>
    <td>
      <%= @capital_commitment.fund.name %>
    </td>
  </tr>

  <tr class="btn-outline-success">
    <td colspan="2">
      <h1>Summary</h1>
    </td>
  </tr>


  <tr>
    <td>
      Commited Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.committed_amount, params %>
    </td>
  </tr>


  <tr>
    <td>
      Call Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.call_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Pending Call Amount (Committed - Called)
    </td>
    <td>
      <%= money_to_currency (@capital_commitment.committed_amount-@capital_commitment.call_amount), params %>
    </td>
  </tr>

  <tr>
    <td>
      Collected Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.collected_amount, params %>
    </td>
  </tr>


  <tr>
    <td>
      Call Amount Receivable (Called - Collected)
    </td>
    <td>
      <% receivable = @capital_commitment.call_amount - @capital_commitment.collected_amount %>
      <%= money_to_currency (receivable), params %>
    </td>
  </tr>

  <tr>
    <td>
      Distributed Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.distribution_amount, params %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>

  <tr>
    <td colspan="2">
        <%= turbo_frame_tag "capital_remittances_frame", target: "_top", loading: :lazy, src: capital_remittances_path(capital_commitment_id: @capital_commitment.id) do %>
            <%= render "/layouts/loading" %>
        <% end %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>


  <tr>
    <td colspan="2">
        <%= turbo_frame_tag "capital_distribution_payments_frame", target: "_top", loading: :lazy, src: capital_distribution_payments_path(capital_commitment_id: @capital_commitment.id) do %>
        <% end %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>


  <tr>
    <td colspan="2">
        <%= turbo_frame_tag "account_entries_frame", loading: :lazy, target: "_top", src: account_entries_path(capital_commitment_id: @capital_commitment.id, fund_id: @capital_commitment.fund_id) do %>
          <%= render "/layouts/loading" %>
        <% end %>
    </td>
  </tr>

</table>
