<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @capital_commitment.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Onboarding Complete
    </td>
    <td>
      <%= display_boolean @capital_commitment.onboarding_completed %>
    </td>
  </tr>

  <tr>
    <td>
      Investor
    </td>
    <td>
      <%= link_to @capital_commitment.investor.investor_name, @capital_commitment.investor %>
    </td>
  </tr>

  <tr>
    <td>
      Investor Signatory
    </td>
    <td>
      <%= @capital_commitment.investor_signatory.full_name if @capital_commitment.investor_signatory %>
    </td>
  </tr>
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= link_to @capital_commitment.fund.name, @capital_commitment.fund %>
    </td>
  </tr>
  <tr>
    <td>
      Committed Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.committed_amount, params %>
    </td>
  </tr>
  <tr>
    <td>
      Collected Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.collected_amount, params %>
    </td>
  </tr>
  
  <% if @capital_commitment.folio_id.present? %>
    <tr>
      <td>
        Folio Id
      </td>
      <td>
        <%= @capital_commitment.folio_id %>
      </td>
    </tr>
  <% end %>
  <%= display_custom_fields(@capital_commitment) if current_user %>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @capital_commitment.notes.html_safe if @capital_commitment.notes %>
    </td>
  </tr>
  <tr>
    <td>
      Investor Signature Type
    </td>
    <td>
      <%= @capital_commitment.investor_signature_types&.capitalize %>
    </td>
  </tr>
</table>
<div>
  <% if policy(@capital_commitment).update? %>
    <%= link_to "Edit" , edit_capital_commitment_path(@capital_commitment), {class: "btn btn-primary" } %>
    <%= button_to "Delete" , @capital_commitment, method: :delete, class: "btn btn-danger" ,
            form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} %>

    <%= link_to "LP Account Statement" , report_capital_commitment_path(@capital_commitment, report: "lp_statement"), {class: "btn btn-primary" } %>
                
  <% end %>
  <%= button_to "Generate Documentation", 
        generate_documentation_capital_commitment_path(@capital_commitment), 
        method: :patch, class: "btn btn-success" , 
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "Generate documentation for this capital commitment from kyc and fund info. This will delete any previously generated documentation for this capital commitment. Proceed?"} if policy(@capital_commitment).generate_documentation? %>

  <%= button_to "Generate Esign Link", 
        generate_esign_link_capital_commitment_path(@capital_commitment), 
        method: :patch, class: "btn btn-success" , 
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "Generate esign link for this capital commitment. This will trigger the eSign process. Proceed?"} if policy(@capital_commitment).generate_esign_link? %>

</div>
<%= render "capital_commitments/details", capital_commitment: @capital_commitment %>
