<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @capital_commitment.entity.name %>
    </td>
  </tr>

  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= link_to @capital_commitment.fund.name, @capital_commitment.fund %>
    </td>
  </tr>
  
  <tr>
    <td>
      Investor
    </td>
    <td>
      <%= link_to @capital_commitment.investor_name, investor_path(id: @capital_commitment.investor_id) %>
    </td>
  </tr>

    <tr>
      <td>
        Folio Id
      </td>
      <td>
        <%= @capital_commitment.folio_id %>
      </td>
    </tr>
  
  <% if @capital_commitment.virtual_bank_account.present? %>
    <tr>
      <td>
        Virtual Bank Account
      </td>
      <td>
        <%= @capital_commitment.virtual_bank_account %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td>
      Fund Close
    </td>
    <td>
      <%= @capital_commitment.fund_close %>
    </td>
  </tr>
  
  <tr>
    <td>
      Linked KYC
    </td>
    <td>
      <% if @capital_commitment.investor_kyc %>
        <%= link_to @capital_commitment.investor_kyc.full_name, @capital_commitment.investor_kyc %>
        <br>
        <% if @capital_commitment.investor_kyc.verified %>
          <span class="badge bg-success">Verified</span>
        <% else %>
          <span class="badge bg-warning">Not Verified</span>
        <% end %>
      <% else %>
        <span class="badge bg-danger">No KYC</span>
      <% end %>
    </td>
  </tr>

  
  <% if @capital_commitment.fund.unit_types.present? %>
  
  <tr>
    <td>
      Unit Type
    </td>
    <td>
      <%= @capital_commitment.unit_type %>
    </td>
  </tr>

  <tr>
    <td>
      Total Units
    </td>
    <td>
      <%= @capital_commitment.total_fund_units_quantity %>
    </td>
  </tr>

  <% end %>

  <tr>
    <td>
      Committed Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.committed_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Called Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.call_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Collected Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.collected_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Distributed Amount
    </td>
    <td>
      <%= money_to_currency @capital_commitment.distribution_amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Onboarding Complete
    </td>
    <td>
      <%= display_boolean @capital_commitment.onboarding_completed %>
    </td>
  </tr>


  <% if @capital_commitment.entity.enable_account_entries %>
    <tr>
      <td>
        Total Allocated Expense
      </td>
      <td>
        <%= money_to_currency @capital_commitment.total_allocated_expense, params %>
      </td>
    </tr>

    <tr>
      <td>
        Total Allocated Income
      </td>
      <td>
        <%= money_to_currency @capital_commitment.total_allocated_income, params %>
      </td>
    </tr>
  <% end %>
  
  
  <%= display_custom_fields(@capital_commitment, collapsed: true) if current_user %>

  <tr class="collapse multi-collapse">
    <td>
      Investor Signatory
    </td>
    <td>
      <%= @capital_commitment.investor_signatory.full_name if @capital_commitment.investor_signatory %>
    </td>
  </tr>

  <tr  class="collapse multi-collapse">
    <td>
      Investor Signature Type
    </td>
    <td>
      <%= @capital_commitment.investor_signature_types&.capitalize %>
    </td>
  </tr>
  
  <tr  class="collapse multi-collapse">
    <td>
      Notes
    </td>
    <td>
      <%= @capital_commitment.notes.html_safe if @capital_commitment.notes %>
    </td>
  </tr>

  <% if params[:debug].present? %>
  <tr class="collapse multi-collapse btn-primary">
    <td colspan="2">
    </td>
  </tr>
  
  <% 
    end_date = params[:end_date].present? ? Date.parse(params[:end_date]) : Time.zone.today 
    cc_calcs = CapitalCommitmentCalcs.new(@capital_commitment, end_date)
  %>

        <tr class="collapse multi-collapse">
          <td>
            Cash In Hand
          </td>
          <td>
            <%= currency_from_cents cc_calcs.cash_in_hand_cents, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Net Current Assets
          </td>
          <td>
            <%= currency_from_cents cc_calcs.net_current_assets_cents, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Esitmated Carry
          </td>
          <td>
            <%= currency_from_cents cc_calcs.estimated_carry_cents, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        

        <tr class="collapse multi-collapse">
          <td>
            Collected
          </td>
          <td>
            <%= currency_from_cents cc_calcs.collected_cents, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            DPI
          </td>
          <td>
            <%= currency_from_cents cc_calcs.dpi, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            RVPI
          </td>
          <td>
            <%= currency_from_cents cc_calcs.rvpi, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            TVPI
          </td>
          <td>
            <%= currency_from_cents cc_calcs.tvpi, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            FMV
          </td>
          <td>
            <%= currency_from_cents cc_calcs.fmv_on_date, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        
        <tr class="collapse multi-collapse">
          <td>
            Gross XIRR
          </td>
          <td>
            <%= currency_from_cents cc_calcs.xirr, @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Net XIRR
          </td>
          <td>
            <%= currency_from_cents cc_calcs.xirr(net_irr: true), @capital_commitment.fund.currency, params  %>
          </td>
        </tr>

  <% end %>

</table>
<div>

  <% if current_user.entity_id == @capital_commitment.entity_id %>
      <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"    aria-expanded="false" aria-controls="multi-collapse">Details</button> 
  <% end %>

  <% if policy(@capital_commitment).update? %>
    <%= link_to "Edit" , edit_capital_commitment_path(@capital_commitment), {class: "btn btn-outline-primary" } %>
    <%= button_to "Delete" , @capital_commitment, method: :delete, class: "btn btn-outline-danger" ,
            form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} %>

                
  <% end %>

  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle" type="button" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <%= link_to "LP Account Statement" , report_capital_commitment_path(@capital_commitment, report: "lp_statement"), {class: "dropdown-item" } %>
    
        <%= button_to "Generate Documents", 
        generate_documentation_capital_commitment_path(@capital_commitment), 
        method: :patch, class: "dropdown-item" , 
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "Generate Documents for this capital commitment from kyc and fund info. This will delete any previously generated documentation for this capital commitment. Proceed?"} if policy(@capital_commitment).generate_documentation? %>


        <%= link_to "Generate SOA", 
        generate_soa_form_capital_commitment_path(@capital_commitment), 
        class: "dropdown-item" if policy(@capital_commitment).generate_soa? %>

        <%= button_to "Generate Esign Link", 
        generate_esign_link_capital_commitment_path(@capital_commitment), 
        method: :patch, class: "dropdown-item" , 
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "Generate esign link for this capital commitment. This will trigger the eSign process. Proceed?"} if policy(@capital_commitment).generate_esign_link? %>
        
      </div>
    </div>
  </div>

  
  
</div>
<%= render "capital_commitments/details", capital_commitment: @capital_commitment %>
