<%= render NewCard.new do %>
  <%= render FormCard.new(title: "Transfer Fund Units") do %>
    <%= form_tag transfer_fund_units_capital_commitment_path(@capital_commitment), method: :post do %>

      <% if @capital_commitment.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(@capital_commitment.errors.count, "error") %> prohibited this capital commitment from being saved:</h2>
          <ul>
            <% @capital_commitment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= hidden_field_tag :entity_id, @capital_commitment.entity_id %>
      <%= hidden_field_tag :fund_id, @capital_commitment.fund_id %>

      <div class="form-group">
        <%= label_tag :folio_id, "From Folio" %>
        <%= text_field_tag :folio_id, @capital_commitment, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= label_tag :transfer_ratio, "Transfer Ratio" %>
        <%= number_field_tag :transfer_ratio, params[:transfer_ratio], class: 'form-control', step: :any, required: true %>
        <span class="text-muted">Enter as a percentage 0 - 100 </span>
      </div>

      <div class="form-group">
        <%= label_tag :transfer_date, "Transfer Date" %>
        <%= date_field_tag :transfer_date, params[:transfer_date], class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag :price, "Price" %>
        <%= number_field_tag :price, params[:price], class: 'form-control', step: :any, required: true %>
      </div>

      <div class="form-group">
        <%= label_tag :premium, "Premium" %>
        <%= number_field_tag :premium, params[:premium], class: 'form-control', step: :any, required: true %>
      </div>

      <div class="form-group">
        <%= label_tag :to_folio_id, "To Folio" %>
        <%= select_tag :to_folio_id,
              options_for_select(
                @capital_commitment.fund.capital_commitments.includes(:investor_kyc).map { |c| [c.to_s, c.folio_id] },
                params[:to_folio_id]
              ),
              class: 'form-control select2', required: true %>
      </div>


      <div class="form-group">
        <%= label_tag :transfer_account_entries, "Transfer Account Entries" %>
        <%= check_box_tag :transfer_account_entries, "1", params[:transfer_account_entries], class: "form-check-input" %>
        <span class="text-muted">Transfer account entries from Seller to Buyer</span>
      </div>


      <div class="form-group">
        <%= label_tag :account_entries_excluded, "Account Entries Not pro-rated" %>
        <%= text_field_tag :account_entries_excluded, params[:account_entries_excluded], class: 'form-control' %>
        <span class="text-muted">These account entries will not be included in the transfer if the checkbox above is checked</span>
      </div>


      <div class="form-group">
        <%= submit_tag "Transfer", class: "btn btn-outline-primary" %>
      </div>

    <% end %>
  <% end %>
<% end %>
