<%= render FormCard.new(title: "Fund Report") do %>

  <%= form_with(model: fund_report) do |form| %>
    <% if fund_report.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(fund_report.errors.count, "error") %> prohibited this fund_report from being saved:</h2>
        <ul>
          <% fund_report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true %>

    <% options = current_user.entity.funds.map{|f| [f.name, f.id]} %>
    <% if params[:fund_id].present? %>
      <% fund = Fund.find(params[:fund_id]) %>
      <% options = [[fund.name, fund.id]] %>
      <% selected = fund.id %>
    <% end %>
    <div class="form-group">
      <%= form.label :fund_id %>
      <%= form.select :fund_id, options, {include_blank: false, selected: selected}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :name, "Report Name" %>
      <%= form.select :name, SebiReportJob::ALL_REPORTS + CrisilReportJob::ALL_REPORTS, {include_blank: false}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>

  <% end %>

<% end %>
