<tr id="<%= dom_id fund_report %>">
  <td>
    <%= fund_report.name %>
  </td>
  <td>
    <%= fund_report.name_of_scheme %>
  </td>
  <td>
    <%= fund_report.start_date %>
  </td>
  <td>
    <%= fund_report.end_date %>
  </td>
  <td>
    <%= link_to "Show", fund_report , {class: "btn btn-primary"}%>
  </td>
</tr>
