<tr id="<%= dom_id fund_report %>">
  <td>
    <%= link_to fund_report.name, report_fund_path(fund_report.fund, report: "sebi_reports/#{fund_report.name.underscore}") %>
  </td>
  <td>
    <%= link_to fund_report.fund %>
  </td>
  <td>
    <%= l fund_report.start_date %>
  </td>
  <td>
    <%= l fund_report.end_date %>
  </td>
  <td>
    <%= link_to "Show", fund_report , {class: "btn btn-primary"}%>
  </td>
</tr>
