
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= @fund_report.fund.name %>
    </td>
  </tr>
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @fund_report.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @fund_report.name %>
    </td>
  </tr>
  <tr>
    <td>
      Name Of Scheme
    </td>
    <td>
      <%= @fund_report.name_of_scheme %>
    </td>
  </tr>
  <tr>
    <td>
      Data
    </td>
    <td class="json_table">
      <% table_options = { table_class: "table table-bordered dataTable" } %>
      <%= Json2table::get_html_table(@fund_report.data, table_options).html_safe %>

    </td>
  </tr>
  <tr>
    <td>
      Start Date
    </td>
    <td>
      <%= l @fund_report.start_date %>
    </td>
  </tr>
  <tr>
    <td>
      End Date
    </td>
    <td>
      <%= l @fund_report.end_date %>
    </td>
  </tr>
</table>
<div>
  <% if policy(@fund_report).update? %>
    <%= link_to  t_common(:edit), edit_fund_report_path(@fund_report), {class: "btn btn-outline-primary"} %> 
    <%= button_to t_common(:delete), @fund_report, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  <% end %>
</div>
