<div class="associated_entity" data-controller="tabdetails">
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab">Documents</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#activities-tab" data-action="click->tabdetails#loadData">Deal Steps</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#chat-tab" data-action="click->tabdetails#loadData">Chat</a>
    <% if show_tranch %>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#tranche-tab">Tranche</a>
    <% end %>
  </nav>


<div class="tab-content" data-controller="datatable">
  
    <div id="docs-tab" class="tab-pane fade  in show active">
      <div id="deal_docs" class="associated_entity">
        <%= render "/deal_docs/index", deal_investor: deal_investor, deal_docs: deal_investor.deal_docs.includes(:tags=>:taggings), title: "Investor Docs" %>
      </div>     
    </div>

    <div id="activities-tab" class="tab-pane fade">
      <div id="deal_activities" class="associated_entity">
        <%#= render "/deal_activities/index", deal_investor:deal_investor, 
                    template: false, deal_activities: deal_investor.deal_activities.includes(:deal) %>

        <%= link_to deal_activities_path(deal_investor_id: deal_investor.id), class: "load_data_link", 
          data: { turbo_frame: 'deal_activities_frame' } do %>
            <span>Loading...</span>
        <% end %>

        <%= turbo_frame_tag "deal_activities_frame", target: "_top" do %>
        <% end %>
        
      </div>
    </div>
  
    <div id="chat-tab" class="tab-pane fade">
      <div id="messages" class="associated_entity">
        <%= link_to messages_path(deal_investor_id: deal_investor.id), class: "load_data_link", data: { turbo_frame: 'messages_frame' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "messages_frame", target: "_top" do %>
        <% end %>
      </div>  
    </div>
    
    <div id="tranche-tab" class="tab-pane fade">
      <div id="deal_investors" class="associated_entity">
        <%= render "/deal_investors/show", deal_investor: deal_investor %>
      </div>  
    </div>

</div>

</div>