<h3>Dear <%= @capital_remittance.investor_name %></h3>

<p>
    This is confirmation for the payment made by you, for the amount <%= money_to_currency @capital_remittance.collected_amount %>, towards the capital call of the fund <%= @capital_remittance.fund.name %> 
</p>

<p>
    <%= render "/capital_remittances/show", capital_remittance: @capital_remittance, current_user: nil, params: {} %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Remittance', capital_remittance_url(@capital_remittance, subdomain: @capital_remittance.entity.sub_domain) %></p>
