
<tr id="<%= dom_id approval %>">
  <td>
    <%= approval.title %>
  </td>
  <td>
    <%= approval.agreements_reference %>
  </td>
  <td>
    <%= approval.approved_count %>
  </td>
  <td>
    <%= approval.rejected_count %>
  </td>
  <td>
    <%= link_to "Show" , approval , {class: "btn btn-primary" }%>
  </td>
</tr>