
<tr id="<%= dom_id approval %>">
  <td>
    <%= approval.title %>
  </td>
  <td>
    <%= approval.agreements_reference %>
  </td>

  <% if policy(approval).update? %>
    <td>
      <%= approval.approved_count %>
    </td>
    <td>
      <%= approval.rejected_count %>
    </td>
    <td>
      <%= approval.pending_count %>
    </td>
  <% end %>

  <td>
    <%= link_to "Show" , approval , {class: "btn btn-primary" }%>
  </td>
</tr>