<table class="table table-bordered dataTable">

    <tr>
        <td>
            Title
        </td>
        <td>
            <%= approval.title %>
        </td>
    </tr>
    <tr>
        <td>
            Approved
        </td>
        <td>
            <%= display_boolean approval.approved %>
        </td>
    </tr>
    <tr>
        <td>
            Agreements Reference
        </td>
        <td>
            <%= approval.agreements_reference %>
        </td>
    </tr>
    <tr>
        <td>
            Entity
        </td>
        <td>
            <%= approval.entity.name %>
        </td>
    </tr>
    <tr>
        <td>
            Approved Count
        </td>
        <td>
            <%= approval.approved_count %>
        </td>
    </tr>
    <tr>
        <td>
            Rejected Count
        </td>
        <td>
            <%= approval.rejected_count %>
        </td>
    </tr>
    <tr>
        <td>
            Pending Count
        </td>
        <td>
            <%= approval.pending_count %>
        </td>
    </tr>


</table>