<%= render "/layouts/alerts" %>
<%= render "/approvals/show", approval: @approval %>



<div>
  <% if policy(@approval).update? %>
    <%= link_to "Edit", edit_approval_path(@approval), {class: "btn btn-primary"} %> |
    <%= button_to "Delete", @approval, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  <% end %>
</div>


<%= render "/approvals/approval_details", approval: @approval %>