<% if params[:q].present? %>

<% if params[:secondary_sale_id].present? %>
        <% 
            secondary_sale = SecondarySale.find(params[:secondary_sale_id])
            document_folder = secondary_sale.document_folder
            allocations_folder = document_folder.children.find_by(name: "Allocations")
            folder_id =  allocations_folder&.id
        %>
<% else %>
        <% secondary_sale = nil %>
<% end %>

<div class="btn-group">
<div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle ti ti-checklist" type="button" id="doc_actions"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bulk Actions
    </button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <% if secondary_sale && policy(secondary_sale).owner? %>

    <% msg = "This will Verify each allocation in the search results (including results on other pages). Proceed?" %>
    <%= button_to "Verify",
    bulk_actions_allocations_path("bulk_action": "Verify", secondary_sale_id: secondary_sale.id, q: params.to_unsafe_h[:q], all: true),
    class: "dropdown-item ti ti-check", form_class: "w-100",
    data: {msg:, action: "click->confirm#popup", method: :post}  %>

    <% msg = "This will Unverify each allocation in the search results (including results on other pages). Proceed?" %>
    <%= button_to "Unverify",
    bulk_actions_allocations_path("bulk_action": "Unverify", secondary_sale_id: secondary_sale.id, q: params.to_unsafe_h[:q], all: true),
    class: "dropdown-item ti ti-x", form_class: "w-100",
    data: {msg:, action: "click->confirm#popup", method: :post}  %>

    <div class="dropdown-divider"></div>
    
    <% msg = "This will generate documents for each allocation in the search results (including results on other pages). Proceed?" %>
    <%= button_to "Generate All Docs",
    bulk_actions_allocations_path("bulk_action": "Generate All Docs", secondary_sale_id: secondary_sale.id, q: params.to_unsafe_h[:q], all: true),
    class: "dropdown-item ti ti-files", form_class: "w-100",
    data: {msg:, action: "click->confirm#popup", method: :post}  %>

    <% end %>

    <% if folder_id.present? %>
        <%= button_to t_common(:download_docs), download_documents_path(q: params.to_unsafe_h[:q], back_to: request.original_url, folder_id: folder_id), class: "dropdown-item ti ti-download", data: { msg: "This will create a zipfile of the documents and email you a link to download the zipfile. This will take a few minutes, please be patient. Proceed?", action: "click->confirm#popup", method: :post } if folder_id.present? %>
    <% end %>
    
    <% if secondary_sale && policy(secondary_sale).owner? %>
        <div class="dropdown-divider"></div>
        <%= link_to t_common(:all_docs), documents_path(filter: true, folder_id: folder_id, no_folders: true), class: "dropdown-item ti ti-files"  %>
        <%= link_to "Approved Documents", documents_path(q: ransack_query_params(:approved, :eq, true), filter: true, folder_id: folder_id, no_folders: true), class: "dropdown-item ti ti-file-check" %>
        <%= link_to "Unapproved Documents", documents_path(q: ransack_query_params(:approved, :eq, false), filter: true, folder_id: folder_id, no_folders: true), class: "dropdown-item ti ti-file-x" %>
    <% end %>
        

    </div>
</div>
</div>

<% end %>
