<%= render FormCard.new(title: "Allocations : #{allocation.presence || 'New'}") do %>
  <%= form_with(model: allocation, validate: true) do |form| %>
    <% if allocation.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(allocation.errors.count, "error") %> prohibited this allocation from being saved:</h2>
        <ul>
          <% allocation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if allocation.new_record? %>
      
      <%= form.hidden_field :secondary_sale_id, value: allocation.secondary_sale_id %>

      <div class="form-group">
        <%= form.label :offer_id %>
        <%= form.select :offer_id, allocation.secondary_sale.offers.approved.filter{|o| o.total_available_quantity > 0}.map{|o| ["#{o.full_name}, Id: #{o.id}, Quantity: #{o.quantity}, Price: #{o.price}, Remaining: #{o.quantity - o.total_allocation_quantity}", o.id]}, {prompt: "Select Offer"}, class: "form-control select2" %>
      </div>

      <div class="form-group">
        <%= form.label :interest_id %>
        <%= form.select :interest_id, allocation.secondary_sale.interests.short_listed.filter{|o| o.total_available_quantity > 0}.map{|o| ["#{o.buyer_entity_name}, Id: #{o.id}, Quantity: #{o.quantity}, Price: #{o.price}, Remaining: #{o.quantity - o.total_allocation_quantity}", o.id]}, {prompt: "Select Interest"}, class: "form-control select2" %>
      </div>

      <div class="form-group">
        <%= form.label :price, t('secondaries_actions.allocation_price') %>
        <%= form.text_field :price, class: "form-control"  %>
        <span class="text-muted">The price at which the transaction is done</span>
      </div>

    <% end %> 
  
    <div class="form-group">
      <%= form.label :quantity, t('secondaries_actions.allocation_quantity') %>
      <%= form.text_field :quantity, class: "form-control", disabled: allocation.verified %>
    </div>
    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.label :verified %>
      <%= form.check_box :verified, class: "form-check-input"  %>
    </div>
    <div class="form-group">
      <%= form.button type: 'submit', class: "btn btn-outline-primary" do %>
          <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
      <% end %>
    </div>
  <% end %>
<% end %>