
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Investments</h1>
    <span>
  
      <%= link_to investments_path(format: :xlsx), {class: "btn btn-success"} do %>
        <i class="fa-lg fa-regular fa-file-excel"></i> Download
      <% end %>
  
      <%= link_to investments_path(charts: true), {class: "btn btn-success"} do %>
        <i class="fas fa-chart-line"></i> Graphs
      <% end %>
      
    </span>
  </div>

<div class="row">


        
    <!-- <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Total Investment</h6>
            </div>
            <div class="card-body">
                <%= money_to_currency entity.total, params  %>
            </div>
        </div>
    </div> -->

    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Shareholding Diluted</h6>
            </div>
            <div class="card-body">
                <%= investment_diluted(entity)  %>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Shareholding Undiluted</h6>
            </div>
            <div class="card-body">
                <%= investment_undiluted(entity)  %>
            </div>
        </div>
    </div>


    <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Funding Rounds</h6>
            </div>
            <div class="card-body">
                <%= funding_rounds_chart(entity)  %>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Investment By Instruments</h6>
            </div>
            <div class="card-body">
                <%= investment_by_intrument(entity)  %>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mb-4">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Investment by Investors</h6>
            </div>
            <div class="card-body">
                <%= investment_by_investor(entity)  %>
            </div>
        </div>
    </div>

    
</div>

