
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Investment</h6>
    </div>
    <div class="card-body">
  
  <%= form_with(model: investment, validate: true) do |form| %>
    <% if investment.errors.any? %>
      <div class="alert alert-danger">
        <span><%= pluralize(investment.errors.count, "error") %> prohibited this investment from being saved:</span>
  
        <ul>
          <% investment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group" data-controller="newinvestment">
      <%= form.label :investor %>
      <%= form.select :investor_id, 
        current_user.entity.investors.not_holding.not_trust.includes(:investor_entity).order("entities.name").map{|c| [c.investor_name, c.id]}, 
        {include_blank: true}, class: "form-control select2", data: { action: "change->newinvestment#setCategory" }  %>
    </div>
  
    <% if current_user.has_cached_role?(:super) %>
    <div class="form-group">
      <%= form.label :investee_entity_id %>
      <%= form.select :investee_entity_id, Entity.startups.order(:name).map{|c| [c.name, c.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
    <% end %>
  
  
    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category, Investment.INVESTOR_CATEGORIES(current_user.entity) , 
        {include_blank: true}, {class: "form-control"} %>
    </div>
  
    <div class="form-group">
      <%= form.label :funding_round %>
      <%= form.select :funding_round_id, current_user.entity.funding_rounds.open.collect {|u| [u.name, u.id]}, 
        {include_blank: true}, {class: "form-control"} %>
      <small class="text-muted">Create a <%= link_to "New Funding Round", new_funding_round_path %></small>
    
    </div>
  
  
  
    <div class="form-group">
      <%= form.label :investment_instrument %>
      <%= form.select :investment_instrument, Investment.INSTRUMENT_TYPES(current_user.entity) , 
        {include_blank: true}, {class: "form-control"} %>
    </div>
  
    
    <div class="form-group">
      <%= form.label :quantity %>
      <% if investment.category == "Employee" %>  
        <%= form.number_field :quantity, class: "form-control", disabled: true  %>
      <% else %>
        <%= form.number_field :quantity, class: "form-control"  %>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.label :price %>
      <%= form.number_field :price, class: "form-control"  %>
    </div>
  
  
    <div class="form-group">
      <%= form.label :liquidation_preference %>
      <%= form.number_field :liquidation_preference, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :spv, "Investor SPV" %>
      <%= form.text_field :spv, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :notes %>
      <%= form.rich_text_area :notes, class: "form-control trix-content"  %>
    </div>
  
    <div class="form-group">
      <%= form.submit "Save", {class: "btn btn-primary"}%>
    </div>
  <% end %>
  
    </div>
  </div>
      