<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable ">
   <tr>
      <td>
         Investment Type
      </td>
      <td>
         <% if current_user.entity_id == @investment.entity_id %>
            <%= @investment.funding_round ? link_to(@investment.investment_type, @investment.funding_round) : @investment.investment_type %>
         <% else %>
            <%= @investment.investment_type %>
         <% end %>
      </td>
   </tr>
   <tr>
      <td>
         Investor
      </td>
      <td>
         <%= (current_user.entity_id == @investment.entity_id) ? 
            link_to(@investment.investor.investor_name, @investment.investor) : @investment.investor.investor_name %>
      </td>
   </tr>
   <tr>
      <td>
         Investee Entity
      </td>
      <td>
         <%= @investment.entity.name %>
      </td>
   </tr>

   <% if @investment.investor_type != "Prospective" %>
   <tr>
      <td>
         Category
      </td>
      <td>
         <%= @investment.category %>
      </td>
   </tr>
   
   <tr>
      <td>
         Investment Instrument
      </td>
      <td>
         <%= @investment.investment_instrument %>
      </td>
   </tr>
   <tr>
      <td>
         Quantity
      </td>
      <td>
         <%= custom_format_number @investment.quantity, params %>
      </td>
   </tr>

   <tr>
      <td>
         Price
      </td>
      <td>
         <%= money_to_currency @investment.price, params, true %>
      </td>
   </tr>
   <tr>
      <td>
         Amount
      </td>
      <td>
         <%= money_to_currency @investment.amount, params %>
      </td>
   </tr>

   <tr>
      <td>
         Investment Date
      </td>
      <td>
         <%= l @investment.investment_date if @investment.investment_date %>
      </td>
   </tr>



   <% if @investment.investment_instrument != "Debt" %>
      <tr>
         <td>
            Percentage Holding
         </td>
         <td>
            <%= @investment.percentage_holding %> %
         </td>
      </tr>
      <tr>
         <td>
            Fully Diluted
         </td>
         <td>
            <%= @investment.diluted_percentage %> %
         </td>
      </tr>

      <tr>
         <td>
            Liquidation Preference
         </td>
         <td>
            <%= @investment.liquidation_preference %>
         </td>
      </tr>
   <% end %>


   <tr>
      <td>
         SPV
      </td>
      <td>
         <%= @investment.spv %>
      </td>
   </tr>

   <% if current_user.entity_id == @investment.entity_id %>
      <tr>
         <td>
            Notes
         </td>
         <td>
            <%= @investment.notes %>
         </td>
      </tr>
   <% end %>

   <% end %>
</table>

<% if current_user.entity_id == @investment.entity_id && params[:version_id].blank? %>

   <div>
      <%= link_to "History", history_investment_path(@investment), {class: "btn btn-primary"} %> |
      <%= link_to "Edit", edit_investment_path(@investment), {class: "btn btn-primary"} unless @investment.employee_holdings %> |
      <%= link_to "Back", investments_path, {class: "btn btn-primary"} %> |

      <% if current_user.entity_id == @investment.entity_id %>
      <%= link_to "New Investment", 
            new_investment_path("investment[entity_id]": current_user.entity_id,
            "investment[investment_instrument]": @investment.investment_instrument), 
            {class: "btn btn-primary"}  %> |

      <% end %>                                                      

      <%= button_to "Delete", @investment, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
   </div>

<% end %>

<div class="associated_entity">
<% if @investment.investor.is_holdings_entity && current_user.entity_id == @investment.entity_id %>
   <%= render "/holdings/index", holdings: @investment.holdings.order(quantity: :desc), 
      secondary_sale: nil, title: "#{@investment.investor.category} Holdings" %>
<% end %>
</div>