<tr id="<%= dom_id fund_unit %>">
  <td>
    <%= fund_unit.unit_type %>
  </td>
  <td>
    <%= fund_unit.quantity %>
  </td>
  <td>
    <%= fund_unit.price %>
  </td>
  <td>
    <%= fund_unit.reason %>
  </td>
  <td>
    <%= link_to "Show", fund_unit , {class: "btn btn-primary"}%>
  </td>
</tr>
