<tr id="<%= dom_id fund_unit %>">
  <% if params[:cols] == "all" %>
  <td>
    <%= fund_unit.fund %>
  </td>
  <td>
    <%= link_to fund_unit.investor %>
  </td>
  <% end %>
  <td>
    <%= link_to fund_unit.unit_type, fund_unit %>
  </td>
  <td>
    <%= l fund_unit.issue_date if fund_unit.issue_date %>
  </td>
  <td>
    <%= fund_unit.quantity %>
  </td>
  <td>
    <%= fund_unit.price %>
  </td>
  <td>
    <%= fund_unit.premium %>
  </td>
  <td>
    <%= money_to_currency fund_unit.total_premium, params %>
  </td>
  <td>
    <%= link_to fund_unit.reason, url_for(controller: fund_unit.owner_type.underscore.pluralize, action: :show, id: fund_unit.owner_id)  %>
  </td>
  <td>
    <%= link_to "Show", fund_unit , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
