<% cols ||= params[:cols] %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Fund Units</h1>
  <%#= link_to "New Fund Unit", new_fund_unit_path, {class: "btn btn-outline-primary"}  %>

  <div class="d-flex flex-wrap align-items-center gap-2">

    <% if params[:capital_commitment_id].present? %>
      <%= link_to transfer_fund_units_capital_commitment_path(id: params[:capital_commitment_id]),
                  class: "btn btn-outline-success d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-transfer"></i> Transfer
      <% end %>
    <% end %>

    <%= link_to fund_units_path(
                  fund_id: params[:fund_id],
                  capital_commitment_id: params[:capital_commitment_id],
                  investor_id: params[:investor_id],
                  format: "xlsx", all: true),
                class: "btn btn-outline-success d-inline-flex align-items-center",
                data: { turbo: false } do %>
      <i class="ti ti-download"></i> <%= t_common(:download) %>
    <% end %>

    <% if current_user.curr_role != "investor" %>
      <%= link_to new_import_upload_path(
                    "import_upload[import_type]": "FundUnit",
                    "sample_upload": "FUND_UNIT_SAMPLE"),
                  class: "btn btn-outline-primary d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-upload"></i> <%= t_common(:upload) %>
      <% end %>
    <% end %>

  </div>
               

</div>
<div class="table-responsive" data-controller="datatable">
  <table id="fund_units" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <% if cols == "all" && params[:investor_id].blank? %>
          <th>Fund</th>
          <th>Investor</th>
        <% elsif cols == "all" %>
          <th>Fund</th>
          <th>Investing Entity</th>
        <% end %>
        <th>
          Unit Type
        </th>
        <th>
          Folio Id
        </th>
        <th>
          Issue Date
        </th>
        <th>
          Quantity
        </th>
        <th>
          Price
        </th>
        <th>
          Premium
        </th>
        <th>
          Amount
        </th>
        <th>
          Reason
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% fund_units.each do |fund_unit| %>
        <%= render fund_unit %>
      <% end %>
    </tbody>
  </table>
</div>
