


<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Units: <%= @fund_unit.investor.investor_name %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">

    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Fund
        </td>
        <td>
          <%= @fund_unit.fund.name %>
        </td>
      </tr>
      <tr>
        <td>
          Capital Commitment
        </td>
        <td>
          <%= link_to @fund_unit.capital_commitment %>
        </td>
      </tr>
      <tr>
        <td>
          Investor
        </td>
        <td>
          <%= @fund_unit.investor.investor_name %>
        </td>
      </tr>
      <tr>
        <td>
          Unit Type
        </td>
        <td>
          <%= @fund_unit.unit_type %>
        </td>
      </tr>
      <tr>
        <td>
          Quantity
        </td>
        <td>
          <%= number_with_delimiter(@fund_unit.quantity) %>
        </td>
      </tr>
      <tr>
        <td>
          Price
        </td>
        <td>
          <%= money_to_currency @fund_unit.price, params %>
        </td>
      </tr>
      <tr>
        <td>
          Premium
        </td>
        <td>
          <%= money_to_currency @fund_unit.premium, params %>
        </td>
      </tr>
      <tr>
        <td>
           Amount
        </td>
        <td>
          <%= money_to_currency @fund_unit.amount, params %>
        </td>
      </tr>
      <tr>
        <td>
          Premium Paid
        </td>
        <td>
          <%= money_to_currency @fund_unit.total_premium, params %>
        </td>
      </tr>

      <tr>
        <td>
          Issue Date
        </td>
        <td>
          <%= l @fund_unit.issue_date if @fund_unit.issue_date %>
        </td>
      </tr>

      <% if @fund_unit.transfer.present? %>
      <tr>
        <td>
          Transfer
        </td>
        <td>
          <%= @fund_unit.transfer&.titleize %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          Reason
        </td>
        <td>
          <%= @fund_unit.reason %>
        </td>
      </tr>

      <% if @fund_unit.owner %>
      <tr>
        <td>
          <%= @fund_unit.owner_type %>
        </td>
        <td>
          <%= link_to @fund_unit.owner %>
        </td>
      </tr>
      <% end %>

    </table>

  </div>
</div>

<div>
  <% if policy(@fund_unit).update? %>
    <%= link_to  t_common(:edit), edit_fund_unit_path(@fund_unit), {class: "btn btn-outline-primary ti ti-edit"} %>
    <%= button_to t_common(:delete), @fund_unit, method: :delete, class: "btn btn-outline-danger ti ti-trash", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  <% end %>
</div>
