<tr id="<%= dom_id capital_remittance_payment %>">
  <td>
    <%= link_to capital_remittance_payment.fund.name, capital_remittance_payment.fund %>
  </td>
  <td>
    <%= link_to capital_remittance_payment.investor.investor_name, capital_remittance_payment.investor %>
  </td>
  <td>
    <%= link_to capital_remittance_payment.capital_commitment.folio_id, capital_remittance_payment.capital_commitment %>
  </td>
  <td>
    <%= money_to_currency capital_remittance_payment.amount, params %>
  </td>
  <td>
    <%= l capital_remittance_payment.payment_date if capital_remittance_payment.payment_date %>
  </td>
  <td>
    <%= capital_remittance_payment.reference_no %>
  </td>

  <td>
    <%= link_to  t_common(:show), capital_remittance_payment , {class: "btn btn-outline-primary ti ti-eye"}%>
  </td>
</tr>
