<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          Remittance Payment : <%= capital_remittance_payment.capital_remittance&.investor&.investor_name %>
      </h6>
  </div>
  <div class="card-body">
    <%= form_with(model: capital_remittance_payment, validate: true) do |form| %>
      <% if capital_remittance_payment.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(capital_remittance_payment.errors.count, "error") %> prohibited this capital_remittance_payment from being saved:</h2>

          <ul>
            <% capital_remittance_payment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
      <%= form.text_field :capital_remittance_id, class: "form-control", hidden: true  %>
      <%= form.text_field :entity_id, class: "form-control", hidden: true  %>

      <div class="form-group" data-controller="currencyformat">
        <%= form.label :folio_amount, "Amount in #{capital_remittance_payment.capital_remittance.capital_commitment.folio_currency}" %> <span class="formatted_currency"></span>
        <%= form.number_field :folio_amount, class: "form-control", data: {action: "input->currencyformat#format"} %>
        <small class="text-muted"> Ensure this number is in <%= capital_remittance_payment.capital_remittance.capital_commitment.folio_currency %>. </small>
      </div>

      <div class="form-group">
        <%= form.label :payment_date %>
        <%= form.date_field :payment_date, class: "form-control"  %>
      </div>

      <%= custom_form_fields(capital_remittance_payment, form) %>

      <div class="form-group">
        
        <%= render "layouts/single_upload", form: form, field_label: "Upload payment proof", 
                                for_model: "capital_remittance_payment", field_name: "payment_proof", 
                                model: capital_remittance_payment %>
        <small class="text-muted"> Upload proof of payment as per the instructions. </small>
      </div>


      <div class="form-group">
        <%= form.label :reference_no %>
        <%= form.text_field :reference_no, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :notes %>
        <%= form.text_area :notes, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      </div>
    <% end %>
  </div>
</div>
