<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Payment: <%= l capital_remittance_payment.payment_date if capital_remittance_payment.payment_date %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">
    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Fund
        </td>
        <td>
          <%= link_to capital_remittance_payment.fund.name, capital_remittance_payment.fund  %>
        </td>
      </tr>
      <tr>
        <td>
          Capital Remittance
        </td>
        <td>
          <%= link_to "Capital Remittance", capital_remittance_payment.capital_remittance %>
        </td>
      </tr>
      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= capital_remittance_payment.entity.name %>
        </td>
      </tr>
      <tr>
        <td>
          Amount
        </td>
        <td>
          <%= money_to_currency capital_remittance_payment.amount, params %>
        </td>
      </tr>
      
      <% if capital_remittance_payment.fund.has_tracking_currency? %>
          
          <tr>
            <td>
              Tracking Currency
            </td>
            <td>
              <%= capital_remittance_payment.fund.tracking_currency %>
            </td>
          </tr>

          <tr>
            <td>
              Tracking Amount
            </td>
            <td>
              <%= money_to_currency capital_remittance_payment.tracking_amount, params %>
            </td>
          </tr>

      <% end %>
      <tr>
        <td>
          Payment Date
        </td>
        <td>
          <%= l capital_remittance_payment.payment_date if capital_remittance_payment.payment_date%>
        </td>
      </tr>
      <tr>
        <td>
          Reference No
        </td>
        <td>
          <%= capital_remittance_payment.reference_no %>
        </td>
      </tr>

      <% if current_user %>

      <tr>
        <td>
          Payment Proof
        </td>
        <td>
          <%= link_to "Download Payment Proof", capital_remittance_payment.payment_proof_url, target: "_blank", class: "btn btn-outline-success" if capital_remittance_payment.payment_proof.present? %>
        </td>
      </tr>

      <tr>
        <td>
          Notification Sent
        </td>
        <td>
          <%= display_boolean capital_remittance_payment.payment_notification_sent %>
        </td>
      </tr>

      <% end %>

      <tr>
        <td>
          Notes
        </td>
        <td>
          <%= capital_remittance_payment.notes&.html_safe %>
        </td>
      </tr>

      <% if capital_remittance_payment.exchange_rate %>
        <tr>
          <td>
            Exchange Rate
          </td>
          <td>
            <%= link_to capital_remittance_payment.exchange_rate %>
          </td>
        </tr>
      <% end %>

      <% if params[:debug].present? %>
        <tr>
          <td>
            Convert to Fund Currency
          </td>
          <td>
          <%= display_boolean capital_remittance_payment.convert_to_fund_currency %>
          </td>
        </tr>
      <% end %>

    </table>
  </div>
</div>