<tr id="<%= dom_id deal_activity %>" class="item">
    <td class="">
        <% if params[:template].present? %>
            <i class="fas fa-arrows-alt handle" data-toggle="tooltip" data-title="Drag to reorder"></i>
        <% end %>
        <%= deal_activity.sequence %>
    </td>
    <td>
        <%= link_to(deal_activity.title, deal_activity) %>
    </td>
    <td class="hideMobP">
        <%= current_user.entity_id == deal_activity.entity_id ? 
                link_to(deal_activity.deal_name, deal_activity.deal) : deal_activity.deal_name %>
        
    </td>
    <td class="hideMobP">
        <%= current_user.entity_id == deal_activity.entity_id && deal_activity.deal_investor ? 
            link_to(deal_activity.investor_name, deal_activity.deal_investor) : deal_activity.investor_name %>
    </td>
    <td class="hideMobP">
        <%= l deal_activity.by_date if deal_activity.by_date %>
    </td>
    <td class="hideMobP">
        <%= deal_activity.status %>
    </td>
    <td>
        <span class="badge <%= completed_badge(deal_activity) %>">
            <%= deal_activity.completed_status %>
        </span>
    </td>
    <td class="hideMobP">
        <%= deal_activity.days %>
    </td>
</tr>