<%= turbo_frame_tag "new_deal_activity" do %>
<div class="dynamic_form" data-controller="access">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Deal Step</h6>
            <span class="float-right">
                <button type="button" class="btn-close text-reset" data-action="click->access#close" aria-label="Close"></button>
            </span>
        </div>
        <div class="card-body">

        <%= form_with(model: deal_activity, validate: true) do |form| %>
            <% if deal_activity.errors.any? %>
            <div class="alert alert-danger">
                <h2><%= pluralize(deal_activity.errors.count, "error") %> prohibited this deal_activity from being saved:</h2>

                <ul>
                <% deal_activity.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
            <% end %>

            <div class="form-group">
            <%= form.text_field :deal_id, class: "form-control", hidden: true  %>
            <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
            </div>

            <% if deal_activity.deal_investor_id.present? %>
            <div class="form-group">
                <%= form.label :deal_investor_id %>
                <%= form.text_field :deal_investor, class: "form-control", disabled: "disabled", value: deal_activity.investor_name  %>
                <%= form.text_field :deal_investor_id, class: "form-control", hidden: true %>
            </div>
            <% end %>

            <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control"  %>
            </div>

            <div class="form-group">
            <%= form.label :details %>
            <%= form.rich_text_area :details, class: "form-control"  %>
            </div>


            <div class="form-group">
            <%= form.label :days %>
            <%= form.number_field :days, class: "form-control"  %>
            </div>

            <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status, DealActivity.statuses.map{|k,v| [k,v]}, {selected: "template"}, class: "form-control"  %>
            </div>

            <% if deal_activity.deal_investor_id.present? %>

            <div class="form-group">
                <%= form.label :by_date %>
                <%= form.date_field :by_date, class: "form-control"  %>
            </div>

            <div class="form-group">
                <%= form.label :completed %>
                <%= form.select :completed, ["Yes", "No", "N/A"], {}, class: "form-control"  %>
            </div>

            <% end %>

            <%= render "layouts/multi_upload", form: form, title: "Documents",
                        for_model: "deal_activity" %>

            <div class="form-group">
                <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
                <a class="btn btn-outline-danger", data-action="click->access#close">Close</a>
            </div>
        <% end %>
        </div>
    </div>
</div>

<% end %>
