<tr id="<%= dom_id deal_activity %>" class="item">
    <td class="">
        <% if params[:template].present? %>
            <i class="fas fa-arrows-alt handle" data-bs-toggle="tooltip" data-title="Drag to reorder"></i>
        <% end %>
        <%= deal_activity.sequence %>
    </td>
    <td>
        <%= link_to(deal_activity.title, deal_activity) %>
    </td>
    <td>
        <%= belongs_to_entity_id?(current_user, deal_activity.entity_id) ? 
                link_to(deal_activity.deal_name, deal_activity.deal) : deal_activity.deal_name %>
        
    </td>
    <td>
        <%= belongs_to_entity_id?(current_user, deal_activity.entity_id) && deal_activity.deal_investor ? 
            link_to(deal_activity.investor_name, deal_activity.deal_investor) : deal_activity.investor_name %>
    </td>
    <td>
        <%= l deal_activity.by_date if deal_activity.by_date %>
    </td>
    <td>
        <%= deal_activity.status %>
    </td>
    <td>
        <span class="badge <%= completed_badge(deal_activity) %>">
            <%= deal_activity.completed_status %>
        </span>
    </td>
    <td>
        <%= deal_activity.days %>
    </td>
    <td>
        <%= link_to  t_common(:show), deal_activity, class: "btn btn-outline-primary" %>
        <%= link_to  t_common(:edit), edit_deal_activity_path(deal_activity), class: "btn btn-outline-success" if policy(deal_activity).update? %>
    </td>
</tr>