
<tr id="<%= dom_id approval_response %>">
  <td>
    <%= link_to approval_response.investor.investor_name, approval_response.investor %>
  </td>
  <td>
    <%= approval_response.response_user&.full_name %>
  </td>
  <td>
    <%= render DisplayBooleanComponent.new(bool: approval_response.status == "Approved").
        with_content(approval_response.status) if approval_response.status %>
  </td>
  <td>
    <%= l approval_response.updated_at %>
  </td>
  <td>
    <% if policy(approval_response).update? %>
      <%= link_to "Show" , approval_response , {class: "btn btn-outline-primary" }%>
      <%= link_to "Edit" , edit_approval_response_path(approval_response) , {class: "btn btn-outline-success" }%>
    <% end %>
    <%= render "/approval_responses/quick_response", approval_response: approval_response if policy(approval_response).approve? %>
  </td>
</tr>