<%= render FormCard.new(title: "Approval Response") do %>

  <%= form_with(model: approval_response) do |form| %>
    <% if approval_response.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(approval_response.errors.count, "error") %> prohibited this approval_response from being saved:</h2>

        <ul>
          <% approval_response.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :approval_id, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>

    <div class="form-group">
      <%= form.label :investor %>
      <%= form.select :investor_id, approval_response.approval.investors.map{|i| [i.investor_name, i.id]}, 
          {}, class: "form-control select2"  %>
    </div>

    <% if approval_response.approval.owner %>      
      <div class="form-group">
        <%= form.label :owner_id, "For" %>
        <% response_owners = approval_response.approval.owner.approval_for(approval_response.investor_id) %>
        <%= form.select :owner_id, response_owners.map{|o| [o, o.id]}, {}, class: "form-control"  %>
      </div>
    <% end %>

    <%= custom_form_fields(approval_response, form) %>

    <div class="form-group">
      <%= form.label :details %>
      <%= form.rich_text_area :details, class: "form-control"  %>
    </div>


    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>
