<% approval ||= nil %>
<% layout ||= nil %>

<% if layout %>
  <% approval_responses.each do |approval_response| %>
    <%= render "approval_responses/approval_response_card", approval_response:  %>
  <% end %>
<% else %>

    <%= render "approval_responses/stats", approval: approval, approval_responses:approval.approval_responses  if approval && approval.entity_id == current_user.entity_id %>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Approval Responses</h1>
      

      <span>
        <% if approval && policy(approval).create? %>
          <%= link_to new_approval_response_path("approval_response[approval_id]": approval.id),
                      class: "btn btn-outline-primary" do %>
            <i class="ti ti-file-plus"></i>New Approval Response
          <% end %>

          <%= link_to approval_responses_path("approval_id": approval.id, format: :xlsx),
                      class: "btn btn-outline-success" do %>
            <i class="ti ti-download"></i> <%= t_common(:download) %>
          <% end %>
        <% end %>
      </span>

    </div>

    <div class="table-responsive" data-controller="datatable">

      <table id="approval_responses" class="table table-bordered dataTable jqDataTable">
    
        <thead>
          <tr>
            <th>
              Investor
            </th>
            <th>
              Tag
            </th>
            <th>
              Response By
            </th>
            <th>
              Status
            </th>
            <th>
              Updated On
            </th>
        
            <th>
            </th>
          </tr>
        </thead>
    
        
        <tbody>
        <% approval_responses.each do |approval_response| %>
          <%= render approval_response %>
        <% end %>
        </tbody>
      </table>
    
    </div>

  <% end %>