<%= render NewCard.new do %>
  <% title = approval_response.owner.blank? ? "Approval Response" : "Approval Response for #{approval_response.owner}" %>
  <%= render FormCard.new(title:) do %>
    
    <%= form_with(model: approval_response, url: approve_approval_response_path(approval_response),
    method: :patch) do |form| %>
      <div>
        <div class="form-group">
          <%= form.select :status, approval_response.approval.response_status.split(","),
                {include_blank: false}, class: "form-control", name: "status" %>
        </div>
        <%= custom_form_fields(approval_response, form) %>
        <div class="form-group">
          <%= form.submit "Submit", {class: "btn btn-outline-primary"}%>
        </div>
      </div>
    <% end %>
    
  <% end %>
<% end %>