<table class="table table-bordered dataTable">

    <tr>
      <td>
        Approval
      </td>
      <td>
        <%= link_to approval_response.approval.title, approval_response.approval %>
      </td>
    </tr>
    <tr>
      <td>
        Response Entity
      </td>
      <td>
        <%= approval_response.response_entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Response By
      </td>
      <td>
        <%= approval_response.response_user&.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= approval_response.status %>
      </td>
    </tr>

    <tr>
      <td>
        Reference
      </td>
      <td>
        <%= link_to approval_response.owner %>
      </td>
    </tr>
    

    <%= display_custom_fields(approval_response) if current_user %>

    <tr>
      <td>
        Details
      </td>
      <td>
        <%= approval_response.details %>
      </td>
    </tr>

  </table>
