<table class="table table-bordered dataTable">

    <tr>
      <td>
        Approval
      </td>
      <td>
        <%= link_to approval_response.approval.title, approval_response.approval %>
      </td>
    </tr>
    <tr>
      <td>
        Response Entity
      </td>
      <td>
        <%= approval_response.response_entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Response By
      </td>
      <td>
        <%= approval_response.response_user&.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%
          colors = ["bg-success", "bg-warning", "bg-secondary", "bg-info", "bg-primary", "bg-light", "bg-dark"].freeze

          idx = approval_response.approval.response_status&.split(",")&.index(approval_response.status) || 0

        %>
        <span class="badge <%=colors[idx]%>"><%= approval_response.status %></span>
      </td>
    </tr>

    <% if approval_response.owner %>
    <tr>
      <td>
        Reference
      </td>
      <td>
        <%= link_to approval_response.owner %>
      </td>
    </tr>
    <% end %>


    <%= display_custom_fields(approval_response) if current_user %>

    <tr>
      <td>
        Details
      </td>
      <td>
        <%= approval_response.details %>
      </td>
    </tr>

  </table>
