
<%= render FormCard.new(title: @approval_response.investor.to_s) do  %>
  <%= render "/approval_responses/show", approval_response: @approval_response %>
  

  <div class="associated_entity">
    <% if policy(@approval_response).update? %>
      <%= link_to  edit_approval_response_path(@approval_response), {class: "btn btn-outline-primary" } do %>
        <i class="ti ti-edit"></i> <%= t_common(:edit) %>
      <% end %> |

      <%= button_to @approval_response, method: :delete, class: "btn btn-outline-danger" ,
        form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} do %>
        <i class="ti ti-trash"></i> <%= t_common(:delete) %>
      <% end %>
    <% end %>
  </div>

<% end %>