<tr id="<%= dom_id agent_chart %>">
  <td>
    <%= agent_chart.title %>
  </td>
  <td>
    <%= agent_chart.prompt %>
  </td>
  <td>
    <%= agent_chart.tag_list %>
  </td>
  <td>
    <%= agent_chart.kpi_names&.join(", ") %>
  </td>
  <td>
    <%= agent_chart.error %>
  </td>
  <td>
    <%= link_to "Show", agent_chart , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
