<%= render FormCard.new(title: "#{@agent_chart}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Title
      </td>
      <td>
        <%= @agent_chart.title %>
      </td>
    </tr>
    <tr>
      <td>
        Prompt
      </td>
      <td>
        <%= @agent_chart.prompt %>
      </td>
    </tr>

    <tr>
      <td>
        Tag List
      </td>
      <td>
        <%= @agent_chart.tag_list %>
      </td>
    </tr>

    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= link_to @agent_chart.owner if @agent_chart.owner %>
      </td>
    </tr>


    <tr>
      <td>
        Document Names
      </td>
      <td>
        <%= @agent_chart.document_names&.join(", ") %>
      </td>
    </tr>

    <tr>
      <td>
        KPI Names
      </td>
      <td>
        <%= @agent_chart.kpi_names&.join(", ") %>
      </td>
    </tr>

    <tr>
      <td>
        Kpi Before
      </td>
      <td>
        <%= @agent_chart.kpi_before %> <%= @agent_chart.kpi_before_period %>
      </td>
    </tr>

    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @agent_chart.status&.humanize %>
      </td>
    </tr>
    <tr>
      <td>
        Error
      </td>
      <td>
        <%= @agent_chart.error %>
      </td>
    </tr>

    <tr>
      <td>
        <a class="btn btn-link p-0" data-bs-toggle="collapse" href="#collapseSpec" role="button" aria-expanded="false" aria-controls="collapseSpec">
          Spec
        </a>
      </td>
      <td>
        <div class="collapse" id="collapseSpec">
          <pre><%= JSON.pretty_generate @agent_chart.spec %></pre>
        </div>
      </td>
    </tr>

  </table>
  <div class="associated_entity">
    <% if policy(@agent_chart).update? %>
      <%= link_to "Edit", edit_agent_chart_path(@agent_chart), {class: "btn btn-outline-primary"} %>
      <%= button_to "Regenerate", regenerate_agent_chart_path(@agent_chart), method: :post, class: "btn btn-outline-secondary", data: {action: "click->confirm#popup", msg: "Are you sure you want to regenerate the chart spec?", method: :post } %>
      <%= button_to "Delete", @agent_chart, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>

<% if params[:portfolio_company_id].present? && @agent_chart.spec.present? && @agent_chart.spec[params[:portfolio_company_id]].present? %>
  <% portfolio_company = Investor.find(params[:portfolio_company_id]) %>
  <% title = "#{@agent_chart.title}: &nbsp; #{link_to portfolio_company.name, portfolio_company}".html_safe %>

  <%= turbo_frame_tag with_frame("agent_chart_#{@agent_chart.id}"), target: "_top" do %>
    <% if @agent_chart.spec.present? %>
      <%= render FormCard.new(title: link_to(title, agent_chart_path(@agent_chart, portfolio_company_id: portfolio_company.id))) do %>
        <div data-controller="chart-renderer"
            data-chart-renderer-spec-value='<%= @agent_chart.spec["#{portfolio_company.id}"].to_json %>'
            style="width: 100%; margin: 2rem 0;">
          <canvas data-chart-renderer-target="canvas" style="width:100%; height:420px;"></canvas>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info" style="margin-top:1rem;">
        No chart spec saved yet for this record. Generate one:
        <code>AgentChart.find(<%= @agent_chart.id %>).generate_spec!(portfolio_company_id:)</code>
      </div>
    <% end %>
  <% end %>
<% elsif params[:portfolio_company_id].blank?  %>
  <div class="alert alert-info" style="margin-top:1rem;">
    Please select a portfolio company to view the chart.
  </div>
<% elsif @agent_chart.spec.blank? || @agent_chart.spec[params[:portfolio_company_id]].blank? %>
  <div class="alert alert-info" style="margin-top:1rem;">
    No chart spec saved yet for this record and portfolio company. Generate one:
    <code>AgentChart.find(<%= @agent_chart.id %>).generate_spec!(portfolio_company_id:)</code>
  </div>
<% end %>
