<table class="table table-bordered dataTable">

    <tr>
        <td colspan="2" class="bg-primary">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="bg-primary">
            <h3>Sale Details</h3>
        </td>
    </tr>

    <tr>
        <td>
            Name
        </td>
        <td>
            <%= secondary_sale.name %>
        </td>
    </tr>
    <tr>
        <td>
            Entity
        </td>
        <td>
            <%= secondary_sale.entity.name %>
        </td>
    </tr>
    <tr>
        <td>
            Total Quantity Offered
        </td>
        <td>
            <%= secondary_sale.total_offered_quantity %>
        </td>
    </tr>
    <tr>
        <td>
            Start Date
        </td>
        <td>
            <%= l secondary_sale.start_date %>
        </td>
    </tr>
    <tr>
        <td>
            End Date
        </td>
        <td>
            <%= l secondary_sale.end_date %>
        </td>
    </tr>
    <tr>
        <td>
            Min Price
        </td>
        <td>
            <%= secondary_sale.min_price %>
        </td>
    </tr>
    <tr>
        <td>
            Max Price
        </td>
        <td>
            <%= secondary_sale.max_price %>
        </td>
    </tr>
    <tr>
        <td>
            Active
        </td>
        <td>
            <%= secondary_sale.active? ? "Yes" : "No" %>
        </td>
    </tr>

    <tr>
        <td>
            Final Price
        </td>
        <td>
            <%= custom_format_number secondary_sale.final_price, params %>
        </td>
    </tr>

    <tr>
        <td>
            Active
        </td>
        <td>
            <%= secondary_sale.active? ? "Yes" : "No" %>
        </td>
    </tr>

</table>