<div class="row">
    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <% if investor %>
                        Chat between <%= investor.investor_name %> and <%= owner.entity.name %>
                    <% else %>
                        Chat
                    <% end %>
                    <%= link_to messages_path(owner_id: owner.id, owner_type: owner.class.name.underscore, investor_id: investor&.id), target: "_blank", class: "float-right" do %>
                        <i class="fas fa-expand"></i>
                    <% end %>
                </h6>
            </div>
            <div class="card-body">
                <%= render "messages/conversation", messages: messages, owner: owner, investor: investor %>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Tasks   
                </h6>
            </div>
            <div class="card-body">
                <%= render "tasks/index", investor: investor, owner: owner, tasks: 
                    Task.incomplete.where(investor_id: investor&.id, owner: owner).includes(:user, :investor) %>
            </div>
        </div>
    </div>
</div>