<% 
    my_msg = msg.user.entity_id == msg.owner.entity_id
    msg_class = my_msg ? 'other-message float-right' : 'my-message float-left' 
    li_class = my_msg ? 'clearfix' : ''
    div_class = my_msg ? 'align-right' : ''            
%>

<li class="<%= li_class %>" style="overflow: auto;">
    <div class="message-data <%= div_class%> ">
        <% if my_msg %>
        <span class="message-data-time" ><%= l msg.created_at %></span> &nbsp; &nbsp;
        <span class="message-data-name" ><%= link_to msg.user.name, msg.user %></span> 
        <% else %>
        <span class="message-data-name" ><%= link_to msg.user.name, msg.user %></span> 
        <span class="message-data-time" ><%= l msg.created_at %></span> &nbsp; &nbsp;                
        <% end %>
    </div>

    <div class="message  <%= msg_class %>">
        <%= msg.content %>
    
        <div class="">
            <span type="button" class="add_remove_task float-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
            </span>
            <div class="dropdown-menu">
                <%= button_to "Add as Task", mark_as_task_message_path(msg), class: "dropdown-item" %>
            </div>
        </div>    
    </div>
</li>
