

    <!-- Illustrations -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <span class="m-0 font-weight-bold text-primary">Deal Tasks</span>    
            <% label = params[:show_all] == "true" ? "Hide Done" : "Show All" %>
            <% if owner %>
                <span class="float-right">
                    <%= link_to label, messages_path(owner_id: owner.id, owner_type: owner.class.name.underscore, deal_id: owner.deal_id, show_all: params[:show_all] != "true"), class: "btn btn-sm btn-primary"%>    
                    <%= link_to "New Task", new_message_path("message[deal_investor_id]": deal_investor.id, 
                                "message[is_task]": true, "message[not_msg]": true), 
                                { data: { turbo_frame: 'new_task_message' },
                                method: :get, class: "btn btn-sm btn-primary"} %>    
                </span>

            <% else %>
                <span class="float-right">
                    <%= link_to label, messages_path(tasks: params[:tasks], show_all: params[:show_all] != "true"), class: "btn btn-sm btn-primary"%>    
                </span>    
            <% end %>
        </div>

        <div class="card-body">

            <%= turbo_frame_tag "new_task_message" do %>
            <% end %>
            <% tasks = params[:show_all]=='true' ? messages.tasks : messages.tasks_not_done %>

            <div class="table-responsive" data-controller="datatable">    
                <table id="message_tasks" class="table table-bordered dataTable jqDataTable">
                    <thead>
                        <tr>
                            <th class="hideMobP">From</th>
                            <th>Investor</th>
                            <th>Task</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody id="tasks_body">
                        <% tasks.order(id: :desc).each do |msg| %>          
                            <%= render "messages/message", message: msg%>
                        <% end %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
