<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Payment: <%= l capital_remittance_payment.payment_date if capital_remittance_payment.payment_date %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">
    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Fund
        </td>
        <td>
          <%= capital_remittance_payment.fund.name %>
        </td>
      </tr>
      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= capital_remittance_payment.entity.name %>
        </td>
      </tr>
      <tr>
        <td>
          Amount
        </td>
        <td>
          <%= money_to_currency capital_remittance_payment.amount, params %>
        </td>
      </tr>
      <tr>
        <td>
          Payment Date
        </td>
        <td>
          <%= l capital_remittance_payment.payment_date if capital_remittance_payment.payment_date%>
        </td>
      </tr>
      <tr>
        <td>
          Reference No
        </td>
        <td>
          <%= capital_remittance_payment.reference_no %>
        </td>
      </tr>

      <tr>
        <td>
          Notes
        </td>
        <td>
          <%= capital_remittance_payment.notes&.html_safe %>
        </td>
      </tr>

    </table>
  </div>
</div>
