<h3>Dear <%= @capital_remittance_payment.capital_remittance.capital_commitment.investor_kyc&.full_name %></h3>

<% if @custom_notification %>

    <%= render "/custom_notifications/mail" do %>
        <%= render "capital_remittance_payment_mailer/capital_remittance_payment_email_details", capital_remittance_payment: @capital_remittance_payment, params: {} if @custom_notification.show_details %>
    <% end %>

<% else %>
    <p>
        This is confirmation for the payment made by you, for the amount <%= money_to_currency @capital_remittance_payment.amount %>, towards the capital call of the fund <%= @capital_remittance_payment.fund.name %>
    </p>

    <p>
        <%= render "capital_remittance_payment_mailer/capital_remittance_payment_email_details", capital_remittance_payment: @capital_remittance_payment, params: {} %>
    </p>

    <p>
        Please contact the fund for further details.
    </p>
<% end %>

<p class="btn btn-outline-primary"><%= link_to 'View Remittance', capital_remittance_payment_url(@capital_remittance_payment, subdomain: @capital_remittance_payment.entity.sub_domain, investor_advisor_id: params[:investor_advisor_id]) if  @custom_notification.nil? || @custom_notification&.show_link %></p>
