<tr id="<%= dom_id fund_ratio %>">
  <td>
    <%= fund_ratio.name %>
  </td>
  <td>
    <%= fund_ratio.value %>
  </td>
  <td>
    <%= fund_ratio.display_value %>
  </td>
  <td>
    <%= fund_ratio.notes %>
  </td>
  <td>
    <%= link_to "Show", fund_ratio , {class: "btn btn-primary"}%>
  </td>
  
</tr>
