<tr id="<%= dom_id fund_ratio %>">
  <td>
    <%= link_to fund_ratio.owner if fund_ratio.owner %>
  </td>
  <td>
    <%= fund_ratio.owner_type %>
  </td>
  <td>
    <%= link_to fund_ratio.name, fund_ratio %>
  </td>
  <td>
    <%= fund_ratio.display_value %>
  </td>
  <td>
    <%= l fund_ratio.end_date if fund_ratio.end_date %>
  </td>
  <td>
    <%= fund_ratio.scenario %>
  </td>
</tr>
