<% fund ||= nil %>
<% valuation ||= nil %>
<% data_source ||= fund_ratios_path(fund_id: fund&.id, format: :json, all: true) %>
<% lazy_load_data ||= false %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Fund Ratios <%= link_to l(valuation.valuation_date), valuation if valuation %> </h1>
  <span>
  <%= button_to "Compute Ratios" , generate_fund_ratios_fund_path(fund), method: :get,
      class: "btn btn-outline-success" , form_class: "deleteButton" ,
      data: {action: "click->confirm#popup" , turbo: false,
      msg: "Computation will take a few mins, please be patient. Proceed?", method: :get} if fund && policy(fund).generate_fund_ratios? %>

  <%= link_to "Download", fund_ratios_path(fund_id: params[:fund_id], capital_commitment_id: params[:capital_commitment_id], format: :xlsx), class: "btn btn-outline-success" %>
  </span>
</div>

<div class="table-responsive" data-controller="fund-ratios"
      data-fund-ratios-lazy-load-data-value=<%= lazy_load_data %>
      data-fund-ratios-table-name-value="#fund_ratios">

  <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->fund-ratios#loadData"><span>Load Data</span></a>
  <% end %>

  <table id="fund_ratios" class="table table-bordered dataTable"
          data-source="<%= data_source %>" style="width:100%" >

    <thead>
      <tr>
        <th>
          For
        </th>
        <th>
          Name
        </th>
        <th>
          Display Value
        </th>
        <th>
          On
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>

</div>
