<%= render FormCard.new(title: "Fund Ratio : #{@fund_ratio.name}") do %>

<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @fund_ratio.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= link_to @fund_ratio.fund %>
    </td>
  </tr>
  <tr>
    <td>
      Scenario
    </td>
    <td>
      <%= @fund_ratio.scenario %>
    </td>
  </tr>

  <% if @fund_ratio.capital_commitment %>
  <tr>
    <td>
      For
    </td>
    <td>
      <%= link_to @fund_ratio.capital_commitment %>
    </td>
  </tr>
  <% end %>

  <% if @fund_ratio.owner %>
  <tr>
    <td>
      Owner
    </td>
    <td>
      <%= link_to @fund_ratio.owner %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @fund_ratio.name %>
    </td>
  </tr>
  <tr>
    <td>
      Value
    </td>
    <td>
      <%= @fund_ratio.value %>
    </td>
  </tr>
  <tr>
    <td>
      Display Value
    </td>
    <td>
      <%= @fund_ratio.display_value %>
    </td>
  </tr>
  <tr>
    <td>
      On
    </td>
    <td>
      <%= l @fund_ratio.end_date if @fund_ratio.end_date %>
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @fund_ratio.notes %>
    </td>
  </tr>
</table>

<div class="associated_entity">
  <%= link_to  t_common(:edit), edit_fund_ratio_path(@fund_ratio), {class: "btn btn-outline-primary"} if policy(@fund_ratio).update? %>
  <%= button_to t_common(:delete), @fund_ratio, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  if policy(@fund_ratio).destroy? %>
</div>

<% end %>

