<tr id="<%= dom_id kpi %>">
  <td>
    <%= kpi.name %>
  </td>
  <td>
    <%= kpi.display_value.present? ? kpi.display_value : kpi.value %>
  </td>
  <td>
    <%= kpi.notes %>
  </td>
  <td>
    <%= link_to "Show" , kpi , {class: "btn btn-outline-primary" }%>
    <%= button_to "Delete", kpi, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(kpi).destroy? %>
  </td>
</tr>
