<tr id="<%= dom_id kpi %>">
  <% unless kpi_report %>
  <td>
    <%= link_to kpi.kpi_report %>
    <% if kpi.kpi_report.tag_list.present? %>
      <small class="badge bg-success-subtle text-success"><%= kpi.kpi_report.tag_list %></small>
    <% end %>
  </td>
  <% end %>
  <td>
    <%= kpi.name %>
  </td>
  <td>
    <%= kpi.kpi_report.period %>
  </td>
  <td>
    <%= kpi.display_value.present? ? kpi.display_value : kpi.value %>
  </td>
  <td>
    <%= kpi.percentage_change %> %
  </td>
  <td>
    <%= kpi.notes %>
  </td>
  <td>
    <%= link_to  t_common(:show) , kpi , {class: "btn btn-outline-primary" }%>
    <%= button_to t_common(:delete), kpi, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(kpi).destroy? %>
  </td>
</tr>
