<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @kpi.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @kpi.name %>
    </td>
  </tr>
  <tr>
    <td>
      Value
    </td>
    <td>
      <%= @kpi.value %>
    </td>
  </tr>
  <tr>
    <td>
      Display Value
    </td>
    <td>
      <%= @kpi.display_value %>
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @kpi.notes %>
    </td>
  </tr>
  <tr>
    <td>
      Kpi Report
    </td>
    <td>
      <%= link_to @kpi.kpi_report %>
    </td>
  </tr>
</table>
<div>
  <%= button_to "Delete", @kpi, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@kpi).destroy? %>
</div>
