
<%= render FormCard.new(title: "Kpi : #{@kpi.name} : #{@kpi.kpi_report.as_of}") do %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= link_to @kpi.entity %>
    </td>
  </tr>
  <tr>
    <td>
      As Of
    </td>
    <td>
      <%= l @kpi.kpi_report.as_of %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @kpi.name %>
    </td>
  </tr>

  <tr>
    <td>
      Period
    </td>
    <td>
      <%= @kpi.kpi_report.period %>
    </td>
  </tr>

  <tr>
    <td>
      Value
    </td>
    <td>
      <%= @kpi.value %>
    </td>
  </tr>
  <tr>
    <td>
      Display Value
    </td>
    <td>
      <%= @kpi.display_value %>
    </td>
  </tr>
  <tr>
    <td>
      Percentage Change
    </td>
    <td>
      <%= @kpi.percentage_change %> %
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @kpi.notes %>
    </td>
  </tr>
  <tr>
    <td>
      Source
    </td>
    <td>
      <%= @kpi.source %>
    </td>
  </tr>
  <tr>
    <td>
      Kpi Report
    </td>
    <td>
      <%= link_to @kpi.kpi_report %>
    </td>
  </tr>
</table>
<% end %>
<div>
  <%= button_to t_common(:delete), @kpi, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@kpi).destroy? %>

  <%= link_to t_common(:edit), edit_kpi_path(@kpi), class: "btn btn-outline-success" if policy(@kpi).update? %>
</div>
