<%= form_with(model: holding_audit_trail) do |form| %>
  <% if holding_audit_trail.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(holding_audit_trail.errors.count, "error") %> prohibited this holding_audit_trail from being saved:</h2>

      <ul>
        <% holding_audit_trail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :action %>
    <%= form.text_field :action, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :action_id %>
    <%= form.text_field :action_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :owner %>
    <%= form.text_field :owner, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :operation %>
    <%= form.text_field :operation, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ref_id %>
    <%= form.text_field :ref_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :comments %>
    <%= form.text_area :comments, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
