

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Action
      </td>
      <td>
        <%= @holding_audit_trail.action %>
      </td>
    </tr>
    <tr>
      <td>
        Corr ID
      </td>
      <td>
        <%= @holding_audit_trail.parent_id %>
      </td>
    </tr>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= @holding_audit_trail.owner %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @holding_audit_trail.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Operation
      </td>
      <td>
        <%= @holding_audit_trail.operation %>
      </td>
    </tr>
    <tr>
      <td>
        Ref
      </td>
      <td>
        <%= link_to @holding_audit_trail.ref_type, @holding_audit_trail.ref %>
      </td>
    </tr>
    <tr>
      <td>
        Comments
      </td>
      <td>
        <%= @holding_audit_trail.comments %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding_audit_trail.entity_id %>
      </td>
    </tr>


  </table>