<tr id="<%= dom_id reminder %>">
  <td class="hideMobP">
    <%= reminder.note %>
  </td>
  <td>
    <%= reminder.email %>
  </td>
  <td>
    <%= l reminder.due_date %>
  </td>
  <td class="hideMobP">
    <%= display_boolean(reminder.sent) %>
  </td>
  <td>
    <%= link_to "Show" , reminder , {class: "btn btn-outline-primary" }%>
    <%= link_to "Edit" , edit_reminder_path(reminder) , {data: { turbo_frame: 'new_reminder' }, class: "btn btn-outline-success" } if policy(reminder).update? %>
  </td>
</tr>