<% cache_if(current_user != nil, cache_key("favorites"), expires_in: 5.day) do %>

<div class="table-responsive" data-controller="datatable">

<table class="table table-bordered dataTable jqDataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Favorite</th>
            <th>By</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @favorites.each do |favorite| %>
        <tr>
            <td><%= favorite.id %></td>
            <td><%= favorite.favoritable_type %></td>
            <td><%= link_to favorite.favoritable %></td>
            <td><%= favorite.favoritor %></td>
            <td><%= favorite.created_at %></td>
            <td>
                <%= button_to t_common(:delete), favorite, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

</div>

<% end %>
