
<tr id="<%= dom_id approval_response %>">
  <td>
    <%= link_to approval_response.investor.investor_name, approval_response.investor %>
  </td>
  <td>
    <%= approval_response.response_user&.full_name %>
  </td>
  <td>
    <%= render DisplayBooleanComponent.new(bool: approval_response.status == "Approved").
        with_content(approval_response.status) if approval_response.status %>
  </td>
  <td>
    <%= link_to "Show" , approval_response , {class: "btn btn-primary" }%>
    <%= button_to "Approve" , approve_approval_response_path(approval_response, status: "Approved") , {class: "btn btn-success", method: :patch } if policy(approval_response).approve? %>
    <%= button_to "Reject" , approve_approval_response_path(approval_response, status: "Rejected") , {class: "btn btn-danger", method: :patch } if policy(approval_response).approve? %>
  </td>
</tr>