
<tr id="<%= dom_id approval_response %>">
  <td>
    <%= approval_response.response_entity.name %>
  </td>
  <td>
    <%= approval_response.response_user.full_name %>
  </td>
  <td>
    <%= render DisplayBooleanComponent.new(bool: approval_response.status == "Approved").
        with_content(approval_response.status) if approval_response.status %>
  </td>
  <td>
    <%= link_to "Show" , approval_response , {class: "btn btn-primary" }%>
    <%= link_to "Edit" , edit_approval_response_path(approval_response) , {class: "btn btn-success" } if policy(approval_response).update? %>
  </td>
</tr>