<% emp_calc ||= nil %>
<% holdings ||= nil%>
<% all_or_vested_disabled ||= false%>
<% if emp_calc.present? && holdings&.options.count > 0 %>
  <%= turbo_frame_tag "employee_calc" do %>
      <form id="employee_calc_form" action="/holdings/employee_calc" method="post">

        <div class="card">
          <div class="card-header py-3">
            <span>
              <span class="m-0 font-weight-bold text-primary">Calculator</span>
              <span class="form-group float-right">
                <%= select_tag('all_or_vested', options_for_select(["All", "Vested"], "#{params[:all_or_vested]}"),
                    class: "float-right form-control", disabled: all_or_vested_disabled) %>
              </span>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-bordered dataTable">

              <tr>
                <td>Total Value Of Excercising</td>
                <% total_value=policy_scope(Holding).options.inject(0){|sum,o| sum + o.value } %>
                  <td>
                    <output id="calc_total_value"><%= calc_total_value=0 %></output>
                    <input type="hidden" id="calc_total_value_hidden" name="calc_total_value_hidden" value="<%= calc_total_value %>">
                  </td>
              </tr>
              <tr>
                <td>
                  Growth in share price from the last price
                  <span class="desc text-info">Last Valuation <%= money_to_currency emp_calc.last_valuation, emp_calc.params %></span>
                </td>
                <td>
                  <% price_growth||=emp_calc.price_growth %>
                  <input type="text" id="price_growth" name="price_growth" value="<%= price_growth %>"
                    class="form-control small_text" />
                </td>
              </tr>
              <tr>
                <td>
                  Estimated pre-Tax Profits.
                  <span class="desc text-info">(Per share value * Price Growth - Excercise Price) * Quantity</span>
                </td>
                <td>
                  <%= money_to_currency emp_calc.estimated_profit, emp_calc.params %>
                </td>
              </tr>
              <tr>
                <td>Your Tax Slab Rates</td>
                <td>
                  <input type="text" id="price_growth" name="tax_rate" value="<%= emp_calc.tax_rate %>" class="form-control small_text" />
                </td>
              </tr>
              <tr>
                <td>
                  Estimated taxes for exercising as per last Valuation.
                  <span class="desc text-info">Estimated Profit * Tax Rate</span>
                </td>
                <td>
                  <%= money_to_currency emp_calc.estimated_taxes, emp_calc.params %>
                </td>
              </tr>
              <tr>
                <td>Number of share to be sold be cash neutral</td>
                <td>
                  <%= emp_calc.cost_neutral_sale.round(0 ) %>
                </td>
              </tr>
            </table>
            <input  id="calculate-btn" type="submit" name="commit" value="Calculate" class="btn btn-outline-primary float-right" data-disable-with="Calculate">
          </div>
        </div>

      </form>

  <% end %>

  

<% end %>
