<% emp_calc ||= nil %>
<% all_or_vested_hidden_value||= nil %>
<% all_or_vested ||= all_or_vested_hidden_value || params[:all_or_vested]%>
<% all_or_vested_disabled ||= all_or_vested_hidden_value.present? ? true : false%>
<% quantity ||= params[:quantity] || 0 %>
<% quantity_hidden_value ||= quantity.present? ? quantity : nil%>
<% holding_id||=nil %>
<% holdings ||= holding_id.present? ? Holding.where(id: holding_id) : policy_scope(Holding)%>

<% if emp_calc.present? || holdings&.options.count > 0 %>
  <%= turbo_frame_tag "employee_calc" do %>
      <form id="employee_calc_form" action="/holdings/employee_calc" method="post">
        <input type="hidden" id="holding_id" name="holding_id" value="<%= holding_id %>">

        <div class="card">
          <div class="card-header py-3">
            <span>
              <span class="m-0 font-weight-bold text-primary">Calculator</span>
              <span class="form-group float-right">
                <% if all_or_vested_hidden_value != "Custom" %>
                <%= select_tag('all_or_vested', options_for_select(["All", "Vested"], "#{all_or_vested}"),
                    class: "float-right form-control", disabled: all_or_vested_disabled) %>
                <%end%>
                <input type="hidden" id="all_or_vested_hidden" name="all_or_vested_hidden" value="<%= all_or_vested_hidden_value %>">
              </span>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-bordered dataTable">
              <input type="hidden" id="quantity_hidden" name="quantity_hidden" value="<%= quantity_hidden_value %>">

              <tr>
                <td>Total Value Of Excercising</td>
                  <% total_value||=0 %>
                  <% total_value=holdings.options.inject(0){|sum,o| sum + o.value } if holdings.present?%>
                  <% calc_total_value ||= total_value || 0%>
                  <td>
                    <output id="calc_total_value"><%= calc_total_value %></output>
                    <input type="hidden" id="calc_total_value_hidden" name="calc_total_value_hidden" value="<%= calc_total_value %>">
                  </td>
              </tr>
              <tr>
                <td>
                  Growth in share price from the last price
                  <span class="desc text-info">Last Valuation <%= money_to_currency emp_calc.last_valuation, emp_calc.params %></span>
                </td>
                <td>
                  <% price_growth||=emp_calc.price_growth %>
                  <input type="text" id="price_growth" name="price_growth" value="<%= price_growth %>"
                    class="form-control small_text" />
                </td>
              </tr>
              <tr>
                <td>
                  Estimated pre-Tax Profits.
                  <span class="desc text-info">(Per share value * Price Growth - Excercise Price) * Quantity</span>
                </td>
                <td>
                  <%= money_to_currency emp_calc.estimated_profit, emp_calc.params %>
                </td>
              </tr>
              <tr>
                <td>Your Tax Slab Rates</td>
                <td>
                  <input type="text" id="price_growth" name="tax_rate" value="<%= emp_calc.tax_rate %>" class="form-control small_text" />
                </td>
              </tr>
              <tr>
                <td>
                  Estimated taxes for exercising as per last Valuation.
                  <span class="desc text-info">Estimated Profit * Tax Rate</span>
                </td>
                <td>
                  <%= money_to_currency emp_calc.estimated_taxes, emp_calc.params %>
                </td>
              </tr>
              <tr>
                <td>Number of share to be sold be cash neutral</td>
                <td>
                  <%= emp_calc.cost_neutral_sale.round(0 ) %>
                </td>
              </tr>
            </table>
            <input  id="calculate-btn" type="submit" name="commit" value="Calculate" class="btn btn-outline-primary float-right" data-disable-with="Calculate" >
          </div>
        </div>

      </form>

  <% end %>

<% end %>
