<div class="table-responsive">

    <table id="esops" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th>
                    Pool
                </th>
                <th>
                    Balance Options
                </th>
                <th>
                    Acknowledgement
                </th>
                <th>
                    Eligible for Excercise
                </th>
                <th>
                    Excercise Price
                </th>
                <th>
                    Value
                </th>
                
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% holdings.each do |holding| %>
                <tr id="<%= dom_id(holding) %>" >
                    <td><%= holding.option_pool.name %></td>
                    <td><%= holding.quantity %></td>
                    
                    <td>
                        <% if holding.emp_ack %>
                          <span class="badge bg-success">
                            Acknowledged
                          </span>
                        <% else %>
                          <span class="badge bg-warning">
                            Not Acknowledged
                          </span>
                        <% end %>
                    </td>
                    
                    <td><%= holding.net_avail_to_excercise_quantity %></td>
                    <td><%= holding.option_pool.excercise_price %></td>
                    <td><%= money_to_currency holding.value, params %></td>
                    <td>
                        <%= link_to "Details" , holding , {class: "btn btn-primary" }%>
                        <%= link_to "Excercise" , new_excercise_path("excercise[holding_id]": holding.id, "excercise[entity_id]": holding.entity_id), {class: "btn btn-success" } if policy(holding).excercise? %> 
                        <%= button_to "Acknowledge" , emp_ack_holding_path(holding), method: :patch, class: "btn btn-success" , form_class: "deleteButton", data: {turbo:false} if policy(holding).emp_ack? && !holding.emp_ack  %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>