<% investor_view ||= false %>
<tr id="holding_<%= holding.id %>">
  <td class="hideMobP">
    <%= belongs_to_entity_id?(current_user, holding.entity_id)  ?  
        link_to(holding.funding_round.name, holding.funding_round) : holding.funding_round.name  %>
  </td>
  <td class="hideMobP">
    <%= holding.holding_type %>
  </td>
  <td>
    <%= holding.user ? holding.user.full_name : holding.investor.investor_name %>
  </td>

  <% unless investor_view %>
    <td>
      <%= holding.employee_id %>
    </td>
  <% end %>
  
  <% unless only_options.present? %>
  <td>
    <%= holding.investment_instrument %>
  </td>
  <% end %>

  <td class="hideMobP">
    <%= custom_format_number holding.quantity, params %>    
  </td>
  <td class="hideMobP">
   <%= render "/holdings/status", holding: %>
  </td>
  
  <% if only_options.present? %>
    <td class="hideMobP">
      <%= custom_format_number holding.vested_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.excercised_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.net_avail_to_excercise_quantity, params %>
    </td>

    <td class="hideMobP">
      <%= custom_format_number holding.net_unvested_quantity, params %>
    </td>
    
    <td class="hideMobP">
      <%= l holding.grant_date if holding.grant_date %>
    </td>
    <td class="hideMobP">
      <%= display_boolean holding.manual_vesting %>
    </td>
  <% else %>
    <td class="hideMobP">
      <%= l holding.created_at %>
    </td>
  <% end %>

  <td class="hideMobP">
    <%= custom_format_number holding.price, params %>
  </td>
  

  <td>
    <%= link_to "Show" , holding , {class: "btn btn-outline-primary" }%>
    
    <% if true || current_user.entity_id != holding.entity_id %>
      <% if secondary_sale && policy(secondary_sale).offer? %>
        <!-- We are in the secondary_sale page -->
        <%= link_to "Offer" , new_offer_path("offer[secondary_sale_id]": secondary_sale.id, 
                              "offer[holding_id]": holding.id, "offer[investor_id]": holding.investor_id) , 
              {class: "btn btn-outline-success" } if ["Equity", "Preferred"].include?(holding.investment_instrument) %>

      <% elsif  current_user.id == holding.user_id &&
                holding.investment_instrument != "Options" && 
                holding.active_secondary_sale && 
                policy(holding.active_secondary_sale).offer? %>
        <!-- We are in the holdings -->
        <%= link_to "Secondary Sale" , secondary_sale_path(holding.active_secondary_sale) , 
              {class: "btn btn-outline-success" }   %>

      <% end %>

      <%= button_to "Acknowledge" , emp_ack_holding_path(holding), method: :patch, class: "btn btn-outline-success" , form_class: "deleteButton", data: {turbo:false} if policy(holding).emp_ack? && !holding.emp_ack  %>
    <% end %>
  </td>
</tr>