<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <% 
        title ||= "Holdings" 
        import_upload ||= false
        investor_view ||= false
        secondary_sale ||= nil
    %>
    <h1 class="h3 mb-0 text-gray-800"><%=title%></h1>
    <span>
        <!-- We have to show the employee investors screen from which we can add holdings -->
        <% investor = current_user&.entity.investors.holding.first %>
        <span>
            <% if current_user.entity_type == "Company" %>
            
                <%= link_to "New Holding" , investor_path(investor, tab: "investors-tab" ), {class: "btn btn-outline-primary" } if investor %>

                <% if @option_pool && policy(@option_pool).approve_all_holdings? %>                
                    <%= button_to "Approve All" , 
                        approve_all_holdings_holdings_path(option_pool_id: @option_pool.id), 
                        method: :post, class: "btn btn-outline-success" , form_class: "deleteButton", 
                        data: {turbo:false}  %>

                <% elsif policy(current_user.entity).approve_all_holdings? %>
                    <%= button_to "Approve All" , 
                        approve_all_holdings_holdings_path(), 
                        method: :post, class: "btn btn-outline-success" , form_class: "deleteButton", 
                        data: {turbo:false}  %>

                <% end %>

                <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-outline-success dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uploads
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <%= link_to "Upload Holdings", 
                        new_import_upload_path(
                            "import_upload[import_type]": "Holding", 
                            "sample_upload": "HOLDINGS_SAMPLE"), 
                            { class: "dropdown-item"}  %> 

                        <%= link_to "Upload Options Performance Data", 
                        new_import_upload_path(
                            "import_upload[import_type]": "OptionsCustomData", 
                            "sample_upload": "OPTIONS_CUSTOM_DATA_SAMPLE"), 
                            { class: "dropdown-item"} if @option_pool %> 

                    </div>
                </div>
                </div>
                

            <% end %>

            

            <div class="btn-group">
                <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% if @option_pool %>
                        <%= link_to "Download Excel", holdings_path(format: "xlsx", option_pool_id: @option_pool.id), class: "dropdown-item" %>
                        
                        
                        <div class="dropdown-divider"></div>
                        <%= link_to "All", holdings_path(option_pool_id: @option_pool.id, ), class: "dropdown-item" %>

                        <div class="dropdown-divider"></div>

                        <%= link_to "Unvested", holdings_path(unvested: true, option_pool_id: @option_pool.id, ), class: "dropdown-item" %>
                        <%= link_to "Available For Excercise", holdings_path(avail_to_excercise: true, option_pool_id: @option_pool.id), class: "dropdown-item" %>
                        <%= link_to "Excercised", holdings_path(excercised: true, option_pool_id: @option_pool.id), class: "dropdown-item" %>
                        
                        <div class="dropdown-divider"></div>

                        <%= link_to "Cancelled", holdings_path(cancelled: true, option_pool_id: @option_pool.id), class: "dropdown-item" %>
                        <%= link_to "Lapsed", holdings_path(lapsed: true, option_pool_id: @option_pool.id), class: "dropdown-item" %>

                        <div class="dropdown-divider"></div>

                        <%= link_to "Approved", holdings_path(approved: true, option_pool_id: @option_pool.id), class: "dropdown-item" %>
                        <%= link_to "UnApproved", holdings_path(approved: false, option_pool_id: @option_pool.id), class: "dropdown-item" %>

                    <% else %>
                        <%= link_to "Download Excel", holdings_path(format: "xlsx"), class: "dropdown-item" %>
                    <% end %>

                </div>
                </div>
            </div>

        </span>
    </span>
</div>
<% only_options ||= params[:option_pool_id].present? %>

<div class="table-responsive">

    <table id="holdings" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th>
                    <%= sort_link @q, :funding_round_name, "Funding Round" %>
                </th>
                <th>
                    <%= sort_link @q, :holding_type, "Type" %>
                </th>
                <th>
                    <%= sort_link @q, :investor_investor_name, "Investor" %>
                </th>
                <% unless investor_view %>
                    <th>
                        Employee ID
                    </th>
                <% end %>
                <% unless only_options.present? %>
                    <th>
                        Instrument
                    </th>
                <% end %>
                <th>
                    <%= sort_link @q, :quantity, "Quantity" %>
                </th>
                <th>
                    Status
                </th>
                <% if only_options.present? %>
                    <th>
                        Vested
                    </th>
                    <th>
                        Excercised
                    </th>
                    <th>
                        Net Avail For Excercise
                    </th>
                    <th>
                        Net Unvested
                    </th>
                    <th>
                        Grant Date
                    </th>
                    <th>
                        Manual Vesting
                    </th> 
                
                <% else %>
                    <th> <%= sort_link @q, :created_at, "Date" %> </th>
                <% end %>

                <th>
                    <%= sort_link @q, :price_cents, "Price" %>
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% holdings.each do |holding| %>
                <%= render "/holdings/holding", holding: holding, secondary_sale: secondary_sale, 
                    only_options: only_options, investor_view: investor_view %>
            <% end %>
        </tbody>
    </table>

</div>

