  <%= render "/layouts/alerts" %>
  
  <% if policy(@holding).emp_ack? && !@holding.emp_ack %>
    <div class="alert alert-info">
      
      <% if @holding.investment_instrument == "Options" %>
        <%= render "/layouts/steps", steps: ["Please read the Option Scheme documents", 
          "Please understand the TnC specified there", "Please acknowledge the grant", 
          "Click the Acknowledge button below", "Download your Grant Certificate"].freeze %>
      <% else %>
        <%= render "/layouts/steps", steps: ["Please read the company policy for equity grants", 
          "Please understand the TnC specified there", "Please acknowledge the grant", 
          "Click the Acknowledge button below", "Download your Grant Certificate"].freeze %>
      <% end %>

    </div>
  <% end %>

  <%= render "/holdings/show" %>


  <div>
    <% if policy(@holding).update? %>
      <%= link_to "Edit" , edit_holding_path(@holding), {class: "btn btn-primary" } if policy(@holding).edit? %> 

      <%= button_to "Approve" , approve_holding_path(@holding), method: :patch, class: "btn btn-success" , form_class: "deleteButton", data: {turbo:false} if policy(@holding).approve? && !@holding.approved %>


      <%= link_to "Transfer", new_share_transfer_path("share_transfer[from_holding_id]": @holding.id), 
            class: "btn btn-success" if policy(@holding).transfer?  %>

      <%= link_to "Convert", new_share_transfer_path("share_transfer[from_holding_id]": @holding.id,
            "share_transfer[transfer_type]": "Conversion"), 
            class: "btn btn-success" if policy(@holding).convert?  %>

    <% end %>

    <% if policy(@holding).cancel? %>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmCancelModal">
          Cancel
        </button>
        <%= render "/holdings/confirm_cancel", holding: @holding %>
    <% end %>


    <% if policy(@holding).excercise? && @holding.excercisable? %>
      <%= link_to "Excercise" , new_excercise_path("excercise[holding_id]": @holding.id, "excercise[entity_id]": @holding.entity_id), {class: "btn btn-primary" } %> 
    <% end %>

    <% if policy(@holding).esop_grant_letter? %>
      <%= link_to "Download Grant Letter" , @holding.grant_letter.url, {class: "btn btn-success", target: "_blank" } if @holding.grant_letter.url.present? %> 
    <% end %>

    <%= button_to "Acknowledge" , emp_ack_holding_path(@holding), method: :patch, class: "btn btn-success" , form_class: "deleteButton", data: {turbo:false} if policy(@holding).emp_ack? && !@holding.emp_ack  %>

  </div>

  <div class="associated_entity">
    <%= render "/excercises/index", excercises: @holding.excercises if @holding.investment_instrument == "Options" %>
  </div>