<%= render FormCard.new(title: "Question : #{doc_question.tags.presence || 'New'}") do %>

  <%= form_with(model: doc_question, validate: true) do |form| %>
    <% if doc_question.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(doc_question.errors.count, "error") %> prohibited this doc_question from being saved:</h2>

        <ul>
          <% doc_question.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>

    <div class="form-group">
      <%= form.label :qtype %>
      <%= form.select :qtype, DocQuestion::qtypes.invert, {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :document_name %>
      <%= form.text_field :document_name, class: "form-control"  %>
      <span class="text-muted">The name of the document to which these questions apply. Leave blank for tag match only</span>
    </div>

    <div class="form-group">
      <%= form.label :tags %>
      <%= form.text_field :tags, class: "form-control"  %>
      <span class="text-muted">Comma separated tags, which match the document to be used. Leave blank for name match only</span>
    </div>

    <div class="form-group">
      <%= form.label :for_class %>
      <%= form.select :for_class, DocQuestion::FOR_CLASSES, {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :question %>
      <%= form.text_field :question, class: "form-control"  %>
      <span class="text-muted">Question to be answered by the LLM.</span>
    </div>

    <div class="form-group">
      <%= form.label :response_hint %>
      <%= form.text_field :response_hint, class: "form-control"  %>
      <span class="text-muted">Answer in Yes or No / Extract to field my_custom_field.</span>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>