<%= render FormCard.new(title: "#{@doc_question}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Document Name
      </td>
      <td>
        <%= @doc_question.document_name %>
      </td>
    </tr>
    <tr>
      <td>
        For
      </td>
      <td>
        <%= @doc_question.for_class %>
      </td>
    </tr>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= link_to @doc_question.owner %>
      </td>
    </tr>
    <tr>
      <td>
        Qtype
      </td>
      <td>
        <%= @doc_question.qtype.humanize %>
      </td>
    </tr>
    <tr>
      <td>
        Tags
      </td>
      <td>
        <%= @doc_question.tags %>
      </td>
    </tr>
    <tr>
      <td>
        Question
      </td>
      <td>
        <%= @doc_question.question %>
      </td>
    </tr>
    <tr>
      <td>
        Response Hint
      </td>
      <td>
        <%= @doc_question.response_hint %>
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <% if policy(@doc_question).update? %>
      <%= link_to  t_common(:edit), edit_doc_question_path(@doc_question), {class: "btn btn-outline-primary"} %> 
      <%= button_to t_common(:delete), @doc_question, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>
