
<tr id="<%= dom_id signature_workflow %>">
  <td>
    <%= signature_workflow.owner_type %>
  </td>
  <td>
    <%= signature_workflow.reason %>
  </td>
  <td>
    <%= signature_workflow.signatory_ids %>
  </td>
  <td>
    <%= signature_workflow.completed_ids %>
  </td>
  <td>
    <%= signature_workflow.status %>
  </td>
  <td>
    <%= display_boolean signature_workflow.completed %>
  </td>
  <td>
    <%= link_to "Show", signature_workflow , {class: "btn btn-primary"}%>
  </td>
</tr>
