
<tr id="<%= dom_id signature_workflow %>">
  <td>
    <%= link_to signature_workflow.owner_type, signature_workflow.owner %>
  </td>
  <td>
    <%= signature_workflow.status %>
  </td>
  <td>
    <%= display_boolean signature_workflow.completed %>
  </td>
  <td>
    <%= link_to "Show", signature_workflow , {class: "btn btn-primary"}%>
  </td>
</tr>
