<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Owner
    </td>
    <td>
      <%= @signature_workflow.owner_type %>
    </td>
  </tr>
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @signature_workflow.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= @signature_workflow.status %>
      <br>
      <%= @signature_workflow.state %>
    </td>
  </tr>
  <tr>
    <td>
      Completed
    </td>
    <td>
      <%= display_boolean @signature_workflow.completed %>
    </td>
  </tr>

  <tr>
    <td>
      Sequential
    </td>
    <td>
      <%= display_boolean @signature_workflow.sequential %>
    </td>
  </tr>
</table>
<div>
  <%= link_to "Edit", edit_signature_workflow_path(@signature_workflow), {class: "btn btn-outline-primary"} %> 
  <%= button_to "Delete", @signature_workflow, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
</div>
