<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"><%= @title ? @title : "Audit Trail" %> </h6>
      <span>
          <% if @allow_toggle %>
              <a class="btn btn-outline-primary show_details_link" data-bs-toggle="collapse" href=".<%=@css_class%>"><i class="fa-solid fa-caret-down"></i></a>
          <% end %>
      </span>
  </div>
  <div class="card-body collapse <%=@state%> <%=@css_class%>" data-controller="datatable">
    <table class="table table-bordered dataTable jqDataTable">
      <thead>
        <th>Audit Id</th>
        <th>Time</th>
        <th>User</th>
        <th>Attribute</th>
        <th>Old Value</th>
        <th>New Value</th>        
      </thead>
      <tbody>
      <!-- Audit trail consist of own changes and changes from associations -->
      <% @model.own_and_associated_audits.includes(:associated, :auditable, :user).order(id: :desc).each do |audit| %>

        <% 
          # Some associations may not have a path, so we need to check if the path is available
          linkable = nil
          linkable = Rails.application.routes.url_helpers.respond_to?("#{audit.auditable.model_name.singular_route_key}_path") if audit.associated && audit.auditable          
        %>
        <% if audit.associated && linkable %>
        <!-- Just a link to the association that was changed, we do not capture the fields -->        
          <tr>
            <td><%= audit.id %></td>
            <td>
              <%= l(audit.created_at)  %>
              <small class="text-muted">(<%= audit.action.humanize %>)</small>
            </td>
            <td><%= (audit.user ? audit.user : "System") %></td>
            <td><%=  audit.auditable_type %></td>
            
            <td></td>
            <td><%= link_to(audit.auditable) %></td>          
          </tr>
        <% else %>
          <%= render "/layouts/audit_changes", audit: audit, audited_changes: audit.audited_changes %>
        <% end %>
      
      <% end %>
      </tbody>
    </table>
  </div>
</div>