<div class="table-responsive">
    <table id="<%= @model.model_name.plural %>" class="table table-bordered dataTable action_table hover">
    <%= render @ransack_table_header %>

    <tbody>
        <% @records.each do |record| %>
        <%= render "#{@partial_base_path}/#{@partial_name}", 
                    "#{@model.model_name.element}": record.decorate, 
                    columns: @ransack_table_header.columns %>
        <% end %>
    </tbody>
    </table>

    <% if @records.present? && @pagy %>
        <% if @pagy.is_a?(Pagy::Countless)  %>
            <div class="d-flex justify-content-between align-items-center">                
                <span>Page <%= @pagy.page %></span>  <%# optional current page label %>
                <%= raw pagy_bootstrap_nav(@pagy, size: 0, anchor_string: %(data-turbo-frame="#{@turbo_frame}" data-remote="true")) %>
            </div>
        <% else %>
            <div class="d-flex justify-content-between align-items-center">
                <%= raw pagy_info(@pagy) %>
                <%= raw pagy_bootstrap_nav(@pagy, anchor_string: %(data-turbo-frame="#{@turbo_frame}" data-remote="true")) %>
            </div>
        <% end %>
    <% end %>
</div>  
