<% @columns.each do |column_name, attribute| %>
    <% attribute, css_class = attribute.split(";").map(&:strip) %>
    <td class="<%= css_class %>">
      <% if attribute.start_with?("custom_fields.") %>
        <%= @model.json_fields[attribute.gsub("custom_fields.", "")] %>
      <% else %>
        <% value = attribute.split('.').inject(@model) { |object, method| object&.send(method) } %>
        <% if  value.is_a?(Date) %>
          <%= l(value) %>
        <% elsif value.is_a?(Money) %>
          <%= money_to_currency value, params %>
        <% else %>
          <%= value %>
        <% end %>
      <% end %>
    </td>
<% end %>