<% if params[:hide_search].blank? || params[:hide_search] != "true" %>
<div class="nested-fields">
  <%= form_tag @data_source, method: :get, data: { controller: "search", turbo_frame: @turbo_frame }, class: "search-form d-flex justify-content-between align-items-center" do %>
    <div class="d-flex align-items-center search-form-per-page">
      <% current_per_page = params.dig("per_page").presence || 10 %>
      <%= number_field_tag "per_page", current_per_page, id: "per_page_input", class: "form-control", data: { target: "search.perPageInput", toggle: "tooltip", title: "Items per page" } %>
      <small class="ms-2">per page</small>
    </div>

    <% if @allow_search %>
      <div class="d-flex align-items-center search-form-input">
        <% current_input = params.dig("search", "value").presence || nil %>
        <%= text_field_tag "search[value]", current_input, id: "search_input", class: "form-control", data: { "search-target": "searchInput", action: "keydown->search#debouncedSearchInput", toggle: "tooltip", title: "Type to search" }, placeholder: "Search..." %>

        <div id="search_spinner" class="spinner-border spinner-border-sm text-primary search_spinner ms-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    <% end %>

    <!-- Add hidden fields for the query params in the data_source passed -->
    <%= add_hidden_fields_from_source(@data_source) %>

    <%= submit_tag "Submit", hidden: true, id: "submit", data: { target: "search.submit" } %>
  <% end %>
</div>
<% end %>