<tr id="<%= dom_id fee %>">
  <td>
    <%= fee.advisor_name %>
  </td>
  <td>
    <%= fee.amount %>
  </td>
  <td>
    <%= fee.amount_label %>
  </td>
  <td>
    <%= link_to fee.owner_type, id: fee.owner_id, controller: fee.owner_type.underscore.pluralize, action: "show" %>
  </td>
  <td>
    <%= link_to  t_common(:show) , fee , {class: "btn btn-outline-primary" }%>
  </td>
</tr>