<tr id="<%= dom_id fee %>">
  <td>
    <%= fee.advisor_name %>
  </td>
  <td>
    <%= fee.amount %>
  </td>
  <td>
    <%= fee.amount_label %>
  </td>
  <td>
    <%= fee.owner_type %>
  </td>
  <td>
    <%= link_to "Show" , fee , {class: "btn btn-primary" }%>
  </td>
</tr>