<%= render FormCard.new(title: "Fee") do %>

  <%= form_with(model: fee, validate: true) do |form| %>
    <% if fee.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

        <ul>
          <% fee.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :advisor_name %>
      <%= form.text_field :advisor_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :amount %>
      <%= form.text_field :amount, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :amount_label %>
      <%= form.select :amount_label, ["Per Share", "Percentage", "Flat Fee"], {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :bank_account_number %>
      <%= form.text_field :bank_account_number, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :ifsc_code %>
      <%= form.text_field :ifsc_code, class: "form-control"  %>
    </div>

    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>