<%
    if params[:fund_report_id].present? 
        fund_report = FundReport.where(id: params[:fund_report_id]).last
    elsif params[:id].present?
        fund_report = FundReport.where(fund_id: params[:id]).last
    end
    data = fund_report&.data 
%>

<% unless fund_report && policy(fund_report).show? %>
    <div class="alert alert-danger" style="text-align: center;">Permission Denied</div>    
<% end %>

<div class="d-sm-flex align-items-center justify-content-between mb-4" data-controller="export-xl">
    <h1 class="h4 mb-0 text-gray-800">Cumulative Funds Raised</h1>

    <span>
        <button class="btn btn-outline-success", data-action="click->export-xl#export" data-tableid="cumulative_funds_raised" data-filename='cumulative_funds_raised'>Download</button>
    </span>
</div>

<table id="cumulative_funds_raised" class="table table-bordered dataTable">
    <tr>
        <td colspan="12">Table 1: Details of capital raised and investments made by the AIF (in INR Crores)</td>
    </tr>
    <tr>
        <td>Sl. No</td>
        <td>Name of Scheme</td>
        <td>Total Commitments raised as at the end of the quarter  (INR Crore) (A1)</td>
        <td colspan="5">Cumulative Funds Raised by the Scheme</td>
        <td colspan="4">Cumulative Investments made by the Scheme</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>At the beginning of the quarter (A2)</td>
        <td colspan="2">Additions during the quarter (B2)</td>
        <td>Distributions during the quarter (C2)</td>
        <td>At the end of the quarter (A2+B2)- (C2)</td>        
        <td>At the beginning of the quarter (A3)</td>
        <td>Additions during the quarter (B3)</td>
        <td>Divestment during the quarter (C3)</td>
        <td>At the end of the quarter (A3+B3)- (C3)</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Funds drawn from committed capital</td>
        <td>Re-invested capital</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <% if fund_report && policy(fund_report).show? %>
    <tr>
        <td>1</td>
        <td><%= @fund.name %></td>
        <td><%= data["Total Commitments Raised (A1)"]["Value"] %></td>
        <td><%= data["Funds Raised By The Scheme"]["At the beginning of the period (A2)"]["Value"] %></td>
        <td><%= data["Funds Raised By The Scheme"]["Additions during the period (B2)"]["Funds drawn from committed capital"]["Value"] %></td>
        <td><%= data["Funds Raised By The Scheme"]["Additions during the period (B2)"]["Reinvested Capital"]["Value"] %></td>
        <td><%= data["Funds Raised By The Scheme"]["Distributions during the period (C2)"]["Value"] %></td>
        <td><%= data["Funds Raised By The Scheme"]["At the end of the period (A2+B2)- (C2)"]["Value"] %></td>
        <td><%= data["Investments made by the Scheme"]["At the beginning of the period (A3)"]["Value"] %></td>
        <td><%= data["Investments made by the Scheme"]["Additions during the period (B3)"]["Value"] %></td>
        <td><%= data["Investments made by the Scheme"]["Divestment during the period (C3)"]["Value"] %></td>
        <td><%= data["Investments made by the Scheme"]["At the end of the period (A3+B3)- (C3)"]["Value"] %></td>
    </tr>
    <% end %>
    
</table>