<tr id="entity_<%= entity.id %>">
  <td>
    <%= entity.name %>
  </td>
  <td class="hideMobP">
    <%= entity.category %>
  </td>
  <td>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="action_<%= entity.id %>"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if !vc_view %>
            <%= link_to "Documents", documents_path(entity_id: entity.id) , {class: "dropdown-item"}%>
            <%= link_to "Investments", investments_path(entity_id: entity.id) , {class: "dropdown-item"}%>
          <% else %>
            <% hide_fund_docs = current_user.investor_advisor? %>
            <%= link_to "Documents", investor_documents_path(entity_id: entity.id, hide_fund_docs:) , {class: "dropdown-item"}%>
            <%= link_to "Tasks", tasks_path(entity_id: entity.id) , 
                    {id: "tasks_#{entity.id}", class: "dropdown-item"}%>
            <%= link_to "Investments", dashboard_entities_path(entity_id: entity.id, dashboard: "investor_dashboard") , 
                    {id: "investments_entity_#{entity.id}", class: "dropdown-item"} if current_user.enable_investments && !entity.is_fund? %>
            <%= link_to "Kpis", kpi_reports_path(entity_id: entity.id, grid_view: true), 
                    {id: "kpis_#{entity.id}", class: "dropdown-item"} if entity.permissions.enable_kpis? %>
            <%= link_to "Approvals", approvals_path(entity_id: entity.id), 
                    {id: "approvals_#{entity.id}", class: "dropdown-item"} %>
            <%= link_to "Investment Opportunities", investment_opportunities_path(entity_id: entity.id) , 
                    {id: "io_#{entity.id}", class: "dropdown-item"} if entity.is_fund? && entity.permissions.enable_inv_opportunities? %>
            <%= link_to "Funds", funds_path(entity_id: entity.id) , 
                    {id: "funds_#{entity.id}", class: "dropdown-item"} if entity.is_fund? && entity.permissions.enable_funds? %>
            <%= link_to "Deals", deal_investors_path(entity_id: entity.id) , 
                    {id: "deal_investors_#{entity.id}", class: "dropdown-item"} if entity.permissions.enable_deals? %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
