<div class="row">
  <div class="col-lg-3 col-md-6">
    <a href="<%=funds_path%>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div>
            <h3 class="fs-8"><%= policy_scope(current_user.entity.funds).count %></h3>
            <h6 class="card-subtitle mb-1 text-muted"><%= t('entities.fm_dashboard_stats.funds') %> </h6>
          </div>
          <div class="ms-auto">
            <span class="text-success display-6"><i class="ti ti-currency-dollar"></i></span>
          </div>
        </div>
          <div class="progress-bar text-bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="<%=investors_path%>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div>
            <h3 class="fs-8"><%= policy_scope(current_user.entity.investors).count %></h3>
            <h6 class="card-subtitle mb-1 text-muted"><%= t('entities.fm_dashboard_stats.stakeholders') %> </h6>
          </div>
          <div class="ms-auto">
            <span class="text-info display-6"><i class="ti ti-users"></i></span>
          </div>
        </div>
          <div class="progress-bar text-bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="<%=investment_opportunities_path%>">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center mb-3">
              <div>
                <h3 class="fs-8"><%= policy_scope(current_user.entity.investment_opportunities).count %></h3>
                <h6 class="card-subtitle mb-1 text-muted"><%= t('entities.fm_dashboard_stats.opportunities') %> </h6>
              </div>
              <div class="ms-auto">
                <span class="text-danger display-6"><i class="ti ti-filter"></i></span>
              </div>
            </div>
          </div>
          <div class="col-12">
              <div class="progress-bar text-bg-danger" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="<%=capital_commitments_path%>">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center mb-3">
              <div>
                <h3 class="fs-8"><%= policy_scope(current_user.entity.capital_commitments).count %></h3>
                <h6 class="card-subtitle mb-1 text-muted"><%= t('entities.fm_dashboard_stats.commitments') %> </h6>
              </div>
              <div class="ms-auto">
                <span class="text-warning display-6"><i class="ti ti-lock"></i></span>
              </div>
            </div>
          </div>
          <div class="col-12">
              <div class="progress-bar text-bg-warning" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>