<% params[:units] ||= "Million" %>

<% unless current_user.investor_advisor? %>
    <% cache_if(current_user != nil, cache_key("FMDashBoardStats"), expires_in: 5.day) do %>
        <%= render "entities/fm_dashboard_stats" %>
    <% end %>
<% end %>

<%= render "entities/fm_dashboard_menus" %>

<div data-controller="datatable">

    <% cache_if(current_user != nil, cache_key("FMDashBoard", include_theme: true), expires_in: 5.day) do %>

        <% if current_user.enable_funds %>
            <% title = link_to(t('entities.fm_dashboard2.funds'), funds_path) %>
            <%= render ToggleCard.new(title:, css_class: "show_funds") do %>
                <% funds = policy_scope(Fund).page(params[:page]) %>

                <% funds.includes(:fund_ratios).each do |fund| %>
                    <%= render "/funds/card", fund: %>
                <% end %>

                <%= paginate funds %>
            <% end %>

        <% end %>

    
        <% investment_opportunities = policy_scope(InvestmentOpportunity) %>
        <% if investment_opportunities.count > 0 %>
            <%= render ToggleCard.new(title: t('entities.fm_dashboard2.investment_opportunities'), css_class: "show_ios") do %>
                <% investment_opportunities.each do |investment_opportunity| %>
                    <%= render "investment_opportunities/card", investment_opportunity: investment_opportunity, show_tags: true %>
                <% end %>
            <% end %>
        <% end %>

    <% end %>

</div>