<% if entity.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :entity_type %>
    <%= form.select :entity_type, Entity::TYPES, {}, {class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= form.label :industry %>
    <%= form.text_field :category, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control"  %>
  </div>

  <% if entity.entity_type == "Startup" %>

    <div class="form-group">
      <%= form.label :currency %>
      <%= form.select :currency, ENV["CURRENCY"].split(","), {}, class: "form-control"  %>
    </div>

  <% end %>

  <div class="form-group" data-controller="directuploads">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: "form-control", direct_upload: true %>
    <small class="text-muted"> 
      Upload your logo. 
    </small>  
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>


  <% if entity.entity_type == "Startup" %>

    <div class="form-group">
      <%= form.label :investor_categories %>
      <%= form.text_field :investor_categories, class: "form-control", 
        placeholder: "Comma separated list of investor categories e.x #{Investment::INVESTOR_CATEGORIES.join(",")}"  %>
      <small class="text-muted">Leave this blank to use defaults.</small>
    </div>

  <% end %>
  
  <%= form.text_field :id, class: "form-control", hidden: true   %>
  <div data-controller="entityform"></div>
