<% if entity.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", disabled: true  %>
  </div>

  <div class="form-group">
    <%= form.label :pan %>
    <%= form.text_field :pan, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :primary_email %>
    <%= form.text_field :primary_email, class: "form-control", disabled: true %>
  </div>


  <div class="form-group">
    <%= form.label :industry %>
    <%= form.text_field :category, class: "form-control"  %>
  </div>

  <%= form.fields_for :entity_setting do |entity_setting_subform| %>

    <div class="form-group">
      <%= entity_setting_subform.label :mailbox %>
      <%= entity_setting_subform.text_field :mailbox, class: "form-control"  %>
      <small>Email address for incoming email</small>
    </div>

    <% if entity.permissions.enable_kycs? %>
    <div class="form-group">
      <%= entity_setting_subform.label :individual_kyc_doc_list %>
      <%= entity_setting_subform.text_field :individual_kyc_doc_list, class: "form-control"  %>
      <small>Comma separated list of documents to be uploaded for Individual KYC</small>
    </div>

    <div class="form-group">
      <%= entity_setting_subform.label :non_individual_kyc_doc_list %>
      <%= entity_setting_subform.text_field :non_individual_kyc_doc_list, class: "form-control"  %>
      <small>Comma separated list of documents to be uploaded for Non Individual KYC</small>
    </div>

    <div class="form-group">
      <%= entity_setting_subform.label :kyc_docs_note %>
      <%= entity_setting_subform.rich_text_area :kyc_docs_note, class: "form-control"  %>
      <small>Instructions to users to upload the KYC documents.</small>
    </div>

    <% end %>

    <% if entity.permissions.enable_kpis? %>
    <div class="form-group">
      <%= entity_setting_subform.label :kpi_doc_list %>
      <%= entity_setting_subform.select :kpi_doc_list, ENV["KPI_DOCS"].split(","), {include_blank: false, include_hidden: false}, class: "form-control select2", multiple: true %>
      <small>Comma separated list of documents to be uploaded for KPIs</small>
    </div>
    <% end %>

  <% end %>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control"  %>
  </div>

  <% if entity.entity_type == "Company" %>

    <div class="form-group">
      <%= form.label :currency %>
      <%= form.select :currency, ENV["CURRENCY"].split(","), {}, class: "form-control"  %>
    </div>

  <% end %>


  <div class="form-group">

    <%= render "layouts/single_upload", form: form, field_label: "Upload Company Logo",
                            for_model: "entity", field_name: "logo",
                            model: entity %>

  </div>


  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>


  <% if ["Company", "Investment Fund", "Angel Fund"].include? entity.entity_type %>

    <div class="form-group">
      <%= form.label :investor_categories %>
      <%= form.text_field :investor_categories, class: "form-control",
        placeholder: "Comma separated list of investor categories e.x #{Investor.INVESTOR_CATEGORIES(entity).join(",")}"  %>
      <small class="text-muted">Leave this blank to use defaults.</small>
    </div>

  <% end %>

  <%= form.fields_for :entity_setting do |entity_setting_subform| %>
    <%= entity_setting_subform.text_field :id, hidden: true %>

    <div class="form-group">
      <%= entity_setting_subform.label :sandbox, "Sandbox" %>
      <%= entity_setting_subform.check_box :sandbox, class: "form-check-input"  %>
      <small class="text-muted">When sandbox is enabled, all notifications will be directed to sandbox email ids / phone numbers</small>
    </div>

    <div class="form-group">
      <%= entity_setting_subform.label :sandbox_emails %>
      <%= entity_setting_subform.text_field :sandbox_emails, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= entity_setting_subform.label :cc, "cc" %>
      <%= entity_setting_subform.text_field :cc, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= entity_setting_subform.label :sandbox_numbers %>
      <%= entity_setting_subform.text_field :sandbox_numbers, class: "form-control"  %>
    </div>

  <% end %>

  <div class="form-group">
      <%= form.label :enable_support %>
      <%= form.check_box :enable_support, class: "form-check-input"  %>
  </div>

  <%= form.text_field :id, class: "form-control", hidden: true   %>
  <div data-controller="entityform"></div>
