<% 
    entity_id = params[:entity_id].presence 
    entity = Entity.find(entity_id)
    investments = policy_scope(Investment).where(entity_id: entity_id).distinct
%>

<%= render "/entities/investor_dashboard_stats", entity: entity, investments: investments %>

<div data-controller="datatable">
    <div class="mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Investments</h6>
                <span>
                    <%= link_to "View All", investor_investments_aggregate_investments_path(entity_id: entity.id), class: "btn btn-outline-primary" if policy(entity).view_investments? %>
                </span>
            </div>
            <div class="card-body">
                <%= render "/investments/index", investments: investments, title: "Investments", entity: entity %>
            </div>
        </div>
    </div>
    <div class="row associated_entity">


        <% 
            if entity.valuations.count > 0
        %>

                    <div class="col-lg-6 mb-4">
                        <%= render "/holdings/investor_calc" %>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Projected Profits</h6>
                            </div>
                            <div class="card-body">
                                <%= investor_profits_chart(params, current_user, entity)  %>
                            </div>
                        </div>
                    </div>
            
        <% 
            end 
        %>
    </div>
    
</div>