<% params[:units] ||= "Million" %>

<%#= render "entities/vc_dashboard_stats" %>


<div data-controller="datatable">

    <% cache_if(current_user != nil, cache_key("vc_dashboard", include_theme: true), expires_in: 5.day) do %>

        <% if current_user.enable_funds && policy_scope(CapitalCommitment).count > 0 %>

            <%= render ToggleCard.new(title: "Funds", css_class: "show_funds") do %>
                <%= render "entities/vc_dashboard_menus" %>

                <% capital_commitments = policy_scope(CapitalCommitment).includes(:entity, :fund, :investor, :investor_kyc, :fund_ratios) %>

                <% capital_commitments.each do |cc| %>
                    <%= render "/capital_commitments/card", capital_commitment: cc %>
                <% end %>
            <% end %>

        <% end %>

        <% if current_user.enable_secondary_sale && policy_scope(Offer).count > 0 %>

            <%= render ToggleCard.new(title: "Offers", css_class: "show_offers") do %>

                <% offers = policy_scope(Offer).includes(:entity, :secondary_sale, :investor, :holding).where("secondary_sales.active=?", true) %>

                <% offers.each do |offer| %>
                    <%= render "/offers/card", offer: %>
                <% end %>
            <% end %>

        <% end %>


        <% if current_user.enable_secondary_sale && policy_scope(Interest).count > 0 %>

            <%= render ToggleCard.new(title: "Interests", css_class: "show_interests") do %>

                <% interests = policy_scope(Interest).includes(:entity, :secondary_sale, :investor).where("secondary_sales.active=?", true) %>

                <% interests.each do |interest| %>
                    <%= render "/interests/card", interest: %>
                <% end %>
            <% end %>

        <% end %>


        <% deal_investors = policy_scope(DealInvestor).includes(:investor, :deal)%>
        <% if current_user.enable_deals && deal_investors.count > 0 %>

            <%= render ToggleCard.new(title: "Deals", css_class: "show_deals") do %>

                <%= render "/deal_investors/investor_view", deal_investors: deal_investors %>

            <% end %>

        <% end %>

        <% investment_opportunities = policy_scope(InvestmentOpportunity) %>
        <% if investment_opportunities.count > 0 %>
            <%= render ToggleCard.new(title: "Investment Opportunities", css_class: "show_ios") do %>
                <% investment_opportunities.each do |investment_opportunity| %>
                    <%= render "investment_opportunities/card", investment_opportunity: investment_opportunity, show_tags: true %>
                <% end %>
            <% end %>
        <% end %>

    <% end %>


    <% entities = policy_scope(Entity).where(entity_type: "Company") %>
    <% if entities.count > 0 %>

        <div class="card shadow mb-4">
            <%= render ToggleCard.new(title: "Entities", css_class: "show_inv_entities", state: "") do %>
                <%= render "/entities/index",
                    entities:, vc_view: true %>
            <% end %>
        </div>

    <% end %>

</div>
