<div class="card shadow mb-4">

   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= link_to @entity.name, @entity %></h6>
   </div>

   <div class="card-body">

      <table class="table table-bordered dataTable ">
         <tr>
            <td>
               Logo
            </td>
            <td>
               <% if @entity.logo.present? %>
                  <img class="entity_logo" src="<%= (@entity.logo.url) %>">
               <% end %>
            </td>
         </tr>
         <tr>
            <td>
               PAN
            </td>
            <td>
               <%= @entity.pan %>
            </td>
         </tr>


         <tr>
            <td>
            Primary Email
            </td>
            <td>
            <%= @entity.primary_email %>
            </td>
         </tr>

         <tr>
            <td>
               Type
            </td>
            <td>
               <%= @entity.entity_type %>
            </td>
         </tr>
         <tr>
            <td>
               Url
            </td>
            <td>
               <%= @entity.url if @entity.url.present? %>
            </td>
         </tr>
         <tr>
            <td>
               Category
            </td>
            <td>
               <%= @entity.category %>
            </td>
         </tr>
         <tr>
            <td>
               Details
            </td>
            <td>
               <%= @entity.details %>
            </td>
         </tr>

         <% if current_user && current_user.entity_id == @entity.id %>
         <tr>
            <td>
               Currency
            </td>
            <td>
               <%= @entity.currency %>
            </td>
         </tr>

         <tr>
            <td>
               Sub Domain
            </td>
            <td>
               <%= @entity.sub_domain %>
            </td>
         </tr>

         <tr>
            <td>
               Mailbox
            </td>
            <td>
               <%= @entity.mailbox %>
            </td>
         </tr>

         <% if @entity.permissions.enable_kycs? %>
            <tr>
               <td>
                  KYC Document List (Individual)
               </td>
               <td>
                  <%= @entity.entity_setting.individual_kyc_doc_list %>
               </td>
            </tr>

            <tr>
               <td>
                  KYC Document List (Non Individual)
               </td>
               <td>
                  <%= @entity.entity_setting.non_individual_kyc_doc_list %>
               </td>
            </tr>

            <tr>
               <td>
                  KYC Documents Note
               </td>
               <td>
                  <%= @entity.entity_setting.kyc_docs_note&.html_safe %>
               </td>
            </tr>

         <% end %>

         <% if @entity.permissions.enable_kpis? %>
         <tr>
            <td>
               KPI Document List
            </td>
            <td>
               <%= @entity.entity_setting.kpi_doc_list %>
            </td>
         </tr>
         <% end %>

         <tr>
            <td>
               Sandbox
            </td>
            <td>
               <%= display_boolean @entity.entity_setting.sandbox %><br>
               <small class="text-muted">When sandbox is enabled, all notifications will be directed to sandbox email ids / phone numbers</small>
            </td>
         </tr>

         <tr>
            <td>
               Sandbox Emails
            </td>
            <td>
               <%= @entity.entity_setting.sandbox_emails %>
            </td>
         </tr>

         <tr>
            <td>
               cc Emails
            </td>
            <td>
               <%= @entity.entity_setting.cc %>
            </td>
         </tr>

         <tr>
            <td>
               Sandbox Numbers
            </td>
            <td>
               <%= @entity.entity_setting.sandbox_numbers %>
            </td>
         </tr>

         <tr>
            <td>
               Support Enabled
            </td>
            <td>
               <%= display_boolean @entity.permissions.enable_support? %>
            </td>
         </tr>

         <tr>
            <td>
               Access Enabled
            </td>
            <td>
               <%= "Documents," if @entity.permissions.enable_documents? %>
               <%= "Deals," if @entity.permissions.enable_deals? %>
               <%= "Funds," if @entity.permissions.enable_funds? %>
               <%= "Investment Opportunities," if @entity.permissions.enable_inv_opportunities? %>
               <%= "Investments," if @entity.permissions.enable_investments? %>
               <%= "Secondary Sale," if @entity.permissions.enable_secondary_sale? %>
               <%= "KPIs," if @entity.permissions.enable_kpis? %>
               <%= "KYCs," if @entity.permissions.enable_kycs? %>

               <%= "Fund Portfolios," if @entity.permissions.enable_fund_portfolios? %>
               <%= "Units," if @entity.permissions.enable_units? %>
               <%= "Account Entries," if @entity.permissions.enable_account_entries? %>
               <%= "Stakeholders," if @entity.permissions.enable_investors? %>
               <%= "Cap Table," if @entity.permissions.enable_captable? %>
               <%= "SEBI Fields" if @entity.permissions.enable_sebi_fields? %>
            </td>
         </tr>

         <% end %>

      </table>
      <div>
         <% if policy(@entity).edit? %>
            <%= link_to "Edit", edit_entity_path(@entity), {class: "btn btn-outline-primary"} %>
            <%= button_to "Add SEBI Fields", add_sebi_fields_entity_path(@entity),{class: "btn btn-outline-secondary", method: :patch} if policy(@entity).add_sebi_fields? %>
            <%= button_to "Remove SEBI Fields", remove_sebi_fields_entity_path(@entity),{class: "btn btn-outline-secondary", method: :patch} if policy(@entity).remove_sebi_fields? %>
            <%= link_to "View Payments", payments_path, {class: "btn btn-outline-success"} if @entity.entity_type == "Company" %>
         <% end %>
      </div>
   </div>
</div>

