
<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Viewing Folder: <%= @folder.name %></h1>
</div>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @folder.name %>
        <%= link_to "View Docs" , folder_documents_path(folder_id: @folder.id), class: "badge bg-primary" %>
      </td>
    </tr>
    <tr>
      <td>
        Parent Folder
      </td>
      <td>
        <%= @folder.parent&.full_path %>
        <%= link_to "View Folder" , folder_path(id: @folder.parent.id), class: "badge bg-success" if @folder.parent %>
      </td>
    </tr>
    <tr>
      <td>
        Full Path
      </td>
      <td>
        <%= @folder.full_path %>
      </td>
    </tr>

    <% if @folder.owner %>

      <tr>
        <td>
          Owner
        </td>
        <td>
          <%= link_to @folder.owner_type, @folder.owner %>
        </td>
      </tr>

    <% end %>

    <% if @folder.private %>

      <tr>
        <td>
          Private
        </td>
        <td>
          <%= display_boolean @folder.private %>
        </td>
      </tr>

    <% end %>

    <% if belongs_to_entity_id?(current_user, @folder.entity_id) %>
      <tr>
          <td>
            Defaults 
          </td>
          <td>
            Download <%= display_boolean @folder.download %>     
            &nbsp;&nbsp; Printing <%= display_boolean @folder.printing %>   
            &nbsp;&nbsp; Original <%= display_boolean @folder.orignal  %>   
            <% if @folder.entity.enable_ai_chat %>
              &nbsp;&nbsp; Knowledge Base <%= display_boolean @folder.knowledge_base %>
            <% end %>
          </td>
      </tr>

    <% end %>
                  



  </table>


  <div>
    
    <%= link_to "Upload / Edit" , edit_folder_path(@folder), {class: "btn btn-outline-primary" } if @folder.level !=0 && policy(@folder).update? %>

    <%= link_to "Create Sub Folder", new_folder_path("folder[entity_id]": current_user.entity_id, 
        "folder[parent_id]": @folder.id), 
        {class: "btn btn-outline-success"} %> 

    <%= button_to t_common(:delete) , @folder, method: :delete, class: "btn btn-outline-danger" , 
        form_class: "deleteButton" , 
        data: {action: "click->confirm#popup" , turbo:false} if policy(@folder).destroy? %> |

    <%= link_to "All Documents", documents_path, {class: "btn btn-outline-success"} %> 
  </div>

  <%= render "folders/folder_details" , folder: @folder %>