<tr>
    <td><%= chat.name %></td>
    <td><%= chat.user.full_name %></td>
    <td><%= link_to chat.owner if chat.owner %></td>
    <td><%= l chat.created_at %></td>
    <td>
        <%= link_to t_common(:view), chat_path(chat), class: "btn btn-outline-primary ti ti-eye" %>
        <%= button_to t_common(:delete), chat, method: :delete, class: "btn btn-outline-danger ti ti-trash", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} %>
    </td>
</tr>