<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Chats</h1>
  <span>
    <%= link_to "New Rule", new_chat_path, {class: "btn btn-outline-primary"}  %>
    <%= link_to "Download", chats_path(format: :xlsx), {class: "btn btn-outline-success"}  %>
  </span>
</div>

<%= render "/layouts/filter", associations: [] %>

<div class="table-responsive" data-controller="datatable">
  <table id="chats" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Date
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @chats.each do |chat| %>
        <%= render chat %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @chats %>
</div>