<%= turbo_frame_tag "chat_list", target: "_top" do %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Chats</h1>
  <span>
    <%= link_to "New Chat", new_chat_path(owner_id: params[:owner_id], owner_type: params[:owner_type]), {class: "btn btn-outline-primary"}  %>    
  </span>
</div>

<%= render "/layouts/filter", associations: [] %>

<div class="table-responsive" data-controller="datatable">
  <table id="chats" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          User
        </th>
        <th>
          Associated With
        </th>
        <th>
          Date
        </th>        
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @chats.each do |chat| %>
        <%= render chat %>
      <% end %>
    </tbody>
  </table>
  <%= raw pagy_bootstrap_nav(@pagy) %>
</div>

<% end %>