<%= form_with(model: holding, validate: true) do |form| %>
  <% if holding.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
        <% holding.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user %>
    <%= form.text_field :user_name, class: "form-control", value: holding.user&.full_name, disabled: true  %>
    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :entity %>
    <%= form.text_field :user_name, class: "form-control", value: holding.entity.name, disabled: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  </div>

  <% if holding.holding_type.blank? || holding.id.present? %>
  <div class="form-group">
    <%= form.label :holding_type %>
    <%= form.select :holding_type, ["Employee", "Founder"] , 
      {include_blank: true}, {class: "form-control"} %>
  </div>
  <% else %>
    <%= form.text_field :holding_type, class: "form-control", hidden: true  %>
  <% end %>

  <div class="form-group">
    <%= form.label :employee_id, "Employee ID" %>
    <%= form.text_field :employee_id, class: "form-control"  %>
  </div>

  <div data-controller="esop">

    <div class="form-group">
      <%= form.label :investment_instrument %>
      <%= form.select :investment_instrument, Investment.INSTRUMENT_TYPES(current_user&.entity) , 
        {include_blank: true}, {class: "form-control", data: {action: "change->esop#onChange"} } %>
    </div>

    <div class="form-group funding_round_group" >
      <%= form.label :funding_round %>
      <%= form.select :funding_round_id, current_user.entity.funding_rounds.open.collect {|u| [u.name, u.id]}, 
        {include_blank: true}, {class: "form-control"} %>
      <small class="text-muted">Create a <%= link_to "New Funding Round", new_funding_round_path %></small> 
    </div>


    <div class="form-group option_pool_group">
      <%= form.label :option_pool_id, "Option Pool" %>
      <%= form.select :option_pool_id, current_user.entity.option_pools.approved.map {|u| [u.name, u.id]},
        {include_blank: true}, {class: "form-control"} %>
      <small class="text-muted">Create a <%= link_to "New Option Pool", new_option_pool_path %></small> 

    </div>


    <div class="form-group">
      <%= form.label :grant_date %>
      <%= form.date_field :grant_date, class: "form-control"  %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :orig_grant_quantity, "Grant Quantity" %>
    <%= form.number_field :orig_grant_quantity, class: "form-control"  %>
  </div>

  <% if holding.manual_vesting %>
    <div class="form-group">
      <%= form.label :vested_quantity, "Vested Quantity" %>
      <%= form.number_field :vested_quantity, class: "form-control"  %>
    </div>
  <% end %>

  <div class="form-group funding_round_group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :manual_vesting %>
    <%= form.check_box :manual_vesting, class: "form-control form-checkbox"  %>
    <small class="text-muted">Only if you want the options to be manually vested. This will ignore the vesting schedule</small> 
  </div>

  <%= custom_form_fields(holding, form) %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
