<tr id="holding_<%= holding.id %>">
  <td class="hideMobP">
    <%= current_user.entity_id == holding.entity_id ?  
        link_to(holding.funding_round.name, holding.funding_round) : holding.funding_round.name  %>
  </td>
  <td class="hideMobP">
    <%= holding.holding_type %>
  </td>
  <td>
    <%= holding.user ? holding.user.full_name : holding.investor.investor_name %>
  </td>
  <td>
    <%= holding.employee_id %>
  </td>
  <td>
    <%= holding.investment_instrument %>
  </td>
  <td class="hideMobP">
    <%= custom_format_number holding.quantity, params %>    
  </td>
  <td>
    <% if holding.cancelled %>
      <% if holding.cancelled_quantity == holding.orig_grant_quantity %>
        <span class="badge bg-danger">
          Cancelled
        </span>
      <% else %>
        <span class="badge bg-danger">
          Partial Cancel
        </span>
      <% end %>
    <% elsif holding.approved %>
        <span class="badge bg-success">
          Approved
        </span>
    <% end %>
  </td>
  
  <% if only_options.present? %>
    <td class="hideMobP">
      <%= custom_format_number holding.vested_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.excercised_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.net_avail_to_excercise_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.lapsed_quantity, params %>
    </td>
    <td class="hideMobP">
      <%= custom_format_number holding.net_unvested_quantity, params %>
    </td>
    
    <td class="hideMobP">
      <%= l holding.grant_date if holding.grant_date %>
    </td>
    <td class="hideMobP">
      <%=  Time.zone.today.year * 12 + Time.zone.today.month  - holding.grant_date.year * 12 - holding.grant_date.month  if holding.grant_date %> 
    </td>
  <% end %>

  <td class="hideMobP">
    <%= custom_format_number holding.price, params %>
  </td>
  <td>
    <%= money_to_currency holding.value, params %>
  </td>


  <td>
    <%= link_to "Show" , holding , {class: "btn btn-primary" }%>
    
    <% if current_user.entity_id != holding.entity_id %>
      <% if secondary_sale && Pundit.policy(current_user, secondary_sale).offer? %>
        <!-- We are in the secondary_sale page -->
        <%= link_to "Offer" , new_offer_path("offer[secondary_sale_id]": secondary_sale.id, 
                              "offer[holding_id]": holding.id, "offer[investor_id]": holding.investor_id) , 
              {class: "btn btn-success" } if ["Equity", "Preferred"].include?(holding.investment_instrument) %>

      <% elsif  holding.investment_instrument != "Options" && 
                holding.active_secondary_sale && 
                Pundit.policy(current_user, holding.active_secondary_sale).offer? %>
        <!-- We are in the holdings -->
        <%= link_to "Secondary Sale" , secondary_sale_path(holding.active_secondary_sale) , 
              {class: "btn btn-success" }   %>

      <% end %>

      <%= button_to "Acknowledge" , emp_ack_holding_path(holding), method: :patch, class: "btn btn-success" , form_class: "deleteButton", data: {turbo:false} if policy(holding).emp_ack? && !holding.emp_ack  %>
    <% end %>
  </td>
</tr>