<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <% title ||= "Holdings" %>
    <h1 class="h3 mb-0 text-gray-800"><%=title%></h1>
    <span>
        <!-- We have to show the employee investors screen from which we can add holdings -->
        <% investor=current_user&.entity.investors.where(is_holdings_entity: true).first %>
        <span>
            <%= link_to "New Holding" , investor_path(investor, tab: "investors-tab" ), {class: "btn btn-primary" } if investor %>

            
            <%= link_to "Upload Holdings", 
            new_import_upload_path("import_upload[owner_id]": current_user.entity_id, 
                "import_upload[owner_type]": "Entity", 
                "import_upload[import_type]": "Holding", 
                "import_upload[entity_id]": current_user.entity_id,
                "sample_upload": "HOLDINGS_SAMPLE"), 
                { class: "btn btn-primary"} if investor  %> 


            <% if @option_pool && policy(@option_pool).approve_all_holdings? %>
                <%= button_to "Approve All Holdings" , 
                    approve_all_holdings_holdings_path(option_pool_id: @option_pool.id), 
                    method: :post, class: "btn btn-success" , form_class: "deleteButton", 
                    data: {turbo:false}  %>

            <% elsif policy(current_user.entity).approve_all_holdings? %>
                <%= button_to "Approve All Holdings" , 
                    approve_all_holdings_holdings_path(), 
                    method: :post, class: "btn btn-success" , form_class: "deleteButton", 
                    data: {turbo:false}  %>

            <% end %>
        </span>
    </span>
</div>
<% only_options ||= nil %>

<div class="table-responsive">

    <table id="holdings" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th class="hideMobP">
                    Funding Round
                </th>
                <th class="hideMobP">
                    Type
                </th>
                <th>
                    Investor
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Instrument
                </th>
                <th class="hideMobP">
                    Quantity
                </th>
                <th class="hideMobP">
                    Status
                </th>
                <% if only_options.present? %>
                    <th class="hideMobP">
                        Vested
                    </th>
                    <th class="hideMobP">
                        Excercised
                    </th>
                    <th class="hideMobP">
                        Net Avail For Excercise
                    </th>
                    <th class="hideMobP">
                        Lapsed
                    </th>
                    <th class="hideMobP">
                        Net Unvested
                    </th>
                    <th class="hideMobP">
                        Grant Date
                    </th>  
                    <th class="hideMobP">
                        Months Elapsed
                    </th>                                        
                <% end %>

                <th class="hideMobP">
                    Price
                </th>
                <th>
                    Value
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% holdings.each do |holding| %>
                <%= render "/holdings/holding", holding: holding, secondary_sale: secondary_sale, only_options: only_options %>
            <% end %>
        </tbody>
    </table>

</div>

<%= paginate @holdings %>
