<% if policy_scope(Holding).eq_and_pref.count > 0 && %>

<%= turbo_frame_tag "investor_calc" do %>
  <%  price_growth, tax_rate, estimated_taxes, estimated_profit, 
      cost_neutral_sale, last_valuation, holding_value = 
      InvestorSummary.new(params, current_user).investor_summary %>

    <form id="investor_calc_form" action="/holdings/investor_calc" method="post">
      <input type="text" id="entity_id" name="entity_id" value="<%= params['entity_id'] %>" hidden="hidden" />
      <div class="card">
        <div class="card-header py-3">
          <span>
            <span class="m-0 font-weight-bold text-primary">Calculator</span>
          </span>
        </div>
        <div class="card-body">
          <table class="table table-bordered dataTable">

            <tr>
              <td>Total Value Of Equity</td>
                <td>
                  <%= money_to_currency holding_value, params %>
                </td>
            </tr>
            <tr>
              <td>
                Growth in share price from the last price 
                <span class="desc text-info">Last Valuation <%= money_to_currency last_valuation, params %></span>
              </td>
              <td>
                <input type="text" id="price_growth" name="price_growth" value="<%= price_growth %>"
                  class="form-control small_text" />
              </td>
            </tr>
            <tr>
              <td>
                Estimated pre-Tax Profits.
                <span class="desc text-info">(Per share value * Price Growth - Purchase Price) * Quantity</span>
              </td>
              <td>
                <%= money_to_currency estimated_profit, params %>
              </td>
            </tr>
            <tr>
              <td>Your Tax Slab Rates</td>
              <td>
                <input type="text" id="price_growth" name="tax_rate" value="<%= tax_rate %>" class="form-control small_text" />
              </td>
            </tr>
            <tr>
              <td>
                Estimated taxes for exercising as per last Valuation.
                <span class="desc text-info">Estimated Profit * Tax Rate</span>
              </td>
              <td>
                <%= money_to_currency estimated_taxes, params %>
              </td>
            </tr>
            <tr>
              <td>Number of share to be sold be cash neutral</td>
              <td>
                <%= cost_neutral_sale.round(0 ) %>
              </td>
            </tr>
          </table>
          <input type="submit" name="commit" value="Calculate" class="btn btn-primary float-right"
            data-disable-with="Calculate">
        </div>
      </div>

    </form>

<% end %>

<% end %>