<table class="table table-bordered dataTable">

    <tr>
      <td>
        Type
      </td>
      <td>
        <%= @holding.holding_type %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <% if @holding.user %>
          <%=  @holding.user.full_name %>, <%= @holding.user.email %>
        <% else %>

          <%= current_user.entity_id == @holding.entity_id ?  
              link_to(@holding.investor.investor_name, @holding.investor) : @holding.investor.investor_name  %>

        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Employee ID
      </td>
      <td>
        <%= @holding.employee_id %>
      </td>
    </tr>

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Instrument
      </td>
      <td>
        <%= @holding.investment_instrument %>
      </td>
    </tr>
    <tr>
      <td>
        Grant Quantity
      </td>
      <td>
        <%= custom_format_number @holding.orig_grant_quantity, params %>
      </td>
    </tr>
    <tr>
      <td>
        Current Quantity
      </td>
      <td>
        <%= custom_format_number @holding.quantity, params %>        
      </td>
    </tr>

    <tr>
      <td>
        Company Approval
      </td>
      <td>
        <% if @holding.cancelled %>
          <% if @holding.cancelled_quantity == @holding.orig_grant_quantity %>
            <span class="badge bg-danger">
              Cancelled
            </span>
          <% else %>
            <span class="badge bg-danger">
              Partial Cancel
            </span>
          <% end %>
          
        <% elsif @holding.approved %>
          <span class="badge bg-success">
            Approved
          </span>
        <% end %>
      </td>
    </tr>
    
    <% if @holding.investment_instrument == "Options" %>

      <tr>
        <td>
          Employee Acknowledgement
        </td>
        <td>
          <% if @holding.emp_ack %>
            <span class="badge bg-success">
              Acknowledged
            </span>
          <% else %>
            <span class="badge bg-warning">
              Not Acknowledged
            </span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          Option Pool
        </td>
        <td>
          <%= link_to  @holding.option_pool.name, @holding.option_pool if @holding.option_pool %>
        </td>
      </tr>
      <tr>
        <td>
          Grant Date
        </td>
        <td>
          <%= l @holding.grant_date if @holding.grant_date %>
        </td>
      </tr>
      <tr>
        <td>
          Vested Quantity
        </td>
        <td>
          <%= custom_format_number @holding.vested_quantity, params %>
        </td>
      </tr>
      <tr>
        <td>
          Unvested Quantity
          </br> 
          (Granted - Vested)
        </td>
        <td>
          <%= custom_format_number @holding.net_unvested_quantity, params %>
        </td>
      </tr>

      <tr>
        <td>
          Excercised Quantity
        </td>
        <td>
          <%= custom_format_number @holding.excercised_quantity, params %>
        </td>
      </tr>
      <tr>
        <td>
          UnExcercised Quantity
          </br>
          (Vested - Excercised)
        </td>
        <td>
          <%= custom_format_number @holding.net_avail_to_excercise_quantity, params %>
        </td>
      </tr>
      
      <% if @holding.lapsed %>      
        <tr>
          <td>
            Lapsed Quantity
          </td>
          <td>
            <%= custom_format_number @holding.lapsed_quantity, params %>
          </td>
        </tr>
      <% end %>


      <% if @holding.cancelled %>      
        <tr>
          <td>
            Cancelled Quantity
          </td>
          <td>
            <%= custom_format_number @holding.cancelled_quantity, params %>
          </td>
        </tr>
      <% end %>

      <% if current_user %>
          <% if @holding.manual_vesting %>

            <tr>
              <td>
                Manual Vesting
              </td>
              <td>
                <span class="badge <%= @holding.manual_vesting ? 'bg-success' : 'bg-warning' %>">
                  <%= @holding.manual_vesting ? "Yes" : "No" %>
                </span>
              </td>
            </tr>
          <% else %>
            <tr>
              <td>
                  Schedule
              </td>
              <td>
                  
                  <ul class="vesting_schedule">
                  <% @holding.vesting_schedule.each do |schedule| %>
                      <li>
                      On <%= l schedule[0] %>, 
                      <%= schedule[1] %>% of your Options,
                      which is <%= schedule[2] %> Options, can be vested.
                      </li>
                  <% end %>
                  </ul>
              </td>
            </tr>
          <% end %>
      <% end %>

      <% if params[:debug].present? %>
        <tr>
          <td>
            Gross Available To Excercise
          </td>
          <td>
            <%= @holding.gross_avail_to_excercise_quantity %>            
          </td>
        </tr>
        <tr>
          <td>
            UnExcercised Cancelled Quantity
          </td>
          <td>
            <%= @holding.unexcercised_cancelled_quantity %>            
          </td>
        </tr>
        <tr>
          <td>
            Net Available To Excercise
          </td>
          <td>
            <%= @holding.net_avail_to_excercise_quantity %>            
          </td>
        </tr>
        <tr>
          <td>
            Gross Unvested Quantity
          </td>
          <td>
            <%= @holding.gross_unvested_quantity %>            
          </td>
        </tr>
        <tr>
          <td>
            Unvested Cancelled Quantity
          </td>
          <td>
            <%= @holding.unvested_cancelled_quantity %>            
          </td>
        </tr>
        <tr>
          <td>
            Net Unvested Quantity
          </td>
          <td>
            <%= @holding.net_unvested_quantity %>            
          </td>
        </tr>
        
      <% end %>
    
    <% else # ends if Options %>
      
      <tr>
        <td>
          Price
        </td>
        <td>
          <%= custom_format_number @holding.price, params %>
        </td>
      </tr>
      <tr>
        <td>
          Value
        </td>
        <td>
          <%= money_to_currency @holding.value, params %>
        </td>
      </tr>
      
    <% end %>
    
    <%= display_custom_fields(@holding) %>



</table>