<div class="esop_grant_letter">

    <%= image_tag image_url(rails_blob_path(@holding.entity.logo)), 
        style: "float:right; margin:0px; padding:0px; max-width:200px; max-height:200px;" if @holding.entity.logo.present? %>
    <p class="line">
        <%= l @holding.grant_date %>
        </br>
        <%= @holding.user.full_name %>
    </p>

    <p class="subject" style="font-weight: bold; font-size: 1.2em;">Subject:  Grant of ESOPs</p>
    
    
    <p class="line">Dear <%= @holding.user.full_name %></p>
    
    <p class="line">Thank you for being an invaluable part of <%= @holding.entity.name %>.</p>
    
    
    <p class="line">We are delighted to confirm the grant of <%= @holding.orig_grant_quantity %> as part of <%= @holding.entity.name %>’s <%= @holding.option_pool.name %> .</p>
    
    <p class="line">The options granted to you will be exercisable as per the below schedule at a price of <%= money_to_currency @holding.price %>.</p>
    
    <p class="line">
    <ul class="vesting_schedule">
        <% @holding.vesting_schedule.each do |schedule| %>
          <li>
            On <%= l schedule[0] %>, 
            <%= schedule[1] %>% of your Options,
            which is <%= schedule[2] %> Options, can be vested.
          </li>
        <% end %>
    </ul>
    </p>

    <p class="line">
    Shares once vested will have a period of <%= @holding.option_pool.excercise_period_months %> months to be exercised. 
    </p>
    
    <p class="line">
    You are requested to refer to the ESOP Pool Scheme a copy of which has been provided to you for details and contact the HR team for any clarifications you may require on the same.  
    </p>
    <p class="line">Best Regards</p>
    
    <p class="line">Digital Signature</p>

    <p class="line">
      <%= image_tag image_url(@holding.option_pool.certificate_signature_url), 
          style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if @holding.option_pool.certificate_signature.present? %>
    </p>

    <p class="line"> Authorised Signatory </p>

</div>