<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% if f.object.class.name == "EntitySetting" %>
    <% EntitySetting.custom_flags.pairs.each do |key, val| %>
        <div class="form-group col">
          <%= f.label :custom_flags, key.titleize, class: "no-wrap" %>
          <%= f.check_box :custom_flags, {name: "entity[entity_setting_attributes][custom_flags][]",
              val: val, id: "custom_flags_#{val}", class: "form-check-input"}, val %>
        </div>
    <% end %>
  <% elsif f.object.class.name == "User" %>
    <% User.permissions.pairs.each do |key, val| %>
        <div class="form-group col">
          <%= f.label :permissions, key.titleize, class: "no-wrap" %>
          <%= f.check_box :permissions, {name: "user[permissions][]",
              val: val, id: "permissions_#{val}", class: "form-check-input"}, val %>
        </div>
    <% end %>
  <% elsif f.object.class.name == "Entity" && field.attribute == :permissions %>
    <% Entity.permissions.pairs.each do |key, val| %>
        <div class="form-group col">
          <%= f.label :permissions, key.titleize, class: "no-wrap" %>
          <%= f.check_box :permissions, {name: "entity[permissions][]",
              val: val, id: "permissions_#{val}", class: "form-check-input"}, val %>
        </div>
    <% end %>
  <% elsif f.object.class.name == "Entity" && field.attribute == :support_agents %>
    <% Entity.support_agents.pairs.each do |key, val| %>
        <div class="form-group col">
          <%= f.label :support_agents, key.titleize, class: "no-wrap" %>
          <%= f.check_box :support_agents, {name: "entity[support_agents][]",
              val: val, id: "support_agents_#{val}", class: "form-check-input"}, val %>
        </div>
    <% end %>
  <% elsif f.object.class.name == "Entity" && field.attribute == :customization_flags %>
    <% Entity.customization_flags.pairs.each do |key, val| %>
        <div class="form-group col">
          <%= f.label :customization_flags, key.titleize, class: "no-wrap" %>
          <%= f.check_box :customization_flags, {name: "entity[customization_flags][]",
              val: val, id: "customization_flags_#{val}", class: "form-check-input"}, val %>
        </div>
    <% end %>
  <% else %>
    Edit ActiveFlagField _form partial to add custom fields
    <%= f.text_field field.attribute, disabled: true %>
  <% end %>
</div>
