<% target ||= "_top" %>
<tr id="<%= dom_id ci_widget %>">
  <td>
    <%= ci_widget.title %>
  </td>
  <td>
    <%= ci_widget.details&.html_safe %>
  </td>
  <td>
    <%= ci_widget.image_placement %>
  </td>
  <td>
    <%= link_to  t_common(:show), ci_widget , {class: "btn btn-outline-primary", target: target}%>
  </td>
</tr>
