      <% investment_opportunity.ci_widgets.each_with_index do |widget, idx| %>
        <% color = "primary" %>
                
        <div class="associated_entity">
          <section class="hero-section position-relative overflow-hidden mb-0 mb-lg-5">
            <div class="container">
              

              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4 class="card-title mb-0"><%= widget.title %></h4>
                  <div class="card-actions cursor-pointer ms-auto d-flex button-group">
                    <a class="link d-flex text-white align-items-center" data-action="collapse"><i class="ti ti-minus fs-6"></i></a>
                    <a class="mb-0 text-white btn-minimize px-2 cursor-pointer link d-flex align-items-center" data-action="expand"><i class="ti ti-arrows-maximize fs-6"></i></a>
                    <!-- a class="mb-0 link text-white d-flex align-items-center pe-0 cursor-pointer" data-action="close">
                      <i class="ti ti-x fs-6"></i>
                    </a -->
                  </div>
                </div>
                <div class="card-body collapse show">
                  <div class="row align-items-center">
                    <% if widget.image_placement == "Right" %>
                      <%= render "/ci_widgets/media", widget: widget %>
                      <%= render "/ci_widgets/details", widget: widget, color: color %>
                    <% else %>
                      <%= render "/ci_widgets/details", widget: widget, color: color %>
                      <%= render "/ci_widgets/media", widget: widget %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      <% end %>

              