<% owner.ci_widgets.each_with_index do |widget, idx| %>
  <% color = "primary" %>

  <div class="io-preview-container mb-5">
      <div class="preview-section-card">
        <div class="card-header-clean">
            <h4>
                <%= widget.title %>
            </h4>
            <div class="card-actions cursor-pointer ms-auto d-flex button-group">
                <a class="link d-flex text-secondary align-items-center" data-action="collapse">
                    <i class="ti ti-minus fs-6"></i>
                </a>
                <a class="mb-0 text-secondary btn-minimize px-2 cursor-pointer link d-flex align-items-center" data-action="expand">
                    <i class="ti ti-arrows-maximize fs-6"></i>
                </a>
            </div>
        </div>

        <div class="card-body-clean collapse show">
            <div class="row align-items-center">
                <%= render "/ci_widgets/details_center", details: widget.details_top, color: color if !widget.details_top.blank?%>

                <% if widget.image_placement == "Right" %>
                  <%= render "/ci_widgets/media", widget: widget %>
                  <%= render "/ci_widgets/details", widget: widget, color: color %>
                <% elsif widget.image_placement.casecmp?("center") %>
                  <%= render "/ci_widgets/media", widget: widget %>
                  <%= render "/ci_widgets/details_center", details: widget.details, color: color if !widget.details.blank?%>
                <% else %>
                  <%= render "/ci_widgets/details", widget: widget, color: color %>
                  <%= render "/ci_widgets/media", widget: widget %>
                <% end %>
            </div>
        </div>
      </div>
  </div>
<% end %>
