<%= render FormCard.new(title: "Note") do %>

<%= form_with(model: note, validate: true) do |form| %>
  <% if note.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if note.investor_id.present? %>
  <div class="form-group">
    <%= form.label :investor %>
    <%= form.text_field :investor_name, class: "form-control", disabled: "disabled", value: @note.investor.investor_name  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  </div>
  
  <% else %>
    <div class="form-group">
      <%= form.label :investor %>
      <%= form.select :investor_id, 
        current_user.entity.investors.includes(:investor_entity).order("entities.name").map{|c| [c.investor_name, c.id]}, 
        {include_blank: true}, class: "form-control select2"  %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :on %>
    <%= form.date_field :on, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control trix-content"  %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: "form-control"  %>
    <span class="text-muted">Comma separated tags</span>
  </div>

  <%= form.fields_for :reminder do |reminder_subform| %>

      <div class="form-group">
        <%= reminder_subform.label :email, "Reminder Emails" %>
        <%= reminder_subform.text_field :email, class: "form-control"  %>
        <small class="text-muted">Comma separated emails to send reminder to.</small>
      </div>

      <div class="form-group">
        <%= reminder_subform.label :due_date, "Reminder Date" %>
        <%= reminder_subform.date_field :due_date, class: "form-control"  %>
      </div>

  <% end %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>

  </div>
</div>

<% end %>
