<% investor_id = params[:investor_id] || params[:owner_id] %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% header = defined?(title) ? title : "Notes" %>
  <h1 class="h3 mb-0 text-gray-800"><%= header %></h1>
  <%= link_to "New Note", new_note_path("note[investor_id]": investor_id, "note[entity_id]": current_user.entity_id), {class: "btn btn-outline-primary"}  %>
</div>

<%=render SearchComponent.new(data_source: notes_path(params: params.to_unsafe_h), turbo_frame: "notes_frame") %>

<div class="table-responsive">

  <table id="notes" class="table table-bordered dataTable ">
    <thead>
      <tr>
        <th>
          <%= sort_link @q, :user_first_name, "User" %>
        </th>
        <th>
          <%= sort_link @q, :on, "On" %>
        </th>
        <th>
          <%= sort_link @q, :investor_investor_name, "Stakeholder" %>
        </th>
        <th>
          <%= sort_link @q, :tags %>
        </th>
        <th>
          Details
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% notes.each do |note| %>
        <%= render partial: "/notes/note", locals: {note: note} %>
      <% end %>
    </tbody>

  </table>
  <% if notes.present? %>
    <%= page_entries_info notes, entry_name: 'item' %>
    <%= paginate notes, data: {turbo_frame: "notes_frame"} %>
  <% end %>

</div>

