
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Deal Doc</h6>
  </div>
  <div class="card-body">

<%= form_with(model: deal_doc, validate: true) do |form| %>
  <% if deal_doc.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(deal_doc.errors.count, "error") %> prohibited this deal_doc from being saved:</h2>

      <ul>
        <% deal_doc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :deal %>
    <%= form.text_field :deal_name, class: "form-control", value: deal_doc.deal_name, disabled: "disabled" %>
    <%= form.text_field :deal_id, class: "form-control", hidden: true  %>
  </div>

  <% if deal_doc.deal_activity.present? %>
  <div class="form-group">
    <%= form.label :deal_activity %>
    <%= form.text_field :deal_activity, class: "form-control", value: deal_doc.deal_activity_title, disabled: "disabled" %>
    <%= form.text_field :deal_activity_id, class: "form-control", hidden: true  %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="text-muted">Comma separated list of tags to classify the document</small>
  </div>
  
  <div class="form-group">
    <%= form.label :deal_investor_id %>
    <%= form.select :deal_investor_id, 
        deal_doc.deal.deal_investors.includes(:investor).map{|i| [i.investor_name, i.id]}, 
        {include_blank: true}, class: "form-control" %>

    <small class="text-muted">Leave this blank to allow all deal investors access to this document. Or select and limit it to a specific investor</small>
  </div>

  <div class="form-group">
    <%= form.label :file %>
    <%= form.file_field :file, class: "form-control" %>
    <small class="text-muted">Max 10Mb. Must be only documents or images</small>

  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>

  </div>
</div>
    