<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable ">
   <tr>
      <td>
         Name
      </td>
      <td>
         <%= link_to @deal_doc.file.expiring_url() do %>
            <i class="fas fa-download"></i>
            <%= @deal_doc.name.capitalize %>
         <% end %>
      </td>
   </tr>
   <tr>
      <td>
         Tags
      </td>
      <td>
         <%= @deal_doc.tag_list.join(", ") %>
      </td>
   </tr>
   <tr>
      <td>
         Deal
      </td>
      <td>
         <%= (current_user.entity_id == @deal_doc.deal.entity_id) ? 
            link_to(@deal_doc.deal_name, @deal_doc.deal) : @deal_doc.deal_name %>
      </td>
   </tr>
   <tr>
      <td>
         Potential Investment
      </td>
      <td>
         <%= @deal_doc.deal_investor_id  ? @deal_doc.investor_name : " All" %>
      </td>
   </tr>
   <% if @deal_doc.deal_activity_id %>
   <tr>
      <td>
         Deal Step
      </td>
      <td>
         <%= @deal_doc.deal_activity_title %>
      </td>
   </tr>
   <% end %>
   <tr>
      <td>
         User
      </td>
      <td>
         <%= @deal_doc.user.name %>
      </td>
   </tr>
</table>
<div>
   <%= link_to "Edit" , edit_deal_doc_path(@deal_doc), {class: "btn btn-primary" } %> |
   <%= button_to "Delete" , @deal_doc, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
</div>