<%= render FormCard.new(title: "Stock Conversions : #{stock_conversion.presence || 'New'}") do %>
  <%= form_with(model: stock_conversion, validate: true) do |form| %>
    <% if stock_conversion.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(stock_conversion.errors.count, "error") %> prohibited this stock_conversion from being saved:</h2>
        <ul>
          <% stock_conversion.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
      <%= form.text_field :from_portfolio_investment_id, class: "form-control", hidden: true  %>
      <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
      <%= form.text_field :from_instrument_id, class: "form-control", hidden: true  %>
    

    <div class="form-group">
      <%= form.label :from_instrument_id %>
      <%= form.text_field :from_instrument_id, value: stock_conversion.from_portfolio_investment.investment_instrument, class: "form-control", disabled: true, name: "from_instrument_name" %>
    </div>
    <div class="form-group">
      <%= form.label :from_quantity %>
      <%= form.text_field :from_quantity, class: "form-control"  %>
      <span class="text-muted">Quantity you want to convert. Cannot exceed <%= stock_conversion.from_portfolio_investment.net_quantity %> </span>
    </div>
    <div class="form-group">
      <%= form.label :to_instrument_id %>
      <%= form.select :to_instrument_id, stock_conversion.from_portfolio_investment.portfolio_company.investment_instruments.map{|i| [i.name, i.id]}, {}, class: "form-control"  %>
      <span class="text-muted">The instrument to which you want to convert</span>
    </div>
    <div class="form-group">
      <%= form.label :to_quantity %>
      <%= form.number_field :to_quantity, class: "form-control", step: :any  %>
      <span class="text-muted">The quantity of the new instrument</span>
    </div>
    <div class="form-group">
      <%= form.label :conversion_date %>
      <%= form.date_field :conversion_date, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>
<% end %>