
    <div class="row">

        
        <div class="col mb-4">
            <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Called
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_call.call_amount, params) %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col mb-4">
            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Collected
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_call.collected_amount, params) %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if capital_call.percentage_called > 0 %>
        <div class="col mb-4">
            <div class="card border-left-warning shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Percentage
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= capital_call.percentage_called %> %</div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

        <% if capital_call.amount_to_be_called_cents > 0 %>
        <div class="col mb-4">
            <div class="card border-left-warning shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Amount To Be Called
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency capital_call.amount_to_be_called, params %> %</div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

        
        <div class="col mb-4">
            <div class="card border-left-info shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Due
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_call.due_amount, params) %></div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
        <div class="col mb-4">
            <div class="card border-left-warning shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Applicable                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <%= capital_call.fund_closes.join(",") %>
                            </div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col mb-4">
            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Due Date
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <%=l capital_call.due_date %>
                            </div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        

    </div>
