<%= render FormCard.new(title: "Capital Call : #{capital_call.name}") do %>

  <%= form_with(model: capital_call, validate: true) do |form| %>
    <% if capital_call.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(capital_call.errors.count, "error") %> prohibited this capital call from being saved:</h2>
        <ul>
          <% capital_call.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div data-controller="call-copy">

      <%= form.text_field :entity_id, class: "form-control", hidden: true %>
      <%= form.text_field :fund_id, class: "form-control", hidden: true %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :call_basis %>
        <%= form.select :call_basis, capital_call.call_basis_list, {}, { class: "form-control", data: { action: "change->call-copy#call_basis_changed" } } %>
        <small class="text-muted">Select how the remittance amounts are computed</small>
      </div>

      <div class="form-group" id="applicable-to-group">
        <%= form.label :fund_closes, "Applicable To" %>
        <%
          closes = ["All"] 
          closes += capital_call.fund.capital_commitments.pluck(:fund_close).uniq 
        %>
        <%= form.select :fund_closes, closes, { include_blank: false, include_hidden: false }, 
                        class: "form-control select2 select2-multiple", multiple: "multiple" %>
      </div>

      <div id="close-percentages-container" class="field-group">
        <% capital_call.fund.capital_commitments.pluck(:fund_close).uniq.each_with_index do |fund_close, index| %>
          <% close_name = fund_close %>
          <% percentage_value = capital_call.close_percentages&.dig(close_name) || 0 %>

          <div class="row">
            <div class="form-group col-md-4">
              <%= form.label "Percentage for #{close_name}" %>
              <%= form.number_field :close_percentages, step: :any, class: "form-control percentage", 
                  name: "capital_call[close_percentages][#{close_name}]", 
                  id: "#{close_name}_percentage", value: percentage_value %>
            </div>
          </div>

          <% if index == 0 %>
            <small><a href="#" data-action="click->call-copy#copy_all" class="small_text">Copy To All</a></small>
          <% end %>
        <% end %>
      </div>

      <div id="percentage-fields-container"></div>

      <!-- Global Percentage Called field that will be hidden if specific closes are selected -->
      <div class="form-group" id="percentage_called_group">
        <%= form.label :percentage_called %>
        <%= form.number_field :percentage_called, class: "form-control", step: :any %>
        <small class="text-muted">Write 100 for 100%</small>
      </div>

      <div class="form-group" id="amount_to_be_called_group" data-controller="currencyformat">
        <%= form.label :amount_to_be_called %> <span class="formatted_currency"></span>
        <%= form.number_field :amount_to_be_called, class: "form-control", data: { action: "input->currencyformat#format" } %>
        <small class="text-muted">Total amount to be called, Call basis will be used for each folio.</small>
      </div>

      <div class="form-group">
        <%= form.label :call_date %>
        <%= form.date_field :call_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :due_date %>
        <%= form.date_field :due_date, class: "form-control" %>
      </div>

      <% if capital_call.fund.unit_types.present? %>
        <div id="price-container" class="field-group" >
          <% capital_call.fund.unit_types.split(",").each_with_index do |unit_type, index| %>
            <% 
              unit_type = unit_type.strip 
              price = capital_call.unit_prices[unit_type] ? capital_call.unit_prices[unit_type]["price"] : 0
              premium = capital_call.unit_prices[unit_type] ? capital_call.unit_prices[unit_type]["premium"] : 0
            %>
            <div class="row">  
              <div class="form-group col-md-4">
                <%= form.label :unit_type, "#{unit_type} Unit Price" %>
                <%= form.number_field :unit_type, step: :any, class: "form-control price", 
                    name: "capital_call[unit_prices][#{unit_type}][price]", 
                    id: "#{unit_type}_price", value: price %>
              </div>
              <div class="form-group col-md-3">
                <%= form.label :unit_type, "Premium" %>      
                <%= form.number_field :unit_type, step: :any, class: "form-control premium", 
                    name: "capital_call[unit_prices][#{unit_type}][premium]", 
                    id: "#{unit_type}_premium", value: premium %>
              </div>
              <% if index == 0 %>
                <small><a href="#" data-action="click->call-copy#copy_all" class="small_text">Copy To All</a></small>
              <% end %>
            </div>
          <% end %>  
        </div>
      <% end %>

      <%= render "/capital_calls/common_form_fields", capital_call: capital_call, form: form %>
      <div class="form-group">
        <%= link_to_add_association 'Add Fees', form, :call_fees, class: "btn btn-outline-success" %>
        <%= link_to "Upload Account Entries", 
                    new_import_upload_path("import_upload[owner_id]": capital_call.fund_id, 
                    "import_upload[owner_type]": "Fund", 
                    "import_upload[import_type]": "AccountEntry", 
                    "sample_upload": "ACCOUNT_ENTRY_SAMPLE"), 
                    { class: "btn btn-outline-success", target: "_blank" } %> 

        <%= form.submit "Save", { class: "btn btn-outline-primary" } %>    
      </div>

    </div>
  <% end %>

<% end %>