<%= form_with(model: capital_call, validate: true) do |form| %>
  <% if capital_call.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(capital_call.errors.count, "error") %> prohibited this capital_call from being saved:</h2>

      <ul>
        <% capital_call.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
  
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :percentage_called %>
    <%= form.text_field :percentage_called, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control"  %>
  </div>

  <%= custom_form_fields(capital_call, form) %>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
