<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Calls</h1>
    
    
    <div class="d-flex flex-wrap align-items-center gap-2">

        <% fund ||= nil %>

        <% if fund && policy(fund).update? %>

            <%= link_to new_capital_call_path("capital_call[fund_id]": fund.id),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { turbo: false } do %>
            <i class="ti ti-plus"></i> New Call
            <% end %>

            <%= link_to new_import_upload_path(
                        "import_upload[owner_id]": fund.id,
                        "import_upload[owner_type]": "Fund",
                        "import_upload[import_type]": "CapitalCall",
                        "sample_upload": "CAPITAL_CALL_SAMPLE"),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { turbo: false } do %>
            <i class="ti ti-upload"></i> <%= t_common(:upload) %>
            <% end %>

            <%= link_to capital_calls_path(fund_id: fund&.id, format: "xlsx"),
                        class: "btn btn-outline-success d-inline-flex align-items-center",
                        data: { turbo: false } do %>
            <i class="ti ti-download"></i> <%= t_common(:download) %>
            <% end %>

        <% end %>

    </div>


</div>

<% 
    lazy_load_data ||= false 
    import_upload_id ||= params[:import_upload_id]
%>
<% data_source ||= capital_calls_path(params: params.to_unsafe_h, import_upload_id:, format: :json, all: true) %>    


<div class="table-responsive" data-controller="capital-calls" data-capital-calls-lazy-load-data-value=<%= lazy_load_data %> data-capital-calls-table-name-value="#capital_calls">

    <% if lazy_load_data %>
        <a class="load_data_link" data-action="click->capital-calls#loadData"><span>Load Data</span></a>
    <% end %>

    <table id="capital_calls" class="table table-bordered dataTable action_table" data-source="<%= data_source %>" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Call Amount
                </th>
                <th>
                    Collected Amount
                </th>
                <th>
                    Due Amount
                </th>
                <th>
                    Approved
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

</div>