<%= render ToggleCard.new(title: "Call: #{capital_call.name}", css_class: "show_calls", state: "closed") do %>

  <table class="table table-bordered dataTable">
      <tr class="">
        <td>
          Entity
        </td>
        <td>
          <%= capital_call.entity.name %>
        </td>
      </tr>
      <tr class="">
        <td>
          Fund
        </td>
        <td>
          <%= link_to capital_call.fund.name, capital_call.fund %>
        </td>
      </tr>
      <tr class="">
        <td>
          Name
        </td>
        <td>
          <%= capital_call.name %>
        </td>
      </tr>

      <tr class="">
        <td>
          Call Date
        </td>
        <td>
          <%= l capital_call.call_date %>
        </td>
      </tr>
      <tr class="">
        <td>
          Due Date
        </td>
        <td>
          <%= l capital_call.due_date %>
        </td>
      </tr>


      <% if current_user.entity_id == capital_call.entity_id %>
      
      <tr class="">
        <td>
          Call Basis
        </td>
        <td>
          <%= capital_call.call_basis %>
        </td>
      </tr>

      <% if capital_call.percentage_called > 0 %>
      <tr class="">
        <td>
          Percentage Called
        </td>
        <td>
          <%= capital_call.percentage_called %> %
        </td>
      </tr>
      <% end %>

      <% if capital_call.amount_to_be_called_cents > 0 %>
      <tr class="">
        <td>
          Amount To Be Called
        </td>
        <td>
          <%= money_to_currency capital_call.amount_to_be_called, params %> 
        </td>
      </tr>
      <% end %>

      

      <tr class="">
        <td>
          Applicable To Close
        </td>
        <td>
          <%= capital_call.fund_closes %>
        </td>
      </tr>

      <% if capital_call.close_percentages.present? %>
        <% capital_call.close_percentages.each do |close, percentage| %>
          <tr class="">
            <td>
              <%= close %> - Percentage Called
            </td>
            <td>
              <%= percentage.to_i %> %
            </td>
          </tr>
        <% end %>
      <% end %>

      <% if capital_call.fund.unit_types.present? %>
        <% capital_call.unit_prices.each do |unit_type, unit_price| %>

          <tr class="">
            <td>
              <%= unit_type %>
            </td>
            <td>
              Price: <%= unit_price['price'] %>, 
              Premium: <%= unit_price['premium'] %>
            </td>
          </tr>

        <% end %>  
      <% end %>

      <% if current_user %>

          <tr class="">
            <td>
              Approved
            </td>
            <td>
              <%= display_boolean capital_call.approved %>
            </td>
          </tr>
          <tr class="">
            <td>
                Call Amount
            </td>
            <td>
                <%= money_to_currency capital_call.call_amount, params %>
            </td>
          </tr>


          
          <% if capital_call.call_fees.present? || capital_call.fee_formulas.present? %>
          <tr class="d-none d-sm-table-row">
            <td>
              Fees
            </td>
            <td>
              <table class="table dataTable">
                <tr>
                  <td>Name</td> 
                  <td>From</td>
                  <td>To</td>
                  <td>Type</td>
                  <td>Notes</td>
                </tr>

                <% capital_call.call_fees.each do |call_fee| %>
                  <tr>            
                    <td><%= call_fee.name %></td>
                      <td><%= l call_fee.start_date %></td>
                      <td><%= l call_fee.end_date %></td>
                      <td><%= call_fee.fee_type %></td>
                      <td><%= call_fee.notes %></td>
                  </tr>
                <% end %>

                <% capital_call.fee_formulas&.each do |call_fee| %>
                  <tr>            
                    <td><%= call_fee.name %></td>
                      <td></td>
                      <td></td>
                      <td><%= call_fee.fee_type %></td>
                      <td><%= call_fee.notes %></td>
                  </tr>
                <% end %>

              </table>

            </td>
          </tr>
          <% end %>

          

          <% if capital_call.capital_fee_cents > 0 %>
      
            <tr class="">
              <td>
                Capital Fees
              </td>
              <td>
                <%= money_to_currency capital_call.capital_fee, params %> 
              </td>
            </tr>

          <% end %>

          <% if capital_call.other_fee_cents > 0 %>
      
            <tr class="">
              <td>
                Other Fees
              </td>
              <td>
                <%= money_to_currency capital_call.other_fee, params %> 
              </td>
            </tr>

          <% end %>
          
          <tr class="">
          <td>
              Collected Amount
          </td>
          <td>
              <%= money_to_currency capital_call.collected_amount, params %>
              
              <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%= capital_call.percentage_raised %>%" aria-valuenow="<%=capital_call.percentage_raised%>" aria-valuemin="0" aria-valuemax="100">
                      <%= capital_call.percentage_raised %> %
                  </div>
              </div>
          
          </td>
          </tr>

          <tr class="">
            <td>
                Due Amount
            </td>
            <td>
                <%= money_to_currency capital_call.due_amount, params %>        
            </td>
          </tr>

      <% end %>

      <%= display_custom_fields(capital_call) if current_user %>
      <% end %>
      

      <tr class="">
        <td>
          Send Call Notice
        </td>
        <td>
          <%= display_boolean capital_call.send_call_notice_flag %>
        </td>
      </tr>

      <tr class="">
        <td>
          Send Payment Notification
        </td>
        <td>
          <%= display_boolean capital_call.send_payment_notification_flag %>
        </td>
      </tr>

      <tr class="">
        <td>
          Notes
        </td>
        <td>
          <%= capital_call.notes.html_safe if capital_call.notes %>
        </td>
      </tr>
  </table>

<% end %>