<table class="table table-bordered dataTable">

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @capital_call.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Fund
      </td>
      <td>
        <%= link_to @capital_call.fund.name, @capital_call.fund %>
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @capital_call.name %>
      </td>
    </tr>
    <tr>
      <td>
        Percentage Called
      </td>
      <td>
        <%= @capital_call.percentage_called %> %
      </td>
    </tr>
    <tr>
      <td>
        Due Date
      </td>
      <td>
        <%= l @capital_call.due_date %>
      </td>
    </tr>



    <% if current_user %>

        <tr>
          <td>
            Approved
          </td>
          <td>
            <%= display_boolean @capital_call.approved %>
          </td>
        </tr>
        <tr>
          <td>
              Call Amount
          </td>
          <td>
              <%= money_to_currency @capital_call.call_amount, params %>
          </td>
        </tr>
        <tr>
        <td>
            Collected Amount
        </td>
        <td>
            <%= money_to_currency @capital_call.collected_amount, params %>
            
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%= @capital_call.percentage_raised %>%" aria-valuenow="<%=@capital_call.percentage_raised%>" aria-valuemin="0" aria-valuemax="100">
                    <%= @capital_call.percentage_raised %> %
                </div>
            </div>
        
        </td>
        </tr>

        <tr>
        <td>
            Due Amount
        </td>
        <td>
            <%= money_to_currency @capital_call.due_amount, params %>        
        </td>
        </tr>

    <% end %>

    <tr>
      <td>
        Notes
      </td>
      <td>
        <%= @capital_call.notes.html_safe if @capital_call.notes %>
      </td>
    </tr>

    <%= display_custom_fields(@capital_call) if current_user %>


  </table>
