
<%= render "/capital_calls/capital_call_stats", capital_call: @capital_call %>
<%= render "/capital_calls/show", capital_call: @capital_call %>

  <div>

    <% if policy(@capital_call).update? %>
      <%= link_to "Edit" , edit_capital_call_path(@capital_call), {class: "btn btn-outline-primary" } %> 
      <%= button_to "Delete" , @capital_call, method: :delete, class: "btn btn-outline-danger", 
          form_class: "deleteButton", data: {action: "click->confirm#popup" , turbo:false} %>
    
    <% end %>


    <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= button_to "Approve" , approve_capital_call_path(@capital_call), method: :post, 
                class: "dropdown-item", form_class: "deleteButton", 
                data: {action: "click->confirm#popup", turbo:false, method: :post, msg: "This will generate a notifications to your clients, if enabled. Please note only approved call notices will be attached to the email."} if policy(@capital_call).approve? %>

            <%= button_to "Generate Documents" , generate_docs_capital_call_path(@capital_call),    
                method: :patch, class: "dropdown-item", form_class: "deleteButton", data: {action: "click->confirm#popup", method: :patch, msg: "This will generate the drawdown notices for all remittances in this call. Proceed?"} if policy(@capital_call).generate_docs? %>

            <%= button_to "Allocate Units" , 
                allocate_units_capital_call_path(@capital_call),    
                method: :patch, class: "dropdown-item", 
                data: {action: "click->confirm#popup", turbo:false, method: :patch, msg: "This will compute the units to be allocated to each commitment in this fund"},
                form_class: "deleteButton" if policy(@capital_call).allocate_units? %>
                
            <%= button_to "Recompute Fees" , 
                recompute_fees_capital_call_path(@capital_call),    
                method: :patch, class: "dropdown-item", 
                data: {action: "click->confirm#popup", turbo:false, method: :patch, msg: "This will recompute the fees for each remittance in this call. Proceed?"},
                form_class: "deleteButton" if policy(@capital_call).recompute_fees? %>

            
          </div>
        </div>
      </div>

  </div>

  <%= render "/capital_calls/details", capital_call: @capital_call %>