
<%= render "/capital_calls/capital_call_stats", capital_call: @capital_call %>
<%= render "/capital_calls/show", capital_call: @capital_call %>

<div>

  <% if policy(@capital_call).update? %>
    <%= link_to edit_capital_call_path(@capital_call), class: "btn btn-outline-primary" do %>
      <i class="ti ti-edit"></i> <%= t_common(:edit) %>
    <% end %>

    <%= button_to @capital_call, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton",
        data: {action: "click->confirm#popup", turbo: false} do %>
      <i class="ti ti-trash"></i> <%= t_common(:delete) %>
    <% end %>
  <% end %>

  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ti ti-settings"></i> <%= t_common(:actions) %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <% if policy(@capital_call).approve? %>
          <%= button_to approve_capital_call_path(@capital_call), method: :post, class: "dropdown-item", form_class: "deleteButton",
              data: {action: "click->confirm#popup", turbo: false, method: :post,
                     msg: "This will generate a notification to your clients, if enabled. Please note only approved call notices will be attached to the email."} do %>
            <i class="ti ti-check"></i>Approve
          <% end %>
        <% end %>

        <% if policy(@capital_call).generate_docs? %>
          <%= button_to generate_docs_capital_call_path(@capital_call), method: :patch, class: "dropdown-item", form_class: "deleteButton",
              data: {action: "click->confirm#popup", method: :patch,
                     msg: "This will generate the drawdown notices for all remittances in this call. Proceed?"} do %>
            <i class="ti ti-file-plus"></i>Generate Documents
          <% end %>
        <% end %>

        <% if policy(@capital_call).allocate_units? %>
          <%= button_to allocate_units_capital_call_path(@capital_call), method: :patch, class: "dropdown-item", form_class: "deleteButton",
              data: {action: "click->confirm#popup", turbo: false, method: :patch,
                     msg: "This will compute the units to be allocated to each commitment in this fund."} do %>
            <i class="ti ti-box-multiple"></i>Allocate Units
          <% end %>
        <% end %>

        <% if policy(@capital_call).recompute_fees? %>
          <%= button_to recompute_fees_capital_call_path(@capital_call), method: :patch, class: "dropdown-item", form_class: "deleteButton",
              data: {action: "click->confirm#popup", turbo: false, method: :patch,
                     msg: "This will recompute the fees for each remittance in this call. Proceed?"} do %>
            <i class="ti ti-calculator"></i>Recompute Fees
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

</div>
  
<%= render "/capital_calls/details", capital_call: @capital_call %>