<%= render "/layouts/alerts" %>
<%= render "/capital_calls/show", capital_call: @capital_call %>


  <div>
    <% if policy(@capital_call).update? %>
      <%= link_to "Edit" , edit_capital_call_path(@capital_call), {class: "btn btn-outline-primary" } %> 
      <%= button_to "Delete" , @capital_call, method: :delete, class: "btn btn-outline-danger", 
          form_class: "deleteButton", data: {action: "click->confirm#popup" , turbo:false} %>
    
    <% end %>

    <%= button_to "Approve" , approve_capital_call_path(@capital_call), method: :post, 
        class: "btn btn-outline-success", form_class: "deleteButton", 
        data: {action: "click->confirm#popup", turbo:false, method: :post, msg: "This will generate all the notifications to your clients"} if policy(@capital_call).approve? %>

    <%= button_to "Generate Documents" , generate_docs_capital_call_path(@capital_call),    
        method: :patch, class: "btn btn-outline-success", form_class: "deleteButton" if policy(@capital_call).generate_docs? %>

    <%= button_to "Allocate Units" , 
        allocate_units_capital_call_path(@capital_call),    
        method: :patch, class: "btn btn-outline-success", 
        data: {action: "click->confirm#popup", turbo:false, method: :patch, msg: "This will compute the units to be allocated to each commitment in this fund"},
        form_class: "deleteButton" if policy(@capital_call).allocate_units? %>
  </div>

  <%= render "/capital_calls/details", capital_call: @capital_call %>