<%
  widget_size ||= "col-md-6"
  name ||= nil
  args ||= {}
  investor = @investor
  #  fields have lable and key
  #  Category:category,City:city,Sector:custom_fields.sector,Founder:custom_fields.founder
  fields_to_display = args[:fields] ? args[:fields].split(",").map { |field| field.strip.split(":") } : []
  uri_params ||= {}
%>


<%= render ToggleCard.new(title: @investor.investor_name, css_class: "show_investors_data_card", state: "show") do %>

<table class="table table-bordered dataTable ">

  <% fields_to_display.each do |label, key| %>
    <tr>
      <td>
        <%= label.humanize %>
      </td>
      <td>
        <% value = key.split('.').inject(investor) { |object, method| object&.send(method) } %>
        <% if  value.is_a?(Date) %>
          <%= l(value) %>
        <% elsif value.is_a?(Money) %>
          <%= money_to_currency value, params %>
        <% else %>
          <%= value %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<% end %>