<tr id="<%= dom_id notification %>">
  <td>
    <%= notification.recipient %>
  </td>
  <td>
    <%= notification.recipient.email %>
  </td>
  <td>
    <%= link_to notification.subject.html_safe, notification_path(id: notification.id) if notification.subject %>
  </td>
  <td>
    <%= l notification.created_at %>
  </td>
  <td>
    <%= l notification.read_at if notification.read_at %>
  </td>
  <td>
    <%= display_boolean notification.email_sent %>
  </td>
  <td>
    <%= display_boolean notification.whatsapp_sent %>
  </td>
  <td>
    <%= link_to "Show", notification_path(id: notification.id) , {class: "btn btn-outline-primary"}%>      
    <% if Noticed::NotificationPolicy.new(current_user, notification).mark_as_read? %>          
      <%= button_to "Mark As Read", mark_as_read_notification_path(notification, mark: :read) , {class: "btn btn-outline-success", method: :patch} if notification.unread? %>
      <%= button_to "Mark As UnRead", mark_as_read_notification_path(notification, mark: :unread) , {class: "btn btn-outline-warning", method: :patch} if notification.read? %>
    <% end %>
  </td>
</tr>
