<tr id="<%= dom_id notification %>">
  <td class="hideMobP">
    <%= notification.type %>
  </td>
  <td>
    <%= link_to notification.params[:msg].html_safe, notification if notification.params[:msg] %>
  </td>
  <td class="hideMobP">
    <%= l notification.created_at %>
  </td>
  <td class="hideMobP">
    <%= l notification.read_at if notification.read_at %>
  </td>
  <td class="hideMobP">
    <%= display_boolean notification.email_sent %>
  </td>
  <td class="hideMobP">
    <%= display_boolean notification.whatsapp_sent %>
  </td>
  <td>
    <% if policy(notification).mark_as_read? %>          
      <%= link_to "Show", notification , {class: "btn btn-outline-primary"}%>
      <%= link_to "Mark As Read", mark_as_read_notification_path(notification, mark: :read) , {class: "btn btn-outline-success"} if notification.unread? %>
      <%= link_to "Mark As UnRead", mark_as_read_notification_path(notification, mark: :unread) , {class: "btn btn-outline-warning"} if notification.read? %>
    <% end %>
  </td>
</tr>
