<tr id="<%= dom_id notification.record %>">  
  <td>
    <%= notification.record.type %>
  </td>
  <td>
    <%= link_to notification.message.html_safe, notification.record if notification.message %>
  </td>
  <td>
    <%= l notification.record.created_at %>
  </td>
  <td>
    <%= l notification.record.read_at if notification.record.read_at %>
  </td>
  <td>
    <%= link_to "Show", notification.record , {class: "btn btn-outline-primary"}%>
    <%= link_to "Mark As Read", mark_as_read_notification_path(notification.record, mark: :read) , {class: "btn btn-outline-success"} if notification.record.unread? %>

    <%= link_to "Mark As UnRead", mark_as_read_notification_path(notification.record, mark: :unread) , {class: "btn btn-outline-warning"} if notification.record.read? %>
  </td>
</tr>
