<tr id="<%= dom_id notification %>">
  <td class="hideMobP">
    <%= notification.recipient %>
  </td>
  <td class="hideMobP">
    <%= notification.recipient.email %>
  </td>
  <td>
    <%= link_to notification.message.html_safe, notification_path(id: notification.id) if notification.message %>
  </td>
  <td class="hideMobP">
    <%= l notification.created_at %>
  </td>
  <td class="hideMobP">
    <%= l notification.read_at if notification.read_at %>
  </td>
  <td class="hideMobP">
    <%= display_boolean notification.email_sent %>
  </td>
  <td class="hideMobP">
    <%= display_boolean notification.whatsapp_sent %>
  </td>
  <td>
    <% if Noticed::NotificationPolicy.new(current_user, notification).mark_as_read? %>          
      <%= link_to "Show", notification_path(id: notification.id) , {class: "btn btn-outline-primary"}%>
      <%= link_to "Mark As Read", mark_as_read_notification_path(notification, mark: :read) , {class: "btn btn-outline-success"} if notification.unread? %>
      <%= link_to "Mark As UnRead", mark_as_read_notification_path(notification, mark: :unread) , {class: "btn btn-outline-warning"} if notification.read? %>
    <% end %>
  </td>
</tr>
