<%= render "/layouts/alerts" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Notifications</h1>
  <span>
    <%= link_to "Mark All As Read", notifications_path(mark_as_read: true), class: "btn btn-outline-info" %>
    <%= link_to "View All", notifications_path(all: true), class: "btn btn-outline-warning" %>
    <%= link_to "View Unread", notifications_path(), class: "btn btn-outline-success" %>
  </span>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="notifications" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th class="hideMobP">
          Type
        </th>
        <th>
          Notification
        </th>
        <th class="hideMobP">
          At
        </th>
        <th class="hideMobP">
          Read At
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <% begin %>
          <%  notification = notification.to_notification %>
          <%= render "notifications/notification", notification: notification if notification.record %>
        <% rescue %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @notifications %>
