<%= render "layouts/filter", associations: [], hidden_fields: {all: params[:all], entity_id: params[:entity_id]} %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Notifications</h1>
  <span>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Received
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "View Unread", notifications_path(), class: "dropdown-item" %>          
          <%= link_to "View All", notifications_path(all: true), class: "dropdown-item" %>
          <%= link_to "Mark All As Read", notifications_path(mark_as_read: true), class: "dropdown-item" %>
          <%= link_to "Filter", notifications_path(filter: true), class: "dropdown-item" %>          
        </div>
      </div>
    </div>

    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-outline-warning dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sent
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "View Sent", notifications_path(all: true, entity_id: current_user.entity_id), class: "dropdown-item" %>          
          <%= link_to "Filter Sent", notifications_path(filter: true, all: true, entity_id: current_user.entity_id), class: "dropdown-item" %>
        </div>
      </div>
    </div>    
  
    <%= link_to "Custom Notifications", custom_notifications_path(filter: true), {class: "btn btn-outline-success"}  if current_user.curr_role_employee? %>
  
  </span>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="notifications" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th>
          Recipient
        </th>
        <th>
          Email
        </th>
        <th>
          Notification
        </th>
        <th>
          At
        </th>
        <th>
          Read At
        </th>
        <th>
          Email Sent
        </th>
        <th>
          WhatsApp Sent
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
          <%= render "notifications/notification", notification: notification %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @notifications %>
