<%= render "/layouts/alerts" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Notifications</h1>
  <span>
    <div class="btn-group hideMobP">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Received
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "View Unread", notifications_path(), class: "dropdown-item" %>          
          <%= link_to "View All", notifications_path(all: true), class: "dropdown-item" %>
          <%= link_to "Mark All As Read", notifications_path(mark_as_read: true), class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <%= link_to "Sent", notifications_path(all: true, entity_id: current_user.entity_id), class: "btn btn-outline-warning" %>
  </span>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="notifications" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th class="hideMobP">
          Type
        </th>
        <th>
          Notification
        </th>
        <th class="hideMobP">
          At
        </th>
        <th class="hideMobP">
          Read At
        </th>
        <th class="hideMobP">
          Email Sent
        </th>
        <th class="hideMobP">
          WhatsApp Sent
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <% begin %>
          <%#  notification = notification.to_notification %>
          <%= render "notifications/notification", notification: notification if notification.params[:msg].present? %>
        <%# rescue %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @notifications %>
