
<table class="table table-bordered dataTable no_hover_table">
  <tr>
    <td>
      Recipient
    </td>
    <td>
      <%= @notification.recipient %> : <%= @notification.recipient.email %>
    </td>
  </tr>
  <tr>
    <td>
      For
    </td>
    <td>
      <%= link_to @notification.type, @notification.to_notification.url %>
    </td>
  </tr>
  <tr>
    <td>
      Message
    </td>
    <td>
      <%= link_to @notification.to_notification.message %>
    </td>
  </tr>
  <% if params[:show_params].present? %>
  <tr>
    <td>
      Params
    </td>
    <td>
      <% table_options = { table_class: "table table-bordered dataTable" } %>
      <%= Json2table::get_html_table(@notification.params.to_json, table_options).html_safe %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      Read At
    </td>
    <td>
      <%= @notification.read_at %>
    </td>
  </tr>

  <tr>
    <td>
      Email Sent
    </td>
    <td>
      <%= display_boolean @notification.email_sent %>
    </td>
  </tr>

  <% if @notification.email %>
  <tr>
    <td>
      Email
    </td>
    <td>
      <%
        table_options = { table_class: "table table-bordered dataTable" }
        details = JSON.parse(@notification.email)
      %>
      <%= details.dig("mail","body","raw_source")&.html_safe if @notification.email %>
      <%
        details.delete("params")
        details.delete("mail")
      %>
      <%= Json2table::get_html_table(details, table_options).html_safe if @notification.email %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      WhatsApp Sent
    </td>
    <td>
      <%= display_boolean @notification.whatsapp_sent %>
    </td>
  </tr>

  <% if @notification.whatsapp %>
  <tr>
    <td>
      WhatsApp
    </td>
    <td>
      <%=
        table_options = { table_class: "table table-bordered dataTable" }
        Json2table::get_html_table(JSON.parse(@notification.whatsapp), table_options).html_safe if @notification.whatsapp.present?
      %>
    </td>
  </tr>
  <% end %>

</table>
