<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable no_hover_table">
  <tr>
    <td>
      Recipient
    </td>
    <td>
      <%= @notification.recipient %>
    </td>
  </tr>
  <tr>
    <td>
      For
    </td>
    <td>
      <%= link_to @notification.type, @notification.to_notification.url %>
    </td>
  </tr>
  <tr>
    <td>
      Message
    </td>
    <td>
      <%= link_to @notification.to_notification.message %>
    </td>
  </tr>
  <tr>
    <td>
      Params
    </td>
    <td>
      <% table_options = { table_class: "table table-bordered dataTable" } %>
      <%= Json2table::get_html_table(@notification.params.to_json, table_options).html_safe %>
    </td>
  </tr>
  <tr>
    <td>
      Read At
    </td>
    <td>
      <%= @notification.read_at %>
    </td>
  </tr>
</table>
