<% owner||= nil; search ||= false %>
<%= turbo_frame_tag "task_list", target: "_top" do %>

    <% unless search %>
      
    <h6 class="m-0 font-weight-bold text-primary">
        <% show_for = for_entity.id == current_user.entity_id ? nil : for_entity %>
        <%= link_to "Show All" , tasks_path(for_entity_id: show_for&.id, 
                                        entity_id: params[:entity_id],
                                        owner_id: owner&.id, owner_type: owner&.class&.name, 
                                        completed: :all), 
                                        data: { turbo_frame: 'task_list' },
                                        class: "btn btn-sm btn-success float-right" if for_entity || owner%>

        <%= link_to "Incomplete" , tasks_path(for_entity_id: show_for&.id, 
                                        entity_id: params[:entity_id],
                                        owner_id: owner&.id, owner_type: owner&.class&.name), 
                                        data: { turbo_frame: 'task_list' },
                                        class: "btn btn-sm btn-warning float-right" if for_entity || owner %>

        <%= link_to "New Task" , new_task_path("task[for_entity_id]": for_entity.id, 
                                        "task[entity_id]": params[:entity_id],
                                        "task[owner_id]": owner&.id,
                                        "task[owner_type]": owner&.class&.name), 
                                        data: { turbo_frame: 'new_task' },
                                        class: "btn btn-sm btn-primary float-right" if for_entity || owner %>
    </h6>

    <% end %>         
    <div class="table-responsive">
        <%= turbo_frame_tag "new_task" do %>
        <% end %>
    
        <table id="tasks" class="table table-bordered dataTable">

            <thead>
                <tr>
                    <th>
                        Details
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        For
                    </th>
                    <th>
                        Completed
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

            <tbody id="tasks_body">
                <% tasks.each do |task| %>
                    <%= render task %>
                <% end %>
            </tbody>
        </table>

    </div>

<% end %>