<table class="table table-bordered dataTable">
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @quick_link_step.name %>
    </td>
  </tr>
  <tr>
    <td>
      Link
    </td>
    <td>
      <%= @quick_link_step.link %>
    </td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td>
      <%= @quick_link_step.description %>
    </td>
    <tr>
      <td>
        Quick Link
      </td>
      <td>
        <%= @quick_link_step.quick_link_id %>
      </td>
    </tr>
  </table>
  <div>
    <%= link_to  t_common(:edit), edit_quick_link_step_path(@quick_link_step), {class: "btn btn-outline-primary"} %> 
    <%= button_to t_common(:delete), @quick_link_step, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  </div>
