<%= render ReportingComponent.new do %>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Doc Share Details
      </h6>
    </div>
    <div class="card-body">
      <p style="color: green"><%= notice %></p>

      <table class="table table-bordered dataTable">
        <tbody>
          <tr>
            <td>Email</td>
            <td><%= @doc_share.email %></td>
          </tr>
          <tr>
            <td>Email Sent</td>
            <td><%= display_boolean @doc_share.email_sent %></td>
          </tr>
          <tr>
            <td>Viewed At</td>
            <td><%= @doc_share.viewed_at %></td>
          </tr>
          <tr>
            <td>View Count</td>
            <td><%= @doc_share.view_count %></td>
          </tr>
          <tr>
            <td>Document</td>
            <td><%= link_to @doc_share.document %></td>
          </tr>

           <tr>
            <td>Link</td>
            <td>
              <%= view_doc_shares_url(token: DocShareTokenService.new.generate_token(@doc_share.id)) %>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <%= link_to "Edit", edit_doc_share_path(@doc_share), class: "btn btn-outline-primary" %>
        <%= button_to "Destroy", @doc_share, method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
<% end %>