<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
  <%= form.text_field :owner_type, class: "form-control", hidden: true  %>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_field :note, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
