<tr id="<%= dom_id reminder %>">
  <td>
    <%= reminder.note %>
  </td>
  <td>
    <%= reminder.email %>
  </td>
  <td>
    <%= l reminder.due_date %>
  </td>
  <td>
    <%= display_boolean(reminder.sent) %>
  </td>
  <td>
    <%= link_to "Show" , reminder , {class: "btn btn-primary" }%>
  </td>
</tr>