<table class="table table-bordered dataTable">

    <tr>
      <td>
        For
      </td>
      <td>
        <%= link_to reminder.owner_type, reminder.owner %>
      </td>
    </tr>
    <tr>
      <td>
        Note
      </td>
      <td>
        <%= reminder.note %>
      </td>
    </tr>
    <tr>
      <td>
        Due Date
      </td>
      <td>
        <%= l reminder.due_date %>
      </td>
    </tr>

    <% if current_user %>
    
      <tr>
        <td>
          Email
        </td>
        <td>
          <%= reminder.email %>
        </td>
      </tr>
      
      <tr>
        <td>
          Sent
        </td>
        <td>
          <%= display_boolean reminder.sent %>
        </td>
      </tr>

    <% end %>

  </table>