<% if form_custom_fields.present? %>

    <%# Display Normal custom fields (non-regulatory) first %>
    <% form_custom_fields.not_calculations.order(position: :asc).each do |custom_field| %>
        <% if custom_field %>
            <% v = model.properties[custom_field.name] %>
            <% if v.present? %>
                <tr>
                    <td>
                        <%= custom_field.human_label || k.to_s.humanize.titleize %>
                    </td>
                    <td>
                        <% if custom_field.renderer %>
                            <%= render custom_field.renderer, value: v, model: model %>
                        <% else %>
                            <%= v %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    <% end %>

    <% form_custom_fields.calculations.each do |fcf| %>
        <tr>
            <td>
                <%= fcf.human_label %>
            </td>
            <td>
                <% value = model.perform_custom_calculation(fcf) %>
                <%= value.is_a?(Money) ? money_to_currency(value, params) : value %>
                <div><small class="form-text text-muted"><%= fcf.help_text %></small></div>
            </td>
        </tr>
    <% end %>

<% end %>

<% if timestamps_and_snapshot %>
    <% if model.form_type_id.present? %>
    <tr class="">
        <td>
            Form Type
        </td>
        <td>
            <%= link_to model.form_type.tag || model.form_type_id, model.form_type %>
        </td>
    </tr>
    <% end %>

<tr class="">
    <td>
        Created
    </td>
    <td>
        <%= l model.created_at %>
    </td>
</tr>
<tr class="">
    <td>
        Updated
    </td>
    <td>
        <%= l model.updated_at %>
    </td>
</tr>

<% if model.respond_to?(:snapshot_date) && model.snapshot_date.present? %>
<tr class="">
    <td>
        Snapshot Date
    </td>
    <td>
        <%= l model.snapshot_date %>
    </td>
</tr>
<% end %>
<% end %>