<% if model.form_type.present? %>
    
    <% model.form_custom_fields.visible.order(position: :asc).each do |custom_field| %>
        <% v = model.properties[custom_field.name] %>
        <% if v.present? %>
            <tr>
                <td>
                    <%= custom_field&.human_label || k.to_s.humanize.titleize %>
                </td>
                <td>
                    <% if custom_field && custom_field.renderer %>
                        <%= render custom_field.renderer, value: v, model: model %>
                    <% else %>
                        <%= v %>
                    <% end %>
                </td>
            </tr>
        <% end %>

    <% end %>

    <% model.custom_calculations.each do |fcf| %>
        <tr>
            <td>
                <%= fcf.human_label %>
            </td>
            <td>
                <%= model.perform_custom_calculation(fcf) %>
                <div><small class="form-text text-muted"><%= fcf.help_text %></small></div>
            </td>
        </tr>
    <% end %>

<% end %>


<tr class="">
    <td>
        Created
    </td>
    <td>
        <%= l model.created_at %>
    </td>
</tr>
<tr class="">
    <td>
        Updated
    </td>
    <td>
        <%= l model.updated_at %>
    </td>
</tr>