<% map = model.map_custom_fields %>
<% model.properties&.each do |k,v| %>
    <% custom_field = map[k] %>
    <% if custom_field.nil? || custom_field.show_to_user(current_user) %>
        <tr>
            <td>
                <%= custom_field&.human_label || k.to_s.humanize.titleize %>
            </td>
            <td>
                <% if custom_field && custom_field.renderer %>
                    <%= render custom_field.renderer, value: v, model: model %>
                <% else %>
                    <%= v %>
                <% end %>
            </td>
        </tr>
    <% end %>
<% end %>

<% model.custom_calculations.each do |fcf| %>
    <tr>
        <td>
            <%= fcf.human_label %>
        </td>
        <td>
            <%= model.perform_custom_calculation(fcf.meta_data) %>
            <div><small class="form-text text-muted"><%= fcf.help_text %></small></div>
        </td>
    </tr>
<% end %>
