<% if params[:debug].present? && !@form_type.new_record? %>
  <%= render FormCard.new(title: "Rename Custom Field: #{@form_type.name}") do %>
    <div class="alert alert-info">
      Renaming a custom field will change the name of the field and the data stored for that custom field. Please do this only during off peak hours as it loads the DB with updates
    </div>
    <form action="/form_types/<%= @form_type.id %>/rename_fcf" method="post" class="row">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="id" value="<%= @form_type.id %>">
      <div class="col-5"><input type="text" name="old_name" class="form-control" placeholder="Old Name"></div>
      <div class="col-5"><input type="text" name="new_name" class="form-control" placeholder="New Name"></div>
      <div class="col-1"><input type="submit" class="btn btn-outline-primary"></div>
    </form>
  <% end %>
<% end %>

<%= render FormCard.new(title: "Customize: #{@form_type.name.presence || 'New'}") do %>

  <%= form_with(model: form_type, validate: true) do |form| %>
    <% if form_type.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(form_type.errors.count, "error") %> prohibited this form_type from being saved:</h2>

        <ul>
          <% form_type.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%

      types = ["Investor", "SecondarySale", "Deal", "Offer", "Interest", "Document", "Task", "Valuation", "InvestmentOpportunity", "Fund", "CapitalCommitment", "CapitalCall", "CapitalRemittance", "Approval", "ApprovalResponse", "InvestorKyc", "IndividualKyc", "NonIndividualKyc", "FundUnitSetting", "AccountEntry", "AggregatePortfolioInvestment", "PortfolioInvestment", "User", "InvestmentInstrument", "DealInvestor", "KpiReport", "Kpi", "CapitalDistributionPayment", "CapitalDistribution", "CapitalRemittancePayment"].sort

      types += [form_type.name] unless form_type.name.blank? || types.include?(form_type.name)

    %>

    <%= form.hidden_field :entity_id %>

    <div data-controller="customfield">
      <div class="form-group">
        <%= form.label :name, "Form Name" %>
        <%= form.select :name, types.sort, {}, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :tag %>
        <%= form.text_field :tag, class: "form-control"  %>
      </div>

      <h1>Custom Fields</h1>
      <div id='form_custom_fields'>
        <%= form.fields_for :form_custom_fields do |field| %>
          <%= render 'form_custom_fields', :f => field  unless ((field.object.field_type == "Calculation" || field.object.internal) && (!current_user.support? && !Rails.env.local?)) %>
        <% end %>
        <div class='links'>
        </div>
      </div>

      <div class="form-group">
        <%= link_to_add_association 'Add Field', form, :form_custom_fields, class: "btn btn-outline-primary" %>
        <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
      </div>
    </div>
  <% end %>

<% end %>
