<div class='nested-fields form-row'>
    <div class="form-group col-md-1">
        <%= f.label :position %>
        <%= f.text_field :position, class: "form-control" %>
    </div>

    <% if @form_type.name == 'KpiReport' %>
        <div class="form-group col-md-2">
            <%= f.label :name %>
            <%= f.select :name, KpiReport.custom_fields, {}, class: "form-control" %>
        </div>
    <% else %>
        <div class="form-group col-md-2">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
    <% end %>
    
    <div class="form-group col-md-1">
        <%= f.label :field_type %>
        <%= f.select :field_type, %w[TextField NumberField DateField TextArea CheckBox Radio Select MultiSelect Money], {}, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :required %>
        <%= f.check_box :required, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :read_only %>
        <%= f.check_box :read_only, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
        <%= f.label :meta_data %>
        <%= f.text_field :meta_data, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :help_text %>
        <%= f.text_field :help_text, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :hide_user_ids, "Hide from" %>
        <%= f.text_field :hide_user_ids, class: "form-control", placeholder: "List of user ids to hide this field from" %>
    </div>

    <div class="form-group col-md-1">    
        <%= f.label :none, "&nbsp;".html_safe %>
        <%= link_to_remove_association "Delete" , f, class: "btn btn-outline-danger" %>
    </div>
</div>