<div class="divider"></div>
<div class='nested-fields row'>
    <div class="row">
    <div class="form-group col-md-1">
        <%= f.label :position %>
        <%= f.text_field :position, class: "form-control" %>
    </div>

    
    <div class="form-group col-md-2">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", disabled: (f.object.id.present? && params[:debug].blank?) %>
        <small class="form-text text-muted">Name of the field.</small>
    </div>
    
    <% 
        field_types =  %w[TextField NumberField DateField TextArea CheckBox Radio Select DataList MultiSelect Money File Header GridColumns] 
        field_types.concat(%w[Calculation]) if current_user.support? || Rails.env.local?
    %>
    <div class="form-group col-md-2">
        <%= f.label :field_type %>
        <%= f.select :field_type, field_types.sort, {}, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :required %>
        <%= f.check_box :required, class: "form-check-input mt-3" %>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :read_only %>
        <%= f.check_box :read_only, class: "form-check-input mt-3" %>
    </div>
    
    <div class="form-group col-md-3">
        <%= f.label :meta_data %>
        <%= f.text_field :meta_data, class: "form-control" %>
        <small class="form-text text-muted">CSV for selects, checkboxes etc</small>
    </div>

    <div class="form-group col-md-1">
        <%= f.label :show_user_ids, "Show only to" %>
        <%= f.text_field :show_user_ids, class: "form-control", placeholder: "List of user ids to hide this field from" %>
    </div>
    

    </div>

    <div class="row">

        <div class="form-group col-md-3">
            <%= f.label :label %>
            <%= f.text_field :label, class: "form-control" %>
            <small class="form-text text-muted">Custom label for the field, can be blank</small>
        </div>

        <div class="form-group col-md-4">
            <%= f.label :help_text %>
            <%= f.text_field :help_text, class: "form-control" %>
            <small class="form-text text-muted">This help text will be displayed below the field</small>
        </div>

        <div class="form-group col-md-1">
            <%= f.label :step %>
            <%= f.select :step, FormCustomField.steps.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">    
            <%= f.label :none, "&nbsp;".html_safe %>
            <span>
                <%= link_to_remove_association "Delete" , f, class: "btn btn-outline-danger ti ti-trash mt-4" %>
                <% collapse_id = f.object.id || rand(100**100) %>
                <a class="btn btn-outline-primary mt-4" data-bs-toggle="collapse" href="#custom_condition_row_<%=collapse_id%>" >
                <i class="ti ti-caret-down"></i>
                </a>
            </span>
        </div>

        <% if params[:debug].present? %>
        <div class="form-group col-md-1">
            <%= f.label :internal %>
            <%= f.check_box :internal, class: "form-check-input mt-3" %>
        </div>
        <% end %>

    </div>

    <div class="row collapse" id="custom_condition_row_<%=collapse_id%>">
        <div class="form-group col-md-2">
            <%= f.label :condition_on %>
            <%= f.text_field :condition_on, class: "form-control" %>
            <small class="form-text text-muted">Field to check for condition</small>
        </div>

        <div class="form-group col-md-2">
            <%= f.label :condition_criteria, "Criteria" %>
            <%= f.select :condition_criteria, [:eq, :not_eq, :contains], {}, class: "form-control" %>
            <small class="form-text text-muted">Criteria to check for condition</small>
        </div>

        <div class="form-group col-md-3">
            <%= f.label :condition_params, "Match Value" %>
            <%= f.text_field :condition_params, class: "form-control" %>
            <small class="form-text text-muted">Value to check for the input field</small>
        </div>

        <div class="form-group col-md-2">
            <%= f.label :condition_state, "State" %>
            <%= f.select :condition_state, [:show], {}, class: "form-control" %>
            <small class="form-text text-muted">If conditions match this field, will be shown</small>
        </div>

    </div>
</div>