

<%= render FormCard.new(title: "#{@form_type.name} #{@form_type.tag}") do %>

  <%= render "form_custom_fields/index", form_custom_fields: @form_type.form_custom_fields, form_type: @form_type %>


  <div>
    <%= link_to edit_form_type_path(@form_type), {class: "btn btn-outline-primary" } do %>
      <i class="ti ti-edit"></i> <%= t_common(:edit) %>
    <% end %>
    <%= button_to @form_type, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo: true, msg: "Delete custom form? Note this will not delete the custom data in saved #{@form_type.name}."} do %>
      <i class="ti ti-trash"></i> <%= t_common(:delete) %>
    <% end %>
    <% if ["Investor", "PortfolioInvestment", "AggregatePortfolioInvestment", "CapitalCommitment", "InvestorKyc", "FundUnitSetting", "CapitalCall", "CapitalRemittance", "FundReport", "FundRatio", "KpiReport", "Offer", "Valuation"].include?(@form_type.name) && policy(@form_type).configure_grids? %>
      <%= link_to configure_grids_grid_view_preferences_path(owner_type: 'FormType', owner_id: @form_type.id), method: :get, class: "btn btn-outline-secondary" do %>
        <i class="ti ti-settings"></i> Configure Grids
      <% end %>
    <% end %>
    <%= link_to form_custom_fields_path(format: :xlsx, form_type_id: @form_type.id), class: "btn btn-outline-success" do %>
      <i class="ti ti-download"></i> Download Custom Fields
    <% end %>

      <%= link_to new_import_upload_path(
                    "import_upload[owner_id]": @form_type.id,
                    "import_upload[owner_type]": "FormType",
                    "import_upload[import_type]": "FormCustomField",
                    "sample_upload": "FORM_CUSTOM_FIELD_SAMPLE"
                  ), id: "form_custom_fields_upload_btn",
                  class: "btn btn-outline-primary" do %>
                  <i class="ti ti-upload"></i> <%= t_common(:upload) %> Custom Fields
      <% end %>
  </div>

<% end %>
