

<%= render FormCard.new(title: "#{@form_type.name} #{@form_type.tag}") do %>

  <div data-controller="datatable">
    <table class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Position
          </th>
          <th>
            Import Column Name
          </th>
          <th>
            Label
          </th>
          <th>
            <%= @form_type.name %>
          </th>
          <th>
            Properties
          </th>
          <th>
            Condition
          </th>
          <th>
            Step
          </th>
        </tr>
      </thead>
      <tbody>
        <% @form_type.form_custom_fields.each do |f| %>
          <%= render "custom_field_on_index", f: f unless (f.internal && params[:internal].blank?) %>
        <% end %>
      </tbody>

    </table>

  </div>


  <div>
    <%= link_to edit_form_type_path(@form_type), {class: "btn btn-outline-primary" } do %>
      <i class="ti ti-edit"></i> <%= t_common(:edit) %>
    <% end %>
    <%= button_to @form_type, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo: true, msg: "Delete custom form? Note this will not delete the custom data in saved #{@form_type.name}."} do %>
      <i class="ti ti-trash"></i> <%= t_common(:delete) %>
    <% end %>
    <% if ["Investor", "PortfolioInvestment", "AggregatePortfolioInvestment", "CapitalCommitment", "InvestorKyc", "FundUnitSetting", "CapitalCall", "CapitalRemittance", "FundReport", "FundRatio", "KpiReport", "Offer"].include?(@form_type.name) && policy(@form_type).configure_grids? %>
      <%= link_to configure_grids_grid_view_preferences_path(owner_type: 'FormType', owner_id: @form_type.id), method: :get, class: "btn btn-outline-secondary" do %>
        <i class="ti ti-settings"></i> Configure Grids
      <% end %>
    <% end %>
  </div>

<% end %>
