<div class="collapse form-inline center-div <%= params[:q].present? ? 'show' : '' %>" id="aiFilterForm">

<%= search_form_for AggregateInvestment.ransack(params[:q]),  class: "" do |f| %>

    <div class="form-group">
        <%#= f.label :percentage_gt %>
        <%= f.search_field :percentage_gt, class: "form-control", placeholder: "Percentage > than"  %>
    </div>
    <div class="form-group">
        <%#= f.label :full_diluted_percentage_gt %>
        <%= f.search_field :full_diluted_percentage_gt, class: "form-control", placeholder: "Fully Diluted > than"  %>
    </div>
    
    <div class="form-group">
        <%= f.submit "Filter", {class: "btn btn-primary"}%>
    </div>

<% end %>

</div>