<%= render "/layouts/alerts" %>

<%= render "/layouts/steps", steps: ["Setup Funding Rounds", "Add Investments", "View Details", 
                            "Permission Investors", "Setup Scenarios"].freeze if current_user.has_cached_role?(:startup) %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Shareholding</h1>
    
    <span>

    <%#= render "investments/currency_form" %>

    <% if current_user.entity_id == @entity.id %>
      
      <%= link_to "Scenarios", simple_simulator_aggregate_investments_path, {class: "btn btn-primary", data: {toggle: "tooltip", title: "Plan Scenarios"} } %>

      <%= link_to "Details View", investments_path, {class: "btn btn-primary"} %>


      <%= link_to "New Investment", new_investment_path("investment[entity_id]": current_user.entity_id), 
        {class: "btn btn-primary"} %>

      <%= link_to "Funding Rounds", funding_rounds_path, {class: "btn btn-primary"} %>
      <%= link_to aggregate_investments_path(format: :xlsx), {class: "btn btn-success"} do %>
        <i class="fa-lg fa-regular fa-file-excel"></i> Download
      <% end %>

      <%= link_to investments_path(charts: true), {class: "btn btn-success"} do %>
        <i class="fas fa-chart-line"></i> Graphs
      <% end %>
    <% else %>
      <%= link_to "Details View", investor_investments_investments_path(entity_id: @entity.id), {class: "btn btn-primary"} %>
    <% end %>

    </span>

  </div>

  <div class="table-responsive" data-controller="agginvestments">

    <table id="aggregate_investments" class="table table-bordered dataTable jqDataTable">

      <thead>
        <tr>

          <% if current_user.entity_id == @entity.id %>
            <th></th>
          <% end %>
          <th>
            Category
          </th>
          <th>
            Investor
          </th>
          <th>
            Equity
          </th>
          <th>
            Preferred
          </th>
          <th>
            Total
          </th>

          <th>
            Percentage
          </th>

          <th>
            Options
          </th>
          <th>
            Full Diluted
          </th>
          <th>
            Full Diluted Percentage
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @aggregate_investments.each do |aggregate_investment| %>
          <%= render aggregate_investment %>
        <% end %>
      </tbody>
    </table>

  </div>

<div class="text-center">
  <small class="text-muted">
    This is where you see your aggregated investments, i.e investments per investor. 
    To see individual investments click on the drill down or click on the 'Details View' button
  </small>
</div>