<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @aggregate_investment.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Shareholder
      </td>
      <td>
        <%= @aggregate_investment.investor.category %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <%= current_user.entity_id == @aggregate_investment.entity_id ? 
          link_to(@aggregate_investment.investor_name, @aggregate_investment.investor) :
          @aggregate_investment.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        Equity
      </td>
      <td>
        <%= custom_format_number @aggregate_investment.equity, params %>
      </td>
    </tr>
    <tr>
      <td>
        Preferred
      </td>
      <td>
        <%= custom_format_number @aggregate_investment.preferred, params %>
      </td>
    </tr>
    <tr>
      <td>
        Options
      </td>
      <td>
        <%= custom_format_number @aggregate_investment.options, params %>
      </td>
    </tr>
    <tr>
      <td>
        Percentage
      </td>
      <td>
        <%= @aggregate_investment.percentage %>
      </td>
    </tr>
    <tr>
      <td>
        Full Diluted Percentage
      </td>
      <td>
        <%= @aggregate_investment.full_diluted_percentage %>
      </td>
    </tr>


  </table>

  <% 
    if  current_user.entity_id == @aggregate_investment.investor.investee_entity_id || 
        current_user.entity_id == @aggregate_investment.investor.investor_entity_id   
  %>
    <div class="associated_entity" data-controller="investments">
      <%= render "investments/index", title: "Equity", entity: @aggregate_investment.entity,
                  investments: @aggregate_investment.
                  investments.includes(:investor, :investee_entity, :funding_round) %>
    </div>
  <% end %>
