<%= form_with(model: investment_snapshot) do |form| %>
  <% if investment_snapshot.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investment_snapshot.errors.count, "error") %> prohibited this investment_snapshot from being saved:</h2>

      <ul>
        <% investment_snapshot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :investment_type %>
    <%= form.text_field :investment_type, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investor_id %>
    <%= form.text_field :investor_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investor_type %>
    <%= form.text_field :investor_type, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investment_instrument %>
    <%= form.text_field :investment_instrument, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :initial_value %>
    <%= form.text_field :initial_value, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :current_value %>
    <%= form.text_field :current_value, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :deleted_at %>
    <%= form.datetime_field :deleted_at, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :percentage_holding %>
    <%= form.text_field :percentage_holding, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :employee_holdings %>
    <%= form.check_box :employee_holdings, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :diluted_quantity %>
    <%= form.number_field :diluted_quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :diluted_percentage %>
    <%= form.text_field :diluted_percentage, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :units %>
    <%= form.text_field :units, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :amount_cents %>
    <%= form.text_field :amount_cents, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :price_cents %>
    <%= form.text_field :price_cents, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :funding_round_id %>
    <%= form.text_field :funding_round_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :liquidation_preference %>
    <%= form.text_field :liquidation_preference, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :spv %>
    <%= form.text_field :spv, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investment_date %>
    <%= form.date_field :investment_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :liq_pref_type %>
    <%= form.text_field :liq_pref_type, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :anti_dilution %>
    <%= form.text_field :anti_dilution, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :as_of %>
    <%= form.date_field :as_of, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :tag %>
    <%= form.text_field :tag, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investment_id %>
    <%= form.text_field :investment_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
