<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Investment Type
        </td>
        <td>
          <%= @investment_snapshot.investment_type %>
        </td>    
      </tr>
          <tr>
        <td>
          Investor
        </td>
        <td>
          <%= @investment_snapshot.investor_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Investor Type
        </td>
        <td>
          <%= @investment_snapshot.investor_type %>
        </td>    
      </tr>
          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @investment_snapshot.entity_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Status
        </td>
        <td>
          <%= @investment_snapshot.status %>
        </td>    
      </tr>
          <tr>
        <td>
          Investment Instrument
        </td>
        <td>
          <%= @investment_snapshot.investment_instrument %>
        </td>    
      </tr>
          <tr>
        <td>
          Quantity
        </td>
        <td>
          <%= @investment_snapshot.quantity %>
        </td>    
      </tr>
          <tr>
        <td>
          Initial Value
        </td>
        <td>
          <%= @investment_snapshot.initial_value %>
        </td>    
      </tr>
          <tr>
        <td>
          Current Value
        </td>
        <td>
          <%= @investment_snapshot.current_value %>
        </td>    
      </tr>
          <tr>
        <td>
          Category
        </td>
        <td>
          <%= @investment_snapshot.category %>
        </td>    
      </tr>
          <tr>
        <td>
          Deleted At
        </td>
        <td>
          <%= @investment_snapshot.deleted_at %>
        </td>    
      </tr>
          <tr>
        <td>
          Percentage Holding
        </td>
        <td>
          <%= @investment_snapshot.percentage_holding %>
        </td>    
      </tr>
          <tr>
        <td>
          Employee Holdings
        </td>
        <td>
          <%= @investment_snapshot.employee_holdings %>
        </td>    
      </tr>
          <tr>
        <td>
          Diluted Quantity
        </td>
        <td>
          <%= @investment_snapshot.diluted_quantity %>
        </td>    
      </tr>
          <tr>
        <td>
          Diluted Percentage
        </td>
        <td>
          <%= @investment_snapshot.diluted_percentage %>
        </td>    
      </tr>
          <tr>
        <td>
          Currency
        </td>
        <td>
          <%= @investment_snapshot.currency %>
        </td>    
      </tr>
          <tr>
        <td>
          Units
        </td>
        <td>
          <%= @investment_snapshot.units %>
        </td>    
      </tr>
          <tr>
        <td>
          Amount Cents
        </td>
        <td>
          <%= @investment_snapshot.amount_cents %>
        </td>    
      </tr>
          <tr>
        <td>
          Price Cents
        </td>
        <td>
          <%= @investment_snapshot.price_cents %>
        </td>    
      </tr>
          <tr>
        <td>
          Funding Round
        </td>
        <td>
          <%= @investment_snapshot.funding_round_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Liquidation Preference
        </td>
        <td>
          <%= @investment_snapshot.liquidation_preference %>
        </td>    
      </tr>
          <tr>
        <td>
          Spv
        </td>
        <td>
          <%= @investment_snapshot.spv %>
        </td>    
      </tr>
          <tr>
        <td>
          Investment Date
        </td>
        <td>
          <%= @investment_snapshot.investment_date %>
        </td>    
      </tr>
          <tr>
        <td>
          Liq Pref Type
        </td>
        <td>
          <%= @investment_snapshot.liq_pref_type %>
        </td>    
      </tr>
          <tr>
        <td>
          Anti Dilution
        </td>
        <td>
          <%= @investment_snapshot.anti_dilution %>
        </td>    
      </tr>
          <tr>
        <td>
          As Of
        </td>
        <td>
          <%= @investment_snapshot.as_of %>
        </td>    
      </tr>
          <tr>
        <td>
          Tag
        </td>
        <td>
          <%= @investment_snapshot.tag %>
        </td>    
      </tr>
          <tr>
        <td>
          Investment
        </td>
        <td>
          <%= @investment_snapshot.investment_id %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_investment_snapshot_path(@investment_snapshot), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @investment_snapshot, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
</div>
