<tr id="<%= dom_id capital_remittance %>">  
  <td>
    <%= capital_remittance.capital_call.name %>
  </td>
  <td class="status">
    <%= capital_remittance.status %>
  </td>
  <td class="verified">
    <%= display_boolean(capital_remittance.verified) %>
  </td>
  <td>
    <%= render "/capital_remittances/due_amount", capital_remittance: capital_remittance %>
  </td>
  <td>
    <%= money_to_currency capital_remittance.collected_amount, params %>
  </td>
  <td>
    <%= l capital_remittance.payment_date if  capital_remittance.payment_date %>
  </td>
  <td>
    <%= render "/capital_remittances/dt_actions", capital_remittance: capital_remittance %>
  </td>
</tr>