<tr id="<%= dom_id capital_remittance %>">
  
  <td>
    <%= link_to capital_remittance.investor_name, investor_path(id: capital_remittance.investor_id) %>
  </td>
  <td>
    <%= link_to capital_remittance.investor_kyc.full_name, capital_remittance.investor_kyc if capital_remittance.investor_kyc %>
  </td>
  <td class="status">
    <%= render DisplayBooleanComponent.new(bool: capital_remittance.status == "Paid").
        with_content(capital_remittance.status) if capital_remittance.status %>
  </td>
  <td class="verified">
    <%= display_boolean(capital_remittance.verified) %>
  </td>
  <td>
    <%= render "/capital_remittances/due_amount", capital_remittance: capital_remittance %>
  </td>
  <td>
    <%= money_to_currency capital_remittance.collected_amount, params %>
  </td>
  <td>
    <%= link_to "Show" , capital_remittance , {class: "btn btn-outline-primary" }%>
    
    <% if policy(capital_remittance).update? %>
      <% if policy(capital_remittance).verify? %>
        <% label = capital_remittance.verified ? "Unverify" : "Verify" %> 
        <% msg = capital_remittance.verified ? "Mark as Unverified?" : "Mark as Verified?" %> 
        <%= button_to label, verify_capital_remittance_path(capital_remittance), method: :patch, 
            class: "btn btn-outline-success", form_class: "deleteButton", 
            data: {action: "click->confirm#popup", msg: msg, turbo:false, method: :patch} if policy(capital_remittance).verify? %>      
              
      <% end %>
    <% end %>

  </td>
</tr>