<%= form_tag "/capital_remittances", method: :get, id: "remittance_filter", data: { turbo_frame: "capital_remittances_frame" } do %>

  <%= hidden_field_tag :capital_call_id, capital_call_id %>

  <div class="form-group" data-controller="remittance">
    <% status = params[:status].presence %>
    <%= select_tag :status,
      options_for_select(["Paid", "Pending", "Overdue", "Overpaid"], status),
      id: "status",
      class: "form-control",
      prompt: "Payment Status",
      data: { action: "change->remittances#filterData" } %>
  </div>

  <div class="form-group" data-controller="remittance">
    <% verified = params[:verified].presence %>
    <%= select_tag :verified,
      options_for_select([["Yes", true], ["No", false]], verified),
      id: "verified",
      class: "form-control",
      prompt: "Verified",
      data: { action: "change->remittances#filterData" } %>
  </div>

  <%= submit_tag "Submit", hidden: true, id: "submit" %>

<% end %>
