<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          Remittance : <%= capital_remittance.capital_commitment&.investor_name %>
      </h6>
  </div>
  <div class="card-body">

    <%= form_with(model: capital_remittance, validate: true) do |form| %>
      <% if capital_remittance.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(capital_remittance.errors.count, "error") %> prohibited this capital_remittance from being saved:</h2>

          <ul>
            <% capital_remittance.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
        <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
        <%= form.text_field :capital_call_id, class: "form-control", hidden: true  %>

      <div class="form-group">
        <%= form.label :investor_id %>
        <%= form.select :investor_id, capital_remittance.fund.investors.map{|i| [i.investor_name, i.id]}  ,{}, class: "form-control", disabled: true  %>
      </div>

      <div class="form-group">
        <%= form.label :call_amount %>
        <%= form.number_field :call_amount, class: "form-control", disabled: true  %>
      </div>

      <div class="form-group">
        <%= form.label :remittance_date %>
        <%= form.date_field :remittance_date, class: "form-control"  %>
      </div>

      <%= custom_form_fields(capital_remittance, form) %>

      <div class="form-group">
        <%= form.label :notes %>
        <%= form.text_area :notes, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      </div>
    <% end %>

  </div>
</div>