<% 
  lazy_load_data ||= false
  search ||= "Yes"
  capital_call ||= nil 
  capital_commitment ||= nil 
  fund ||= nil
  fund_id ||= params[:fund_id] || fund&.id
  import_upload_id ||= params[:import_upload_id]
%>

<% 
  data_source = capital_remittances_path(params: params.to_unsafe_h, status: "", verified: "", import_upload_id:) 
  xl_data_source = capital_remittances_path(params: params.to_unsafe_h, format: :json, all: true, status: "", verified: "", import_upload_id:)
  xl_link = download_xl_link(xl_data_source) 
%>
              
<div data-controller="remittances" data-remittances-table-name-value="#capital_remittances">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Remittances</h1>

    <span class="d-flex align-items-center gap-2 flex-wrap">


      <% if capital_call %>
        <% if policy(capital_call).reminder? %>
          <%= button_to reminder_capital_call_path(id: capital_call.id),
              class: "btn btn-outline-primary", data: {
                action: "click->confirm#popup", turbo: false,
                msg: "Send reminder for pending payments?", method: "post"
              } do %>
            <i class="ti ti-bell"></i>Capital Call Reminder
          <% end %>
        <% end %>

        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-upload"></i> <%= t_common(:upload) %> / Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%= link_to xl_link, class: "dropdown-item" do %>
                <i class="ti ti-download"></i> <%= t_common(:download) %>
              <% end %>

              <% disabled = capital_call.call_basis != "Upload" ? "disabled" : nil %>

              <% if policy(capital_call).update? %>
                <%= link_to new_import_upload_path(
                    "import_upload[owner_id]": capital_call.id,
                    "import_upload[owner_type]": "CapitalCall",
                    "import_upload[import_type]": "CapitalRemittance",
                    "sample_upload": "CAPITAL_REMITTANCE_SAMPLE"
                  ),
                  class: "dropdown-item #{disabled}" do %>
                  <i class="ti ti-upload"></i> <%= t_common(:upload) %> Remittances
                <% end %>

                <%= link_to new_import_upload_path(
                    "import_upload[owner_id]": capital_call.id,
                    "import_upload[owner_type]": "CapitalCall",
                    "import_upload[import_type]": "CapitalRemittancePayment",
                    "sample_upload": "CAPITAL_REMITTANCE_PAYMENT_SAMPLE"
                  ),
                  class: "dropdown-item" do %>
                  <i class="ti ti-cash"></i> <%= t_common(:upload) %> Payments
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <%= render "capital_remittances/filter", data_source: data_source %>

      <% else %>
        <%= link_to xl_link, class: "btn btn-outline-primary" do %>
          <i class="ti ti-download"></i> <%= t_common(:download) %>
        <% end %>

        <%= render "/capital_remittances/bulk_actions" %>
      <% end %>

    </span>

  </div>


  
  <div class="table-responsive"  data-source="<%= data_source %>">
    <% capital_remittances_frame ||= "capital_remittances_frame" 
        default_columns_map = if current_user.curr_role == "investor"
            CapitalRemittance::INVESTOR_STANDARD_COLUMNS
          else
            CapitalRemittance::STANDARD_COLUMNS
          end
    
    %>
    <%=render SearchComponent.new(data_source: , turbo_frame: capital_remittances_frame) %>

    <%= render RansackTable.new(CapitalRemittance, q: @q, default_columns_map:, current_user: current_user, records: capital_remittances, report_id: params["report_id"], turbo_frame: capital_remittances_frame, referrer: request.referrer) %>
  </div>
</div>
