<% 
  lazy_load_data ||= false
  search ||= "Yes"
  capital_call ||= nil 
  capital_commitment ||= nil 
  fund ||= nil
  fund_id ||= params[:fund_id] || fund&.id
  capital_call_id ||= params[:capital_call_id] || capital_call&.id 
  capital_commitment_id ||= params[:capital_commitment_id] || capital_commitment&.id 
  import_upload_id ||= params[:import_upload_id]
%>

<% 
  data_source ||= capital_remittances_path(params: params.to_unsafe_h, format: :json, all: true, status: "", verified: "", import_upload_id:) 
  
  xl_link = download_xl_link(data_source) 
  col_params = { fund_id: fund_id, capital_call_id: capital_call_id, capital_commitment_id: capital_commitment_id }
  
  column_names, field_list = get_columns(CapitalRemittance, params: col_params) 
%>
              
<div data-controller="remittances"
     data-remittances-lazy-load-data-value=<%= lazy_load_data %>
     data-remittances-table-name-value="#capital_remittances"
     data-remittances-field-list-value=<%=field_list%> >

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Remittances</h1>

    <span>

      <% if capital_call %>
        <% if policy(capital_call).reminder? %>
          <%= button_to reminder_capital_call_path(id: capital_call.id),
              class: "btn btn-outline-primary", data: {
                action: "click->confirm#popup", turbo: false,
                msg: "Send reminder for pending payments?", method: "post"
              } do %>
            <i class="ti ti-bell me-2"></i>Capital Call Reminder
          <% end %>
        <% end %>

        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-upload me-2"></i> <%= t_common(:upload) %> / Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%= link_to xl_link, class: "dropdown-item" do %>
                <i class="ti ti-download me-2"></i> <%= t_common(:download) %>
              <% end %>

              <% disabled = capital_call.call_basis != "Upload" ? "disabled" : nil %>

              <% if policy(capital_call).update? %>
                <%= link_to new_import_upload_path(
                    "import_upload[owner_id]": capital_call.id,
                    "import_upload[owner_type]": "CapitalCall",
                    "import_upload[import_type]": "CapitalRemittance",
                    "sample_upload": "CAPITAL_REMITTANCE_SAMPLE"
                  ),
                  class: "dropdown-item #{disabled}" do %>
                  <i class="ti ti-upload me-2"></i> <%= t_common(:upload) %> Remittances
                <% end %>

                <%= link_to new_import_upload_path(
                    "import_upload[owner_id]": capital_call.id,
                    "import_upload[owner_type]": "CapitalCall",
                    "import_upload[import_type]": "CapitalRemittancePayment",
                    "sample_upload": "CAPITAL_REMITTANCE_PAYMENT_SAMPLE"
                  ),
                  class: "dropdown-item" do %>
                  <i class="ti ti-cash me-2"></i> <%= t_common(:upload) %> Payments
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <%= render "capital_remittances/filter", capital_call_id: capital_call.id %>

      <% else %>
        <%= link_to xl_link, class: "btn btn-outline-primary" do %>
          <i class="ti ti-download me-2"></i> <%= t_common(:download) %>
        <% end %>

        <%= render "/capital_remittances/bulk_actions" %>
      <% end %>

    </span>

  </div>


  
  <div class="table-responsive">
    <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->remittances#loadData"><span>Load Data</span></a>
    <% end %>

    <%= render CustomTable.new(data_source:, id: "capital_remittances", column_names:) %>

  </div>
</div>
