<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Aggregate Portfolio Investments</h1>

  <span>
    <%= link_to "New Portfolio Investment", 
        new_portfolio_investment_path("portfolio_investment[entity_id]": current_user.entity_id,
        "portfolio_investment[fund_id]": params[:fund_id]), 
        {class: "btn btn-outline-primary"} if params[:fund_id].present?  %>


        
      <%= link_to "Upload", 
          new_import_upload_path("import_upload[owner_id]": params[:fund_id], 
          "import_upload[owner_type]": "Fund", 
          "import_upload[import_type]": "PortfolioInvestment", 
          "sample_upload": "PORTFOLIO_SAMPLE"), 
          { class: "btn btn-outline-primary"}   %> 

      <%= link_to "Download", portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true),
          {class: "btn btn-outline-primary" } %>
  </span>
  
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="aggregate_portfolio_investments" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          For
        </th>
        <th>
          Portfolio Company
        </th>
        <th>
          Type
        </th>
        <th>
          Quantity
        </th>
        <th>
          Fmv
        </th>
        <th>
          FIFO Cost
        </th>
        <th>
          Avg Cost
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% aggregate_portfolio_investments.each do |aggregate_portfolio_investment| %>
        <%= render aggregate_portfolio_investment %>
      <% end %>
    </tbody>
  </table>
</div>


<% if params[:fund_id].present? %>

<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> FMV % </h6>
            </div>
            <div class="card-body">
                <%= investment_fmv_by_company(Fund.find(params[:fund_id])) %>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> FMV/Bought/Sold </h6>
            </div>
            <div class="card-body">
                <%= bought_sold_fmv(Fund.find(params[:fund_id])) %>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Fund Ratio </h6>
            </div>
            <div class="card-body">
                <%= fund_xirr_chart(Fund.find(params[:fund_id])) %>
            </div>
        </div>
    </div>
</div>




<% end %>