<h3>Dear <%= @holding.user.full_name %> </h3>

<p>
    Your <%=@holding.investment_instrument%> will lapse in <%= @holding.days_to_lapse %> days. Please consider excercising them. 
</p>

<p>
    <%= render "/holdings/show", holding: @holding, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Holding', holding_url(@holding) %></p>
