<%= form_with(model: import_upload, validate: true) do |form| %>
  <% if import_upload.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(import_upload.errors.count, "error") %> prohibited this import_upload from being saved:</h2>

      <ul>
        <% import_upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  </div>


  <% if import_upload.import_type.blank? %>
  <div class="form-group">
    <%= form.label :import_type %>
    <%= form.select :import_type, ImportUpload::TYPES, {}, class: "form-control"  %>
  </div>
  <% else %>
    <%= form.text_field :import_type, class: "form-control", hidden: true  %>
  <% end %>

  <%
    if import_upload.import_type.present?
      ImportUpload::DOC_TYPES.include?(import_upload.import_type) ? allowed_types = ['.zip'].freeze : allowed_types = ['.xlsx'].freeze
    else
      allowed_types = ['.xlsx', '.zip'].freeze
    end

  %>
  <div class="field" class="form-group" id="document_upload">
    <%= render "layouts/single_upload", form: form,
                            field_label: "Import Data (#{allowed_types.join(', ')})",
                            for_model: "import_upload", field_name: "import_file",
                            model: import_upload, allowed_types: %>

    <small class="text-muted">
      <%= link_to '<i class="ti ti-download"></i> Sample upload format'.html_safe, ImportUpload::SAMPLES[params[:sample_upload]] if ImportUpload::SAMPLES[params[:sample_upload]] %>
    </small>
  </div>

  <div class="form-group">
    <%= form.button type: 'submit', class: "btn btn-outline-primary" do %>
      <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
    <% end %>
  </div>



  <!-- Stimulus XLSX Preview Controller -->
  <div id="xlsx-preview" class="table-responsive"
      data-controller="xlsx-preview"
      data-headers='<%= import_upload.headers %>'
      data-xlsx-preview-tabs="true">

    <div data-xlsx-preview-target="card" class="mt-3 d-none">
      <div class="card-header fw-bold">
        <span class="h3" data-xlsx-preview-target="filename"></span>
      </div>
      <div class="" data-controller="datatable">
        <div data-xlsx-preview-target="status"></div>
        <div data-xlsx-preview-target="table"></div>
      </div>
    </div>

  </div>

<% end %>
