<tr id="<%= dom_id import_upload %>">
  <td>
    <%= import_upload.name %>
  </td>
  <td>
    <%= link_to import_upload.owner %>
  </td>
  <td>
    <%= import_upload.user.full_name %>
  </td>
  <td>
    <%= import_upload.import_type %>
  </td>
  <td>
    <% status =  import_upload.status.present? ?  "Failed" : "Success" %>
    <%= render DisplayBooleanComponent.new(bool: import_upload.status.blank?).
        with_content(status) %>

  </td>
  <td>
    <%= link_to "Show", import_upload , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
