<tr id="<%= dom_id import_upload %>">
  <td>
    <%= import_upload.name %>
  </td>
  <td>
    <%= link_to import_upload.owner %>
  </td>
  <td>
    <%= import_upload.user.full_name %>
  </td>
  <td>
    <%= import_upload.import_type %>
  </td>
  <td>
    <% status =  import_upload.success? ?  "Success" : "Failed" %>
    <%= render DisplayBooleanComponent.new(bool: import_upload.success?).
        with_content(status) %>

  </td>
  <td>
    <%= import_upload.processed_row_count %> / <%= import_upload.total_rows_count %>  
  </td>
  <td>
    <%= l import_upload.created_at %>  
  </td>
  <td>
    <%= link_to  t_common(:show), import_upload , {class: "btn btn-outline-primary ti ti-eye"}%>
  </td>
</tr>
