<div id="<%= dom_id(import_upload) %>">

  <%= render "/import_uploads/stats", import_upload: import_upload %>

  <% if import_upload.failed_row_count > 0 %>
          <div class="alert alert-danger">

            Failed to import <%= import_upload.failed_row_count %> rows.
            Download <%= link_to "Results", import_upload.import_results.url, class: "btn btn-sm btn-primary" if import_upload.import_results.present? %> file to check which rows have errors and why.

          </div>

  <% end %>

  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= link_to import_upload.name, import_upload.import_file.url, disposition: "attachment"  %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= import_upload.entity.name %>
      </td>
    </tr>
    <tr>
      <% if !import_upload.owner.respond_to?(:deleted?) || !import_upload.owner.deleted? %>
        <td>
          Owner
        </td>
        <td>
          <%= link_to import_upload.owner_type, import_upload.owner %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        User
      </td>
      <td>
        <%= import_upload.user.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Import Type
      </td>
      <td>
        <%= import_upload.import_type %>
      </td>
    </tr>
    <tr>
      <td>
        Upload File
      </td>
      <td>
        <%= link_to "Import File", import_upload.import_file.url if import_upload.import_file.present? %>
      </td>
    </tr>
    <tr>
      <td>
        Upload Results
      </td>
      <td>
        <%= link_to "Results", import_upload.import_results.url if import_upload.import_results.present? %>
      </td>
    </tr>
    <tr>
      <td>
        Total Rows
      </td>
      <td>
        <%= import_upload.total_rows_count %>
      </td>
    </tr>
    <tr>
      <td>
        Successfully Imported
      </td>
      <td>
        <%= import_upload.processed_row_count %>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%=import_upload.percent_completed%>%" aria-valuenow="<%=import_upload.percent_completed%>" aria-valuemin="0" aria-valuemax="100"><%=import_upload.percent_completed%>%</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Failed Rows
      </td>
      <td>
        <%= import_upload.failed_row_count %>
      </td>
    </tr>

    <% if import_upload.failed_row_count > 0 %>
      <tr>
        <td>
          <span class="badge bg-danger">
              Failed to import <%= import_upload.failed_row_count %> rows
          </span>
        </td>
        <td>
            Download <%= link_to "Results", import_upload.import_results.url, class: "btn-sm btn-primary" if import_upload.import_results.present? %> file to check which rows have errors and why.
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        Status
      </td>
      <td>
        <%= import_upload.status %>
      </td>
    </tr>

    <tr>
      <td>
        Date
      </td>
      <td>
        <%= l import_upload.created_at %>
      </td>
    </tr>

    <% if import_upload.error_text.present? %>
      <tr>
        <td>
          <a data-bs-toggle="collapse" class="btn btn-sm btn-outline-danger" href=".show_errors">Show Error</a>
        </td>
        <td>
          <span class="collapse show_errors"><%= import_upload.error_text %></span>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        Custom Fields Created
      </td>
      <td>
        <%= import_upload.custom_fields_created %>
      </td>
    </tr>


  </table>
  <% if params[:debug].present? %>
    <div>
      <%= link_to  t_common(:edit) , edit_import_upload_path(import_upload), {class: "btn btn-outline-primary ti ti-eye" } %>
      <%= button_to t_common(:delete) , import_upload, method: :delete, class: "btn btn-outline-danger ti ti-trash" , form_class: "deleteButton" %>
    </div>
  <% end %>

</div>
