  <%= render "layouts/filter", associations: [:user] %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    
    <h1 class="h3 mb-0 text-gray-800">Import Uploads</h1>
    <span>
    <%= link_to new_import_upload_path("import_upload[entity_id]": current_user.entity_id),
                { class: "btn btn-outline-primary"} do %>
      <i class="ti ti-upload"></i> Upload
    <% end %>
    <%= link_to import_uploads_path(filter: true),
                { class: "btn btn-outline-primary"} do %>
      <i class="ti ti-filter"></i> Filter
    <% end %>
    </span>
  </div>

  <table id="import_uploads" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Owner
        </th>
        <th>
          User
        </th>
        <th>
          Import Type
        </th>
        <th>
          Status
        </th>
        <th>
          Processed
        </th>
        <th>
          Date
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @import_uploads.each do |import_upload| %>
        <%= render import_upload %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @import_uploads %>