

<%= render ToggleCard.new(title: "Import Upload: #{@import_upload.to_s || 'New'}", css_class: "import_upload_card") do %>

  <%= turbo_stream_from @import_upload %>

  <%= render "/import_uploads/show", import_upload: @import_upload %>

  <% if @import_upload.created_at > Date.parse("2024-01-06") %>

    <div class="form-actions">
      <div class="border-top pt-3">
        <% if policy(@import_upload).delete_data? && params[:debug].present? %>`
          <%= button_to delete_data_import_upload_path(@import_upload),
                    class: "btn btn-outline-danger", form_class: "deleteButton",
                    data: { action: "click->confirm#popup", method: :delete,
                    msg: "This will delete all the imported data. Delete #{@import_upload.imported_data.count} rows?"}  do %>
            <i class="ti ti-trash"></i> Delete Imported Data
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>

<% end %>

  <div class="associated_entity">
    <% model_class = @import_upload.model_class.name.underscore.pluralize %>
    <% if ["interests", "investors", "portfolio_investments", "capital_commitments", "investor_kycs", "allocations", "fund_unit_settings", "account_entries", "capital_calls", "fund_ratios", "capital_remittances", "kpi_reports", "offers", "investments", "capital_distribution_payments"].include?(model_class) %>
      <turbo-frame id="<%= "#{model_class}_frame" %>" 
                   src="<%= url_for(controller: model_class, action: :index, import_upload_id: @import_upload.id) %>" 
                   loading="lazy" target="_top">
        <%= render "/layouts/loading" %>
      </turbo-frame>


    <% else %>
      <%= render "/#{model_class}/index", import_upload_id: @import_upload.id, "#{model_class}": @import_upload.imported_data %>
    <% end %>
  </div>
