

<%= render ToggleCard.new(title: "Import Upload: #{@import_upload.to_s || 'New'}", css_class: "import_upload_card") do %>

  <%= turbo_stream_from @import_upload %>

  <%= render "/import_uploads/show", import_upload: @import_upload %>

  <% if @import_upload.created_at > Date.parse("2024-01-06") %>

    <div class="form-actions">
      <div class="border-top pt-3">
        <%= button_to "Delete Imported Data", delete_data_import_upload_path(@import_upload), 
                  class: "btn btn-outline-danger", form_class: "deleteButton",
                  data: { action: "click->confirm#popup", method: :delete,
                  msg: "This will delete all the imported data. Delete #{@import_upload.imported_data.count} rows?"} if policy(@import_upload).delete_data? && params[:debug].present? %>

      </div>
    </div>
  <% end %>

<% end %>

  <div class="associated_entity">
    <% model_class = @import_upload.model_class.name.underscore.pluralize %>
    <% if ["interests", "investors", "portfolio_investments", "capital_commitments", "investor_kycs", "allocations", "fund_unit_settings"].include?(model_class) %>
      <turbo-frame id="<%= "#{model_class}_frame" %>" 
                   src="<%= url_for(controller: model_class, action: :index, import_upload_id: @import_upload.id) %>" 
                   loading="lazy" target="_top">
        <p>Loading <%= model_class.humanize %>...</p>
      </turbo-frame>


    <% else %>
      <%= render "/#{model_class}/index", import_upload_id: @import_upload.id, "#{model_class}": @import_upload.imported_data %>
    <% end %>
  </div>
