
<tr id="entity_<%= entity.id %>">
    
    <td>
        <%= link_to entity.name, entity_path(entity.id) %>
    </td>  
    <td>
        <%= entity.category %>
    </td>  
    <td>
        <%= entity.entity_type %>
    </td>  
    <td>
        <% if !vc_view %>
            <%= link_to "Documents", documents_path(entity_id: entity.id) , {class: "btn btn-primary"}%>
            <%= link_to "Investments", investments_path(entity_id: entity.id) , {class: "btn btn-success"}%>
        <% else %>
            <%= link_to "Documents", documents_path(entity_id: entity.id) , {class: "btn btn-primary"}%>
            <%= link_to "Investments", dashboard_entities_path(entity_id: entity.id, dashboard: "investor_dashboard") , 
                    {id: "investments_entity_#{entity.id}", class: "btn btn-success"}%>
            <%= link_to "Tasks", tasks_path(entity_id: entity.id) , 
                    {id: "tasks_#{entity.id}", class: "btn btn-success"}%>
            <%= link_to "Investment Opportunities", investment_opportunities_path(entity_id: entity.id) , 
                    {id: "tasks_#{entity.id}", class: "btn btn-success"} if entity.entity_type == "Investment Fund" %>
        <% end %>
    </td>  

</tr>
