<tr id="<%= dom_id exchange_rate %>">
  <td>
    <%= exchange_rate.from %>
  </td>
  <td>
    <%= exchange_rate.to %>
  </td>
  <td>
    <%= exchange_rate.rate %>
  </td>
  <td data-order="<%= exchange_rate.as_of&.strftime('%Y-%m-%d') %>">
    <%= l exchange_rate.as_of if exchange_rate.as_of %>
  </td>
  <td>
    <%= display_boolean exchange_rate.latest %>
  </td>
  <td>
    <%= link_to  t_common(:show), exchange_rate , {class: "btn btn-outline-primary"}%>
    <%= link_to "Reverse", new_exchange_rate_path(to: exchange_rate.from, from: exchange_rate.to) , {class: "btn btn-outline-success"}%>
  </td>
</tr>
