<div class="wizard_container" data-controller="wizard">
  <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-outline-primary btn-circle">1</a>
              <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">2</a>
              <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
        </div>
      </div>
  </div>

<%= form_with(model: excercise) do |form| %>
  <% if excercise.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(excercise.errors.count, "error") %> prohibited this excercise from being saved:</h2>

      <ul>
        <% excercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "/layouts/steps", steps: ["Holding Quantity: #{excercise.holding.quantity}", "Vesting Percent allowed: #{excercise.holding.allowed_percentage} %", "Max Excercisable Quantity: #{excercise.holding.net_avail_to_excercise_quantity}", "Attach Payment Proofs", "Excercise Your Option", "Wait For Approval"].freeze %>


  <%= form.number_field :holding_id, class: "form-control", hidden: true  %>

  <div data-controller="excercise">

    <div class="row setup-content" id="step-1">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header"> 1. Read Instructions </div>
              <div class="card-body">
  
                <h1>Please read the Excercise Instructions before you proceed.</h1>

                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row setup-content" id="step-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 2. Excercise Quantity </div>
            <div class="card-body">

              <div class="form-group">
                <%= form.label :quantity %>
                <%= form.number_field :quantity, class: "form-control", data: {action: "change->excercise#onChange"}  %>
                <small class="text-muted">Quantity defaults to the maximum <%= excercise.holding.net_avail_to_excercise_quantity %> that can be excercised per the <%= link_to "Vesting Schedule", excercise.option_pool %></small> 
              </div>

              <div class="form-group">
                <%= form.label :price %>
                <%= form.text_field :price, id: "price_disabled", class: "form-control", disabled: true  %>
                <%= form.text_field :price, class: "form-control", hidden: true  %>
                <small class="text-muted">The price specified in the <%= link_to "Option Pool", excercise.option_pool %></small> 
              </div>

              <div class="form-group">
                <%= form.label :amount %>
                <%= form.text_field :amount, id: "excercise_amount_disabled", class: "form-control", disabled: true  %>
                <%= form.text_field :amount, class: "form-control", hidden: true  %>
              </div>

              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
          </div>
      </div>
  </div>
</div>

  <div class="row setup-content" id="step-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 3. Taxes & Payment </div>
            <div class="card-body">

              <div class="field" class="form-group" data-controller="directuploads" >
                <%= form.label :payment_proof %>
                <%= form.file_field :payment_proof, class: "form-control", direct_upload: true, multiple:true %>
                <small class="text-muted"> Upload proof of payment as per the instructions. </small>
              </div>

          
              <div class="form-group">
                <%= form.submit "Save", {class: "btn btn-primary btn-lg"}%>
              </div>

            </div>
        </div>
    </div>
  </div>


  </div>

<% end %>

</div>