<%= render FormCard.new(title: "#{@compliance_rule}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @compliance_rule.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        For 
      </td>
      <td>
        <%= @compliance_rule.for_class %>
      </td>
    </tr>
    <tr>
      <td>
        Rule
      </td>
      <td>
        <%= @compliance_rule.rule %>
      </td>
    </tr>
    <tr>
      <td>
        Tags
      </td>
      <td>
        <%= @compliance_rule.tags %>
      </td>
    </tr>
    <tr>
      <td>
        Schedule
      </td>
      <td>
        <%= @compliance_rule.schedule %>
      </td>
    </tr>
    <tr>
      <td>
        Enabled
      </td>
      <td>
        <%= display_boolean @compliance_rule.enabled %>
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <% if policy(@compliance_rule).update? %>
      <%= link_to "Edit", edit_compliance_rule_path(@compliance_rule), {class: "btn btn-outline-primary"} %>
      <%= button_to "Delete", @compliance_rule, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>
