    <!-- Nav Item - Pages Collapse Menu -->
        
        <% if current_user.enable_investments %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/entities/investor_entities">
                <span><i class="ti ti-cash-banknote"></i></span>
                <span class="hide-menu"><%= t('sidebar.investments') %></span>
            </a>
            </li>
        <% end %>

        <% if current_user.enable_deals %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/deal_investors?for_investor=true">
                <span><i class="ti ti-briefcase"></i></span>
                <span class="hide-menu"><%= t('sidebar.deals') %></span>
            </a>
            </li>
        <% end %>

        <% if current_user.enable_secondary_sale %>
            <% if current_user.has_cached_role?(:rm) %>
                <li class="sidebar-item">
                <a class="sidebar-link" href="/secondary_sales">
                    <span><i class="ti ti-report-analytics"></i></span>
                    <span class="hide-menu"><%= t('sidebar.secondary_sales') %></span>
                </a>
                </li>
            <% else %>
                <li class="sidebar-item">
                <a class="sidebar-link" href="/offers?card=true">
                    <span><i class="ti ti-report-analytics"></i></span>
                    <span class="hide-menu"><%= t('sidebar.offers') %></span>
                </a>
                </li>

                <li class="sidebar-item">
                <a class="sidebar-link" href="/interests?card=true">
                    <span><i class="ti ti-report-analytics"></i></span>
                    <span class="hide-menu"><%= t('sidebar.interests') %></span>
                </a>
                </li>
            <% end %>
        <% end %>

        <% if current_user.enable_approvals %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/approvals">
                <span><i class="ti ti-rubber-stamp"></i></span>
                <span class="hide-menu"><%= t('sidebar.approvals') %></span>
            </a>
            </li>
        <% end %>


    
