
    <!-- Nav Item - Pages Collapse Menu -->
    <% if current_user.enable_investors %>
        <li class="sidebar-item">                
            <a class="sidebar-link has-arrow" href="/investors" data-bs-toggle="collapse" data-bs-target="#investorMenus">
                <span><i class="ti ti-users"></i></span>
                <span class="hide-menu"><%= t('sidebar.stakeholders') %></span>
            </a>

            <ul aria-expanded="false" class="collapse first-level">

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investors/new?investor[entity_id]=<%=current_user.entity_id%>">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.new_stakeholder') %></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investors">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.view_stakeholders') %></span>
                    </a>
                </li>
                <% if current_user.enable_approvals %>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/approvals">
                            <div class="round-16 d-flex align-items-center justify-content-center">
                                <i class="ti ti-chevron-right fs-2"></i>
                            </div>
                            <span class="hide-menu"><%= t('sidebar.approvals') %></span>
                        </a>
                    </li>
                <% end %>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/notes">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.notes') %></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investor_accesses?approved=false">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.pending_access') %></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investor_accesses">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.all_stakeholder_access') %></span>
                    </a>
                </li>
            
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/kpi_reports">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu"><%= t('sidebar.kpis') %></span>
                    </a>
                </li>
            </ul>

        </li>
    <% end %>
    
    <% if current_user.enable_documents %>
        <li class="sidebar-item"> 
            <a class="sidebar-link collapsed" href="/documents">
                <span><i class="ti ti-files"></i></span>
                <span class="hide-menu"><%= t('sidebar.documents') %></span>
            </a>
        </li>
    <% end %>

    <% if current_user.enable_captable %>
        <%= render "/layouts/sidebars/investments_menus" %>
    <% end %>

    
    <!-- Divider -->
    <hr class="sidebar-divider">
    <% if current_user.enable_deals %>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="sidebar-item">                
            <a class="sidebar-link" href="/deals">
                <span><i class="ti ti-briefcase"></i></span>
                <span class="hide-menu"><%= t('sidebar.deals') %></span>
            </a>
        </li>
    <% end %>
    
    

    <% if current_user.enable_secondary_sale %>
    
        <li class="sidebar-item">                
            <a class="sidebar-link" href="/secondary_sales">
                <span><i class="ti ti-report-analytics"></i></span>
                <span class="hide-menu"><%= t('sidebar.secondary_sales') %></span>
            </a>

        </li>

    <% end %>
