<%= render FormCard.new(title: "Grid View Preference #{grid_view_preference.name}", css_class: "dynamic_form") do %>

<%= form_with(model: grid_view_preference, id: "grid_view_form", validates: true) do |form| %>
  <% if grid_view_preference.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(grid_view_preference.errors.count, "error") %> prohibited this grid view preference from being saved:</h2>
      <ul>
        <% grid_view_preference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :owner_type, value: grid_view_preference.owner_type, class: "form-control" %>
  <%= form.hidden_field :owner_id, value: grid_view_preference.owner_id, class: "form-control" %>
  <%= form.hidden_field :derived_field, value: grid_view_preference.derived_field, class: "form-control"
  %>

  <% if grid_view_preference.new_record? || grid_view_preference.derived_field %>
    <div class="form-group">
      <%= form.label :key, "Enter Grid View Key" %>
      <%= form.text_area :key, class: "form-control", placeholder: "Enter the element to extract the data for" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :label, "Label" %>
    <%= form.text_field :label, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data_type, "Data Type", class: "col-sm-2 col-form-label" %>
      <% field_types =  %w[String Number Decimal Date HTML].sort %>
      <%= form.select :data_type, options_for_select(field_types, grid_view_preference.data_type), { prompt: "Select Data Type" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sequence, "Sequence" %>
    <%= form.number_field :sequence, class: "form-control", min: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :alignment, "Alignment", class: "col-sm-2 col-form-label" %>
    <%= form.text_field :alignment, class: "form-control", placeholder: "e.g. text-start, text-center, text-end" %>
  </div>

  <div class="form-group">
    <%= form.button type: 'submit', class: "btn btn-outline-primary" do %>
        <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
    <% end %>
    <a class="btn btn-outline-danger ti ti-x" data-action="click->grid-view#close">Close</a>
  </div>
<% end %>

<% end %>
