<%= form_with(model: message, id: "message_form") do |form| %>
  <% if message.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :message, "Details" %>
    <%= form.rich_text_area :content, class: "form-control", id: "RT#{rand(100000)}"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
