<%= render FormCard.new(title: "Incoming Emails : #{incoming_email.presence || 'New'}") do %>
  <%= form_with(model: incoming_email, validate: true) do |form| %>
    <% if incoming_email.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(incoming_email.errors.count, "error") %> prohibited this incoming_email from being saved:</h2>
        <ul>
          <% incoming_email.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :from %>
      <%= form.text_field :from, class: "form-control", disabled: true  %>
    </div>
    <div class="form-group">
      <%= form.label :to %>
      <%= form.text_field :to, class: "form-control", disabled: true  %>
    </div>
    <div class="form-group">
      <%= form.label :subject %>
      <%= form.text_field :subject, class: "form-control", disabled: true  %>
    </div>
    
    <% if incoming_email.owner.blank? || incoming_email.owner_type == "Investor" %>
    <div class="form-group">
      <%= form.label :owner_id %>
      <%= form.select :owner_id, incoming_email.entity.investors.map{|i|[i.investor_name, i.id]}, {include_blank: true}, class: "form-control"  %>
      <%= form.text_field :owner_type, class: "form-control", value: "Investor", hidden: true  %>
    </div>
    <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    
    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>
<% end %>