<tr id="<%= dom_id nudge %>">
  <td>
    <%= nudge.to %>
  </td>
  <td>
    <%= nudge.subject %>
  </td>
  <td>
    <%= nudge.user.full_name %>
  </td>
  <td>
    <%= link_to  t_common(:show) , nudge , {class: "btn btn-outline-primary" }%>
  </td>
</tr>