

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        To
      </td>
      <td>
        <%= @nudge.to %>
      </td>
    </tr>
    <tr>
      <td>
        Cc
      </td>
      <td>
        <%= @nudge.cc %>
      </td>
    </tr>
    <tr>
      <td>
        Bcc
      </td>
      <td>
        <%= @nudge.bcc %>
      </td>
    </tr>
    <tr>
      <td>
        Subject
      </td>
      <td>
        <%= @nudge.subject %>
      </td>
    </tr>
    <tr>
      <td>
        Msg Body
      </td>
      <td>
        <%= @nudge.msg_body %>
      </td>
    </tr>
    <tr>
      <td>
        User
      </td>
      <td>
        <%= @nudge.user.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @nudge.entity.name %>
      </td>
    </tr>
    <% if @nudge.item %>
    <tr>
      <td>
        Item
      </td>
      <td>
        <%= link_to "Linked #{@nudge.item_type}", @nudge.item  %>
      </td>
    </tr>
    <% end %>

  </table>


  <div>
    <%= link_to  t_common(:edit) , edit_nudge_path(@nudge), {class: "btn btn-outline-primary" } %> |
    <%= button_to t_common(:delete) , @nudge, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo: false} %>
  </div>