<div class="activity_timeline">
<div class="container-fluid">
    <div class="row example-centered">
        <div class="col-md-12 example-title">
            <% title ||= nil %>
            <h2>Activity Timeline <%= title %></h2>
            <span><%= l Time.zone.now %></span>
        </div>
        <div class="col-md-12">
            <ul class="timeline timeline-centered">
                <% activities.each do |activity| %>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>
                                <%= l activity.created_at %>
                            </span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">
                                <%= activity.trackable_type %>
                            </h3>
                            <p>
                                <%= link_to activity.trackable.to_s, activity.trackable if activity.trackable %>
                            </p>
                            <p><%= I18n.t activity.key %></p>
                            <p>
                                By: <%= activity.owner.name if activity.owner %>
                            </p>
                            
                        </div>
                    </li>

                    <% end %>
            </ul>
        </div>
    </div>
</div>
</div>