<%= render FormCard.new(title: "Valuation : #{valuation.owner.presence || 'New'}") do %>

  <%= form_with(model: valuation, validate: true, data: {turbo: false}) do |form| %>
    <% if valuation.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

        <ul>
          <% valuation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>

    <div class="form-group">
      <%= form.label :valuation_date %>
      <%= form.date_field :valuation_date, class: "form-control"  %>
    </div>

    <% if valuation.owner %>

      <% investment_instruments = valuation.owner.investment_instruments %>

      <% if valuation.new_record? %>
        <!-- New record : allow multiple valuations to be created simeltaneously -->
        <div class="row">
          <div class="form-group col">
            <%= form.label :investment_instrument_ids, "Instrument" %>
            <%= form.select :investment_instrument_ids, investment_instruments.map{|i| [i.name, i.id]}, {selected: params[:investment_instrument_ids]}, class: "form-control select2", multiple: "multiple", name: "investment_instrument_ids[]", data: { select_target: "select" }, required: true %>
          </div>
          <div class="form-group col" data-controller="currencyformat">
                <%= form.label :per_share_value %> <span class="formatted_currency"></span>
                <%= form.number_field :per_share_value, class: "form-control",  step: :any,
                    data: {action: "input->currencyformat#format"} %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="form-group col">
            <%= form.label :investment_instrument_id, "Instrument" %>
            <%= form.select :investment_instrument_id, investment_instruments.map{|i| [i.name, i.id]}, {}, class: "form-control", data: { select_target: "select" } %>
          </div>
          <div class="form-group col" data-controller="currencyformat">
              <%= form.label :per_share_value %> <span class="formatted_currency"></span>
              <%= form.number_field :per_share_value, class: "form-control",  step: :any, value: valuation.per_share_value_cents.to_d / 100.0,
                  data: {action: "input->currencyformat#format"} %>
          </div>
        </div>
      <% end %>

    <% end %>

    <div class="form-group">

      <%= render "layouts/single_upload", form: form, field_label: "Upload the valuation report",
                              for_model: "valuation", field_name: "report",
                              model: valuation %>

    </div>


    <%= custom_form_fields(valuation, form) %>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>
