<% # sometimes we render the partial directly instead of going through the controller
   # the controller does sorting but when the partial is rendered we sort the valuations here
    import_upload_id ||= nil
    valuations = valuations.order(valuation_date: :desc) if valuations && valuations.respond_to?(:arel) && valuations.arel.orders.blank?
    data_source ||= valuations_path(params: params.to_unsafe_h, import_upload_id: import_upload_id)
%>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Valuations</h1>
    <%
      owner_id = params[:owner_id] || local_assigns[:owner_id]
      owner_type = params[:owner_type] || local_assigns[:owner_type]
    %>
    <span>
    <%= link_to "New Valuation",
        new_valuation_path("valuation[owner_id]": owner_id, "valuation[owner_type]": owner_type),
        {class: "btn btn-outline-primary ti ti-plus"}  %>


    <%= link_to "Value Bridge",
        value_bridge_valuations_path("portfolio_company_id": owner_id),
        {class: "btn btn-outline-primary ti ti-chart-column"} if owner_type == "Investor" %>

    <%= link_to "Upload",
                  new_import_upload_path("import_upload[owner_id]": owner_id,
                  "import_upload[owner_type]": owner_type,
                  "import_upload[import_type]": "Valuation",
                  "sample_upload": "VALUATION_SAMPLE"),
                  { class: "btn btn-outline-primary ti ti-upload"}   %>

    <%
      xl_data_source ||= valuations_path( params: params.to_unsafe_h, import_upload_id: import_upload_id, all: true, format: :xlsx)
      xl_link = download_xl_link(xl_data_source)
    %>

    <%= link_to t_common(:export_all), xl_link, class: "btn btn-outline-primary ti ti-download", data: { turbo: false } %>

    </span>
  </div>


<% q ||=nil %>
<%=render SearchComponent.new(data_source: data_source, turbo_frame: "valuations_frame") %>
<div class="table-responsive">
  <%= render RansackTable.new(Valuation, q: q, current_user: current_user, records: valuations, report_id: params["report_id"], turbo_frame: "valuations_frame", referrer: request.referrer, pagy: @pagy) %>
</div>
