<tr id="<%= dom_id valuation %>">
  <td>
    <%= valuation.instrument_type %>
  </td>
  <td>
    <%= l valuation.valuation_date %>
  </td>
  <td>
    <%= money_to_currency valuation.valuation, params %>
  </td>
  <td>
    <%= money_to_currency valuation.per_share_value, params %>
  </td>
  <td>
    <%= link_to "Show" , valuation , {class: "btn btn-outline-primary" }%>
  </td>
</tr>