<% show_form = params[:show_form] || true %>
<%= render FormCard.new(title: "Value Bridge") do %>
  <%= form_with(model: Valuation.new(entity_id: current_user.entity_id), url: value_bridge_valuations_path, method: :get, data: { turbo_frame: "value_bridge_frame" }) do |form| %>

    <% valuations = @portfolio_company.valuations.order(id: :desc).map { |i| [i.to_extended_s, i.id] } %>

    <%= form.hidden_field :portfolio_company_id, value: @portfolio_company.id, name: :portfolio_company_id %>
    <%= form.hidden_field :show_form, value: show_form, name: :show_form %>

    <div class="row align-items-end">
      <div class="col-md-4">
        <%= form.label :initial_valuation_id, "Entry", class: "ms-1 form-label" %>
        <%= form.select :initial_valuation_id, valuations, { selected: params[:initial_valuation_id] }, class: "form-select", name: :initial_valuation_id %>
      </div>

      <div class="col-md-4">
        <%= form.label :final_valuation_id, "Exit", class: "ms-1 form-label" %>
        <%= form.select :final_valuation_id, valuations, { selected: params[:final_valuation_id] }, class: "form-select", name: :final_valuation_id %>
      </div>

      <div class="col-md-2">
        <%= form.label :moic, "Moic", class: "ms-1 form-label" %>
        <%= form.check_box :moic, checked: params[:moic] == "1",  class: "form-check-input", style: "margin-bottom:10px;margin-left:10px;", name: :moic, value: true %>
      </div>

      <div class="col-md-1 d-flex align-items-end">
        <%= form.submit "Show", class: "btn btn-outline-primary ms-auto" %>
      </div>
    </div>

  <% end %>
<% end %>
