

<tr id="<%= dom_id valuation %>">
  <td>
    <%= l valuation.valuation_date %>
  </td>
  <td>
    <%= money_to_currency valuation.pre_money_valuation, params %>
  </td>
  <td>
    <%= money_to_currency valuation.per_share_value, params %>
  </td>
  <td>
    <%= link_to "Show" , valuation , {class: "btn btn-primary" }%>
  </td>
</tr>