<%= render "/layouts/filter", associations: [:investment_instrument], hidden_fields: {owner_id: params[:owner_id], owner_type: params[:owner_type], timeseries: params[:timeseries], attributes: params[:attributes]} %>

<%= turbo_frame_tag with_frame("valuations_frame"), target: "_top" do %>
  <% if params[:timeseries].present? %>
    <%= render "/valuations/time_series", valuations: @valuations %>
  <% else %>
    <%= render "/valuations/index", valuations: @valuations %>
  <% end %>
<% end %>

<%= turbo_frame_tag with_frame("valuations_charts_frame"), target: "_top" do %>
<div class="associated_entity">
    <%= render "/valuations/charts", entity: current_user.entity, owner_id: params[:owner_id], owner_type: params[:owner_type] %>
</div>
<% end %>


