<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @valuation.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Valuation Date
    </td>
    <td>
      <%= l @valuation.valuation_date %>
    </td>
  </tr>

  <tr>
    <td>
      Per Share Value
    </td>
    <td>
      <%= money_to_currency @valuation.per_share_value, params %>
    </td>
  </tr>

  
  <tr>
    <td>
      Valuation
    </td>
    <td>
      <%= money_to_currency @valuation.valuation, params %>
    </td>
  </tr>

  <tr>
    <td>
      Net Valuation
    </td>
    <td>
      <%= money_to_currency @valuation.net_valuation, params %>
    </td>
  </tr>

  
  

  <%= display_custom_fields(@valuation) %>

  <tr>
    <td>
      Valuation Reports
    </td>
    <td>
      <%= link_to "Report", @valuation.report.url, class: "btn btn-outline-success", target: "_blank" if @valuation.report.present? %>
    </td>
  </tr>

  <% if @valuation.owner %>
  <tr>
    <td>
      Owner
    </td>
    <td>
      <%= link_to @valuation.owner_type, @valuation.owner %>
    </td>
  </tr>
  <% end %>

</table>


<div>
  <% if policy(@valuation).update? %>

    <%= link_to "Edit" , edit_valuation_path(@valuation), {class: "btn btn-outline-primary" } %> |
    <%= button_to "Delete" , @valuation, method: :delete, class: "btn btn-outline-danger" , 
        form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} %>

  <% end %>
</div>