

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Valuation</h6>
  </div>
<div class="card-body">
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @valuation.entity.name %>
    </td>
  </tr>
  <% if @valuation.owner %>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= link_to @valuation.owner&.investor_name, @valuation.owner %>
      </td>
    </tr>

    <tr>
      <td>
        Instrument
      </td>
      <td>
        <%= link_to @valuation.investment_instrument %>
      </td>
    </tr>

  <% end %>

  <tr>
    <td>
      Valuation Date
    </td>
    <td>
      <%= l @valuation.valuation_date %>
    </td>
  </tr>
  <tr>
    <td>
      Per Share Value
    </td>
    <td>
      <%= @valuation.per_share_value_cents / 100 %>
    </td>
  </tr>

  <tr>
    <td>
      Currency
    </td>
    <td>
      <%= @valuation.currency %>
    </td>
  </tr>

  <% if @valuation.synthetic %>
  <tr>
    <td>
      Synthetic
    </td>
    <td>
      <%= display_boolean(@valuation.synthetic) %>
    </td>
  </tr>
  <% end %>

  <%= display_custom_fields(@valuation) %>
  <tr>
    <td>
      Valuation Reports
    </td>
    <td>
      <%= link_to "Report", @valuation.report.url, class: "btn btn-outline-success", target: "_blank" if @valuation.report.present? %>
    </td>
  </tr>
</table>
<div>
  <% if policy(@valuation).update? %>
    <%= link_to  t_common(:edit) , edit_valuation_path(@valuation), {class: "btn btn-outline-primary" } %> |
    <%= button_to t_common(:delete) , @valuation, method: :delete, class: "btn btn-outline-danger" ,
        form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} %>
  <% end %>
</div>
</div>
