<%= render FormCard.new(title: "Value Bridge") do %>
    <%= form_with(model: Valuation.new(entity_id: current_user.entity_id), url: value_bridge_valuations_path, method: :get, data: {turbo: false}) do |form| %>

        <% valuations =  @portfolio_company.valuations.order(id: :desc).map{|i| [i.to_extended_s, i.id]} %>

        <div class="row">
          <div class="form-group col">
            <%= form.label :initial_valuation_id, "Entry" %>
            <%= form.select :initial_valuation_id, valuations, {}, class: "form-control", name: :initial_valuation_id %>
          </div>
          <div class="form-group col">
            <%= form.label :final_valuation_id, "Exit" %>
            <%= form.select :final_valuation_id, valuations, {}, class: "form-control", name: :final_valuation_id %>
          </div>
        </div>

        <div class="form-group">
            <%= form.submit "Show", {class: "btn btn-outline-primary"}%>
        </div>

    <% end %>    

<% end %>

