<%= form_with(model: funding_round, validate: true) do |form| %>
  <% if funding_round.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(funding_round.errors.count, "error") %> prohibited this funding_round from being saved:</h2>

      <ul>
        <% funding_round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :currency, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :pre_money_valuation %>
    <%= form.number_field :pre_money_valuation, class: "form-control"  %>
    <small class="text-muted">In <%= funding_round.currency %></small>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :liq_pref_type %>
    <%= form.select :liq_pref_type, ["Non-participating", "Participating"], {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :anti_dilution %>
    <%= form.select :anti_dilution, ["Weighted average - Broad based", "Weighted average - Narrow based", "Full anti dilution"], {include_blank: true}, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :closed_on, "Closed On Date" %>
    <%= form.date_field :closed_on, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ["Open", "Closed"], {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
