<tr id="<%= dom_id funding_round %>">
  <td>
    <%= funding_round.name %>
  </td>
  <td>
    <%= funding_round.currency %>
  </td>
  <td>
    <%= money_to_currency funding_round.amount_raised, params %>
  </td>
  <td>
    <%= money_to_currency funding_round.pre_money_valuation, params %>
  </td>
  <td>
    <%= money_to_currency funding_round.post_money_valuation, params %>
  </td>
  <td>
    <%= funding_round.status%>
  </td>
  <td>
    <%= l funding_round.created_at.to_date %>
  </td>
  <td>
    <%= l funding_round.closed_on if funding_round.closed_on%>
  </td>
  <td>
    <%= link_to "Show" , funding_round , {class: "btn btn-outline-primary" }%>
  </td>
</tr>