<!-- Capture the fields that were changed and publish them -->
<% audited_changes.each_with_index do |key_val, idx| %>
    <% k, v = key_val %>          
    
    <% if v && (!v.kind_of?(Array) || v[0].present? || v[1].present?) %>                
    <tr>            
        <td><%= audit.id %></td>
        <td>
        <%= l(audit.created_at)  %>
        <small class="text-muted">(<%= audit.action.humanize %>)</small>
        </td>
        <!-- Only show the user for the first change in the change set -->
        <td><%= idx == 0 ? (audit.user ? audit.user.name : "System") : nil %></td>        
        <% if k == "json_fields" %>
        <td> Custom Fields </td>
        <td> <%= Json2table.get_html_table(v[0], JsonTable::TABLE_OPTIONS).html_safe if v[0] %> </td> 
        <td> <%= Json2table.get_html_table(v[1], JsonTable::TABLE_OPTIONS).html_safe if v[1]%> </td>
        <% else %>
        <td><%= k.humanize %></td>
        <% if v.kind_of?(Array) %>
            <td> <%= v[0] %> </td> 
            <td> <%= v[1] %> </td>
        <% else %>
            <td> <%= v %> </td> 
            <td> </td>
        <% end %>
        <% end %>
    </tr>
    <% end %> 
<% end %>