<% if params[:filter].present? || params[:q].present? %>

  <div class="card filter_form" data-controller="filter">
    <div class="card-header">
      Filter
    </div>
    <div class="card-body">
      <% @q.build_condition if @q.conditions.empty? %>
      <%= search_form_for @q, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "/layouts/condition_fields", f: c, associations: associations %>
        <% end %>
        <div class="field"></div>

        <div class="action float-end">        
          <%= f.button "", class: "btn btn-outline-primary", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Search" do %>
            <i class="ti ti-search"></i>
          <% end %>

          <%= link_to_add_fields '<i class="ti ti-plus"></i>'.html_safe, f, :condition, associations %>
          
          <%= link_to new_report_path, class: "btn btn-outline-info", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Save Report" do %>
            <i class="ti ti-database"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
