<% if params[:filter].present? || params[:q].present? %>

  <div class="card filter_form" data-controller="filter">
    <div class="card-header">
      Filter
    </div>
    <div class="card-body">
      <% @q.build_condition if @q.conditions.empty? %>
      <%= search_form_for @q, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "/layouts/condition_fields", f: c, associations: associations %>
        <% end %>
        <div class="field"></div>

        <div class="action float-end">        
          <%= link_to_add_fields "Add Conditions", f, :condition, associations %>
          <%= link_to "Save Report", new_report_path, class: "btn btn-outline-info" %>
          <%= f.submit "Search", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
