<% if params[:filter].present? || params[:q].present? || params[:ag].present? %>

  <%
    hidden_fields ||= {}
    include_template ||= nil
    disabled ||= false
    state ||= "show"
    css_class||= "show_filter"
    url ||= polymorphic_path(@q.klass.new)
    page_size ||= false
    page_size_options ||= [["", ""], 10, 20, 50, 100]
  %>





  <%= render ToggleCard.new(title: "Filter", css_class: css_class, controller: "filter", state: state) do %>

    <% if false && current_user.enable_user_llm_chat  %>
      <div class="">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <%= form_with(url: prompt_reports_path(model_class: controller_name.singularize.camelize), method: :post, local: true, data: { turbo: false }, class: "row") do |form| %>
              <div class="col-10">
                <%= form.text_field :query, class: "form-control", id: "query", rows: 4, placeholder: "Enter your query here" %>
              </div>
              <div class="col-2">
                <%= form.submit "Submit", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% @q.build_condition if @q.conditions.empty? %>

    <% if disabled %>
      <!-- Disable the form if the disabled flag is set -->
      <fieldset disabled="disabled">
        <%= search_form_for @q, method: :post, url: do |f| %>
          <%= render "/layouts/filter_ext" %>
          <%= f.condition_fields do |c| %>
            <%= render "/layouts/condition_fields", f: c, associations: associations %>
          <% end %>
        <% end %>
      </fieldset>
    <% else %>
      <%= search_form_for @q, method: :post, url: do |f| %>
          <%= render "/layouts/filter_ext" %>
          <%= f.condition_fields do |c| %>
            <%= render "/layouts/condition_fields", f: c, associations: associations %>
          <% end %>

          <div class="action float-end">

            <% if %w[portfolio_investments].include?(params[:controller]) %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="ag_grid" name="ag" value="true" <%= params[:ag].present? ? "checked" : nil %> >
              <label class="form-check-label" for="ag_grid">Enable Pivots</label>
            </div>
            <% end %>

            <% if %w[kpis kpi_reports].include?(params[:controller]) %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="grid_view" name="grid_view" value="true" <%= params[:grid_view].present? ? "checked" : nil %> >
              <label class="form-check-label" for="grid_view">Grid View</label>
            </div>
            <% end %>

            <% if page_size %>
            <%= select_tag :page_size, options_for_select(page_size_options, selected: params[:page_size]), class: "form-control mt-2", style: "width:unset;display:unset;" %>
            <% end %>

            <%= f.button "", class: "btn btn-outline-primary search-button", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Search" do %>
              <i class="ti ti-search"></i>
            <% end %>

            <%= link_to_add_fields '<i class="ti ti-plus"></i>'.html_safe, f, :condition, associations %>

            <%= link_to new_report_path, class: "btn btn-outline-info", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Save Report" do %>
              <i class="ti ti-database"></i>
            <% end %>
          </div>

          <% if include_template.present? %>
            <%= render include_template, form: f %>
          <% end %>

          <% hidden_fields.each do |key, value| %>
            <%= hidden_field_tag key, value if value %>
          <% end %>


      <% end %>
    <% end %>
    <!-- End of ToggleCard -->
  <% end %>
<% end %>
