<div class="mb-3"   data-controller="multiple-upload" 
                    data-multiple-upload-types-value="<%= FileUploader::ALLOWED_TYPES.to_json %>" 
                    data-multiple-upload-server-value="<%= upload_server %>"
                    data-multiple-upload-drop-here-value="<%= title %>"
                    data-multiple-upload-parent-model-value="<%= for_model %>">
    <!-- will be replaced by Uppy -->
    <%= form.label :documents, "Select Files", class: "form-label" %>
    <%= form.file_field :documents,
    multiple: true,
    class: "form-control",
    data: { multiple_upload_target: "input" } %>
</div>