<% allowed_types ||= FileUploader::ALLOWED_TYPES %>
<div data-controller="single-upload"
    id="xlsx-upload"
    data-single-upload-types-value="<%= allowed_types.to_json %>"
    data-single-upload-server-value="<%= upload_server %>">

    <div class="mb-3">

      <%= form.label field_name.to_sym, field_label, class: "form-label" %>

      <!-- for storing cover photo uploaded file data -->
      <%= form.hidden_field field_name.to_sym,
        value: model.public_send("cached_#{field_name}_data"),
        data: { single_upload_target: "result" },
        id: nil %>

      <!-- will be replaced by Uppy -->
      <%= form.file_field field_name.to_sym,
        class: "form-control",
        data: { single_upload_target: "input" } %>
    </div>

    <div class="UppyInput-Progress <%=for_model %>_<%=field_name.to_sym%>_progress"></div>

    <div class="d-inline-block mt-1 mb-3">
      <!-- static link to the thumbnail generated on attachment -->
      <% image_src = model.public_send("#{field_name}_url") ?
                           model.public_send("#{field_name}_url") : "" %>
      <%= image_tag image_src,
        width: 300,
        class: "img-thumbnail file-upload-preview",
        data: { single_upload_target: "preview" }  %>
    </div>
</div>