<% 
    colors = ["success", "info", "danger", "warning"].freeze 
    show_step_numbers = true  if show_step_numbers.nil?
%>


<div class="d-none d-sm-block steps">
    <div class="row">
        <% steps.each_with_index do |step, index| %>
        <% color = colors[index % colors.length] %>
        <div class="col">
            <div class="card h100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                <div>
                    <% if show_step_numbers %>
                        <h3 class="fs-4">Step <%= index + 1 %></h3>
                        <h6 class="card-subtitle mb-1 text-muted"><%= step %></h6>
                    <% else %>
                        <h3 class="fs-4"><%= step.split(":")[0] %></h3>
                        <h6 class="card-subtitle mb-1 text-muted"><%= step.split(":")[1] %></h6>
                    <% end %>
                    
                </div>
                <div class="ms-auto">
                    <span class="text-<%=color%> display-6"><i class="ti ti-chevron-right"></i></span>
                </div>
                </div>

                <div class="progress-bar-wrapper">
                    <div class="progress-bar text-bg-<%=color%>" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
            </div>
        </div>
        <% end %>    
    </div>
</div>