<!DOCTYPE html>
<% theme = cookies[:theme] || "light" %>
<html lang="en" dir="ltr" data-bs-theme="<%= theme %>" data-color-theme="Blue_Theme">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />

  <!-- Core Css -->
  <link rel="stylesheet" href="/modernize/css/styles.css" />
  <!-- In application layout or Markdown partial -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css">



  <script src="/modernize/libs/jquery/dist/jquery.min.js"></script>
  <script src="/modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    
    <!-- For playing videos in docs -->
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />

    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/2.0.2/sorting/formatted-numbers.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    
    <!-- Tracking -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4CPQNX69HM"></script>
    <script src="/js/clarity.js"></script>

    <!-- PDFTron -->
    <script src='/lib/webviewer.min.js'></script>
    <script src='/lib/core/webviewer-core.min.js'></script>
    <script src='/lib/core/pdf/PDFNet.js'></script>
    
    <script src="/js/uppy.min.js"></script>

    <link href="https://code.highcharts.com/dashboards/css/dashboards.css" rel="stylesheet">

    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    
     <!-- Include the JS for AG Grid -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@30.2.1/dist/ag-grid-enterprise.min.js"></script>
    
    <!-- Include the core CSS, this is needed by the grid -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css"/>
    <!-- Include the theme CSS, only need to import the theme you are going to use -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-quartz.css"/>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/command-pal"></script>
    
  <title>CapHive</title>
</head>

<body data-controller="confirm" data-turbo-prefetch="false">
  <!-- Preloader -->
  <div class="preloader">
    <img src="/img/loading.gif" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper">

    <%= render "/layouts/modernize/sidebar_main" %>

    <div class="page-wrapper" data-controller="commandpal">
      
      <%= render "/layouts/modernize/topbar" %>
      <%#= render "/layouts/modernize/sidebar_horizontal" %>
      
      <div class="body-wrapper">
        <div class="container-fluid mw-100">

          <%= turbo_stream_from current_user, "user_alert" if current_user %>
          <div id="user_alert"></div>

          <%= render "/users/reset_password" if (current_user && current_user.reset_password?) %>
          <%= render "/layouts/accept_terms" if (current_user && !current_user.accept_terms) %>

          <span id="alert"></span>
          
          <%= render "/layouts/alerts" %>
          <%= render "/layouts/breadcrumbs" %>
          <%= render HelpSlideOut.new(class_name: "#{controller_path.classify}", action: controller.action_name, id: params[:id], current_user: current_user) %>
          
          <% if params[:audit_trail].present? && params[:id].present? %>
            <!-- Audit Trail of the record with id -->
            <%= render "/layouts/audit" %>
          <% elsif params[:ai_checks].present? && params[:id].present? %>
            <!-- Audit Trail of the record with id -->
            <%= render "/ai_checks/show_checks" %>
          <% elsif params[:ow_sync].present? && params[:id].present? %>
            <!-- Audit Trail of the record synced with OpenWebUI -->
            <%= render "/ow/sync_records" %>
          <% else %>
            <!-- Page Content -->
            <%= yield %>
          <% end %>
          
        </div>
      </div>
      
      <%#= render "/layouts/modernize/theme_chooser" %>

    </div>

    <%= render "/layouts/modernize/searchbar" %>
    <%#= render "/layouts/modernize/sidebar_offcanvas" %>

    <%= render "/layouts/logout_modal" %>    
    <%= render "/layouts/confirm" %>
    <%= render "/layouts/terms" if (current_user && !current_user.accept_terms) %>

  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <!-- Import Js Files -->
  <script src="/modernize/js/theme.js"></script>
  <script src="/modernize/js/app.min.js"></script>
  <script src="/modernize/js/app.init.js"></script>
  <script src="/modernize/libs/simplebar/dist/simplebar.min.js"></script>
  <script src="/modernize/js/sidebarmenu.js"></script>
  <script src="/modernize/js/widget/ui-card-init.js"></script>
  
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    
</body>

</html>