<tr id="<%= dom_id ci_profile %>">
  <td>
    <%= ci_profile.title %>
  </td>
  <td>
    <%= ci_profile.geography %>
  </td>
  <td>
    <%= ci_profile.stage %>
  </td>
  <td>
    <%= ci_profile.sector %>
  </td>
  <td>
    <%= money_to_currency ci_profile.fund_size, params %>
  </td>
  <td>
    <%= money_to_currency ci_profile.min_investment, params %>
  </td>
  <td>
    <%= ci_profile.currency %>
  </td>
  <td>
    <%= ci_profile.status %>
  </td>
  <td>
    <%= link_to "Show", ci_profile , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
