<div id="ci_profile_details" class="associated_entity" data-controller="tabs tabdetails">
  
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab">Documents</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#widgets-tab">Widgets</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#track-records-tab">Track Record</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-rights-tab" 
          data-action="click->tabdetails#loadData">Access Rights</a>
  </nav>

  <div class="tab-content" data-controller="datatable">
  
    <div id="docs-tab" class="tab-pane show active">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: ci_profile.documents, 
                owner: ci_profile, entity: ci_profile.entity %>
      </div>
    </div>


    <div id="widgets-tab" class="tab-pane fade">
      <div id="widgets" class="associated_entity">
        <%= render "/ci_widgets/index", ci_widgets: ci_profile.ci_widgets %>
      </div>
    </div>

    <div id="track-records-tab" class="tab-pane fade">
      <div id="track_records" class="associated_entity">
        <%= render "/ci_track_records/index", ci_track_records: ci_profile.ci_track_records %>
      </div>
    </div>


    <div id="access-rights-tab" class="tab-pane fade">

      <div id="access_rights" class="associated_entity" data-controller="datatable">
        <% form_type = !belongs_to_entity_id?(current_user, ci_profile.entity_id) ? "investor_form" : nil %>
        <%= link_to access_rights_path(owner_id: ci_profile.id, owner_type: "CiProfile", 
                                        entity_id: current_user.entity_id, form_type:), 
                    class: "load_data_link", data: { turbo_frame: 'access_rights_frame' } do %>
          <span>Loading...</span>
        <% end %>
    
        <%= turbo_frame_tag "access_rights_frame", target: "_top" do %>
        <% end %>
      </div>

    </div>

  </div>

</div>
