<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= ci_profile.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= ci_profile.fund&.name %>
    </td>
  </tr>
  <tr>
    <td>
      Title
    </td>
    <td>
      <%= ci_profile.title %>
    </td>
  </tr>
  <tr>
    <td>
      Geography
    </td>
    <td>
      <%= ci_profile.geography %>
    </td>
  </tr>
  <tr>
    <td>
      Stage
    </td>
    <td>
      <%= ci_profile.stage %>
    </td>
  </tr>
  <tr>
    <td>
      Sector
    </td>
    <td>
      <%= ci_profile.sector %>
    </td>
  </tr>
  <tr>
    <td>
      Fund Size Cents
    </td>
    <td>
      <%= money_to_currency ci_profile.fund_size, params %>
    </td>
  </tr>
  <tr>
    <td>
      Min Investment Cents
    </td>
    <td>
      <%= money_to_currency ci_profile.min_investment, params %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= ci_profile.status %>
    </td>
  </tr>
  <tr>
    <td>
      Details
    </td>
    <td>
      <%= ci_profile.details&.html_safe %>
    </td>
  </tr>

</table>
<div>
  <%= link_to "Preview", ci_profile_path(ci_profile, preview: 'true'), {class: "btn btn-outline-info"} %> 
  <%= link_to "Edit", edit_ci_profile_path(ci_profile), {class: "btn btn-outline-primary"} %> 
  <%= button_to "Delete", ci_profile, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
</div>


<%= render "/ci_profiles/details", ci_profile: ci_profile %>