<% if @custom_notification %>

    <%= render "/custom_notifications/mail" %>

<% else %>

    <p>Dear <%= @investor_kyc.full_name.present? ? @investor_kyc.full_name : "User" %></p>

    <p>

        <% if @investor_kyc.notification_msg.present? %>
            <%= @investor_kyc.notification_msg.html_safe %>
        <% else %>
            <%= @investor_kyc.entity.name %> has requested that you kindly add / update your KYC details by clicking on the button below.
        <% end %>

    </p>

<% end %>

<p class="btn btn-outline-primary"><%= link_to  "Login to Access", edit_investor_kyc_url(@investor_kyc, subdomain: @investor_kyc.entity.sub_domain, investor_advisor_id: params[:investor_advisor_id]) if  @custom_notification.nil? || @custom_notification&.show_link %></p>

