
  <div class="form-group" id="investor_name_group" data-controller="<%= investor.investor_entity_id.present? ? '' : 'investorsearch'%>">
    <%= form.label :investor_name, "New Stakeholder Name" %>
    <%= form.text_field :investor_name, class: "form-control", autocomplete: false %>
    <%= form.text_field :investor_entity_id, class: "form-control", hidden: true %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <!-- Even though this is not a custom field, its class is set to custom_field to enable other custom_fields to be dependent on this -->
    <%= form.select :category, Investor.INVESTOR_CATEGORIES(current_user.entity) , {include_blank: true}, class: "form-control custom_field"  %>
  </div>

  <% disabled = !investor.new_record? %>
  <div class="form-group" id="investor_name_group">
    <%= form.label :primary_email %>
    <%= form.text_field :primary_email, class: "form-control", required: true, disabled:, data: {validate: true} %>
  </div>

  <div class="form-group" id="investor_name_group">
    <%= form.label :pan, Labels.get(current_user.entity.entity_setting.regulatory_env, "Tax ID") %>
    <%= form.text_field :pan, class: "form-control", disabled: %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="text-muted">Comma separated list of tags to classify the Stakeholder</small>
  </div>
  
  <div class="form-group" id="investor_name_group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  

  <%= form.text_field :back_to, name: "back_to", class: "form-control", hidden: true, value: params[:back_to] %>

  <%= custom_form_fields(investor, form) %>