
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Stakeholder</h6>
  </div>
  <div class="card-body">

<div data-controller="investor">
  
  <%= form_with(model: investor, validate: true) do |form| %>
    <% if investor.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

        <ul>
          <% investor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
    <%= render "form_fields", investor: investor, form: form %>

    <div class="form-group">
      <%= form.submit "Save", {class: "btn btn-primary"}%>
    </div>
  <% end %>

</div>

  </div>
</div>
