
  <% if false && investor.investor_name.blank? %>
    <div class="form-group">
      <%= form.label :investment_firm %>
      <%= form.select :investor_entity_id, Entity.vcs.order("entities.name").map{|c| [c.name, c.id]}, 
        {include_blank: true}, {class: "form-control select2"} %>
      <small class="text-muted">Leave blank if you cannot find the investment firm, and enter name below</small>
    </div>
  <% end %>
  <div class="form-group" id="investor_name_group" data-controller="investorsearch">
    <%= form.label :investor_name, "New Stakeholder Name" %>
    <%= form.text_field :investor_name, class: "form-control", autocomplete: false %>
    <%= form.text_field :investor_entity_id, class: "form-control", hidden: true %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="text-muted">Comma separated list of tags to classify the Stakeholder</small>
  </div>

  <div class="form-group" id="investor_name_group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Investor.INVESTOR_CATEGORIES(current_user.entity) , {include_blank: true}, class: "form-control"  %>
  </div>

  <%= form.text_field :back_to, name: "back_to", class: "form-control", hidden: true, value: params[:back_to] %>

  <%= custom_form_fields(investor, form) %>