<%= render FormCard.new(title: "Stakeholder : #{investor.investor_name.presence || 'New'}") do %>

<div data-controller="investor">

  <%= form_with(model: investor, validate: true, data:{turbo: false}) do |form| %>
    <% if investor.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

        <ul>
          <% investor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= render "form_fields", investor: investor, form: form %>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

</div>

<% end %>
