<%
  lazy_load_data ||= false
  import_upload_id ||= params[:import_upload_id]
  title ||= params[:title]
%>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% header = defined?(title) ? title : "Stakeholders" %>

  <h1 class="h3 mb-0 text-gray-800">
    <%= header %>
  </h1>

  <div class="d-flex flex-wrap align-items-center gap-2 ms-auto">

    <% investor = Investor.new(entity_id: current_user.entity_id) %>

    <% if policy(investor).new? %>
      <%= link_to new_investor_path("investor[entity_id]": current_user.entity_id),
                  class: "btn btn-outline-primary d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-user-plus me-2"></i> New
      <% end %>
    <% end %>

    <%= link_to notes_path,
                class: "btn btn-outline-success d-inline-flex align-items-center",
                data: { turbo: false } do %>
      <i class="ti ti-notes me-2"></i> All Notes
    <% end %>

    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle d-inline-flex align-items-center" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ti ti-settings me-2"></i> Actions
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= link_to investors_path(format: "xlsx", all: true),
                      class: "dropdown-item d-flex align-items-center",
                      data: { turbo: false } do %>
            <i class="ti ti-download me-2"></i> Download
          <% end %>

          <% if policy(investor).upload? %>
            <%= link_to new_import_upload_path(
                          "import_upload[import_type]": "Investor",
                          "sample_upload": "INVESTORS_SAMPLE"),
                        class: "dropdown-item d-flex align-items-center",
                        data: { turbo: false } do %>
              <i class="ti ti-upload me-2"></i> Upload
            <% end %>
          <% end %>

          <%= link_to portfolio_reports_path,
                      class: "dropdown-item d-flex align-items-center",
                      data: { turbo: false } do %>
            <i class="ti ti-file-report me-2"></i> Portfolio Reports Setup
          <% end %>

          <%= link_to portfolio_investments_report_all_investors_path(all: true),
                      class: "dropdown-item d-flex align-items-center",
                      data: { turbo: false } do %>
            <i class="ti ti-file-text me-2"></i> Portfolio Investment Report
          <% end %>

          <%= link_to new_investor_notice_path(
                        "investor_notice[owner_id]": current_user.entity_id,
                        "investor_notice[owner_type]": "Entity"),
                      class: "dropdown-item d-flex align-items-center",
                      data: { turbo: false } do %>
            <i class="ti ti-bell-plus me-2"></i> Add Stakeholder Notice
          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>

<% investors_frame = "investors_frame" %>
<%=render SearchComponent.new(data_source: investors_path( params: params.to_unsafe_h, import_upload_id:), turbo_frame: investors_frame) %>

<div class="table-responsive">
    <table id="investors" class="table table-bordered dataTable action_table hover">
        <% ransack_table_header = RansackTableHeader.new(Investor, q: @q, entity: current_user.entity, current_user: current_user, report_id: params["report_id"], turbo_frame: investors_frame, referrer: request.referrer) %>
        <%= render ransack_table_header %>
      <tbody>
        <% @investors&.each do |investor| %>
          <%= render "investors/investor",  investor: investor.decorate, columns: ransack_table_header.columns%>
        <% end %>
      </tbody>

    </table>

    <% if @investors.present? %>
      <%= page_entries_info @investors, entry_name: 'item' %>
      <%= paginate @investors, data: {turbo_frame: investors_frame} %>
    <% end %>
</div>
