<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% header=defined?(title) ? title : "Stakeholders" %>

    <h1 class="h3 mb-0 text-gray-800">
      <%= header %>
    </h1>

    <span>
    <%= link_to "New Stakeholder" , new_investor_path("investor[entity_id]": current_user.entity_id),
      {class: "btn btn-primary" } %>

    <%= link_to "All Notes" , notes_path, {class: "btn btn-success" } %>


    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Download" , investors_path(format: "xlsx"),
            {class: "dropdown-item" } %>

          <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": current_user.entity_id, 
                "import_upload[owner_type]": "Entity", 
                "import_upload[import_type]": "Investor", 
                "import_upload[entity_id]": current_user.entity_id,
                "sample_upload": "INVESTORS_SAMPLE"), 
                { class: "dropdown-item"}  %> 
          
          

            <%= link_to "Add Stakeholder Notice" , 
                new_investor_notice_path( "investor_notice[owner_id]": current_user.entity_id, 
                                          "investor_notice[owner_type]": "Entity"), {class: "dropdown-item" } %>
      
        </div>
      </div>
    </div>

  </span>
</div>

<div class="table-responsive">

  <div class="table-responsive">

    <table id="investors" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Stakeholder
          </th>
          <th class="hideMobP hideTab">
            Tags
          </th>
          <th>
            Category
          </th>
          <th>
            City
          </th>
          <th class="hideMobP">
            Access
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% investors.each do |investor| %>
          <%= render partial: "investors/investor", locals: {investor: investor} %>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
