<div class="associated_entity" data-controller="tabs tabdetails datatable">

  <% 
    label = investor.is_holdings_entity ? "#{investor.category} Users" : "Users" 
  %>

  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    
    <% if investor.category == "Portfolio Company" %>
      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#valuations-tab">
        Valuations
      </a>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#portfolio-investments-tab"
         data-action="click->tabdetails#loadData">
        <span class="hideMobP">Portfolio</span> Investments
      </a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#cashflows-tab"
         data-action="click->tabdetails#loadData">
        Portfolio Income
      </a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#stock-adjustments-tab">
        Stock Adjustments
      </a>

      <% if current_user.enable_kpis %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#kpis-tab"
          data-action="click->tabdetails#loadData">
          Kpis
        </a>
      <% end %>
    <% else %>


      <a id="stakeholder_users_tab" class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#investors-tab">
        <%= label %>
      </a>

      <% if policy(investor).update? %>        
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-rights-tab">
          Access Rights
        </a>
      <% end %>

      <% if current_user.entity.is_fund? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#commitments-tab"
              data-action="click->tabdetails#loadData">Commitments</a>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-units-tab"
              data-action="click->tabdetails#loadData">Units</a>
      <% else %>
        <% if investor.entity.permissions.enable_investments? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#investments-tab" 
              data-action="click->tabdetails#loadData">
            Investments
        </a>
        <% end %>
      <% end %>

      <% if policy(investor).update? %>

        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#notes-tab" 
              data-action="click->tabdetails#loadData">
            Notes
        </a>


        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#reminders-tab" 
                data-action="click->tabdetails#loadData">
          Reminders
        </a>

      <% end %>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tasks-tab" 
            data-action="click->tabdetails#loadData">
          Tasks
      </a>

      <% if investor.entity.permissions.enable_kycs? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#kycs-tab" 
              data-action="click->tabdetails#loadData">
            KYC
        </a>
      <% end %>

    <% end %>
    
  </nav>


  <div class="tab-content" data-controller="datatable">

      <% if investor.category == "Portfolio Company" %>
        
        <div id="valuations-tab" class="tab-pane fade in show active">
          <div id="valuations" class="associated_entity">
            <% params[:owner_id] = investor.id; params[:owner_type]= "Investor" %>
            <%= render "/valuations/index", valuations: Valuation.where(owner: investor) %>
          </div>
        </div>

        <div id="portfolio-investments-tab" class="tab-pane fade">
          <div id="portfolio_investments" class="associated_entity">
            <%= link_to aggregate_portfolio_investments_path(investor_id: investor.id), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'aggregate_portfolio_investments_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "aggregate_portfolio_investments_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>


        <div id="cashflows-tab" class="tab-pane fade">
          <div id="portfolio_cashflows" class="associated_entity">
            <%= link_to portfolio_cashflows_path(portfolio_company_id: investor.id), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'portfolio_cashflows_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "portfolio_cashflows_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="kpis-tab" class="tab-pane fade">
          <div id="kpis" class="associated_entity">
            <%= link_to kpi_reports_path(entity_id: investor.investor_entity_id, grid_view: true), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'kpi_reports_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "kpi_reports_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="stock-adjustments-tab" class="tab-pane fade">
          <div id="stock_adjustments" class="associated_entity">
            <%= render "/stock_adjustments/index", stock_adjustments: investor.stock_adjustments, investor: %>
          </div>
        </div>

      <% else %>

        <div id="access-rights-tab" class="tab-pane fade in">
          <div id="access_rights" class="associated_entity">
            <%= render "/access_rights/index", access_rights: AccessRight.includes(:owner, :investor).for_investor(investor).includes(:owner, :investor), access_right: nil %>
          </div>
        </div>
        <div id="investors-tab" class="tab-pane fade show active">
          <div id="investor_accesses" class="associated_entity">
            <%= render "/investor_accesses/index", investor_accesses: investor.investor_accesses.includes(:user), 
                investor: investor, label: label %>
          </div>     
        </div>

        <div id="investments-tab" class="tab-pane fade">
          <div id="investments" class="associated_entity">
            <%= link_to investments_path(investor_id: investor.id), class: "load_data_link", data: { turbo_frame: 'investments_frame' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "investments_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="notes-tab" class="tab-pane fade">
          <div id="notes" class="associated_entity">
            <%= link_to notes_path(investor_id: investor.id), class: "load_data_link", data: { turbo_frame: 'notes_frame' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "notes_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="tasks-tab" class="tab-pane fade">
          <div id="tasks" class="associated_entity">
            <%= link_to tasks_path(for_entity_id: investor.investor_entity_id, entity_id: investor.entity_id), class: "load_data_link", data: { turbo_frame: 'task_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "task_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="reminders-tab" class="tab-pane fade">
          <div id="reminders" class="associated_entity">
            <%= link_to reminders_path( owner_id: investor.id, owner_type: "Investor", sent: false), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'reminders_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "reminders_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>


        <div id="kycs-tab" class="tab-pane fade">
          <div id="kycs" class="associated_entity">
          
            <%= render "investor_kycs/index", data_source: investor_kycs_path(investor_id: investor.id, all: true), lazy_load_data: true %>

          </div>     
        </div>


        <div id="commitments-tab" class="tab-pane fade in">
            <div id="commitments" class="associated_entity">
              <%= render "/capital_commitments/index", investor: investor, cols: "all",
                  lazy_load_data: true, data_source: capital_commitments_path(investor_id: investor.id, all: true, format: :json) %>
            </div>     
        </div>

        <div id="fund-units-tab" class="tab-pane fade">
          <div id="fund_units" class="associated_entity">
            <%= link_to fund_units_path(investor_id: investor.id, cols: "all"), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'fund_units_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "fund_units_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>


      <% end %>

  </div>

</div>
