<tr id="investor_<%= investor.id %>">
<td>
    <%= link_to investor.investor_name, investor_path(investor.id) %>
</td>  
<td>
    <%= investor.pan %>
</td>  
<td>
  <%= raw investor.tag_list&.split(",").collect{|tag| link_to(tag, search_investors_path(query: tag))}.join(", ") if investor.tag_list %>
</td>  
<td>
  <%= investor.category %>
</td>
<td>
  <%= investor.city %>
</td>
<td>
  <%= render "/investors/access", investor: investor %>
</td>  
<td>
  <%= link_to "Add Note", new_note_path("note[investor_id]": investor.id, "note[entity_id]": investor.entity_id) , {class: "btn btn-outline-sm btn-outline-success"}%>
  <%= link_to "View Notes", notes_path(investor_id: investor.id) , {class: "btn btn-outline-sm btn-outline-success"}%>
</td>
</tr>
