<tr id="investor_<%= investor.id %>">
<td>
    <%= link_to investor.investor_name, investor_path(investor.id) %>
</td>  
<td class="hideMobP hideTab">
  <%= raw investor.tag_list&.split(",")&.collect{|tag| link_to(tag, search_investors_path(query: tag))}&.join(", ") %>
</td>  
<td>
  <%= investor.category %>
</td>
<td>
  <%= investor.city %>
</td>
<td class="hideMobP">
  <% if investor.investor_access_count > 0 %>
    <span class="badge badge-success">
      <%= link_to "Approved #{investor.investor_access_count}", investor_path(id: investor.id, tab: "investors-tab") %>
    </span>
  <% end %>
  <% if investor.unapproved_investor_access_count > 0 %>
    <span class="badge badge-warning">
      <%= link_to "Pending #{investor.unapproved_investor_access_count}", investor_path(id: investor.id, tab: "investors-tab") %>
    </span>
  <% end %>
</td>  
<td>
  <%= link_to "Add Note", new_note_path("note[investor_id]": investor.id, "note[entity_id]": investor.entity_id) , {class: "btn btn-sm btn-success"}%>
  <%= link_to "View Notes", notes_path(investor_id: investor.id) , {class: "btn btn-sm btn-success"}%>
</td>
</tr>
