<div class="form-group" id="search_entity_group">
    <%= form.label :investor, "Search for VC Investor (Entity Name)" %>
    <%= form.text_field :investor_entity_name, class: "form-control typeahead"  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true   %>
</div>

<div class="form-group" id="search_user_group">
    <%= form.label :investor, "Search for Individual Investor (Email, First or Last Name)" %>
    <%= form.text_field :investor_user_name, class: "form-control typeahead"  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true   %>
</div>
