<div id="smartwizard">
    <ul class="nav">
       <li>
           <a class="nav-link" href="#step-1">
              Basic
           </a>
       </li>
       <li>
           <a class="nav-link" href="#step-2">
              Search
           </a>
       </li>
       <li>
           <a class="nav-link" href="#step-3">
              Details
           </a>
       </li>
    </ul>
   
    <%= form_with(model: investor) do |form| %>

      <div class="tab-content">
         <div id="step-1" class="tab-pane" role="tabpanel">
            <%= render "form_fields", investor: investor, form: form %>
         </div>
         <div id="step-2" class="tab-pane" role="tabpanel">
            <%= render "wizard_search", investor: investor, form: form %>
         </div>
         <div id="step-3" class="tab-pane" role="tabpanel">
            <%= form.fields_for(:entity) do |tf| %>
               <%= render "entities/form_fields", entity: Entity.new, form: tf %>
            <% end %>

            <div class="form-group">
               <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
            </div>
            
         </div>
      </div>

    <% end %>

</div>

<div data-controller="wizard"></div>
