<%= render "/layouts/alerts" %>
<%= render "/layouts/filter", associations: [] %>

<%= render "/investors/stats" %>


<%= render ReportingComponent.new do %>
    <%= render "/investors/index", investors: @investors %>
<% end %>

<div class="associated_entity">
<%= render "/layouts/steps", steps: ["Setup Investors", "Grant Access", "Add Users", 
                      "View Investments", "Manage Notes"].freeze %>

</div>