
<%= render "/layouts/filter", associations: [] %>

<%= render "/investors/stats" %>


<%= render ReportingComponent.new do %>
    <%= turbo_frame_tag with_frame("investors_frame"), target: "_top" do %>
        <%= render "/investors/index", investors: @investors %>
    <%end%>
<% end %>

<div class="associated_entity">
<%#= render "/layouts/steps", steps: ["Setup Investors", "Grant Access", "Add Users",
                      "View Investments", "Manage Notes"].freeze %>

</div>