
<%
  show_portfolio_company_agent = @investor.entity.support_agents.set?(:portfolio_company_agent) && @investor.support_agent_report.present?
%>

<%= render "/investors/portfolio_company_agent", investor: @investor if show_portfolio_company_agent %>
<%= render "investors/show" %>


<div class="d-flex flex-wrap align-items-center gap-2">

  <% if policy(@investor).update? %>
    <%= link_to edit_investor_path(@investor),
                class: "btn btn-outline-primary d-inline-flex align-items-center",
                data: { turbo: false } do %>
      <i class="ti ti-pencil"></i> <%= t_common(:edit) %>
    <% end %>
  <% end %>

  <%= link_to notes_path(investor_id: @investor.id),
              class: "btn btn-outline-success d-inline-flex align-items-center",
              data: { turbo: false } do %>
    <i class="ti ti-notes"></i> View Notes
  <% end %>

  <% if policy(@investor).update? %>
    <%= link_to new_note_path("note[investor_id]": @investor.id),
                class: "btn btn-outline-success d-inline-flex align-items-center",
                data: { turbo: false } do %>
      <i class="ti ti-message-plus"></i> Add Note
    <% end %>
  <% end %>

  <% if policy(@investor).destroy? %>
    <%= button_to @investor,
                  method: :delete,
                  class: "btn btn-outline-danger d-inline-flex align-items-center",
                  form_class: "deleteButton",
                  data: { action: "click->confirm#popup", turbo: false } do %>
      <i class="ti ti-trash"></i> <%= t_common(:delete) %>
    <% end %>
  <% end %>

  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle d-inline-flex align-items-center" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ti ti-dots-vertical"></i> Misc
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <% if policy(@investor).cap_table? %>
          <%= link_to investments_path(portfolio_company_id: @investor.id),
                      class: "dropdown-item d-flex align-items-center",
                      data: { turbo: false } do %>
            <i class="ti ti-table"></i> CapTable
          <% end %>
        <% end %>

        <%= link_to dashboard_investor_path(id: @investor.id),
                    class: "dropdown-item d-flex align-items-center",
                    data: { turbo: false } do %>
          <i class="ti ti-layout-dashboard"></i> Dashboard
        <% end %>

        <%= link_to folder_documents_path(folder_id: @investor.document_folder_id),
                    class: "dropdown-item d-flex align-items-center",
                    data: { turbo: false } do %>
          <i class="ti ti-folder"></i> Documents
        <% end %>

        <%= link_to generate_reports_investor_path(@investor),
                    class: "dropdown-item d-flex align-items-center",
                    data: { turbo: false } do %>
          <i class="ti ti-report"></i> Portfolio Report
        <% end %>

        <%= link_to portfolio_investments_report_investor_path(@investor),
                    class: "dropdown-item d-flex align-items-center",
                    data: { turbo: false } do %>
          <i class="ti ti-file-text"></i> Portfolio Investment Report
        <% end %>

      </div>
    </div>
  </div>

</div>


<div id="access_rights" class="associated_entity">
  <%#= render "/layouts/steps" , steps: ["Setup Stakehoder Details", "Grant Access Rights", "Add Stakehoder Users" , "Add/View Notes" ].freeze %>

  <%= render "investors/investor_details" , investor: @investor %>
</div>
