<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable ">

    <tr>
      <td>
        Stakeholder
      </td>
      <td>
        <%= @investor.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        Investee Entity
      </td>
      <td>
        <%= link_to @investor.entity.name, @investor.entity %>
      </td>
    </tr>
    <tr>
      <td>
        Tags
      </td>
      <td>
        <%= raw @investor.tags.map{|tag| link_to(tag.name, search_investors_path(query: tag.name))}.join(", ") %>
      </td>    
    </tr>
    <tr>
      <td>
        Category
      </td>
      <td>
        <%= @investor.category %>
      </td>    
    </tr>
    <tr>
      <td>
        City
      </td>
      <td>
        <%= @investor.city %>
      </td>    
    </tr>
    
    <%= display_custom_fields(@investor) if current_user %>

</table>


<div style=" display: inline-block;">
          <%= link_to "Edit" , edit_investor_path(@investor), {class: "btn btn-primary" } %> |
          <%= link_to "View Notes" , notes_path(investor_id: @investor.id), class: "btn btn-success" %> |
          <%= link_to "Add Note" , new_note_path("note[investor_id]": @investor.id), class: "btn btn-success" %> |
          <%= button_to "Delete" , @investor, method: :delete, class: "btn btn-danger" ,
              form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo: false} %>
</div>


<div id="access_rights" class="associated_entity">
  <%= render "/layouts/steps" , steps: ["Setup Investor Details", "Grant Access Rights", "Add Investor Users" , "Add/View Investments" , "Add/View Notes" ].freeze %>

  <%= render "investors/investor_details" , investor: @investor %>
</div>