

<%= render "investors/show" %>


<div style=" display: inline-block;">
  <%= link_to "Edit" , edit_investor_path(@investor), {class: "btn btn-outline-primary" } if policy(@investor).update? %>

  <%= link_to "View Notes" , notes_path(investor_id: @investor.id), class: "btn btn-outline-success" %>
  <%= link_to "Add Note" , new_note_path("note[investor_id]": @investor.id), class: "btn btn-outline-success"if policy(@investor).update? %>

  <%= button_to "Delete" , @investor, method: :delete, class: "btn btn-outline-danger" ,
      form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo: false} if policy(@investor).destroy? %>

  <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Misc
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


            <%= link_to "CapTable" , investments_path(portfolio_company_id: @investor.id), {class: "dropdown-item" } if policy(@investor).cap_table? %>

            <%= link_to "Dashboard" , dashboard_investor_path(id: @investor.id), {class: "dropdown-item" } %>
            <%= link_to "Documents" , folder_documents_path(folder_id: @investor.document_folder_id), {class: "dropdown-item" } %>

            <%= link_to "Portfolio Report" , generate_reports_investor_path(@investor), {class: "dropdown-item" } %>
          </div>
        </div>
      </div>

</div>


<div id="access_rights" class="associated_entity">
  <%#= render "/layouts/steps" , steps: ["Setup Stakehoder Details", "Grant Access Rights", "Add Stakehoder Users" , "Add/View Notes" ].freeze %>

  <%= render "investors/investor_details" , investor: @investor %>
</div>
