<div class="row g-3 mb-3 justify-content-center">
  <% cards.each do |card| %>
    <% color_class =
      if card[:type] == :numeric
        card[:value].to_i == 0 ? "success" : "danger"
      else
        card[:value] == "Yes" ? "success" : "danger"
      end
    %>
    <div class="col-lg-2 col-md-4">
      <div class="card overflow-hidden" style="cursor:pointer;" data-bs-toggle="collapse" data-bs-target="#support_agent_reports" aria-expanded="false" aria-controls="support_agent_reports2">
        <div class="d-flex flex-row">
          <div class="p-3 bg-<%= color_class %>-subtle d-flex align-items-center">
            <h3 class="text-<%= color_class %> box mb-0">
              <i class="<%= card[:icon] %>"></i>
            </h3>
          </div>
          <div class="p-3">
            <h3 class="text-<%= color_class %> mb-0 fs-6"><%= card[:value] %></h3>
            <span>
              <% if card[:type] == :numeric %>
                <%= card[:value].to_i == 1 ? card[:subtitle].singularize : card[:subtitle] %>
              <% else %>
                <%= card[:subtitle] %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "/support_agent_reports/index", locals: { support_agent_reports: SupportAgentReport.where(owner:), hidden: true }  %>