
<tr id="<%= dom_id approval %>">
  <td>
    <%= approval.entity.name %>
  </td>
  <td>
    <%= link_to approval.title, approval %>
  </td>
  <td>
    <%= l approval.due_date %>
  </td>

  <% if show_stats %>
  <td class="responses_count d-none d-md-table-row">
    <% if current_user.entity_id == approval.entity_id %>
      <div class="container">
        <%
          colors = ["success", "warning", "danger", "primary", "secondary", "info"].freeze
        %>
          <% approval.response_status&.split(',')&.each_with_index do |status, idx| %>
              <%
                status_count = approval.approval_responses.group(:status).count               
                response_count = status_count[status] || 0
              %>
              <span class="badge bg-<%=colors[idx % colors.length]%>"> <%= status %> : <%= response_count %> </span>
            
          <% end %>
      </div>
    <% end %>
  </td>
  <% end %>

  <td>
    <%= link_to  t_common(:show) , approval , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
