
<tr id="<%= dom_id approval %>">
  <td class="hideMobP">
    <%= approval.entity.name %>
  </td>
  <td>
    <%= approval.title %>
  </td>
  <td>
    <%= l approval.due_date %>
  </td>

  <% if show_stats %>
  <td class="responses_count hideMobP">
    <div class="container">
      <%
        colors = ["badge-success", "badge-warning", "badge-secondary", "badge-info", "badge-primary", "badge-light", "badge-dark"].freeze
    %>
    <%approval.response_status&.split(',')&.each do |status| %>
        <div class="row">
          <%
            response_count = approval.approval_responses.where(status: status).count
            idx = approval.response_status&.split(',')&.index(status) || 0
          %>
          <span class="badge <%=colors[idx]%>"> <%= status %> : <%= response_count %> </span>
        </div>
      <% end %>
    </div>
    </td>
  <% end %>

  <td>
    <%= link_to "Show" , approval , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
