
<tr id="<%= dom_id approval %>">
  <td class="hideMobP">
    <%= approval.entity.name %>
  </td>
  <td>
    <%= approval.title %>
  </td>
  <td>
    <%= l approval.due_date %>
  </td>

  <% if show_stats %>
  <td class="responses_count hideMobP">
    <div class="container">
      <%
        colors = ["bg-success", "bg-warning", "bg-secondary", "bg-info", "bg-primary", "bg-light", "bg-dark"].freeze
      %>
        <% approval.response_status&.split(',')&.each do |status| %>
            <%
              status_count = approval.approval_responses.group(:status).count               
              response_count = status_count[status]
              idx = approval.response_status&.split(',')&.index(status) || 0
            %>
            <span class="badge <%=colors[idx]%>"> <%= status %> : <%= response_count %> </span>
          
        <% end %>
    </div>
    </td>
  <% end %>

  <td>
    <%= link_to "Show" , approval , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
