
<tr id="<%= dom_id approval %>">
  <td>
    <%= approval.entity.name %>
  </td>
  <td>
    <%= approval.title %>
  </td>
  <td>
    <%= l approval.due_date %>
  </td>

  <% if show_stats %>
    <td class="approved_count">
      <%= approval.approved_count %>
    </td>
    <td class="rejected_count">
      <%= approval.rejected_count %>
    </td>
    <td class="pending_count">
      <%= approval.pending_count %>
    </td>
  <% end %>

  <td>
    <%= link_to "Show" , approval , {class: "btn btn-outline-primary" }%>
  </td>
</tr>