<table id="<%= dom_id approval %>" class="table table-bordered dataTable">

    <tr>
        <td>
            Title
        </td>
        <td>
            <%= approval.title %>
        </td>
    </tr>
    <tr>
        <td>
            Due By
        </td>
        <td>
            <%= l approval.due_date %>
        </td>
    </tr>
    <tr>
        <td>
            Approved
        </td>
        <td>
            <%= display_boolean approval.approved %>
        </td>
    </tr>
    <tr>
        <td>
            Agreements Reference
        </td>
        <td>
            <%= approval.agreements_reference %>
        </td>
    </tr>
    <tr>
        <td>
            Entity
        </td>
        <td>
            <%= approval.entity.name %>
        </td>
    </tr>
    <% if current_user && current_user.entity_id == approval.entity_id %>
    <tr>
        <td>
            Approved Count
        </td>
        <td class="approved_count">
            <%= approval.approved_count %>
        </td>
    </tr>
    <tr>
        <td>
            Rejected Count
        </td>
        <td class="rejected_count">
            <%= approval.rejected_count %>
        </td>
    </tr>
    <tr>
        <td>
            Pending Count
        </td>
        <td class="pending_count">
            <%= approval.pending_count %>
        </td>
    </tr>
    <% end %>

    <%= display_custom_fields(@approval) if current_user %>

</table>