
<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"><%= approval.title %></h6>
        <a class="btn btn-outline-primary show_details_link" data-bs-toggle="collapse" href=".show_details"><i class="fa-solid fa-caret-down"></i></a>
  </div>
  <div class="card-body collapse show show_details">

    <table id="<%= dom_id approval %>" class="table table-bordered dataTable">

        <tr>
            <td>
                Title
            </td>
            <td>
                <%= approval.title %>
            </td>
        </tr>
        <tr>
            <td>
                Due By
            </td>
            <td>
                <%= l approval.due_date %>
            </td>
        </tr>

        <% if current_user && current_user.entity_id == approval.entity_id %>

        <tr>
            <td>
                Response Status
            </td>
            <td>
                <%= approval.response_status %>
            </td>
        </tr>

        <tr>
            <td>
                Approved
            </td>
            <td>
                <%= display_boolean approval.approved %>
            </td>
        </tr>
        <% end %>

        <tr>
            <td>
                Details
            </td>
            <td>
                <%= approval.agreements_reference %>

               
            </td>
        </tr>
        <tr>
            <td>
                Entity
            </td>
            <td>
                <%= approval.entity.name %>
            </td>
        </tr>
        <% if current_user && current_user.entity_id == approval.entity_id %>
            <% status_count = approval.approval_responses.group(:status).count %>
            <% response_statuses = approval.response_status&.split(",") || [] %>
            <% response_statuses.each do |status| %>
                <tr>
                    <td>
                        <%= status %>
                    </td>
                    <td class="<%=status.downcase%>_count">
                        <%= status_count[status] || 0 %>
                    </td>
                </tr>
            <% end %>
        <% end %>

        <%= display_custom_fields(@approval) if current_user %>

    </table>
  </div>

</div>
