
<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Approval: <%= approval.title %></h6>
      <span>
        <a class="btn btn-outline-primary show_details_link" data-toggle="collapse" href=".show_details"><i class="fa-solid fa-caret-down"></i></a>
      </span>
  </div>
  <div class="card-body collapse show show_details">

    <table id="<%= dom_id approval %>" class="table table-bordered dataTable">

        <tr>
            <td>
                Title
            </td>
            <td>
                <%= approval.title %>
            </td>
        </tr>
        <tr>
            <td>
                Due By
            </td>
            <td>
                <%= l approval.due_date %>
            </td>
        </tr>
        
        <% if current_user && policy(approval).update? %>
        <tr>
            <td>
                Approved
            </td>
            <td>
                <%= display_boolean approval.approved %>
            </td>
        </tr>
        <% end %>

        <tr>
            <td>
                Details
            </td>
            <td>
                <%= approval.agreements_reference %>
            </td>
        </tr>
        <tr>
            <td>
                Entity
            </td>
            <td>
                <%= approval.entity.name %>
            </td>
        </tr>
        <% if current_user && current_user.entity_id == approval.entity_id %>
        <tr>
            <td>
                Approved Count
            </td>
            <td class="approved_count">
                <%= approval.approved_count %>
            </td>
        </tr>
        <tr>
            <td>
                Rejected Count
            </td>
            <td class="rejected_count">
                <%= approval.rejected_count %>
            </td>
        </tr>
        <tr>
            <td>
                Pending Count
            </td>
            <td class="pending_count">
                <%= approval.pending_count %>
            </td>
        </tr>
        <% end %>

        <%= display_custom_fields(@approval) if current_user %>

    </table>
  </div>

</div>