

<% if current_user.entity_id == @approval.entity_id %>
    <%= render "/layouts/steps", steps: ["Setup Approval", "Add Access Rights", "Add Documents", "Finalize Approval", "Track Responses", "Send Reminders"].freeze if current_user.entity_id == @approval.entity_id %>

    <%= render "/approvals/show", approval: @approval %>
    
    <div>
      <% if policy(@approval).update? %>
        <%= link_to edit_approval_path(@approval), class: "btn btn-outline-primary" do %>
          <i class="ti ti-edit me-2"></i> <%= t_common(:edit) %>
        <% end %>

        <%= button_to @approval, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton",
              data: { action: "click->confirm#popup", turbo: false } do %>
          <i class="ti ti-trash me-2"></i> <%= t_common(:delete) %>
        <% end %>
      <% end %>

      <% if policy(@approval).approve? %>
        <%= button_to approve_approval_path(@approval), method: :patch, class: "btn btn-outline-success", form_class: "deleteButton",
              data: { action: "click->confirm#popup", turbo: true, method: :patch,
                      msg: "Please check that investors are added to access rights before approving. Approve and send notifications to investors?" } do %>
          <i class="ti ti-check me-2"></i>Approve
        <% end %>
      <% end %>

      <% if policy(@approval).close? %>
        <%= button_to close_approval_path(@approval), method: :patch, class: "btn btn-outline-danger", form_class: "deleteButton",
              data: { action: "click->confirm#popup", turbo: true, method: :patch,
                      msg: "This will close the approval and lock it so no further changes can be made." } do %>
          <i class="ti ti-lock me-2"></i>Close
        <% end %>
      <% end %>

      <% if policy(@approval).send_reminder? %>
        <%= button_to send_reminder_approval_path(@approval), method: :patch, class: "btn btn-outline-success", form_class: "deleteButton",
              data: { action: "click->confirm#popup", turbo: true, method: :patch,
                      msg: "Send notifications to pending investors?" } do %>
          <i class="ti ti-bell me-2"></i>Send Reminder
        <% end %>
      <% end %>
    </div>


  <% cache_if(current_user.entity_id == @approval.entity_id, [@approval, "Details"]) do %>
    <%= render "/approvals/approval_details", approval: @approval %>
  <% end %>

<% else %>
  <%= render "/approvals/show_investor", approval: @approval %>
<% end %>
