<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Rules</h1>
  <span>
    <%= link_to "New Rule", new_ai_rule_path, {class: "btn btn-outline-primary"}  %>
    <%= link_to "Download", ai_rules_path(format: :xlsx), {class: "btn btn-outline-success"}  %>
  </span>
</div>

<%= render "/layouts/filter", associations: [] %>

<div class="table-responsive" data-controller="datatable">
  <table id="ai_rules" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>          
          <%= sort_link @q, :for_class %> 
        </th>
        
        <th>
          Name
        </th>

        <th>
          Rule
        </th>
        
        <th>          
          <%= sort_link @q, :rule_type %>
        </th>
        <th>
          Tags
        </th>
        <th>
          <%= sort_link @q, :schedule %>
        </th>
        <th>
          <%= sort_link @q, :enabled %>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @ai_rules.each do |ai_rule| %>
        <%= render ai_rule %>
      <% end %>
    </tbody>
  </table>
  <%= raw pagy_bootstrap_nav(@pagy) %>
</div>