<%= render FormCard.new(title: "#{@ai_rule}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @ai_rule.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        For 
      </td>
      <td>
        <%= @ai_rule.for_class %>
      </td>
    </tr>
    <tr>
      <td>
        Name 
      </td>
      <td>
        <%= @ai_rule.name %>
      </td>
    </tr>
    <tr>
      <td>
        Rule Type
      </td>
      <td>
        <%= @ai_rule.rule_type_label %>
      </td>
    </tr>
    <tr>
      <td>
        Rule
      </td>
      <td>
        <%= @ai_rule.rule %>
      </td>
    </tr>
    <tr>
      <td>
        Tags
      </td>
      <td>
        <%= @ai_rule.tags %>
      </td>
    </tr>
    <tr>
      <td>
        Schedule
      </td>
      <td>
        <%= @ai_rule.schedule_label %>
      </td>
    </tr>
    <tr>
      <td>
        Enabled
      </td>
      <td>
        <%= display_boolean @ai_rule.enabled %>
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <% if policy(@ai_rule).update? %>
      <%= link_to  t_common(:edit), edit_ai_rule_path(@ai_rule), {class: "btn btn-outline-primary"} %>
      <%= button_to t_common(:delete), @ai_rule, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>
