<tr id="<%= dom_id aml_report %>">
  <td>
    <%= aml_report.entity.name %>
  </td>
  <td>
    <%= link_to aml_report.investor.investor_name, aml_report.investor %>
  </td>
  <td>
    <%= aml_report.name %>
  </td>
  <td>
    <%= aml_report.match_status %>
  </td>
  <td>
    <%= display_boolean aml_report.approved %>
  </td>
  <td>
    <%= aml_report.types %>
  </td>
  <td>
    <%= aml_report.source_notes %>
  </td>
  <td>
    <%= aml_report.associates %>
  </td>
  <td>
    <%= aml_report.fields %>
  </td>
  <td>
    <%= aml_report.response %>
  </td>

  <td>
    <%= link_to "Show" , aml_report , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
