<%= render ToggleCard.new(title: "Charts", css_class: "show_investment_charts", state: "") do %>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Amount By Funding Round</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_funding_round(investments) %></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Diluted Share Holdings</h5>
            </div>
            <div class="card-body">
                <div id=""><%= fully_diluted_holdings(investments) %></div>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Amount By Investor</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_investor(investments) %></div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Self By Funding Round</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_funding_round(investments, category: "Self") %></div>
            </div>
        </div>
    </div>

</div>
<% end %>