<%= render ToggleCard.new(title: "Captable Charts", css_class: "show_investment_charts", state: "show") do %>
<div class="row">
    <% if params[:amount_by_funding_round].blank? || params[:amount_by_funding_round] == "true" %>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Amount By Funding Round</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_funding_round(investments) %></div>
            </div>
        </div>
    </div>
    <% end %>

    <% if params[:diluted_share_holdings].blank? || params[:diluted_share_holdings] == "true" %>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Diluted Share Holdings</h5>
            </div>
            <div class="card-body">
                <div id=""><%= fully_diluted_holdings(investments) %></div>
            </div>
        </div>
    </div>
    <% end %>

    <% if params[:amount_by_investor].blank? || params[:amount_by_investor] == "true" %>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Amount By Investor</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_investor(investments) %></div>
            </div>
        </div>
    </div>
    <% end %>

    <% if params[:self_by_funding_round].blank? || params[:self_by_funding_round] == "true" %>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Self By Funding Round</h5>
            </div>
            <div class="card-body">
                <div id=""><%= investment_amount_by_funding_round(investments, category: "Self") %></div>
            </div>
        </div>
    </div>
    <% end %>

</div>
<% end %>