<div class="table-responsive" data-controller="datatable">


  <table id="investments" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th>
          <%= sort_link @q, :portfolio_company_investor_name, "Portfolio Company" %>
        </th>
        <th>          
          <%= sort_link @q, :category, "Category" %>
        </th>
        <th>
          <%= sort_link @q, :investor_name, "Investor Name" %>
        </th>
        <th>
          <%= sort_link @q, :investment_type, "Investment Type" %>
        </th>
        <th>
          <%= sort_link @q, :funding_round, "Funding Round" %>
        </th>
        <th>
          <%= sort_link @q, :quantity, "Quantity" %>
        </th>
        <th>
          <%= sort_link @q, :price_cents, "Price" %>
        </th>
        <th>
          <%= sort_link @q, :amount_cents, "Amount" %>
        </th>
        <th>
          <%= sort_link @q, :investment_date, "Investment Date" %>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @investments.each do |investment| %>
      <%= render investment %>
    <% end %>
    </tbody>
  </table>

  <%= raw pagy_bootstrap_nav(@pagy) %>

</div>