
<tr id="<%= dom_id investment %>">
  <td>
    <%= link_to investment.portfolio_company %>
  </td>
  <td>
    <%= investment.category %>
  </td>
  <td>
    <%= investment.investor_name %>
  </td>
  <td>
    <%= investment.investment_type %>
  </td>
  <td>
    <%= investment.funding_round %>
  </td>
  <td>
    <%= investment.quantity %>
  </td>
  <td>
    <%= money_to_currency investment.price, params %>
  </td>
  <td>
    <%= money_to_currency investment.amount, params %>
  </td>
  <td>
    <%= l investment.investment_date %>
  </td>
  <td>
    <%= link_to  t_common(:show), investment , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
