<% version ||= nil %>
<tr id="<%= dom_id investment %>">

<% if current_user.entity_id == investment.entity_id %>
    <% if investment.investor.is_holdings_entity %>
        <td class="dt-control" data-instrument="<%=investment.investment_instrument%>" 
            data-entity="<%=investment.entity_id%>"
            data-funding_round="<%=investment.funding_round_id%>"
            data-category="<%=investment.category%>"></td>
    <% else %>
        <td class=""></td>
    <% end %>
<% end %>

<td>
    <%= investment.category %>
</td>
<td>
    <% if current_user.entity_id == investment.entity_id %>
        <%= investment.funding_round ? link_to(investment.investment_type, investment.funding_round) : investment.investment_type %>
    <% else %>
        <%= investment.investment_type %>
    <% end %>

</td>  
<td>
    <%= (current_user.entity_id == investment.entity_id) ? 
            link_to(investment.investor.investor_name, investment.investor) : investment.investor.investor_name %>
</td> 
<td>
    <%= l investment.investment_date if investment.investment_date %>
</td> 

<% if !params[:prospective] %>

    <td>
        <%= investment.investment_instrument %>
    </td>  
    <td>
        <%= custom_format_number investment.quantity, params %>
        
    </td>  

    <% if title == "Equity" %>
    <td>
        <% if investment.percentage_holding %>
            <%= investment.percentage_holding %>% 
        <% end %>
    </td>
    <td>
        <% if investment.percentage_holding %>
            <%= investment.diluted_percentage %>% 
        <% end %>
    </td>

    <% end %>
    
    <td>
        <%= money_to_currency(investment.price, params, true)  %>
    </td>
    <td>
        <%= money_to_currency(investment.amount, params)  %>
    </td>
    
    
<% end  %>
<td>
  <%= link_to "Show", investment_path(investment, version_id: version&.id), 
        {class: "btn btn-outline-primary", id: "show_investment_#{investment.id}"}%>
</td>
</tr>
