<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Investments</h1>
  <%= link_to "New Investment", new_investment_path, {class: "btn btn-outline-primary"}  %>
</div>

<%= render "/layouts/filter", associations: [:portfolio_company] %>

<% if params[:ag].present? %>
  <%= render "/investments/index_ag" %>
<% else %>
  <%= render "/investments/index" %>
<% end %>

<% if params[:portfolio_company_id].present? %>

  

  <% 
    portfolio_company_id = params[:portfolio_company_id]
    all_funding_rounds = @investments.select(:funding_round, :investment_date).
                                  order(investment_date: :asc).pluck(:funding_round).uniq
    # This is required to ensure that the funding_round tables are cumulative. i.e first table from round A is displayed, then for funding_round B, we need to display the investments from round A and B and for funding_round C, we need to display the investments from round A, B and C.
    funding_rounds = []                                  
  %>
  <div class="associated_entity">

    <%= render "/investments/charts", investments: @investments %>

    <%= render ToggleCard.new(title: "Cap Table by Funding Round", css_class: "show_cap_table", state: "") do %>
    <div class="row">
      <% all_funding_rounds.each do |funding_round| %>
        <% funding_rounds << funding_round %>
        <div class="col">
          <h1 class="h4 mb-0 text-gray-800">Funding Round: <%= funding_round %></h1>
          <%= render "/investments/funding_round", funding_round:, funding_rounds:, portfolio_company_id: %>
        </div>
      <% end %>
    </div>
    <% end %>

  </div>
  
<% end %>



