<%= render FormCard.new(title: "#{@investment}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Portfolio Company
      </td>
      <td>
        <%= link_to @investment.portfolio_company %>
      </td>
    </tr>
    <tr>
      <td>
        Currency
      </td>
      <td>
        <%= @investment.currency %>
      </td>
    </tr>
    <tr>
      <td>
        Category
      </td>
      <td>
        <%= @investment.category %>
      </td>
    </tr>
    <tr>
      <td>
        Investor Name
      </td>
      <td>
        <%= @investment.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        Investment Type
      </td>
      <td>
        <%= @investment.investment_type %>
      </td>
    </tr>
    <tr>
      <td>
        Funding Round
      </td>
      <td>
        <%= @investment.funding_round %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @investment.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Price 
      </td>
      <td>
        <%= money_to_currency @investment.price, params %>
      </td>
    </tr>
    <tr>
      <td>
        Amount 
      </td>
      <td>
        <%= money_to_currency @investment.amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Investment Date
      </td>
      <td>
        <%= l @investment.investment_date %>
      </td>
    </tr>
    <tr>
      <td>
        Notes
      </td>
      <td>
        <%= @investment.notes %>
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <% if policy(@investment).update? %>
      <%= link_to  t_common(:edit), edit_investment_path(@investment), {class: "btn btn-outline-primary"} %>
      <%= button_to t_common(:delete), @investment, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>
