
<%
    show_metadata ||= "Yes"
    show_for ||= "Yes"
%>

<tr id="<%= dom_id access_right %>">
    <td>
        <% if access_right.access_to_investor_id.present? %>
            <%= link_to access_right.investor.investor_name, investor_path(access_right.investor, tab: "investors-tab") %>
        <% else %>
            <%= link_to access_right.access_to_category, investors_path(category: access_right.access_to_category) %>
        <% end %>
    </td>  
    <td class="hideMobP">
        <%= access_right.access_type %>
    </td>  
    <% if show_metadata == "Yes" %>
    <td class="hideMobP">
        <%= access_right.metadata %>
    </td>  
    <% end %>
    <% if show_for == "Yes" && access_right.owner %>
    <td>
        <%= link_to access_right.owner.name, access_right.owner %>
    </td>  
    <% end %>
    <td class="hideMobP">
        <%= button_to "Delete", access_right, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>    
    </td>
</tr>
