
<tr id="<%= dom_id kanban_board %>">
  <td>
    <%= kanban_board.name %>
  </td>
  <td>
    <%= link_to kanban_board.owner %>
  </td>
  <td>
    <%= link_to  t_common(:show), board_path(kanban_board) , {class: "btn btn-outline-primary"}%>
    <%= link_to  t_common(:edit), edit_board_path(kanban_board) , {class: "btn btn-outline-primary"} if policy(kanban_board).edit?%>
  </td>
</tr>
