<%
    service_result = KpiBudgetViewService.call(current_user, params, kpi_reports, @tag_list)
    precision = service_result.precision
    investor_kpi_mappings = service_result.investor_kpi_mappings
    quarterly_reports = service_result.quarterly_reports
    year_reports = service_result.year_reports
    grouped_quarterly_reports = service_result.grouped_quarterly_reports
    grouped_yearly_reports = service_result.grouped_yearly_reports
    show_achievement_column = service_result.show_achievement_column
    tag_lists_to_display = service_result.tag_lists_to_display
%>

<%= turbo_frame_tag "kpi_reports_budget", target: "_top" do %>

    <%= render "/kpi_reports/budget_filter", entity: @entity %>

    <div class="table-responsive" data-controller="datatable">
        <table id="kpi_reports_budget_grid" class="table table-bordered table-striped dataTable table-grey numberTable">
            <thead>
                <tr>
                    <th rowspan="3" class="text_col">Particulars</th>
                    <% if quarterly_reports.present? %>
                        <th colspan="<%= quarterly_reports.map(&:as_of).uniq.count * (tag_lists_to_display.count + (show_achievement_column ? 1 : 0)) %>" class="text-center">
                            Quarter
                        </th>
                    <% end %>
                    <% if year_reports.present? %>
                        <th colspan="<%= year_reports.map(&:as_of).uniq.count * (tag_lists_to_display.count + (show_achievement_column ? 1 : 0)) %>" class="text-center">
                            Year
                        </th>
                    <% end %>
                </tr>
                <tr>
                    <% quarterly_reports.map { |r| r.as_of.is_a?(String) ? Date.local_parse(r.as_of) : r.as_of }.compact.uniq.sort.each do |as_of_date| %>
                        <th colspan="<%= tag_lists_to_display.count %>" class="text-center">
                            <%= as_of_date.strftime("%b-%y") %>
                        </th>
                        <% if show_achievement_column %>
                            <th rowspan="2" class="text-center">Actual / Budget</th>
                        <% end %>
                    <% end %>
                    <% year_reports.map { |r| r.as_of.is_a?(String) ? Date.local_parse(r.as_of) : r.as_of }.compact.uniq.sort.each do |as_of_date| %>
                        <th colspan="<%= tag_lists_to_display.count %>" class="text-center">
                            <%= as_of_date.strftime("%b-%y") %>
                        </th>
                        <% if show_achievement_column %>
                            <th rowspan="2" class="text-center">Actual / Budget</th>
                        <% end %>
                    <% end %>
                </tr>
                <tr>
                    <% quarterly_reports.map(&:as_of).uniq.sort.each do |as_of_date| %>
                        <% tag_lists_to_display.each do |tag| %>
                            <th class="text-center"><%= tag %></th>
                        <% end %>
                    <% end %>
                    <% year_reports.map(&:as_of).uniq.sort.each do |as_of_date| %>
                        <% tag_lists_to_display.each do |tag| %>
                            <th class="text-center"><%= tag %></th>
                        <% end %>
                    <% end %>
                </tr>
            </thead>

            <tbody>

                <% investor_kpi_mappings.each do |ikm| %>
                    <tr>
                        <td class="text_col">
                            <%= ikm.id ? link_to(ikm.standard_kpi_name, investor_kpi_mapping_path(ikm.id)) : ikm.standard_kpi_name %>
                        </td>
                        <% # Render quarterly reports %>
                        <% quarterly_reports.map(&:as_of).uniq.sort.each do |as_of_date| %>
                            <% tag_lists_to_display.each do |tag| %>
                                <% kpi_report = grouped_quarterly_reports[as_of_date][tag] %>
                                <td class="value_<%= kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.id %>">
                                    <% if kpi_report %>
                                        <% kpis = kpi_report.kpis.map{|kpi| [kpi.name.downcase, kpi]}.to_h %>
                                        <% kpi = kpis[ikm.standard_kpi_name.downcase].presence %>
                                        <% if kpi %>
                                            <span class="<%= kpi.value.to_f.negative? ? 'text-danger' : nil %>"><%= display_kpi(kpi, ikm, params: params) %></span>
                                        <% else %>

                                        <% end %>
                                    <% else %>

                                    <% end %>
                                </td>
                            <% end %>
                            <% if show_achievement_column %>
                                <!-- Achievement % Column -->
                                <td>
                                    <%
                                        actual_kpi_report = grouped_quarterly_reports[as_of_date]['Actual']
                                        budget_kpi_report = grouped_quarterly_reports[as_of_date]['Budget']
                                        actual_kpi_value = actual_kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.value
                                        budget_kpi_value = budget_kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.value
                                    %>
                                    <% if actual_kpi_value.present? && budget_kpi_value.present? && budget_kpi_value != 0 %>
                                        <%= number_to_percentage((actual_kpi_value.to_f / budget_kpi_value.to_f) * 100, precision:) %>
                                    <% elsif actual_kpi_value.present? %>
                                        <span class="<%= actual_kpi_value.to_f.negative? ? 'text-danger' : nil %>"><%= number_with_precision(actual_kpi_value, precision:, delimiter: ',') %></span>
                                    <% else %>

                                    <% end %>
                                </td>
                            <% end %>
                        <% end %>

                        <% # Render yearly reports %>
                        <% year_reports.map(&:as_of).uniq.sort.each do |as_of_date| %>
                            <% tag_lists_to_display.each do |tag| %>
                                <% kpi_report = grouped_yearly_reports[as_of_date][tag] %>
                                <td class="value_<%= kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.id %>">
                                    <% if kpi_report %>
                                        <% kpis = kpi_report.kpis.map{|kpi| [kpi.name.downcase, kpi]}.to_h %>
                                        <% kpi = kpis[ikm.standard_kpi_name.downcase].presence %>
                                        <% if kpi %>
                                            <span class="<%= kpi.value.to_f.negative? ? 'text-danger' : nil %>"><%= display_kpi(kpi, ikm, params: params) %></span>
                                        <% else %>

                                        <% end %>
                                    <% else %>

                                    <% end %>
                                </td>
                            <% end %>
                            <% if show_achievement_column %>
                                <!-- Achievement % Column -->
                                <td>
                                    <%
                                        actual_kpi_report = grouped_yearly_reports[as_of_date]['Actual']
                                        budget_kpi_report = grouped_yearly_reports[as_of_date]['Budget']
                                        actual_kpi_value = actual_kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.value
                                        budget_kpi_value = budget_kpi_report&.kpis&.find{|k| k.name.downcase == ikm.standard_kpi_name.downcase}&.value
                                    %>
                                    <% if actual_kpi_value.present? && budget_kpi_value.present? && budget_kpi_value != 0 %>
                                        <%= number_to_percentage((actual_kpi_value.to_f / budget_kpi_value.to_f) * 100, precision:) %>
                                    <% elsif actual_kpi_value.present? %>
                                        <span class="<%= actual_kpi_value.to_f.negative? ? 'text-danger' : nil %>"><%= number_with_precision(actual_kpi_value, precision:, delimiter: ',') %></span>
                                    <% else %>

                                    <% end %>
                                </td>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>