<%= render FormCard.new(title: "KPI Report") do %>

  <%= form_with(model: kpi_report, validate: true) do |form| %>
    <% if kpi_report.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(kpi_report.errors.count, "error") %> prohibited this kpi_report from being saved:</h2>

        <ul>
          <% kpi_report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true %>
    <%= form.text_field :portfolio_company_id, class: "form-control", hidden: true %>
    <%= form.text_field :user_id, class: "form-control", hidden: true %>
    <%= form.text_field :form_type_id, class: "form-control", hidden: true %>

    <div class="form-group">
      <%= form.label :portfolio_company_id %>
      <%= form.select :portfolio_company_id, kpi_report.entity.investors.portfolio_companies.map{|pc| [pc.investor_name, pc.id]}, {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :as_of %>
      <%= form.date_field :as_of, class: "form-control"  %>
    </div>

    
    <div class="form-group col">
      <%= form.label :period %>
      <%= form.select :period, KpiReport::PERIODS, {}, class: "form-control" %>
    </div>

    <% if @kpi_report.portfolio_company_id.present? %>
      <div class="form-group">
        <%= form.label :tag_list %>
        <%= form.text_field :tag_list, class: "form-control"  %>
      </div>
    <% end %>


    <div class="form-group">
        <%= file_fields("KPIs", @kpi_report, form, required: false, meta_data: "KPIs") %>
        <small class="form-text text-muted">Please upload the KPIs. <%= link_to "Sample upload format", ImportUpload::SAMPLES["KPIS_SAMPLE"] %> </small>
    </div>
    
    <%= custom_form_fields(@kpi_report, form) %>

    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>
