
<div data-controller="export-xl">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        Kpis
        <%= Entity.find(params[:entity_id]).name if params[:entity_id] %>
    </h1>

    <span>
        <button class="btn btn-outline-success", data-action="click->export-xl#export" data-tableid="kpi_reports_grid" data-filename='kpi_reports'>Download</button>
    </span>
</div>

<% if kpi_reports.present? %>
<% form_custom_fields = kpi_reports[0].form_type.form_custom_fields.order(position: :asc) %>

<div class="table-responsive" data-controller="datatable">
    <table id="kpi_reports_grid" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th class="no-sort"></th>
                <% kpi_reports.each do |kpi_report| %>
                    <th><%= l kpi_report.as_of %></th>
                <% end %>            
            </tr>
        </thead>
        <tbody>
                        
            <% form_custom_fields.each do |fcf| %>            
                <tr>
                    <td><%= fcf.name %></td>
                    <!-- TODO Optimize this loop -->
                    <% kpi_reports.each do |kpi_report| %>            
                        <% kpis = kpi_report.kpis.map{|kpi| [kpi.name, kpi]}.to_h %>
                        <td><%= kpis[fcf.name]&.value %> </td>
                    <% end %>
                    
                </tr>
            <% end %>

            <tr>
                <td>Documents</td>
                <% kpi_reports.each do |kpi_report| %>                               
                        <td>
                            <% kpi_report.documents.each do |doc| %>
                            <%=  link_to doc %>,
                            <% end %>
                        </td>                    
                <% end %>
            </tr>     

            <tr>
                <td>Link</td>
                <% kpi_reports.each do |kpi_report| %>                               
                        <td>
                            <%=  link_to kpi_report %>
                        </td>                    
                <% end %>
            </tr>     

        </tbody>
    </table>
</div>
</div>

<% end %>