
<%= kpi_reports.count %> KPIReports
<% kpi_reports = kpi_reports.order(as_of: :asc) %>

<div data-controller="export-xl">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-800">
        KPIs: 
                
        <% if params[:portfolio_company_id].present? %>
            <% investor = Investor.where(id: params[:portfolio_company_id]).first %>
            <%=  investor ? link_to(investor) : @entity.name %>        
        <% end %>
    </h1>

    <span>
        <% if params[:q].blank? %>
            <%= render "kpi_reports/filter", entity: @entity %> | 
        <% end %>

        <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle ti ti-settings" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "New", new_kpi_report_path('kpi_report[portfolio_company_id]': investor.id), class: "dropdown-item ti ti-plus" if investor %>

                <%= link_to "Reports", kpis_path(filter: true), class: "dropdown-item ti ti-report" %>

                <button class="dropdown-item ti ti-download", data-action="click->export-xl#export" data-tableid="kpi_reports_grid" data-filename='kpi_reports'>Download</button> 

                <%= button_to "Recompute Percentages", recompute_percentage_change_kpi_report_path(kpi_reports.last), method: :patch, class: "dropdown-item ti ti-percentage" if kpi_reports.last %>

                <%= link_to "Upload", 
                    new_import_upload_path(
                        "import_upload[import_type]": "Kpi", 
                        "import_upload[entity_id]": current_user.entity_id,
                        "import_upload[owner_id]": params[:portfolio_company_id],
                        "import_upload[owner_type]": "Investor",
                        "sample_upload": "KPIS_SAMPLE"), 
                        { class: "dropdown-item ti ti-upload"} %> 


                <%= link_to "Compare", kpis_path(grid_view: true, q: ransack_query_params(:portfolio_company_investor_name, :eq, investor.investor_name)), class: "dropdown-item ti ti-line-scan" if investor %>
            </div>
        </div>
        </div>
    </span>

</div>

<% if kpi_reports.present? %>
<% 
    
    # Now it depends on who is looking at the KPI, the investor or the startup
    if current_user.curr_role == "investor" 
        # Get the mappings for the investor
        investor = kpi_reports[0].investor_for(current_user.entity_id)
        investor_kpi_mappings = investor ? investor.investor_kpi_mappings.show_in_report : []
    elsif ["Investment Fund", "Angel Fund"].include? current_user.entity.entity_type
        # Create dummy mappings for the startup, which has all the kpi names
        investor_kpi_mappings = investor.investor_kpi_mappings 
    else
        investor_kpi_mappings = Kpi.where(kpi_report_id: kpi_reports.pluck(:id)).pluck(:name).uniq.map{|kpi_name| InvestorKpiMapping.new(standard_kpi_name: kpi_name, standard_kpi_name: kpi_name)}
    end

    # Filter investor_kpi_mappings based on the category if provided
    if params[:category].present?
        investor_kpi_mappings = investor_kpi_mappings.select{|ikm| ikm.category == params[:category]}
    end
%>

<div class="table-responsive" data-controller="datatable">
    <table id="kpi_reports_grid" class="table table-bordered dataTable">
        <thead>
            <tr>
                <th>KPI</th>
                <th>Category</th>
                <% kpi_reports.each do |kpi_report| %>
                    <th>
                        <%= l kpi_report.as_of %>
                        <span class="d-block">
                        <% if kpi_report.tag_list.present? %>                            
                            <small class="badge badge-pill bg-success-subtle text-success"><%= kpi_report.tag_list %></small>
                        <% end %>
                        <% if kpi_report.owner.present? %>
                            <small class="badge badge-pill bg-info-subtle text-info"><%= kpi_report.owner %></small>
                        <% end %>
                        </span>
                    </th>
                <% end %>            
            </tr>
        </thead>
        <tbody>
            

            <tr>
                <td>Period</td>
                <td></td>
                <% kpi_reports.each_with_index do |kpi_report, idx| %>                               
                        <td>
                            <%= kpi_report.period %>
                        </td>                    
                <% end %>
            </tr>
            
            <% investor_kpi_mappings.each do |ikm| %>            
                <tr>
                    <td>
                        <%= ikm.id ? link_to(ikm.standard_kpi_name, investor_kpi_mapping_path(ikm.id)) : ikm.standard_kpi_name %>
                    </td>

                    <td>
                        <%= ikm.category %>
                    </td>
                    
                    <% kpi_reports.each do |kpi_report| %>  
                        <!-- Create a hash of the kpis with the name as the key -->
                        <% 
                            kpis = kpi_report.kpis                             
                            kpis = kpis.map{|kpi| [kpi.name.downcase, kpi]}.to_h                             
                        %>
                        
                        <!-- Find the kpi with the name or an alias for the name and show its value-->
                        <% kpi = kpis[ikm.standard_kpi_name.downcase].presence %>                        
                        <td class="value_<%=kpi&.id%>">
                            <% if kpi %>
                                <%= number_with_delimiter(kpi.value.round(2), delimiter: ',') if kpi.value %>
                                <br>
                                <%= kpi_percentage_class(kpi, ikm).html_safe %>
                                <% if kpi.notes.present? %>
                                    <i class="ti ti-info-circle text-primary float-end fs-4" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= kpi.notes %>"></i>
                                <% end %>
                            <% else %>
                                N/A
                            <% end %>
                        </td>
                    <% end %>
                    
                </tr>
            <% end %>

            <tr>
                <td>Documents</td>
                <td></td>
                <% kpi_reports.each_with_index do |kpi_report, idx| %>                               
                        <td>
                            <ul>
                            <% kpi_report.documents.each_with_index do |doc, idx| %>
                            <li>
                             <small>
                                <%= idx + 1 %>. 
                                <%=  link_to doc.name, doc.file.url(expires_in: 60*60*24*7, response_content_disposition: "attachment; filename=#{doc.name_with_extension}"), target: "_blank" %>,
                             </small>
                            </li>
                            <% end %>
                            </ul>
                        </td>                    
                <% end %>
            </tr>     

            <tr>
                <td>Link</td>
                <td></td>
                <% kpi_reports.each do |kpi_report| %>                               
                        <td>
                            <small><%=  link_to kpi_report %></small>
                        </td>                    
                <% end %>
            </tr>     

        </tbody>
    </table>
</div>

</div>

    <% if params[:chart].nil? || params[:chart] == "true" %>
        <% 
            kpi_names = investor_kpi_mappings.collect(&:standard_kpi_name)
            kpis = Kpi.where(name: kpi_names, kpi_report_id: kpi_reports.pluck(:id))
            kpi_mappings = investor_kpi_mappings.group_by{|ikm| [ikm.investor&.investor_entity_id, ikm.standard_kpi_name] }
        %>
        <div class="associated_entity">
            <div class="row">
                <div class="col-lg-12 mb-4">

                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"> <%= "KPIs" %> </h6>
                        </div>
                        <div class="card-body">
                            <% id = params[:report_id] %>
                            <%= multiple_entity_kpi_lines_by_date(kpis, id: "kpi_lines_#{id}", investor_kpi_mappings: kpi_mappings) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

<% end %>