
<div data-controller="export-xl">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        KPIs: 
        <%= Entity.find(params[:entity_id]).name if params[:entity_id] %>
    </h1>

    <span>
        <%= render "kpi_reports/filter" %>

        <button class="btn btn-outline-success", data-action="click->export-xl#export" data-tableid="kpi_reports_grid" data-filename='kpi_reports'>Download</button> 
    </span>

    

</div>

<% if kpi_reports.present? %>
<% form_custom_fields = kpi_reports[0].form_type ? kpi_reports[0].form_type.form_custom_fields.order(position: :asc) : [FormCustomField.new(field_type: "TextField", name: "")] %>

<div class="table-responsive" data-controller="datatable">
    <table id="kpi_reports_grid" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th class="no-sort">KPI</th>
                <% kpi_reports.each do |kpi_report| %>
                    <th><%= l kpi_report.as_of %></th>
                <% end %>            
            </tr>
        </thead>
        <tbody>
            <% form_custom_fields.each do |fcf| %>            
                <tr>
                    <td><%= fcf.name.titleize %></td>
                    <!-- TODO Optimize this loop -->
                    <!-- Sometimes we have uploaded the data and setup aliases for the field names -->
                    <% aliases = fcf.meta_data.present? ? fcf.meta_data.downcase.split(",") : [] %>
                    <% kpi_reports.each do |kpi_report| %>            
                        <% kpis = kpi_report.kpis.map{|kpi| [kpi.name.downcase, kpi]}.to_h %>
                        <!-- Find the kpi with the name or an alias for the name and show its value-->
                        <% kpi = kpis[fcf.name.downcase].presence || kpis.values_at(*aliases).find{|x| x.present?} %>
                        <td>
                            <% if kpi %>
                                <% if fcf.field_type == "NumberField" %>
                                    <%= number_with_delimiter(kpi.value.round(2), delimiter: ',') if kpi.value %>
                                <% elsif fcf.field_type == "DateField" %>
                                    <%= l Date.parse(kpi.display_value) if kpi.display_value %>
                                <% else %>
                                    <%= kpi.display_value %> 
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    
                </tr>
            <% end %>

            <tr>
                <td>Documents</td>
                <% kpi_reports.each do |kpi_report| %>                               
                        <td>
                            <% kpi_report.documents.each do |doc| %>
                                <small>
                                    <%=  link_to doc.name, doc.file.url(expires_in: 60*60*24*7), target: "_blank" %>,
                                </small>
                            <% end %>
                        </td>                    
                <% end %>
            </tr>     

            <tr>
                <td>Link</td>
                <% kpi_reports.each do |kpi_report| %>                               
                        <td>
                            <small><%=  link_to kpi_report %></small>
                        </td>                    
                <% end %>
            </tr>     

        </tbody>
    </table>
</div>
</div>

<div class="associated_entity">
    <div class="row">
        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> Income Statement </h6>
                </div>
                <div class="card-body">
                    <%= kpi_lines_by_date(kpi_reports, "Income Statement")  %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="associated_entity">
    <div class="row">
        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> Operations </h6>
                </div>
                <div class="card-body">
                    <%= kpi_lines_by_date(kpi_reports, "Operating")  %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="associated_entity">
    <div class="row">
        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> Balance Sheet </h6>
                </div>
                <div class="card-body">
                    <%= kpi_lines_by_date(kpi_reports, "Balance Sheet")  %>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>