
<div data-controller="kpi-reports" 
     data-kpi-reports-lazy-load-data-value=<%= false %>
     data-kpi-reports-table-name-value="#kpi_reports">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Kpi Reports 
      <%= Entity.find(params[:entity_id]).name if params[:entity_id] %>
    </h1>
    <span>
      
      <% form_type = current_user.entity.form_types.where(name: "KpiReport").first %>
      <% if form_type %>
        <%= link_to "New Kpi Report", new_kpi_report_path("kpi_report[entity_id]": current_user.entity_id), {class: "btn btn-outline-primary"}  %>
        <%= link_to "Grid View", kpi_reports_path(entity_id: current_user.entity_id, grid_view: true), {class: "btn btn-outline-primary"}  %>

        <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": current_user.entity_id, 
                "import_upload[owner_type]": "Entity", 
                "import_upload[import_type]": "Kpi", 
                "import_upload[entity_id]": current_user.entity_id,
                "sample_upload": ""), 
                { class: "btn btn-outline-success"} %> 

        <%= link_to "Customize Kpis", edit_form_type_path(form_type), {class: "btn btn-outline-success"}  %>
      <% else %>
        <%= link_to "Customize Kpis", new_form_type_path("form_type[name]": "KpiReport"), {class: "btn btn-outline-success"}  %>
      <% end %>
    </span>
  </div>

  <% data_source ||= kpi_reports_path(format: :json, all: true, period: params[:period]) %>
  <% lazy_load_data ||= false %>

  <div class="table-responsive">

    <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->kpi-reports#loadData"><span>Load Data</span></a>
    <% end %>

    <table id="kpi_reports" class="table table-bordered dataTable" data-source="<%= data_source %>">
      <thead>
        <tr>
          <th>
            As Of
          </th>
          <th>
            Notes
          </th>
          <th>
            User
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>

</div>