<tr id="<%= dom_id kpi_report %>">
  <td>
    <%= l kpi_report.as_of %>
  </td>
  <td>
    <%= kpi_report.period %>
  </td>
  <td>
    <%= kpi_report.notes %>
  </td>
  <td>
    <%= kpi_report.user.full_name %>
  </td>
  <td>
    <% if kpi_report.investor_id.present? %>
      <%= link_to kpi_report.portfolio_company.investor_name, kpi_reports_path(investor_id: kpi_report.investor_id, grid_view: true) %>
    <% else %>
      <%= link_to kpi_report.entity.name, kpi_reports_path(entity_id: kpi_report.entity_id, grid_view: true) %>
    <% end %>
  </td>
  <td>
    <%= link_to  t_common(:show), kpi_report , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
