<%= render "/layouts/alerts" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Kpi Reports</h1>
  <span>
    
    <% form_type = current_user.entity.form_types.where(name: "KpiReport").first %>
    <% if form_type %>
      <%= link_to "New Kpi Report", new_kpi_report_path("kpi_report[entity_id]": current_user.entity_id), {class: "btn btn-outline-primary"}  %>
      <%= link_to "Customize Report", edit_form_type_path(form_type), {class: "btn btn-outline-success"}  %>
    <% else %>
      <%= link_to "Customize Report", new_form_type_path("form_type[name]": "KpiReport"), {class: "btn btn-outline-success"}  %>
    <% end %>
  </span>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="kpi_reports" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          As Of
        </th>
        <th>
          Notes
        </th>
        <th>
          User
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @kpi_reports.each do |kpi_report| %>
        <%= render kpi_report %>
      <% end %>
    </tbody>
  </table>
</div>
