
<%= turbo_frame_tag "performance_table_frame" do %>
  <div class="card table-responsive">
    <div class="card-header">
      <%= form_with url: show_performance_kpi_reports_path(portfolio_company_id: params[:portfolio_company_id]), method: :get, data: { turbo_frame: "performance_table_frame" } do |f| %>
        <div class="d-flex align-items-center">
          <%= f.hidden_field :portfolio_company_id, value: params[:portfolio_company_id] %>
          <%= f.label :as_of, "#{@portfolio_company&.name}  KPI Performance:", class: "card-title mb-0 me-2" %>
          <%= f.select :as_of, options_for_select((@as_of - 6.months..Date.current).map { |date| [date.end_of_month.strftime('%b %Y'), date.end_of_month] }.uniq.reverse, @as_of.end_of_month), {}, { onchange: "this.form.requestSubmit()", class: "form-select w-auto" } %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <% if @kpi_report.present? %>
      <div class="table-responsive">
        <table class="table table-bordered text-end align-middle" data-controller="row-toggle">
          <thead class="table-dark">
            <tr>
              <th rowspan="2" class="text-start">Metric</th>
              <th colspan="4">Monthly</th>
              <th colspan="3">Quarterly</th>
              <th colspan="3">YTD</th>
              <th colspan="3">TTM</th>
            </tr>
            <tr>
              <th><%= l @as_of.prev_month.end_of_month %></th>
              <th><%= l @as_of %></th>
              <th>Growth MoM</th>
              <th>Growth 12Mo</th>
              <th>Previous</th>
              <th>Current</th>
              <th>Growth QoQ</th>
              <th>Previous</th>
              <th>Current</th>
              <th>vs&nbsp;PY</th>
              <th>Previous</th>
              <th>Current</th>
              <th>vs&nbsp;PY</th>
            </tr>
          </thead>

          <tbody>
            <% @rows.each do |r| %>
              <% row_class = r.investor_kpi_mapping.parent_id.blank? ? 'parent' : 'child' %>
              <tr class="<%= row_class %>">
                <td class="text-start fw-semibold" data-action="click->row-toggle#toggle" data-row-toggle-target="control">
                    <% if r.investor_kpi_mapping.parent_id.present? %>
                        &nbsp;&nbsp;
                        <i class="ti ti-chevron-right"></i>
                    <% end %>
                    <%= r.metric %>
                    <% if r.investor_kpi_mapping.child_count > 0 %>
                        <span class="expand">+</span>
                    <% end %>
                </td>

                <td><%= r.monthly_prev_kpi ? link_to(number_with_delimiter(r.monthly_prev_kpi.value, delimiter: ','), r.monthly_prev_kpi) : nil %></td>
                <td><%= r.monthly_curr_kpi ? link_to(number_with_delimiter(r.monthly_curr_kpi.value, delimiter: ','), r.monthly_curr_kpi) : nil %></td>
                <td><%= content_tag(:span, number_to_percentage(r.growth_monthly, precision: 1), class: (r.growth_monthly.negative? ? 'text-danger' : 'text-success')) if r.growth_monthly %></td>
                <td><%= content_tag(:span, number_to_percentage(r.growth_monthly_py, precision: 1), class: (r.growth_monthly_py.negative? ? 'text-danger' : 'text-success')) if r.growth_monthly_py %></td>

                <td><%= r.quarterly_prev_kpi ? number_with_delimiter(r.quarterly_prev_kpi.value, delimiter: ',') : nil %></td>
                <td><%= r.quarterly_curr_kpi ? number_with_delimiter(r.quarterly_curr_kpi.value, delimiter: ',') : nil %></td>
                <td><%= content_tag(:span, number_to_percentage(r.growth_quarterly, precision: 1), class: (r.growth_quarterly.negative? ? 'text-danger' : 'text-success')) if r.growth_quarterly %></td>

                <td><%= r.ytd_prev_kpi ? number_with_delimiter(r.ytd_prev_kpi.value, delimiter: ',') : nil %></td>
                <td><%= r.ytd_curr_kpi ? number_with_delimiter(r.ytd_curr_kpi.value, delimiter: ',') : nil %></td>
                <td><%= content_tag(:span, number_to_percentage(r.growth_ytd_py, precision: 1), class: (r.growth_ytd_py.negative? ? 'text-danger' : 'text-success')) if r.growth_ytd_py %></td>

                <td><%= r.ttm_prev_kpi ? number_with_delimiter(r.ttm_prev_kpi.value, delimiter: ',') : nil %></td>
                <td><%= r.ttm_curr_kpi ? number_with_delimiter(r.ttm_curr_kpi.value, delimiter: ',') : nil %></td>
                <td><%= content_tag(:span, number_to_percentage(r.growth_ttm_py, precision: 1), class: (r.growth_ttm_py.negative? ? 'text-danger' : 'text-success')) if r.growth_ttm_py %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <p class="text-muted">No KPI report found for the specified date. Try any of the dates below</p>
        <!-- Optionally, you can add a link to show for prev dates -->
        <% (1..5).each do |i| %>

        <div class="mb-2 d-inline-block">
          <%= link_to "#{l (@as_of - i.month).end_of_month}", show_performance_kpi_reports_path(as_of: (@as_of - i.month).end_of_month, portfolio_company_id: params[:portfolio_company_id]), class: "mb-1 fs-5 badge rounded-pill  bg-primary-subtle text-primary"  %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>