<%= render FormCard.new(title: @commitment_adjustment.adjustment_type.presence || "New Adjustment") do %>

<table class="table table-bordered dataTable">
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= link_to @commitment_adjustment.fund %>
    </td>
  </tr>
  <tr>
    <td>
      Folio
    </td>
    <td>
      <%= link_to @commitment_adjustment.capital_commitment %>
    </td>
  </tr>

  <tr>
    <td>
      Type
    </td>
    <td>
      <%= @commitment_adjustment.adjustment_type %>
    </td>
  </tr>


  <tr>
    <td>
      Amount
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.amount, params %>
    </td>
  </tr>

  <% if @commitment_adjustment.fund.has_tracking_currency? %>
    <tr>
      <td>
        Tracking Currency
      </td>
      <td>
        <%= @commitment_adjustment.fund.tracking_currency %>
      </td>
    </tr>

    <tr>
      <td>
        Tracking Amount
      </td>
      <td>
        <%= money_to_currency @commitment_adjustment.tracking_amount, params %>
      </td>
    </tr>
  <% end %>

  <% if @commitment_adjustment.amount_cents != @commitment_adjustment.folio_amount_cents %>
  <tr>
    <td>
      Folio Amount
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.folio_amount, params %>
    </td>
  </tr>
  <% end %>
  

  <tr>
    <td>
      Pre Adjustment
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.pre_adjustment, params %>
    </td>
  </tr>
  
  <tr>
    <td>
      Post Adjustment
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.post_adjustment, params %>
    </td>
  </tr>
  <tr>
    <td>
      Reason
    </td>
    <td>
      <%= @commitment_adjustment.reason %>
      <% if @commitment_adjustment.owner %>
        <br><%= link_to @commitment_adjustment.owner %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      As Of
    </td>
    <td>
      <%= l @commitment_adjustment.as_of if @commitment_adjustment.as_of %>
    </td>
  </tr>

  <% if @commitment_adjustment.exchange_rate %>
  <tr>
    <td>
      Exchange Rate
    </td>
    <td>
      <%= link_to @commitment_adjustment.exchange_rate %>
    </td>
  </tr>
  <% end %>

</table>


<div class="associated_entity">

  <%= link_to "Edit", edit_commitment_adjustment_path(@commitment_adjustment), {class: "btn btn-outline-primary"} if policy(@commitment_adjustment).update? %> 

  <%= button_to "Delete", @commitment_adjustment, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {msg: "This will permanently delete this item. Please note that the payment created against this adjustment, if any, will not be deleted. Proceed?", action: "click->confirm#popup", turbo:false} if policy(@commitment_adjustment).destroy?  %>
  
</div>

<% end %>

