
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= @commitment_adjustment.fund.name %>
    </td>
  </tr>
  <tr>
    <td>
      Folio
    </td>
    <td>
      <%= link_to @commitment_adjustment.capital_commitment %>
    </td>
  </tr>

  <tr>
    <td>
      Top Up Folio Amount
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.folio_amount, params %>
    </td>
  </tr>
  
  <tr>
    <td>
      Adjustment Amount
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.amount, params %>
    </td>
  </tr>

  <tr>
    <td>
      Pre Adjustment
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.pre_adjustment, params %>
    </td>
  </tr>
  
  <tr>
    <td>
      Post Adjustment
    </td>
    <td>
      <%= money_to_currency @commitment_adjustment.post_adjustment, params %>
    </td>
  </tr>
  <tr>
    <td>
      Reason
    </td>
    <td>
      <%= @commitment_adjustment.reason %>
      <% if @commitment_adjustment.owner %>
        <div><%= link_to @commitment_adjustment.owner %></div>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      As Of
    </td>
    <td>
      <%= l @commitment_adjustment.as_of if @commitment_adjustment.as_of %>
    </td>
  </tr>

  <% if @commitment_adjustment.exchange_rate %>
  <tr>
    <td>
      Exchange Rate
    </td>
    <td>
      <%= link_to @commitment_adjustment.exchange_rate %>
    </td>
  </tr>
  <% end %>

</table>

<div>

  <%= link_to "Edit", edit_commitment_adjustment_path(@commitment_adjustment), {class: "btn btn-outline-primary"} if policy(@commitment_adjustment).update? %> 

  <%= button_to "Delete", @commitment_adjustment, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@commitment_adjustment).destroy?  %>
  
</div>
