<%= render FormCard.new(title: "Portfolio Reports : #{portfolio_report.to_s || 'New'}") do %>
  <%= form_with(model: portfolio_report, validate: true) do |form| %>
    <% if portfolio_report.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(portfolio_report.errors.count, "error") %> prohibited this portfolio_report from being saved:</h2>
        <ul>
          <% portfolio_report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :entity_id, class: "form-control"  %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.label :tags %>
      <%= form.text_field :tags, class: "form-control"  %>
      <span class="form-text text-muted">Comma separated list of tags</span>
    </div>

     <h5 class="h5 mb-0 text-gray-800">Sections</h5>
      <div id="sections">
        <%= form.fields_for :portfolio_report_sections do |section_form| %>
          <%= render 'portfolio_report_section_fields', f: section_form %>
        <% end %>
      </div>

    <div class="form-group">
      <%= link_to_add_association 'Add Section', form, :portfolio_report_sections, class: 'btn btn-primary' %>
      <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>
<% end %>