<%= render FormCard.new(title: "#{@portfolio_report}") do %>
  <table class="table table-bordered dataTable">
    
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @portfolio_report.name %>
      </td>
    </tr>
    <tr>
      <td>
        Tags
      </td>
      <td>
        <%= @portfolio_report.tags %>
      </td>
    </tr>
    <tr>
      <td>
        Include Kpi
      </td>
      <td>
        <%= display_boolean @portfolio_report.include_kpi %>
      </td>
    </tr>
    <tr>
      <td>
        Include Portfolio Investments
      </td>
      <td>
        <%= display_boolean @portfolio_report.include_portfolio_investments %>
      </td>
    </tr>
    <tr>
      <td>
        Sections
      </td>
      <td>
        
          <div class="nested-fields">
            <table class="table dataTable">
              <% @portfolio_report.portfolio_report_sections.each_with_index do |prs, idx| %>
                <tr>
                  <td>Section <%= idx + 1%></td>
                  <td> <%= prs.name %> </td>
                  <td> <%= prs.tags %> </td>            
                  <td> <%= prs.data %> </td>
                </tr>
              <% end %>
            </table>
          </div>
        
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <% if policy(@portfolio_report).update? %>
      <%= link_to  t_common(:edit), edit_portfolio_report_path(@portfolio_report), {class: "btn btn-outline-primary"} %>
      <%= button_to t_common(:delete), @portfolio_report, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>
  </div>
<% end %>

<div class="associated_entity">
  <%= render "/portfolio_reports/details", portfolio_report: @portfolio_report %>
</div
