<div id="toasts" aria-live="polite" aria-atomic="true" style="position: relative;"></div>

<div data-controller="access">

<%= render FormCard.new(title: "Task", css_class: "dynamic_form") do %>

    <%= form_with(model: task, id: "task_form", validates: true) do |form| %>
      <% if task.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
      <%= form.text_field :for_entity_id, class: "form-control", hidden: true  %>
      <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
      <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
      <%= form.text_field :user_id, class: "form-control", hidden: true  %>

      <div class="form-group">
        <%= form.label :details %>
        <%= form.rich_text_area :details, class: "form-control"  %>
      </div>

      <% if task.entity_id == current_user.entity_id %>
      <div class="form-group">
        <%= form.label :response %>
        <%= form.rich_text_area :response, class: "form-control"  %>
      </div>
      <% end %>

      <div class="form-group">
        <%= form.label :due_date %>
        <%= form.date_field :due_date, class: "form-control"  %>
      </div>

      <% if task.owner == nil || current_user.entity_id == task.owner.entity_id %>
        <div class="form-group">
          <%= form.label :assigned_to %>
          <%= form.select :assigned_to_id, task.entity.employees.map{|u| [u.full_name, u.id]} ,{}, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= form.label :tags %>
          <%= form.text_field :tags, class: "form-control"  %>
        </div>

      <% end %>
      
      <%= custom_form_fields(task, form) %>


      <% 
        show_completed ||= false  
        if show_completed 
      %>
        <div class="form-group">
          <%= form.label :completed %>
          <%= form.check_box :completed, class: "form-check-input"  %>
        </div>

      <% end %>

      <% 
        if current_user.support? 
      %>
        <div class="form-group">
          <%= form.label :for_support %>
          <%= form.check_box :for_support, class: "form-check-input"  %>
        </div>
      <% end %>

      <div class="form-group">    
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
        <a class="btn btn-outline-danger", data-action="click->access#close">Close</a>
      </div>
    <% end %>

<% end %>

</div>