<tr id="<%= dom_id task %>">
  <td>
    <%= link_to task.details.html_safe, task %>
    <div>
    <% task.tags&.split(",")&.each do |tag| %>
      <small><%= link_to tag, search_tasks_path(query: tag) %></small>
    <% end %>
    </div>
  </td>
  <td>
    <%= link_to task.owner_type, "/#{task.owner_type.underscore.pluralize}/#{task.owner_id}" %>
  </td>
  <td>
    <%= task.for_entity&.name %>
  </td>
  <td>
    <%= l task.due_date if task.due_date %>
    <% if !task.completed && task.due_date && task.due_date < Time.zone.today %>
      <br>
      <span class="badge bg-danger"> Delayed </span>
    <% end %>
  </td>
  <td>
    <%= display_boolean(task.completed) %>
  </td>
  <td>
    <%= task.user.full_name %>
  </td>
  <td>
    <%= l task.created_at %>
  </td>
  <td>
    <% if policy(task).update? %>
      <% checked = task.completed == 1 ? "checked" : ""%>
      <%= form_with(model: task, url: completed_task_path(task), class: "inline_form") do |form| %>
          <%= form.check_box :completed, class: "task-done-checkbox", onchange:"this.form.requestSubmit();"  %>
      <% end %>

      <%= link_to  t_common(:edit), edit_task_path(task), class: "btn btn-outline-success", data: { turbo_frame: 'new_task' }%>
    <% end %>
    
    <%= link_to  t_common(:show) , task , {class: "btn btn-outline-primary" } if policy(task).show? %>
  </td>
</tr>