<h3>Dear <%= @approval_response.investor.investor_name %> </h3>

<p>
    This is a reminder that <%= @approval.entity.name %> has requested your approval for <%=@approval.title%>.
</p>

<%if @approval.agreements_reference.present?%>
<p>
    <%= @approval.agreements_reference %>
</p>
<%end%>

<%= render "approval_responses/kyc_in_approval" %>

<p class="btn btn-outline-primary"><%= link_to 'View Approval', approval_url(@approval, subdomain: @approval.entity.sub_domain) %></p>
