<h3>Dear <%= @approval_response.investor.investor_name %> </h3>

<p>
    <%= @approval.entity.name %> has requested an approval for <%=@approval.title%>.
</p>

<p>
    <%= render "/approvals/show", approval: @approval, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Approval', approval_url(@approval, subdomain: @approval.entity.sub_domain) %></p>
