<% if @custom_notification.present? %>
    <%= render "/custom_notifications/mail" do %>
        <%= render "approval_responses/kyc_in_approval" if @custom_notification.show_details %>
    <% end %>
<% else %>

    <h3>Dear <%= @approval_response.investor.investor_name %> </h3>

    <p>
        This is a reminder that <%= @approval.entity.name %> has requested your approval for <%=@approval.title%>.
    </p>

    <%if @approval.agreements_reference.present?%>
    <p>
        <%= @approval.agreements_reference %>
    </p>
    <%end%>

    <%= render "approval_responses/kyc_in_approval" %>

<% end %>

<%= render "approval_mailer/response_link" if @approval.response_enabled_email %>

<p class="btn btn-outline-primary"><%= link_to 'View Approval', approval_url(@approval, subdomain: @approval.entity.sub_domain) if  @custom_notification.nil? || @custom_notification&.show_link %></p>
