<% if @custom_notification.present? %>
    <%= @custom_notification.body.html_safe %>
    <%= render "approval_responses/kyc_in_approval" if @custom_notification.show_details %>
<% else %>

    <h3>Dear <%= @approval_response.investor.investor_name %> </h3>

    <p>
        <%= @approval.entity.name %> has requested an approval for <%=@approval.title%>.
    </p>

    <%if @approval.agreements_reference.present?%>
        <p>
            <%= @approval.agreements_reference %>
        </p>
    <%end%>

<% end %>

<%= render "approval_responses/kyc_in_approval" %>
<%= render "approval_mailer/response_link" %>

<p class="btn btn-outline-primary"><%= link_to 'View Approval', approval_url(@approval, subdomain: @approval.entity.sub_domain) if  @custom_notification.nil? || @custom_notification&.show_link %></p>
