<%= render FormCard.new(title: "Stock Adjustment") do %>

  <%= form_with(model: stock_adjustment, validate: true) do |form| %>
    <% if stock_adjustment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(stock_adjustment.errors.count, "error") %> prohibited this stock_adjustment from being saved:</h2>

        <ul>
          <% stock_adjustment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= form.text_field :portfolio_company_id, class: "form-control", hidden: true %>

    <% investment_instruments = stock_adjustment.portfolio_company.investment_instruments %>
    <div class="form-group">
      <%= form.label :investment_instrument_id, "Instrument" %>
      <%= form.select :investment_instrument_id, investment_instruments.map{|i| [i.name, i.id]}, {}, class: "form-control", data: { select_target: "select" }  %>
    </div>

    <div class="form-group">
      <%= form.label :adjustment, "Adjustment Factor" %>
      <%= form.number_field :adjustment, class: "form-control", step: :any  %>
      <small class="text-muted"> Enter the adjustment factor to update stock quantity based on the ratio for share split / consolidation e.g. enter 10 if 1 share is converted to 10 shares </small>
    </div>

    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>
