<tr id="<%= dom_id stock_adjustment %>">
  <td>
    <%= stock_adjustment.portfolio_company.investor_name %>
  </td>
  <td>
    <%= stock_adjustment.user.full_name %>
  </td>
  <td>
    <%= stock_adjustment.category %> : <%= stock_adjustment.sub_category %>
  </td>
  <td>
    <%= stock_adjustment.adjustment %>
  </td>
  <td>
    <%= l stock_adjustment.created_at %>
  </td>
  <td>
    <%= stock_adjustment.notes %>
  </td>
</tr>
