<tr id="<%= dom_id kyc_data %>">
  <td>
    <%= link_to kyc_data.investor_kyc, kyc_data.investor_kyc %>
  </td>
   <td>
    <%= kyc_data.full_name %>
  </td>
  <td>
    <%= kyc_data.PAN %>
  </td>
  <td>
    <%= kyc_data.birth_date&.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= kyc_data.source&.upcase %>
  </td>
  <td>
    <%= link_to  t_common(:show) , kyc_data_path(kyc_data) , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
