<tr id="<%= dom_id kyc_data %>">
  <td>
    <%= kyc_data.entity.name %>
  </td>
  <td>
    <%= kyc_data.full_name %>
  </td>
  <td>
    <%= kyc_data.email %>
  </td>
  <td>
    <%= kyc_data.phone %>
  </td>
  <td>
    <%= kyc_data.source %>
  </td>
  <td>
    <%= kyc_data.corr_address %>
  </td>
  <td>
    <%= kyc_data.perm_address %>
  </td>
  <td>
    <%= kyc_data.response %>
  </td>

  <td>
    <%= link_to  t_common(:show) , kyc_data , {class: "btn btn-outline-primary" }%>
  </td>
</tr>
