<% datatype = kyc_data.source&.upcase || "KYC" %>
<%= render ToggleCard.new(title: "#{datatype} Data: #{kyc_data.full_name}", css_class: "show_inv_entities_#{datatype}") do %>

  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= kyc_data.entity.name %>
      </td>
    </tr>

    
    <tr>
      <td>
        Investor Kyc
      </td>
      <td>
        <%= link_to kyc_data.investor_kyc.to_s, kyc_data.investor_kyc %>
        <br>
        <% if kyc_data.investor_kyc.verified %>
          <span class="badge bg-success">Verified</span>
        <% else %>
          <span class="badge bg-warning">Not Verified</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        PAN
      </td>
      <td>
        <%= kyc_data.PAN %>
        <% if kyc_data.pan_match %>
          <span class="badge bg-success">Match</span>
        <% else %>
          <span class="badge bg-warning">No Match</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        DOB
      </td>
      <td>
        <%= kyc_data.birth_date&.strftime("%d/%m/%Y") %>
        <% if kyc_data.birth_date_match %>
          <span class="badge bg-success">Match</span>
        <% else %>
          <span class="badge bg-warning">No Match</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        Status
      </td>
      <td>
        <%= kyc_data.status %>
      </td>
    </tr>

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= kyc_data.full_name %>
        <% if kyc_data.full_name_match %>
          <span class="badge bg-success">Match</span>
        <% else %>
          <span class="badge bg-warning">No Match</span>
        <% end %>
      </td>
    </tr>

    <%if kyc_data.source == "ckyc" %>
    <tr>
      <td>
          CKYC Number
      </td>
      <td>
        <%= kyc_data.ckyc_number %>
      </td>
    </tr>
    <% else %>
    <tr>
      <td>
          KRA status
      </td>
      <td>
        <%= kyc_data.kra_status %>
      </td>
    </tr>

    <% end %>

    <tr>
      <td>
        Email
      </td>
      <td>
        <%= kyc_data.email %>
      </td>
    </tr>

    <tr>
      <td>
        Phone
      </td>
      <td>
        <%= kyc_data.phone %>
      </td>
    </tr>

    <tr>
      <td>
        Correspondence Address
      </td>
      <td>
        <%= kyc_data.corr_address %>
        <% if kyc_data.corr_address_match %>
          <span class="badge bg-success">Match</span>
        <% else %>
          <span class="badge bg-warning">No Match</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        Permanent Address
      </td>
      <td>
        <%= kyc_data.perm_address %>
        <% if kyc_data.address_match %>
          <span class="badge bg-success">Match</span>
        <% else %>
          <span class="badge bg-warning">No Match</span>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        Source
      </td>
      <td>
        <%= kyc_data.source.upcase   %>
      </td>
    </tr>

    <tr class="">
        <td>
            Created
        </td>
        <td>
            <%= kyc_data.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
        </td>
    </tr>
    
    <tr class="">
        <td>
            Updated
        </td>
        <td>
            <%= kyc_data.updated_at.strftime("%d/%m/%Y %H:%M:%S") %>
        </td>
    </tr>


    <% if params[:debug].present? %>

      <tr>
        <td>
          Final Response
        </td>
        <td>
           <%= Json2table.get_html_table(kyc_data.response, JsonTable::TABLE_OPTIONS).html_safe %>
        </td>
      </tr>

      <tr>
        <td>
          Request Data
        </td>
        <td>
           <%= Json2table.get_html_table(kyc_data.request_data, JsonTable::TABLE_OPTIONS).html_safe %>
        </td>
      </tr>

      <tr>
        <td>
          Response Data
        </td>
        <td>
          <%= Json2table.get_html_table(kyc_data.response_data, JsonTable::TABLE_OPTIONS).html_safe %>
        </td>
      </tr>
      <% end %>

  </table>

<% if kyc_data.ckyc? %>
<div>
    <p>
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#imgCollapseResponse-<%= kyc_data.id %>" aria-expanded="false" aria-controls="imgCollapseResponse-<%= kyc_data.id %>">
            Show Images
    </button>
    </p>
</div>

<div>
    <div class="collapse" id="imgCollapseResponse-<%= kyc_data.id %>">
    <big>Images:</big>
    <br>
        <div class="card card-body">
            <% kyc_data.get_image_data&.each do |img_hash| %>
            <div>
                <%= img_hash['image_type'].gsub("/"," / ").titleize+" :" %>
                <br>
                <% if img_hash['type'] == 'pdf' %>
                  <%= content_tag(:iframe, '', src: "data:application/pdf;base64,#{img_hash['data']}",
                                            width: '100%',
                                            height: '600px',
                                            style: 'border: none;') %>
                <% else %>
                  <%= image_tag "data:image/jpeg;base64,#{img_hash['data']}",
                              width: 300,
                              height: 300,
                              class: "img-thumbnail file-upload-preview" %>
                <% end %>

                <hr>
            </div>
            <% end %>
        </div>
    </div>
    <br>
</div>
<% end %>

<% end %>
