<% if @custom_notification %>

    <%= render "/custom_notifications/mail" do %>
        <%= render "capital_remittance_mailer/capital_remittance_details", capital_remittance: @capital_remittance, current_user: nil, params: {} if @custom_notification.show_details %>
    <% end %>    

<% else %>

    <h3>Dear <%= @capital_remittance.capital_commitment.investor_kyc&.full_name %></h3>

    <p>
        A capital call of <%= money_to_currency(@capital_remittance.call_amount, {}) %> has been made by the fund <%= @capital_remittance.fund.name %>, which is due by <%= l @capital_remittance.capital_call.due_date %> 
    </p>
    <p>
        Please refer the attached notice for further details or click on the link below.
    </p>

<% end %>

<p class="btn btn-outline-primary"><%= link_to 'View Call', capital_remittance_url(@capital_remittance, subdomain: @capital_remittance.entity.sub_domain) if  @custom_notification.nil? || @custom_notification&.show_link %></p>
