<% turbo_tag = "#{kanban_card.data_source_type}#{kanban_card.data_source_id}Column#{kanban_card.kanban_column_id}"%>
<%= turbo_frame_tag turbo_tag do%>
    <% offcanvas_id = "offcanvas_#{kanban_card.data_source_type}#{kanban_card.data_source_id}Column#{kanban_card.kanban_column_id}" %>
    <%= turbo_stream_from kanban_card %>
    <% offcanvas_turbo_tag= "card_offcanvas_turbo_frame" %>
    <% show_path = "/" %>
    <% if kanban_card.data_source.present? && kanban_card.data_source_type != "KanbanCard"%>
        <% card_class = kanban_card.data_source_type.constantize %>
        <% object = card_class.find(kanban_card.data_source_id) %>
        <% show_path_helper = "#{kanban_card.data_source_type.underscore}_path" %>
        <% show_path = send(show_path_helper, object, turbo: true, turbo_frame: offcanvas_turbo_tag, format: :turbo_stream) %>
    <% else %>
        <% show_path_helper = "kanban_card_path" %>
        <% show_path = send(show_path_helper, kanban_card, turbo: true, turbo_frame: offcanvas_turbo_tag, format: :turbo_stream) %>
    <% end %>

    <div id="<%= dom_id kanban_card %>" draggable="true" class="card ui-sortable-handle kanban-card" data-kanban-column-id="<%= kanban_card.kanban_column_id%>" data-kanban-card-id="<%= kanban_card.id %>"  data-offcanvas-id="card_offcanvas_id" data-sequence="<%=kanban_card.sequence%>" data-offcanvas-src="<%=show_path%>" data-target-frame="<%= offcanvas_turbo_tag %>">
        <%= render "kanban_cards/kanban_card_show", kanban_card: kanban_card %>
    </div>
<% end %>
