<%= form_with(model: interest, validate: true) do |form| %>
  <% if interest.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
        <% interest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.number_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :user_id, class: "form-control", hidden: true  %>
  <%= form.text_field :secondary_sale_id, class: "form-control", hidden: true  %>


  <% if interest.short_listed %>
    
    <div class="form-group">
      <div class="form-label alert alert-info">
        Please read the SPA template to understand the terms and conditions of the sale
      </div>
      <%= render "/layouts/attachments" , attachments: [interest.secondary_sale.spa], 
          allow_delete: "No" if interest.secondary_sale.spa.present? %>
    </div>
    <div class="form-group">
      <%= form.label :buyer_entity_name %>
      <%= form.text_field :buyer_entity_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :contact_name %>
      <%= form.text_field :contact_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_area :address, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :PAN %>
      <%= form.text_field :PAN, class: "form-control"  %>
    </div>
    
    <div class="form-group">

      <%= form.label :documents, "Documents", class: "form-label" %>
      <%= render "layouts/multi_upload", form: form, title: "Interest Documents", 
                              for_model: "interest" %>
  
      <small class="text-muted"> Upload documents requested by the sellers. </small>  
    </div>  

    <div class="form-group">
      <%= form.label :final_agreement, "I agree to enter into the SPA" %>
      <%= form.check_box :final_agreement, class: "form-control form-checkbox"  %>
    </div>


  <% else %>
    <% if current_user.entity_id == interest.entity_id %>
      <div class="form-group">
        <%= form.label :interest_entity_id, "Buyer" %>
        <%= form.select :interest_entity_id, interest.secondary_sale.buyer_investors.map{|i| [i.investor_name, i.investor_entity_id]}, {}, class: "form-control" %>
      </div>  

      <div class="form-group">
        <%= form.label :escrow_deposited %>
        <%= form.check_box :escrow_deposited, class: "form-control form-checkbox"  %>
      </div>

    <% else %>
      <%= form.text_field :interest_entity_id, class: "form-control", hidden: true  %>    
    <% end %>
    
    <div class="form-group">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "form-control"  %>
      <small class="text-muted">Sale quantity: <%= interest.secondary_sale.display_quantity %></small>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <%= form.number_field :price, class: "form-control"  %>
      <small class="text-muted">
            <%= interest.secondary_sale.display_price %>       
      </small>
    </div>

    <div class="form-group">
      <%= form.label :details %>
      <%= form.rich_text_area :details, class: "form-control"  %>
    </div>

    <div class="form-group">

      <%= form.label :documents, "Documents", class: "form-label" %>
      <%= render "layouts/multi_upload", form: form, title: "Interest Documents", 
                              for_model: "interest" %>
  
      <small class="text-muted"> Upload documents. </small>  
    </div>  

  <% end %>

  <%= custom_form_fields(interest, form) %>
  
  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
