<tr id="<%= dom_id interest %>">
  <% if secondary_sale && secondary_sale.entity_id != current_user.entity_id %>
    <td>
      <%= interest.secondary_sale.name %>
    </td>
    <td>
      <%= interest.entity.name %>
    </td>
  <% else %>
    <td>
      <%= Pundit.policy(current_user, interest).unscramble? ? interest.interest_entity.name : ENV["OBFUSCATION"] %>
    </td>
    <td>
      <%= Pundit.policy(current_user, interest).unscramble? ? interest.user.full_name : ENV["OBFUSCATION"] %>
    </td>
    <td>
      <%= interest.interest_entity.entity_type %>
    </td>    
  <% end %>
  <td>
    <%= interest.quantity %>
  </td>
  <td>
    <%= number_to_currency interest.price %>
  </td>
  <td>
    <%= custom_format_number interest.allocation_quantity, params %>
  </td>
  <td>
    <%= interest.allocation_percentage %>%
  </td>
  <td>
    <%= custom_format_number interest.final_price, params %>
  </td>
  <td>
    <%= money_to_currency interest.allocation_amount, params %>
  </td>
  

  <td id="short_listed">
    <span class="badge <%= interest.short_listed? ? 'bg-success' : 'bg-warning' %>">
      <%= interest.short_listed? ? "Yes" : "No" %>
    </span>
  </td>
  <td id="escrow_deposited">
    <span class="badge <%= interest.escrow_deposited? ? 'bg-success' : 'bg-warning' %>">
      <%= interest.escrow_deposited? ? "Yes" : "No" %>
    </span>
  </td>
  
  <td>
    <%= link_to "Show" , interest , {class: "btn btn-primary" }%>
    <% label = interest.short_listed? ? "Remove Shortlist" : "Shortlist" %>
    <%= button_to label , short_list_interest_path(interest), method: :patch, class: "btn btn-success" , 
      form_class: "deleteButton" if policy(interest).short_list? %>

  </td>
</tr>