<table class="table table-bordered dataTable">

    <tr>
      <td>
        Offer Entity
      </td>
      <td>
        <%= interest.offer_entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Secondary Sale
      </td>
      <td>
        <%= link_to interest.secondary_sale.name, interest.secondary_sale %> : 
        <%= l interest.secondary_sale.start_date %> - <%= l interest.secondary_sale.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= interest.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <%= interest.price %>
      </td>
    </tr>
    <tr id="short_listed">
      <td>
        Shortlisted
      </td>
      <td>
        <span class="badge <%= interest.short_listed? ? 'bg-success' : 'bg-warning' %>">
          <%= interest.short_listed? ? "Yes" : "No" %>
        </span>
      </td>
    </tr>
    <tr id="escrow_deposited">
      <td>
        Escrow Deposited
      </td>
      <td>
        <span class="badge <%= interest.escrow_deposited? ? 'bg-success' : 'bg-warning' %>">
          <%= interest.escrow_deposited? ? "Yes" : "No" %>
        </span>
      </td>
    </tr>

    <tr id="finalized">
      <td>
        Finalized
      </td>
      <td>
        <span class="badge <%= interest.finalized? ? 'bg-success' : 'bg-warning' %>">
          <%= interest.finalized? ? "Yes" : "No" %>
        </span>
      </td>
    </tr>

    <% if interest.final_price> 0 %>
    <tr>
      <td colspan="2" class="bg-primary"></td>
    </tr>
    <tr>
      <td>
        Allocated Quantity
      </td>
      <td>
        <%= interest.allocation_quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Final Price
      </td>
      <td>
        <%= interest.final_price %>
      </td>
    </tr>
    <tr>
      <td>
        Allocation Amount
      </td>
      <td>
        <%= money_to_currency interest.allocation_amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Allocation %
      </td>
      <td>
        <%= interest.allocation_percentage %> %
      </td>
    </tr>
  <% end %>
    
    <% if current_user %>
    
    <tr>
      <td>
        User
      </td>
      <td>
        <%= interest.user_id == current_user.id || interest.escrow_deposited? ? interest.user.full_name + " " + interest.user.email : ENV["OBFUSCATION"] %>
      </td>
    </tr>
    <tr>
      <td>
        Interest Entity
      </td>
      <td>
        <%= interest.user_id == current_user.id || interest.escrow_deposited? ? interest.interest_entity.name : ENV["OBFUSCATION"] %>
      </td>
    </tr>

    <% end %>

  </table>
