  <%= render "/layouts/alerts" %>

  <% if policy(@interest).finalize? %>
    <%= render "/layouts/steps", steps: ["Review your interest details below", 
            "Add details and documents, by clicking 'Edit' below",
            "Finalize your interest by clicking 'Finalize' below", 
            "Wait for communication from #{@interest.secondary_sale.entity.name}"].freeze %>
  <% end %>


  <%= render "/interests/show", interest: @interest %>

  <div>
    <% if policy(@interest).update? %>
      <%= link_to "Edit" , edit_interest_path(@interest), {class: "btn btn-primary" } %> 
      <%= button_to "Delete" , @interest, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>

    <% popupMsg = "This will mark your acceptance of the final price, allocated quantity and terms of the sale. No more modifications will be allowed from here on. Please ensure all documents have been uploaded before proceeding." %>

    <%= button_to "Finalize" , finalize_interest_path(@interest), method: :patch, "data-turbo": false, 
        class: "btn btn-danger", form_class: "deleteButton",
        data: {action: "click->confirm#popup", turbo:false, msg: popupMsg, method: "patch"} if policy(@interest).finalize? %>

    <%= link_to "Matched Offers", finalize_allocation_offers_path(secondary_sale_id: @interest.secondary_sale_id), 
        {class: "btn btn-primary" }  %> 
  </div>

  <%= render "interests/interest_details", interest: @interest, investor: nil %>