<tr id="document_<%= document.id %>">
  <td>
      <%= link_to document.name, document_path(document.id) %>
  </td>  
  <td>
    <%= link_to document.folder_full_path, folder_path(document.folder) if document.folder %>    
  </td>
  <td class="hideMobP">
    <%= raw document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>
  </td>  
  <td class="hideMobP">
    <%= display_boolean(document.download) %>
  </td>
  <td class="hideMobP">
    <%= display_boolean(document.printing) %>
  </td>
  <td class="hideMobP">
    <%= document.created_at.is_a?(Time) ? l(document.created_at) : l(Time.parse(document.created_at)) %>
  </td>  

</tr>
