<tr id="document_<%= document.id %>">
  <td>
      <%= link_to document.name, document_path(document.id) %>
  </td>  
  <td class="hideMobP">
    <%= raw document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>
    <%= document.owner_tag %>
  </td>  
  <td class="hideMobP">
    <%= display_boolean(document.download) %>
  </td>
  <td class="hideMobP">
    <%= display_boolean(document.printing) %>
  </td>
  <td class="hideMobP">
    <%= document.created_at.is_a?(Time) ? l(document.created_at) : l(Time.parse(document.created_at)) %>
  </td>  
  <td>
    <%= document.folder_full_path %>  
    <% if document.entity_id == current_user.entity_id %>  
      <span class="float-right">
        <%= link_to "View Files", documents_path(folder_id: document.folder_id), 
                                  class: "badge badge-primary" %>
        <%= link_to "View Folder", folder_path(id: document.folder_id),
                                class: "badge badge-success" %>  
      </span>
    <% end %>
  </td>

</tr>
