
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Document</h6>
  </div>
  <div class="card-body">

<%= form_with(model: document, validate: true) do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :folder %>
    <%= form.select :folder_id, Folder.for(current_user).map{|f| [f.full_path, f.id]} ,{}, class: "form-control select2"  %>
    <small class="text-muted"><%= link_to "Create New Folder", new_folder_path("folder[entity_id]": current_user.entity_id) %></small>
  </div>


  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="text-muted">Comma separated list of tags to classify the document</small>
  </div>

  <div class="form-group">
    <input type="radio" id="doc_type" checked="true" name="upload_type" class="upload_type">
    <label for="html">Document</label>
    <input type="radio" id="video_type" name="upload_type" class="upload_type">
    <label for="css">Video</label>
  </div>


  <div class="field" class="form-group" id="document_upload">
    <%= form.label :file, "Document" %>
    <%= form.file_field :file, class: "form-control", placeholder: "Upload document" %>
  </div>

  <div class="field" class="form-group" id="video_upload" >
    <%= form.label :video %>
    <%= form.file_field :video, class: "form-control", direct_upload: true, placeholder: "Upload video" %>
  </div>

  <div class="form-group">
    <%= form.label :download, "Allow Download" %>
    <%= form.check_box :download, class: "form-control form-checkbox" %>
    <small class="text-muted">Enable users to download this document</small>
  </div>

  <div class="form-group">
    <%= form.label :printing, "Allow Printing" %>
    <%= form.check_box :printing, class: "form-control form-checkbox" %>
    <small class="text-muted">Enable users to print this document</small>
  </div>

  <%= custom_form_fields(document, form) %>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :text, class: "form-control trix-content"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>

<div data-controller="directuploads"></div>

  </div>
  </div>