<%= render "/layouts/steps", steps: ["Create Folders", "Upload Docs", "Setup Access Rights"].freeze if show_steps %>

<div class="row">
    <!-- Show hide the folder view based on action -->
    <% doc_index_class = (params[:action] == "search") ? "col-lg-12 mb-4" : "col-lg-9 mb-4" %>

    <% if params[:action] != "search" %>
    <div class="col-lg-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Folders</span> 
                <% if current_user.entity_id == entity.id %>
                    <%= link_to "New Folder", new_folder_path("folder[entity_id]": current_user.entity_id), class: "btn btn-sm btn-primary float-right"  %>               
                    <%= link_to "Show Folders", folders_path(), class: "btn btn-sm btn-primary float-right"  %>               
                <% end %>
            </div>
            <div class="card-body">
                <div id="tree_view" class="tree_view">
                    <% entity_id = params[:entity_id].present? ? params[:entity_id] : current_user.entity_id %>
                    <%= render "folders/tree_view", folders: folders , parent: folders.values[0][:details] if folders.present? %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <div class="<%= doc_index_class %>">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Documents</span>
                <%= link_to "All Documents", documents_path(entity_id:params[:entity_id]), class: "btn btn-sm btn-primary float-right"  %>               
            </div>
            <div class="card-body">
                <%= render "documents/index", documents: documents, entity: @entity, owner: nil %>
                <%= paginate documents %>
            </div>
        </div>
    </div>
</div>
