<%= render "/layouts/alerts" %>


<div class="row">

    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                   Document
                   : <%= pluralize @document.impressions_count, "View" %>

               </h6>
            </div>
            <div class="card-body">
               <table class="table table-bordered dataTable ">
                  <tr>
                     <td>
                        Download
                     </td>
                     <td>

                        <% if @document.file.exists? %>
                           <%= link_to @document.file.expiring_url(), class: "document_download_icon" do %>
                              <i class="fas fa-download"></i>
                           <% end %>
                           <%= @document.name.capitalize %>

                        <% end %>
                        
                        <% if @document.video.present? %>
                           <%= link_to rails_blob_path(@document.video, disposition: "attachment") do %>
                              <i class="fas fa-download"></i>
                              <%= @document.name.capitalize %>
                           <% end %>
                        <% end %>
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Folder
                     </td>
                     <td>
                        <%= @document&.folder.full_path %>
                     </tr>
                  <tr>
                     <td>
                        Tags
                     </td>
                     <td>
                        <%= raw @document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>
                     </tr>
                  <tr>
                     <td>
                        Created
                     </td>
                     <td>
                        <%= l @document.created_at, format: :default %>
                  </tr>
                  <tr>
                     </td>    
                     <td>
                        Entity
                     </td>
                     <td>
                        <%= link_to @document.entity.name, @document.entity %>

                     </td>
                  </tr>
                  
                  <% if @document.text.present? %>
                  <tr>
                     <td>
                        Details
                     </td>
                     <td>
                        <%= @document.text %>
                        
                     </td>
                  </tr>
                  <% end %>

                  <%= display_custom_fields(@document) %>

               </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <% if  @document.video.present? || @document.video? %>
      <%= render "documents/video" %>
    <% elsif ENV['PDF_TRON'] == 'true' %>
       <%= render "documents/pdf" %>
    <% end %>
</div>



<% if current_user.entity_id == @document.entity_id %>
   <div style="display: inline-block;">
      <%= link_to "Edit", edit_document_path(@document), {class: "btn btn-primary"} %> |
      <%= link_to "All Documents", documents_path, {class: "btn btn-success"} %> |
      <%= button_to "Delete", @document, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %> 
   </div>

<%= render "documents/document_details", document: @document %>

<% end %>