<%= render "/layouts/alerts" %>


<div class="row">

    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                   Document
                   : <%= pluralize @document.impressions_count, "View" %>

               </h6>
            </div>
            <div class="card-body">
               <table class="table table-bordered dataTable ">
                  <tr>
                     <td>
                        Download
                     </td>
                     <td>

                        <% if @document.file %>
                           <%= link_to @document.file_url(), class: "document_download_icon" do %>
                              <i class="fas fa-download"></i>
                           <% end %>
                           <%= @document.name.capitalize.titleize %>

                        <% end %>
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Folder
                     </td>
                     <td>
                        <%= @document&.folder.full_path %>
                        <%= link_to "View Files", documents_path(folder_id: @document.folder_id), 
                              class: "badge badge-primary" %>
                        <%= link_to "View Folder", folder_path(id: @document.folder_id),
                              class: "badge badge-success" %>                    
                     </td>
                  <tr>
                     <td>
                        Tags
                     </td>
                     <td>
                        <%= raw @document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>

                        <%= @document.owner_tag %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Created
                     </td>
                     <td>
                        <%= l @document.created_at, format: :default %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Entity
                     </td>
                     <td>
                        <%= link_to @document.entity.name, @document.entity %>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        Owner
                     </td>
                     <td>
                        <%= link_to @document.owner_type, [@document.owner, tab: "docs-tab"] if @document.owner %>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        Allow Download
                     </td>
                     <td>
                        <%= display_boolean @document.download  %>                                                  
                        <input type="text" id="download_document" hidden="hidden" value="<%= @document.download%>" />
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Allow Printing
                     </td>
                     <td>
                        <%= display_boolean @document.printing  %>                                                  
                        <input type="text" id="printing_document" hidden="hidden" value="<%= @document.printing%>" />
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Allow Original Format Download
                     </td>
                     <td>
                        <%= display_boolean @document.orignal  %>                                                  

                     </td>
                  </tr>

                  <tr>
                     <td>
                        Uploaded By
                     </td>
                     <td>
                        <%= @document.user.full_name  %> | <%= @document.user.email  %>                                                  
                     </td>
                  </tr>
                  
                  <% if @document.text.present? %>
                  <tr>
                     <td>
                        Details
                     </td>
                     <td>
                        <%= @document.text %>                        
                     </td>
                  </tr>
                  <% end %>

                  <%= display_custom_fields(@document) if current_user %>

               </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <% if @document.video? %>
      <%= render "documents/video" %>
    <% elsif ENV['PDF_TRON'] == 'true' && !@document.orignal %>
       <%= render "documents/pdf" %>
    <% end %>
</div>



<% if policy(@document).update? %>
   <div style="display: inline-block;">
      <%= link_to "Edit", edit_document_path(@document), {class: "btn btn-primary"} %> |
      <%= link_to "All Documents", documents_path, {class: "btn btn-success"} %> |
      <%= button_to "Delete", @document, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %> 
   </div>
<% end %>

<%= render "documents/document_details", document: @document %>
