

<tr id="<%= dom_id aggregate_investment %>">

<% if current_user.entity_id == aggregate_investment.entity_id %>
  <td class="dt-control"  
      data-entity="<%=aggregate_investment.entity_id%>"
      data-investor="<%=aggregate_investment.investor_id%>"
      data-funding-round="<%=aggregate_investment.funding_round_id%>">
  </td>
<% end %>

<td>
    <%= aggregate_investment.investor.category %>
</td>  
<td>
    <%= current_user.entity_id == aggregate_investment.entity_id ? 
        link_to(aggregate_investment.investor_name, aggregate_investment.investor) :
        aggregate_investment.investor_name %>
</td>  

<% if aggregate_investment.entity.entity_type == "Investment Fund" %>
  <td>
    <%= aggregate_investment&.funding_round&.name %>
  </td> 
  <td class="units">
    <%= custom_format_number aggregate_investment.units, params %>
  </td> 
  <td>
    <%= aggregate_investment.percentage %> %
  </td>  
<% else %>

  <td class="equity">
      <%= custom_format_number aggregate_investment.equity, params %>
  </td>  
  <td class="preferred">
      <%= custom_format_number aggregate_investment.preferred, params %>
  </td>  
  <td class="preferred_converted">
    <%= custom_format_number aggregate_investment.preferred_converted_qty, params %>
  </td>  
  <td>
    <%= custom_format_number (aggregate_investment.total_equity) , params %>
  </td>
  <td>
    <%= aggregate_investment.percentage %> %
  </td>  

  <td class="options">
      <%= custom_format_number aggregate_investment.options, params %>
  </td>  

  <td>
    <%= custom_format_number (aggregate_investment.fully_diluted), params %>
  </td>  

  <td>
      <%= aggregate_investment.full_diluted_percentage %> %
  </td>  
<% end %>

<td>
  <%= link_to "Show", aggregate_investment , {class: "btn btn-outline-primary"}%>
</td>
</tr>
