<%= form_with(model: aggregate_investment) do |form| %>
  <% if aggregate_investment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(aggregate_investment.errors.count, "error") %> prohibited this aggregate_investment from being saved:</h2>

      <ul>
        <% aggregate_investment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :shareholder %>
    <%= form.text_field :shareholder, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investor_id %>
    <%= form.text_field :investor_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :equity %>
    <%= form.number_field :equity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :preferred %>
    <%= form.number_field :preferred, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :options %>
    <%= form.number_field :options, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :percentage %>
    <%= form.text_field :percentage, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :full_diluted_percentage %>
    <%= form.text_field :full_diluted_percentage, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
