<%= render "/layouts/alerts" %>

<%= render "/layouts/steps", steps: ["Setup Funding Rounds", "Add Investments", "View Details", 
                            "Permission Investors", "Setup Scenarios"].freeze if current_user.has_cached_role?(:employee) %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Shareholding for <%=@entity.name%> </h1>

    <span>

    <%#= render "investments/currency_form" %>

    <% if current_user.entity_id == @entity.id %>
      
      <%= link_to "Scenarios", simple_simulator_aggregate_investments_path, {class: "btn btn-outline-primary", data: {toggle: "tooltip", title: "Plan Scenarios"} } %>

      <%= link_to "Details View", investments_path, {class: "btn btn-outline-primary"} %>


      <%= link_to "New Investment", new_investment_path("investment[entity_id]": current_user.entity_id), 
        {class: "btn btn-outline-primary"} %>

      
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" 
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= button_to recompute_percentage_investments_path, {class: "dropdown-item"} do %>
            <i class="fa-lg fas fa-cogs"></i> Recompute Percentage
            <% end %>
            <%= link_to funding_rounds_path, {class: "dropdown-item"} do %>
              <i class="fa-lg fa-regular fa-dollar"></i> View Funding Rounds
            <% end %>

            <%= link_to aggregate_investments_path(format: :xlsx), {class: "dropdown-item"} do %>
              <i class="fa-lg fa-regular fa-file-excel"></i> Download Data
            <% end %>

            <%= link_to investments_path(charts: true), {class: "dropdown-item"} do %>
              <i class="fas fa-chart-line"></i> View Graphs
            <% end %>

            <a class="dropdown-item" data-bs-toggle="collapse" href="#aiFilterForm"   
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-filter"></i> Show Filter
            </a>
          
          </div>
        </div>
      </div>

    <% else %>
      <%= link_to "Details View", investor_investments_investments_path(entity_id: @entity.id), {class: "btn btn-outline-primary"} %>
    <% end %>

    
   

    </span>

  </div>

  <% cache_if((params[:q].blank? && current_user.entity_id == @entity.id), @entity) do %>

    <%= render "/aggregate_investments/filter" %>

    <div class="table-responsive" data-controller="agginvestments">

      <table id="aggregate_investments" class="table table-bordered dataTable jqDataTable no_hover_table">

        <thead>
          <tr>

            <% if current_user.entity_id == @entity.id %>
              <th></th>
            <% end %>
            <th>
              Category
            </th>
            <th>
              Investor
            </th>
            <% if @entity.entity_type == "Investment Fund" %>
              <th>
                Funding Round
              </th>
              <th>
                Units
              </th>
              <th>
                Percentage
              </th>

            <% else %>
              <th>
                Equity
              </th>
              <th>
                Preferred
              </th>
              <th>
                Preferred Converted
              </th>
              <th>
                Total
              </th>

              <th>
                Percentage
              </th>

              <th>
                Options
              </th>
              <th>
                Full Diluted
              </th>
              <th>
                Full Diluted Percentage
              </th>
            <% end %>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @aggregate_investments.each do |aggregate_investment| %>
            <%= render aggregate_investment %>
          <% end %>
        </tbody>
      </table>

    </div>
  <% end %>

<div class="text-center">
  <small class="text-muted">
    This is where you see your aggregated investments, i.e investments per investor. 
    To see individual investments click on the drill down or click on the 'Details View' button
  </small>
</div>

<% if false && policy(@entity).update? %>
<div class="associated_entity">
  <% 
    access_right = AccessRight.new(entity: @entity, access_type: "Investment", owner: current_user.entity) 
  %>
  <%= render "/access_rights/index", access_rights: @entity.access_rights.investments, access_right: %>
</div>
<% end %>