<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scenarios</h1>
    
    <span data-controller="sim">
        <%= link_to "Add", new_simulator_aggregate_investments_path(count:1), id: "add_sim",
            data: {action: "click->sim#updateSim", turbo_frame: 'new_simulator_1'}, 
            method: :get, class: "btn btn-primary"  %>
    </span>
</div>

<div id="row" class="row" data-controller="datatable">        
    <%= turbo_frame_tag "new_simulator_1", class:"col-lg-6 mb-4" do %>
    <% end %>
    <%= turbo_frame_tag "new_simulator_2", class:"col-lg-6 mb-4" do %>
    <% end %>
    <%= turbo_frame_tag "new_simulator_3", class:"col-lg-6 mb-4" do %>
    <% end %>
    <%= turbo_frame_tag "new_simulator_4", class:"col-lg-6 mb-4" do %>
    <% end %>
    <%= turbo_frame_tag "new_simulator_5", class:"col-lg-6 mb-4" do %>
    <% end %>
    <%= turbo_frame_tag "new_simulator_6", class:"col-lg-6 mb-4" do %>
    <% end %>
</div>