<tr id="<%= dom_id portfolio_cashflow %>">
  <% if params["portfolio_company_id"].present? %>
    <td>
      <%= link_to portfolio_cashflow.fund.name %>
    </td>
  <% end %>
  <td>
    <%= portfolio_cashflow.aggregate_portfolio_investment.investment_instrument %>
  </td>
  <td>
    <%= l portfolio_cashflow.payment_date %>
  </td>
  <td>
    <%= money_to_currency portfolio_cashflow.amount, params %>
  </td>
  <td>
    <%= portfolio_cashflow.tag %>
  </td>
  <td>
    <%= portfolio_cashflow.notes %>
  </td>
  <td>
    <%= link_to  t_common(:show), portfolio_cashflow , {class: "btn btn-outline-primary"}%>
    <%= link_to  t_common(:edit), edit_portfolio_cashflow_path(portfolio_cashflow), {class: "btn btn-outline-success"}  if policy(portfolio_cashflow).update? %>
  </td>
</tr>
