<%= render FormCard.new(title: "#{@support_client_mapping}") do %>
  <table class="table table-bordered dataTable">
    <tr>
      <td>
        User
      </td>
      <td>
        <%= link_to @support_client_mapping.user %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= link_to @support_client_mapping.entity.name, 
            "/admin/entities/#{@support_client_mapping.entity.id}" %>
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= @support_client_mapping.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Enabled
      </td>
      <td>
        <%= display_boolean @support_client_mapping.enabled %>
      </td>
    </tr>
  </table>
  <div class="associated_entity">
    <%= link_to  t_common(:edit), edit_support_client_mapping_path(@support_client_mapping), {class: "btn btn-outline-primary"} %> 
    <%= button_to t_common(:delete), @support_client_mapping, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  </div>
<% end %>
