<%
    fund ||= @fund
    params[:force_units] = fund.default_currency_units
%>

<div class="col-lg-12 mb-4">
    <div class="fund-card">
        <!-- Header -->
        <div class="card-header-custom">
            <h3 class="fund-title">
                <%= link_to fund.name, fund %>
            </h3>

            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-actions dropdown-toggle d-flex align-items-center gap-2" type="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-settings fs-5"></i> Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">

                        <%= link_to dashboard_fund_path(fund), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-layout-dashboard"></i> Dashboard
                        <% end %>

                        <%= link_to edit_fund_path(fund), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-edit"></i> <%= t_common(:edit) %> Fund
                        <% end %>

                        <div class="dropdown-divider"></div>

                        <%= link_to fund_path(fund, tab: "docs-tab"), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-file-text"></i> Documents
                        <% end %>

                        <%= link_to fund_path(fund, tab: "portfolio-investments-tab"), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-briefcase"></i> Portfolio
                        <% end %>

                        <%= link_to fund_unit_settings_path(fund_id: fund.id), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-settings"></i> Fund Unit Settings
                        <% end %>

                        <%= link_to account_entries_path(fund_id: fund.id, fund_accounts_only: true), class: "dropdown-item d-flex align-items-center gap-2" do %>
                            <i class="ti ti-book"></i> Fund Account Entries
                        <% end %>

                    </div>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="card-body-custom">
            <div class="row">
                <!-- Chart Section -->
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="chart-container">
                        <%= column_chart [
                            ["Committed", fund.committed_amount.to_f],
                            ["Called", fund.call_amount.to_f],
                            ["Collected", fund.collected_amount.to_f],
                            ["Distributed", fund.distribution_amount.abs.to_f]
                        ],
                         colors: ["#73A0FA", "#73A0FA", "#73A0FA", "#78D3AC"],
                         library: {
                           plotOptions: {
                                column: {
                                    colorByPoint: true,
                                    pointWidth: 40,
                                    dataLabels: {
                                        enabled: false,
                                        format: "{point.y:,.2f}"
                                    }
                                }
                            },
                            **chart_theme_color
                        } %>
                    </div>
                </div>

                <!-- Metrics Section -->
                <div class="col-lg-5">
                    <div class="metrics-container">
                        <div class="row">
                            <!-- Core Metrics -->
                            <div class="col-sm-6">
                                <div class="metric-item">
                                    <div class="icon-box">
                                        <i class="ti ti-currency-dollar"></i>
                                    </div>
                                    <div class="content">
                                        <span class="value"><%= money_to_currency(fund.committed_amount, params) %></span>
                                        <span class="label">Committed</span>
                                    </div>
                                </div>

                                <div class="metric-item">
                                    <div class="icon-box">
                                        <i class="ti ti-arrow-down-right"></i>
                                    </div>
                                    <div class="content">
                                        <span class="value"><%= money_to_currency(fund.call_amount, params) %></span>
                                        <span class="label">Called</span>
                                    </div>
                                </div>

                                <div class="metric-item">
                                    <div class="icon-box">
                                        <i class="ti ti-arrow-up-right"></i>
                                    </div>
                                    <div class="content">
                                        <span class="value"><%= money_to_currency(fund.distribution_amount.abs, params) %></span>
                                        <span class="label">Distributed</span>
                                    </div>
                                </div>

                                <div class="metric-item">
                                    <div class="icon-box">
                                        <i class="ti ti-users"></i>
                                    </div>
                                    <div class="content">
                                        <span class="value"><%= fund.capital_commitments_count %></span>
                                        <span class="label">Folios</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Ratios -->
                            <div class="col-sm-6">
                                <%
                                    fund_ratios = fund.fund_ratios
                                      .select { |r| r.owner_type == "Fund" && r.owner_id == fund.id && ["XIRR", "TVPI", "Portfolio Value to Cost", "Gross Portfolio IRR"].include?(r.name) }
                                      .sort_by(&:id)
                                      .reverse
                                      .take(4)
                                %>
                                <% if fund_ratios.present? %>
                                    <% fund_ratios.each do |fund_ratio| %>
                                        <div class="metric-item">
                                            <div class="icon-box">
                                                <i class="ti ti-chart-pie"></i>
                                            </div>
                                            <div class="content">
                                                <span class="value"><%= fund_ratio.display_value %></span>
                                                <span class="sub-link"><%= link_to fund_ratio.name, fund_ratio %></span>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% params[:force_units] = nil %>