<%= form_with(model: fund, validate: true) do |form| %>
  <% if fund.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
        <% fund.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :fund_signatory_id %>
    <%= form.select :fund_signatory_id, fund.entity.employees.map{|e| [e.full_name, e.id]}, {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :fund_signature_types %>
    <%= form.select :fund_signature_types, ["adhaar"], {include_blank: true}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investor_signature_types %>
    <%= form.select :investor_signature_types, ["adhaar"], {include_blank: true}, class: "form-control"  %>
  </div>
  

  <div class="form-group">
    <%= form.label :trustee_signatory_id %>
    <%= form.select :trustee_signatory_id, fund.advisor_users.map{|e| [e.full_name, e.id]}, {include_blank: true}, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= form.label :details %>
    <%= form.rich_text_area :details, class: "form-control"  %>
  </div>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>

  <div class="form-group">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :show_valuations, "Show fund valuations to LPs" %>
    <%= form.check_box :show_valuations, class: "form-control form-checkbox"  %>
  </div>

  <div class="form-group">
    <%= form.label :show_fund_ratios, "Show fund ratios to LPs" %>
    <%= form.check_box :show_fund_ratios, class: "form-control form-checkbox"  %>
  </div>

  <%= custom_form_fields(fund, form) %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
