<tr id="<%= dom_id fund %>">
  <% if current_user.curr_role_investor? %>
    <td>
      <%= fund.entity.name %>
    </td>
  <% end %>
  <td>
    <%= link_to fund.name, fund %>
  </td>
  <td>
    <%= fund.category %>
  </td>
  <td>
    <% if fund.tag_list.present? %>      
      <% fund.tag_list.split(",").each do |tag| %>
        <span class="mb-1 badge rounded-pill font-medium bg-primary text-primary"><%= link_to tag, funds_path(tag:) %></span>
      <% end %>
    <% end %>
  </td>
  <% if params[:snapshot].present? %>
    <td>
      <%= l fund.snapshot_date if fund.snapshot_date %>
    </td>
  <% end %>
  <td>
    <%= link_to  t_common(:show) , fund , {class: "btn btn-outline-primary" }%>
    <% if params[:debug].present? %>
      <%= link_to "Analytics" , fund_path(id: fund.id, charts: true) , {class: "btn btn-outline-success" }%>
      <%= link_to "Remittances" , last_fund_path(id: fund.id, entry: "CapitalCall") , {class: "btn btn-outline-primary" }%>    
    <% end %>
  </td>
</tr>