<% 
    capital_commitments = fund.capital_commitments.joins(:investor).where("investors.investor_entity_id=?", current_user.entity_id).to_a 
    
    committed_amount =  capital_commitments.inject(0){|sum, cc| sum + cc.committed_amount }
    committed_amount = Money.new(committed_amount, fund.currency) if committed_amount == 0
    
    call_amount =  capital_commitments.inject(0){|sum, cc| sum + cc.call_amount }
    call_amount = Money.new(call_amount, fund.currency) if call_amount == 0
    
    collected_amount =  capital_commitments.inject(0){|sum, cc| sum + cc.collected_amount }
    collected_amount = Money.new(collected_amount, fund.currency) if collected_amount == 0
    
    distribution_amount =  capital_commitments.inject(0){|sum, cc| sum + cc.distribution_amount }
    distribution_amount = Money.new(distribution_amount, fund.currency) if distribution_amount == 0

%>
<div class="col-lg-12 mb-4 stats">

    <div class="row center">

        <div class="col mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Name
                            </div>
                            <div class=" h5 mb-0 font-weight-bold text-gray-800"><%= fund.name %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Committed Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(committed_amount, params) %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Called Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(call_amount, params) %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Collected Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(collected_amount, params) %></div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Distributed Amount
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= money_to_currency(distribution_amount, params) %></div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>