<tr id="<%= dom_id fund %>">
  <td>
    <%= fund.entity.name %>
  </td>
  <td>
    <%= link_to fund.name, fund %>
  </td>
  <td class="hideMobP">
    <%= fund.tag_list %>
  </td>
  <td class="hideMobP">
    <%= link_to "Show" , fund , {class: "btn btn-outline-primary" }%>
    <% if params[:debug].present? %>
      <%= link_to "Analytics" , fund_path(id: fund.id, charts: true) , {class: "btn btn-outline-success" }%>
      <%= link_to "Remittances" , last_fund_path(id: fund.id, entry: "CapitalCall") , {class: "btn btn-outline-primary" }%>    
    <% end %>
  </td>
</tr>