<tr id="<%= dom_id fund %>">
  <td>
    <%= fund.entity.name %>
  </td>
  <td>
    <%= fund.name %>
  </td>
  <td>
    <%= fund.tag_list %>
  </td>
  <td>
    <%= link_to "Show" , fund , {class: "btn btn-primary" }%>
    <%= link_to "Remittances" , last_fund_path(id: fund.id, entry: "CapitalCall") , {class: "btn btn-primary" }%>    
  </td>
</tr>