<div class="associated_entity" data-controller="tabs tabdetails">

  
    <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
      <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

      <% if policy(fund).update? %>
          <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab"
            data-action="click->tabdetails#loadData">Access Rights</a>
          <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#reminders-tab" 
            data-action="click->tabdetails#loadData">
            Reminders
          </a>
      <% end %>
      
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#commitments-tab"
          data-action="click->tabdetails#loadData">Commitments</a>

      <% if policy(fund).update? %>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#capital-calls-tab"
            data-action="click->tabdetails#loadData">Capital Calls</a>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#capital-distributions-tab"
            data-action="click->tabdetails#loadData">Capital Distributions</a>

        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#valuations-tab"
            data-action="click->tabdetails#loadData">Valuations</a>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#fund-ratios-tab"
            data-action="click->tabdetails#loadData">Fund Ratios</a>
      <% else %>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#capital-remittances-tab"
            data-action="click->tabdetails#loadData">Capital Calls</a>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#capital-distribution-payments-tab"
            data-action="click->tabdetails#loadData">Capital Distributions</a>
        <% if fund.show_valuations %>
          <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#valuations-tab"
              data-action="click->tabdetails#loadData">Valuations</a>
        <% end %>
        <% if fund.show_fund_ratios %>
          <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#fund-ratios-tab"
              data-action="click->tabdetails#loadData">Fund Ratios</a>
        <% end %>
      <% end %>


    </nav>
  
    <div class="tab-content" data-controller="datatable">
  
        <div id="docs-tab" class="tab-pane fade in show active">
          <div id="docs" class="associated_entity">
            <%= render "/documents/index", documents: fund.documents, owner: fund, 
                entity: fund.entity %>
          </div>     
        </div>

        <div id="access-rights-tab" class="tab-pane fade in">

          <% cache([fund, "AccessRights"]) do %>
            <div id="access_rights" class="associated_entity" data-controller="datatable">
              <% access_right = AccessRight.new(
                  owner_id: fund.id, 
                  access_type: "Fund", 
                  owner_type: "Fund", 
                  entity_id: fund.entity_id) %>
                  
              <%= render "/access_rights/index", access_rights: fund.access_rights.includes(:investor, :owner), access_right: access_right %>
            </div>
          <% end %>
        </div>

        <div id="commitments-tab" class="tab-pane fade in">
          <div id="commitments" class="associated_entity">
            <%= link_to capital_commitments_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_commitments_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_commitments_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="capital-calls-tab" class="tab-pane fade in">
          <div id="capital-calls" class="associated_entity">
            <%= link_to capital_calls_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_calls_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_calls_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="capital-remittances-tab" class="tab-pane fade in">
          <div id="capital-remittances" class="associated_entity">
            <%= link_to capital_remittances_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_remittances_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_remittances_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>


        <div id="capital-distributions-tab" class="tab-pane fade in">
          <div id="capital-distributions" class="associated_entity">
            <%= link_to capital_distributions_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_distributions_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_distributions_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>


        <div id="capital-distribution-payments-tab" class="tab-pane fade in">
          <div id="capital-distribution-payments" class="associated_entity">
            <%= link_to capital_distribution_payments_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_distribution_payments_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "capital_distribution_payments_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="fund-ratios-tab" class="tab-pane fade in">
          <div id="fund-ratios" class="associated_entity">
            <%= render "/funds/fund_ratios", fund: fund %>
          </div>     
        </div>

        <div id="valuations-tab" class="tab-pane fade in">
          <div id="valuations" class="associated_entity">
            <%= link_to valuations_path(owner_id: fund.id, owner_type: "Fund"), class: "load_data_link", data: { turbo_frame: 'valuations_frame' } do %>
              <span>Loading...</span>
            <% end %>
        
            <%= turbo_frame_tag "valuations_frame", target: "_top" do %>
            <% end %>
          </div>     
        </div>

        <div id="reminders-tab" class="tab-pane fade">
          <div id="reminders" class="associated_entity">
            <%= link_to reminders_path( owner_id: fund.id, owner_type: "Fund", sent: false), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'reminders_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "reminders_list", target: "_top" do %>
            <% end %>
          </div>     
        </div>
  
    </div>
  
  </div>
  