<div class="associated_entity" data-controller="tabs tabdetails">

    <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">

      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#commitments-tab"
          data-action="click->tabdetails#loadData">Commitments</a>

      <% if fund.entity_id == current_user.entity_id %>

        <% unless false && fund.cat3? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#capital-calls-tab"
            data-action="click->tabdetails#loadData">Calls</a>
        <% end %>

        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#capital-distributions-tab"
            data-action="click->tabdetails#loadData">Distributions</a>

        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-ratios-tab"
              data-action="click->tabdetails#loadData">Ratios</a>

        <% if fund.entity.permissions.enable_fund_portfolios? %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#portfolio-investments-tab"
              data-action="click->tabdetails#loadData">Portfolio</a>
        <% end %>
      <% else %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#capital-remittances-tab"
            data-action="click->tabdetails#loadData">Calls</a>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#capital-distribution-payments-tab"
            data-action="click->tabdetails#loadData">Distributions</a>

        <% if fund.entity.permissions.enable_units? %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-units-tab"
                data-action="click->tabdetails#loadData">Units</a>
        <% end %>

        <% if fund.show_fund_ratios %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-ratios-tab"
              data-action="click->tabdetails#loadData">Ratios</a>
        <% end %>

        <% if fund.show_portfolios %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#portfolio-investments-tab"
              data-action="click->tabdetails#loadData">Portfolio</a>
        <% end %>


      <% end %>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab"
          id="documents_tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

      <% if fund.entity_id == current_user.entity_id %>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tasks-tab"
              data-action="click->tabdetails#loadData">
            Tasks
          </a>
          <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-rights-tab"
              data-action="click->tabdetails#loadData">Access</a>
      <% end %>

    </nav>

    <div class="tab-content">

        <div id="docs-tab" class="tab-pane fade in">
          <div id="docs" class="associated_entity">

              <%= link_to folder_documents_path(entity_id: fund.entity_id,
                                        folder_id: fund.document_folder.id, show_root_docs: true),
                                        class: "load_data_link",
                                        data: { turbo_frame: 'documents_tree_frame' } do %>
                  <%= render "/layouts/loading" %>
              <% end %>

              <%= turbo_frame_tag "documents_tree_frame", target: "_top" do %>
                <div class="text-center">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
              <% end %>

          </div>
        </div>

        <div id="commitments-tab" class="tab-pane fade in show active">
          <div id="commitments" class="associated_entity">
              <%= turbo_frame_tag "capital_commitments_frame", target: "_top", loading: :lazy, src: capital_commitments_path(fund_id: fund.id) do %>
              <% end %>
          </div>
        </div>


        <% if fund.entity_id == current_user.entity_id %>

        <% unless false && fund.cat3? %>
        <div id="capital-calls-tab" class="tab-pane fade in">
          <div id="capital-calls" class="associated_entity">
            <%= render "/capital_calls/index", fund: fund,
                lazy_load_data: true, data_source: capital_calls_path(fund_id: fund.id, all: true) %>
          </div>
        </div>
        <% end %>

        <div id="capital-distributions-tab" class="tab-pane fade in">
          <div id="capital-distributions" class="associated_entity">
            <%= link_to capital_distributions_path(fund_id: fund.id), class: "load_data_link", data: { turbo_frame: 'capital_distributions_frame' } do %>
                <%= render "/layouts/loading" %>
            <% end %>
            <%= turbo_frame_tag "capital_distributions_frame", target: "_top" do %>
            <% end %>
          </div>
        </div>

        <div id="tasks-tab" class="tab-pane fade">
          <div id="tasks" class="associated_entity">
            <% investor = Investor.for(current_user, fund.entity).first %>
            <%= link_to tasks_path( for_entity_id: nil,
                                    entity_id: fund.entity_id,
                                    owner_id: fund.id, owner_type: "Fund"),
                                    class: "load_data_link",
                                    data: { turbo_frame: 'task_list' } do %>
              <%= render "/layouts/loading" %>
            <% end %>
            <%= turbo_frame_tag "task_list", target: "_top" do %>
            <% end %>
          </div>
        </div>

        <% else %>

        <div id="capital-remittances-tab" class="tab-pane fade in">
          <div id="capital-remittances" class="associated_entity">
            <%= render "/capital_remittances/index", fund: fund,
                lazy_load_data: true, data_source: capital_remittances_path(fund_id: fund.id, all: true, status: "", verified: "") %>
          </div>
        </div>


        <div id="capital-distribution-payments-tab" class="tab-pane fade in">
          <div id="capital-distribution-payments" class="associated_entity">
            <%= turbo_frame_tag "capital_distribution_payments_frame", target: "_top", loading: :lazy, src: capital_distribution_payments_path(fund_id: fund.id) do %>
            <% end %>
          </div>
        </div>

        <% end %>

        <!-- For the portfolio and fund ratios, use the master_fund if its present as in the feeder fund we want to see the master_fund portfolio and ratios p-->
        <%
          fund_id = fund.master_fund.present? ?  fund.master_fund_id : fund.id
          fund_or_master = fund.master_fund.present? ? fund.master_fund : fund
        %>

        <% if fund.entity.permissions.enable_fund_portfolios? %>
          <div id="portfolio-investments-tab" class="tab-pane fade">
            <div id="portfolio_investments" class="associated_entity">
              <%= turbo_frame_tag "default_portfolio dashboard_frame", target: "_top", loading: :lazy, src: dashboard_fund_path(fund_or_master, dashboard_name: "Portfolio Dashboard") do %>

                <%= render "/layouts/loading" %>

              <% end %>
            </div>
          </div>
        <% end %>


        <div id="fund-ratios-tab" class="tab-pane fade in">
          <div id="fund-ratios" class="associated_entity">
            <%= render "/fund_ratios/index", fund: fund,
                lazy_load_data: true, data_source: fund_ratios_path(fund_id:, all: true, fund_ratios_only: true, owner_type: "Fund", format: :json) %>
          </div>
        </div>

        <% if fund.entity.permissions.enable_units? %>
        <div id="fund-units-tab" class="tab-pane fade">
          <div id="fund_units" class="associated_entity">
            <%= link_to fund_units_path(fund_id: fund.id),
                                    class: "load_data_link",
                                    data: { turbo_frame: 'fund_units_list' } do %>
              <%= render "/layouts/loading" %>
            <% end %>
            <%= turbo_frame_tag "fund_units_list", target: "_top" do %>
            <% end %>
          </div>
        </div>
        <% end %>

        <div id="access-rights-tab" class="tab-pane fade in">

            <div id="access_rights" class="associated_entity" data-controller="datatable">
              <% form_type = !belongs_to_entity_id?(current_user, fund.entity_id) ? "investor_form" : nil %>
              <%= link_to access_rights_path(owner_id: fund.id, owner_type: "Fund",
                                             entity_id: current_user.entity_id, form_type:),
                          class: "load_data_link", data: { turbo_frame: 'access_rights_frame' } do %>
                <%= render "/layouts/loading" %>
              <% end %>

              <%= turbo_frame_tag "access_rights_frame", target: "_top" do %>
              <% end %>
            </div>

        </div>



    </div>

  </div>
