<%= render "/funds/stats" if current_user.curr_role_employee? %>

<% if params[:card].present? %>
  <% title = link_to("Funds", funds_path) %>
  <%= render ToggleCard.new(title:, css_class: "show_funds") do %>
    <%= render "entities/vc_dashboard_menus" %>

    <% funds.includes([:capital_commitments]).each do |fund| %>
        <%= render "/funds/card", fund: fund %>
    <% end %>

    <%= paginate funds %>
  <% end %>
<% else %>  
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Funds</h1>
      <span>
        <%= link_to "New Fund" , new_fund_path, {class: "btn btn-outline-primary" } if policy(Fund.new(entity_id: current_user.entity_id)).new? %>
        
        <% if current_user.curr_role == "employee" %>
          <a  class="p-8 bg-primary-subtle rounded-1 me-3 d-inline-flex align-middle align-items-center justify-content-center"  
              href="<%=funds_path(card: true)%>" >
            <i class="ti ti-grid-dots text-primary fs-6"></i>
          </a>
        <% end %>

      </span>
  </div>
  <div class="table-responsive" data-controller="datatable" data-datatable-responsive-details-value=false>

    <table id="funds" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <% if current_user.curr_role_investor? %>
            <th>
              Entity
            </th>
          <% end %>
          <th>
            Name
          </th>
          <th>
            Category
          </th>
          <th>
            Tag List
          </th>
          <% if params[:snapshot].present? %>
            <th>
              Snapshot Date
            </th>
          <% end %>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% funds.each do |fund| %>
          <%= render "/funds/fund", fund: fund %>
        <% end %>        
      </tbody>
    </table>
    
  </div>
<% end %>