<%= render ToggleCard.new(title: "Fund: #{fund.name}", css_class: "show_funds", state: "closed") do %>

  <table class="table table-bordered dataTable">

      <tr>
        <td class="show_page_label">
          Name
        </td>
        <td>
          <%= fund.name %>
        </td>
      </tr>

      <% if fund.master_fund_id.present? %>
      <tr>
        <td class="show_page_label">
          Master Fund
        </td>
        <td>
          <%= link_to fund.master_fund %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          Category
        </td>
        <td>
          <%= fund.category %>
        </td>
      </tr>

      <tr>
        <td>
          Currency
        </td>
        <td>
          <%= fund.currency %>
        </td>
      </tr>


      <% if fund.tracking_currency.present? %>
      <tr>
        <td>
          Tracking Currency
        </td>
        <td>
          <%= fund.tracking_currency %>
        </td>
      </tr>
      <% end %>
      
      <tr>
        <td>
          Tag List
        </td>
        <td>
          <%= fund.tag_list %>
        </td>
      </tr>

      <tr>
        <td>
          Details
        </td>
        <td>
          <%= fund.details&.html_safe %>
        </td>
      </tr>

      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= fund.entity.name %>
        </td>
      </tr>

      <% if fund.first_close_date.present? %>

          <tr>
            <td>
              First Close
            </td>
            <td>
              <%= l fund.first_close_date %>
            </td>
          </tr>

      <% end %>

      <% if fund.last_close_date.present? %>

          <tr>
            <td>
              Last Close
            </td>
            <td>
              <%= l fund.last_close_date %>
            </td>
          </tr>

      <% end %>

      <% if fund.unit_types.present? %>

          <tr>
            <td>
              Unit Types
            </td>
            <td>
              <%= fund.unit_types %>
            </td>
          </tr>

      <% end %>
      

      <% if policy(fund).update? %>
        <tr>
          <td>
            Committed Amount
          </td>
          <td>
            <%= money_to_currency fund.committed_amount, params %>
          </td>
        </tr>
        
        <tr>
          <td>
            Capital Call Amount
          </td>
          <td>
            <%= money_to_currency fund.call_amount, params %>
          </td>
        </tr>

        <tr>
          <td>
            Collected Amount
          </td>
          <td>
            <%= money_to_currency fund.collected_amount, params %>
          </td>
        </tr>

        <tr>
          <td>
            Pending Call Amount
          </td>
          <td>
            <%= money_to_currency fund.pending_call_amount , params %>
          </td>
        </tr>

        <tr>
          <td>
            Payments Distributed
          </td>
          <td>
            <%= money_to_currency fund.distribution_amount, params %>
          </td>
        </tr>
        

        <% if fund.co_invest_committed_amount_cents > 0 %>

          <tr>
            <td>
              Co Invest Committed Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_committed_amount, params %>
            </td>
          </tr>
          
          <tr>
            <td>
              Co Invest Call Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_call_amount, params %>
            </td>
          </tr>

          <tr>
            <td>
              Co Invest Collected Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_collected_amount, params %>
            </td>
          </tr>

          <tr>
            <td>
              Co Invest Payments Distributed
            </td>
            <td>
              <%= money_to_currency fund.co_invest_distribution_amount, params %>
            </td>
          </tr>
          
          
        <% end %>


        <% if fund.unit_types.present? %>

          <tr>
            <td>
              Unit Premiums
            </td>
            <td>
              <%= money_to_currency fund.total_units_premium, params %>
            </td>
          </tr>

        <% end %>

        <%= display_custom_fields(fund,collapsed: false) if current_user %>
        
        <tr>
          <td>
            Commitment Document List
          </td>
          <td>
            <%= fund.commitment_doc_list %>
          </td>
        </tr>

        <tr>
          <td>
            Fund Signatory Emails
          </td>
          <td>
            <%= fund.esign_emails %>
          </td>
        </tr>

        <tr>
          <td>
            Show Valuations to LPs 
          </td>
          <td>
            <%= display_boolean fund.show_valuations %>
          </td>
        </tr>
        <tr>
          <td>
            Show Fund Ratios to LPs
          </td>
          <td>
            <%= display_boolean fund.show_fund_ratios %>
          </td>
        </tr>
        <tr>
          <td>
            Show Fund Portfolios to LPs
          </td>
          <td>
            <%= display_boolean fund.show_portfolios %>
          </td>
        </tr>
      <% end %>      

  </table>

<% end %>