  <table class="table table-bordered dataTable">

      <tr>
        <td class="show_page_label">
          Name
        </td>
        <td>
          <%= fund.name %>
        </td>
      </tr>

      <tr class="collapse multi-collapse">
        <td>
          Currency
        </td>
        <td>
          <%= fund.currency %>
        </td>
      </tr>

      

      <tr class="collapse multi-collapse">
        <td>
          Tag List
        </td>
        <td>
          <%= fund.tag_list %>
        </td>
      </tr>

      <tr class="collapse multi-collapse">
        <td>
          Details
        </td>
        <td>
          <%= fund.details&.html_safe %>
        </td>
      </tr>

      <tr class="collapse multi-collapse">
        <td>
          Entity
        </td>
        <td>
          <%= fund.entity.name %>
        </td>
      </tr>

      <% if fund.unit_types.present? %>

          <tr class="collapse multi-collapse">
            <td>
              Unit Types
            </td>
            <td>
              <%= fund.unit_types %>
            </td>
          </tr>

      <% end %>
      

      <% if policy(fund).update? %>
        <tr>
          <td>
            Committed Amount
          </td>
          <td>
            <%= money_to_currency fund.committed_amount, params %>
          </td>
        </tr>
        
        <tr>
          <td>
            Capital Call Amount
          </td>
          <td>
            <%= money_to_currency fund.call_amount, params %>
          </td>
        </tr>

        <tr>
          <td>
            Collected Amount
          </td>
          <td>
            <%= money_to_currency fund.collected_amount, params %>
          </td>
        </tr>

        <tr>
          <td>
            Pending Call Amount
          </td>
          <td>
            <%= money_to_currency fund.to_be_called_amount , params %>
          </td>
        </tr>

        <tr>
          <td>
            Payments Distributed
          </td>
          <td>
            <%= money_to_currency fund.distribution_amount, params %>
          </td>
        </tr>
        

        <% if fund.co_invest_committed_amount_cents > 0 %>

          <tr>
            <td>
              Co Invest Committed Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_committed_amount, params %>
            </td>
          </tr>
          
          <tr>
            <td>
              Co Invest Call Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_call_amount, params %>
            </td>
          </tr>

          <tr>
            <td>
              Co Invest Collected Amount
            </td>
            <td>
              <%= money_to_currency fund.co_invest_collected_amount, params %>
            </td>
          </tr>

          <tr>
            <td>
              Co Invest Payments Distributed
            </td>
            <td>
              <%= money_to_currency fund.co_invest_distribution_amount, params %>
            </td>
          </tr>
          
          
        <% end %>


        <% if fund.unit_types.present? %>

          <tr class="collapse multi-collapse">
            <td>
              Unit Premiums
            </td>
            <td>
              <%= money_to_currency fund.total_units_premium, params %>
            </td>
          </tr>

        <% end %>

        <%= display_custom_fields(fund,collapsed: true) if current_user %>
        
        <tr class="collapse multi-collapse">
          <td>
            Commitment Document List
          </td>
          <td>
            <%= fund.commitment_doc_list %>
          </td>
        </tr>

        <% if fund.fund_signatory %>
        <tr class="collapse multi-collapse">
          <td>
            Fund Signatory
          </td>
          <td>
            <%= fund.fund_signatory.full_name %>
          </td>
        </tr>
        <% end %>

        <% if fund.trustee_signatory %>
        <tr class="collapse multi-collapse">
          <td>
            Trustee Signatory
          </td>
          <td>
            <%= fund.trustee_signatory.full_name %>
          </td>
        </tr>
        <% end %>    

        <tr class="collapse multi-collapse">
          <td>
            Investor Signature Type
          </td>
          <td>
            <%= fund.investor_signature_types&.capitalize %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Fund Signature Type
          </td>
          <td>
            <%= fund.fund_signature_types&.capitalize %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Show Valuations to LPs 
          </td>
          <td>
            <%= display_boolean fund.show_valuations %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Show Fund Ratios to LPs
          </td>
          <td>
            <%= display_boolean fund.show_fund_ratios %>
          </td>
        </tr>
      <% end %>

      <% if params[:debug].present? %>
        <tr class="collapse multi-collapse btn-primary">
          <td colspan="2">
          </td>
        </tr>
        
        <% 
          end_date = params[:end_date].present? ? Date.parse(params[:end_date]) : Time.zone.today 
          fund_portfolio_calcs = FundPortfolioCalcs.new(fund, end_date)
        %>
        <tr class="collapse multi-collapse">
          <td>
            Total Investment Cost
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.total_investment_costs_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            FMV 
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.fmv_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Total Investment Sold
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.total_investment_sold_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Distribution
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.distribution_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Reinvested Capital
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.reinvested_capital_cents, fund.currency, params  %>
          </td>
        </tr>


        <tr class="collapse multi-collapse">
          <td>
            Cash In Hand
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.cash_in_hand_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Net Current Assets
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.net_current_assets_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Esitmated Carry
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.estimated_carry_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Total Value
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.total_value_cents, fund.currency, params  %>
          </td>
        </tr>

        

        <tr class="collapse multi-collapse">
          <td>
            Net Total Value
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.net_total_value_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Collected 
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.collected_cents, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            DPI
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.dpi, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            RVPI
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.rvpi, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            TVPI
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.tvpi, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            FMV
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.fmv_on_date, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse btn-primary">
          <td colspan="2">
          </td>
        </tr>
        

        <tr class="collapse multi-collapse">
          <td>
            Gross Portfolio IRR
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.gross_portfolio_irr, fund.currency, params  %>
          </td>
        </tr>

        <% fund_portfolio_calcs.portfolio_company_irr.each do |portfolio_company_id, xirr| %>
        <tr class="collapse multi-collapse">
          <td>
            portfolio_company_id
          </td>
          <td>
            <%= xirr %>
          </td>
        </tr>
        <% end %>

        <tr class="collapse multi-collapse">
          <td>
            Gross XIRR
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.xirr, fund.currency, params  %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Net XIRR
          </td>
          <td>
            <%= currency_from_cents fund_portfolio_calcs.xirr(net_irr: true), fund.currency, params  %>
          </td>
        </tr>
      
      <% end %>

      <tr class="collapse multi-collapse btn-primary">
          <td colspan="2">
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Registration Number
          </td>
          <td>
            <%= fund.registration_number  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Category
          </td>
          <td>
            <%= fund.category  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Sub Category
          </td>
          <td>
            <%= fund.sub_category  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Sponsor Name
          </td>
          <td>
            <%= fund.sponsor_name  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Manager Name
          </td>
          <td>
            <%= fund.manager_name  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Contact Name
          </td>
          <td>
            <%= fund.contact_name  %>
          </td>
      </tr>

      <tr class="collapse multi-collapse">
          <td>
            Contact Email
          </td>
          <td>
            <%= fund.contact_email  %>
          </td>
      </tr>

    </table>