<%
  start_date ||= params[:start_date] || Time.zone.today.beginning_of_quarter
  end_date ||= params[:end_date] || Time.zone.today.end_of_quarter
  run_allocations = params[:run_allocations] == "true"
  generate_soa = params[:generate_soa] == "true"
  title = run_allocations ? "Allocate Account Entries For : #{@fund.name}" : "Generate SOA For : #{@fund.name}"
%>

<%= render NewCard.new do %>

  <%= render FormCard.new(title:, header_css_class: "fs-5") do %>

  <%= form_with(model: @fund, url: allocate_fund_path(@fund), method: :patch) do |form| %>

    <%= form.text_field :sample, class: "form-control", name: "sample", value: params[:sample], hidden: true %>

    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control", name: "start_date", value: start_date  %>
    </div>

    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: "form-control", name: "end_date", value: end_date %>
    </div>

    <% if run_allocations %>
    <div class="form-group">
      <%= form.label :run_allocations, "Run Allocation Formulas" %>
      <%= form.check_box :run_allocations, class: "form-check-input", name: "run_allocations", value: true, checked: run_allocations %>
      <small class="text-muted">Check if you want to run all formulas</small>
    </div>

    <div class="form-group">
      <%= form.label :explain, "Explain Formulas" %>
      <%= form.check_box :explain, class: "form-check-input", name: "explain", value: true, checked: run_allocations %>
      <small class="text-muted">Check if you formulas to be explained</small>
    </div>

    <div class="form-group">
      <%= form.label :rule_for, "For" %>
      <% selected = params[:rule_for] || "Accounting" %>
      <%= form.select :rule_for, ["Accounting", "Reporting"],  {include_blank: "Both", selected: selected}, class: "form-control", name: "rule_for" %>
    </div>

    <% if @fund.entity.entity_setting.formula_tag_list.present? %>
      <% tag_list = @fund.entity.entity_setting.formula_tag_list.split(",").map(&:strip) %>
      <div class="form-group">
        <% selected = params[:tag_list]&.split(",") || [] %>
        <%= form.label :tag_list %>
        <%= form.select :tag_list, tag_list, {include_hidden: false, selected: selected}, class: "form-control select2", multiple: true, name: "tag_list[]" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :fund_ratios, "Generate Fund Ratios" %>
      <%= form.check_box :fund_ratios, class: "form-check-input", name: "fund_ratios", value: true %>
      <small class="text-muted">Check if the fund ratios should be generated post the allocation process</small>
    </div>
    <% end %>

    <div class="form-group">
      <%= form.label :generate_soa, "Generate SOA" %>
      <%= form.check_box :generate_soa, class: "form-check-input", name: "generate_soa", value: true, checked: generate_soa %>
      <small class="text-muted">Check if the SOA for each LP should be generated post the allocation process</small>
    </div>

    <div class="form-group">
      <%= form.label :template_name, "SOA Template" %>
      <%= form.select :template_name, @fund.capital_commitments.first.templates("SOA Template").map{|d| [d.name, d.id]}, {}, class: "form-control", name: "template_id"  %>
      <small class="text-muted">Select the SOA template to be used for SOA generation. </small>
    </div>

    <div class="form-group">
      <%= form.submit "Submit", {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

  <% end %>

<% end %>

<div class="associated_entity" data-controller="datatable">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Previous Runs</h1>
  </div>

  <table class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Run Allocations
          </th>
          <th>
            Generate Fund Ratios
          </th>
          <th>
            Generate SOA
          </th>
          <th>
            Template
          </th>
          <th>
            On
          </th>
          <th>
            By
          </th>
          <th>
            For
          </th>
          <th>
            Status
          </th>
          <th>
            Locked
          </th>
          <th>

          </th>
      </tr>
    </thead>

    <tbody>
      <% @fund.allocation_runs.includes(:user).order(created_at: :desc).each do |runs|  %>
        <tr>
          <td>
            <%= l runs.start_date %>
          </td>
          <td>
            <%= l runs.end_date %>
          </td>
          <td>
            <%= display_boolean runs.run_allocations %>
          </td>
          <td>
            <%= display_boolean runs.fund_ratios %>
          </td>
          <td>
            <%= display_boolean runs.generate_soa %>
          </td>
          <td>
            <%= runs.template_name %>
          </td>
          <td>
            <%= l runs.created_at %>
          </td>
          <td>
            <%= runs.user.full_name %>
          </td>
          <td>
            <%= runs.rule_for.presence || "Both" %> <br>
            <%= runs.tag_list %>
          </td>
          <td>
            <%= runs.status %>
          </td>
          <td>
            <%= display_boolean runs.locked %>
          </td>
          <td>
            <% if runs.locked %>
              <%= form_with model: false, url: unlock_allocation_run_path(runs), method: :patch, class: "d-inline" do %>
                <%= button_tag "Unlock", class: "btn btn-sm btn-outline-warning", data: { confirm: "Are you sure you want to unlock this AllocationRun?" } %>
              <% end %>
            <% else %>
              <%= link_to "Rerun", allocate_form_fund_path(runs.attributes), class: "btn btn-sm btn-outline-primary" %>
              <%= form_with model: false, url: lock_allocation_run_path(runs), method: :patch, class: "d-inline" do %>
                <%= button_tag "Lock", class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to lock this AllocationRun?" } %>
              <% end %>
            <% end %>
            <%= link_to "Account Entries", account_entries_path(filter: true, fund_id: @fund.id, q: ransack_query_params_multiple([["allocation_run_id", :eq, runs.id], ["reporting_date", :eq, runs.end_date]])), class: "btn btn-sm btn-outline-info" if runs.created_at > Date.parse("29/03/2025") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
