<%
commands = [
    ["New Commitment", new_capital_commitment_path("capital_commitment[fund_id]": @fund.id)],
    ["Upload Commitments", new_import_upload_path("import_upload[owner_id]": @fund.id, "import_upload[owner_type]": "Fund", "import_upload[import_type]": "CapitalCommitment")],
    ["Download Commitments", capital_commitments_path(all: true, fund_id: @fund.id, format: :xlsx)]
]

%>
<%= render "funds/hotkeys", commands:, model: @fund %>

<% if current_user.entity_id == @fund.entity_id || current_user.curr_role == "advisor" %>
  <%= render "/funds/fund_stats", fund: @fund %>
<% else %>
  <%= render "/funds/fund_investor_stats", fund: @fund %>
<% end %>

<% if current_user.entity_id == @fund.entity_id || current_user.entity.child_ids.include?(@fund.entity_id) %>
  <%= render "funds/show", fund: @fund %>
<% end %>

<!-- Snapshot cannot have details -->
<% unless @fund.snapshot %>

  <div>
    <% if policy(@fund).update? %>

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti ti-file-report"></i>Reports
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <li class="dropdown-submenu dropend">
              <a href="#" id="basic_reports" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">
                <i class="ti ti-report"></i>Basic Reports
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to report_fund_path(@fund, report: "dashboard/e_signatures"), class: "dropdown-item" do %>
                    <i class="ti ti-signature"></i>eSignatures Report
                  <% end %>
                </li>
                <li>
                  <%= link_to export_fund_path(@fund), class: "dropdown-item" do %>
                    <i class="ti ti-database-export"></i>Fund Export
                  <% end %>
                </li>
                <li>
                  <%= link_to report_fund_path(@fund, report: "dashboard/foreign_remittances"), class: "dropdown-item" do %>
                    <i class="ti ti-currency-dollar"></i>Foreign Remittances
                  <% end %>
                </li>
                <li>
                  <%= link_to report_fund_path(@fund, report: "dashboard/chart"), class: "dropdown-item" do %>
                    <i class="ti ti-chart-bar"></i>Fund Numbers
                  <% end %>
                </li>
                <li>
                  <%= link_to dashboard_fund_path(@fund), class: "dropdown-item" do %>
                    <i class="ti ti-layout-dashboard"></i>Dashboard
                  <% end %>
                </li>
                <li>
                  <%= link_to report_fund_path(@fund, report: "dashboard/calls_report"), class: "dropdown-item" do %>
                    <i class="ti ti-phone-call"></i>Pending Remittances
                  <% end %>
                </li>
                <li>
                  <%= link_to report_fund_path(@fund, report: "dashboard/advisor_payouts"), class: "dropdown-item" do %>
                    <i class="ti ti-user-dollar"></i>Advisor Payouts
                  <% end %>
                </li>
              </ul>
            </li>

            <div class="dropdown-divider"></div>

            <%= link_to dashboard_fund_path(@fund), class: "dropdown-item" do %>
              <i class="ti ti-layout-dashboard"></i>Dashboard
            <% end %>

            <%= link_to report_fund_path(@fund, report: "dashboard/sign_in_count"), class: "dropdown-item" do %>
              <i class="ti ti-login"></i>Sign In Report
            <% end %>

            <%= link_to report_fund_path(@fund, report: "dashboard/onboarding_report", show_docs: true), class: "dropdown-item" do %>
              <i class="ti ti-user-check"></i>Onboarding Report
            <% end %>

            <div class="dropdown-divider"></div>

            <%= link_to report_fund_path(@fund, report: "generate_reports"), class: "dropdown-item" do %>
              <i class="ti ti-settings-cog"></i>Generate Reports
            <% end %>

          </div>
        </div>
      </div>


      <% if @fund.entity.entity_setting.regulatory_env == "SEBI" %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-file-report"></i>Fund Reports
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <% if policy(FundReport.new(fund_id: @fund.id, entity_id: @fund.entity_id)).new? %>
                <%= link_to new_fund_report_path(fund_id: @fund.id), class: "dropdown-item" do %>
                  <i class="ti ti-settings-cog"></i>Generate Reports
                <% end %>
              <% end %>

              <%= link_to fund_reports_path(fund_id: @fund.id), class: "dropdown-item" do %>
                <i class="ti ti-folder"></i>All Reports
              <% end %>

              <div class="dropdown-divider"></div>

              <%= link_to fund_reports_path(fund_id: @fund.id, name: "CorpusDetails"), class: "dropdown-item" do %>
                <i class="ti ti-building-bank"></i>Corpus Details
              <% end %>

              <%= link_to fund_reports_path(fund_id: @fund.id, name: "InformationOnInvestments"), class: "dropdown-item" do %>
                <i class="ti ti-briefcase"></i>Information on Investments
              <% end %>

              <%= link_to fund_reports_path(fund_id: @fund.id, name: "InfoOnInvestors"), class: "dropdown-item" do %>
                <i class="ti ti-users"></i>Info on Stakeholders
              <% end %>

              <%= link_to fund_report_path(fund_id: @fund.id, report: "sebi_report"), class: "dropdown-item" do %>
                <i class="ti ti-file-download"></i> <%= t_common(:download) %> SEBI Report
              <% end %>

              <div class="dropdown-divider"></div>

              <%= link_to fund_report_path(fund_id: @fund.id, report: "crisil_report"), class: "dropdown-item" do %>
                <i class="ti ti-file-download"></i> <%= t_common(:download) %> CRISIL Report
              <% end %>

              <%= link_to portfolio_investments_report_all_investors_path(fund_id: @fund.id), class: "dropdown-item" do %>
                <i class="ti ti-chart-pie"></i>Portfolio Investment Report
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <% if policy(@fund).update? %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-upload"></i>Import
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <% if @fund.entity.permissions.enable_account_entries? %>
                <%= link_to new_import_upload_path(
                              "import_upload[owner_id]": @fund.id,
                              "import_upload[owner_type]": "Fund",
                              "import_upload[import_type]": "AccountEntry",
                              "sample_upload": "ACCOUNT_ENTRY_SAMPLE"),
                            class: "dropdown-item" do %>
                  <i class="ti ti-file-text"></i>Import Account Entries
                <% end %>
              <% end %>

              <%= link_to new_import_upload_path(
                            "import_upload[owner_id]": @fund.id,
                            "import_upload[owner_type]": "Fund",
                            "import_upload[import_type]": "FundDocs",
                            "sample_upload": "FUND_DOCS_SAMPLE"),
                          class: "dropdown-item" do %>
                <i class="ti ti-file-upload"></i>Import Documents
              <% end %>

              <%= link_to new_import_upload_path(
                            "import_upload[owner_id]": @fund.id,
                            "import_upload[owner_type]": "Fund",
                            "import_upload[import_type]": "InvestorAdvisor",
                            "sample_upload": "FUND_INVESTOR_ADVISORS_SAMPLE"),
                          class: "dropdown-item" do %>
                <i class="ti ti-user-plus"></i>Import Investor Advisors
              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti ti-settings"></i> <%= t_common(:actions) %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <% if policy(@fund).update? %>
                <%= link_to edit_fund_path(@fund), class: "dropdown-item" do %>
                  <i class="ti ti-edit"></i> <%= t_common(:edit) %> Fund
                <% end %>

                <% if policy(@fund).destroy? %>
                  <%= button_to @fund, method: :delete, class: "dropdown-item", form_class: "deleteButton",
                      data: {action: "click->confirm#popup", turbo: false} do %>
                    <i class="ti ti-trash"></i> <%= t_common(:delete) %> Fund
                  <% end %>
                <% end %>

                <%= link_to new_approval_path("approval[owner_id]": @fund.id, "approval[owner_type]": "Fund"), class: "dropdown-item" do %>
                  <i class="ti ti-checkup-list"></i>Fund Approval
                <% end %>

                <% if policy(@fund).run_checks? %>
                  <div class="dropdown-divider"></div>

                  <%= link_to run_checks_ai_checks_path(parent_id: @fund.id, parent_type: "Fund", rule_type: "compliance"), class: "dropdown-item" do %>
                    <i class="ti ti-shield-check"></i>Run Compliance Check
                  <% end %>

                  <%= link_to ai_checks_path(q: ransack_query_params_multiple([[:ai_rule_rule_type, :eq, "compliance"], [:parent_id, :eq, @fund.id], [:parent_type, :eq, "Fund"]])), class: "dropdown-item" do %>
                    <i class="ti ti-eye"></i>View Compliance Check
                  <% end %>
                <% end %>
              <% end %>

              <% if @fund.entity.permissions.enable_account_entries? %>
                <div class="dropdown-divider"></div>

                <li class="dropdown-submenu dropend">
                  <a href="#" id="basic_reports" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">
                    <i class="ti ti-report-money"></i>Account Entries
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to account_entries_path(fund_id: @fund.id, fund_accounts_only: true), class: "dropdown-item" do %>
                        <i class="ti ti-article"></i>Fund Account Entries
                      <% end %>
                    </li>
                    <li>
                      <%= link_to fund_formulas_path(fund_id: @fund.id), class: "dropdown-item" do %>
                        <i class="ti ti-function"></i>Allocation Formulas
                      <% end %>
                    </li>
                    <% if policy(@fund).allocate? %>
                      <li>
                        <%= link_to allocate_form_fund_path(@fund, run_allocations: true), class: "dropdown-item" do %>
                          <i class="ti ti-calculator"></i>Allocate Account Entries
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>

              <% if policy(@fund).update? %>
                <%
                  document = Document.new(entity_id: @fund.entity_id , owner: @fund)
                  doc_attributes = document.attributes.delete_if { |k,v| !["entity_id", "owner_id", "owner_type"].include?(k) }
                %>

                <div class="d-none d-sm-block">
                  <li class="dropdown-submenu dropend">
                    <a href="#" id="misc_action_menu" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">
                      <i class="ti ti-dots"></i>Misc
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to new_document_path(document: doc_attributes, "document[folder_id]": @fund.document_folder.id), class: "dropdown-item" do %>
                          <i class="ti ti-file-plus"></i>New Template
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_investor_notice_path("investor_notice[owner_id]": @fund.id, "investor_notice[owner_type]": "Fund"), class: "dropdown-item" do %>
                          <i class="ti ti-bell-plus"></i>Add Investor Notice
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "mailto:?bcc=#{@fund.get_lps_emails&.join(',')}&subject=#{@fund.name}:", class: "dropdown-item" do %>
                          <i class="ti ti-mail"></i>Send Email
                        <% end %>
                      </li>
                      <li>
                        <%= link_to check_access_rights_fund_path(@fund, create_missing: false), class: "dropdown-item" do %>
                          <i class="ti ti-lock-access"></i>Check Access Rights
                        <% end %>
                      </li>
                      <li>
                        <%= link_to show_email_list_fund_path(@fund), class: "dropdown-item" do %>
                          <i class="ti ti-lock-access"></i>Show Email List
                        <% end %>
                      </li>
                      <li>
                        <%= button_to generate_tracking_numbers_fund_path(@fund), method: :post, class: "dropdown-item", form_class: "deleteButton" do %>
                          <i class="ti ti-barcode"></i>Generate Tracking Numbers
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </div>
              <% end %>

              <% if @fund.entity.permissions.enable_units? %>
                <div class="dropdown-divider"></div>

                <%= link_to fund_unit_settings_path(fund_id: @fund.id), class: "dropdown-item" do %>
                  <i class="ti ti-settings"></i>Fund Unit Settings
                <% end %>

                <%= link_to fund_units_path(fund_id: @fund.id, cols: :all), class: "dropdown-item" do %>
                  <i class="ti ti-building-community"></i>Fund Units
                <% end %>

                <% if current_user.enable_investors %>
                  <%= link_to investors_path(owner_id: @fund.id, owner_type: "Fund"), class: "dropdown-item" do %>
                    <i class="ti ti-users-group"></i>View Stakeholders
                  <% end %>
                <% end %>

                <%= link_to excused_investors_path(fund_id: @fund.id), class: "dropdown-item" do %>
                  <i class="ti ti-user-off"></i>Excused Investors
                <% end %>
              <% end %>

          </div>
        </div>
      </div>


      <% if policy(@fund).delete_all? && params[:delete_all].present? %>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-danger dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete All
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%
              delete_classes = ["AccessRight", "AccountEntry", "CapitalCommitment", "CapitalCall", "CapitalRemittance", "CapitalRemittancePayment", "CapitalDistribution", "CapitalDistributionPayment", "FundFormula", "PortfolioInvestment", "FundUnit", "FundUnitSetting", "AggregatePortfolioInvestment"].sort

              delete_classes.each do |class_name|
              %>

                <%= button_to class_name , delete_all_fund_path(@fund, type: class_name, authenticity_token: form_authenticity_token), {class: "dropdown-item", form_class: "deleteButton", data: {action: "click->confirm#popup" , turbo:false, msg: "Caution! Delete all #{class_name} for this fund? This is not reversible."} } %>

              <% end %>

          </div>
        </div>
      <% end %>


    <% end %>


  </div>

  <%= render "/funds/fund_details", fund: @fund %>

<% end %>