<%= render "/layouts/alerts" %>

  <% if params[:charts].present? %>
  <div class="row">
    <div class="col-lg-5 mb-4">
      <%= render "funds/show", fund: @fund %>
    </div>
    <div class="col-lg-7 mb-4">
      <%= render "funds/dashboard/investor_commitments", fund: @fund %>
    </div>
  </div>
  <% else %>
    <%= render "funds/show", fund: @fund %>
    <%#= render "funds/letter", fund: @fund %>
  <% end %>


  <div>

    <% if current_user.entity_id == @fund.entity_id %>
      <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"    aria-expanded="false" aria-controls="multi-collapse">Details</button> 
    <% end %>
    
    <% if policy(@fund).update? %>

      
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Fund Numbers" , report_fund_path(@fund, report: "chart"), {class: "dropdown-item" } %> 
            <%= link_to "Pending Remittances" , report_fund_path(@fund, report: "calls_report"), {class: "dropdown-item" } %> 
            <%= link_to "Onboarding Report" , report_fund_path(@fund, report: "onboarding_report"), {class: "dropdown-item" } %>
            <%= link_to "Timeline" , timeline_fund_path(@fund), {class: "dropdown-item" } %> 
          </div>
        </div>
      </div>
      
      

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= link_to "Edit Fund" , edit_fund_path(@fund), {class: "dropdown-item" } %> 
            <%= button_to "Delete Fund" , @fund, method: :delete, class: "dropdown-item" , 
                form_class: "deleteButton", 
                data: {action: "click->confirm#popup" , turbo:false} if policy(@fund).destroy? %>      


            <%
            document = Document.new(entity_id: @fund.entity_id , owner: @fund)
            doc_attributes = document.attributes.delete_if{|k,v| !["entity_id", "owner_id", "owner_type"].include?(k)}
            %>
            <%= link_to "New Document", new_document_path( 
                document: doc_attributes, 
                "document[folder_id]": @fund.document_folder.id), 
                {class: "dropdown-item" }  if policy(@fund).update? %>

            <%= link_to "Import Investors", 
            new_import_upload_path("import_upload[owner_id]": @fund.id, 
                "import_upload[owner_type]": "Fund", 
                "import_upload[import_type]": "Investor", 
                "sample_upload": "FUND_INVESTORS_SAMPLE"), 
                { class: "dropdown-item"}  %> 

            <%= link_to "Add Investor Notice" , 
                      new_investor_notice_path( "investor_notice[owner_id]": @fund.id, 
                      "investor_notice[owner_type]": "Fund"), {class: "dropdown-item" }  %>      

          </div>
        </div>
      </div>

      
    <% end %>

    
  </div>

  <% cache_if(current_user.entity_id == @fund.entity_id, [@fund, "FundDetails"]) do %>
    <%= render "/funds/fund_details", fund: @fund %>
  <% end %>