<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @fund.name %>
      </td>
    </tr>
    
    <tr>
      <td>
        Details
      </td>
      <td>
        <%= @fund.details&.html_safe %>
      </td>
    </tr>

    <tr>
      <td>
        Committed Amount
      </td>
      <td>
        <%= money_to_currency @fund.committed_amount, params %>
      </td>
    </tr>
    
    <tr>
      <td>
        Collected Amount
      </td>
      <td>
        <%= money_to_currency @fund.collected_amount, params %>
      </td>
    </tr>

    <tr>
      <td>
        Capital Call Amount
      </td>
      <td>
        <%= money_to_currency @fund.call_amount, params %>
      </td>
    </tr>

    <tr>
      <td>
        Payments Distributed
      </td>
      <td>
        <%= money_to_currency @fund.distribution_amount, params %>
      </td>
    </tr>
    

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @fund.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Tag List
      </td>
      <td>
        <%= @fund.tag_list %>
      </td>
    </tr>

    <%= display_custom_fields(@fund) if current_user %>

  </table>


  <div>
    <% if policy(@fund).update? %>
      <%= link_to "Edit" , edit_fund_path(@fund), {class: "btn btn-primary" } %> |
      <%= link_to "Timeline" , timeline_fund_path(@fund), {class: "btn btn-success" } %> |
      <%= button_to "Delete" , @fund, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" , data:
            {action: "click->confirm#popup" , turbo:false} %>

    <% end %>
  </div>

  <% cache_if(current_user.entity_id == @fund.entity_id, [@fund, "FundDetails"]) do %>
    <%= render "/funds/fund_details", fund: @fund %>
  <% end %>