<%= render FormCard.new(title: "Kpi Mapping") do %>

<%= form_with(model: investor_kpi_mapping) do |form| %>
  <% if investor_kpi_mapping.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investor_kpi_mapping.errors.count, "error") %> prohibited this investor_kpi_mapping from being saved:</h2>

      <ul>
        <% investor_kpi_mapping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true %>

  <div class="form-group">
    <%= form.label :reported_kpi_name %>
    <%= form.text_field :reported_kpi_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :standard_kpi_name %>
    <%= form.text_field :standard_kpi_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :show_in_report %>
    <%= form.check_box :show_in_report, class: "form-check-input"  %>
  </div>

  <div class="form-group">
    <%= form.label :lower_threshold %>
    <%= form.text_field :lower_threshold, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :upper_threshold %>
    <%= form.text_field :upper_threshold, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
  </div>
<% end %>

<% end %>