<tr id="<%= dom_id investor_notice_entry %>">
  <td>
    <%= investor_notice_entry.investor_notice.title %>
  </td>
  <td>
    <%= link_to investor_notice_entry.investor.investor_name, investor_notice_entry.investor %>
  </td>
  <td>
    <%= display_boolean investor_notice_entry.active %>
  </td>
  <td>
    <%= link_to  t_common(:show) , investor_notice_entry , {class: "btn btn-outline-primary" }%>
    <%= button_to t_common(:delete), investor_notice_entry, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton" %>  
  </td>
</tr>