

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Investor Notice
      </td>
      <td>
        <%= @investor_notice_entry.investor_notice.title %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @investor_notice_entry.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <%= @investor_notice_entry.investor.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        Active
      </td>
      <td>
        <%= display_boolean @investor_notice_entry.active %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to  t_common(:edit) , edit_investor_notice_entry_path(@investor_notice_entry), {class: "btn btn-outline-primary" } %> 
    <%= button_to t_common(:delete) , @investor_notice_entry, method: :delete, class: "btn btn-outline-danger" ,
          form_class: "deleteButton" , data: {action: "click->confirm#popup" , turbo:false} %>
  </div>