<% filter_state = "collapse" %>
<% params[:filter] = true  %>
<%= render "/layouts/filter", associations: [], state: filter_state %>

<div class="fc-button-group-right">
  <%= link_to events_path(owner_id: @owner&.id, owner_type: @owner&.class.to_s, view: 'month'), 
              class: "btn btn-outline-primary #{'active' if @view == 'month'}", 
              title: "month view", 
              aria: { pressed: @view == 'month' } do %>
   <i class="ti ti-calendar-month"></i> Month
 <% end %>

  <%= link_to events_path(owner_id: @owner&.id, owner_type: @owner&.class.to_s, view: 'week'), 
              class: "btn btn-outline-primary #{'active' if @view == 'week'}", 
              title: "week view", 
              aria: { pressed: @view == 'week' } do %>
   <i class="ti ti-calendar-week"></i> Week
 <% end %>

  <%= link_to events_path(owner_id: @owner&.id, owner_type: @owner&.class.to_s, view: 'day'), 
              class: "btn btn-outline-primary #{'active' if @view == 'day'}", 
              title: "day view", 
              aria: { pressed: @view == 'day' } do %>
   <i class="ti ti-calendar-event"></i> Day
 <% end %>
</div>

<div class="container mt-2">
  <div class="card shadow">    

    <div class="card-body">
      <%= render partial: "#{@view}_calendar", 
                 locals: { start_date: @start_date, end_date: @end_date, events: @events, owner: @owner, current_month: @current_month } %>
    </div>
  </div>
</div>
