<%= turbo_frame_tag "tf_#{dom_id(offer)}", class: "divTableRow #{cycle('even', 'odd')}" do %>

    <div class="divTableCell">
        <span class="badge <%= offer.approved ? 'bg-success' : 'bg-warning' %>">
            <%= offer.approved ?  "Yes" : "No" %>
        </span>
    </div>

    <div class="divTableCell">
        <%= offer.user ? offer.full_name : offer.investor.investor_name %> <br>
        <%= link_to offer.user.email, "mailto:#{offer.user.email}?body=Dear #{offer.user.full_name}. View your offer at #{offer_url(offer)}", target: "_blank" if offer.user %> 
    </div>
    <div class="divTableCell"><%= custom_format_number(offer.quantity, params) %></div>
    <div class="divTableCell"><%= offer.percentage %></div>
    <div class="divTableCell">
        <%= offer.pan_card.present? ? link_to(offer.PAN, offer.pan_card.url, target: "_blank") : offer.PAN %>
        <% if offer.pan_verified %>
            <span class="badge badge-success">Verified</span>
        <% else %>
            <span class="badge badge-danger"><%= offer.pan_verification_status %></span>
        <% end %>
    </div>
    <div class="divTableCell">
        Account: <%= offer.bank_account_number %> <br>
        IFSC Code: <%= offer.ifsc_code %>
        <% if offer.bank_verified %>
            <span class="badge badge-success">Verified</span>
        <% else %>
            <span class="badge badge-danger"><%= offer.bank_verification_status %></span>
        <% end %>
        <%= offer.properties if params[:debug].present? %>
    </div>
    
    <div class="divTableCell"><%= money_to_currency(offer.allocation_amount, params) %></div>
    <div class="divTableCell"><%= offer.allocation_percentage %></div>
    <div class="divTableCell"><%= offer.allocation_quantity %></div>
    <div class="divTableCell">
        <%= link_to offer.interest.aquirer_name, offer.interest, target: "_top" if offer.interest %>
        <br>
        <%= offer.interest.properties if offer.interest && params[:debug].present? %>
    </div>
    <div class="divTableCell">
        <%= display_boolean offer.final_agreement %>   
        <br>
        <%= link_to "SPA", offer.spa.url, target: "_blank", class: "small" if offer.spa %>     
    </div>
    <div class="divTableCell">
        <%= display_boolean offer.verified %>            
    </div>
    <div class="divTableCell">
        <%= offer.comments %>
        <% if offer.verified %>
            <% offer.documents.each do |doc| %> 
                <%= link_to doc.name, doc.file.url, target: "_blank", class: "badge badge-info" if doc.file && doc.owner_tag == "Generated" %>
            <% end %>   
        <% end %>
    </div>
    <div class="divTableCell">
        <%= link_to "Show", offer, class: "btn btn-outline-primary", target: '_top' %>
        <%= link_to "Edit", allocation_form_offer_path(offer), data: { turbo_frame: "tf_#{dom_id(offer)}" }, class: "btn btn-outline-success" if policy(offer).allocation_form? && !offer.secondary_sale.lock_allocations %>
    </div>

<% end %>