<div class="wizard_container" data-controller="wizard">

    <div class="stepwizard">
            <div class="stepwizard-row setup-panel">

                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-outline-primary btn-outline-primary btn-outline-circle">1</a>
                    <p><%= t_common(:step) %> 1</p>
                </div>
                <% if offer.approved %>
                    
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn disabled btn-outline-primary btn-outline-circle">2</a>
                    <p><%= t_common(:step) %> 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn disabled btn-outline-primary btn-outline-circle">3</a>
                    <p><%= t_common(:step) %> 3</p>
                </div>

                <% end %>

            </div>
    </div>

<%= form_with(model: offer, validate: true, class: "wizard_form row justify-content-md-center") do |form| %>
  <% if offer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row setup-content" id="step-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 1. <%= t('secondaries_actions.offer_quantity') %> </div>
            <div class="card-body">

                <div class="form-group">
                    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
                    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
                </div>

                <div class="form-group">
                    <%= form.label :secondary_sale %>
                    <%= form.text_field :secondary_sale_name, class: "form-control", disabled: true, value: offer.secondary_sale.name  %>
                    <%= form.text_field :secondary_sale_id, class: "form-control", hidden: true  %>
                    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
                </div>

                <% if current_user.entity_id == offer.entity_id %>
                    <div class="form-group">
                        <%= form.label :investor_id, t('secondaries_actions.seller') %>
                        <%= form.select :investor_id, offer.secondary_sale.seller_investors.map{|i| [i.investor_name, i.id]}, {}, class: "form-control" %>
                    </div>
                <% elsif current_user.has_cached_role?(:rm) %>
                    <div class="form-group">
                        <%= form.label :investor_id, t('secondaries_actions.seller') %>
                        <%= form.select :investor_id, RmMapping.investors_for(current_user, offer.entity).map{|i| [i.investor_name, i.id]}, {}, class: "form-control" %>
                    </div>
                <% else %>
                    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
                <% end %>

                
                <div class="form-group">
                    <%= form.label :full_name, t('secondaries_actions.full_name') %>
                    <%= form.text_field :full_name, class: "form-control" %>
                </div>

                <div class="form-group" data-controller="currencyformat">
                    <%= form.label :quantity, t('secondaries_actions.quantity') %> <span class="formatted_currency"></span>
                    <% if offer.approved %>
                        <%= form.number_field :quantity, class: "form-control", required: true, disabled: true %>
                    <% else %>
                        <%= form.number_field :quantity, class: "form-control", required: true, data: {action: "input->currencyformat#format"} %>
                    <% end %>
                </div>

                <div class="form-group" data-controller="currencyformat">
                    <%= form.label :price, t('secondaries_actions.price') %> <span class="formatted_currency"></span>
                    <% if offer.approved || offer.secondary_sale.price_type == "Fixed Price" %>
                        <%= form.number_field :price, class: "form-control", required: true, disabled: true %>
                    <% else %>
                        <%= form.number_field :price, class: "form-control", required: true, data: {action: "input->currencyformat#format"} %>
                    <% end %>
                </div>


                <%= custom_form_fields(offer, form, step: :one) %>

                <div class="form-group">
                    <%= form.label :notes, t('secondaries_actions.notes') %>
                    <%= form.text_area :notes, class: "form-control"  %>
                </div>

                <div class="form-group">
                    <% if offer.approved %>
                        <button id="next1" class="btn btn-outline-primary nextBtn btn-outline-lg pull-right ti ti-arrow-right" type="button"><%= t_common(:next) %></button>
                    <% else %>
                        <%= form.button type: 'submit', class: "btn btn-outline-primary btn-outline-lg" do %>
                            <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
                        <% end %>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
  </div>

  <% if offer.approved %>

    <div class="row setup-content" id="step-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 2. <%= t('secondaries_actions.personal_details') %> </div>
                <div class="card-body">

                    <div class="form-group">
                        <%= form.label :seller_signatory_emails, t('secondaries_actions.seller_signatory_emails') %>
                        <%= form.text_field :seller_signatory_emails, class: "form-control" %>
                        <small class="form-text text-muted">Comma separated emails if esignature is required</small>
                    </div>

                    <div class="form-group">
                        <%= form.label :address, t('secondaries_actions.address') %>
                        <%= form.text_area :address, class: "form-control" %>
                    </div>


                    <div class="form-group">
                        <%= form.label :PAN, t('secondaries_actions.pan') %>
                        <%= form.text_field :PAN, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <%= file_fields("Upload PAN", offer, form, required: false, meta_data: "PAN") %>
                        <small class="form-text text-muted">Please upload a clear image of your PAN</small>
                    </div>

                    <div class="form-group">
                        <%= form.label :bank_account_number, t('secondaries_actions.bank_account_number') %>
                        <%= form.text_field :bank_account_number, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <%= form.label :ifsc_code, t('secondaries_actions.ifsc_code') %>
                        <%= form.text_field :ifsc_code, class: "form-control"  %>
                    </div>

                    <%= custom_form_fields(offer, form, step: :two) %>

                    <button id="next2" class="btn btn-outline-primary nextBtn btn-outline-lg pull-right ti ti-arrow-right" type="button"><%= t_common(:next) %></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 3. <%= t('secondaries_actions.additional_documents') %> </div>
                <div class="card-body">

                    <% if false && offer.secondary_sale.seller_doc_list.present? %>
                        <%  offer.secondary_sale.seller_doc_list.split(",").each do |doc_name| %>

                        <div class="form-group">
                            <%= file_fields(doc_name.strip.squeeze(" "), offer, form) %>
                            <small class="form-text text-muted">Please upload a latest clear copy </small>
                        </div>

                        <% end %>
                    <% end %>

                    <%= custom_form_fields(offer, form, step: :end) %>

                    <div class="form-group">
                        <%= form.label :completed, t('secondaries_actions.completed') %>
                        <%= form.check_box :completed, class: "form-check-input"  %>
                        <small class="form-text text-muted">Please check this box to confirm that you have uploaded all the required documents and filled out all required information above correctly</small>
                    </div>

                    <div class="form-group">
                        <div class="uppy_wait_info alert alert-info">Please wait for the file upload above to complete, before clicking Save.</div>
                        <%= form.button type: 'submit', class: "btn btn-outline-primary btn-outline-lg" do %>
                            <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
                        <% end %>
                    </div>

                </div>
            </div>
        </div>


    </div>

  <% end %>

<% end %>

</div>
