<%= form_with(model: offer, validate: true) do |form| %>
  <% if offer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :secondary_sale %>
    <%= form.text_field :secondary_sale_name, class: "form-control", disabled: true, value: offer.secondary_sale.name  %>
    <%= form.text_field :secondary_sale_id, class: "form-control", hidden: true  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
  </div>


  <div class="form-group">
    <%= form.label :quantity, t('secondaries_actions.quantity') %>
    <%= form.number_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :notes, t('secondaries_actions.notes') %>
    <%= form.text_area :notes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :full_name, t('secondaries_actions.full_name') %>
    <%= form.text_field :full_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address, t('secondaries_actions.address') %>
    <%= form.text_area :address, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :PAN, t('secondaries_actions.pan') %>
    <%= form.text_field :PAN, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :bank_account_number, t('secondaries_actions.bank_account_number') %>
    <%= form.text_field :bank_account_number, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.label :ifsc_code, t('secondaries_actions.ifsc_code') %>
    <%= form.text_field :ifsc_code, class: "form-control", required: true  %>
  </div>

  <div class="form-group">
    <%= file_fields("Upload PAN", offer, form, required: false, meta_data: "PAN") %>
    <small class="form-text text-muted">Please upload a clear image of your PAN</small>
  </div>
  </div>

  <div class="form-group">
    <%= form.button type: 'submit', class: "btn btn-outline-primary" do %>
        <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
    <% end %>
  </div>
<% end %>
