<%
    offers_frame ||= "offers_frame" 
%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 ml-5">
        Offers:
        <%= link_to @secondary_sale.name, secondary_sale_path(@secondary_sale) if @secondary_sale %>
    </h1>
    <span>
        <%= link_to t("secondaries_actions.view_all_offers"), offers_secondary_sale_path(@secondary_sale),
                                 class: "btn btn-outline-primary ti ti-list" if @secondary_sale && policy(@secondary_sale).owner? %>
        
        <%= link_to t("secondaries_actions.new_offer"), new_offer_path("offer[secondary_sale_id]": @secondary_sale&.id),
                                 class: "btn btn-outline-primary ti ti-plus" if @secondary_sale && policy(@secondary_sale).offer?  %>
        
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle ti ti-upload" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t("secondaries_actions.upload_download") %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <%= link_to t("secondaries_actions.upload_offers"),
                    new_import_upload_path("import_upload[owner_id]": @secondary_sale.id,
                    "import_upload[owner_type]": "SecondarySale",
                    "import_upload[import_type]": "Offer",
                    "sample_upload": "OFFERS_SAMPLE"),
                    { class: "dropdown-item ti ti-upload"} if @secondary_sale && policy(@secondary_sale).update? %>

                <%= link_to t("secondaries_actions.upload_offers_documents"),
                        new_import_upload_path("import_upload[owner_id]": @secondary_sale.id,
                        "import_upload[owner_type]": "SecondarySale",
                        "import_upload[import_type]": "OfferDocs",
                        "sample_upload": "OFFERS_DOCS_SAMPLE"),
                        { class: "dropdown-item ti ti-upload"} if @secondary_sale && policy(@secondary_sale).update? %>


                <%= link_to t("secondaries_actions.download_all_offers"), offers_secondary_sale_path(@secondary_sale, format: "xlsx"),
                                        class: "dropdown-item ti ti-download" if @secondary_sale %>


                </div>
            </div>
        </div>
        

        <%= button_to t("secondaries_actions.approve_all_pending"), approve_offers_secondary_sale_path(@secondary_sale),
                                 method: :patch, class: "btn btn-outline-success ti ti-check" , form_class: "deleteButton", data: {action: "click->confirm#popup", method: :patch, msg: t("common.confirm")} if @secondary_sale && policy(@secondary_sale).approve_offers? %>


        <%= render "offers/bulk_actions" %>
    </span>
</div>

<% if params[:card].present? %>
    <div class="row">
        <% @offers.each do |offer| %>
            <%= render "/offers/card", offer: offer %>
        <% end %>
    </div>
    <%= paginate @offers.page(params[:page]) %>
<% else %>    

    <% 
        lazy_load_data ||= false 
        import_upload_id ||= params[:import_upload_id]
    %>

    <% 
        q ||= nil
        data_source ||= offers_path(params: params.to_unsafe_h, import_upload_id:, secondary_sale_id: @secondary_sale&.id, approved: params[:approved], verified: params[:verified]) 
        default_columns_map = if current_user.curr_role == "investor"
            Offer::INVESTOR_STANDARD_COLUMNS
          else
            Offer::STANDARD_COLUMNS
          end
    %>

    <div class="table-responsive">
        <%=render SearchComponent.new(data_source: , turbo_frame: offers_frame) %>

        <%= render RansackTable.new(Offer, q: q, default_columns_map:, current_user: current_user, records: offers, report_id: params["report_id"], turbo_frame: offers_frame, referrer: request.referrer) %>
    </div>

<% end %>