<%= render "/offers/stats", secondary_sale: @secondary_sale if policy(@secondary_sale).update? %>

<div data-controller="offers" 
     data-offers-lazy-load-data-value=<%= false %>
     data-offers-table-name-value="#offers">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Offers:
        <%= link_to @secondary_sale.name, secondary_sale_path(@secondary_sale) if @secondary_sale %>
    </h1>
    <span>
        <%= link_to "View All Offers", offers_secondary_sale_path(@secondary_sale), 
                                  class: "btn btn-outline-primary" if @secondary_sale %>

        
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" 
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Upload / Download
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <%= link_to "Upload Offers", 
                    new_import_upload_path("import_upload[owner_id]": @secondary_sale.id, 
                    "import_upload[owner_type]": "SecondarySale", 
                    "import_upload[import_type]": "Offer", 
                    "sample_upload": "OFFERS_SAMPLE"), 
                    { class: "dropdown-item"} if @secondary_sale && policy(@secondary_sale).update? %> 

                <%= link_to "Upload Offers Documents", 
                        new_import_upload_path("import_upload[owner_id]": @secondary_sale.id, 
                        "import_upload[owner_type]": "SecondarySale", 
                        "import_upload[import_type]": "OfferDocs", 
                        "sample_upload": "OFFERS_DOCS_SAMPLE"), 
                        { class: "dropdown-item"} if @secondary_sale && policy(@secondary_sale).update? %> 


                <%= link_to "Download All Offers", offers_secondary_sale_path(@secondary_sale, format: "xlsx"), 
                                        class: "dropdown-item" if @secondary_sale %>



                </div>
            </div>
        </div>


        <%= button_to "Approve All Pending", approve_offers_secondary_sale_path(@secondary_sale), 
                                  method: :patch, class: "btn btn-outline-success" if @secondary_sale && policy(@secondary_sale).approve_offers? %>

    </span>
</div>


<% 
    lazy_load_data ||= false 
    import_upload_id ||= params[:import_upload_id]
%>

<% data_source ||= offers_path(params: params.to_unsafe_h, import_upload_id:, format: :json, all: true, secondary_sale_id: @secondary_sale&.id, approved: params[:approved], verified: params[:verified]) %>

  
<div class="table-responsive">

    <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->offers#loadData"><span>Load Data</span></a>
    <% end %>

    <table id="offers" class="table table-bordered dataTable" data-source="<%= data_source %>" style="width:100%">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Investor
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Allocation Quantity
                </th>
                <th>
                    Allocation %
                </th>
                <th>
                    Price
                </th>
                <th>
                    Allocation Amount
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Approved
                </th>
                <th>
                    Verified
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

</div>

</div>
