<tr id="<%= dom_id offer %>">
  <td>
    <%= offer.user.full_name %>
  </td>
  <td>
    <%= offer.investor.investor_name %>
  </td>
  <td>
    <%= custom_format_number offer.quantity, params %>
  </td>
  <td>
    <%= offer.percentage %>%
    <% if offer.percentage && offer.percentage > offer.secondary_sale.percent_allowed %>
      <span class="badge bg-danger">Over Allowed Percentge</span>
    <% end %>
  </td>
  <td>
    <%= custom_format_number offer.allocation_quantity, params %>
  </td>
  <td>
    <%= offer.allocation_percentage %>%
  </td>
  <td>
    <%= custom_format_number offer.final_price, params %>
  </td>
  <td>
    <%= money_to_currency offer.allocation_amount, params %>
  </td>
  <td>
    <%= offer.notes %>
  </td>
  <td class="approved">
    <%= display_boolean(offer.approved) %>
  </td>
  <td class="verified">
    <%= display_boolean(offer.verified) %>
  </td>
  <td>
    <%= link_to  t_common(:show) , offer , {class: "btn btn-outline-primary" } if policy(offer).show? %>

    <% if policy(offer).update? %>
      <%= link_to "Complete Offer Details" , edit_offer_path(offer) , {class: "btn btn-outline-warning" } if offer.approved %>    
      <%= button_to t_common(:delete), offer, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup"} if policy(offer).destroy? %>    
    <% end %>
  </td>
</tr>