
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Offer Completion Report: <%= link_to @secondary_sale.name, @secondary_sale %></h1>

    <span>
    <% if @secondary_sale %>
        <%= link_to "Download Report", offers_secondary_sale_path(@secondary_sale, format: "xlsx", report: "completion_report"), class: "btn btn-outline-success btn-outline-sm"  %>
        |
        <%= link_to "Un-Verified", offers_secondary_sale_path(@secondary_sale, verified: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        <%= link_to "No Signature", offers_secondary_sale_path(@secondary_sale, signature: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        |
        <%= link_to "No PAN Card", offers_secondary_sale_path(@secondary_sale, pan_card: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        <%= link_to "SPA Not Accepted", offers_secondary_sale_path(@secondary_sale, final_agreement: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        |
        <%= link_to "All", offers_secondary_sale_path(@secondary_sale, report: "completion_report"), class: "btn btn-outline-success btn-outline-sm"  %>

    <% end %>
    </span>
</div>

<div class="table-responsive" data-controller="datatable">

    <table id="offers" class="table table-bordered dataTable">
        <thead>
            <tr>
                <th>
                    Offer ID
                </th>
                <th>
                    User
                </th>
                <th>
                    Email
                </th>
                <th>
                    Sign In Count
                </th>

                <th>
                    Verified
                </th>

                <th>
                    Signature Uploaded
                </th>
                <th>
                    PAN Uploaded
                </th>
                <th>
                    SPA Accepted
                </th>
                <th>
                    Stamp Paper Affixed
                </th>
                <th>
                    Documents Uploaded
                </th>
            </tr>
        </thead>
    
        <tbody>
            <% @offers.includes(:user, :documents).each do |o| %>
            <tr id=<%=dom_id(o)%> >
                <td><%= link_to o.id, o %></td>
                <td><%= o.user ? o.user.full_name : o.investor.investor_name %></td>
                <td><%= o.user&.email %></td>
                <td><%= o.user&.sign_in_count %></td>
                <td><%= display_boolean o.verified %></td>
                <td>
                    <%= display_boolean o.signature.present? %>
                    <%= image_tag o.signature_url, 
                    style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if o.signature.present? %>
                </td>
                <td>
                    <%= display_boolean o.pan_card.present? %>
                    <%= link_to o.PAN, o.pan_card.url, target: "_blank" if o.pan_card.present? %>
                </td>
                <td>
                    <%= display_boolean o.final_agreement %>
                    <%= link_to "SPA", o.spa.url if o.spa %>
                </td>
                <td>
                    <%= display_boolean (o.documents.any?{|d| d.name == "Stamp Paper"}) %>
                </td>
                <td>
                    <%= o.documents.collect(&:name).join(", ") %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
</div>


<%=paginate @offers %>