<%= render "/secondary_sales/stats", secondary_sale: @secondary_sale %>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Finalize Offer Allocations: <%= link_to @secondary_sale.name, @secondary_sale %></h1>

    <span>
        
        <% if policy(@secondary_sale).update? %>

        <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          
                    <%= link_to "All Offers", finalize_offer_allocation_secondary_sale_path(@secondary_sale), 
                    {class: "dropdown-item" }  %> 

                    <%= link_to "Completion Report", offers_secondary_sale_path(@secondary_sale, report: "completion_report"), class: "dropdown-item" if @secondary_sale %>

                    <%= link_to "Verified", finalize_offer_allocation_secondary_sale_path(@secondary_sale, verified: true), {class: "dropdown-item" }  %> 

                    <%= link_to "Un-Verified", finalize_offer_allocation_secondary_sale_path(@secondary_sale, verified: false), {class: "dropdown-item" }  %> 
                    
                </div>
            </div>
        </div>
            |

            <%= link_to "Un-Matched", finalize_offer_allocation_secondary_sale_path(@secondary_sale, matched: false), {class: "btn btn-outline-warning" }  %> 
            <%= link_to "Matched", finalize_offer_allocation_secondary_sale_path(@secondary_sale, matched: true), {class: "btn btn-outline-success" }  %> 
                    
            |

        

            <%= link_to download_secondary_sale_path(@secondary_sale, format: "xlsx"), 
                                                    {class: "btn btn-outline-success"  } do %> 
                    <i class="fa-lg fa-regular fa-file-excel"></i> Download
            <% end %>
        
            |
      
            <%= link_to "Interest Allocations",
            finalize_interest_allocation_secondary_sale_path(@secondary_sale), 
              {class: "btn btn-outline-success" } if policy(@secondary_sale).view_allocations? %> 
              
            <% label = @secondary_sale.lock_allocations ? 'Unlock Allocations' : 'Lock Allocations' %>
            <%= link_to label , lock_allocations_secondary_sale_path(@secondary_sale),    
                        class: "btn btn-outline-danger" if policy(@secondary_sale).lock_allocations? %> 
        
        <% end %>
        <form class="d-sm-inline-block form-inline navbar-search" action="<%= search_offers_path %>">
            <div class="input-group">
                <input name="query" type="text" class="form-control border-0 small" placeholder="Search for..." value="<%= params[:query] %>" aria-label="Search" aria-describedby="basic-addon2">
                <input type="hidden" name="secondary_sale_id" value="<%= @secondary_sale.id %>">
                <input type="hidden" name="finalize_allocation" value="true">
            </div>
        
        </form>        
    </span>
</div>

<%= render "offers/finalize_allocation", offers: @offers %>
