<%= render "/secondary_sales/stats", secondary_sale: @secondary_sale %>
<% params[:filter] = true  %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Finalize Offer Allocations: <%= link_to @secondary_sale.name, @secondary_sale %></h1>

    <span>

        <% if policy(@secondary_sale).update? %>

            <div class="btn-group">
                <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Offers
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <%= link_to "All Offers", finalize_offer_allocation_secondary_sale_path(@secondary_sale),
                        {class: "dropdown-item" }  %>

                        <%= link_to "Completion Report", offers_secondary_sale_path(@secondary_sale, report: "completion_report"), class: "dropdown-item" if @secondary_sale %>

                        <%= link_to "Verified", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("verified", :eq, true)), {class: "dropdown-item" }  %>

                        <%= link_to "Un-Verified", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("verified", :eq, false)), {class: "dropdown-item" }  %>

                        <%= link_to "Accepted SPA", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("final_agreement", :eq, true)), {class: "dropdown-item" }  %>

                        <%= link_to "Pending SPA", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("final_agreement", :eq, false)), {class: "dropdown-item" }  %>

                        <%= link_to "Un-Matched", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("interest_id", :null, true)), {class: "dropdown-item" }  %>

                        <%= link_to "Matched", finalize_offer_allocation_secondary_sale_path(@secondary_sale, q: ransack_query_params("interest_id", :null, false)), {class: "dropdown-item" }  %>
                        <% if params[:q].present? %>
                        <div class="dropdown-divider"></div>
                            <%= render "offers/bulk_actions", secondary_sale: @secondary_sale %>
                        <% end %>
                    </div>
                </div>
            </div>

            |

            <%= link_to download_secondary_sale_path(@secondary_sale, format: "xlsx"),
                                                    {class: "btn btn-outline-success"  } do %>
                    <i class="fa-lg fa-regular fa-file-excel"></i> Download
            <% end %>

            |

            <%= link_to "Interest Allocations",
            finalize_interest_allocation_secondary_sale_path(@secondary_sale),
              {class: "btn btn-outline-success" } if policy(@secondary_sale).view_allocations? %>

            <% label = @secondary_sale.lock_allocations ? 'Unlock Allocations' : 'Lock Allocations' %>
            <%= button_to label , lock_allocations_secondary_sale_path(@secondary_sale),
                        class: "btn btn-outline-danger", method: :patch if policy(@secondary_sale).lock_allocations? %>

        <% end %>

        
        <% if policy(@secondary_sale).update? %>

            <div class="btn-group">
                <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Doc Generation
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">           
                    <%
                    document = Document.new(entity_id: @secondary_sale.entity_id , owner: @secondary_sale)
                    doc_attributes = document.attributes.delete_if{|k,v| !["entity_id", "owner_id", "owner_type"].include?(k)}
                    %>
                    
                    <%= link_to "New Template", new_document_path(document: doc_attributes, "document[folder_id]": @secondary_sale.document_folder.id), {class: "dropdown-item"} %>

                    <%= button_to "Generate All SPAs" , generate_spa_secondary_sale_path(@secondary_sale, offer_doc_generation: true), method: :patch, class:
                    "dropdown-item", data: { action: "click->confirm#popup", turbo:false, method: "patch",
                    msg: "This will kick off the SPA generation process for all offers, which will take a few mins. Note existing SPAs will be deleted and regenerated."} if policy(@secondary_sale).generate_spa?  %>


                    <% @secondary_sale.documents.templates.where(owner_tag: "Offer Template").each do |template| %>

                    <%= button_to template.name,
                        generate_spa_secondary_sale_path(@secondary_sale, template_id: template.id, offer_doc_generation: true),
                        class: "dropdown-item",
                        data: {action: "click->confirm#popup",
                        msg: "#{template.name} generation will take a few min, please be patient. Proceed?", method: :patch } %>

                    <% end %>
                </div>
                </div>
            </div>

        <% end %>
        
        <form class="d-sm-inline-block form-inline" action="<%= search_offers_path %>">
            <div class="input-group">
                <input name="query" type="text" class="form-control border-0" placeholder="Search for..." value="<%= params[:query] %>" aria-label="Search" aria-describedby="basic-addon2">
                <input type="hidden" name="secondary_sale_id" value="<%= @secondary_sale.id %>">
                <input type="hidden" name="finalize_allocation" value="true">
            </div>

        </form>
    </span>
</div>

<%= render "/layouts/filter", associations: [:investor, :user, :interest],
    url: finalize_offer_allocation_secondary_sale_path(@secondary_sale), hidden_fields: {secondary_sale_id: @secondary_sale.id} %>

<%= render "offers/finalize_allocation", offers: @offers %>
