

<% if policy(@offer).update? && @offer.approved %>

    <%

    steps = ["Review your offer details below",
            "Please #{link_to 'Add', edit_offer_path(@offer)} the required documentation & details to finalize the sale".html_safe,
            "You will need the following docs #{@offer.secondary_sale.seller_doc_list}",
            "Wait for communication from #{@offer.secondary_sale.entity.name}"].freeze

    %>

    <%= render "/layouts/steps", steps:  %>


<% elsif policy(@offer).show? && @offer.verified %>


  <%
    spas = []
    @offer.documents.where(owner_tag: "Generated", approved: true).each do |spa|
      spas << link_to(spa.name, spa.file.url, target: "_blank", class: "btn btn-outline-success")
    end

    accept_spa = button_to("Accept" , accept_spa_offer_path(@offer), method: :patch,
        class: "btn btn-outline-primary" , id: 'accept_spa_btn',
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "This will mark your acceptance of the Transaction Document(s). Proceed?"}) if policy(@offer).accept_spa?
    step2 = if policy(@offer).accept_spa? && @offer.documents&.where(owner_tag: "Generated", approved: true)&.present?
            "Accept the Transaction Document(s) #{accept_spa}".html_safe
            else
            "Accept the Transaction Document(s)".html_safe
            end
    steps = ["Please review the Transaction Document(s) #{spas.join(' ')}".html_safe,
            (step2),
            ("Your acceptance of the Transaction Document(s) has already been recorded".html_safe unless policy(@offer).accept_spa? ),
            "Wait for communication from #{@offer.secondary_sale.entity.name}"].compact
  %>

  <%= render "/layouts/steps", steps:  %>

<% end %>

  <%= render "/offers/show" %>


  <div>
    <% if policy(@offer).update? %>
      <%= link_to "Edit" , edit_offer_path(@offer), {class: "btn btn-outline-primary" } if !@offer.approved %>
      <%= link_to "Complete Offer Details", edit_offer_path(@offer) , {class: "btn btn-outline-warning" } if @offer.approved %>
    <% end %>

    <% label = @offer.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_offer_path(@offer), method: :patch, class: "btn btn-outline-success" ,
      form_class: "deleteButton" if Pundit.policy(current_user, @offer).approve? %>


    <%= button_to "Accept SPA" , accept_spa_offer_path(@offer), method: :patch,
        class: "btn btn-outline-success" , id: 'accept_spa_btn',
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch,
        msg: "This will mark your acceptance of the SPA. Proceed?"} if policy(@offer).accept_spa? && @offer.documents&.where(owner_tag: "Generated", approved: true)&.present? %>

    <%= link_to "Secondary Sale" , secondary_sale_path(@offer.secondary_sale), {class: "btn btn-outline-primary" } %>
  </div>

  <%= render "offers/offer_details", offer: @offer if @offer.approved %>
