<% esign_provider_digio = if esign_provider_digio.nil?
                            params.key?(:esign_provider_digio) ? params[:esign_provider_digios].to_s == 'true' : true
                          else
                            esign_provider_digio
                          end %>

<tr id="<%= dom_id e_signature %>">
  <td>
    <%= e_signature.email %>
  </td>
  <td>
    <%= e_signature.label %>
  </td>

  <% if esign_provider_digio %>
  <td>
    <%= e_signature.signature_type %>
  </td>
  <% end %>

  <td>
    <%if e_signature.status.present? %>
      <span class="badge bg-<%=e_signature.status_badge%>">
      <%= e_signature.status&.titleize %>
      </span>
    <% end %>
  </td>
  <td>
    <%= link_to  t_common(:show), e_signature , {class: "btn btn-outline-primary"}%>
    <%= link_to  t_common(:edit), edit_e_signature_path(e_signature) , {class: "btn btn-outline-primary"} if policy(e_signature).edit?%>
  </td>
</tr>
