
<tr id="<%= dom_id e_signature %>">
  <td>
    <%= e_signature.user %>
  </td>
  <td>
    <%= e_signature.label %>
  </td>
  <td class="hideMobP">
    <%= e_signature.signature_type %>
  </td>

  <td>
    <%= e_signature.status %>
  </td>
  <td>
    <%= link_to "Show", e_signature , {class: "btn btn-outline-primary"}%>
    <%= link_to "Edit", edit_e_signature_path(e_signature) , {class: "btn btn-outline-primary"} if policy(e_signature).edit?%>
  </td>
</tr>
