
<tr id="<%= dom_id e_signature %>">
  <td>
    <%= e_signature.email %>
  </td>
  <td>
    <%= e_signature.label %>
  </td>
  <td>
    <%= e_signature.signature_type %>
  </td>

  <td>
    <%if e_signature.status.present? %>
      <span class="badge bg-<%=e_signature.status_badge%>">
      <%= e_signature.status&.titleize %>
      </span>
    <% end %>
  </td>
  <td>
    <%= link_to "Show", e_signature , {class: "btn btn-outline-primary"}%>
    <%= link_to "Edit", edit_e_signature_path(e_signature) , {class: "btn btn-outline-primary"} if policy(e_signature).edit?%>
  </td>
</tr>
