
<tr id="<%= dom_id e_signature %>">
  <td>
    <%= e_signature.position %>
  </td>
  
  <td>
    <%= e_signature.user %>
  </td>
  <td>
    <%= e_signature.label %>
  </td>
  <td>
    <%= e_signature.signature_type %>
  </td>
  
  <td>
    <%= e_signature.status %>
  </td>
  <td>
    <%= link_to "Show", e_signature , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
