<% esign_provider_digio = if esign_provider_digio.nil?
                            params.key?(:esign_provider_digio) ? params[:esign_provider_digio].to_s == 'true' : true
                          else
                            esign_provider_digio
                          end %>

<% labels ||= nil %>
<div class='nested-fields row'>
      <div class="form-group col">
        <%= f.label :label %>
        <% if labels %>
          <%= f.text_field :label, list: 'label-list', class: "form-control", maxlength: 50 %>
          <datalist id="label-list">
            <% labels.each do |label| %>
              <option value="<%= label %>"></option>
            <% end %>
          </datalist>
        <% else %>
          <%= f.text_field :label, class: "form-control"  %>
        <% end %>
      </div>

    <% if esign_provider_digio %>
    <div class="form-group col">
      <%= f.label :signature_type, "Signature" %>
      <%= f.select :signature_type, ["Electronic", "Aadhaar"], {}, class: "form-control"  %>
      <small class="text-muted">Type of Signature</small>
    </div>
    <% end %>

    <div class="form-group col">
      <%= f.label :notes %>
      <%= f.text_field :notes, class: "form-control"  %>
    </div>

      <div class="form-group col">
        <%= link_to_remove_association "Delete" , f, class: "btn btn-outline-danger mt-4" %>
      </div>
  </div>
