<% labels ||= nil %>
<div class='nested-fields row'>
    <% if f.object.user %>
    <div class="form-group col">
      <%= f.label :user_id %>
      <%= f.text_field :user_id, class: "form-control", disabled: true, value: f.object.user.full_name %>
    </div>
    <% end %>

    <div class="col" data-controller="otherselect"   
                    data-otherselect-select-id-value="#esign_label">

      <div class="form-group">
        <%= f.label :label %>
        <% if labels %>
          <%= f.select :label, labels, {}, class: "form-control", id: "esign_label", "data-action": "change->otherselect#checkOtherName"  %>
          <%= f.text_field :label, class: "form-control", disabled: true, id: "other_name"  %>
        <% else %>
          <%= f.text_field :label, class: "form-control"  %>
        <% end %>
      </div>

    </div>

    <div class="form-group col">
      <%= f.label :signature_type, "Signature" %>
      <%= f.select :signature_type, ["Aadhaar", "Electronic"], {}, class: "form-control"  %>
    </div>

    <div class="form-group col">
      <%= f.label :notes %>
      <%= f.text_field :notes, class: "form-control"  %>
    </div>

      <div class="form-group col">
        <%= link_to_remove_association "Delete" , f, class: "btn btn-outline-danger mt-4" %>
      </div>
  </div>
