<%= render "/layouts/alerts" %>
<h1> E Signature </h1>
<div>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @e_signature.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      User
    </td>
    <td>
      <%= @e_signature.user&.full_name %>
    </td>
  </tr>
  <tr>
    <td>
      Label
    </td>
    <td>
      <%= @e_signature.label %>
    </td>
  </tr>
  <tr>
    <td>
      Signature Type
    </td>
    <td>
      <%= @e_signature.signature_type %>
    </td>
  </tr>
  <tr>
    <td>
      Sequence
    </td>
    <td>
      <%= @e_signature.position %>
    </td>
  </tr>
  <tr>
    <td>
      Owner
    </td>
    <td>
      <%= link_to @e_signature.owner %>
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @e_signature.notes %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= @e_signature.status %>
    </td>
  </tr>
</table>
<%= link_to "Edit", edit_e_signature_path(@e_signature), {class: "btn btn-outline-primary"} %>
</div>
