<%= render "/layouts/alerts" %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">E Signature</h1>
  </div>
<div>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @e_signature.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Email
    </td>
    <td>
      <%= @e_signature.email %>
    </td>
  </tr>
  <tr>
    <td>
      Label
    </td>
    <td>
      <%= @e_signature.label %>
    </td>
  </tr>
  <tr>
    <td>
      Signature Type
    </td>
    <td>
      <%= @e_signature.signature_type %>
    </td>
  </tr>
  <tr>
    <td>
      Document
    </td>
    <td>
      <%= link_to @e_signature.document %>
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <%= @e_signature.notes %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
    <%if @e_signature.status.present? %>
      <span class="badge bg-<%=@e_signature.status_badge%>">
      <%= @e_signature.status&.titleize %>
      </span>
    <% end %>
    </td>
  </tr>
</table>
<%= link_to "Edit", edit_e_signature_path(@e_signature), {class: "btn btn-outline-primary"} %>
</div>
