<% 
  fund ||= nil 
  import_upload_id ||= params[:import_upload_id]
%>        
<% data_source ||= account_entries_path(q: params.to_unsafe_h[:q], import_upload_id:, capital_commitment_id: params[:capital_commitment_id], format: :json, all: true, fund_id: params[:fund_id], fund_account_only: params[:fund_account_only]) %>    
<% lazy_load_data ||= false %>
<% xl_link = download_xl_link(data_source) %>

<div class="table-responsive" data-controller="account-entries" data-account-entries-lazy-load-data-value=<%= lazy_load_data %> data-account-entries-table-name-value="#account_entries_table">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Account Entries</h1>

    <%  
      if params[:capital_commitment_id].present? || params[:fund_id].present?
          account_entry = AccountEntry.new(capital_commitment_id: params[:capital_commitment_id], fund_id: params[:fund_id]) 
          account_entry.entity_id =current_user.entity_id
              
    %>

    <span>
      <%= link_to "New Account Entry", new_account_entry_path("account_entry[capital_commitment_id]": account_entry.capital_commitment_id, "account_entry[entity_id]": account_entry.entity_id, "account_entry[fund_id]": account_entry.fund_id), {class: "btn btn-outline-primary"} if policy(account_entry).new? %>

      <%= link_to "Upload", 
                    new_import_upload_path("import_upload[owner_id]": account_entry.fund_id, 
                    "import_upload[owner_type]": "Fund", 
                    "import_upload[import_type]": "AccountEntry", 
                    "sample_upload": "ACCOUNT_ENTRY_SAMPLE"), 
                    { class: "btn btn-outline-primary"}   %> 


      <%= link_to "Download", xl_link, 
                              class: "btn btn-outline-success" %>

      <%= button_to "Delete Results", delete_all_account_entries_path(q: params[:q].to_unsafe_h), class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, msg: "Delete all account entries in search results?", method: :post}  if params[:q].present? %>
    </span>

    <% else %>
        <span>`
            <%= link_to "Download", xl_link, class: "btn btn-outline-success" %>
            <%= button_to "Delete Results", delete_all_account_entries_path(q: params[:q].to_unsafe_h), class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, msg: "Delete all account entries in search results?", method: :post}  if params[:q].present? %>
        </span>
    <% end %>

    
  </div>


  <% if lazy_load_data %>
      <a class="load_data_link" data-action="click->account-entries#loadData"><span>Load Data</span></a>
  <% end %>

  <% if params[:capital_commitment_id].blank? %>        
    <input type="text" id="account_entry_cols" hidden value="all">
  <% end %>
    
  <table id="account_entries_table" class="table table-bordered dataTable" 
        data-source="<%= data_source %>" style="width:100%" >

    <thead>
      <tr>
        <% if params[:capital_commitment_id].blank? %>          
          <th>
            Fund
          </th>
          <th>
            Investor
          </th>
        <% end %> 
        <th>
          Folio
        </th>
        <th>
          Reporting Date
        </th>
        <th>
          Period
        </th>
        <th>
          Entry Type
        </th>
        <th>
          Name
        </th>
        <th>
          Amount
        </th>
        <th>
          Type
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

</div>
