<% title = params[:title] || "Account Entries" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>

    <span>  
      <button class="btn btn-outline-success" data-controller="export-xl"
        data-action="click->export-xl#export"
        data-tableid="account_entries_pivot"
        data-filename="Account Entries">
        Export to Excel
      </button>
    </span>
</div>

<table id="account_entries" class="table table-bordered">
  <thead>
    <tr>
      <% if params[:hide_commitment].blank? %>
        <th>Capital Commitment</th>
      <% end %>
      <% if params[:hide_parent].blank? %>
        <th style="min-width: 200px;">Parent</th>
      <% end %>

      <% @pivot.groups.each do |group| %>
        <th colspan="<%= @pivot.dates_by_group[group].size %>"><%= group %></th>
      <% end %>
    </tr>
    <tr>
      <% if params[:hide_commitment].blank? %>
        <th></th>
      <% end %>
      <% if params[:hide_parent].blank? %>      
        <th></th>
      <% end %>
      <% @pivot.groups.each do |group| %>
        <% @pivot.dates_by_group[group].each do |date| %>
          <th><%= date.strftime("%b %Y") %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @pivot.rows.each do |commitment_name, capital_commitment_id, parent_name, parent_type, parent_id| %>
      <tr>
        <% if params[:hide_commitment].blank? %>
        <td>
          <%= link_to commitment_name, 
                capital_commitment_path(id: capital_commitment_id), 
                target: "_blank" if commitment_name && capital_commitment_id %>
        </td>
        <% end %>

        <% if params[:hide_parent].blank? %>
        <td>
          <%= link_to parent_name,  
                "/#{parent_type.underscore.pluralize}/#{parent_id}", 
                target: "_blank" if parent_type && parent_id if parent_name.present? %>
        </td>
        <% end %>
        
        <% @pivot.groups.each do |group| %>
          <% @pivot.dates_by_group[group].each do |date| %>
            <%
              value = @pivot.structured_data[[commitment_name, capital_commitment_id, parent_name, parent_type, parent_id]].dig(group, date) 

              value = number_with_precision(value.to_d, precision: 2, delimiter: ',') if value && value.is_a?(Money)
            %>
            <td><%= value || "-" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:show_chart].present? %>
  <%= render ToggleCard.new(title: "Chart", css_class: "show_ae_pivot_chart", state: "show") do %>
    <%= line_chart @pivot.chart,  library: { title: { text: "" } } %>
  <% end %>
<% end %>

