

<%= render ToggleCard.new(title: "Account Entry: #{@account_entry}", css_class: "show_account_entry") do %>

  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Fund
      </td>
      <td>
        <%= link_to @account_entry.fund.name, @account_entry.fund %>
      </td>
    </tr>
    <tr>
      <td>
        Stakeholder
      </td>
      <td>
        <%= link_to @account_entry.investor if @account_entry.investor %>
      </td>
    </tr>

    <% if @account_entry.capital_commitment %>
      <tr>
        <td>
          Capital Commitment
        </td>
        <td>
          <%= link_to @account_entry.capital_commitment %>
        </td>
      </tr>
      
      <tr>
        <td>
          Folio
        </td>
        <td>
          <%= @account_entry.folio_id %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Reporting Date
      </td>
      <td>
        <%= l @account_entry.reporting_date %>
      </td>
    </tr>
    <tr>
      <td>
        Period
      </td>
      <td>
        <%= @account_entry.period %>
      </td>
    </tr>
    <tr>
      <td>
        Entry Type
      </td>
      <td>
        <%= @account_entry.entry_type %>
        <% if @account_entry.cumulative %>
          <span class="badge bg-success">Cumulative<span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @account_entry.name %>
        <br>
        <small class="text-muted"><%= @account_entry.rule_for %></small>
      </td>
    </tr>

    
    <% if @account_entry.parent %>
    <tr>
      <td>
        Parent
      </td>
      <td>
        <%= link_to @account_entry.parent %>
      </td>
    </tr>
    <% end %>

    <% if @account_entry.fund_formula %>
    <tr>
      <td>
        Formula
      </td>
      <td>
        <%= link_to @account_entry.fund_formula %>      
      </td>
    </tr>
    <% end %>

    <tr>
      <td>
        Amount
      </td>
      <td>
        <% if @account_entry.name.include?("Percentage") %>
          <%= @account_entry.amount_cents %> %
        <% else %>
          <%= money_to_currency @account_entry.amount, params %>
        <% end %>
      </td>
    </tr>

    <% if @account_entry.fund.has_tracking_currency? %>
      <tr>
        <td>
          Tracking Currency
        </td>
        <td>
          <%= @account_entry.fund.tracking_currency %>
        </td>
      </tr>
      <tr>
        <td>
          Amount in Tracking Currency
        </td>
        <td>
          <%= money_to_currency @account_entry.tracking_amount, params %>
        </td>
      </tr>
    <% end %>

    <%= display_custom_fields(@account_entry, collapsed: false) if current_user %>

    <tr>
      <td>
        Notes
      </td>
      <td>
        <%= @account_entry.notes %>
      </td>
    </tr>

    <% if @account_entry.exchange_rate %>
    <tr>
      <td>
        Exchange Rate
      </td>
      <td>
        <%= link_to @account_entry.exchange_rate %>
      </td>
    </tr>
    <% end %>

    <% if @account_entry.explanation.present? %>
    <tr>
      <td>
        Explanation
      </td>
      <td>
        <% @account_entry.explanation.each do |exp| %>
          <% if parse_json(exp) %>
            <div class="hscrollable">
              <pre class="text-primary"><%= raw JSON.pretty_generate(parse_json(exp.presence), options = {}) %></pre>
            </div>
          <% else %>
            <div><%= exp %></div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>

<% end %>

<div>
    <%= link_to  t_common(:edit), edit_account_entry_path(@account_entry), {class: "btn btn-outline-primary ti ti-eye"} if policy(@account_entry).update? %> 
    <%= button_to t_common(:delete), @account_entry, method: :delete, class: "btn btn-outline-danger ti ti-trash", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@account_entry).destroy? %>
</div>
