<tr id="<%= dom_id capital_remittance %>">
  <td>
    <%= link_to capital_remittance.fund.name, capital_remittance.fund %>
  </td>
  <td>
    <%= link_to capital_remittance.capital_call.name, capital_remittance.capital_call %>
  </td>
  <td>
    <%= link_to capital_remittance.investor.investor_name, capital_remittance.investor %>
  </td>
  <td>
    <%= render DisplayBooleanComponent.new(bool: capital_remittance.status == "Paid").
        with_content(capital_remittance.status) if capital_remittance.status %>
  </td>
  <td>
    <%= money_to_currency (capital_remittance.due_amount), params %>
    <div class="hideMobP">
      <small class="text-muted hideMobP">
      <%= money_to_currency capital_remittance.capital_commitment.committed_amount, params %> x 
      <%= capital_remittance.capital_call.percentage_called %> % -
      <%= money_to_currency capital_remittance.collected_amount, params %>
      </small>
    </div>
  </td>
  <td>
    <%= money_to_currency capital_remittance.collected_amount, params %>
  </td>
  <td>
    <%= link_to "Show" , capital_remittance , {class: "btn btn-primary" }%>
    <%= link_to "Edit" , edit_capital_remittance_path(capital_remittance) , {class: "btn btn-success" } if policy(capital_remittance).update? %>
  </td>
</tr>