
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Deal</h6>
  </div>
  <div class="card-body">

<%= form_with(model: deal, validate: true) do |form| %>
  <% if deal.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
        <% deal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "E.x Series A"  %>
  </div>

  <div class="form-group">
    <%= form.label "Amount to be raised" %>
    <%= form.number_field :amount, class: "form-control", placeholder: "Expected amount to be raised"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Deal::STATUS, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.select :currency, ENV["CURRENCY"].split(","), {}, class: "form-control"  %>
  </div>

  <%= custom_form_fields(deal, form) %>

  <div class="form-group">
    <%= form.label :archived %>
    <%= form.check_box :archived, class: "form-control form-checkbox"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>

  </div>
</div>