<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @form_type.name %>
      </td>
    </tr>

    <% @form_type.form_custom_fields.each do |f| %>
      <tr>
        <td>
          <%= f.name %>
        </td>
        <td>
          <%= f.field_type %>  : 
          <%= f.required ? "Required" : "Not Required" %>  
          <%= f.meta_data %>
        </td>
      </tr>
    <% end %>


  </table>


  <div>
    <%= link_to "Edit" , edit_form_type_path(@form_type), {class: "btn btn-primary" } %> |
    <%= link_to "Back" , :back, {class: "btn btn-primary" } %> |

    <%= button_to "Delete" , @form_type, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
  </div>