<tr id="<%= dom_id investor_kyc_sebi_data %>">
  <td>
    <%= investor_kyc_sebi_data.investor_kyc.full_name %>
  </td>
  <td>
    <%= investor_kyc_sebi_data.investor_category %>
  </td>
  <td>
    <%= investor_kyc_sebi_data.investor_sub_category %>
  </td>
  <td>
    <%= link_to "Show", investor_kyc_sebi_data , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
