


  <div class="col-lg-12">
    <div class="card w-100">
      <div class="card-body">
        <div class="mb-9">
          <div class="mb-3 mb-sm-0">
            <div class="row">
              <%= image_tag interest.entity.logo.url(expires_in: 60*60*24*7), class: "col cc-card-logo" if interest.entity.logo %>
              <div class="col">
                <h4 class="card-title fw-semibold">
                  <%= link_to "#{interest.secondary_sale.name}: #{interest.entity.name}", interest %>
                </h4>
                <span class="fs3 mb-1">
                  <%= interest.investor.investor_name if interest.investor %>
                </span>
              </div>
            </div>
            <div class="row mt-3 mb-3">
              <div class="col">
                <%= render "/interests/interest_steps", interest:, progressbar: true %>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-md-4">
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-user text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= interest.buyer_entity_name %></h4>
                    <p class="fs-3 mb-0">User</p>
                  </div>
                </div>
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-mail text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= interest.buyer_signatory_emails.presence || "N/A" %></h4>
                    <p class="fs-3 mb-0">Esign Email</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-grid-dots text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= interest.quantity %></h4>
                    <p class="fs-3 mb-0">Buy Quantity</p>
                  </div>
                </div>
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-currency-dollar text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= money_to_currency interest.amount %></h4>
                    <p class="fs-3 mb-0">Buy Amount</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-grid-dots text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= interest.allocation_quantity %></h4>
                    <p class="fs-3 mb-0">Allocation Quantity</p>
                  </div>
                </div>
                <div class="hstack mb-4 pb-1">
                  <div class="p-8 bg-primary-subtle rounded-1 me-3 d-flex align-items-center justify-content-center">
                    <i class="ti ti-currency-dollar text-primary fs-6"></i>
                  </div>
                  <div class="text-wrap" >
                    <h4 class="mb-0 fs-6"><%= money_to_currency(interest.allocation_amount) %></h4>
                    <p class="fs-3 mb-0">Allocation Amount</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row align-items-center">
              <div class="col">
                <%= link_to  t_common(:show) , interest_path(interest), {class: "btn btn-outline-primary ti ti-eye" } %>
                <% if policy(interest).update? %>
                  <%= link_to  t_common(:edit) , edit_interest_path(interest), {class: "btn btn-outline-primary ti ti-edit" } %>
                <% end %>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<% params[:force_units] = nil %>
