<%= turbo_frame_tag "tf_#{dom_id(interest)}", class: "divTableRow #{cycle('even', 'odd')}" do %>

    <div class="divTableCell">
        <span class="badge <%= interest.short_listed ? 'bg-success' : 'bg-warning' %>">
            <%= interest.short_listed ?  "Yes" : "No" %>
        </span>
    </div>

    <div class="divTableCell">
        <%= interest.aquirer_name %> <br>
        <% email = interest.email.present? ? interest.email : interest.user.email %>
        <% user_name = interest.contact_name.present? ? interest.contact_name : interest.user.full_name %>
        <%= link_to email, "mailto:#{email}?body=Dear #{user_name}. View your interest at #{interest_url(interest)}", target: "_blank" if interest.user %> 
        <br>
        <%= interest.properties if params[:debug].present? %>
    </div>
    <div class="divTableCell"><%= custom_format_number(interest.quantity, params) %></div>
    <div class="divTableCell"><%= custom_format_number(interest.price, params) %></div>
    <div class="divTableCell">
        <%= interest.PAN %>
        <%#= render "/layouts/attachments" , attachments: [interest.id_proof] if interest.id_proof.present? %>
    </div>

    <div class="divTableCell"><%= interest.allocation_percentage %></div>
    <div class="divTableCell"><%= interest.allocation_quantity %></div>
    <div class="divTableCell"><%= money_to_currency(interest.allocation_amount, params) %></div>
    <div class="divTableCell">
        <%= interest.offer_quantity %>
        <div class="text-danger small">
            <%= (interest.offer_quantity - interest.allocation_quantity) != 0 ? "Mismatch Found" : "" %>
        </div>
    </div>
    <div class="divTableCell"><%= money_to_currency(interest.offer_amount, params) %></div>
    <div class="divTableCell">
        <span class="badge <%= interest.verified ? 'bg-success' : 'bg-warning' %>">
            <%= interest.verified ?  "Yes" : "No" %>
        </span>
    </div>
    <div class="divTableCell"><%= interest.comments %></div>
    <div class="divTableCell">
        <%= link_to "Show", interest, class: "btn btn-primary", target: '_top' %>
        <%= link_to "Edit", allocation_form_interest_path(interest), data: { turbo_frame: "tf_#{dom_id(interest)}" }, class: "btn btn-success" unless interest.secondary_sale.finalized %>
    </div>

<% end %>