<% secondary_sale = @secondary_sale %>
<% secondary_sale_id = @secondary_sale&.id || params[secondary_sale_id] %>


<% if params[:card].present? %>
    <div class="row">
        <% @interests.each do |interest| %>
            <%= render "/interests/card", interest:  %>
        <% end %>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <%= raw pagy_info(@pagy) %>
        <%= raw pagy_bootstrap_nav(@pagy, anchor_string: %(data-turbo-frame="interests_frame" data-remote="true")) %>
    </div>
<% else %>

    <%= render "interests/index_header", secondary_sale: @secondary_sale, secondary_sale_id: %>

    <div class="table-responsive">
        <table id="interests" class="table table-bordered dataTable">

            <thead>
                <tr>
                    <th>
                        <%= sort_link @q, "buyer_entity_name", "Buyer Entity" %>
                    </th>

                    <th>
                        <%= sort_link @q, "investor_investor_name", "Stakeholder" %>
                    </th>

                    <th>
                        <%= sort_link @q, :user_first_name, "User" %>
                    </th>
                    
                    <th>
                        <%= sort_link @q, :quantity %>
                    </th>
                    <th>
                        <%= sort_link @q, :price, "Price" %>
                    </th>

                    <th>                        
                        <%= sort_link @q, "allocation_quantity" %>
                    </th>
                                        
                    <th>                        
                        <%= sort_link @q, :allocation_amount, "Allocation Amount" %>
                    </th>

                    <th>
                        <%= sort_link @q, "short_listed_status", "Status" %>
                    </th>
                    <th>
                        <%= sort_link @q, :verified %>
                    </th>
                    <th>
                        <%= sort_link @q, :created_at %>
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>

            <tbody>
                <% interests.each do |interest| %>
                    <%= render "/interests/interest", interest:, secondary_sale: %>
                <% end %>
            </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center">
            <%= raw pagy_info(@pagy) %>
            <%= raw pagy_bootstrap_nav(@pagy, anchor_string: %(data-turbo-frame="interests_frame" data-remote="true")) %>
        </div>
    </div>

<% end %>

