<% secondary_sale = @secondary_sale %>

<%= render "/interests/stats", secondary_sale: @secondary_sale if @secondary_sale && policy(@secondary_sale).owner? %>
<%= render "/layouts/filter", associations: [:interest_entity, :secondary_sale] %>

<% if params[:card].present? %>
    <div class="row">
        <% @interests.each do |interest| %>
            <%= render "/interests/card", interest:  %>
        <% end %>
    </div>
    <%= paginate @interests.page(params[:page]) %>
<% else %>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Interests</h1>
        
        <span>

            <% if @secondary_sale %>
                <% if policy(@secondary_sale).update? %>
                    
                    <%= link_to "New Interest" , new_interest_path("interest[secondary_sale_id]": @secondary_sale.id), {class: "btn btn-outline-primary" } %>

                    <%= link_to "Upload Interests", 
                        new_import_upload_path("import_upload[owner_id]": @secondary_sale.id, 
                        "import_upload[owner_type]": "SecondarySale", 
                        "import_upload[import_type]": "Interest", 
                        "sample_upload": "INTERESTS_SAMPLE"), 
                        { class: "btn btn-outline-primary"}  %> 

                <% elsif policy(@secondary_sale).buyer? %>
                    <%= link_to "New Interest" , new_interest_path("interest[secondary_sale_id]": @secondary_sale.id), {class: "btn btn-outline-primary" } %>
                <% end %>

            <% end %>

            <%= link_to "Download", interests_path(secondary_sale_id: @secondary_sale&.id, format: :xlsx), {class: "btn btn-outline-success"} %>
        </span>
    </div>

    <div class="table-responsive" data-controller="datatable">
        <table id="interests" class="table table-bordered dataTable jqDataTable">

            <thead>
                <tr>
                    <th>
                        Interest Entity
                    </th>

                    <th>
                        User
                    </th>

                    <th>
                        Type
                    </th>

                    <th>
                        Quantity
                    </th>
                    <th>
                        Interest Price
                    </th>
                    <% if secondary_sale && belongs_to_entity_id?(current_user, secondary_sale.entity_id) %>

                        <th>
                            Potential Allocation
                        </th>
                        <th>
                            Potential Allocation %
                        </th>

                    <% end %>
                    <th>
                        Actually Offered
                    </th>
                    <th>
                        Final Price
                    </th>
                    <th>
                        Allocation Amount
                    </th>

                    <th>
                        Shortlisted
                    </th>
                    <th>
                        Escrow Deposited
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>

            <tbody>
                <% interests.each do |interest| %>
                    <%= render interest, secondary_sale: secondary_sale %>
                <% end %>
            </tbody>
        </table>
    </div>

<% end %>
