<tr id="<%= dom_id interest %>">
  <td>
    <%= interest.buyer_entity_name  %>
  </td>
  <td>
    <%= interest.investor.investor_name  %>
  </td>
  <td>
    <%= interest.user&.full_name  %>
  </td>
  <td>
    <%= custom_format_number interest.quantity, params %>
  </td>
  <td>
    <%= custom_format_number interest.price, params %>
  </td>

  <td>
    <%= custom_format_number interest.allocation_quantity, params %>
  </td>

  
  <td>
    <%= money_to_currency interest.allocation_amount, params %>
  </td>
  

  <td id="short_listed">
    <span class=" badge <%=short_listed_css(interest)%>">
      <%= interest.short_listed_status.humanize %>
    </span>
  </td>
  <td id="escrow_deposited">
    <%= display_boolean interest.escrow_deposited %>
  </td>
  <td>
    <%= l interest.created_at %>
  </td>
  
  <td>
    <%= link_to "Show" , interest , {class: "btn btn-outline-primary" }%>
   
    <% if policy(interest).short_list? %>
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change Status
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= button_to "Shortlist" , short_list_interest_path(interest, short_listed_status: :short_listed), method: :patch, class: "dropdown-item" , form_class: "deleteButton" %>
        <%= button_to "Reject" , short_list_interest_path(interest, short_listed_status: :rejected), method: :patch, class: "dropdown-item" , form_class: "deleteButton" %>
        <%= button_to "Pending" , short_list_interest_path(interest, short_listed_status: :pending), method: :patch, class: "dropdown-item" , form_class: "deleteButton" %>
      </div>
    </div>
    <% end %>

  </td>
</tr>