<div class="associated_entity" data-controller="tabs tabdetails">

  
  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"><%= t('secondaries_tabs.interest_documents') %></a>
    <% if interest.allocation_quantity > 0 %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#transaction-docs-tab"><%= t('secondaries_tabs.transaction_documents') %></a>
    <% end %>
    <% if policy(interest.secondary_sale).owner? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#changes-tab"><%= t('secondaries_tabs.changes') %></a>
    <% end %>
  </nav>

  <div class="tab-content" data-controller="datatable">

      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          
          <% msg = interest.secondary_sale.buyer_doc_list.present? ? "Documents Required: #{interest.secondary_sale.buyer_doc_list}" : nil %>

          <% documents = if current_user.entity_id == interest.entity_id
              interest.documents.includes(:folder)
            else
              Document.generated_approved_or_others(interest)
            end
          %>

          <%= render "/documents/index", documents: documents, owner: interest, 
              entity: interest.entity, msg: msg, title: "Interest Documents" %>
        </div>
      
      </div>

      <% if interest.allocation_quantity > 0 %>
        <div id="transaction-docs-tab" class="tab-pane fade in">
          <div id="transaction_docs" class="associated_entity">
            <%= render "/documents/index", documents: @interest.transaction_documents.approved, msg: nil, title: "Transaction Documents" %>
          </div>
        </div>
      <% end %>      

      <% if policy(interest.secondary_sale).owner? %>
      <div id="changes-tab" class="tab-pane fade">
        <div id="messages" class="associated_entity">
          <%= render "/interests/changes", interest: interest %>
        </div>  
      </div>
      <% end %>


  </div>

</div>
