<tr id="<%= dom_id interest %>">
  <td>
    <%= interest.buyer_entity_name  %>
  </td>
  <td>
    <%= interest.investor&.investor_name  %>
  </td>
  <td>
    <%= interest.user&.full_name  %>
  </td>
  <td>
    <%= custom_format_number interest.quantity, params %>
  </td>
  <td>
    <%= custom_format_number interest.price, params %>
  </td>

  <td>
    <%= custom_format_number interest.allocation_quantity, params %>
  </td>

  
  <td>
    <%= money_to_currency interest.allocation_amount, params %>
  </td>
  

  <td id="short_listed">
    <span class=" badge <%=short_listed_css(interest)%>">
      <%= interest.short_listed_status.humanize %>
    </span>
  </td>
  <td id="verified">
    <%= display_boolean interest.verified %>
  </td>
  <td>
    <%= l interest.created_at %>
  </td>
  
  <td>
    <%= link_to  t_common(:show) , interest , {class: "btn btn-outline-primary ti ti-eye" }%>
   
    <% if policy(interest).short_list? %>
    <div class="dropdown position-static">
      <button class="btn btn-outline-success dropdown-toggle ti ti-arrows-shuffle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('secondaries_actions.change_status') %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if policy(interest.secondary_sale).owner? %>
          <%= button_to t('secondaries_actions.shortlist') , short_list_interest_path(interest, short_listed_status: :short_listed), method: :patch, class: "dropdown-item ti ti-star" , form_class: "deleteButton" %>
          <%= button_to t('secondaries_actions.reject') , short_list_interest_path(interest, short_listed_status: :rejected), method: :patch, class: "dropdown-item ti ti-x" , form_class: "deleteButton" %>
          <%= button_to t('secondaries_actions.pending') , short_list_interest_path(interest, short_listed_status: :pending), method: :patch, class: "dropdown-item ti ti-clock" , form_class: "deleteButton" %>
        <% end %>
        <%= button_to t('secondaries_actions.withdraw') , short_list_interest_path(interest, short_listed_status: :withdrawn), method: :patch, data: {msg: "This will mark the interest as Withdrawn and it will not be included in future allocations. Proceed?", action: "click->confirm#popup", method: :patch}, class: "dropdown-item ti ti-circle-off" , form_class: "deleteButton" %>
      </div>
    </div>
    <% end %>

  </td>
</tr>