<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Interest: <%= interest.secondary_sale.name %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">

    <table class="table table-bordered dataTable">

        <tr>
          <td>
            Entity
          </td>
          <td>
            <%= interest.entity.name %>
          </td>
        </tr>

        <tr>
          <td>
            Name
          </td>
          <td>
            <%= interest.buyer_entity_name.presence %>
          </td>
        </tr>

        <tr>
          <td>
            Investor
          </td>
          <td>
            <%= interest.investor.investor_name %>
          </td>
        </tr>


        <tr>
          <td>
            User
          </td>
          <td>
            <%= interest.user&.full_name %>
          </td>
        </tr>

      
        <tr>
          <td>
            Secondary Sale
          </td>
          <td>
            <%= link_to interest.secondary_sale.name, interest.secondary_sale %> :
            <%= l interest.secondary_sale.start_date %> - <%= l interest.secondary_sale.end_date %>
          </td>
        </tr>
        <tr>
          <td>
            Quantity
          </td>
          <td>
            <%= custom_format_number interest.quantity, params %>
          </td>
        </tr>
        <tr>
          <td>
            Price
          </td>
          <td>
            <%= custom_format_number interest.price, params %>
          </td>
        </tr>
        <tr>
          <td>
            Details
          </td>
          <td>
            <%= interest.details %>
          </td>
        </tr>

        <tr id="short_listed">
          <td>
            Shortlisted
          </td>
          <td>
            <span class="badge <%= interest.short_listed ? 'bg-success' : 'bg-warning' %>">
              <%= interest.short_listed_status.humanize %>
            </span>
          </td>
        </tr>
        <tr id="escrow_deposited">
          <td>
            Escrow Deposited
          </td>
          <td>
            <span class="badge <%= interest.escrow_deposited? ? 'bg-success' : 'bg-warning' %>">
              <%= interest.escrow_deposited? ? "Yes" : "No" %>
            </span>
          </td>
        </tr>        

        <% if interest.allocation_quantity > 0 %>
        <tr>
          <td colspan="2" class="bg-primary"></td>
        </tr>
        <tr>
          <td>
            Allocated Quantity
          </td>
          <td>
            <%= interest.allocation_quantity %>
          </td>
        </tr>
        
        <tr>
          <td>
            Allocation Amount
          </td>
          <td>
            <%= money_to_currency interest.allocation_amount, params %>
          </td>
        </tr>
        
      <% end %>


        <% if interest.buyer_entity_name.present? %>

          <tr>
            <td colspan="2" class="bg-primary"></td>
          </tr>
          <tr>
            <td>
              Buyer Entity Name
            </td>
            <td>
              <%= interest.buyer_entity_name %>
            </td>
          </tr>
          <tr>
            <td>
              Contact Name
            </td>
            <td>
              <%= interest.contact_name %>
            </td>
          </tr>

          <tr>
            <td>
              Buyer Emails for ESignatures
            </td>
            <td>
              <%= interest.buyer_signatory_emails %>
            </td>
          </tr>
          <tr>
            <td>
              Address
            </td>
            <td>
              <%= interest.address %>
            </td>
          </tr>

          <tr>
            <td>
              City
            </td>
            <td>
              <%= interest.city %>
            </td>
          </tr>

          <tr>
            <td>
              PAN
            </td>
            <td>
              <%= interest.PAN %>
              <br>
              <% show_pan_verification = !interest.secondary_sale.disable_pan_kyc && interest.entity.entity_setting.pan_verification %>
              <% if show_pan_verification && current_user%>
              <%= render "investor_kycs/pan_verification", model: interest %>
              <% end %>
            </td>
          </tr>

          <% if params[:debug].present? %>
            <tr>
              <td>
                PAN Verification Response
              </td>
              <td>
                <%= interest.pan_verification_response %>
              </td>
            </tr>
            <tr>
              <td>
                PAN Verification Status
              </td>
              <td>
                <%= interest.pan_verification_status %>
              </td>
            </tr>
          <% end %>

          <tr>
            <td>
              Demat
            </td>
            <td>
              <%= interest.demat %>
            </td>
          </tr>

          <tr>
            <td>
              Bank Account Number
            </td>
            <td>
              <%= interest.bank_account_number %>
              <br>
              <%= render "investor_kycs/bank_verification", model: interest if current_user && !interest.secondary_sale.disable_bank_kyc %>
            </td>
          </tr>
          <tr>

          <tr>
            <td>
              IFSC Code
            </td>
            <td>
              <%= interest.ifsc_code %>
            </td>
          </tr>

          <% if params[:debug].present? %>
            <tr>
              <td>
                Bank Verification Response
              </td>
              <td>
                <%= interest.bank_verification_response %>
              </td>
            </tr>
            <tr>
              <td>
                Bank Verification Status
              </td>
              <td>
                <%= interest.bank_verification_status %>
              </td>
            </tr>
          <% end %>

          <tr id="completed">
            <td>
              Completed
            </td>
            <td>
              <%= display_boolean(interest.completed) %>
            </td>
          </tr>

          <tr>
            <td>
              I agree to enter into the SPA
            </td>
            <td>
              <span class="badge <%= interest.final_agreement ? 'bg-success' : 'bg-warning' %>">
                <%= interest.final_agreement ? "Yes" : "No" %>
              </span>
              <% if interest.final_agreement_user %>
                <small>Accepted By: <%= interest.final_agreement_user.full_name %></small>
              <% end %>
            </td>
          </tr>

        <% end %>

        <%= display_custom_fields(interest) if current_user %>

    </table>

  </div>
</div>
