
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Interest Completion Report: <%= link_to @secondary_sale.name, @secondary_sale %></h1>

    <span>
    <% if @secondary_sale %>
        <%= link_to t('secondaries_actions.download_report'), interests_secondary_sale_path(@secondary_sale, format: "xlsx", report: "completion_report"), class: "btn btn-outline-success btn-outline-sm"  %>
        |
        <%= link_to t('secondaries_actions.not_shortlisted'), interests_secondary_sale_path(@secondary_sale, short_listed: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        <%= link_to t('secondaries_actions.no_signature'), interests_secondary_sale_path(@secondary_sale, signature: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        |
        
        <%= link_to t('secondaries_actions.spa_not_accepted'), interests_secondary_sale_path(@secondary_sale, final_agreement: false, report: "completion_report"), class: "btn btn-outline-warning btn-outline-sm"  %>
        |
        <%= link_to t_common(:all), interests_secondary_sale_path(@secondary_sale, report: "completion_report"), class: "btn btn-outline-success btn-outline-sm"  %>

    <% end %>
    </span>
</div>

<div class="table-responsive" data-controller="datatable">

    <table id="interests" class="table table-bordered dataTable">
        <thead>
            <tr>
                <th>
                    Interest ID
                </th>
                <th>
                    Buyer Entity Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Sign In Count
                </th>
                <th>
                    Completed
                </th>

                <th>
                    Shortlisted
                </th>

                <th>
                    Signature Uploaded
                </th>
                <th>
                    SPA Accepted
                </th>
                <th>
                    Documents Uploaded
                </th>
            </tr>
        </thead>
    
        <tbody>
            <% @interests.includes(:user, :documents).each do |o| %>
            <tr>
                <td><%= link_to o.id, o %></td>
                <td><%= o.buyer_entity_name %></td>
                <td><%= o.email %></td>
                <td><%= o.user&.sign_in_count %></td>
                <td><%= display_boolean o.completed %></td>
                <td><%= display_boolean o.short_listed %></td>
                <td>
                    <% signature_present =  o.signature.present? || o.documents.any?{|d| d.name == "Signature"} %>
                    <%= display_boolean signature_present %>
                    <br>
                    <%= image_tag o.signature_url, 
                    style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if o.signature.present? %>
                </td>
                <td>
                    <%= display_boolean o.final_agreement %>                    
                </td>
                <td>
                    <%= o.documents.collect(&:name).join(", ") %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
</div>


