<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Finalize Interest Allocations: <%= link_to @secondary_sale.name, @secondary_sale %></h1>

    <span>
        
        <% if @secondary_sale %>

            <%= link_to download_secondary_sale_path(@secondary_sale, format: "xlsx"), 
                                                    {class: "btn btn-outline-success"  } do %> 
                    <i class="fa-lg fa-regular fa-file-excel"></i> Download
            <% end %>

            <%= link_to "Filter",
                finalize_interest_allocation_secondary_sale_path(@secondary_sale, filter: true), 
                {class: "btn btn-outline-success" } %> 

            <%= link_to "Offer Allocations",
                finalize_offer_allocation_secondary_sale_path(@secondary_sale), 
                {class: "btn btn-outline-success" }  %> 
              
            <% label = @secondary_sale.lock_allocations ? 'Unlock Allocations' : 'Lock Allocations' %>
            <%= button_to label , lock_allocations_secondary_sale_path(@secondary_sale),    
                        {class: "btn btn-outline-danger", method: :patch} %> 
        
        <% end %>

    </span>
</div>


<%= render "/layouts/filter", associations: [:investor], 
    url: finalize_interest_allocation_secondary_sale_path(@secondary_sale), hidden_fields: {secondary_sale_id: @secondary_sale.id} %>

<div class="table-responsive">

<div class="divTable minimalistBlack">
    <div class="divTableHeading datatable jqDataTable">
        <div class="divTableRow thead">
            <div class="divTableHead"><%= sort_link(@q, :short_listed, "Short Listed") %></div>
            <div class="divTableHead"><%= sort_link(@q, :entity, "Entity") %></div>
            <div class="divTableHead"><%= sort_link(@q, :quantity, "Quantity") %></div>
            <div class="divTableHead"><%= sort_link(@q, :price_percentage, "Price") %></div>
            <div class="divTableHead"><%= sort_link(@q, :pan, "PAN") %></div>
            <div class="divTableHead"><%= sort_link(@q, :potential_allocation_percentage, "Potential Allocation %") %></div>
            <div class="divTableHead"><%= sort_link(@q, :potential_allocation, "Potential Allocation") %></div>
            <div class="divTableHead"><%= sort_link(@q, :potential_amount, "Potential Amount") %></div>
            <div class="divTableHead"><%= sort_link(@q, :actually_offered, "Actually Offered") %></div>
            <div class="divTableHead"><%= sort_link(@q, :actually_offered_amount, "Actually Offered Amount") %></div>
            <div class="divTableHead"><%= sort_link(@q, :verified, "Verified") %></div>
            <div class="divTableHead"><%= sort_link(@q, :comments, "Comments") %></div>
            <div class="divTableHead">Action</div>

        </div>
    </div>
    <div class="divTableBody tbody">
        <% @interests.each do |interest| %>
            <%= render "interests/final_interest", interest: interest %>
        <% end %>        
    </div>
    
</div>

<%=paginate @interests %>

</div>