  

  <% if policy(@interest).finalize? %>
    <%= render "/layouts/steps", steps: ["Review your interest details below", 
            "Add details and documents, by clicking 'Edit' below",
            "Finalize your interest by clicking 'Finalize' below", 
            "Wait for communication from #{@interest.secondary_sale.entity.name}"].freeze %>
  <% end %>


  <%= render "/interests/show", interest: @interest %>

  <div>
    <% if policy(@interest).update? %>
      <%= link_to "Edit" , edit_interest_path(@interest), {class: "btn btn-outline-primary" } %> 
      <%= button_to "Delete" , @interest, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    <% end %>

    <% popupMsg = "This will mark your acceptance of the final price, allocated quantity and terms of the sale. No more modifications will be allowed from here on. Please ensure all documents have been uploaded before proceeding." %>


    <%= button_to "Accept SPA" , accept_spa_interest_path(@interest), 
        method: :patch, class: "btn btn-outline-success" , 
        form_class: "deleteButton",data: {action: "click->confirm#popup", method: :patch, turbo: false, msg: "I confirm that I accept all the SPAs with respect to the matched offer(s)."} if policy(@interest).accept_spa? %>

    <%= link_to "Matched Offers", matched_offers_interest_path(@interest), 
        {class: "btn btn-outline-primary" } if current_user && policy(@interest).matched_offers? %> 

    <%= link_to "Potential Matches", 
        search_offers_path(query: @interest.custom_matching_vals, secondary_sale_id: @interest.secondary_sale_id, finalize_allocation: true), 
        {class: "btn btn-outline-primary" } if current_user && belongs_to_entity_id?(current_user, @interest.entity_id) %> 

    <% if policy(@interest).generate_docs?  %>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Generate Document
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= button_to "All Docs",
                generate_docs_interest_path(@interest),
                class: "dropdown-item",
                data: {action: "click->confirm#popup",
                msg: "Document generation will take a few min, please be patient. Proceed?", method: :patch } %>

          <% @interest.secondary_sale.documents.templates.where(owner_tag: "Buyer Template").each do |template| %>

            <%= button_to template.name,
                generate_docs_interest_path(@interest, template_id: template.id),
                class: "dropdown-item",
                data: {action: "click->confirm#popup",
                msg: "Document generation will take a few min, please be patient. Proceed?", method: :patch } %>

          <% end %>

        </div>
      </div>
    </div>
    <% end %>
    
  </div>

  <%= render "interests/interest_details", interest: @interest %>