<div class="associated_entity" data-controller="tabs tabdetails">
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>
    <% if expression_of_interest.entity.enable_kycs %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#kycs-tab" 
                data-action="click->tabdetails#loadData">
        KYC
      </a>
    <% end %>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#tasks-tab" 
          data-action="click->tabdetails#loadData">
      Tasks
    </a>
    <% if params[:debug].present? %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#esigns-tab" 
                data-action="click->tabdetails#loadData">
        eSigns
      </a>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#signature-workflows-tab" 
                  data-action="click->tabdetails#loadData">
        Signature Workflows
      </a>
    <% end %>
  </nav>

  <div class="tab-content" data-controller="datatable">
    <div id="docs-tab" class="tab-pane fade in show active">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: expression_of_interest.documents, 
                owner: expression_of_interest, entity: expression_of_interest.entity,
                msg: expression_of_interest.investment_opportunity.buyer_docs_list %>
      </div>
    </div>

    <div id="kycs-tab" class="tab-pane fade">
      <div id="kycs" class="associated_entity">
        <%= render "investor_kycs/index", data_source: investor_kycs_path(investor_id: expression_of_interest.investor_id, all: true), lazy_load_data: false %>
      </div>
    </div>

    <div id="esigns-tab" class="tab-pane fade">
      <div id="esigns" class="associated_entity">
        <%= link_to esigns_path( owner_id: expression_of_interest.id, owner_type: "ExpressionOfInterest"), 
                                        class: "load_data_link", 
                                        data: { turbo_frame: 'esigns_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "esigns_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="signature-workflows-tab" class="tab-pane fade">
      <div id="signature_workflows" class="associated_entity">
        <%= link_to signature_workflows_path( owner_id: expression_of_interest.id, owner_type: "ExpressionOfInterest"), 
                                        class: "load_data_link", 
                                        data: { turbo_frame: 'signature_workflows_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "signature_workflows_list", target: "_top" do %>
        <% end %>
      </div>
    </div>

    <div id="tasks-tab" class="tab-pane fade">
      <div id="tasks" class="associated_entity">
        <% investor = expression_of_interest.investor %>
        <%= link_to tasks_path( for_entity_id: investor&.investor_entity_id, 
                                entity_id: expression_of_interest.entity_id,
                                owner_id: expression_of_interest.id, owner_type: "ExpressionOfInterest"), 
                                class: "load_data_link", 
                                data: { turbo_frame: 'task_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "task_list", target: "_top" do %>
        <% end %>
      </div>
    </div>
  </div>
</div>
