

<tr id="<%= dom_id expression_of_interest %>">
  <td>
    <%= expression_of_interest.user.full_name %>
  </td>
  <td>
    <%= expression_of_interest.investor.investor_name %>
  </td>
  <td>
    <%= money_to_currency expression_of_interest.amount, params %>
  </td>
  <td class="eoi_approved">
    <%= display_boolean expression_of_interest.approved %>
  </td>
  <td>
    <%= display_boolean expression_of_interest.verified %>
  </td>
  <td>
    <%= expression_of_interest.allocation_percentage %> %
  </td>
  <td>
    <%= money_to_currency expression_of_interest.allocation_amount, params %>
  </td>
  <td>
    <%= link_to  t_common(:show) , expression_of_interest , {class: "btn btn-outline-primary" }%>
    <% label = expression_of_interest.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_expression_of_interest_path(expression_of_interest), method: :patch, class: "btn btn-outline-success" , form_class: "deleteButton" if policy(expression_of_interest).approve? %>

  </td>
</tr>