<%= render FormCard.new(title: "Expression Of Interest") do %>

  <%= form_with(model: expression_of_interest, validate: true) do |form| %>
    <% if expression_of_interest.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(expression_of_interest.errors.count, "error") %> prohibited this expression_of_interest from being saved:</h2>

        <ul>
          <% expression_of_interest.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :investment_opportunity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>

    <div class="form-group">
      <% 
        disabled = !belongs_to_entity_id?(current_user, expression_of_interest.entity_id) 
        investors = expression_of_interest.entity.investors
      %>
      <%= form.label :investor_id %>
      <%= form.select :investor_id, investors.map{|i| [i.investor_name, i.id]}  ,{}, class: "form-control select2", disabled: disabled %>

      <%= form.text_field :investor_id, hidden: true if disabled %>
    </div>
    
    <% if current_user.has_cached_role?(:rm) %>
      <div class="form-group">
        <%= form.label :investor_name %>
        <%= form.text_field :investor_name, class: "form-control"  %>
        <span class="text-muted">Name identifying the Investor / Investor Group</span>
      </div>
      <div class="form-group">
        <%= form.label :investor_email %>
        <%= form.text_field :investor_email, class: "form-control"  %>
        <span class="text-muted">Email identifying the Investor / Investor Group</span>
      </div>
    <% end %>
    
    
    <% if expression_of_interest.investor && expression_of_interest.investor.investor_kycs.present? %>
    
      <div class="form-group">
        <%= form.label :investor_kyc %>
        <% investor_kycs = expression_of_interest.investor ? expression_of_interest.investor.investor_kycs.map{|e| [e.full_name, e.id]} : [] %>
        
        <%= form.select :investor_kyc_id, investor_kycs, {include_blank: true}, {class: 'form-control', data: { commitmentselect_target: "kycSelect" } } %>
        <span class="text-muted">Select the KYC for this investor</span>
      </div>        
    
    <% end %>

    <div class="form-group" data-controller="currencyformat">
      <%= form.label :amount %> <span class="formatted_currency"></span>
      <%= form.number_field :amount, class: "form-control", data: {action: "input->currencyformat#format"}  %>
      <small class="text-muted">Min ticket size is <%= money_to_currency(expression_of_interest.investment_opportunity.min_ticket_size, params) %></small> 
    </div>


    <div class="form-group">
      <%= form.label :details %>
      <%= form.rich_text_area :details, class: "form-control trix-content"  %>
    </div>


    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>