<%= turbo_frame_tag "new_scenario_investment" do %>

<%= render FormCard.new(title: "Scenario Investment", controller: "access", css_class: "dynamic_form") do %>
      
  <%= form_with(model: scenario_investment) do |form| %>
    <% if scenario_investment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(scenario_investment.errors.count, "error") %> prohibited this scenario_investment from being saved:</h2>

        <ul>
          <% scenario_investment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.text_field :entity_id, class: "form-control", hidden: true %>
      <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
      <%= form.text_field :portfolio_scenario_id, class: "form-control", hidden: true  %>
      <%= form.text_field :user_id, class: "form-control", hidden: true  %>

    <div class="row">

      <div class="form-group col">
        <%= form.label :transaction_date %>
        <%= form.date_field :transaction_date, class: "form-control"  %>
      </div>

      <div data-controller="select">

        <div class="form-group col">
          <%= form.label :portfolio_company_id %>
          <%= form.select :portfolio_company_id, scenario_investment.entity.investors.portfolio_companies.order(investor_name: :asc).map{|i| [i.investor_name, i.id]}, {include_blank: true}, class: "form-control", "data-action": "change->select#change", "data-target": "instrument_form_group", "data-url": "#{investment_instruments_path(investment_type: :scenario_investment)}", "data-param": "portfolio_company_id"  %>

          <small class="text-muted">
            Create <%= link_to "New Portfolio Company", 
              new_investor_path("investor[entity_id]": scenario_investment.entity_id, "investor[category]": "Portfolio Company",
                  "back_to": new_scenario_investment_path("scenario_investment[fund_id]": scenario_investment.fund_id,
                  "scenario_investment[entity_id]": scenario_investment.entity_id)) %>
          </small>
        </div>

      </div>

      
      <% investment_instruments = if scenario_investment.new_record? && scenario_investment.portfolio_company.blank?
                                    []
                                  else 
                                    scenario_investment.portfolio_company.investment_instruments
                                  end
      %>
      <div class="form-group" id="instrument_form_group">
        <%= form.label :investment_instrument_id, "Instrument" %>
        <% options = {include_blank: true} %>
        <%= form.select :investment_instrument_id, investment_instruments.map{|i| [i.name, i.id]}, options, class: "form-control", data: { select_target: "select" }  %>
      </div>

    </div>


    <div class="row">
      <div class="form-group col" data-controller="currencyformat">
        <%= form.label :price %><span class="formatted_currency"></span>
        <%= form.text_field :price, class: "form-control", data: {action: "input->currencyformat#format"} %>
      </div>

      <div class="form-group col">
        <%= form.label :quantity %>
        <%= form.text_field :quantity, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      <a class="btn btn-outline-danger", data-action="click->access#close">Close</a>
    </div>
  <% end %>

<% end %>

<% end %>