<%= turbo_frame_tag "new_scenario_investment" do %>

<div class="dynamic_form card shadow mb-4" data-controller="access">

  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Scenario Investment</h6>
  </div>
  <div class="card-body">
      
  <%= form_with(model: scenario_investment) do |form| %>
    <% if scenario_investment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(scenario_investment.errors.count, "error") %> prohibited this scenario_investment from being saved:</h2>

        <ul>
          <% scenario_investment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.text_field :entity_id, class: "form-control", hidden: true %>
      <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
      <%= form.text_field :portfolio_scenario_id, class: "form-control", hidden: true  %>
      <%= form.text_field :user_id, class: "form-control", hidden: true  %>

    <div class="row">

      <div class="form-group col">
        <%= form.label :transaction_date %>
        <%= form.date_field :transaction_date, class: "form-control"  %>
      </div>

      <div class="form-group col">
        <%= form.label :portfolio_company_id %>
        <%= form.select :portfolio_company_id, scenario_investment.entity.investors.portfolio_companies.order(investor_name: :asc).map{|i| [i.investor_name, i.id]}, {include_blank: true}, class: "form-control"  %>

        <small class="text-muted">
          Create <%= link_to "New Portfolio Company", 
            new_investor_path("investor[entity_id]": scenario_investment.entity_id, "investor[category]": "Portfolio Company",
                "back_to": new_scenario_investment_path("scenario_investment[fund_id]": scenario_investment.fund_id,
                "scenario_investment[entity_id]": scenario_investment.entity_id)) %>
        </small>
      </div>

    </div>

    
    <div class="row" data-controller="select" data-select-url-value="<%= sub_categories_portfolio_investments_path %>" data-select-param-value="category">

      <div class="form-group col">
        <%= form.label :category %>
        <%= form.select :category, PortfolioInvestment::CATEGORIES.keys.sort, {include_blank: true}, class: 'form-control',
            "data-action": "change->select#change" %>
        <small class="text-muted">Select the category (For SEBI Reports)</small>
      </div>

      <div class="form-group col">
        <% sub_categories = @scenario_investment.category.present? ? PortfolioInvestment::CATEGORIES[@scenario_investment.category] : ""  %>
        <%= form.label :sub_category %>
        <%= form.select :sub_category, sub_categories, {include_blank: true}, class: 'form-control', data: { select_target: "select" } %>
        <small class="text-muted">Select the sub category (For SEBI Reports)</small>
      </div>

    </div>

    <div class="row">
      <div class="form-group col" data-controller="currencyformat">
        <%= form.label :price %><span class="formatted_currency"></span>
        <%= form.text_field :price, class: "form-control", data: {action: "input->currencyformat#format"} %>
      </div>

      <div class="form-group col">
        <%= form.label :quantity %>
        <%= form.text_field :quantity, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
      <a class="btn btn-outline-danger", data-action="click->access#close">Close</a>
    </div>
  <% end %>

  </div>

</div>

<% end %>