<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= @funding_round.name %>
      </td>
    </tr>
    <tr>
      <td>
        Currency
      </td>
      <td>
        <%= @funding_round.currency %>
      </td>
    </tr>

    <tr>
      <td>
        Amount Raised
      </td>
      <td>
        <%= money_to_currency @funding_round.amount_raised, params %>
      </td>
    </tr>

    <tr>
      <td>
        Pre Money Valuation
      </td>
      <td>
        <%= money_to_currency @funding_round.pre_money_valuation, params %>
      </td>
    </tr>
    <tr>
      <td>
        Post Money Valuation
      </td>
      <td>
        <%= money_to_currency @funding_round.post_money_valuation, params %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @funding_round.entity.name %>
      </td>
    </tr>

    <tr>
      <td>
        Equity
      </td>
      <td>
        <%= custom_format_number @funding_round.equity, params %>
      </td>
    </tr>
    <tr>
      <td>
        Preferred
      </td>
      <td>
        <%= custom_format_number @funding_round.preferred, params %>
      </td>
    </tr>
    <tr>
      <td>
        Options
      </td>
      <td>
        <%= custom_format_number @funding_round.options, params %>
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= @funding_round.status %>
      </td>
    </tr>

    <tr>
      <td>
        Closed On
      </td>
      <td>
        <%= l @funding_round.closed_on if @funding_round.closed_on %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to "Edit" , edit_funding_round_path(@funding_round), {class: "btn btn-primary" } %> |
    <%= link_to "Funding Rounds" , funding_rounds_path, {class: "btn btn-primary" } %> |
    <%= button_to "Delete" , @funding_round, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  </div>

  <div class="associated_entity" data-controller="investments">
    <%= render "investments/index", investments: @funding_round.investments.includes(:investor), 
                      entity: @funding_round.entity, title: "Equity" %>
  </div>