<tr id="<%= dom_id investment_opportunity %>">
  <td>
    <%= investment_opportunity.entity_id %>
  </td>
  <td>
    <%= investment_opportunity.company_name %>
  </td>
  <td>
    <%= investment_opportunity.fund_raise_amount %>
  </td>
  <td>
    <%= investment_opportunity.valuation %>
  </td>
  <td>
    <%= investment_opportunity.min_ticket_size %>
  </td>
  <td>
    <%= investment_opportunity.last_date %>
  </td>
  <td>
    <%= investment_opportunity.currency %>
  </td>
  <td>
    <%= link_to "Show" , investment_opportunity , {class: "btn btn-primary" }%>
  </td>
</tr>