<% type = ["note-social", "note-important", "note-business"].sample %>
<div class="col-md-3 single-note-item all-category <%= type %>">
  <div class="card card-body">
    <span class="side-stick"></span>
    <h6 class="note-title text-truncate w-75 mb-0">
      <% if report.is_dynamic? %>
        <%= report.name %>
      <% else %>
        <%= link_to report.name, report.url, class: "fw-bolder" %>
      <% end %>
    </h6>
    <p class="note-date fs-2">
        <%= l report.updated_at %>
    </p>
    <span class="note-date fs-1"><%= report.category.presence || "N/A" %></span>
    <div class="note-content">
      <% label = report.description.presence || "Go To Report" %>
      <p class="note-inner-content" style="min-height:50px;"> <%= link_to label, report.url %> </p>
    </div>
    <div class="d-flex align-items-center">
        <% report.tag_list&.split(",")&.each do |tag| %>
            <%= link_to tag, reports_path(tag_list: tag, composite: true), class: "mb-1 badge rounded-pill font-medium bg-primary-subtle text-primary" %>
        <% end %>
      <div class="ms-auto">
        <div class="category-selector btn-group">
          <a class="nav-link category-dropdown label-group p-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
            <div class="category">
              <div class="category-business"></div>
              <div class="category-social"></div>
              <div class="category-important"></div>
              <span class="more-options text-dark">
                <i class="ti ti-dots-vertical fs-5"></i>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right category-menu">
            <a class="
                                  note-business
                                  badge-group-item badge-business
                                  dropdown-item
                                  position-relative
                                  category-business
                                  d-flex
                                  ti ti-eye
                                " href="<%= report_path(report) %>">Show</a>

            <% if policy(report).update? %>
              <a class="
                                    note-social
                                    badge-group-item badge-social
                                    dropdown-item
                                    position-relative
                                    category-social
                                    d-flex
                                    ti ti-edit
                                  " href="<%= edit_report_path(report) %>"> Edit</a>

                <% if report.allow_custom_grid_columns? %>

                <a class="
                                      note-social
                                      badge-group-item badge-social
                                      dropdown-item
                                      position-relative
                                      category-social
                                      d-flex
                                      ti ti-settings
                                    " href="<%= configure_grids_grid_view_preferences_path(owner_type: 'Report', owner_id: report.id) %>">Configure Grid</a>


                <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>