<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :user_id, class: "form-control", hidden: true  %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <% options = ["Remittances", "Commitments", "KPIs", "KYCs"].freeze %>
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control", list: 'category-list'  %>
    <datalist id="category-list" class="d-none">
        <%= options_for_select(options) %>
    </datalist>
    <small class="form-text text-muted">Separate categories with commas.</small>
  </div>

  <div class="form-group">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="form-text text-muted">Separate tags with commas.</small>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <div class="form-group">
    <% label = report.template_xls.blank? ? "Upload Sample Template" : link_to("Upload Sample Template: #{report.template_xls_name}", report.template_xls.url(response_content_disposition: "attachment; filename=#{report.template_xls_name}"), target: "_blank") %>

    <%= render "layouts/single_upload", form: form, field_label: label, 
                            for_model: "report", field_name: "template_xls", 
                            model: report, allowed_types: ["application/vnd.ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"].freeze  %>

  </div>

  <% if params[:debug].present? %>
  <div class="form-group">
    <%= form.label :template %>
    <%= form.text_area :template, class: "form-control", data: { controller: "json-formatter", json_formatter_target: "textarea" }  %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_area :url, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :metadata %>
    <%= form.text_area :metadata, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
