<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :user_id, class: "form-control", hidden: true  %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <% options = ["Remittances", "Commitments", "KPIs", "KYCs"].freeze %>
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control", list: 'category-list'  %>
    <datalist id="category-list" class="d-none">
        <%= options_for_select(options) %>
    </datalist>
    <small class="form-text text-muted">Separate categories with commas.</small>
  </div>

  <div class="form-group">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, class: "form-control"  %>
    <small class="form-text text-muted">Separate tags with commas.</small>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_area :url, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :metadata %>
    <%= form.text_area :metadata, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
