<tr id="<%= dom_id report %>">  
  <td>
    <%= link_to report.name, report.url %>
  </td>

  <td>
    <%= report.category %>
  </td>

  <td>
    <% report.tag_list&.split(",")&.each do |tag| %>
        <%= link_to tag, reports_path(tag_list: tag, composite: true), class: "badge bg-primary" %>
    <% end %>
  </td>
  
  <td>
    <%= report.description %>
  </td>
  <td>
    <%= link_to  t_common(:show), report , {class: "btn btn-outline-primary"}%>
    <% if policy(report).edit? %>    
      <%= link_to  t_common(:edit), edit_report_path(report), {class: "btn btn-outline-success"} %>
    <% end %>
  </td>
</tr>
