
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @report.entity_id %>
    </td>
  </tr>
  <tr>
    <td>
      User
    </td>
    <td>
      <%= @report.user_id %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <% if @report.is_dynamic? %>
        <%= @report.name %>
      <% else %>
        <%= link_to @report.name, @report.url %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Category
    </td>
    <td>
      <%= @report.category %>
    </td>
  </tr>
  <tr>
    <td>
      Tag List
    </td>
    <td>
      <% @report.tag_list&.split(",")&.each do |tag| %>
        <%= link_to tag, reports_path(tag_list: tag), class: "badge bg-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Description
    </td>
    <td>
      <%= @report.description %>
    </td>
  </tr>
  <tr>
    <td>
      Url
    </td>
    <td>
      <!-- Check if its a dynamic report ie has {some_param} in the url -->
      <% if @report.is_dynamic? %>        
        <%= @report.url %>
      <% else %>        
        <%= link_to @report.url, @report.url %>
      <% end %>
    </td>
  </tr>

  <% if @report.metadata.present? %>
  <tr>
    <td>
      Metadata
    </td>
    <td>
      <%= @report.metadata %>
    </td>
  </tr>
  <% end %>

</table>
<div>
  <% if policy(@report).edit? %>
    <%= link_to  t_common(:edit), edit_report_path(@report), {class: "btn btn-outline-primary"} %>
    <%= button_to t_common(:delete), @report, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  <% end %>
</div>
