<tr id="<%= dom_id permission %>">
  <td>
    <%= permission.user&.full_name %>
  </td>
  <td>
    <%= link_to permission.owner_type, "/#{permission.owner_type.underscore.pluralize}/#{permission.owner_id}" %>
  </td>
  <td>
    <%= permission.email %>
  </td>
  <td>
    <%= permission.permissions.to_human %>
  </td>
  <td>
    <%= permission.entity.name %>
  </td>
  <td>
    <%= permission.granted_by.full_name %>
  </td>
  <td>
    <%= link_to  t_common(:edit), edit_permission_path(permission) , {class: "btn btn-outline-primary"} if policy(permission).edit? %>
    <%= button_to t_common(:delete), permission, method: :delete, class: "btn btn-outline-danger", 
        form_class: "deleteButton" %>    
  </td>
</tr>