

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        User
      </td>
      <td>
        <%= @permission.user&.full_name %>
      </td>
    </tr>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= link_to @permission.owner_type, "/#{@permission.owner_type.underscore.pluralize}/#{@permission.owner_id}" %>
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <%= @permission.email %>
      </td>
    </tr>
    <tr>
      <td>
        Role
      </td>
      <td>
        <%= @permission.role %>
      </td>
    </tr>
    <tr>
      <td>
        Permissions
      </td>
      <td>
        <%= @permission.permissions.to_human %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @permission.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Granted By
      </td>
      <td>
        <%= @permission.granted_by.full_name %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to  t_common(:edit) , edit_permission_path(@permission), {class: "btn btn-outline-primary" } %> |
    <%= button_to t_common(:delete) , @permission, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton" ,
        data: {action: "click->confirm#popup" , turbo:false} %>
  </div>