<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @share_transfer.entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          From Investor
        </td>
        <td>
          <%= @share_transfer.from_investor&.investor_name %>
        </td>    
      </tr>
          <tr>
        <td>
          From User
        </td>
        <td>
          <%= @share_transfer.from_user&.full_name %>
        </td>    
      </tr>
          <tr>
        <td>
          From Investment
        </td>
        <td>
          <%= link_to "Investment #{@share_transfer.from_investment_id}", 
              investment_path(id: @share_transfer.from_investment_id) %>
        </td>    
      </tr>
          <tr>
        <td>
          To Investor
        </td>
        <td>
          <%= @share_transfer.to_investor.investor_name %>
        </td>    
      </tr>
          <tr>
        <td>
          To User
        </td>
        <td>
          <%= @share_transfer.to_user&.full_name %>
        </td>    
      </tr>
          <tr>
        <td>
          To Investment
        </td>
        <td>
          <%= link_to "Investment #{@share_transfer.to_investment_id}", 
              investment_path(id: @share_transfer.to_investment_id) %>
        </td>    
      </tr>
          <tr>
        <td>
          Quantity
        </td>
        <td>
          <%= @share_transfer.quantity %>
        </td>    
      </tr>
          <tr>
        <td>
          Price
        </td>
        <td>
          <%= @share_transfer.price %>
        </td>    
      </tr>
          <tr>
        <td>
          Transfer Date
        </td>
        <td>
          <%= @share_transfer.transfer_date %>
        </td>    
      </tr>
          <tr>
        <td>
          Transfered By
        </td>
        <td>
          <%= @share_transfer.transfered_by.full_name %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_share_transfer_path(@share_transfer), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @share_transfer, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
</div>
