<tr id="<%= dom_id excercise %>">
  <td>
    <%= excercise.user.full_name %>
  </td>
  <td>
    <%= excercise.option_pool.name %>
  </td>
  <td>
    <%= excercise.quantity %>
  </td>
  <td>
    <%= excercise.price %>
  </td>
  <td>
    <%= excercise.amount %>
  </td>
  
  <td>
    <%= excercise.approved ? "Yes" : "No" %>
  </td>
  <td>
    <%= link_to "Show" , excercise , {class: "btn btn-primary" }%>
    <% label = excercise.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_excercise_path(excercise), method: :patch, class: "btn btn-success" , form_class: "deleteButton" if policy(excercise).approve? && label == "Approve" %>

    <% if params[:debug].present? %>
      <%= link_to "Audit Trail" , holding_audit_trails_path(ref_id: excercise.id, ref_type: "Excercise") , {class: "btn btn-primary" }%>    
    <% end %>
  </td>
</tr>