<% quantity = params[:quantity].present? ? params[:quantity] : 0 %>

<%= render "/layouts/steps", steps: ["Holding Quantity: #{excercise.holding.quantity}", "Vesting Percent allowed: #{excercise.holding.allowed_percentage} %", "Max Excercisable Quantity: #{excercise.holding.net_avail_to_excercise_quantity}", "Attach Payment Proofs", "Excercise Your Option", "Wait For Approval"].freeze %>

<div class="wizard_container" data-controller="wizard excercise">
  <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
              <a href="#step-1" id="step1-btn" type="button" class="btn btn-outline-primary btn-outline-primary btn-outline-circle" data-action="click->excercise#step1Click">1</a>
              <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
              <a href="#step-2" id="step2-btn" type="button" class="btn btn-outline-primary btn-outline-circle" disabled="disabled" data-action="click->excercise#step2Click">2</a>
              <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" id="step3-btn" type="button" class="btn btn-outline-primary btn-outline-circle" disabled="disabled" data-action="click->excercise#step3Click">3</a>
            <p>Step 3</p>
        </div>
      </div>
  </div>


      <%= form_with(model: excercise) do |form| %>
        <% if excercise.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(excercise.errors.count, "error") %> prohibited this excercise from being saved:</h2>

            <ul>
              <% excercise.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


  <div class="side-by-side-container">
    <div class="side-by-side-view" style="width:49%;margin:8px">

        <%= form.number_field :holding_id, class: "form-control", hidden: true  %>

        <div>

          <div class="row setup-content" id="step-1">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"> 1. Read Instructions </div>
                    <div class="card-body">

                      <h1>Please read the Excercise Instructions before you proceed.</h1>

                      <button class="btn btn-outline-primary nextBtn btn-outline-lg pull-right" type="button">Next</button>
                  </div>
              </div>
          </div>
        </div>

        <div class="row setup-content" id="step-2">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header"> 2. Excercise Quantity </div>
                    <div class="card-body">

                      <div style="margin:8px">
                        <%= form.label :cashless, "Cash-less Exercise" %>
                        <%= form.check_box :cashless, class: "form-check-input",
                                  data: {excercise_target: "checkboxin", action: "change->excercise#toggle"} %>
                      </div>

                      <div class="form-group">
                        <%= form.label :quantity %>
                        <%= form.number_field :quantity, class: "form-control", data: {action: "change->excercise#onChange"}  %>
                        <small class="text-muted">Quantity defaults to the maximum <%= excercise.holding.net_avail_to_excercise_quantity %> that can be excercised per the <%= link_to "Vesting Schedule", excercise.option_pool %></small>
                      </div>

                      <div class="form-group">
                        <%= form.label :price %>
                        <%= form.text_field :price, id: "price_disabled", class: "form-control", disabled: true  %>
                        <%= form.text_field :price, class: "form-control", hidden: true  %>
                        <small class="text-muted">The price specified in the <%= link_to "Option Pool", excercise.option_pool %></small>
                      </div>

                      <div class="form-group">
                        <%= form.label :amount %>
                        <%= form.text_field :amount, id: "excercise_amount_disabled", class: "form-control", disabled: true  %>
                        <%= form.text_field :amount, class: "form-control", hidden: true  %>
                      </div>

                      <%= turbo_frame_tag "employee_calc_cashless_fields" do %>

                        <div data-excercise-target="cashlessfields" data-excercise-show-if-value="1">
                          <div class="form-group">
                            <%= form.label :shares_to_sell, "Options to be cancelled" %>
                            <%= form.text_field :shares_to_sell, id: "shares_to_sell", class: "form-control"  %>
                          </div>

                          <div class="form-group">
                            <%= form.label :shares_to_allot, "Shares to be Alotted" %>
                            <%= form.text_field :shares_to_allot, id: "shares_to_allot", class: "form-control" %>
                          </div>
                        </div>

                      <% end %>

                      <button id="step2-nextBtn" class="btn btn-outline-primary nextBtn btn-outline-lg pull-right" type="button" data-action="click->excercise#step3Click">Next</button>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row setup-content" id="step-3">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header"> 3. Payment / Confirmation </div>
                  <div class="card-body">
                    <div class="form-group" data-excercise-target="paymentproof">

                      <%= render "layouts/single_upload", form: form, field_label: "Upload payment proof",
                                              for_model: "excercise", field_name: "payment_proof",
                                              model: excercise %>
                      <small class="text-muted"> Upload proof of payment as per the instructions. </small>
                    </div>
                    <div class="form-group" data-excercise-target="cashlessnote">
                      <h1>Please click on 'save' to submit your details to the company and wait for the next steps.</h1>

                    </div>
                    <div class="form-group">
                      <%= form.submit "Save", {class: "btn btn-outline-primary btn-outline-lg"}%>
                    </div>

                  </div>
              </div>
          </div>
        </div>

      <% end %>
      </div>

  <div class="side-by-side-view" style="width:49%;margin:8px" data-excercise-target="calculator">
      <% params[:all_or_vested] = "Custom" %>
      <%= render "holdings/employee_calc", emp_calc: EmployeeCalc.new(params,current_user), holdings: Holding.where(id: excercise.holding_id), all_or_vested_disabled: true, price_growth: 1, quantity: , all_or_vested_hidden_value: "Custom", holding_id: excercise.holding_id%>
  </div>

  </div>

</div>
