<tr id="<%= dom_id option_pool %>">
  <td>
    <%= option_pool.name %>
  </td>
  <td>
    <%= l option_pool.start_date %>
  </td>
  <td>
    <%= option_pool.number_of_options %>
  </td>
  <td>
    <span class="badge <%= option_pool.approved ? 'bg-success' : 'bg-warning' %>">
      <%= option_pool.approved ? "Yes" : "No" %>
    </span>
  </td>
  <td>
    <%= option_pool.allocated_quantity %>
  </td>
  <td>
    <%= option_pool.vested_quantity %>
  </td>
  <td>
    <%= option_pool.excercised_quantity %>
  </td>
  <td>
    <%= option_pool.net_avail_to_excercise_quantity %>
  </td>
  <td>
    <%= option_pool.lapsed_quantity %>
  </td>
  <td>
    <%= option_pool.available_quantity %>
  </td>
  <td>
    <%= money_to_currency option_pool.excercise_price, params %>
  </td>
  <td>
    <%= option_pool.excercise_period_months %>
  </td>
  <td>
    <%= link_to "Show" , option_pool , {class: "btn btn-primary" }%>
  </td>
</tr>