<div class='nested-fields form-row'>

  <div class="form-group">
    <%= f.label :months_from_grant %>
    <%= f.number_field :months_from_grant, class: "form-control months_from_grant"  %>
  </div>
  
  <div class="form-group">
    <%= f.label :vesting_percent %>
    <%= f.number_field :vesting_percent, class: "form-control vesting_percent"  %>
  </div>

  <div class="form-group">
    <%= f.label :remove, "&nbsp;".html_safe  %>
    <%= link_to_remove_association "Remove", f, class: "btn btn-sm btn-danger" %>
  </div>
  
</div>