<%= render "/layouts/alerts" %>

<% cache [@option_pool, current_user.entity_id == @option_pool.entity_id] do %>

  <%= render "/option_pools/header_stats", option_pool: @option_pool %>

  <div class="card">
    <div class="card-header">
      <%= @option_pool.name %>
    </div>
    <div class="card-body">

    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @option_pool.entity.name %>
        </td>
      </tr>
      
      <tr>
        <td>
          Pool Name
        </td>
        <td>
          <%= @option_pool.name %>
        </td>
      </tr>
      
      <tr>
        <td>
          Approved
        </td>
        <td>
          <%= display_boolean @option_pool.approved %>
        </td>
      </tr>

      <tr>
        <td>
          Start Date
        </td>
        <td>
          <%= l @option_pool.start_date %>
        </td>
      </tr>
      <tr>
        <td>
          Excercise Price
        </td>
        <td>
          <%= money_to_currency @option_pool.excercise_price, params %>
        </td>
      </tr>
      <tr>
        <td>
          Excercise Period 
        </td>
        <td>
          <%= @option_pool.excercise_period_months %> Months
        </td>
      </tr>
      
      <tr class="collapse multi-collapse">
        <td>
          ESOP Grant Certificate Signature
        </td>
        <td>
          <%= image_tag @option_pool.certificate_signature_url if @option_pool.certificate_signature.present? %>
        </td>
      </tr>

      <tr class="">
        <td>
          Number Of Options
        </td>
        <td>
          <%= @option_pool.number_of_options %>
        </td>
      </tr>

      <tr class="">
        <td>
          Details
        </td>
        <td>
          <%= @option_pool.details %>
        </td>
      </tr>
      
      <% if @option_pool.entity_id == current_user.entity_id %>

        <tr class="collapse multi-collapse">
          <td>
            Options Granted
          </td>
          <td>
            <%= @option_pool.allocated_quantity %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Options Vested
          </td>
          <td>
            <%= @option_pool.vested_quantity %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Options Unvested 
          </td>
          <td>
            <%= @option_pool.net_unvested_quantity %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Options Excercised
          </td>
          <td>
            <%= @option_pool.excercised_quantity %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Options UnExcercised
            </br>
            (Vested - Excercised)
          </td>
          <td>
            <%= @option_pool.net_avail_to_excercise_quantity %>
          </td>
        </tr>
        <tr class="collapse multi-collapse">
          <td>
            Options Lapsed
          </td>
          <td>
            <%= @option_pool.lapsed_quantity %>
          </td>
        </tr>

        <tr class="collapse multi-collapse">
          <td>
            Options Available for Grants
            </br>
            (Number of Options - Granted + Lapsed)
          </td>
          <td>
            <%= @option_pool.available_quantity %>
          </td>
        </tr>

        <% if params[:debug].present? %>
          <tr>
            <td>
              Gross Available To Excercise
            </td>
            <td>
              <%= @option_pool.gross_avail_to_excercise_quantity %>            
            </td>
          </tr>
          <tr>
            <td>
              UnExcercised Cancelled Quantity
            </td>
            <td>
              <%= @option_pool.unexcercised_cancelled_quantity %>            
            </td>
          </tr>
          <tr>
            <td>
              Net Available To Excercise
            </td>
            <td>
              <%= @option_pool.net_avail_to_excercise_quantity %>            
            </td>
          </tr>
          <tr>
            <td>
              Gross Unvested Quantity
            </td>
            <td>
              <%= @option_pool.gross_unvested_quantity %>            
            </td>
          </tr>
          <tr>
            <td>
              Unvested Cancelled Quantity
            </td>
            <td>
              <%= @option_pool.unvested_cancelled_quantity %>            
            </td>
          </tr>
          <tr>
            <td>
              Net Unvested Quantity
            </td>
            <td>
              <%= @option_pool.net_unvested_quantity %>            
            </td>
          </tr>
          
        <% end %>

        <% if @option_pool.manual_vesting %>
          <tr class="collapse multi-collapse">
            <td>
              Manual Vesting
            </td>
            <td>
              <span class="badge <%= @option_pool.manual_vesting ? 'bg-success' : 'bg-warning' %>">
                <%= @option_pool.manual_vesting ? "Yes" : "No" %>
              </span>
            </td>
          </tr>
        <% end %>
        
      <% end %>

      <%= display_custom_fields(@option_pool) if current_user %>

    </table>
    </div>
  </div>

  <% unless @option_pool.manual_vesting %>
    <div class="card">
      <div class="card-header">
        Vesting Schedule
      </div>
      <div class="card-body">
        <table class="table table-bordered dataTable">
          <tr>
            <th>Months From Grant</th>
            <th>Vesting Percentage</th>
          </tr>
          <% @option_pool.vesting_schedules.each do |vs| %>
          <tr id="<%= dom_id vs %>">
            <td>
              <%= vs.months_from_grant %>
            </td>
            <td>
              <%= vs.vesting_percent %> %
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

<% end %>


  <div class="actions">
    
    <% if current_user.entity_id == @option_pool.entity_id %>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"    aria-expanded="false" aria-controls="multi-collapse">Details</button> 
    <% end %>
    
    <% if policy(@option_pool).update? %>

      <%= link_to "Edit" , edit_option_pool_path(@option_pool), {class: "btn btn-primary" } %> 
      <%= button_to "Delete" , @option_pool, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %> 

    <% end %>

    <%= button_to "Approve" , approve_option_pool_path(@option_pool), method: :patch, 
        class: "btn btn-success" , form_class: "deleteButton", 
        data: {action: "click->confirm#popup", turbo:false, method: "patch",
        msg: "Please verify the details of this option pool. Once approved, the option pool cannot be modified."} if policy(@option_pool).approve?  %> 

  </div>

  <% if @option_pool.entity_id == current_user.entity_id %>
    <%= render "/option_pools/option_pool_details" %>
  <% end %>