<div class="wizard_container" data-controller="wizard">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-outline-primary btn-outline-primary btn-outline-circle">1</a>
                <p><%= t_common(:step) %> 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn disabled btn-outline-primary btn-outline-circle">2</a>
                <p><%= t_common(:step) %> 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn disabled btn-outline-primary btn-outline-circle">3</a>
                <p><%= t_common(:step) %> 3</p>
            </div>
        </div>
    </div>

<%= form_with(model: secondary_sale, validate: true, id: "secondary_sale_form", class: "wizard_form row justify-content-md-center") do |form| %>
  <% if secondary_sale.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(secondary_sale.errors.count, "error") %> prohibited this secondary_sale from being saved:</h2>

      <ul>
        <% secondary_sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="saleprice">
    <div class="row setup-content" id="step-1">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 1. Sale Details </div>
                <div class="card-body">

                    <div class="form-group">
                        <%= form.label :name %>
                        <%= form.text_field :name, class: "form-control", required: true  %>
                        <%= form.text_field :id, class: "form-control", hidden: true, name: nil, 
                            value: secondary_sale.id  %>
                    </div>

                    <div class="form-group">
                        <%= form.label :entity_id %>
                        <%= form.text_field :entity_name, class: "form-control", value: secondary_sale.entity.name, disabled: true  %>
                        <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
                    </div>

                    <div class="form-group">
                        <%= form.label :start_date %>
                        <%= form.date_field :start_date, class: "form-control", required: true  %>
                        <small class="text-muted"> Start date of the sale. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :end_date %>
                        <%= form.date_field :end_date, class: "form-control", required: true  %>
                        <small class="text-muted"> Tentative end date of the sale. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :offer_end_date %>
                        <%= form.date_field :offer_end_date, class: "form-control", required: true  %>
                        <small class="text-muted"> End date by which all offers should have come in. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :percent_allowed %>
                        <%= form.number_field :percent_allowed, class: "form-control", required: true  %>
                        <small class="text-muted"> Percentage of the holdings employees can sell in this sale. </small>
                    </div>
                
                    <div class="form-group">
                        <%= form.label :support_email %>
                        <%= form.text_field :support_email, class: "form-control"  %>
                        <small class="text-muted"> 
                            The support email where people can write in for support issues. 
                        </small>
                    </div>

                    <%= custom_form_fields(secondary_sale, form) %>
                    
                    <button class="btn btn-outline-primary nextBtn btn-outline-lg pull-right ti ti-arrow-right" type="button"><%= t_common(:next) %></button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row setup-content" id="step-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 2. Price Details </div>
                <div class="card-body">
                                        
                    <div class="form-group">
                        <%= form.label :price_type %>
                        <%= form.select :price_type, ["Price Range", "Fixed Price"], {}, class: "form-control", data: {action: "saleprice#onChange"}  %>
                        <small class="text-muted"> Price type for buyers on the secondaries platform. </small>
                    </div>


                    <div class="form-group price_range_group">
                        <%= form.label :min_price %>
                        <%= form.number_field :min_price, class: "form-control"  %>
                        <small class="text-muted"> Min price for buyers on the secondaries platform. </small>
                    </div>

                    <div class="form-group price_range_group">
                        <%= form.label :max_price %>
                        <%= form.number_field :max_price, class: "form-control"  %>
                        <small class="text-muted"> Max price for buyers on the secondaries platform. </small>
                    </div>

                    <div class="form-group fixed_price_group">
                        <%= form.label :final_price %>
                        <%= form.number_field :final_price, class: "form-control"  %>
                        <small class="text-muted"> The final price at which the sale will be done. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :show_quantity %>
                        <%= form.select :show_quantity, ["Indicative", "Actual"], {}, class: "form-control", data: {action: "saleprice#onShowQuantityChange"}  %>
                        <small class="text-muted"> Quantity to show buyers of this sale. </small>
                    </div>

                    <div class="form-group indicative_quantity_group">
                        <%= form.label :indicative_quantity %>
                        <%= form.number_field :indicative_quantity, class: "form-control "  %>
                        <small class="text-muted"> Indicative quantity to show buyers. </small>
                    </div>


                    <button class="btn btn-outline-primary nextBtn btn-outline-lg pull-right ti ti-arrow-right" type="button"><%= t_common(:next) %></button>
            
                </div>    
            </div>
        </div>
    </div>
  
    <div class="row setup-content" id="step-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 3. Sale Documents </div>
                <div class="card-body">
                    <%= form.label :documents, "Documents Visible To Buyers", class: "form-label" %>
                    <%= render "layouts/multi_upload", form: form, title: "Buyer Documents", 
                                                owner_tag: "Buyer", for_model: "secondary_sale" %>


                    <div class="form-group">
                        <%= form.label :buyer_doc_list, "Documents Required From Buyer" %>
                        <%= form.text_field :buyer_doc_list, class: "form-control", placeholder: "PAN, Tax Certificate,Share Certificate / DEMAT Certificate"  %>
                        <small class="text-muted"> Comma separated list of documents needed from each buyer. </small>
                    </div>


                    <%= form.label :documents, "Documents Visible To Sellers", class: "form-label" %>

                    <%= render "layouts/multi_upload", form: form, title: "Seller Documents", 
                                                owner_tag: "Seller", for_model: "secondary_sale" %>
                    

                    <div class="form-group">
                        <%= form.label :seller_doc_list, "Documents Required From Sellers" %>
                        <%= form.text_field :seller_doc_list, class: "form-control", placeholder: "PAN, Tax Certificate,Share Certificate / DEMAT Certificate"  %>
                        <small class="text-muted"> Comma separated list of documents needed from each seller. </small>
                    </div>

                    <% form_types = current_user.entity.form_types.where(name: "Offer").map{|ft| ["#{ft.name}: #{ft.tag}", ft.id]} %>
                    <% if form_types.present? %>    
                    <div class="form-group">
                        <%= form.label :offer_form_type_id, "Offer Form" %>
                        <%= form.select :offer_form_type_id, form_types, {}, class: "form-control" %>
                        <small class="text-muted"> Select the custom form used for Offers.</small>
                    </div>
                    
                        <% if params[:debug].present? %>
                        <div class="form-group">
                            <%= form.label :offer_pivot_custom_fields %>
                            <%= form.text_field :offer_pivot_custom_fields, class: "form-control" %>
                            <small class="text-muted"> Comma separated list of offer custom fields to show in Pivot. </small>
                        </div>
                        <% end %>

                    <% end %>

                    <% form_types = current_user.entity.form_types.where(name: "Interest").map{|ft| ["#{ft.name}: #{ft.tag}", ft.id]} %>
                    <% if form_types.present? %>   
                    <div class="form-group">
                        <%= form.label :interest_form_type_id, "Interest Form" %>
                        <%= form.select :interest_form_type_id, form_types, {}, class: "form-control" %>
                        <small class="text-muted"> Select the custom form used for Interests.</small>
                    </div>

                        <% if params[:debug].present? %>
                        <div class="form-group">
                            <%= form.label :interest_pivot_custom_fields %>
                            <%= form.text_field :interest_pivot_custom_fields, class: "form-control" %>
                            <small class="text-muted"> Comma separated list of interest custom fields to show in Pivot. </small>
                        </div>
                        <% end %>
                    <% end %>

                    <div class="form-group">
                        <%= form.label :notification_employee_ids, "Notify Employees" %>
                        <%= form.select :notification_employee_ids, secondary_sale.entity.employees.map{|e| [e.full_name, e.id]}, {ignore_blanks: true}, multiple: true, class: "form-control select2" %>
                        <small class="text-muted"> Select the employees to notify.</small>
                    </div>

                    <div class="form-group">
                        <%= form.button type: 'submit', class: "btn btn-outline-primary btn-outline-lg" do %>
                            <i class="ti ti-device-floppy"></i> <%= t_common(:save) %>
                        <% end %>
                    </div>
                </div>        
            </div>
        </div>
    </div>
  </div>

<% end %>

</div>
