<div class="associated_entity" data-controller="tabs">

  <%
    offers_active = false
    interests_active = false
    access_right_active = false
    document_tag = nil
  %>

  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist" data-controller="tabdetails">
    <% if policy(secondary_sale).owner? %>
      <% interests_active = true %>
      <input hidden=true value="#access-rights-tab" id="clickOnLoad" />
      
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#offerings-tab"
            data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.offers') %></a>

      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#interests-tab" data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.interests') %></a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-rights-tab"><%= t('secondaries_tabs.access_rights') %></a>

      <!-- a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fees-tab">Fees</a -->

      <!-- a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#reminders-tab"
            data-action="click->tabdetails#loadData">Reminders</a -->

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#custom-notification-tab">
            <%= t('secondaries_tabs.notification') %></a>
    
    <% elsif policy(secondary_sale).rm? %>
      <% interests_active = true %>
      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#offerings-tab"
            data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.offers') %></a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#interests-tab" data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.interests') %></a>
      
    <% elsif policy(secondary_sale).seller? %>
      <% offers_active = true; document_tag="Seller" %>
      <input hidden=true value="#offerings-tab" id="clickOnLoad" />
      <a class="nav-link <%= offers_active ? 'active' : '' %>" data-bs-toggle="pill" data-bs-toggle="tab" href="#offerings-tab" 
          data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.my_offers') %></a>

    <% elsif policy(secondary_sale).buyer? %>
      <% interests_active = true; document_tag="Buyer" %>
      <input hidden=true value="#interests-tab" id="clickOnLoad" />
      
      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#interests-tab"    
          data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.interests') %></a>
    <% end %>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.documents') %></a>

  </nav>

  <div class="tab-content">

    <% if policy(secondary_sale).owner? %>
      <div id="access-rights-tab" class="tab-pane fade <%= access_right_active ? 'in show active' : '' %>">

        <% cache([secondary_sale, "access_rights"]) do %>
          <div id="access_rights" class="associated_entity" data-controller="datatable">

            <%= turbo_frame_tag "access_rights_frame", target: "_top", loading: :lazy, src: access_rights_path(owner_id: secondary_sale.id, owner_type: "SecondarySale", entity_id: secondary_sale.entity_id) do %>
              <% end %>

          </div>
        <% end %>
      </div>

      <div id="fees-tab" class="tab-pane fade">
        <% cache([secondary_sale, "fees"]) do %>
          <div id="fees" class="associated_entity">
            <%= render "/fees/index", fees: secondary_sale.fees, owner: secondary_sale  %>
          </div>
        <% end %>
      </div>

      <div id="custom-notification-tab" class="tab-pane fade">
        <div id="custom_notifications" class="associated_entity">

            <%= render "custom_notifications/index", custom_notifications: secondary_sale.custom_notifications, owner: secondary_sale %>

        </div>  
      </div>


    <% end %>

    <% if policy(secondary_sale).seller? || policy(secondary_sale).owner? %>


      <div id="offerings-tab" class="tab-pane fade <%= offers_active ? 'in show active' : '' %>">
        <div id="offerings" class="associated_entity">
          <% approved = (policy(secondary_sale).owner? || policy(secondary_sale).rm?) ? false : nil %>          
          
          <% if policy(secondary_sale).owner? || policy(secondary_sale).rm?  %>
            <%= turbo_frame_tag "offers_frame", target: "_top", src: offers_secondary_sale_path(id: secondary_sale.id, show_entity: false), loading: :lazy  do %>
            <% end %>
          <% elsif policy(secondary_sale).seller? %>
            <%= turbo_frame_tag "offers_frame", target: "_top", src: offers_secondary_sale_path(id: secondary_sale.id, show_entity: false, approved: approved, card: true), loading: :lazy  do %>
            <% end %>
          <% end %>          

        </div>     
      </div>
    <% end %>

    <% if policy(secondary_sale).buyer? || policy(secondary_sale).owner? %>
      <div id="interests-tab" class="tab-pane fade <%= interests_active ? 'in show active' : '' %>">
        <div id="interests" class="associated_entity">
          <%= turbo_frame_tag "interests_frame", target: "_top", src: interests_secondary_sale_path(secondary_sale), loading: :lazy do %>
          <% end %>
        </div>     
      </div>
    <% end %>

    <!-- Docs is visible to all -->
    <div id="docs-tab" class="tab-pane fade">
      <div id="docs" class="associated_entity">
        
        <%= link_to folder_documents_path(entity_id: secondary_sale.entity_id,
                                      folder_id: secondary_sale.document_folder.id),
                                      class: "load_data_link",
                                      data: { turbo_frame: 'documents_tree_frame' } do %>

            <span>Loading...</span>
        <% end %>
        
        <%= turbo_frame_tag "documents_tree_frame", target: "_top" do %>
        <% end %>

      </div>
    </div>
      

      
  </div>

</div>