<tr id="<%= dom_id secondary_sale %>">
  <td>
    <%= secondary_sale.name %>
  </td>
  <td>
    <%= custom_format_number secondary_sale.total_offered_quantity, params %>
  </td>
  <td>
    <%= secondary_sale.entity.name %>
  </td>
  <td>
    <%= l secondary_sale.start_date %>
  </td>
  <td>
    <%= l secondary_sale.end_date %>
  </td>
  <td>
    <%= custom_format_number secondary_sale.min_price, params %>
  </td>
  <td>
    <%= custom_format_number secondary_sale.max_price, params %>
  </td>
  <td>
    <%= secondary_sale.active? ? "Yes" : "No" %>
  </td>
  <td>
    <%= link_to  t_common(:show) , secondary_sale , {class: "btn btn-outline-primary ti ti-eye" }%>
  </td>
</tr>