<% cache [secondary_sale, current_user, current_user.entity_id == secondary_sale.entity_id] do %>
  <%= render ToggleCard.new(title: "Secondary Sale: #{secondary_sale.name}", css_class: "show_sale", state: "closed") do %>

      <table class="table table-bordered dataTable">
        <tr>
            <td>
              Entity
            </td>
            <td>
              <%= secondary_sale.entity.name %>
            </td>
        </tr>

        <tr>
          <td>
            Support Email
          </td>
          <td>
            <a href="mailto:<%=secondary_sale.support_email%>" target="_blank">
              <%= secondary_sale.support_email %>
            </a>
            <br>
            <div class="badge bg-success">
              Send your queries here
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            Name
          </td>
          <td>
            <%= secondary_sale.name %>
          </td>
        </tr>
        <tr class="">
          <td>
            Start Date
          </td>
          <td>
            <%= l secondary_sale.start_date %>
          </td>
        </tr>
        <tr class="">
          <td>
            Offer End Date
          </td>
          <td>
            <%= l secondary_sale.offer_end_date if secondary_sale.offer_end_date %>
          </td>
        </tr>

        <tr>
          <td>
            End Date
          </td>
          <td>
            <%= l secondary_sale.end_date %>
          </td>
        </tr>
        <% unless policy(secondary_sale).show_interest? %>
          <tr id="percent_allowed">
            <td>
              Percent Allowed
            </td>
            <td>
              <%= secondary_sale.percent_allowed %> %
            </td>
          </tr>
        <% end %>
      

        <% if secondary_sale.final_price > 0 %>
          <tr>
            <td>
              Final Price
            </td>
            <td>
              <%= custom_format_number secondary_sale.final_price, params %>
            </td>
          </tr>
        <% else %>

          <% if secondary_sale.price_type == "Price Range" %>

            <tr>
              <td>
                Price Type
              </td>
              <td>
                <%= secondary_sale.price_type %>
              </td>
            </tr>

            <tr>
              <td>
                Min Price
              </td>
              <td>
                <%= custom_format_number secondary_sale.min_price, params %>
              </td>
            </tr>

            <tr>
              <td>
                Max Price
              </td>
              <td>
                <%= custom_format_number secondary_sale.max_price, params %>
              </td>
            </tr>
            
          <% end %>

          <% end %>

          <tr>
            <td>
              Active
            </td>
            <td>
              <%= display_boolean secondary_sale.active? %>
            </td>
          </tr>
          

          <% if current_user.entity_id == secondary_sale.entity_id %>

          <tr>
            <td>
              Total Offered
            </td>
            <td>
                            
              <%= custom_format_number secondary_sale.display_quantity, params %>
              

              <div>
                <% secondary_sale.display_amounts.each_with_index do |amount, idx| %>
                  <%= money_to_currency amount, params %> 
                  <%= "-" if idx == 0 && secondary_sale.display_amounts.length > 1 %>
                <% end %>
              </div>
            </td>
          </tr>

          <tr class="">
            <td>
              Buyer Doc List
            </td>
            <td>
              <%= secondary_sale.buyer_doc_list %>
            </td>
          </tr>
          <tr class="">
            <td>
              Seller Doc List
            </td>
            <td>
              <%= secondary_sale.seller_doc_list %>
            </td>
          </tr>


          <tr>
            <td>
              Actual Offered Quantity
            </td>
            <td>
              <%= custom_format_number secondary_sale.total_offered_quantity, params %>
            </td>
          </tr>

          <tr>
            <td>
              Shortlisted Interest Quantity
            </td>
            <td>
                <ul>
                  <li>
                    Total: <%= custom_format_number secondary_sale.total_interest_quantity, params %>
                  </li>
                  <% price_qty = secondary_sale.interests.short_listed.group(:price).sum(:quantity).sort.to_h %>
                  <% price_qty.each do |price, qty| %>
                    <li>
                      <%= qty %> @ <%= price %> 
                    </li>
                  <% end %>
                </ul>
            </td>
          </tr>    

        <% end %>

        <% if current_user.entity_id == secondary_sale.entity_id && secondary_sale.allocation_status.present? %>

          <tr>
            <td colspan="2" class="bg-primary"></td>
          </tr>

          <tr>
            <td>
              Clearing Price
            </td>
            <td>
              <%= custom_format_number secondary_sale.clearing_price, params %>
            </td>
          </tr>


          <tr>
            <td>
              Allocated Quantity
            </td>
            <td>
              <%= custom_format_number secondary_sale.allocation_quantity, params %>
            </td>
          </tr>

          <tr>
            <td>
              Allocated Amount
            </td>
            <td>
              <%= money_to_currency secondary_sale.allocation_amount, params %>
            </td>
          </tr>
          
          <tr>
            <td colspan="2" class="bg-primary"></td>
          </tr>
        <% end %>

        
        <%= display_custom_fields(secondary_sale, collapsed: true) if current_user %>

        <% if secondary_sale.notification_employee_ids.present? %>
        <% notification_names = secondary_sale.notification_users.map(&:full_name) %>
        <tr>
            <td>
              Notify Employees
            </td>
            <td>
              <%= notification_names %>
            </td>
        </tr>
        <% end %>

      </table>

  <% end %>
<% end %>