
<%= render "/layouts/steps", steps: ["Setup Secondary Sales", "Customize Sale", "Setup Access Rights",
                        "View/Approve Offers", "Receive/Shortlist Interests"].freeze if current_user.has_cached_role?(:employee) %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Secondary Sales</h1>
    <%= link_to t('secondaries_actions.new_secondary_sale') , new_secondary_sale_path("secondary_sale[entity_id]": current_user.entity_id),
      {class: "btn btn-outline-primary ti ti-plus" } if current_user.has_cached_role?(:employee) %>
  </div>

  <div class="table-responsive" data-controller="datatable">


    <table id="secondary_sales" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            <%= t('secondaries_actions.name') %>
          </th>
          <th>
            <%= t('secondaries_actions.total_offered') %>
          </th>
          <th>
            <%= t('secondaries_actions.entity') %>
          </th>
          <th>
            <%= t('secondaries_actions.start_date') %>
          </th>
          <th>
            <%= t('secondaries_actions.end_date') %>
          </th>
          <th>
            <%= t('secondaries_actions.min_price') %>
          </th>
          <th>
            <%= t('secondaries_actions.max_price') %>
          </th>
          <th>
            <%= t('secondaries_actions.active') %>
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
      <% @secondary_sales.each do |secondary_sale| %>
          <%= render secondary_sale %>
        <% end %>
      </tbody>
    </table>

  </div>
