<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Payments for: <%= link_to @secondary_sale.name, @secondary_sale %>
    </h1>

    <span>
        <%= link_to t_common(:download), payments_secondary_sale_path(@secondary_sale, format: "xlsx"),
            class: "btn btn-outline-primary" %>
        <%= link_to t('secondaries_actions.verified_offers'), payments_secondary_sale_path(@secondary_sale, verified: true),
            class: "btn btn-outline-primary" %>
    </span>
</div>

<div>

</div>
<div class="table-responsive" data-controller="datatable">

    <table id="offers" class="table table-bordered dataTable">
        <thead>
            <tr>
                <th>
                    <%= t('secondaries_actions.full_name') %>
                </th>
                <th>
                    <%= t('secondaries_actions.allocation_quantity') %>
                </th>
                <th>
                    <%= t('secondaries_actions.price') %>
                </th>
                <th>
                    <%= t('secondaries_actions.allocation_amount') %>
                </th>                
                <th>
                    <%= t('secondaries_actions.fees') %>
                </th>
                <th>
                    <%= t('secondaries_actions.net_amount_ex_fees') %>
                </th>
                <th>
                    <%= t('secondaries_actions.bank_account_number') %>
                </th>
                <th>
                    <%= t('secondaries_actions.ifsc_code') %>
                </th>
                <th>
                    <%= t('secondaries_actions.pan') %>
                </th>
                
                <th>
                    <%= t('secondaries_actions.verified') %>
                </th>
                <th>
                </th>
            </tr>
        </thead>
    
        <tbody>
            <% @buyer_offers.each do |buyer_entity_name, buyer_hash| %>
                <% offers = buyer_hash[:offers] %>
                <tr>
                    <td colspan="12" class="bg-primary text-white">
                        <%= buyer_entity_name %>                        
                    </td>
                </tr>

                <% offers.each do |offer| %>
                    <% 
                        fees = offer.compute_fees(@fees) 
                        fee_amount = fees.map {|i| i[:fee]}.sum(Money.new(0, offer.entity.currency))
                    %>
                    <tr>
                        <td>
                            <%= offer.full_name %>
                        </td>
                        <td>
                            <%= offer.allocation_quantity %>
                        </td>
                        <td>
                            <%= offer.final_price %>
                        </td>
                        <td>
                            <%= money_to_currency offer.allocation_amount, params %>
                        </td>
                        <td>
                            
                            <%= money_to_currency(fee_amount, params) %>
                            <ul>
                                <% fees.each do |i| %>
                                    <li><%= i[:name] %> : <%= money_to_currency(i[:fee], params) %></li>
                                <% end %>
                            </ul>
                        </td>
                        <td>
                            <%= money_to_currency(offer.allocation_amount - fee_amount, params) %>
                        </td>

                        <td>
                            <%= offer.bank_account_number %>
                        </td>
                        <td>
                            <%= offer.ifsc_code %>
                        </td>
                        <td>
                            <%= offer.PAN %>
                        </td>
                        
                        <td>
                            <%= display_boolean offer.verified %>
                        </td>

                        <td>
                            <%= link_to  t_common(:show), offer, class: "btn btn-outline-sm btn-outline-primary"  %>
                        </td>
                    </tr>

                <% end %>

                <tr>
                    <td colspan="12" class="bg-success">
                     
                    </td>
                </tr>
                
                <% buyer_hash[:fees].each do |advisor_name, fee| %>
                    <tr>
                        <td>
                            <%= advisor_name %>
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <%= fee[:fee].amount %>, 
                            <%= fee[:fee].amount_label %>
                        </td>
                        <td>
                            <%= money_to_currency fee[:fee_amount], params %>
                        </td>
                        <td>
                            <%= fee[:fee].bank_account_number %>
                        </td>
                        <td>
                            <%= fee[:fee].ifsc_code %>
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <%= buyer_entity_name %>
                        </td>
                        <td></td>
                        <td>
                            <%= link_to  t_common(:show), fee[:fee], class: "btn btn-outline-sm btn-outline-primary"  %> 
                        </td>
                    </tr>
                <% end %>
                
                <tr>
                    <td>
                        <%= t('secondaries_actions.total') %>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                    </td>
                    <td>
                        <%= money_to_currency(buyer_hash[:total_allocation_amount]) %>,
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>

 
            <% end %>

        </tbody>
    </table>
    
</div>
    
