<%= render "/layouts/steps", steps: ["This is the closing process for the sale", "Once completed the saleprice is frozen", "Please review the allocations post this step"].freeze if current_user.has_cached_role?(:employee) %>

<%= form_with(model: @secondary_sale, validate: true, id: "spa_upload") do |form| %>
  <% if @secondary_sale.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@secondary_sale.errors.count, "error") %> prohibited this @secondary_sale from being saved:</h2>

      <ul>
        <% @secondary_sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group fixed_price_group">
    <%= form.label :final_price %>
    <%= form.number_field :final_price, class: "form-control"  %>
    <small class="text-muted"> The final price at which the sale will be done. </small>
  </div>


  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-outline-lg btn-outline-primary",
        data: { action: "click->confirm#popup", turbo:false, method: "post", "submit-form": "#spa_upload",
                msg: "This will freeze the final price for the sale. Post this You will need to start verifying the offers and finalizing the allocations."} %>

    <%= link_to "Review Allocations",offers_path(secondary_sale_id: @secondary_sale.id, finalize_allocation: true), {class: "btn btn-outline-lg btn-outline-success" } if policy(@secondary_sale).view_allocations? %> 
  
  </div>
<% end %>
