<tr id="<%= dom_id investor_notice %>">
  <td>
    <%= investor_notice.owner_type %>
  </td>
  <td>
    <%= investor_notice.title %>
  </td>
  <td>
    <%= investor_notice.start_date %>
  </td>
  <td>
    <%= investor_notice.end_date %>
  </td>
  <td>
    <%= display_boolean investor_notice.active %>
  </td>
  <td>
    <%= link_to  t_common(:show) , investor_notice , {class: "btn btn-outline-primary" }%>
  </td>
</tr>