<div class='nested-fields row'>

    <div class="form-group col-md-1">
        <%= f.label :position, "Pos" %>
        <%= f.text_field :position, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control"  %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :details %>
      <%= f.text_field :details, class: "form-control"  %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control"  %>
    </div>

    <div class="form-group col-md-1">    
        <%= f.label :none, "&nbsp;".html_safe %>
        <%= link_to_remove_association "Delete" , f, class: "btn btn-outline-danger" %>
    </div>

</div>
