<div class="card shadow mb-4">
  <!-- <hr class="my-4"> -->
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">
      <%= investor_notice.title %></h3>
  </div>
  <div class="card-body lead row">
    <div class="col-lg-5 mb-4 notice_image_div">
      <% img = investor_notice.link.present?  ? investor_notice.link : current_user.entity.logo_url %>
      <img class="center notice_image" src=<%=img%> />
    </div>
    <div class="col-lg-7 mb-4" style="margin: auto;">
      <% if investor_notice.investor_notice_items.present? %>
        <ul class="list-group">
          <% investor_notice.investor_notice_items.each do |item| %>
          <li class="list-group-item">
            <% if item.link.present? %>
              <h3><a class="text-primary" href="<%= item.link %>"><%= item.title %></a></h3>
            <% else %>
              <h3 class="text-primary"><%= item.title %></h3>
            <% end %>
            <small><%= item.details %></small>
          </li>
          <% end %>
        </ul>
      <% else %>
        <%= raw investor_notice.details.to_plain_text %>
      <% end %>
    </div>
  </div>
</div>
