<% if fund_unit_setting.fund.unit_types.blank? %>
  <div class="alert alert-danger">
    No fund unit types defined in the fund. Please setup fund to provide fund unit types.
  </div>
<% end %>

<%= render FormCard.new(title: "Unit Setting : #{fund_unit_setting.fund&.name}") do %>

    <%= form_with(model: fund_unit_setting, validate: true) do |form| %>
      <% if fund_unit_setting.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(fund_unit_setting.errors.count, "error") %> prohibited this fund_unit_setting from being saved:</h2>

          <ul>
            <% fund_unit_setting.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
        <%= form.text_field :fund_id, class: "form-control", hidden: true  %>

      <div class="form-group">
        <%= form.label :name, "Class / Series / Unit Type" %>
        <% if fund_unit_setting.fund.unit_types.present? %>
          <%= form.select :name, fund_unit_setting.fund.unit_types.split(",").map{|x| x.strip}, {}, class: "form-control"  %>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :isin, style: "text-transform: uppercase;" %>
        <%= form.text_field :isin, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :management_fee %>
        <%= form.number_field :management_fee, class: "form-control", step: :any  %>
        <small class="text-muted">Management Fee as a %</small>
      </div>

      <div class="form-group">
        <%= form.label :setup_fee %>
        <%= form.number_field :setup_fee, class: "form-control", step: :any  %>
        <small class="text-muted">Setup Fee as a %</small>
      </div>

      <div class="form-group">
        <%= form.label :carry %>
        <%= form.number_field :carry, class: "form-control", step: :any  %>
        <small class="text-muted">Carry as a %</small>
      </div>

      <div class="form-group">
        <%= form.label :gp_units, "GP units" %>
        <%= form.check_box :gp_units, class: "form-check-input"  %>
      </div>

      <%= custom_form_fields(fund_unit_setting, form) %>

      <div class="form-group">
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      </div>
    <% end %>

<% end %>
