<%= form_with(model: fund_unit_setting) do |form| %>
  <% if fund_unit_setting.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(fund_unit_setting.errors.count, "error") %> prohibited this fund_unit_setting from being saved:</h2>

      <ul>
        <% fund_unit_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
  
  <div class="form-group">
    <%= form.label :name, "Class / Series / Unit Type" %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :management_fee %>
    <%= form.number_field :management_fee, class: "form-control", step: :any  %>
  </div>

  <div class="form-group">
    <%= form.label :setup_fee %>
    <%= form.number_field :setup_fee, class: "form-control", step: :any  %>
  </div>

  <%= custom_form_fields(fund_unit_setting, form) %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
