<tr id="<%= dom_id fund_unit_setting %>">
  <td>
    <%= fund_unit_setting.name %>
  </td>
  <td>
    <%= fund_unit_setting.management_fee %>
  </td>
  <td>
    <%= fund_unit_setting.setup_fee %>
  </td>
  <td>
    <%= fund_unit_setting.carry %>
  </td>
  <td>
    <%= link_to "Show", fund_unit_setting , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
