<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Fund Unit Settings</h1>
  <span>
  
  <%= link_to "New", new_fund_unit_setting_path("fund_unit_setting[fund_id]": params[:fund_id], "fund_unit_setting[entity_id]": current_user.entity_id), {class: "btn btn-outline-primary"}  if params[:fund_id].present? %>


  <%= link_to "Download", fund_unit_settings_path(fund_id: params[:fund_id], all: true, format: :xlsx), {class: "btn btn-outline-success"}  if params[:fund_id].present? %>


  <%= link_to "Upload",
              new_import_upload_path("import_upload[owner_id]": params[:fund_id],
                  "fund_unit_setting[fund_id]": params[:fund_id],
                  "import_upload[owner_type]": "Fund",
                  "import_upload[import_type]": "FundUnitSetting",
                  "sample_upload": "FUND_UNIT_SETTING_SAMPLE"),
                  { class: "btn btn-outline-success"}  %>

  </span>
</div>

<%fund_unit_settings_frame = "fund_unit_settings_frame"%>
  
<div class="table-responsive">

  <%=render SearchComponent.new(data_source: fund_unit_settings_path(params: params.to_unsafe_h), turbo_frame: fund_unit_settings_frame) %>

  <%= render RansackTable.new(FundUnitSetting, q: @q, current_user: current_user, records: fund_unit_settings, turbo_frame: fund_unit_settings_frame, referrer: request.referrer, pagy: @pagy) %>

</div>

