

<div data-controller="investoraccess">
<%= render FormCard.new(title: "Stakeholder User", css_class: "dynamic_form") do %>

  <div id="toasts" aria-live="polite" aria-atomic="true" style="position: relative;"></div>

  <%= form_with(model: investor_access, validate: true) do |form| %>
    <% if investor_access.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(investor_access.errors.count, "error") %> prohibited this investor_access from being saved:</h2>

        <ul>
          <% investor_access.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :investor %>
      <%= form.text_field :investor_name, class: "form-control", value: investor_access.investor.investor_name, disabled: true %>
      <%= form.number_field :investor_id, class: "form-control", hidden: true  %>
    </div>

    <% if investor_access.user %>
    <div class="form-group">
      <%= form.label :user %>
      <%= form.text_field :user_name, class: "form-control", value: investor_access.user.name, disabled: true  %>
      <%= form.number_field :user_id, class: "form-control", hidden: true  %>
    </div>
    <% end %>

    <% if @investor_access.new_record? %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control"  %>
    </div>
    <% end %>


    <div class="form-group">
      <%= form.label :email_enabled %>
      <%= form.check_box :email_enabled, class: "form-check-input"  %>
      <small class="text-muted">Send email notifications to this user.</small>
    </div>

    <div class="form-group">
      <%= form.label :cc %>
      <%= form.text_field :cc, class: "form-control"  %>
      <small class="text-muted">Cc on emails sent to this user. Comma separated emails.</small>
    </div>

    <% if @investor_access.new_record? %>
    <div class="form-group">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control"  %>
    </div>

    <div class="row">
      <div class="form-group col-5">
        <%= form.label "Country Code" %>
        <%= form.number_field :call_code, class: "form-control" %>
      </div>
      <div class="form-group col-7">
        <%= form.label :phone %>
        <%= form.number_field :phone, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :whatsapp_enabled %>
      <%= form.check_box :whatsapp_enabled, class: "form-check-input"  %>
      <small class="text-muted">Send WhatsApp notifications to this user.</small>
    </div>


    <div class="form-group">
      <%= form.label :send_confirmation %>
      <%= form.check_box :send_confirmation, class: "form-check-input"  %>
    </div>

    <% end %>

    <div class="form-group">
      <%= form.label :approved %>
      <%= form.check_box :approved, class: "form-check-input"  %>
    </div>


    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      <a class="btn btn-outline-danger", data-action="click->investoraccess#close">Close</a>
    </div>
  <% end %>

<% end %>
</div>

