<% label ||= "Stakeholder User" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= label.pluralize %></h1>

    <span>
        <%= link_to "New #{label}", 
            new_investor_access_path("investor_access[investor_id]": investor.id, 
                "investor_access[entity_id]": current_user.entity_id), 
                { data: { turbo_frame: 'new_investor_access' }, class: "btn btn-primary"} if investor  %> 

        <%= link_to "Upload #{label}", 
                new_import_upload_path("import_upload[owner_id]": investor.id, 
                    "import_upload[owner_type]": "Investor", 
                    "import_upload[import_type]": "InvestorAccess", 
                    "import_upload[entity_id]": current_user.entity_id,
                    "sample_upload": "IA_SAMPLE"), 
                    { class: "btn btn-primary"} if investor  %> 
    </span>
</div>
  

<%= turbo_frame_tag "new_investor_access" do %>
<% end %>

<div class="table-responsive">

    <table id="investor_accesses" class="table table-bordered table-striped dataTable jqDataTable">
        <thead>
            <tr>
                <th class="hideMobP">
                    <strong>Investor</strong>
                </th>
                <th class="hideMobP">
                    <strong>User</strong>
                </th>
                <th>
                    <strong>Email</strong>
                </th>
                <th>
                    <strong>Approved</strong>
                </th>
                <th class="hideMobP">
                    <strong>Granted By</strong>
                </th>

                <th>
                </tr>
            </tr>
        </thead>
        <tbody id="investor_accesses_table_body">
            <% investor_accesses.each do |investor_access| %>
                <%= render investor_access %>
            <% end %>
        </tbody>
    </table>

</div>