<% 
    label ||= "Stakeholder Users" 
    investor ||= nil
%>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= label.pluralize %></h1>

    <div class="d-flex flex-wrap align-items-center gap-2">

        <% if investor %>
            <%= link_to new_investor_access_path(
                        "investor_access[investor_id]": investor.id,
                        "investor_access[entity_id]": current_user.entity_id),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        data: { turbo_frame: 'new_investor_access' } do %>
            <i class="ti ti-user-plus me-2"></i> New <%= label %>
            <% end %>
        <% else %>
            <%= link_to investor_accesses_path(all: true, format: :xlsx),
                        class: "btn btn-outline-primary d-inline-flex align-items-center",
                        id: "download_stakeholder_users",
                        data: { turbo: false } do %>
            <i class="ti ti-download me-2"></i> Download <%= label %>
            <% end %>
        <% end %>

        <%= link_to new_import_upload_path(
                        "import_upload[import_type]": "InvestorAccess",
                        "sample_upload": "INVESTOR_ACCESS_SAMPLE"),
                    class: "btn btn-outline-success d-inline-flex align-items-center",
                    id: "upload_stakeholder_users",
                    data: { turbo: false } do %>
            <i class="ti ti-upload me-2"></i> Upload <%= label %>
        <% end %>

    </div>

</div>
  

<%= turbo_frame_tag "new_investor_access" do %>
<% end %>

<div class="table-responsive" data-controller="datatable">

    <table id="investor_accesses" class="table table-bordered  dataTable jqDataTable">
        <thead>
            <tr>
                <% if params[:show_investor_name].present? %>
                    <th>
                        Stakeholder
                    </th>
                <% end %>
                <th>
                    User
                </th>
                <th>
                    Type
                </th>
                <th>
                    Email
                </th>
                <th>
                    Email Enabled
                </th>
                <th>
                    Cc
                </th>
                <th>
                    Phone
                </th>
                <th>
                    WhatsApp Enabled (Entity)
                </th>
                <th>
                    WhatsApp Enabled (User)
                </th>
                <th>
                    Approved
                </th>
                <th>
                    Granted By
                </th>

                <th>
                </tr>
            </tr>
        </thead>
        <tbody id="investor_accesses_table_body">
            <% investor_accesses.each do |investor_access| %>
                <%= render "/investor_accesses/investor_access", investor_access: %>
            <% end %>
        </tbody>
    </table>

</div>