<tr id="<%= dom_id investor_access %>">
  <% if params[:show_investor_name].present? %>
    <td>
      <%= investor_access.investor_name %>
    </td>
  <% end %>
  <td>
    <%= investor_access.user.name if investor_access.user %>
  </td>
  <td>
    <%= investor_access.is_investor_advisor ? "Advisor" : "Employee" %>
  </td>
  <td>
    <%= investor_access.email %>
    <% if investor_access.cc.present? %>
      <br>
      <%= "cc: #{investor_access.cc}" %>
    <% end %>
  </td>
  <td>
    <%= display_boolean investor_access.email_enabled %>
  </td>
  <td>

    <%= "(#{investor_access.user.call_code})#{investor_access.user.phone}" %>
  </td>
  <td>
    <%= display_boolean investor_access.whatsapp_enabled %>    
  </td>
  <td>
    <%= display_boolean investor_access.user.whatsapp_enabled %>
  </td>
  <td>
    <%= display_boolean investor_access.approved %>
  </td>
  <td>
    <%= investor_access.granter&.name %>
  </td>
  <td>

    

    <%
      label = investor_access.approved ? "UnApprove" : "Approve"
      icon_class = investor_access.approved ? "ti ti-user-x" : "ti ti-user-check"
      btn_class = investor_access.approved ? "btn btn-outline-warning" : "btn btn-outline-success"
    %>

    <% if policy(investor_access).approve? %>
      <%= button_to approve_investor_access_path(investor_access, show_investor_name: params[:show_investor_name]),
                    method: :patch, class: btn_class, form_class: "deleteButton" do %>
        <i class="<%= icon_class %> me-2"></i><%= label %>
      <% end %>
    <% end %>



    <div class="btn-group">
      <div class="dropup">
        <button class="btn btn-outline-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ti ti-settings me-2"></i> <%= t_common(:actions) %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <% if policy(investor_access).edit? %>
            <%= link_to edit_investor_access_path(investor_access),
                        data: { turbo_frame: 'new_investor_access' }, class: "dropdown-item" do %>
              <i class="ti ti-edit me-2"></i> <%= t_common(:edit) %>
            <% end %>
          <% end %>

          <% if Pundit.policy(current_user, investor_access).destroy? %>
            <%= button_to investor_access, method: :delete, class: "dropdown-item", form_class: "deleteButton",
                          data: { action: "click->confirm#popup" } do %>
              <i class="ti ti-trash me-2"></i> <%= t_common(:delete) %>
            <% end %>
          <% end %>

          <% if policy(investor_access).edit? %>
            <%= link_to notifications_path(all: true, filter: true, entity_id: investor_access.entity_id,
                                            q: ransack_query_params("user_email", :eq, investor_access.email)),
                        class: "dropdown-item" do %>
              <i class="ti ti-bell me-2"></i>Notifications
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

  </td>
</tr>
