<tr id="<%= dom_id investor_access %>">
  <td class="hideMobP">
    <%= investor_access.investor_name %>
  </td>
  <td class="hideMobP">
    <%= investor_access.user.name if investor_access.user %>
  </td>
  <td>
    <%= investor_access.is_investor_advisor ? "Advisor" : "Employee" %>
  </td>
  <td>
    <%= investor_access.email %>
  </td>
  <td>
    <%= investor_access.user.phone %>
  </td>
  <td>
    <%= display_boolean investor_access.user.whatsapp_enabled %>
    <% unless investor_access.user.whatsapp_enabled %>
    <br>
    <small class="text-muted"><%= "User must enable" %></small>
    <% end %>
  </td>
  <td>
    <%= display_boolean investor_access.approved %>
  </td>
  <td class="hideMobP">
    <%= investor_access.granter&.name %>
  </td>
  <td>
    <%= button_to "Delete" , investor_access, method: :delete, class: "btn btn-outline-danger" , 
        form_class: "deleteButton", data: {action: "click->confirm#popup"} if Pundit.policy(current_user, investor_access).destroy? %>
    
    <% label = investor_access.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_investor_access_path(investor_access), method: :patch, class: "btn btn-outline-success" , form_class: "deleteButton" if policy(investor_access).approve? %>


    <%= button_to "Notify KYC Required" , notify_kyc_required_investor_access_path(investor_access), method: :patch, class: "btn btn-outline-success" , form_class: "deleteButton",
    data: {action: "click->confirm#popup", 
    msg: "Send email to user indicating that KYC needs to be completed", method: :patch } if policy(investor_access).notify_kyc_required? %>

    <%= link_to "Add Holding" , new_holding_path("holding[user_id]": investor_access.user_id, "holding[investor_id]": investor_access.investor_id), method: :patch, class: "btn btn-outline-success" , 
        form_class: "deleteButton"  if investor_access.investor.is_holdings_entity && investor_access.user_id %>
  </td>
</tr>