<tr id="<%= dom_id investor_access %>">
  <% if params[:show_investor_name].present? %>
    <td>
      <%= investor_access.investor_name %>
    </td>
  <% end %>
  <td>
    <%= investor_access.user.name if investor_access.user %>
  </td>
  <td>
    <%= investor_access.is_investor_advisor ? "Advisor" : "Employee" %>
  </td>
  <td>
    <%= investor_access.email %>
  </td>
  <td>
    <%= display_boolean investor_access.email_enabled %>
  </td>
  <td>
    <%= investor_access.cc %>
  </td>
  <td>

    <%= "(#{investor_access.user.call_code})#{investor_access.user.phone}" %>
  </td>
  <td>
    <%= display_boolean investor_access.whatsapp_enabled %>    
  </td>
  <td>
    <%= display_boolean investor_access.user.whatsapp_enabled %>
  </td>
  <td>
    <%= display_boolean investor_access.approved %>
  </td>
  <td>
    <%= investor_access.granter&.name %>
  </td>
  <td>

    

    <% label = investor_access.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_investor_access_path(investor_access, show_investor_name: params[:show_investor_name]), method: :patch, class: "btn btn-outline-success" , form_class: "deleteButton" if policy(investor_access).approve? %>

    <div class="btn-group">
        <div class="dropup">
          <button class="btn btn-outline-primary dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Edit" , edit_investor_access_path(investor_access), data: { turbo_frame: 'new_investor_access' }, class: "dropdown-item" if policy(investor_access).edit? %>

            <%= button_to "Delete" , investor_access, method: :delete, class: "dropdown-item" ,
            form_class: "deleteButton", data: {action: "click->confirm#popup"} if Pundit.policy(current_user, investor_access).destroy? %>

            <%= link_to "Notifications" , notifications_path(all: true, filter: true, entity_id: investor_access.entity_id, q: ransack_query_params("user_email", :eq, investor_access.email)), class: "dropdown-item" if policy(investor_access).edit? %>
          </div>        
    </div>
  </td>
</tr>
