

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Stakeholder
      </td>
      <td>
        <%= @investor_access.investor.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        User
      </td>
      <td>
        <%= @investor_access.user.name if @investor_access.user %>
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <%= @investor_access.email %>
      </td>
    </tr>
    <tr>
      <td>
        Email Enabled
      </td>
      <td>
        <%= display_boolean @investor_access.email_enabled %>
      </td>
    </tr>
    <tr>
      <td>
        Approved
      </td>
      <td>
        <%= @investor_access.approved ? "Yes" : "No" %>
      </td>
    </tr>
    <tr>
      <td>
        Granted By
      </td>
      <td>
        <%= @investor_access.granter&.name %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to  t_common(:edit) , edit_investor_access_path(@investor_access), {class: "btn btn-outline-primary" } %> |
      <%= link_to "Back" , :back, {class: "btn btn-outline-primary" } %> |

        <%= button_to t_common(:delete) , @investor_access, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton"
          %>
  </div>