<div class="associated_entity" data-controller="tabs">

  <%
    holdings_active = false
    offers_active = false
    interests_active = false
    access_right_active = false
    document_tag = nil
  %>

  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist" data-controller="tabdetails">
    <% if policy(secondary_sale).owner? %>
      <% access_right_active = true %>
      <input hidden=true value="#access-rights-tab" id="clickOnLoad" />

      <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab">Access Rights</a>
      
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#offerings-tab"   
            data-action="click->tabdetails#loadData">Pending Offers</a>
      
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#interests-tab" data-action="click->tabdetails#loadData">Interests</a>
    
    <% elsif policy(secondary_sale).seller? %>
      <% holdings_active = true; document_tag="Seller" %>
      <input hidden=true value="#holdings-tab" id="clickOnLoad" />
      
      <a class="nav-link <%= holdings_active ? 'active' : '' %>" data-bs-toggle="pill" data-toggle="tab" href="#holdings-tab" data-action="click->tabdetails#loadData">My Holdings</a>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#offerings-tab" 
          data-action="click->tabdetails#loadData">My Offers</a>      

    <% elsif policy(secondary_sale).show_interest? %>
      <% interests_active = true;document_tag="Buyer" %>
      <input hidden=true value="#interests-tab" id="clickOnLoad" />
      
      <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#interests-tab"    
          data-action="click->tabdetails#loadData">Interests</a>      
    <% end %>

    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>

  </nav>

  <div class="tab-content">
      <div id="access-rights-tab" class="tab-pane fade <%= access_right_active ? 'in show active' : '' %>">

        <% cache(secondary_sale) do %>
          <div id="access_rights" class="associated_entity" data-controller="datatable">
            <% access_right = AccessRight.new(
                owner_id: secondary_sale.id, 
                access_type: "SecondarySale", 
                owner_type: "SecondarySale", 
                entity_id: secondary_sale.entity_id) %>
                
            <%= render "/access_rights/index", access_rights: AccessRight.for_secondary_sale(secondary_sale).includes(:investor, :owner), access_right: access_right %>
          </div>
        <% end %>
      </div>

      <div id="docs-tab" class="tab-pane fade">
        <div id="docs" class="associated_entity">
          <% documents = secondary_sale.documents.includes(:folder, tags: :taggings) %>

          <%= link_to documents_path(owner_id: secondary_sale.id, owner_type: "SecondarySale", 
                                     owner_tag: document_tag,
                                     entity_id: secondary_sale.entity_id, no_folders: true), 
                                     class: "load_data_link", 
                                     data: { turbo_frame: 'documents_frame' } do %>
              <span>Loading...</span>
          <% end %>
          <%= turbo_frame_tag "documents_frame", target: "_top" do %>
          <% end %>
        </div>     
      </div>


      <div id="offerings-tab" class="tab-pane fade">
        <div id="offerings" class="associated_entity">
          <% approved = current_user.entity_id == secondary_sale.entity_id ? false : nil %>
          <%= link_to offers_secondary_sale_path(id: secondary_sale.id, show_entity: false, 
              show_secondary_sale: false, approved: approved), 
              class: "load_data_link", data: { turbo_frame: 'offers_frame' } do %>
            <span>Loading...</span>
          <% end %>
          
          <%= turbo_frame_tag "offers_frame", target: "_top" do %>
          <% end %>
        </div>     
      </div>

      <div id="interests-tab" class="tab-pane fade <%= interests_active ? 'in show active' : '' %>">
        <div id="interests" class="associated_entity">
          <%= link_to interests_secondary_sale_path(secondary_sale), class: "load_data_link", data: { turbo_frame: 'interests_frame' } do %>
            <span>Loading...</span>
           <% end %>
      
          <%= turbo_frame_tag "interests_frame", target: "_top" do %>
          <% end %>
        </div>     
      </div>

      <div id="holdings-tab" class="tab-pane fade <%= holdings_active ? 'in show active' : '' %>">
        <div id="holdings" class="associated_entity">
          <%= turbo_frame_tag "holdings_frame", target: "_top" do %>
            <%= link_to holdings_path(secondary_sale_id: secondary_sale.id), class: "load_data_link", data: { turbo_frame: 'holdings_frame' } do %>
              <span>Loading...</span>
            <% end %>
          <% end %>
        </div>     
      </div>
  </div>

</div>