<% cache [secondary_sale, current_user && current_user.entity_id == secondary_sale.entity_id] do %>

  <table class="table table-bordered dataTable">
    <tr>
        <td>
          Entity
        </td>
        <td>
          <%= secondary_sale.entity.name %>
        </td>
    </tr>

    <tr>
      <td>
        Support Email
      </td>
      <td>
        <a href="mailto:<%=secondary_sale.support_email%>" target="_blank">
          <%= secondary_sale.support_email %>
        </a>
        <br>
        <div class="badge badge-success">
          Send your queries here
        </div> 
      </td>
    </tr>

    <tr>
      <td>
        Name
      </td>
      <td>
        <%= secondary_sale.name %>
      </td>
    </tr>

    <% if secondary_sale.show_quantity == "Indicative" %>
      <td>
        Total Offered
      </td>
      <td>
        <%= custom_format_number secondary_sale.display_quantity, params %>
      </td>
    <% else %>
    <tr>
      <td>
        Total Offered
      </td>
      <td>
        <% if secondary_sale.sale_type == "Tranche" %>
          <table class="table-bordered">
            <tr>
              <th>Funding Round</th><th>Quantity</th>
            </tr>
            <% secondary_sale.offers_by_funding_round.each do |fr, qty| %>
                <tr>
                  <td><%= fr %></td> <td><%= qty %></td>
                </tr>
            <% end %>
            <tr>
              <td><b>Total</b></td> 
              <td><b><%= custom_format_number secondary_sale.total_offered_quantity, params %></b></td>
            </tr>
          </table>
        <% else %>
          <%= custom_format_number secondary_sale.total_offered_quantity, params %>
        <% end %>
      </td>
    </tr>
    <% end %>
    
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= l secondary_sale.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        Offer End Date
      </td>
      <td>
        <%= l secondary_sale.offer_end_date if secondary_sale.offer_end_date %>
      </td>
    </tr>

    <tr>
      <td>
        End Date
      </td>
      <td>
        <%= l secondary_sale.end_date %>
      </td>
    </tr>
    <% unless Pundit.policy(current_user, secondary_sale).show_interest? %>
      <tr id="percent_allowed">
        <td>
          Percent Allowed
        </td>
        <td>
          <%= secondary_sale.percent_allowed %> %
        </td>
      </tr>
    <% end %>


    <tr>
      <td>
        Price Type
      </td>
      <td>
        <%= secondary_sale.price_type %>
      </td>
    </tr>

    <% if secondary_sale.price_type == "Price Range" %>
      <tr>
        <td>
          Min Price
        </td>
        <td>
          <%= custom_format_number secondary_sale.min_price, params %>
        </td>
      </tr>
      <tr>
        <td>
          Max Price
        </td>
        <td>
          <%= custom_format_number secondary_sale.max_price, params %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        Final Price
      </td>
      <td>
        <%= custom_format_number secondary_sale.final_price, params %>
      </td>
    </tr>

    <tr>
      <td>
        Active
      </td>
      <td>
        <%= display_boolean secondary_sale.active? %>
      </td>
    </tr>

    <% if current_user.entity_id == secondary_sale.entity_id %>
    <tr>
      <td>
        Buyer Doc List
      </td>
      <td>
        <%= secondary_sale.buyer_doc_list %>
      </td>
    </tr>
    <tr>
      <td>
        Seller Doc List
      </td>
      <td>
        <%= secondary_sale.seller_doc_list %>
      </td>
    </tr>

    <% end %>

    <% if current_user.entity_id == secondary_sale.entity_id && secondary_sale.allocation_status.present? %>

      <tr>
        <td colspan="2" class="bg-primary"></td>
      </tr>

      <tr>
        <td>
          Clearing Price
        </td>
        <td>
          <%= custom_format_number secondary_sale.clearing_price, params %>
        </td>
      </tr>

      <tr>
        <td>
          Total Offered Quantity
        </td>
        <td>
          <%= custom_format_number secondary_sale.total_offered_quantity, params %>
        </td>
      </tr>

      <tr>
        <td>
          Allocated Offer Quantity
        </td>
        <td>
          <%= custom_format_number secondary_sale.offer_allocation_quantity, params %>
        </td>
      </tr>

      <tr>
        <td>
          Allocated Offer Amount
        </td>
        <td>
          <%= money_to_currency secondary_sale.allocation_offer_amount, params %>
        </td>
      </tr>
      <tr>
        <td>
          Shortlisted Interest Quantity
        </td>
        <td>
            <ul>
              <li>
                Total: <%= custom_format_number secondary_sale.total_interest_quantity, params %>
              </li>
              <% price_qty = secondary_sale.interests.short_listed.group(:price).sum(:quantity).sort.to_h %>
              <% price_qty.each do |price, qty| %>
                <li>
                  <%= qty %> @ <%= price %> 
                </li>
              <% end %>
            </ul>
        </td>
      </tr>

      <tr>
        <td>
          Allocated Interest Quantity
        </td>
        <td>
          <%= custom_format_number secondary_sale.interest_allocation_quantity, params %>
        </td>
      </tr>
      
      <tr>
        <td>
          Allocated Interest Amount
        </td>
        <td>
          <%= money_to_currency secondary_sale.allocation_interest_amount, params %>
        </td>
      </tr>

      <tr>
        <td>
          Interest
        </td>
        <td>
            <%= (secondary_sale.allocation_percentage * 100.00) > 100 ? "Over Sold" : "Under Sold" %> 
        </td>
      </tr>


      <tr>
        <td>
          Offer Allocation Percentage
        </td>
        <td>
          <span class="badge <%= secondary_sale.allocation_percentage > 1 ? 'badge-success' : 'badge-warning' %>">
            <%= [(secondary_sale.allocation_percentage * 100.00).round(2), 100].min %> %
          </span>
        </td>
      </tr>

      

      <tr>
        <td colspan="2" class="bg-primary"></td>
      </tr>
    <% end %>

    <tr id="visible_externally">
      <td>
        Visible Externally
      </td>
      <td>
        <%= secondary_sale.visible_externally ? "Yes" : "No" %>
      </td>
    </tr>


    <%= display_custom_fields(secondary_sale) if current_user %>

  </table>

<% end %>