  <%= render "/layouts/alerts" %>

  <%= render "/secondary_sales/stats", secondary_sale: @secondary_sale %>

  <!-- <div class="row">
    <div class="col-md-8"> -->
      <%= render "/secondary_sales/show", secondary_sale: @secondary_sale %>
    <!-- </div>
    <div class="col-md-4"> -->
      <%#= render "/secondary_sales/faq", secondary_sale: @secondary_sale %>
    <!-- </div>
  </div> -->

  <div>

    <% if policy(@secondary_sale).update? %>
      <%= link_to "Edit" , edit_secondary_sale_path(@secondary_sale), {class: "btn btn-primary" } %> 

      <% label = @secondary_sale.visible_externally ? "Hide Externally" : "Make Visible Externally" %>
      <% popupMsg = @secondary_sale.visible_externally ? "This will hide the Sale from external advisors" : 
                    "This will allow external advisors to view this sale and place interests for buying." %>

      <%= button_to label , make_visible_secondary_sale_path(@secondary_sale), method: :patch, 
          class: "btn btn-success" , 
          data: {action: "click->confirm#popup", turbo:false, msg: popupMsg, title: label, method: "patch"}  %> 
      
      &nbsp;&nbsp;&nbsp;

      <%= button_to "Delete" , @secondary_sale, method: :delete, class: "btn btn-danger" , 
          form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
      
    <% end %>

    <%= link_to "Finalize" , spa_upload_secondary_sale_path(@secondary_sale), 
        class: "btn btn-danger" if policy(@secondary_sale).finalize_allocation? %>

    &nbsp;&nbsp;&nbsp;
    
    <% if policy(@secondary_sale).update? %>      
      <%= button_to "Allocate Sale" , allocate_secondary_sale_path(@secondary_sale), method: :patch, class: 
          "btn btn-success", 
          data: { action: "click->confirm#popup", turbo:false, method: "patch",
                  msg: "This will kick off the allocation process, which will take a few mins."}  %> 

    <% end %>

                                    


    <%  if policy(@secondary_sale).view_allocations? %>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Allocations
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Offer Allocations",
              finalize_allocation_offers_path(secondary_sale_id: @secondary_sale.id, finalize_allocation: true), 
              {class: "dropdown-item" } %> 
          <%= link_to "Interest Allocations",
              interests_path(secondary_sale_id: @secondary_sale.id, finalize_allocation: true), 
              {class: "dropdown-item" } %> 
        </div>
      </div>
    </div>
  <% end %>

  <%  if policy(@secondary_sale).update? %>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notifications
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          
          <%= button_to "Send Sale Open : To Sellers", 
              send_notification_secondary_sale_path(@secondary_sale, notification: "notify_open_for_offers"),    
              class: "dropdown-item", 
              data: { action: "click->confirm#popup", 
                      msg: "Send email to all sellers notifying that the sale is open", 
                      method: :patch }  %>   

          <%= button_to "Send Offer Reminder : To Sellers", 
              send_notification_secondary_sale_path(@secondary_sale, notification: "notify_closing_offers"),    
              class: "dropdown-item", 
              data: { action: "click->confirm#popup", 
                      msg: "Send email to all sellers notifying that the offer date is approaching", 
                      method: :patch }  %>   
        
          <%= button_to "Send Sale Open : To Buyers", 
              send_notification_secondary_sale_path(@secondary_sale, notification: "notify_open_for_interests"),    
              class: "dropdown-item", 
              data: { action: "click->confirm#popup", 
                      msg: "Send email to all buyers notifying that the sale is open for interests", 
                      method: :patch }  %>   

          <%= button_to "Send Interest Reminder : To Buyers", 
              send_notification_secondary_sale_path(@secondary_sale, notification: "notify_closing_interests"),    
              class: "dropdown-item", 
              data: { action: "click->confirm#popup", 
                      msg: "Send email to all buyers notifying that they need to enter their interest", 
                      method: :patch }  %>   
                  

          <%= button_to "Allocation Notification : To All", 
              send_notification_secondary_sale_path(@secondary_sale,     notification: "notify_allocation"),    
              class: "dropdown-item", 
              data: {action: "click->confirm#popup", 
              msg: "Send email to all participants notifying that the allocation is complete", method: :patch } if policy(@secondary_sale).notify_allocations? %> 
          
        </div>
      </div>
    </div>
  <% end %>


  </div>

  <%= render "/layouts/steps", steps: ["Setup Access Rights", "View / Approve Offers", 
             "View / Shortlist Interests", "Finalize Sale Price", "Allocate Sale & Edit Allocations"].freeze if @secondary_sale.entity_id == current_user.entity_id %>

  <%= render "/secondary_sales/secondary_sale_details" , secondary_sale: @secondary_sale %>