<%= render "/layouts/alerts" %>

  <%= render "/secondary_sales/show", secondary_sale: @secondary_sale %>


  <div>

    
    <%  if policy(@secondary_sale).view_allocations? %>
    <div class="btn-group">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Allocations
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Offer Allocations",
              offers_path(secondary_sale_id: @secondary_sale.id, finalize_allocation: true), 
              {class: "dropdown-item" } %> 
          <%= link_to "Interest Allocations",
              interests_path(secondary_sale_id: @secondary_sale.id, finalize_allocation: true), 
              {class: "dropdown-item" } %> 
        </div>
      </div>
    </div>
    <% end %>


          
    <% if policy(@secondary_sale).update? %>
      <%= link_to "Edit" , edit_secondary_sale_path(@secondary_sale), {class: "btn btn-primary" } %> 

      
      <%= button_to "Allocate Sale" , allocate_secondary_sale_path(@secondary_sale), method: :patch, class: 
          "btn btn-success", 
          data: { action: "click->confirm#popup", turbo:false, method: "patch",
                  msg: "This will kick off the allocation process, which will take a few mins."}  %> 
      
      <% label = @secondary_sale.visible_externally ? "Hide Externally" : "Make Visible Externally" %>
      <% popupMsg = @secondary_sale.visible_externally ? "This will hide the Sale from external advisors" : 
                    "This will allow external advisors to view this sale and place interests for buying." %>

      <%= button_to label , make_visible_secondary_sale_path(@secondary_sale), method: :patch, 
          class: "btn btn-success" , 
          data: {action: "click->confirm#popup", turbo:false, msg: popupMsg, title: label, method: "patch"}  %> 
      
      <%= button_to "Delete" , @secondary_sale, method: :delete, class: "btn btn-danger" , 
          form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
      
    <% end %>

    <%= link_to "Finalize" , spa_upload_secondary_sale_path(@secondary_sale), 
        class: "btn btn-danger" if policy(@secondary_sale).finalize_allocation? %>

  </div>

  <%= render "/layouts/steps", steps: ["Setup Access Rights", "View / Approve Offers", "View / Shortlist Interests"].freeze if @secondary_sale.entity_id == current_user.entity_id %>

  <%= render "/secondary_sales/secondary_sale_details" , secondary_sale: @secondary_sale %>