<tr id="<%= dom_id investment_opportunity %>">
  <td>
    <%= investment_opportunity.company_name %>
  </td>
  <td>
    <%= raw investment_opportunity.tags.map{|tag| link_to(tag.name, search_investment_opportunities_path(query: tag.name))}.join(", ") %>
  </td>
  <td>
    <%= money_to_currency investment_opportunity.fund_raise_amount, params %>
  </td>
  <td>
    <%= money_to_currency investment_opportunity.valuation, params %>
  </td>
  <td>
    <%= money_to_currency investment_opportunity.min_ticket_size, params %>
  </td>
  <td>
    <%= l investment_opportunity.last_date %>
  </td>
  <td>
    <%= investment_opportunity.currency %>
  </td>
  <td>
    <%= link_to "Show" , investment_opportunity , {class: "btn btn-primary" }%>
  </td>
</tr>