<tr id="<%= dom_id investment_opportunity %>">
  <td>
    <%= investment_opportunity.company_name %>
  </td>
  <td>
    <%= investment_opportunity.tag_list %>
  </td>
  <td>
    <%= money_to_currency investment_opportunity.fund_raise_amount, params %>
  </td>
  <td>
    <%= money_to_currency investment_opportunity.min_ticket_size, params %>
  </td>
  <td>
    <%= l investment_opportunity.last_date %>
  </td>
  <td>
    <%= investment_opportunity.currency %>
  </td>
  <td>
    <%= link_to  t_common(:show) , investment_opportunity , {class: "btn btn-outline-primary" }%>
  </td>
</tr>