<div class="io-preview-container h-100">
    <div class="preview-doc-card">
        <% url = document.orignal ? document.file.url(response_content_disposition: "inline; filename=#{document.name_with_extension}") : document_path(document) %>
        <a href="<%=url%>" class="stretched-link"></a>

        <div class="doc-header">
            <div class="icon-wrapper">
                <i class="ti ti-file-text"></i>
            </div>
            <div class="doc-info">
                <h4 title="<%= document.name %>"><%= document.name %></h4>
                <div class="date">
                    <i class="ti ti-calendar fs-2"></i>
                    <%= l document.created_at.to_date %>
                </div>
            </div>
        </div>

        <div class="doc-meta">
            <%= truncate(document.text.to_s, length: 60) if document.text.present? %>
        </div>
    </div>
</div>
