<%= render "/investment_opportunities/preview_header", investment_opportunity: investment_opportunity %>

<div class="associated_entity">
    <section class="hero-section position-relative overflow-hidden mb-0 mb-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <%= render "/investment_opportunities/card_table2", investment_opportunity: investment_opportunity, show_tags: false %>
            </div>
        </div>
    </div>
    </section>
</div>

<%= render "/ci_track_records/preview_track_record", owner: investment_opportunity %>
<%= render "/ci_widgets/preview_widgets2", owner: investment_opportunity %>

<div class="row justify-content-center">
    <% investment_opportunity.documents.each do |doc| %>
        <div class="col-md-3"><%= render "/investment_opportunities/preview_document", document: doc %></div>
    <% end %>
</div>

<div class="align-items-center text-center">
    <%= link_to "Express Interest", new_expression_of_interest_path("expression_of_interest[investment_opportunity_id]": investment_opportunity.id ), {class: "btn btn-primary btn-lg px-5 py-6 btn-hover-shadow mb-3 mb-sm-0"} if current_user %>
</div>


<div class="mt-5">

    <% if current_user && current_user.has_cached_role?(:rm) %>

        <div id="eois" class="associated_entity">

            <%= turbo_frame_tag "expression_of_interests_list", target: "_top", loading: :lazy, src: expression_of_interests_path( investment_opportunity_id: investment_opportunity.id,
                                    all: true)  do %>
                <%= render "/layouts/loading" %>
            <% end %>

        </div>
    <% end %>

    <% if current_user && current_user.curr_role == "investor" %>
        <% eois = policy_scope(ExpressionOfInterest).where(investment_opportunity_id: investment_opportunity.id) %>

        <% eois.each do |eoi| %>
          <%= render "/expression_of_interests/card", expression_of_interest: eoi if eoi %>
        <% end %>

        <% eoi = eois.where(show_data_room: true).first %>
        <% if eoi and eoi.show_data_room? %>
            <%= turbo_frame_tag "documents_tree_frame", target: "_top", loading: :lazy, src: folder_documents_path(entity_id: investment_opportunity.entity_id, folder_id: investment_opportunity.data_room_folder_id, show_root_docs: true) do %>
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>

</div>