<%= render "/investment_opportunities/preview_header", investment_opportunity: investment_opportunity %>

<div class="associated_entity">
    <section class="hero-section position-relative overflow-hidden mb-0 mb-lg-5">
    <div class="container">
        <div class="row align-items-center">        
            <div class="col">
                <%= render "/investment_opportunities/card_table2", investment_opportunity: investment_opportunity %>
            </div>
        </div>        
    </div>
    </section>
</div>

<%= render "/ci_track_records/preview_track_record", investment_opportunity: investment_opportunity %>
<%= render "/ci_widgets/preview_widgets2", investment_opportunity: investment_opportunity %>

<div class="row">
    <% investment_opportunity.documents.each do |doc| %>
        <div class="col"><%= render "/investment_opportunities/preview_document", document: doc %></div>
    <% end %>
</div>                

<div class="align-items-center text-center">                        
    <%= link_to "Express Interest", new_expression_of_interest_path("expression_of_interest[investment_opportunity_id]": investment_opportunity.id ), {class: "btn btn-primary btn-lg px-5 py-6 btn-hover-shadow mb-3 mb-sm-0"} %>
</div>