
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User</h6>
  </div>
  <div class="card-body">

<%= form_with(model: user, data: {"turbo": "false"}, validate: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", autocomplete: "nope" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dept, "Department" %>
    <%= form.text_field :dept, class: "form-control" %>
  </div>


  <% if !user.id.present? %>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>
  <% end %>

  <% if false %>
  <% User.permissions.pairs.each do |key, val| %>
  <div class="form-group">
    <%= form.label :permissions, key %>
    <%= form.check_box :permissions, {name: "user[permissions][]",  
        val: val, id: "permissions_#{val}", class: "form-control form-checkbox"}, val, nil   %>
  </div>
  <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :whatsapp_enabled %>
    <%= form.check_box :whatsapp_enabled, class: "form-control form-checkbox" %>
    <small class="text-muted">
      Additional step is required to enable whatsapp messages, 
      you will need to scan a QR shown post saving your profile or 
      click the 'Receive Whatsapp Updates' button in this app on your phone.
    </small>
  </div>

  <% if Entity::SECONDARY_BUYERS.include? user.entity.entity_type %>
  <div class="form-group">
    <%= form.label :sale_notification, "Receive secondary sale notifications" %>
    <%= form.check_box :sale_notification, class: "form-control form-checkbox" %>
    <small class="text-muted">
      Receive alerts on secondary sales by startups across our eco system
    </small>
  </div>
  <% end %>

 
  <%= form.text_field :entity_id, class: "form-control", hidden: true %>


  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"} %>
  </div>
<% end %>

  </div>
</div>