<tr id="user_<%= user.id %>">
  <td>
    <%= link_to user.first_name, user_path(user.id) %>
  </td>

  <td>
    <%= user.last_name %>
  </td>

  <td>
    <%= user.roles.collect(&:name) %>
  </td>

  <td>
    <%= user.entity_name %>
  </td>

  <td>
    <%= link_to  t_common(:show), user, {class: "btn btn-outline-primary" } if policy(user).show? %>
    <%= link_to  t_common(:edit), edit_user_path(user), {class: "btn btn-outline-success" } if policy(user).edit? %>
  </td>
</tr>
