

  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <%= link_to @user.name, @user %>
      </h6>
    </div>

    <div class="card-body">

      <table id="users" class="table table-bordered dataTable ">

        <tr>
          <td>
            First name
          </td>
          <td>
            <%=@user.first_name%>
          </td>
        </tr>
        <tr>
          <td>
            Last name
          </td>
          <td>
            <%=@user.last_name%>
          </td>
        </tr>
        <tr>
          <td>
            Email
          </td>
          <td>
            <%=@user.email%>
          </td>
        </tr>
        <tr>
          <td>
            Phone
          </td>
          <td>
            <%= "(#{@user.call_code})#{@user.phone}"%>
          </td>
        </tr>

        <tr>
          <td>
            Signature
          </td>
          <td>
            <%= image_tag @user.signature_url,
              style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if @user.signature.present? %>
          </td>
        </tr>

        <tr>
          <td>
            Department
          </td>
          <td>
            <%=@user.dept %>
          </td>
        </tr>

        <tr>
          <td>
            Permissions
          </td>
          <td>
            <% @user.permissions.map{|p| p.to_s.titleize}.each do |permission| %>
              <span class="badge bg-success"><%= permission %></span>
            <% end %>
          </td>
        </tr>

        <% unless @user.has_cached_role?(:company_admin) %>
        <tr>
          <td>
            Extended Permissions
          </td>
          <td>
            <% @user.extended_permissions.map{|p| p.to_s.titleize}.each do |permission| %>
              <span class="badge bg-success"><%= permission %></span>
            <% end %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            WhatsApp Enabled
          </td>
          <td>
            <%= display_boolean @user.whatsapp_enabled %>
          </td>
        </tr>

        <tr>
          <td>
            Support Enabled
          </td>
          <td>
            <%= display_boolean @user.enable_support %>
          </td>
        </tr>


        <tr>
          <td>
            Entity
          </td>
          <td>
            <%=@user.entity.name if @user.entity_id %>
          </td>
        </tr>

        <tr>
          <td>
            Roles
          </td>
          <td>
            Role Enabled: <%=@user.roles.collect(&:name) %><br>
            Current Role: <%= @user.curr_role %>
          </td>
        </tr>

        <%= display_custom_fields(@user) %>
        
      </table>

      <div>
        <%= link_to  t_common(:edit) , edit_user_path(@user), {class: "btn btn-outline-primary" } if policy(@user).update? %>
      </div>


    </div>
  </div>
