<%
    hide_show_btn ||= false
%>


<div class="io_card col col-md-4 preview">
    <div class="card inner_card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header thin-padding">
            <div class="d-flex">
            <div class="ms-auto">
            <span class="mb-1 badge rounded-pill bg-info-subtle text-info">
                <%= model.status %>
            </span>
            </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <% if @logo.present? %>
                    <div class="d-sm-flex align-items-center justify-content-between text-center">
                        <%= image_tag @logo.url(expires_in: 60*60*24*7), class: "ci-logo" %>
                    </div>
                <% end %>

                <div class="card-title d-flex justify-content-center align-items-center">
                    <% if @path %>
                        <a href="<%= @path %>">
                    <% end %>
                        <h3 class="font-weight-bold custom-underline mb-0"><%= model.name %> </h3>
                    <% if @path %>
                        </a>
                    <% end %>
                </div>

                <%= render "/deal_investors/preview_card_table2", model: @model , object: @object, tags: @tags, show_tags: @show_tags, col_size: @col_size%>
            </div>
        </div>
    </div>
</div>

<% params[:force_units] = nil %>
