<div class="wizard_container" data-controller="wizard">
    
    <div class="stepwizard <%= offer.secondary_sale.lock_allocations ? '': 'd-none' %>">
            <div class="stepwizard-row setup-panel">
                
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-outline-primary btn-circle">1</a>
                    <p>Step 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">2</a>
                    <p>Step 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">3</a>
                    <p>Step 3</p>
                </div>

            </div>        
    </div>
    
<%= form_with(model: offer, validate: true) do |form| %>
  <% if offer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row setup-content" id="step-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 1. Offer Quantity </div>
            <div class="card-body">

                <div class="form-group">
                    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
                    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
                </div>

                <div class="form-group">
                    <%= form.label :secondary_sale %>
                    <%= form.text_field :secondary_sale_name, class: "form-control", disabled: true, value: offer.secondary_sale.name  %>
                    <%= form.text_field :secondary_sale_id, class: "form-control", hidden: true  %>
                    <%= form.text_field :holding_id, class: "form-control", hidden: true  %>
                    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
                    <small class="text-muted"> Percentage of holdings authorized in this sale is <%= offer.secondary_sale.percent_allowed %>% </small>
                </div>


                <div class="form-group">
                    <%= form.label :quantity %>
                    <% if offer.approved %>
                        <%= form.number_field :quantity, class: "form-control", required: true, disabled: true %>
                    <% else %>
                        <%= form.number_field :quantity, class: "form-control", required: true %>
                    <% end %>
                    <small class="text-muted"><%= offer.secondary_sale.percent_allowed %>% of your <%=offer.total_holdings_quantity%> holdings is <%= offer.allowed_quantity %> units</small>
                </div>

                <div class="form-group">
                    <%= form.label :notes %>
                    <%= form.text_area :notes, class: "form-control"  %>
                </div>

                <div class="form-group">
                    <% if offer.secondary_sale.lock_allocations %>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    <% else %>
                        <%= form.submit "Save", {class: "btn btn-primary btn-lg"}%>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
  </div>

  <% if offer.secondary_sale.lock_allocations %>

    <div class="row setup-content" id="step-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 2. Personal Details </div>
                <div class="card-body">

                    <div class="form-group">
                        <%= form.label :first_name %>
                        <%= form.text_field :first_name, class: "form-control", required: true  %>
                    </div>
                    <div class="form-group">
                        <%= form.label :middle_name %>
                        <%= form.text_field :middle_name, class: "form-control"  %>
                    </div>
                    <div class="form-group">
                        <%= form.label :last_name %>
                        <%= form.text_field :last_name, class: "form-control", required: true  %>
                    </div>
                    <div class="form-group">
                        <%= form.label :address %>
                        <%= form.text_area :address, class: "form-control", required: true  %>
                    </div>
                    
                    <div class="form-group">

                        <%= render "layouts/single_upload", form: form, field_label: "Upload Address Proof", 
                                                for_model: "offer", field_name: "address_proof", 
                                                model: offer %>
                    
                        <small class="text-muted"> Upload any document which can serve as Address Proof. </small>
                    </div>


                    <div class="form-group">
                        <%= form.label :PAN, "PAN" %>
                        <%= form.text_field :PAN, class: "form-control", required: true  %>
                    </div>

                    <div class="form-group">

                        <%= render "layouts/single_upload", form: form, field_label: "Upload ID Proof", 
                                                for_model: "offer", field_name: "id_proof", 
                                                model: offer %>
                    
                        <small class="text-muted"> Upload any document which can serve as ID Proof. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :bank_account_number %>
                        <%= form.text_field :bank_account_number, class: "form-control", required: true  %>
                    </div>
                    <div class="form-group">
                        <%= form.label :bank_name %>
                        <%= form.text_field :bank_name, class: "form-control", required: true  %>
                    </div>
                    <div class="form-group">
                        <%= form.label :bank_routing_info %>
                        <%= form.text_area :bank_routing_info, class: "form-control", required: true  %>
                        <small class="text-muted">IFSC code, Branch etc</small>
                    </div>

                    <%= custom_form_fields(offer, form) %>

                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> 3. Additional Documents </div>
                <div class="card-body">

                    <div class="form-group">

                        <%= form.label :documents, "Additional Offer Documents", class: "form-label" %>
                        <%= render "layouts/multi_upload", form: form, title: "Offer Documents", 
                                                for_model: "offer" %>
                    
                        <small class="text-muted"> <%= offer.secondary_sale.seller_doc_list %> </small>
                    
                    </div>
                  
                    <div class="form-group">

                        <%= render "layouts/single_upload", form: form, field_label: "Upload Signature Image", 
                                                for_model: "offer", field_name: "signature", 
                                                model: offer %>
                    
                        <small class="text-muted"> Upload signature. </small>
                    </div>

                    <div class="form-group">
                        <%= form.label :final_agreement, "I agree to enter into the SPA" %>
                        <%= form.check_box :final_agreement, class: "form-control form-checkbox"  %>
                    </div>

                    <div class="form-group">
                        <%= form.submit "Save", {class: "btn btn-primary btn-lg"}%>
                    </div>

                </div>
            </div>
        </div>


    </div>

  <% end %>

<% end %>

</div>