<%= turbo_frame_tag "tf_#{dom_id(@offer)}" do %>

    <%= form_with(model: @offer, url: allocate_offer_path(@offer), method: "PATCH", validate: true, 
        class: "allocation_form divTableRow #{cycle('even', 'odd')}") do |form| %>

        <div class="divTableCell">
            <span class="badge <%= @offer.approved ? 'bg-success' : 'bg-warning' %>">
                <%= @offer.approved ?  "Yes" : "No" %>
            </span>
        </div>

        <div class="divTableCell"><%= @offer.user ? @offer.user&.full_name : @offer.investor&.investor_name %></div>
        <div class="divTableCell"><%= custom_format_number(@offer.quantity, params) %></div>
        <div class="divTableCell"><%= @offer.percentage %></div>
        <div class="divTableCell"><%= @offer.PAN %></div>
        <div class="divTableCell"><%= @offer.bank_name %></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"><%= money_to_currency(@offer.allocation_amount, params) %></div>

        <div class="divTableCell"><%= @offer.allocation_percentage %></div>
        <div class="divTableCell">    
            <%= form.number_field :allocation_quantity, class: "form-control"  %>
        </div>
        <div class="divTableCell">
            <%= form.select :interest_id, @offer.secondary_sale.interests.short_listed.escrow_deposited.map{|i| [i.interest_entity.name, i.id]}, {}, class: "form-control"  %>
        </div>
        <div class="divTableCell">
            <%= form.check_box :verified, class: "form-control"  %>
        </div>
        <div class="divTableCell">
            <%= form.text_area :comments, class: "form-control", rows: 2  %>
        </div>
        <div class="divTableCell">
            <%= form.submit "Save", {class: "btn btn-primary"}%>
        </div>
    <% end %>

<% end %>
