<%= render "/layouts/alerts" %>

<% if policy(@offer).update? && @offer.secondary_sale.lock_allocations %>
    <%= render "/layouts/steps", steps: ["Review your offer details below", 
            "Please #{link_to 'Add', edit_offer_path(@offer)} the required documentation & details to finalize the sale".html_safe, 
            "You will need the follwing docs #{@offer.secondary_sale.seller_doc_list}",
            "Wait for communication from #{@offer.secondary_sale.entity.name}"].freeze %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render "/offers/show" %>
  </div>
  <div class="col-md-4">
    <%= render "/offers/faq", offer: @offer %>
  </div>
</div>


  <div>
    <% if policy(@offer).update? %>
      <%= link_to "Edit" , edit_offer_path(@offer), {class: "btn btn-primary" } %>
    <% end %>

    <% label = @offer.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_offer_path(@offer), method: :patch, class: "btn btn-success" , 
      form_class: "deleteButton" if Pundit.policy(current_user, @offer).approve? %>

    <%= link_to "Secondary Sale" , secondary_sale_path(@offer.secondary_sale), {class: "btn btn-primary" } %>
  </div>