<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        User
      </td>
      <td>
        <%= @offer.user.full_name %>
        (<%= @offer.user.email %>)
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @offer.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Secondary Sale
      </td>
      <td>
        <%= link_to @offer.secondary_sale.name, @offer.secondary_sale %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @offer.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Percentage
      </td>
      <td>
        <%= @offer.percentage %>%
          <% if @offer.percentage && @offer.percentage > @offer.secondary_sale.percent_allowed %>
            <div>
              <div class="badge badge-danger">Over Allowed Percentage</div>
              The current sale allows you to sell only <%= @offer.secondary_sale.percent_allowed %>% of your holdings
            </div>
            <% end %>
      </td>
    </tr>


    <tr>
      <td>
        Notes
      </td>
      <td>
        <%= @offer.notes %>
      </td>
    </tr>
    <tr id="approved">
      <td>
        Approved
      </td>
      <td class="approved">
        <span class="badge <%= @offer.approved ? 'bg-success' : 'bg-warning' %>">
          <%= @offer.approved ?  "Yes" : "No" %>
        </span>
      </td>

    </tr>

    <% if @offer.final_price > 0 %>
      <tr>
        <td colspan="2" class="bg-primary"></td>
      </tr>
      <tr>
        <td>
          Allocated Quantity
        </td>
        <td>
          <%= @offer.allocation_quantity %>
        </td>
      </tr>
      <tr>
        <td>
          Final Price
        </td>
        <td>
          <%= @offer.final_price %>
        </td>
      </tr>
      <tr>
        <td>
          Allocation Amount
        </td>
        <td>
          <%= money_to_currency @offer.allocation_amount, params %>
        </td>
      </tr>
      <tr>
        <td>
          Allocation %
        </td>
        <td>
          <%= @offer.allocation_percentage %> %
        </td>
      </tr>

      <tr>
        <td>
          Aquirer
        </td>
        <td>
          <%= @offer.acquirer_name %> 
        </td>
      </tr>

    <% end %>

    <% if @offer.secondary_sale.finalized  || params[:debug].present? %>
      <tr>
        <td colspan="2" class="bg-primary"></td>
      </tr>
      <tr>
        <td>
          First Name
        </td>
        <td>
          <%= @offer.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          Middle Name
        </td>
        <td>
          <%= @offer.middle_name %>
        </td>
      </tr>
      <tr>
        <td>
          Last Name
        </td>
        <td>
          <%= @offer.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          Address
        </td>
        <td>
          <%= @offer.address %>
        </td>
      </tr>
      <tr>
        <td>
          Address Proof
        </td>
        <td>
          <%= render "/layouts/attachments" , attachments: [@offer.address_proof] if @offer.address_proof.present? %>
        </td>
      </tr>
      <tr>
        <td>
          PAN
        </td>
        <td>
          <%= @offer.PAN %>
        </td>
      </tr>
      <tr>
        <td>
          ID Proof
        </td>
        <td>
          <%= render "/layouts/attachments" , attachments: [@offer.id_proof] if @offer.id_proof.present? %>
        </td>
      </tr>
      <tr>
        <td>
          Bank Account Number
        </td>
        <td>
          <%= @offer.bank_account_number %>
        </td>
      </tr>
      <tr>
        <td>
          Bank Name
        </td>
        <td>
          <%= @offer.bank_name %>
        </td>
      </tr>
      <tr>
        <td>
          Bank Routing Info
        </td>
        <td>
          <%= @offer.bank_routing_info %>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="bg-primary"></td>
      </tr>

      <tr>
        <td>
          Documents
        </td>
        <td>
          <%= render "/layouts/attachments" , attachments: @offer.docs %>
        </td>
      </tr>

      <tr>
        <td>
          Signature
        </td>
        <td>
          <%= render "/layouts/attachments" , attachments: @offer.signature %>
          <%= image_tag image_url(rails_blob_path(@offer.signature[0])), 
          style: "margin:0px; padding:0px; max-width:200px; max-height:200px;" if @offer.signature.present? %>
        </td>
      </tr>

      <tr>
        <td>
          I agree to enter into the SPA
        </td>
        <td>
          <span class="badge <%= @offer.final_agreement ? 'bg-success' : 'bg-warning' %>">
            <%= @offer.final_agreement ? "Yes" : "No" %>
          </span>
        </td>
      </tr>


      
      <% if @offer.secondary_sale.spa.present? || @offer.spa.present? %>

        <tr>
          <td colspan="2" class="bg-primary"></td>
        </tr>      
        <tr>
          <td>
            SPA
          </td>
          <td>
            <% spa = @offer.secondary_sale.spa.present? ? @offer.secondary_sale.spa : @offer.spa %>
            <%= render "/layouts/attachments" , attachments: [spa], allow_delete: "No" %>
          </td>
        </tr>

      <% end %>

    <% end %>


  </table>


  <div>
    <% if policy(@offer).update? %>
      <%= link_to "Edit" , edit_offer_path(@offer), {class: "btn btn-primary" } %>
    <% end %>

    <% label = @offer.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_offer_path(@offer), method: :patch, class: "btn btn-success" , 
      form_class: "deleteButton" if Pundit.policy(current_user, @offer).approve? %>

    <%= link_to "Secondary Sale" , secondary_sale_path(@offer.secondary_sale), {class: "btn btn-primary" } %>
  </div>