<% data_source ||= dashboard_widgets_path(params: params.to_unsafe_h, import_upload_id: params[:import_upload_id], format: :xlsx) %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard Widgets</h1>
  <span>
    <%= link_to "New Dashboard Widget", new_dashboard_widget_path, {class: "btn btn-outline-primary"}  %>
    <%= link_to "Filter", dashboard_widgets_path(filter: true), {class: "btn btn-outline-success"}  %>

    <%= link_to download_xl_link(data_source),
                class: "btn btn-outline-success",
                data: { turbo: false } do %>
      <i class="ti ti-download"></i> <%= t_common(:download) %>
    <% end %>

    <%= link_to new_import_upload_path(
                  "import_upload[import_type]": "DashboardWidget",
                  "sample_upload": "DASHBOARD_WIDGET_SAMPLE"),
                class: "btn btn-outline-primary",
                data: { turbo: false } do %>
      <i class="ti ti-upload"></i> <%= t_common(:upload) %>
    <% end %>
  </span>
</div>


<div class="table-responsive" data-controller="datatable">

  <table id="dashboard_widgets" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th>
          <%= sort_link @q, :dashboard_name %>
        </th>
        <th>
          <%= sort_link @q, :name %>
        </th>
        <th>
          <%= sort_link @q, :owner_type, "Owner" %>
        </th>
        <th>
          <%= sort_link @q, :widget_name %>
        </th>
        <th>
          <%= sort_link @q, :tags %>
        </th>
        <th>
          <%= sort_link @q, :size %>
        </th>
        <th>
          <%= sort_link @q, :position %>
        </th>
        <th>
          Metadata
        </th>
        <th>
          <%= sort_link @q, :enabled %>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
    <% @dashboard_widgets.each do |dashboard_widget| %>
      <%= render dashboard_widget %>
    <% end %>
    </tbody>
  </table>

  <%= raw pagy_bootstrap_nav(@pagy) %>

</div>