<!-- ------------------------------- -->
<!-- start profile Dropdown -->
<!-- ------------------------------- -->
<li class="nav-item dropdown">
    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="ti ti-user"></i>
        <div class="bg-primary rounded-circle"></div>
    </a>

    <% if current_user %>
    <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
            aria-labelledby="drop1">
    <div class="profile-dropdown position-relative" data-simplebar>
        <div class="py-3 px-7 pb-0">
        <h5 class="mb-0 fs-5 fw-semibold">User Profile</h5>
        </div>
        <div class="d-flex align-items-center py-9 mx-7 border-bottom">
        <div class="">
            <h5 class="mb-1 fs-3"><%= current_user.full_name %></h5>
            <span class="mb-1 d-block"><%= current_user.curr_role&.humanize %></span>
            <p class="mb-0 d-flex align-items-center gap-2">
            <%= current_user.email %>
            </p>
        </div>
        </div>
        <div class="message-body">
        <a href="<%=user_path(current_user)%>" class="py-8 px-7 mt-8 d-flex align-items-center">
            <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
            <img src="/modernize/images/svgs/icon-account.svg" alt="" width="24" height="24" />
            </span>
            <div class="w-75 d-inline-block v-middle ps-3">
            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Profile</h6>
            <span class="fs-2 d-block text-body-secondary">Account Settings</span>
            </div>
        </a>
        <a href="<%= notifications_path %>" class="py-8 px-7 d-flex align-items-center">
            <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
            <img src="/modernize/images/svgs/icon-inbox.svg" alt="" width="24" height="24" />
            </span>
            <div class="w-75 d-inline-block v-middle ps-3">
            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Inbox</h6>
            <span class="fs-2 d-block text-body-secondary">Messages & Notifications</span>
            </div>
        </a>
        <a href="/tasks?assigned_to_id=<%=current_user.id%>" class="py-8 px-7 d-flex align-items-center">
            <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
            <img src="/modernize/images/svgs/icon-tasks.svg" alt="" width="24" height="24" />
            </span>
            <div class="w-75 d-inline-block v-middle ps-3">
            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Task</h6>
            <span class="fs-2 d-block text-body-secondary">To-do and Daily Tasks</span>
            </div>
        </a>
        </div>
        <div class="d-grid py-4 px-7 pt-8">                    
        <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal" class="btn btn-outline-primary">Log Out</a>
        </div>
    </div>
    </div>
    <% end %>
</li>            
<!-- ------------------------------- -->
<!-- end profile Dropdown -->
<!-- ------------------------------- -->