<% cache_if(current_user != nil, cache_key("topbar"), expires_in: 5.day) do %>

<!--  Header Start -->
<header class="topbar">
  <div class="with-vertical"><!-- ---------------------------------- -->
    <!-- Start Vertical Layout Header -->
    <!-- ---------------------------------- -->
    <nav class="navbar navbar-expand-lg p-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link sidebartoggler nav-icon-hover ms-n3" id="headerCollapse" href="javascript:void(0)">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
        <!-- li class="nav-item d-none d-lg-block">
          <a class="nav-link nav-icon-hover" href="javascript:void(0)" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
            <i class="ti ti-search"></i>
          </a>
        </li -->
      </ul>
      <ul class="navbar-nav quick-links d-none d-lg-flex">
        <%= render "/layouts/modernize/favs" if current_user %>
      </ul>
      <div class="d-block d-lg-none">
          <img src="/img/logo-without-tagline.jpg" width="80" class="logo-light" />
          <img src="/img/logo-transparent2.png" width="80" class="logo-dark" />
      </div>
      <a class="navbar-toggler nav-icon-hover p-0 border-0" href="javascript:void(0)" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="p-2">
          <i class="ti ti-dots fs-7"></i>
        </span>
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="d-flex align-items-center justify-content-between">

          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">

            <% if current_user && current_user.support_user_id.present? %>
              <span class="blink text-danger fs-5"> Support for: <%= current_user.entity.name %> &nbsp; </span>
            <% end %>

            <% if current_user && current_user.advisor_entity_id.present? %>
                <div class="topbar-divider "></div>
                <%= render "/investor_advisors/personas" %>
            <% end %>

            <% if current_user && current_user.regions.present? %>
                <div class="topbar-divider "></div>
                <%= render "/layouts/sites" %>
            <% end %>

            <% if current_user && !current_user.investor_advisor? &&
                (
                    current_user.has_cached_role?(:investor)
                )  %>
                <div class="topbar-divider "></div>
                <%= render "/layouts/persona" %>
            <% end %>

            <%= render "/layouts/modernize/notifications" %>

            <%= render "/layouts/modernize/company_menus" %>

            <%= render "/layouts/modernize/profile_menus" %>

          </ul>
        </div>
      </div>
    </nav>
    <!-- ---------------------------------- -->
    <!-- End Vertical Layout Header -->
    <!-- ---------------------------------- -->
    <%#= render "/layouts/modernize/mobile_navbar" %>

  </div>

</header>
<!--  Header End -->

<% end %>