<div class="form-group  <%= field.form_class %>" <%= field.data_attributes&.html_safe %>>
    <%= f.label field.name, field.human_label %>
    <%= f.check_box field.name, class: "form-check-input custom_field", required: field.required %> 
    <small class="text-muted"><%= field.help_text.html_safe %></small>   
</div>