<div class="form-group  <%= field.form_class %>" <%= field.data_attributes&.html_safe %>>
    <%= f.label field.name, field.human_label %>
    <% options = field.meta_data.present? ? field.meta_data.split(",") : [] %>
    
    <%= f.text_field field.name, class: "form-control custom_field", required: field.required, 
        list: "options_#{field.name}", autocomlete: "off" %>
    <small class="text-muted"><%= field.help_text&.html_safe %></small>

    <datalist id="options_<%=field.name%>" class="d-none">
        <%= options_for_select(options) %>
    </datalist>
</div>