<% 
    allowed_types ||= FileUploader::ALLOWED_TYPES 
    # This is the name of the model that the form is for where documents are being attached
    for_model = model.class.name.underscore
    # This is the name of the document, derived from the field name
    document_name = field.name.titleize
    
    field_id = field.name.titleize.delete(" ").underscore
    # This is the document, in case there is already a document attached with this name
    document = model.documents.where(name: document_name).first
    # The field is mandatory and the file has not yet been uploaded
    required = field.required && document.nil? 
%>


<div class="form-group <%= field.read_only ? 'hidden_form_field' : '' %>"
    data-controller="single-upload" 
    data-single-upload-types-value="<%= allowed_types.to_json %>" 
    data-single-upload-server-value="<%= upload_server %>">

    <div>
        <!-- Create document fields for this model. Note these are nested attributes -->
        <%= f.label field.name, document_name %> : <%= link_to "#{document.uploaded_file_name}", document if document %>
        <% idx = rand(100000) %>

        <%= f.hidden_field field_id.to_sym, name: "#{for_model}[documents_attributes][#{idx}][file]",
            data: { single_upload_target: "result" }, id: "id_#{idx}", 
            class: "validate_hidden" %>

        <!-- This is the actual file upload field , sometimes it is required -->
        <%= f.file_field field.name, class: "form-control custom_field", id: field_id, 
            data: { single_upload_target: "input" }, required: required %>
        
        <%= f.text_field "document_name",  class: "form-control", name: "#{for_model}[documents_attributes][#{idx}][name]", value: document_name, hidden: true  %>
        <%= f.text_field "document_orignal",  class: "form-control", name: "#{for_model}[documents_attributes][#{idx}][orignal]", value: true, hidden: true  %>
        <%= f.text_field "document_user_id",  class: "form-control", name: "#{for_model}[documents_attributes][#{idx}][user_id]", value: current_user.id, hidden: true  %>
        
        <%= f.text_field "document_id",  class: "form-control", name: "#{for_model}[documents_attributes][#{idx}][id]", value: document&.id, hidden: true  %>
       
    </div>

    <!-- Standard Uppy stuff -->
    <div>    
        <div class="UppyInput-Progress <%=field_id%>_progress"></div>
        <!-- static link to the thumbnail generated on attachment -->
        <% image_src = "" %>
        <%= image_tag image_src,
            width: 300,
            class: "img-thumbnail file-upload-preview",
            data: { single_upload_target: "preview" }  %>
    </div>

    <div>
        <small class="text-muted"><%= field.help_text %> </small>
    </div>
</div>
