<tr>
    <td>
        <%= f.position %>
    </td>
    <td>
        <%= f.name %>
    </td>
    <td>
        <%= f.human_label %>
    </td>
    <td>
        <%= f.field_type %>
    </td>
    <td>
        Required <%= display_boolean f.required %>,
        Read Only <%= display_boolean f.read_only %> <br>
        Reg Env: <%= f.reg_env&.html_safe %> <br>
        Metadata: <%= f.meta_data %> <br>
        Help Text: <%= f.help_text&.html_safe %> <br>
        <%
            class_name = f.form_type.name.underscore
            class_name = "investor_kyc" if ["individual_kyc", "non_individual_kyc"].include?(class_name)
        %>
        <% template_field_text = "=#{class_name}.custom_fields.#{f.name}" %>
        <% span_id = "fcf_#{f.id}_template_text" %>
        <% notice_id = "fcf_#{f.id}_notice" %>

        Template Field:  
        <span id="<%= span_id %>" class="text-muted"><%= template_field_text %></span> 
        <i class="fas fa-copy"
            data-action="click->confirm#copy"
            data-target="#<%= span_id %>"
            data-notify="#<%= notice_id %>"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Copy"></i>
        <span id="<%= notice_id %>" class="copy-notice d-block mt-1 text-success small"></span>
    </td>
    <td>
        <% if f.condition_on.present? %>
        On: <%= f.condition_on %> <br>
        Criteria: <%= f.condition_criteria %> <br>
        Match Value: <%= f.condition_params %> <br>
        Initial State: <%= f.condition_state %>
        <% end %>
    </td>
    <td>
        <%= f.step.humanize %>
    </td>

</tr>
