<div class="form-group <%= field.form_class %>" <%= field.data_attributes&.html_safe %> <%= field.data_attributes&.html_safe %> >
    <%= f.label field.name, field.human_label %><br>
    <% field.meta_data.split(",").each do |option| %>
        <div class="form-check form-check-inline">
            <%= f.radio_button field.name, option, required: field.required, class: "form-check-input" %> 
            <%= f.label option, class: "form-check-label custom_field" %>
        </div>
    <% end %>
    <br>
    <small class="text-muted"><%= field.help_text&.html_safe %></small>
</div>