<div class="form-group  <%= field.form_class(current_user) %>" <%= field.data_attributes&.html_safe %>>
    <%= f.label field.name, field.human_label %>
    <% if field.info.present? %>
        <%= tag.i "",                                                     # empty <i> element
         class:    "ti ti-info-triangle text-primary",
         role:     "button",
         tabindex: 0,
         data: {
           bs_toggle:    "tooltip",
           bs_html:      true,                                   # â† allow HTML
           bs_custom_class: "wide-tooltip",
           bs_title:     field.info.body.to_html                # sanitised HTML
         } %>
   <% end %>
    <% options = field.meta_data.present? ? field.meta_data.split(",") : [] %>

    <% if field.js_events.blank? %>
        <%= f.select field.name, options, {}, class: "form-control custom_field", required: field.required %>
    <% else %>
    <%  # check AddRegulatoryCustomFieldsService for usage
        # data: {action: field.js_events} is used to trigger js events on change of select field
        # used to investor_sub_category manipulate dropdown based on investor_category dropdown in kyc form
     %>
        <%= f.select field.name, options, {}, class: "form-control custom_field", required: field.required, data: {action: field.js_events} %>
    <% end %>
    <small class="text-muted"><%= field.help_text&.html_safe %></small>
</div>
