<div class="form-group <%= field.form_class %>" <%= field.data_attributes&.html_safe %> >
    <%= f.label field.name, field.human_label %>
    <%= f.text_area field.name, class: "form-control custom_field", required: field.required, rows: field.meta_data %>
    <small class="text-muted"><%= field.help_text&.html_safe %></small>
</div>
