<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Name
        </td>
        <td>
          <%= @form_custom_field.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Field Type
        </td>
        <td>
          <%= @form_custom_field.field_type %>
        </td>    
      </tr>
          <tr>
        <td>
          Required
        </td>
        <td>
          <%= @form_custom_field.required %>
        </td>    
      </tr>
          <tr>
        <td>
          Form Type
        </td>
        <td>
          <%= @form_custom_field.form_type_id %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_form_custom_field_path(@form_custom_field), {class: "btn btn-outline-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-outline-primary"} %> |

  <%= button_to "Delete", @form_custom_field, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton" %>
</div>
