

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Name
        </td>
        <td>
          <%= @form_custom_field.name %>
        </td>
      </tr>
          <tr>
        <td>
          Field Type
        </td>
        <td>
          <%= @form_custom_field.field_type %>
        </td>
      </tr>
          <tr>
        <td>
          Required
        </td>
        <td>
          <%= @form_custom_field.required %>
        </td>
      </tr>
          <tr>
        <td>
          Form Type
        </td>
        <td>
          <%= @form_custom_field.form_type_id %>
        </td>
      </tr>


</table>


<div>
  <%= link_to edit_form_custom_field_path(@form_custom_field), {class: "btn btn-outline-primary"} do %>
    <i class="ti ti-edit"></i> <%= t_common(:edit) %>
  <% end %> |
  <%= link_to :back, {class: "btn btn-outline-primary"} do %>
    <i class="ti ti-arrow-left"></i> Back
  <% end %> |
 |
  <%= button_to @form_custom_field, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton" do %>
    <i class="ti ti-trash"></i> <%= t_common(:delete) %>
  <% end %>
</div>
