
<%
    show_metadata ||= "Yes"
    target ||= "_top"
%>
<% if access_right.present? %>
<tr>
    <td>
        <% if access_right.user_id.present? %>
            <%= link_to access_right.user.full_name, user_path(access_right.user), target: target %>
        <% elsif access_right.access_to_investor_id.present? %>
            <%= link_to access_right.investor.investor_name, investor_path(access_right.investor, tab: "investors-tab"), target: target %>
        <% else %>
            <%= link_to access_right.access_to_category, investors_path(category: access_right.access_to_category), target: target %>
        <% end %>
    </td>
    <td>
        <%= link_to access_right.owner_type, polymorphic_path(access_right.owner, tab: "access-rights-tab"), class: "badge bg-info" %>
    </td>
    <% if show_metadata == "Yes" %>
    <td>

        <% if access_right.metadata.present? || access_right.permissions.present? %>
            <span class="badge bg-info">
                <%= access_right.metadata %>
                <%= "#{access_right.owner_type} Permissions: #{access_right.permissions}" if access_right.permissions.present?  %>
            </span>
        <% end %>
    </td>
    <% end %>

    <td>
        <% if access_right.granted_by.present?%>
            <span class="badge bg-info">
                <%= "#{access_right.owner_type} access granted by #{access_right.granted_by&.full_name}" %>
            </span>
        <% end %>
    </td>

    <td>
        <%= button_to "Delete #{access_right.owner_type} Access", access_right_path(access_right, back_to: request.original_url), method: :delete, class: "btn btn-outline-danger" ,
        form_class: "deleteButton" , data: {msg: "This will remove #{access_right.owner_type} access for this investor. Proceed?", action: "click->confirm#popup" , turbo: false } %>
    </td>
</tr>
<% end %>
