<%= turbo_frame_tag "new_access_right" do %>
  <div id="toasts" aria-live="polite" aria-atomic="true" style="position: relative;"></div>
  <div class="dynamic_form card shadow mb-4" data-controller="access">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Grant Access: <%= access_right.owner_type %></h6>
    </div>
    <div class="card-body" data-controller="access">
      <%= form_with(model: access_right, class: "", id: "access_rights_form") do |form| %>
        <% if access_right.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(access_right.errors.count, "error") %> prohibited this access_right from being saved:</h2>
            <ul>
              <% access_right.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= hidden_field_tag :partial_to_use, params[:partial_to_use] %>

        <div class="form-group" hidden='hidden'>
          <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
          <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
          <%= form.text_field :access_type, class: "form-control", hidden: true  %>
        </div>

        <%
          types = access_right.types

          select_investor_users = false
          select_employees = true
          users = current_user.entity.employees
          investor_advisors = current_user.entity.investor_advisors
        %>

        <div class="form-group">
            <%= form.label :access_type %>
            <%= form.select :email_or_cat, types, {}, class: "form-control",
              name: "email_or_cat", "data-action": "change->access#onChange" %>
        </div>

        <div class="form-group" id="employee_form_group">
              <%= form.label :user_id, "Select Employee" %>
              <%= form.select :user_id, users.map{|e| [e.full_name, e.id]} , {include_blank: false, include_hidden: false}, class: "form-control select2-multiple", multiple: "multiple", data: { select_target: "select" }, id: "employee_id"  %>
        </div>

        <div class="form-group" id="investor_advisor_form_group">
            <%= form.label :user_id, "Select Advisor" %>
            <%= form.select :user_id, investor_advisors.map{|ia| [ia.user.full_name, ia.user_id]}, {include_blank: false, include_hidden: false}, class: "form-control select2-multiple", multiple: "multiple", id: "advisor_id"  %>
        </div>

        <%  investors = if access_right.owner_type == "Deal"
                          access_right.owner.investors
                        elsif access_right.owner_type == "Folder"
                          access_right.owner.owner.investors
                        end
                      %>
        <div class="form-group" id="investor_form_group">
            <%= form.label :access_to_investor_id, "Select Stakeholder" %>
            <%= form.select :access_to_investor_id, investors.map{|c| [c.investor_name, c.id]},
              {include_blank: false, include_hidden: false}, class: "form-control select2-multiple", multiple: "multiple", data: { select_target: "select" },
              "data-action": "change->access#addErrorCheck" %>
        </div>

      <% if access_right.access_type == "Folder" %>
        <div class="form-group">
          <%= form.label :cascade, "Apply to files and sub folders" %>
          <%= form.check_box :cascade, class: "form-check-input"  %>
        </div>
      <% end %>

      <div class="form-group" id="permissions_form_group">
        <% AccessRight.permissions.pairs.each do |key, val| %>
          <%= form.label :permissions, key %>
          <%= form.check_box :permissions, {name: "access_right[permissions][]",
                val: val, id: "permissions_#{val}", class: "form-check-input-horizontal"}, val, nil   %>
        <% end %>
      </div>

      <div class="form-group">
          <%= form.label :notify, "Send Notification" %>
          <%= form.check_box :notify, class: "form-check-input"  %>
      </div>


      <div class="form-group">
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary", data: {action: "click->access#checkRequiredFilled"}}%>
        <a class="btn btn-outline-danger", data-action="click->access#close">Close</a>
      </div>
    <% end %>
  </div>
<% end %>
