<% if policy(deal).show_detail_tabs? %>
<%
  show_deal ||= "Yes"
  show_investors ||= "Yes"
%>
<div class="associated_entity" data-controller="tabs tabdetails">
    <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">


      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
         data-action="click->tabdetails#loadData">Documents</a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#widgets-tab">Widgets</a>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#track-records-tab">Track Record</a>

      <% if show_deal == "Yes" %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#deal-tab" id="deal_tab">Deal</a>
      <% end %>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-tab">Access Rights</a>

      <% if show_investors == "Yes" %>
        <a  class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#investors-tab" id="deal_investments"
            data-action="click->tabdetails#loadData">Deal Investors</a>
      <% end %>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#reminders-tab"
            data-action="click->tabdetails#loadData">Reminders</a>

    </nav>



  <div class="tab-content">
      <div id="deal-tab" class="tab-pane fade">
        <div id="deal" class="associated_entity">
          <%= render "/deals/show", deal: deal %>
        </div>
      </div>
      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
            <%= turbo_frame_tag "documents_tree_frame", target: "_top", src: folder_documents_path(entity_id: deal.entity_id, folder_id: deal.document_folder.id), loading: :lazy do %>
            <% end %>
        </div>
      </div>

      <div id="widgets-tab" class="tab-pane fade">
        <div id="widgets" class="associated_entity">
          <%= render "/ci_widgets/index", ci_widgets: deal.ci_widgets, owner: deal, target: "_top" %>
        </div>
      </div>

      <div id="track-records-tab" class="tab-pane fade">
        <div id="track_records" class="associated_entity">
          <%= render "/ci_track_records/index", ci_track_records: deal.ci_track_records, owner: deal, target: "_top" %>
        </div>
      </div>

      <div id="investors-tab" class="tab-pane fade">
        <div id="deal_investors" class="associated_entity">
          <%= turbo_frame_tag "deal_investors_frame", target: "_top", src: deal_investors_path(deal_id: deal.id), loading: :lazy do %>
          <% end %>
        </div>
      </div>

      <div id="access-tab" class="tab-pane fade">
        <div id="access_rights" class="associated_entity">
          <%  access_right = AccessRight.new(
            owner_id: deal.id,
            access_type: "Deal",
            owner_type: "Deal",
            entity_id: deal.entity_id) %>

          <% params[:form_type] = "deals/access_rights_form" %>
          <%= render "access_rights/index", access_rights: deal.access_rights.includes(:investor, :owner), access_right: access_right, owner_type: "Deal", owner_id: deal.id %>
        </div>
      </div>

      <div id="reminders-tab" class="tab-pane fade">
        <div id="reminders" class="associated_entity">
          <%= turbo_frame_tag "reminders_list", target: "_top", src: reminders_path( owner_id: deal.id, owner_type: "Deal", sent: false), loading: :lazy do %>
          <% end %>
        </div>
      </div>

  </div>

</div>
<% elsif current_user.curr_role == "investor" %>
<%= render "/deals/deal_investor_details", deal: deal, show_investors: "No" %>
<% end %>
