<% turbo_frame_id ||= "deal_form_#{deal.id}" %>
<%= turbo_frame_tag turbo_frame_id do%>
<%turbo ||= false%>
<%= render NewCard.new do%>
<div class="card shadow mb-4 justify-content-md-center dynamic_form" data-controller="dynamic">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h4 class="m-0 text-primary">Deal</h4>
      <% if turbo.presence %>
      <button type="button" class="btn-close text-reset" data-action="click->dynamic#close" aria-label="Close"></button>
      <% end %>
  </div>
  <div class="card-body">

  <%= form_with(model: deal, validate: true, data: {turbo: turbo}) do |form| %>
    <% if deal.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% deal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :turbo_frame_id, value: turbo_frame_id, class: "form-control", hidden: true %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "E.x Series A"  %>
    </div>

    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label "Amount to be raised" %> <span class="formatted_currency"></span>
      <%= form.number_field :amount, class: "form-control", placeholder: "Expected amount to be raised", data: {action: "input->currencyformat#format"}  %>
    </div>

    <div class="form-group">
      <%= form.label :status %>
      <%= form.text_field :status, class: "form-control", placeholder: "Open / Closing soon / First close done"  %>
    </div>

    <div class="form-group">
      <%= form.label :currency %>
      <%= form.select :currency, ENV["CURRENCY"].split(","), {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :tags %>
      <%= form.text_field :tags, class: "form-control", placeholder: "Imp, New"  %>
    </div>

    <div class="form-group">
      <%= form.label :clone_from %>
      <%= form.select :clone_from_id, deal.entity.deals.map{|d| [d.name, d.id]}, {include_blank: true}, class: "form-control"  %>
      <small class="text-muted"> Select a deal if you want the steps to be cloned, or leave blank </small>
    </div>

    <%= custom_form_fields(deal, form) %>

    <div class="form-group">
      <%= form.label :archived %>
      <%= form.check_box :archived, class: "form-check-input"  %>
    </div>

    <div class="form-group" id="employee_form_group">
      <%= form.label :card_view_attrs, "Show in Card View" %>
      <%= form.select :card_view_attrs, DealInvestor::CARD_VIEW_ATTRS.to_a, {include_blank: false, include_hidden: false}, class: "form-control select2 select2-multiple", multiple: "multiple" %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
      <% if turbo.presence %>
        <a class="btn btn-outline-danger", data-action="click->dynamic#close">Close</a>
      <% end %>
    </div>
  <% end %>

    </div>
  </div>
<%end%>
<%end%>
