<div data-draggable="true" class="card img-task ui-sortable-handle">
  <div class="card-body">
    <div class="task-header">
      <div class="">
        <h4 class="" data-item-title="<%= deal_activity.title %>">
          <%= deal_investor.investor_name %>
        </h4>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="ti ti-dots-vertical text-dark"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
          <a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1" href="javascript:void(0);"><i class="ti ti-pencil fs-5"></i>Edit</a>
          <a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1" href="javascript:void(0);"><i class="ti ti-trash fs-5"></i>Delete</a>
        </div>
      </div>
    </div>
    <div class="task-content">
      <%= money_to_currency deal_investor.primary_amount %>
    </div>
    <div class="task-content">
      <%= money_to_currency deal_investor.secondary_investment %>
    </div>
    <div class="task-body">
      <div class="task-bottom">
        <div class="tb-section-1">
          <span class="hstack gap-2 fs-2"><i class="ti ti-calendar fs-5"></i> <%= l deal_investor.updated_at.to_date %> </span>
        </div>
        <div class="tb-section-2">
            <% if deal_investor.tier.present? %>
                <span class="badge rounded-pill text-bg-success fs-1"><%= deal_investor.tier %></span>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
