<%= turbo_frame_tag "deal_show", target: "_top" do %>

  <table class="table table-bordered dataTable ">

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= deal.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= deal.name %>
      </td>
    </tr>
    <tr>
      <td>
        Amount
      </td>
      <td>
        <%= money_to_currency deal.amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= deal.start_date ? l(deal.start_date) : "Not Started" %>
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= deal.status %>
      </td>
    </tr>

    <tr>
      <td>
         Currency
      </td>
      <td>
         <%= deal.currency %>
      </td>
   </tr>

    <tr>
      <td>
         Tags
      </td>
      <td>
         <%= deal.tags %>
      </td>
   </tr>

   <tr>
      <td>
         Card View Attributes
      </td>
      <td>
         <%= deal.card_view_attrs&.map(&:titleize)&.join(", ") %>
      </td>
   </tr>

   <!-- <tr>
      <td>
         Currency Units
      </td>
      <td>
         <%= deal.units %>
      </td>
   </tr> -->

    <tr>
      <td>
        Archived
      </td>
      <td>
        <%= deal.archived ? "Yes" : "No" %>
      </td>
    </tr>


    <%= display_custom_fields(deal) if current_user %>

  </table>

  <% if current_user.entity_id == deal.entity_id %>
    <div>
      <%= link_to  t_common(:edit), edit_deal_path(deal), {class: "btn btn-outline-primary"} %> |
      <%= button_to t_common(:delete), deal, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>

    </div>
  <% end %>


  <% end %>
