<%= turbo_frame_tag "deal_show", target: "_top" do %>

  <table class="table table-bordered dataTable ">

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= deal.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        <%= deal.name %>
      </td>
    </tr>
    <tr>
      <td>
        Amount
      </td>
      <td>
        <%= money_to_currency deal.amount, params %>
      </td>
    </tr>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= deal.start_date ? l(deal.start_date) : "Not Started" %>
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        <%= deal.status %>
      </td>
    </tr>

    <tr>
      <td>
         Currency
      </td>
      <td>
         <%= deal.currency %>
      </td>
   </tr>

   <!-- <tr>
      <td>
         Currency Units
      </td>
      <td>
         <%= deal.units %>
      </td>
   </tr> -->

    <tr>
      <td>
        Archived
      </td>
      <td>
        <%= deal.archived ? "Yes" : "No" %>
      </td>
    </tr>


    <%= display_custom_fields(deal) if current_user %>

  </table>

  <% if current_user.entity_id == @deal.entity_id %>
    <div>
      <%= link_to "Edit", edit_deal_path(@deal), {class: "btn btn-primary"} %> |
      <% if !@deal.start_date.present?  %>
        <%= button_to "Start Deal", start_deal_deal_path(@deal), 
          {class: "btn btn-primary", form_class: "deleteButton"} %> |
      <% end %>
      <%= button_to "Delete", @deal, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
    
    </div>
  <% end %>


  <% end %>