<% investor_label = @deal.entity.is_fund? ? "Company" : "Investor" %>
<%= turbo_stream_from @deal, "deal_message" if current_user %>
<div id="deal_message"></div>

<% if params[:collab_doc].present? %>

  <%= render "/deals/deal_collab_doc" %>

<% else %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4" data-controller="nudge">
    <h1 class="h3 mb-0 text-gray-800">Deal <%= @deal.name %> : Grid View
      <% kanban_board = KanbanBoard.find_by(owner_type: "Deal", owner_id: @deal.id) %>
      <% if kanban_board.present? %>
        <%= link_to board_path(kanban_board) do%>
          <i class="ti ti-brand-trello icon-large"></i>
        <% end %>
      <% end %>
    </h1>
    <span>
      <%= render "investments/currency_form" %>
      <% if params[:all].blank? %>
        <%= link_to "All #{investor_label}s", deal_path(id: @deal.id, grid_view: true, all:true), {class: "btn btn-outline-primary"}  %>
      <% else %>
        <%= link_to "Not Declined", deal_path(id: @deal.id, grid_view: true), {class: "btn btn-outline-primary"}  %>
      <% end %>
      <% if current_user.entity_id == @deal.entity_id %>
        <%= link_to "Add #{investor_label}", new_deal_investor_path("deal_investor[deal_id]": @deal.id, "deal_investor[entity_id]": current_user.entity_id) , {class: "btn btn-outline-success"} if policy(@deal).update? %>
        <%= link_to "All Nudges", nudges_path , {class: "btn btn-outline-primary"}%>
        <a class="btn btn-outline-success", hidden="hidden", data-action="click->nudge#newDealMsg">Send Message</a>
        <%= link_to new_nudge_path(), id: "new_nudge", hidden: true do %>
          <span>Loading...</span>
        <% end %>
        <%= link_to "Preview", deal_path(id: @deal.id, overview: true) , {class: "btn btn-outline-success"}%>
        <%= link_to deal_path(id: @deal.id, grid_view: true, all:true, format: :xlsx), {class: "btn btn-outline-primary"} do %>
          <i class="fa-lg fa-regular fa-file-excel"></i> <%= t_common(:download) %>
        <% end %>
        <%= link_to deal_path(id: @deal.id, chart: true), {class: "btn btn-outline-success"} do %>
          <i class="fas fa-chart-line"></i> Charts
        <% end %>
      <% end %>
    </span>
  </div>

  <% cache([@deal, current_user, "GridView", params[:all], params[:units]]) do %>
    <div id="deal_grid_div" class="table-responsive dropright" data-controller="datatable" data-datatable-responsive-value=false>
      <table id="deal_grid_view" class="table table-bordered dataTable jqDataTable" >
        <thead>
          <tr>
            <th class="sticky-col first-col"><%= investor_label %></th>
            <th>
              Pre Money
              (<%= @deal.currency %>)
            </th>
            <th>
              Primary
              (<%= @deal.currency %>)
            </th>
            <th>
              Secondary
              (<%= @deal.currency %>)
            </th>
            <% if @deal.entity.is_fund? %>
              <th>
                Fee
                (<%= @deal.currency %>)
              </th>
              <th>
                Total
                (<%= @deal.currency %>)
              </th>
            <% end %>
            <th>
              Tier
            </th>
            <% DealActivity.templates(@deal).each do |deal_activity| %>
              <th> <%= deal_activity.title %> </th>
            <% end %>
            <th> Advisor </th>
          </tr>
        </thead>
        <tbody>
          <%  @deal_investors = policy_scope(@deal.deal_investors).includes(:investor, :deal, :deal_activities)
                    @deal_investors = @deal_investors.not_declined if params[:all].blank?
                    @deal_investors.order("deal_investors.investor_name asc").each do |deal_investor| %>
            <%= render "deals/grid_view_row", deal_investor: deal_investor %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if policy(@deal).show_detail_tabs? %>
    <%= render "/deals/deal_details", deal: @deal, show_investors: "No"%>
  <% elsif current_user.curr_role == "investor" %>
    <%= render "/deals/deal_investor_details",deal: @deal, show_investors: "No" %>
  <% end %>
<% end %>
