<div class="associated_entity" data-controller="tabs tabdetails">
  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab">Documents</a>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#activities-tab"
              data-action="click->tabdetails#loadData">Deal Steps</a>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tasks-tab"
              data-action="click->tabdetails#loadData">Tasks</a>

    <% if show_tranch %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tranche-tab">Tranche</a>
    <% end %>
  </nav>


<div class="tab-content" data-controller="datatable">

    <div id="docs-tab" class="tab-pane fade  in show active">
      <div id="docs" class="associated_entity">
        <% da_ids = deal_investor.deal_activities.pluck(:id) %>
        <% sql = "#{deal_investor.documents.includes(:folder).to_sql}
                  UNION #{Document.includes(:folder).where(owner_id: da_ids, owner_type: "DealActivity").to_sql}" %>
        <%= render "/documents/index", owner: deal_investor, entity: deal_investor.entity, documents: Document.find_by_sql(sql) %>
      </div>
    </div>

    <div id="activities-tab" class="tab-pane fade">
      <div id="deal_activities" class="associated_entity">
        <%#= render "/deal_activities/index", deal_investor:deal_investor,
                    template: false, deal_activities: deal_investor.deal_activities.includes(:deal) %>

        <%= link_to deal_activities_path(deal_investor_id: deal_investor.id), class: "load_data_link",
          data: { turbo_frame: 'deal_activities_frame' } do %>
            <span>Loading...</span>
        <% end %>

        <%= turbo_frame_tag "deal_activities_frame", target: "_top" do %>
        <% end %>

      </div>
    </div>

    <div id="tasks-tab" class="tab-pane fade">
      <div id="tasks" class="associated_entity">
        <%= turbo_frame_tag "tasks_frame", src: tasks_path(owner: deal_investor, for_entity: deal_investor.entity), target: "_top" do %>
          <span>Loading...</span>
        <% end %>
      </div>
    </div>

    <div id="tranche-tab" class="tab-pane fade">
      <div id="deal_investors" class="associated_entity">
        <%= render "/deal_investors/show", deal_investor: deal_investor %>
      </div>
    </div>

</div>

</div>
