<%turbo_tag ||= "new_deal_investor"%>
<%= turbo_frame_tag turbo_tag do %>
<% doc_owner_tag||="" %>
<div class="wizard_container dynamic_form centered" data-controller="wizard">
    <div class="col-md-6 card shadow mb-4 justify-content-md-center">
        <div class="card-header py-3 d-flex align-items-center justify-content-between">
            <h4 class="mb-0 text-white">Potential Investment</h4>
            <button type="button" class="btn-close text-reset" data-action="click->wizard#close" aria-label="Close"></button>
        </div>


        <div class="card-body">

        <%= form_with(model: deal_investor, validate: true, class: "wizard_form row justify-content-md-center") do |form| %>
            <% if deal_investor.errors.any? %>
            <div class="alert alert-danger">
                <h2><%= pluralize(deal_investor.errors.count, "error") %> prohibited this deal_investor from being saved:</h2>

                <ul>
                <% deal_investor.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
            <% end %>

            <div class="form-group">
            <%= form.text_field :kanban_column_id, hidden: true %>
            <%= form.text_field :deal_name, class: "form-control", disabled: "disabled", value: deal_investor.deal.name  %>
            <%= form.text_field :deal_id, class: "form-control", hidden: true  %>
            <%= form.text_field :deal_activity_id, class: "form-control", hidden: true  %>
            <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
            <%= form.text_field :turbo_frame, value: turbo_tag ,class: "form-control", hidden: true  %>
            </div>

            <div class="form-group">
            <%= form.label :investor_id, "Stakeholder" %>
            <%= form.select :investor_id, deal_investor.entity.investors.includes(:investor_entity).order("entities.name").map{|c| [c.investor_name, c.id]}, {include_blank: true}, {class: "form-control select2"} %>
                <% new_investor = Investor.new(entity_id: current_user.entity_id)%>
                <% if InvestorPolicy.new(current_user, new_investor).new? %>
                    <small class="text-muted">
                    Create <%= link_to new_investor_path("investor[entity_id]": new_investor.entity_id,
                        "back_to": "deal_investors/blank", turbo: true, turbo_frame: turbo_tag, object: deal_investor),
                        data: { turbo_frame: turbo_tag, turbo: true } do %>
                        <span>New Stakeholder</span>
                    <% end %>
                    </small>
                <% else %>
                    <small class="text-muted" data-toggle="tooltip" title="You need permission for this">
                        Create New Stakeholder
                    </small>
                <% end %>
            </div>

            <div class="form-group">
            <%= form.label :tier %>
            <%= form.text_field :tier, {class: "form-control"} %>
            </div>

            <div class="form-group">
            <%= form.label :deal_lead %>
            <%= form.text_field :deal_lead, {class: "form-control"} %>
            </div>

            <div class="form-group">
            <%= form.label :source %>
            <%= form.text_field :source, {class: "form-control"} %>
            </div>

            <div class="form-group">
            <%= form.label :tags %>
            <%= form.text_field :tags, {class: "form-control"} %>
            </div>

            <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status, DealInvestor::STATUS, {}, {class: "form-control"} %>
            </div>

            <div data-controller="currencyformat">
            <div class="form-group">
                <%= form.label :pre_money_valuation %> <span class="formatted_currency"></span>
                <%= form.number_field :pre_money_valuation, class: "form-control", data: {action: "input->currencyformat#format"}  %>
                <small class="text-muted">In <%= deal_investor.deal.currency %>. Leave blank if not available</small>
            </div>

            <div class="form-group">
                <%= form.label :primary_amount %> <span class="formatted_currency"></span>
                <%= form.number_field :primary_amount, class: "form-control", data: {action: "input->currencyformat#format"}  %>
                <small class="text-muted">In <%= deal_investor.deal.currency %></small>
            </div>


            <div class="form-group">
                <%= form.label :secondary_investment %> <span class="formatted_currency"></span>
                <%= form.number_field :secondary_investment, class: "form-control", data: {action: "input->currencyformat#format"}  %>
                <small class="text-muted">In <%= deal_investor.deal.currency %></small>
            </div>
            </div>

            <% if deal_investor.entity.is_fund? %>

            <div class="form-group">
                <%= form.label :fee %>
                <%= form.number_field :fee, class: "form-control"  %>
                <small class="text-muted">In <%= deal_investor.deal.currency %></small>
            </div>

            <% end %>

            <div class="form-group">
            <%= form.label :notes, "Remarks" %>
            <%= form.rich_text_area :notes, class: "form-control trix-content"  %>
            </div>

            <%= custom_form_fields(deal_investor, form) %>

             <%= render "layouts/multi_upload", form: form, title: "Documents",
                        for_model: "deal_investor", owner_tag: doc_owner_tag %>

            <div class="form-group">
                <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
                <a class="btn btn-outline-danger", data-action="click->wizard#close">Close</a>
            </div>
        <% end %>

        </div>
    </div>
  </div>
<% end %>
