<div class="associated_entity" data-controller="tabdetails">
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab">Documents</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab"
            data-action="click->tabdetails#loadData">Access Rights</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#activities-tab" data-action="click->tabdetails#loadData">Deal Steps</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#chat-tab" data-action="click->tabdetails#loadData">Chat</a>
    <% if show_tranch %>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#tranche-tab">Tranche</a>
    <% end %>
  </nav>


<div class="tab-content" data-controller="datatable">
  
    <div id="docs-tab" class="tab-pane fade  in show active">
      <div id="docs" class="associated_entity">
        <% da_ids = deal_investor.deal_activities.pluck(:id) %>
        <% sql = "#{deal_investor.documents.includes(:folder).to_sql} 
                  UNION #{deal_investor.deal.documents.includes(:folder).to_sql} 
                  UNION #{Document.includes(:folder).where(owner_id: da_ids, owner_type: "DealActivity").to_sql}" %>
        <%= render "/documents/index", owner: deal_investor, entity: deal_investor.entity, documents: Document.find_by_sql(sql) %>
      </div>     
    </div>

    <div id="access-rights-tab" class="tab-pane fade in">

          <% cache([deal_investor, "AccessRights"]) do %>
            <div id="access_rights" class="associated_entity" data-controller="datatable">
              <% access_right = AccessRight.new(
                  owner_id: deal_investor.id, 
                  access_type: "DealInvestor", 
                  owner_type: "DealInvestor", 
                  entity_id: deal_investor.entity_id) %>
                  
              <%= render "/access_rights/index", access_rights: deal_investor.access_rights.includes(:investor, :owner), access_right: access_right %>
            </div>
          <% end %>
    </div>

    <div id="activities-tab" class="tab-pane fade">
      <div id="deal_activities" class="associated_entity">
        <%#= render "/deal_activities/index", deal_investor:deal_investor, 
                    template: false, deal_activities: deal_investor.deal_activities.includes(:deal) %>

        <%= link_to deal_activities_path(deal_investor_id: deal_investor.id), class: "load_data_link", 
          data: { turbo_frame: 'deal_activities_frame' } do %>
            <span>Loading...</span>
        <% end %>

        <%= turbo_frame_tag "deal_activities_frame", target: "_top" do %>
        <% end %>
        
      </div>
    </div>
  
    <div id="chat-tab" class="tab-pane fade">
      <div id="messages" class="associated_entity">
        <%= link_to messages_path(owner_id: deal_investor.id, owner_type: "DealInvestor", investor_id: deal_investor.investor_id), class: "load_data_link", data: { turbo_frame: 'messages_frame' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "messages_frame", target: "_top" do %>
        <% end %>
      </div>  
    </div>
    
    <div id="tranche-tab" class="tab-pane fade">
      <div id="deal_investors" class="associated_entity">
        <%= render "/deal_investors/show", deal_investor: deal_investor %>
      </div>  
    </div>

</div>

</div>