
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Potential Investment</h6>
  </div>
  <div class="card-body">

<%= form_with(model: deal_investor, validate: true) do |form| %>
  <% if deal_investor.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(deal_investor.errors.count, "error") %> prohibited this deal_investor from being saved:</h2>

      <ul>
        <% deal_investor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :deal_id %>
    <%= form.text_field :deal_name, class: "form-control", disabled: "disabled", value: deal_investor.deal.name  %>
    <%= form.text_field :deal_id, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :investor_id, "Stakeholder" %>
    <%= form.select :investor_id, deal_investor.entity.investors.includes(:investor_entity).order("entities.name").map{|c| [c.investor_name, c.id]}, {include_blank: true}, {class: "form-control select2"} %>
    <small class="text-muted">
      Create <%= link_to "New Stakeholder", 
        new_investor_path("investor[entity_id]": current_user.entity_id,
            "back_to": new_deal_investor_path("deal_investor[deal_id]": deal_investor.deal_id,
            "deal_investor[entity_id]": deal_investor.entity_id)) %>
    </small>
  </div>

  <div class="form-group">
    <%= form.label :tier %>
    <%= form.text_field :tier, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, DealInvestor::STATUS, {}, {class: "form-control"} %>
  </div>


  <div class="form-group">
    <%= form.label :pre_money_valuation %>
    <%= form.number_field :pre_money_valuation, class: "form-control"  %>
    <small class="text-muted">In <%= deal_investor.deal.currency %>. Leave blank if not available</small>
  </div>
  
  <div class="form-group">
    <%= form.label :primary_amount %>
    <%= form.number_field :primary_amount, class: "form-control"  %>
    <small class="text-muted">In <%= deal_investor.deal.currency %></small>
  </div>


  <div class="form-group">
    <%= form.label :secondary_investment %>
    <%= form.number_field :secondary_investment, class: "form-control"  %>
    <small class="text-muted">In <%= deal_investor.deal.currency %></small>
  </div>

  <% if deal_investor.entity.entity_type == "Investment Fund" %>

    <div class="form-group">
      <%= form.label :fee %>
      <%= form.number_field :fee, class: "form-control"  %>
      <small class="text-muted">In <%= deal_investor.deal.currency %></small>
    </div>

  <% end %>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, class: "form-control trix-content"  %>
  </div>


  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>

  </div>
</div>