<div class="io_facts row">
<%# show either 2 buttons Overview and data room or just data room %>
  <div class="col-<%= col_size.to_i/2 %>">
    <div class="card-body d-flex justify-content-center contained">
      <div class="w-100">
        <%= link_to "Overview", overview_deal_path(model), { class: "btn btn-outline-primary btn-lg w-100" } %>
      </div>
    </div>
  </div>

  <div class="col-<%= col_size.to_i/2 %>">
    <div class="card-body d-flex justify-content-center contained">
      <div class="w-100">
        <%= link_to "Queries", tasks_path(owner: object.id, owner_type: "DealInvestor", for_entity_id: current_user.entity_id), { class: "btn btn-outline-success btn-lg w-100" } %>
      </div>
    </div>
  </div>
</div>

<% if show_tags && tags.present? %>
<div class="io_facts row">
  <div class="col thin-padding w-50">
      <div class="card-body d-flex justify-content-center">
        <div class="row text-center">
          <div class="text-center">
              <% tags&.split(",")&.each do |tag| %>
                <span class="badge rounded-pill bg-primary"><%=tag%></span>
              <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<% end %>

