<table class="table table-bordered dataTable ">

  <tr>
    <td>
      Deal
    </td>
    <td>
      <%= belongs_to_entity_id?(current_user, deal_investor.entity_id) ?
        link_to(deal_investor.deal_name, deal_investor.deal) :
        deal_investor.deal_name %>
    </td>
  </tr>
  <tr>
    <td>
      Investor
    </td>
    <td>
      <%= belongs_to_entity_id?(current_user, deal_investor.entity_id) ?
          link_to(deal_investor.investor_name, deal_investor.investor) :
          deal_investor.investor_name %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= deal_investor.status %>
    </td>
  </tr>

  <tr>
    <td>
      Tier
    </td>
    <td>
      <%= deal_investor.tier %>
    </td>
  </tr>

    <tr>
    <td>
      Deal Lead
    </td>
    <td>
      <%= deal_investor.deal_lead %>
    </td>
  </tr>

  <tr>
    <td>
      Source
    </td>
    <td>
      <%= deal_investor.source %>
    </td>
  </tr>

  <tr>
    <td>
      Tags
    </td>
    <td>
      <%= deal_investor.tags %>
    </td>
  </tr>

  <tr>
    <td>
      Pre Money Valuation
    </td>
    <td>
      <%= money_to_currency deal_investor.pre_money_valuation, params %>
    </td>
  </tr>
  <tr>
    <td>
      Primary Amount
    </td>
    <td>
      <%= money_to_currency deal_investor.primary_amount, params %>
    </td>
  </tr>
  <tr>
    <td>
      Secondary Investment
    </td>
    <td>
      <%= money_to_currency deal_investor.secondary_investment, params %>
    </td>
  </tr>

  <% if deal_investor.entity.is_fund? %>

    <tr>
      <td>
        Fee
      </td>
      <td>
        <%= money_to_currency deal_investor.fee, params %>
      </td>
    </tr>

    <tr>
      <td>
        Total
        (Primary + Secondary + Fee)
      </td>
      <td>
        <%= money_to_currency deal_investor.total, params %>
      </td>
    </tr>

  <% end %>

  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= link_to deal_investor.entity_name, deal_investor.entity %>
    </td>
  </tr>

  <tr>
    <td>
       Notes
    </td>
    <td>
       <%= deal_investor.notes %>
    </td>
 </tr>

  <%= display_custom_fields(@deal_investor) %>

</table>
