<table class="table table-bordered dataTable ">

  <tr>
    <td>
      Deal
    </td>
    <td>
      <%= current_user.entity_id == deal_investor.entity_id ?
        link_to(deal_investor.deal_name, deal_investor.deal) : 
        deal_investor.deal_name %>
    </td>
  </tr>
  <tr>
    <td>
      Investor
    </td>
    <td>
      <%= current_user.entity_id == deal_investor.entity_id ?
          link_to(deal_investor.investor_name, deal_investor.investor) :
          deal_investor.investor_name %>
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      <%= deal_investor.status %>
    </td>
  </tr>
  <tr>
    <td>
      Pre Money Valuation
    </td>
    <td>
      <%= money_to_currency deal_investor.pre_money_valuation, params %>
    </td>
  </tr>
  <tr>
    <td>
      Primary Amount
    </td>
    <td>
      <%= money_to_currency deal_investor.primary_amount, params %>
    </td>
  </tr>
  <tr>
    <td>
      Secondary Investment
    </td>
    <td>
      <%= money_to_currency deal_investor.secondary_investment, params %>
    </td>
  </tr>
  <tr>
    <td>
      Company Advisor
    </td>
    <td>
      <%=  deal_investor.company_advisor %>
    </td>
  </tr>
  <tr>
    <td>
      Investor Advisor
    </td>
    <td>
      <%= deal_investor.investor_advisor %>
    </td>
  </tr>
  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= link_to deal_investor.entity_name, deal_investor.entity %>
    </td>
  </tr>

  <tr>
    <td>
       Notes
    </td>
    <td>
       <%= deal_investor.notes %>
    </td>
 </tr>

</table>