<tr id="<%= dom_id capital_distribution_payment %>">
  <td>
    <%= link_to capital_distribution_payment.investor.investor_name, capital_distribution_payment.investor %>
  </td>
  <td>
    <%= capital_distribution_payment.folio_id %>
  </td>
  <td>
    <%= money_to_currency capital_distribution_payment.amount, params %>
    <br>
    <small>
      <%= money_to_currency capital_distribution_payment.capital_distribution.net_amount, params %> x <%= capital_distribution_payment.percentage %> %
    </small>
  </td>
  <td>
    <%= l capital_distribution_payment.payment_date if capital_distribution_payment.payment_date %>
  </td>
  <td>
    <%= display_boolean capital_distribution_payment.completed %>
  </td>
  <td>
    <%= link_to "Show" , capital_distribution_payment , {class: "btn btn-outline-primary" }%>
    <%= link_to "Edit" , edit_capital_distribution_payment_path(capital_distribution_payment) , {class: "btn btn-outline-success" } if policy(capital_distribution_payment).update? %>
  </td>
</tr>