<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Distribution Payments</h1>

    <span>
      <% capital_distribution ||= nil %>
      <% if capital_distribution %>
      
        <%= link_to "New Capital Distribution Payment", 
          new_capital_distribution_payment_path("capital_distribution_payment[capital_distribution_id]": capital_distribution.id), 
          {class: "btn btn-outline-primary" }  %>

        <%= link_to "Download" , 
          capital_distribution_payments_path(capital_distribution_id: capital_distribution.id, 
          format: "xlsx", all: true), {class: "btn btn-outline-primary" } %>


        <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": capital_distribution.id, 
            "import_upload[owner_type]": "CapitalDistribution", 
            "import_upload[import_type]": "CapitalDistributionPayment", 
            "sample_upload": "CAPITAL_DISTRIBUTION_PAYMENT_SAMPLE"), 
            { class: "btn btn-outline-primary"}  %> 

      <% end %>
      <%#= render "/funds/search_bar", model_name: "capital_distribution_payment" %>
    </span>

  </div>

  <% data_source ||= capital_distribution_payments_path(params, format: :json, all: true) %>    
  <% lazy_load_data ||= false %>

  <div class="table-responsive" data-controller="distribution-payments" data-distribution-payments-lazy-load-data-value=<%= lazy_load_data %> data-distribution-payments-table-name-value="#capital_distribution_payments">

    <% if lazy_load_data %>
        <a class="load_data_link" data-action="click->distribution-payments#loadData"><span>Load Data</span></a>
    <% end %>
    
    <table id="capital_distribution_payments" class="table table-bordered dataTable action_table" 
        data-source="<%= data_source %>" style="width:100%" >

      <thead>
        <tr>
          <th>
            Investor
          </th>
          <th>
            Folio No
          </th>
          <th>
            Amount
          </th>
          <th>
            Payment Date
          </th>
          <th>
            Completed
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        
      </tbody>
    </table>

  </div>