<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Distribution Payments</h1>

    <span>
      <% capital_distribution ||= nil %>
      <% if capital_distribution %>

        <%#= link_to "New Payment",
          new_capital_distribution_payment_path("capital_distribution_payment[capital_distribution_id]": capital_distribution.id),
          {class: "btn btn-outline-primary" }  %>

        <% disabled = capital_distribution.distribution_on != "Upload" ? "disabled" : nil %>

        <%= link_to "Upload",
            new_import_upload_path("import_upload[owner_id]": capital_distribution.id,
            "import_upload[owner_type]": "CapitalDistribution",
            "import_upload[import_type]": "CapitalDistributionPayment",
            "sample_upload": "CAPITAL_DISTRIBUTION_PAYMENT_SAMPLE"),
            { class: "btn btn-outline-primary #{disabled}"}  %>

      <% end %>
      <%
        data_source ||= capital_distribution_payments_path(params: params.to_unsafe_h, format: :json)
        xl_link = download_xl_link(data_source)
      %>
      <%= link_to "Download", xl_link, { class: "btn btn-outline-success", data: { turbo: false } } %>
      <%#= render "/funds/search_bar", model_name: "capital_distribution_payment" %>
    </span>

</div>

  <%
    import_upload_id ||= params[:import_upload_id]
  %>


 <% distribution_payments_frame = "distribution_payments_frame" %>
  <%=render SearchComponent.new(data_source: capital_distribution_payments_path(params: params.to_unsafe_h, import_upload_id:), turbo_frame: distribution_payments_frame) %>

  <div class="table-responsive">
    <table id="capital_distribution_payments" class="table table-bordered dataTable action_table hover">
        <%
          default_columns_map = if current_user.curr_role == "investor"
            CapitalDistributionPayment::INVESTOR_STANDARD_COLUMNS
          else
            CapitalDistributionPayment::STANDARD_COLUMNS
          end
        %>
        <% ransack_table_header = RansackTableHeader.new(CapitalDistributionPayment, q: @q, default_columns_map:, current_user: current_user, records: capital_distribution_payments, report_id: params["report_id"], turbo_frame: distribution_payments_frame, referrer: request.referrer) %>
        <%= render ransack_table_header %>
      <tbody>
        <% capital_distribution_payments.each do |capital_distribution_payment| %>
          <%= render "capital_distribution_payments/capital_distribution_payment",  capital_distribution_payment: capital_distribution_payment.decorate, columns: ransack_table_header.columns%>
        <% end %>
      </tbody>
    </table>
    <% if capital_distribution_payments.present? %>
      <%= page_entries_info capital_distribution_payments, entry_name: 'item' %>
      <%= paginate capital_distribution_payments, data: {turbo_frame: distribution_payments_frame} %>
    <% end %>
</div>
