<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Distribution Payments</h1>

    <span>
      <% if params[:capital_distribution_id] %>
      
        <%= link_to "New Distribution Payment" , new_capital_distribution_payment_path("capital_distribution_payment[capital_distribution_id]": params[:capital_distribution_id]), {class: "btn btn-outline-primary" }  %>

        <%= link_to "Download" , capital_distribution_payments_path(capital_distribution_id: params[:capital_distribution_id], format: "xlsx", all: true), {class: "btn btn-outline-primary" } %>


        <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": params[:capital_distribution_id], 
            "import_upload[owner_type]": "CapitalDistribution", 
            "import_upload[import_type]": "CapitalDistributionPayment", 
            "sample_upload": "CAPITAL_DISTRIBUTION_PAYMENT_SAMPLE"), 
            { class: "btn btn-outline-primary"}  %> 

      <% end %>
      <%= render "/funds/search_bar", model_name: "capital_distribution_payment" %>
    </span>

  </div>

  <div class="table-responsive">

    <table id="capital_distribution_payments" class="table table-bordered dataTable ">

      <thead>
        <tr>
          <th>
            Investor
          </th>
          <th>
            Folio No
          </th>
          <th>
            Amount
          </th>
          <th>
            Payment Date
          </th>
          <th>
            Completed
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% capital_distribution_payments.each do |capital_distribution_payment| %>
          <%= render capital_distribution_payment %>
        <% end %>
      </tbody>
    </table>

  </div>