<%= render ToggleCard.new(title: "Payment: #{capital_distribution_payment.investor_name}", css_class: "show_cdps", allow_toggle: false) do %>

    <table class="table table-bordered dataTable">

        <tr>
          <td>
            Fund
          </td>
          <td>
            <%= link_to capital_distribution_payment.fund.name, capital_distribution_payment.fund %>
          </td>
        </tr>
        <tr>
          <td>
            Entity
          </td>
          <td>
            <%= capital_distribution_payment.entity.name %>
          </td>
        </tr>
        <tr>
          <td>
            Capital Distribution
          </td>
          <td>
            <%= link_to capital_distribution_payment.capital_distribution.title, capital_distribution_payment.capital_distribution %>
          </td>
        </tr>
        

        <tr>
          <td>
            Commitment
          </td>
          <td>
            <%= link_to capital_distribution_payment.capital_commitment %>
          </td>
        </tr>

        <tr>
          <td>
            Amount excluding fees
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.amount, params %>
          </td>
        </tr>

        <% if capital_distribution_payment.fee_cents > 0 %>
          <tr>
            <% # Have added styles here as it's not working by adding this class %>
            <td class="vertical-align-top" style="vertical-align: top;">
              Fees
            </td>
            <td>
              <div class="money-wrapper">
                <span><%= money_to_currency capital_distribution_payment.fee, params %></span>
              </div>
              <ul class="fees-list">
              <% @capital_distribution_payment.json_fields["fees_audit"]&.each do |fee_array| %>
                  <% fee_array.each do |fee| %>
                    <li class="fee-item">
                      <span class="fee-name"><%= fee[0] %></span>
                      <span class="fee-description"><%= fee[1] %></span>
                      <span class="fee-amount"><%= currency_from_cents(fee[2], @capital_distribution_payment.fund.currency, params) %></span>
                    </li>
                  <% end %>
                <% end %>                
              </ul>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            Total Amount
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.total_amount, params %>
          </td>
        </tr>

        <tr>
          <td>
            Face Value For Redemption
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.cost_of_investment, params %>
          </td>
        </tr>


        <% if capital_distribution_payment.folio_amount != capital_distribution_payment.amount %>
        <tr>
          <td>
            Folio Amount
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.folio_amount, params %>
          </td>
        </tr>
        <tr>
          <td>
            Exchange Rate
          </td>
          <td>
            <%= link_to capital_distribution_payment.exchange_rate if capital_distribution_payment.exchange_rate %>
          </td>
        </tr>

        <% end %>

        <% if capital_distribution_payment.entity.permissions.enable_units? && !current_user&.curr_role_investor? %>
        <tr>
          <td>
            Units Redeemed
          </td>
          <td>
            <%= capital_distribution_payment.units_quantity %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            Payment Date
          </td>
          <td>
            <%= l capital_distribution_payment.payment_date if capital_distribution_payment.payment_date %>
          </td>
        </tr>

        <tr>
          <td>
            Completed
          </td>
          <td>
            <%= display_boolean capital_distribution_payment.completed %>
          </td>
        </tr>

        <% if capital_distribution_payment.exchange_rate %>
        <tr>
          <td>
            Exchange Rate
          </td>
          <td>
            <%= link_to capital_distribution_payment.exchange_rate %>
          </td>
        </tr>
        <% end %>

        <%= display_custom_fields(capital_distribution_payment) if current_user %>

    </table>

<% end %>