<%= render ToggleCard.new(title: "Payment: #{capital_distribution_payment.investor_name}", css_class: "show_cdps", allow_toggle: false) do %>

    <table class="table table-bordered dataTable">

        <tr>
          <td>
            Fund
          </td>
          <td>
            <%= link_to capital_distribution_payment.fund.name, capital_distribution_payment.fund %>
          </td>
        </tr>
        <tr>
          <td>
            Entity
          </td>
          <td>
            <%= capital_distribution_payment.entity.name %>
          </td>
        </tr>
        <tr>
          <td>
            Capital Distribution
          </td>
          <td>
            <%= link_to capital_distribution_payment.capital_distribution.title, capital_distribution_payment.capital_distribution %>
          </td>
        </tr>
        

        <tr>
          <td>
            Commitment
          </td>
          <td>
            <%= link_to capital_distribution_payment.capital_commitment %>
          </td>
        </tr>

        <tr>
          <td>
            Gross Payable
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.gross_payable, params %>
          </td>
        </tr>

        <tr>
          <td>
            Net Payable
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.net_payable, params %>
          </td>
        </tr>

        <tr>
          <td>
            Face Value For Redemption
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.cost_of_investment, params %>
          </td>
        </tr>

        <% if capital_distribution_payment.cost_of_investment_cents != capital_distribution_payment.cost_of_investment_with_fees_cents %>
        <tr>
          <td class="vertical-align-top" style="vertical-align: top;">
            Redemption Account Entries
          </td>
          <td>
            <%= render "/capital_distribution_payments/account_entries", type: ["FV For Redemption"] %>
          </td>
        </tr>

        <tr>
          <td>
            Net Face Value For Redemption
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.cost_of_investment_with_fees, params %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            Income
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.income, params %>
          </td>
        </tr>        

        <% if capital_distribution_payment.income_cents != capital_distribution_payment.income_with_fees_cents %>

        <tr>
          <td class="vertical-align-top" style="vertical-align: top;">
            Other Account Entries
          </td>
          <td>
            <%= render "/capital_distribution_payments/account_entries", type: ["Income", "Tax", "Expense"] %>
          </td>
        </tr>

        <tr>
          <td>
            Net Income 
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.income_with_fees, params %>
          </td>
        </tr>
        <% end %>      


        <tr>
          <td>
            Reinvestment
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.reinvestment, params %>
          </td>
        </tr>

        <% if capital_distribution_payment.reinvestment_cents != capital_distribution_payment.reinvestment_with_fees_cents %>

        <tr>
          <td class="vertical-align-top" style="vertical-align: top;">
            Reinvestment Account Entries
          </td>
          <td>
            <%= render "/capital_distribution_payments/account_entries", type: ["Reinvestment"] %>
          </td>
        </tr>

        <tr>
          <td>
            Net Reinvestment
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.reinvestment_with_fees, params %>
          </td>
        </tr>
        <% end %>

        
        <% if false && capital_distribution_payment.net_of_account_entries_cents > 0 %>
          <tr>
            <% # Have added styles here as it's not working by adding this class %>
            <td class="vertical-align-top" style="vertical-align: top;">
              Account Entries
            </td>
            <td>
              <%= money_to_currency capital_distribution_payment.net_of_account_entries, params %>
            </td>
          </tr>
          <tr>
            <% # Have added styles here as it's not working by adding this class %>
            <td class="vertical-align-top" style="vertical-align: top;">
              Breakdown
            </td>
            <td>
              <%= render "/capital_distribution_payments/account_entries", type: DistributionFee::TYPES %>
            </td>
          </tr>
        <% end %>

        


        <% if capital_distribution_payment.folio_amount != capital_distribution_payment.net_payable %>
        <tr>
          <td>
            Folio Amount
          </td>
          <td>
            <%= money_to_currency capital_distribution_payment.folio_amount, params %>
          </td>
        </tr>
        <tr>
          <td>
            Exchange Rate
          </td>
          <td>
            <%= link_to capital_distribution_payment.exchange_rate if capital_distribution_payment.exchange_rate %>
          </td>
        </tr>

        <% end %>

        <% if capital_distribution_payment.fund.has_tracking_currency? %>
          <tr>
            <td>
              Tracking Currency
            </td>
            <td>
              <%= capital_distribution_payment.fund.tracking_currency %>
            </td>
          </tr>

          <tr>
            <td>
              Tracking Amount
            </td>
            <td>
              <%= money_to_currency capital_distribution_payment.tracking_net_payable, params %>
            </td>
          </tr>
        <% end %>

        <% if capital_distribution_payment.entity.permissions.enable_units? && !current_user&.curr_role_investor? %>
        <tr>
          <td>
            Units Redeemed
          </td>
          <td>
            <%= capital_distribution_payment.units_quantity %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td>
            Payment Date
          </td>
          <td>
            <%= l capital_distribution_payment.payment_date if capital_distribution_payment.payment_date %>
          </td>
        </tr>

        <tr>
          <td>
            Completed
          </td>
          <td>
            <%= display_boolean capital_distribution_payment.completed %>
          </td>
        </tr>

        <% if capital_distribution_payment.exchange_rate %>
        <tr>
          <td>
            Exchange Rate
          </td>
          <td>
            <%= link_to capital_distribution_payment.exchange_rate %>
          </td>
        </tr>
        <% end %>

        <%= display_custom_fields(capital_distribution_payment) if current_user %>

    </table>

<% end %>