<%= render "layouts/filter", associations: [] %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Audit Trail</h1>
    <%= link_to "Download", audits_path(params: params.to_unsafe_h, format: :xlsx), {class: "btn btn-outline-primary"} %>
</div>


<div class="table-responsive">

<table class="table table-bordered dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Auditable</th>
            <th>User</th>
            <th>Action</th>
            <th>Field</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <% 
            @audits.each do |audit| 
                audit.audited_changes.each do |key, value| 
        %>
                    <tr>
                        <td><%= audit.id %></td>
                        <td><%= audit.auditable_type %></td>
                        <% if respond_to?("#{audit.auditable.class.name.underscore}_path") %>
                            <td><%= link_to audit.auditable %></td>
                        <% else %>
                            <td><%= audit.auditable %></td>
                        <% end %>
                        <td><%= audit.user %></td>
                        <td><%= audit.action %></td>
                        <td><%= key %></td>
                        <% if value.kind_of?(Array) %>
                            <td><%= value[0] %></td>
                            <td><%= value[1] %></td>
                        <% else %>
                            <td></td>
                            <td><%= value %></td>
                        <% end %>

                        <td><%= l audit.created_at %></td>
                    </tr>
        <%  
                end
            end 
        %>
    </tbody>
</table>

<%= raw pagy_bootstrap_nav(@pagy) %>

</div>