<tr id="<%= dom_id portfolio_scenario %>">
  <td>
    <%= portfolio_scenario.fund.name %>
  </td>
  <td>
    <%= portfolio_scenario.name %>
  </td>
  <td>
    <%= portfolio_scenario.user.full_name %>
  </td>
  <td>
    <%= link_to  t_common(:show), portfolio_scenario , {class: "btn btn-outline-primary"}%>
    <%= link_to  t_common(:edit), edit_portfolio_scenario_path(portfolio_scenario), {class: "btn btn-outline-success"} if policy(portfolio_scenario).update? %> 
  </td>
</tr>
