
<%= turbo_stream_from "portfolio_scenario_#{@portfolio_scenario.id}" if current_user %>
<%= render "portfolio_scenarios/show", portfolio_scenario: @portfolio_scenario %>
<div>
  <% if policy(@portfolio_scenario).update? %>
    <%= link_to  t_common(:edit), edit_portfolio_scenario_path(@portfolio_scenario), {class: "btn btn-outline-success"} %> 
    <%= button_to t_common(:delete), @portfolio_scenario, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
  <% end %>

  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Run Scenarios
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      
        <%= button_to "Compact: Dont Display Cash Flows", run_portfolio_scenario_path(@portfolio_scenario), method: :patch, class: "dropdown-item", data: {action: "click->confirm#popup", turbo:false, method: :patch, msg: "Scenario will be run and you will be notified in a few mins."} %>

        <%= button_to "Expanded: Display Cash Flows", run_portfolio_scenario_path(@portfolio_scenario, return_cash_flows: true), method: :patch, class: "dropdown-item", data: {action: "click->confirm#popup", turbo:false, method: :patch, msg: "Scenario will be run and you will be notified in a few mins."} %>

      </div>
    </div>
  </div>

</div>

<div class="associated_entity">
  <%= render "scenario_investments/index", scenario_investments: @portfolio_scenario.scenario_investments, portfolio_scenario: @portfolio_scenario %>
</div>


<div class="associated_entity">
  <% @pagy, portfolio_investments = pagy(@portfolio_scenario.fund.portfolio_investments
                                  .includes(:aggregate_portfolio_investment, :fund)
                                  .page(params[:page])) %>

  <%= render "portfolio_investments/index", portfolio_investments: portfolio_investments %>
</div>
