<tr id="document_<%= document.id %>">
  <td>
      <%= link_to document.name, document_path(document.id) %>
      <% if document.orignal %>
          <%= link_to document.file_url(), class: "document_download_icon", target: "_blank" do %>
            <i class="fas fa-download"></i>
          <% end %>          
      <% end %>
  </td>  
  <td class="hideMobP">
    <%= raw document.tag_list.split(",").collect{|tag| link_to(tag.strip, search_documents_path(query: tag.strip))}.join(", ")  if document.tag_list %>
    <%= document.owner_tag %>
  </td>  

  <td>
    <%= document.folder_full_path %>  
    <% if document.entity_id == current_user.entity_id %>  
      <span class="float-right">
        <%= link_to "View Docs", documents_path(folder_id: document.folder_id), 
                                  class: "badge badge-primary" %>
        <%= link_to "View Folder", folder_path(id: document.folder_id),
                                class: "badge badge-success" %>  
      </span>
    <% end %>
  </td>

  <td>
    <%= link_to "Show", document, class: "btn btn-outline-primary" %>
    <% if document.owner_type == "CapitalCommitment" && !document.locked %>
      <% document.owner.signature_link(current_user, document.id).each do |esign| %>
        <%= link_to "eSign", esign.link, 
                class: "btn btn-outline-success" if params[:signature_completed] != esign.document_id&.to_s %>
      <% end %>
    <% end %>
  </td>

</tr>
