<tr id="document_<%= document.id %>">
  <td>
      <%= link_to document.name, document_path(document.id) %>
      <% if document.orignal %>
          <%= link_to document.file_url(), class: "document_download_icon", target: "_blank" do %>
            <i class="fas fa-download"></i>
          <% end %>          
      <% end %>
  </td>  
  <td class="hideMobP">
    <%= raw document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>
    <%= document.owner_tag %>
  </td>  

  <% if current_user.entity_id == document.entity_id %>
    <td class="hideMobP">
      <%= display_boolean(document.download) %>
    </td>
    <td class="hideMobP">
      <%= display_boolean(document.printing) %>
    </td>
    <td class="hideMobP">
      <%= display_boolean(document.orignal) %>
    </td>
  <% end %>  
  
  <td>
    <%= document.folder_full_path %>  
    <% if document.entity_id == current_user.entity_id %>  
      <span class="float-right">
        <%= link_to "View Files", documents_path(folder_id: document.folder_id), 
                                  class: "badge badge-primary" %>
        <%= link_to "View Folder", folder_path(id: document.folder_id),
                                class: "badge badge-success" %>  
      </span>
    <% end %>
  </td>

  <td>
    <%= link_to "Show", document, class: "btn btn-primary" %>
    
    <%= button_to "Sign", sign_document_path(document), method: :patch, class: "btn btn-success", form_class: "deleteButton", data: {action: "click->confirm#popup", msg: "You confirm that you have read the document and are ready to sign the document. Proceed?", method: :patch} if policy(document).sign?  %>

  </td>

</tr>
