<div class="associated_entity" data-controller="tabs tabdetails">
    <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">

      <% if document.entity_id == current_user&.entity_id %>
        <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#access-rights-tab">Access Rights</a>

        <% esign_provider_digio = document.entity.entity_setting.esign_provider == "Digio" ? true : false %>
        <% if document.e_signatures.present? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#signatures-tab">
          Signatures
        </a>
        <% end %>

        <% if esign_provider_digio && document.stamp_papers.present? %>
        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#stamp-papers-tab">
          Stamp Papers
        </a>
        <% end %>

        <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#viewed-by-tab"
            data-action="click->tabdetails#loadData">
          Viewed By
        </a>
      <% end %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#tasks-tab"
          data-action="click->tabdetails#loadData">
        Tasks
      </a>

      <% if document.qna.present? %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#qna-tab">
        Q&A
      </a>
      <% end %>


    </nav>


    <div class="tab-content" data-controller="datatable">

        <% if policy(document).update? %>
          <div id="access-rights-tab" class="tab-pane fade show active">
              <div id="access_rights" class="associated_entity">
                <%  access_right = AccessRight.new(
                    owner_id: document.id,
                    access_type: "Document",
                    owner_type: "Document",
                    entity_id: document.entity_id) %>

                <% params[:form_type] = "document_form" %>
                <%= render "/access_rights/index", access_rights: document.access_rights.includes(:investor, :owner), access_right: access_right %>
              </div>
          </div>

            <div id="signatures-tab" class="tab-pane fade">
              <div id="e_signatures" class="associated_entity">
                <%= render "/e_signatures/index", e_signatures: policy_scope(document.e_signatures), owner: document, esign_provider_digio: esign_provider_digio %>
              </div>
            </div>

            <div id="stamp-papers-tab" class="tab-pane fade">
              <div id="stamp_papers" class="associated_entity">
                <%= render "/stamp_papers/index", stamp_papers: policy_scope(document.stamp_papers), owner: document %>
              </div>
            </div>

        <% end %>

        <% if document.entity_id == current_user&.entity_id %>
          <div id="viewed-by-tab" class="tab-pane fade">
            <div id="viewed_by" class="associated_entity">
              <%= render "/viewed_bies/index", viewed_bies: policy_scope(document.viewed_bies) %>
            </div>
          </div>
        <% end %>

        <div id="tasks-tab" class="tab-pane fade">
          <div id="tasks" class="associated_entity">
            <% investor = Investor.for(current_user, document.entity).first if !policy(document).update? %>
            <%= link_to tasks_path( for_entity_id: investor&.investor_entity_id,
                                    entity_id: document.entity_id,
                                    owner_id: document.id, owner_type: "Document"),
                                    class: "load_data_link",
                                    data: { turbo_frame: 'task_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "task_list", target: "_top" do %>
            <% end %>
          </div>
        </div>


        <div id="qna-tab" class="tab-pane fade">
          <div id="qna" class="associated_entity markup">
            <%#= Json2table.get_html_table(document.qna, JsonTable::TABLE_OPTIONS).html_safe if document.qna %>
            <%= render_markdown(document.qna[1..-2].gsub('\\\\', '\\').gsub('\n', "\n").gsub('```markdown', '').gsub('```', '').gsub('\"', '')) if document.qna.present? %>
          </div>
        </div>

    </div>

  </div>
