<tr id="document_<%= document.id %>">
  <td>
      <%= link_to document.name, document_path(document.id) %>
      <% if document.orignal %>
          <%= link_to document.file_url(), class: "document_download_icon", target: "_blank" do %>
            <i class="fas fa-download"></i>
          <% end %>          
      <% end %>
  </td>  
  <td class="hideMobP">
    <%= document.tag_list %>
    <%= document.owner_tag %>
  </td>  

  <td>
    <%= link_to "Show", document, class: "btn btn-outline-primary" %>
  </td>

</tr>
