<div id="excel_viewer" class="card">
  <input id="viewer_content_type" value="<%= @document.file.content_type %>" hidden />
  <input id="viewer_link" value="<%= @document.file_url %>" hidden />

  <% if current_user %>
    <input id="viewer_watermark" value="<%= current_user.entity.name %>" hidden />
  <% end %>

  <div class="card-header d-none d-sm-block">
    <h6 class="m-0 font-weight-bold text-primary">Viewing: <%= @document.name %></h6>
  </div>

  <div class="card-body" data-controller="export-xl" data-url="<%= @document.file_url %>">
      <div data-export-xl-target="spreadsheetContainer" style=""></div>
   </div>


</div>
