
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Document</h6>
  </div>
  <div class="card-body">

<%= form_with(model: document, validate: true) do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <% if document.owner != nil && document.owner.respond_to?(:document_list) && document.owner.document_list %>
      <%= form.select :name, document.owner.document_list ,{}, class: "form-control"  %>    
    <% else %>
      <%= form.text_field :name, class: "form-control"  %>
    <% end %>
    
    <%= form.text_field :owner_id, class: "form-control", hidden:true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden:true  %>
  </div>

  <% if document.owner == nil %>

    <div class="form-group">
      <%= form.label :folder %>
      <%= form.select :folder_id, Folder.not_system.for_entity(document.entity).map{|f| [f.full_path, f.id]} ,{}, class: "form-control select2"  %>
      <small class="text-muted"><%= link_to "Create New Folder", new_folder_path("folder[entity_id]": current_user.entity_id) %></small>
    </div>

    <div class="form-group">
      <%= form.label :tags %>
      <%= form.text_field :tag_list, class: "form-control"  %>
      <small class="text-muted">Comma separated list of tags to classify the document</small>
    </div>
  
  <% elsif document.owner.respond_to?(:document_tags) %>
    <div class="form-group">
      <%= form.label :owner_tag, "Document For" %>
      <%= form.select :owner_tag, document.owner.document_tags ,{}, class: "form-control"  %>    
    </div>
  <% end %>




  <div data-controller="single-upload" data-single-upload-types-value="<%= FileUploader::ALLOWED_TYPES.to_json %>" data-single-upload-server-value="<%= upload_server %>">
    <div class="mb-3">
 
      <%= form.label :file, class: "form-label" %>

      <!-- for storing cover photo uploaded file data -->
      <%= form.hidden_field :file,
        value: document.cached_file_data,
        data: { single_upload_target: "result" },
        id: nil %>

      <!-- will be replaced by Uppy -->
      <%= form.file_field :file,
        class: "form-control",
        data: { single_upload_target: "input" } %>
    </div>

    <div class="UppyInput-Progress"></div>

    <div class="d-inline-block mt-1 mb-3">
      <!-- static link to the thumbnail generated on attachment -->
      <% image_src = document.file_url ? document.file_url : "" %>
      <%= image_tag image_src,
        width: 300,
        class: "img-thumbnail file-upload-preview",
        data: { single_upload_target: "preview" }  %>
    </div>
  </div>

  <% if params[:external] == "true" %>
    <%= form.text_field :orignal, class: "form-control", hidden:true, value: true  %>
  <% else %>
  <div data-controller="docform">
    <div class="form-group nonpdf">
      <%= form.label :orignal, "Allow Orignal Format Download" %>
      <%= form.check_box :orignal, class: "form-control form-checkbox", 
                data: {action: "click->docform#onOrignalChange"} %>
      <small class="text-muted">Allow orignal format to be downloaded (No conversion or watermarking)</small>
    </div>

    <div class="form-group pdfopts">
      <%= form.label :download, "Allow Download" %>
      <%= form.check_box :download, class: "form-control form-checkbox",
              data: {action: "click->docform#onPdfOptChange"}  %>
      <small class="text-muted">Enable users to download this document</small>
    </div>

    <div class="form-group pdfopts">
      <%= form.label :printing, "Allow Printing" %>
      <%= form.check_box :printing, class: "form-control form-checkbox",
              data: {action: "click->docform#onPdfOptChange"} %>
      <small class="text-muted">Enable users to print this document</small>
    </div>
  </div>
  <% end %>

  <%= custom_form_fields(document, form) %>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :text, class: "form-control trix-content"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>


  </div>
  </div>