
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Document</h6>
  </div>
  <div class="card-body">

<%= form_with(model: document, validate: true) do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  data-controller="docform">
    <div class="form-group">
      <%= form.label :name %>
      <% if document.name == nil && document.owner != nil && document.owner.respond_to?(:document_list) && document.owner.document_list.present? %>
        <%= form.select :name, document.owner.document_list.map{|d| d.strip} ,{}, class: "form-control", id: "doc_name_select", "data-action": "change->docform#checkOtherName" %>    
        <%= form.text_field :name, class: "form-control", disabled: true, id: "other_name"  %>
      <% else %>
        <%= form.text_field :name, class: "form-control"  %>
      <% end %>
      
      <%= form.text_field :owner_id, class: "form-control", hidden:true  %>
      <%= form.text_field :owner_type, class: "form-control", hidden:true  %>
      <%= form.text_field :entity_id, class: "form-control", hidden:true  %>
    </div>

    <% if document.owner == nil ||  document.owner_type == "Deal" %>

      <% 
        root = document.owner ? document.owner.data_room_folder : document.entity.root_folder 
        folders = ([[root.full_path, root.id]]  + root.descendants.map{|f| [f.full_path, f.id]})
      %>
      <div class="form-group">
        <%= form.label :folder %>
        <%= form.select :folder_id, folders,{}, class: "form-control select2"  %>
        <small class="text-muted"><%= link_to "Create New Folder", new_folder_path("folder[entity_id]": current_user.entity_id) %></small>
      </div>

      <div class="form-group">
        <%= form.label :tags %>
        <%= form.text_field :tag_list, class: "form-control"  %>
        <small class="text-muted">Comma separated list of tags to classify the document</small>
      </div>
    <% elsif document.owner && document.owner.respond_to?(:document_tags) && document.owner.document_tags.present?  %>
      <div class="form-group">
        <%= form.label :owner_tag, "Document For" %>
        <%= form.select :owner_tag, document.owner.document_tags ,{}, class: "form-control"  %>    
      </div>
    <% end %>




    <%= render "layouts/single_upload", form: form, field_label: "Upload File", 
                              for_model: "document", field_name: "file", 
                              model: document %>


    <% if params[:external] == "true" %>
      <%= form.text_field :orignal, class: "form-control", hidden:true, value: true  %>
    <% else %>

    
    <div>
      <div class="form-group nonpdf">
        <%= form.label :orignal, "Allow Orignal Format Download" %>
        <%= form.check_box :orignal, class: "form-control form-checkbox", 
                  data: {action: "click->docform#onOrignalChange"} %>
        <small class="text-muted">Allow orignal format to be downloaded (No conversion or watermarking)</small>
      </div>

      <div class="form-group pdfopts">
        <%= form.label :download, "Allow Download" %>
        <%= form.check_box :download, class: "form-control form-checkbox",
                data: {action: "click->docform#onPdfOptChange"}  %>
        <small class="text-muted">Enable users to download this document</small>
      </div>

      <div class="form-group pdfopts">
        <%= form.label :printing, "Allow Printing" %>
        <%= form.check_box :printing, class: "form-control form-checkbox",
                data: {action: "click->docform#onPdfOptChange"} %>
        <small class="text-muted">Enable users to print this document</small>
      </div>

      <div class="form-group pdfopts">
        <%= form.label :public_visibility, "Allow Public Visibility" %>
        <%= form.check_box :public_visibility, class: "form-control form-checkbox" %>
        <small class="text-muted">Enable any user to view this document</small>
      </div>

      <div class="form-group">
        <%= form.label :send_email %>
        <%= form.check_box :send_email, class: "form-control form-checkbox" %>
        <small class="text-muted">Send email notification to users who can view this document</small>
      </div>
    </div>
    <% end %>

    <%= custom_form_fields(document, form) %>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.rich_text_area :text, class: "form-control trix-content"  %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>


  </div>
  </div>