<% @entity ||= nil %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% if params[:folder_id].present? %>
    <% 
      # Get the folder
      folder = Folder.find(params[:folder_id]) 
      # Shorten the path - some folders are too long to display
      path = last_folders_path(folder.full_path, 4)
      # link for users or just path for investors
      link = (folder.entity_id == current_user.entity_id) ? link_to(path, folder) : path 
    %>
    <span class="mb-0 text-gray-800">
      Documents: <%= link %>
    </span>
  <% else %>
    <h4 class="mb-0 text-gray-800">
      Documents
    </h4>
  <% end %>

  <% 
    external = owner && owner.entity_id != current_user.entity_id 
    entity_id = @entity&.id
    entity_id ||= owner&.entity_id
    entity_id ||= current_user.entity_id

    document = Document.new(entity_id: , owner: owner)
    doc_attributes = document.attributes.delete_if{|k,v| !["entity_id", "owner_id", "owner_type"].include?(k)}
  %>

  <input type="text" id="selected_folder_id" value="<%=params[:folder_id]%>" hidden>

  <span>
    <%= link_to "Download Folder", download_folder_path(id: params[:folder_id]), 
        class: "btn btn-sm btn-outline-success", data: {action: "click->confirm#popup"} if params[:folder_id].present? && policy(@folder).download? %>

    <%= link_to "New Folder", new_folder_path("folder[entity_id]": current_user.entity_id, 
        "folder[parent_id]": @folder.id), 
        class: "btn btn-sm btn-outline-primary" if params[:folder_id].present? && policy(@folder).create?   %> 

    <%= link_to "New Document", new_document_path(external: external, 
                document: doc_attributes, 
                "document[folder_id]": params[:folder_id]), 
                {class: "btn btn-sm  btn-outline-primary" }  if policy(document).create? %>


    <%= link_to "Bulk Upload", 
        new_import_upload_path("import_upload[owner_id]": params[:folder_id], 
            "import_upload[owner_type]": "Folder", 
            "import_upload[import_type]": "Documents", 
            "sample_upload": "DOCS_SAMPLE"), 
            { class: "btn btn-sm btn-outline-primary"} if params[:folder_id].present? %> 
            
    <% 
      owner ||= nil 
      @deal  ||= nil
      if owner && ["Deal", "DealInvestor"].include?(owner.class.name)
        @deal = owner.is_a?(Deal) ? owner : owner.deal 
      end
    %>
    <%= link_to "Data Room", 
        documents_path(entity_id: @deal.entity_id, folder_id: @deal.data_room_folder_id, parent_folder_id: @deal.document_folder.id), {class: "btn btn-outline-primary" }  if @deal %>

  </span>
</div>

<div class="table-responsive">

  <table id="documents" class="table table-bordered table-striped dataTable jqDataTable">

    <thead>
      <tr>
        <th>
          Name
        </th>
        <th class="hideMobP">
          Tags
        </th>
        <th>
          Folder
        </th>
        <th>
        </th>

      </tr>
    </thead>
    <tbody>
      <% documents.each do |document| %>
        <%= render partial: "documents/document" , locals: {document: document} %>
      <% end %>
    </tbody>
  </table>


</div>


<% 
msg ||= nil
if false && msg.present?
%>
  <div class="text-center">
    <span class="alert alert-info"><%= msg %></span>
  </div>
<% end %>