<% @doc_share ||= nil %>
<div id="pdf_viewer" data-controller="pdf" class="card">

   <input id="viewer_content_type" , value="<%=@document.file.content_type%>" hidden="hidden"></input>
   <input id="viewer_link" , value="<%=@document.file_url()%>" hidden="hidden"></input>

   <% if current_user %>
      <input id="viewer_watermark" value="<%= current_user.entity.name %>" hidden="hidden" />
   <% elsif @doc_share.present? %>
      <input id="viewer_watermark" value="<%= @doc_share.email %>" hidden="hidden" />
   <% end %>

   <div class="card-header d-none d-sm-block">
      <h6 class="m-0 font-weight-bold text-primary">Viewing: <%= @document.name %>
      </h6>
   </div>

   <div id="viewer_label" class="card-body viewer_label">
      Loading Secure PDF
      <%= render "/layouts/loading" %>
   </div>
   
   <div id='viewer' class="card-body">
   </div>

</div>