<div id="pdf_viewer" data-controller="pdf" class="card">
   
   <input id="viewer_content_type" , value="<%=@document.file.content_type%>" hidden="hidden"></input>
   <input id="viewer_link" , value="<%=@document.file_url()%>" hidden="hidden"></input>
   <input id="viewer_watermark" , value="Exclusively for <%= current_user.entity ? current_user.entity.name : current_user.full_name %>" hidden="hidden"></input>

   <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">Viewing: <%= @document.name %></h6>
  </div>
  <div id="viewer_label" class="card-body viewer_label">
      Loading Secure PDF 
      <i class="fa-solid fa-sync fa-spin"></i>
   </div>
   <div id='viewer' class="card-body">      
   </div>
   <% if policy(@document).sign? %>
      <%= form_with(model: @document, id: "signed_doc_form") do |form| %>
         <div style="display:none;">
            <%= render "layouts/single_upload", form: form, field_label: "Upload File", 
                                 for_model: "document", field_name: "file", 
                                 model: @document %>

         </div>

         <input type="file" id="dscfile" name="dscfile">
         <input type="password" id="pwd" name="pwd">
         <button class="btn btn-primary" data-action="click->pdf#readDscFile">Read DSC</button>
      <% end %>
      <button class="btn btn-primary" data-action="click->pdf#save_signed">Save Signed Document</button>
   <% end %>
</div>