<% no_folders ||= false; show_steps = true if show_steps.nil? %>
<%= render "/layouts/steps", steps: ["Create Folders", "Upload Docs", "Setup Access Rights"].freeze if show_steps %>

<div class="row">
    <!-- Show hide the folder view based on action -->
    <% doc_index_class = (no_folders) ? "col-lg-12 mb-4" : "col-lg-8 mb-4" %>

    <% unless no_folders %>
    <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Folders</span>
            </div>
            <div class="card-body">
                <div id="tree_view" class="tree_view" data-controller="treeview">
                    <% if params[:page].blank? %>
                        <% folders = get_tree_view_folders(params, current_user, @entity, @documents) %>
                        <%= render "folders/tree_view", folders: folders  %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>

    <div class="<%= doc_index_class %>">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center">
                    <span class="m-0 font-weight-bold text-primary">Documents</span>
                    <div class="d-flex flex-column flex-sm-row gap-2 mt-2 mt-sm-0">
                        <%= link_to documents_path(entity_id: params[:entity_id], all: true, format: :xlsx), class: "btn btn-outline-primary" do %>
                          <i class="ti ti-database-export me-2"></i>Index
                        <% end %>

                        <%= link_to documents_path(entity_id: params[:entity_id]), class: "btn btn-outline-primary" do %>
                            <i class="ti ti-files me-2"></i>All Documents
                        <% end %>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <%= turbo_frame_tag "documents_frame", target: "_top" do %>
                    <%
                        documents = documents.where(folder_id: params[:folder_id]) if params[:folder_id].present?
                        documents = documents.page(params[:page]) if params[:all].blank?
                    %>
                    <%= render "documents/index", documents: documents, entity: entity, owner: @owner %>
                    <%= paginate documents, data: {turbo_frame: 'documents_frame'} %>
                <% end %>
            </div>
        </div>
    </div>
</div>
