<% no_folders ||= false %>
<%= render "/layouts/steps", steps: ["Create Folders", "Upload Docs", "Setup Access Rights"].freeze if show_steps %>

<div class="row">
    <!-- Show hide the folder view based on action -->
    <% doc_index_class = (no_folders) ? "col-lg-12 mb-4" : "col-lg-9 mb-4" %>

    <% unless no_folders %>
    <div class="col-lg-3 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Folders</span> 
                <% if current_user.entity_id == entity.id %>
                    <%= link_to "New Folder", new_folder_path("folder[entity_id]": current_user.entity_id, "folder[parent_id]": params[:folder_id]), class: "btn btn-outline-sm btn-outline-primary float-right"  %>               
                    <%= link_to "Show Folders", folders_path(), class: "btn btn-outline-sm btn-outline-primary float-right"  %>               
                <% end %>
            </div>
            <div class="card-body">
                <div id="tree_view" class="tree_view" data-controller="treeview">
                    <% entity_id = params[:entity_id].present? ? params[:entity_id].to_i : current_user.entity_id %>
                    <% 
                        if entity_id == current_user.entity_id
                            if params[:parent_folder_id].present?
                                folders = Folder.find(params[:parent_folder_id]).subtree.arrange 
                            else
                                folders = @entity.root_folder.subtree.arrange 
                            end
                        else
                            allowed_folders = @documents.pluck(:folder_id)
                            folders = @entity.root_folder.subtree.where(id: allowed_folders).arrange
                        end
                    %>
                    <%= render "folders/tree_view", folders: folders  %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <div class="<%= doc_index_class %>">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Documents</span>
                <%= link_to "All Documents", documents_path(entity_id:params[:entity_id]), class: "btn btn-outline-sm btn-outline-primary float-right"  %>               
            </div>
            <div class="card-body">
                <%= render "documents/index", documents: documents, entity: entity, owner: @owner %>
                <%= paginate documents %>                
            </div>
        </div>
    </div>
</div>
