

<%= render ReportingComponent.new do %>
    <% if params[:no_folders].present? %>
        <%= turbo_frame_tag "documents_frame", target: "_top" do %>
            <% @documents = @documents.page(params[:page]) if params[:all].blank? %>

            <%= render "layouts/filter", associations: [:folder], hidden_fields: {no_folders: true, folder_id: params[:folder_id]} %>

            <%= render "/documents/index", documents: @documents, entity: @entity, owner: @owner %>

            <%= paginate @documents, data: {turbo_frame: 'documents_frame'} %>
            <span><%= page_entries_info @documents %></span>
        <% end %>
    <% else %>
        <% cache_if((current_user.entity_id == @entity&.id && params.blank?), [@entity, current_user]) do %>
            <%= turbo_frame_tag "documents_tree_frame", target: "_top" do %>
                <%= render "/documents/tree_view", documents: @documents, entity: @entity,
                    folders: @folders, show_steps: @show_steps, owner: @owner, no_folders: @no_folders %>
            <% end %>
        <% end %>
    <% end %>
<% end %>


