<%= render "/layouts/alerts" %>


<div class="row">
   <% if @document.video? %>
     <%= render "layouts/video", url: @document.file_url %>
   <% elsif ENV['PDF_TRON'] == 'true' && @document.file.present? && !@document.orignal %>
      <%= render "documents/pdf" %>
   <% end %>
</div>

<% if policy(@document).sign? %>
   <% if @document.signature_type.present? %>
      <div class="alert alert-info">
         Please read through the document, Click the "Add New Signature" in the pdf menu bar, place your signature and sign it by clicking on the "Save Signed Document" button.
      </div>
   <% elsif @document.signature_type.present? %>
      <div class="alert alert-info">
         Please download the document, Add your digital signature to it and upload the signed document here.
      </div>
   <% end %>
<% end %>

<div class="row">

    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                   Document
                   : <%= pluralize @document.impressions_count, "View" %>

               </h6>
            </div>
            <div class="card-body">
               <table class="table table-bordered dataTable ">
                  <tr>
                     <td>
                        Download
                     </td>
                     <td>

                        <% if @document.file %>
                           <%= link_to @document.file_url(), class: "document_download_icon", target: "_blank" do %>
                              <i class="fas fa-download"></i>
                           <% end %>
                           <%= @document.name.capitalize.titleize %>

                        <% end %>

                        
                        
                     </td>
                  </tr>

                  <% if @document.from_template_id %>
                     <tr>
                        <td>
                           Created from template
                        </td>
                        <td>
                           <%= link_to @document.from_template.name.capitalize.titleize, @document.from_template %>
                        </td>
                     </tr>
                  <% end %>

                  <% if @document.signed_by_id %>
                     <tr>
                        <td>
                           Signed By
                        </td>
                        <td>
                           <%= @document.signed_by.full_name %>
                           <% if @document.signed_by_accept %>
                              <span class="badge badge-success">Accepted</span>
                           <% else %>
                              <span class="badge badge-warning">Not Accepted</span>
                           <% end %>
                        </td>
                     </tr>
                  <% end %>

                  <tr>
                     <td>
                        Folder
                     </td>
                     <td>
                        <%= @document&.folder.full_path %>
                        <%= link_to "View Files", documents_path(folder_id: @document.folder_id), 
                              class: "badge badge-primary" %>
                        <%= link_to "View Folder", folder_path(id: @document.folder_id),
                              class: "badge badge-success" %>                    
                     </td>
                  <tr>
                     <td>
                        Tags
                     </td>
                     <td>
                        <%= raw @document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>

                        <%= @document.owner_tag %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Created
                     </td>
                     <td>
                        <%= l @document.created_at, format: :default %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Entity
                     </td>
                     <td>
                        <%= link_to @document.entity.name, @document.entity %>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        Belongs To
                     </td>
                     <td>
                        <%= link_to @document.owner_type, [@document.owner, tab: "docs-tab"] if @document.owner %>
                     </td>
                  </tr>

                  <input type="text" id="download_document" hidden="hidden" value="<%= @document.download %>" />
                  <input type="text" id="printing_document" hidden="hidden" value="<%= @document.printing %>" />

                  <% if policy(@document).sign? %>
                     <input type="text" id="sign_document" hidden="hidden" value="<%= @document.signature_enabled %>" />
                     <% @document.signature_type.each do |st| %>
                        <input type="text" id="signature_<%= st %>" hidden="hidden" value="true" />
                     <% end %>
                  <% end %>

                  <% if current_user && current_user.entity_id == @document.entity_id %>

                  <tr>
                     <td>
                        Allow Download
                     </td>
                     <td>
                     <%= display_boolean @document.download %>                                                  
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Allow Printing
                     </td>
                     <td>
                        <%= display_boolean @document.printing %>                                                                             
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Allow Original Format Download
                     </td>
                     <td>
                        <%= display_boolean @document.orignal  %>                                                  

                     </td>
                  </tr>

                  <tr>
                     <td>
                        Public Visibility
                     </td>
                     <td>
                        <%= display_boolean @document.public_visibility  %>                                                  

                     </td>
                  </tr>
                  <% end %>

                  <tr>
                     <td>
                        Uploaded By
                     </td>
                     <td>
                        <%= @document.user.full_name  %> | <%= @document.user.email  %>                                                  
                     </td>
                  </tr>

                  <% if false && @document.signed_by_id.present? %>
                  <tr>
                     <td>
                        Signed By
                     </td>
                     <td>
                        <%= @document.signed_by.full_name  %> | <%= @document.signed_by.email  %>                                  
                        
                        <%= link_to @document.file_url(), target: "_blank" do %>
                           <i class="fas fa-download"></i>
                           Download Signed: <%= @document.name.capitalize.titleize %>
                        <% end %>
                        
                     </td>
                  </tr>
                  <% end %>
                  
                  <% if @document.text.present? %>
                  <tr>
                     <td>
                        Details
                     </td>
                     <td>
                        <%= @document.text %>                        
                     </td>
                  </tr>
                  <% end %>

                  <%= display_custom_fields(@document) if current_user %>

               </table>

            </div>
        </div>
    </div>
</div>

<% if current_user && policy(@document).update? %>
   <div style="display: inline-block;">      
      <%= link_to "Edit", edit_document_path(@document), {class: "btn btn-primary"} %> 
      <%= link_to "All Documents", documents_path, {class: "btn btn-success"} %> 
      <%= button_to "Delete", @document, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@document).destroy? %> 
   </div>
<% end %>



<%= render "documents/document_details", document: @document if current_user %>
