


<div class="row">
   <% if @document.video? %>
     <%= render "layouts/video", url: @document.file_url %>
   <% elsif @document.excel? && false %>
     <%= render "documents/excel", url: @document.file_url %>
   <% elsif ENV['PDF_TRON'] == 'true' && @document.file.present? && !@document.orignal %>
      <%= render "documents/pdf" %>
   <% end %>
</div>



<div class="row">

    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                   <%= @document.name.capitalize.titleize %>
               </h6>
            </div>
            <div class="card-body">
               <table class="table table-bordered dataTable ">


                  <% if @document.orignal %>
                     <tr>
                        <td>
                           Download
                        </td>
                        <td>
                           <%= link_to @document.file.url(), class: "btn btn-outline-success", target: "_blank" do %>
                              <%= @document.name.capitalize.titleize %>
                              <i class="fas fa-download fa-xl"></i>
                           <% end %>
                        </td>
                     </tr>
                  <% end %>


                  <input type="text" id="download_document" hidden="hidden" value="<%= @document.download %>" />
                  <input type="text" id="printing_document" hidden="hidden" value="<%= @document.printing %>" />

                  <% if @document.entity_id == current_user&.entity_id %>

                  <tr>
                     <td>
                        Folder
                     </td>
                     <td>
                        <%= @document&.folder.full_path %>
                        <span  class="d-none d-sm-block">
                           <%= link_to "View Docs", folder_documents_path(folder_id: @document.folder_id),
                                 class: "badge bg-primary" %>
                           <%= link_to "View Folder", folder_path(id: @document.folder_id),
                                 class: "badge bg-success" %>
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Tags
                     </td>
                     <td>
                        <%= raw @document.tag_list.split(",").collect{|tag| link_to(tag.strip, search_documents_path(query: tag.strip))}.join(", ") if @document.tag_list %>

                        <%= @document.owner_tag %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Created
                     </td>
                     <td>
                        <%= l @document.created_at, format: :default %>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        Belongs To
                     </td>
                     <td>
                        <%= link_to @document.owner_type, [@document.owner, tab: "docs-tab"] if @document.owner %>
                     </td>
                  </tr>


                  <% if @document.from_template %>
                     <tr>
                        <td>
                           Created from template
                        </td>
                        <td>
                           <%= link_to @document.from_template.name.capitalize.titleize, @document.from_template %>
                        </td>
                     </tr>
                  <% end %>


                  <tr class="d-none d-md-table-row">
                     <td>
                        Allow
                     </td>
                     <td>
                        Download <%= display_boolean @document.download %>
                        &nbsp;&nbsp; Printing <%= display_boolean @document.printing %>
                        &nbsp;&nbsp; Original <%= display_boolean @document.orignal  %>
                        &nbsp;&nbsp; Public <%= display_boolean @document.public_visibility  %>
                        &nbsp;&nbsp; Send Email <%= display_boolean @document.send_email  %>
                        <% if @document.template %>
                           &nbsp;&nbsp; Template <%= display_boolean @document.template  %>
                        <% end %>
                        <% if @document.from_template_id.present? %>
                           &nbsp;&nbsp; Approved <%= display_boolean @document.approved  %>
                        <% end %>
                     </td>
                  </tr>


                  <tr>
                     <td>
                        Uploaded By
                     </td>
                     <td>
                        <%= @document.user.full_name  %> | <%= @document.user.email  %>
                     </td>
                  </tr>

                  <%= display_custom_fields(@document) if current_user %>

                  <% end %>

                  <% if @document.text.present? %>
                  <tr>
                     <td>
                        Details
                     </td>
                     <td>
                        <%= @document.text %>
                     </td>
                  </tr>
                  <% end %>

                  <% if @document.signature_enabled %>

                     <% if !@document.template %>
                     <tr>
                        <td>
                           eSignature Status
                        </td>
                        <td>
                           <%= @document.esign_status&.titleize %>
                        </td>
                     </tr>
                     <% end %>

                  <tr>
                     <td>
                        eSignature On Page
                     </td>
                     <td>
                        <%= @document.display_on_page&.titleize %>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        eSignatures Order
                     </td>
                     <td>
                        <%= display_boolean @document.force_esign_order %>
                     </td>
                  </tr>

                  <% if params[:debug].present?%>
                     <tr>
                        <td>
                           eSign Provider ID
                        </td>
                        <td>
                           <%= @document.provider_doc_id %>
                        </td>
                     </tr>
                     <% end %>

                  <% end %>


               </table>

            </div>
        </div>
    </div>
</div>

<% if current_user %>

   <div style="display: inline-block;">
      <%= link_to "Edit", edit_document_path(@document), {class: "btn btn-outline-primary"} if policy(@document).update? %>

      <%= button_to "Approve", document_path(@document, "document[approved]": true, redirect_to: document_path(@document)), {class: "btn btn-outline-success", method: :patch} if policy(@document).approve? %>

      <%#= link_to "All Documents", documents_path, {class: "btn btn-outline-success"} %>
      <%= button_to "Delete", @document, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@document).destroy? %>
      
      <%unless current_user.curr_role == "investor"%>
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sendDocumentDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Send Document
        </button>
        <div class="dropdown-menu" aria-labelledby="sendDocumentDropdown">
          <% current_user.entity.custom_notifications.enabled.where(for_type: "Send Document").each do |cust_not| %>
            <%= button_to "Send #{cust_not.subject}", send_document_notification_document_path(@document, custom_notification_id: cust_not.id),
                          method: :patch,
                          class: "dropdown-item" %>
          <% end %>
        </div>
      <% end %>
   </div>
   <%= render "documents/document_details", document: @document if policy(@document).update? %>

<% end %>




