<%= render ToggleCard.new(title: "#{@fund_formula.name}", css_class: "show_fund_formula", allow_toggle: false) do %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Fund
    </td>
    <td>
      <%= link_to @fund_formula.fund %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @fund_formula.name %>
    </td>
  </tr>
  <tr>
    <td>
      Roll Up
    </td>
    <td>
      <%= display_boolean @fund_formula.roll_up %>
    </td>
  </tr>
  <tr>
    <td>
      Enabled
    </td>
    <td>
      <%= display_boolean @fund_formula.enabled %>
    </td>
  </tr>
  <tr>
    <td>
      Explain
    </td>
    <td>
      <%= display_boolean @fund_formula.explain %>
    </td>
  </tr>
  <tr>
    <td>
      Type
    </td>
    <td>
      <%= @fund_formula.rule_type %>
    </td>
  </tr>
  <tr>
    <td>
      Rule For
    </td>
    <td>
      <%= @fund_formula.rule_for %>
    </td>
  </tr>
  <tr>
    <td>
      Tag List
    </td>
    <td>
      <%= @fund_formula.tag_list %>
    </td>
  </tr>


  <% if @fund_formula.entry_type.present? %>
  <tr>
    <td>
      Type
    </td>
    <td>
      <%= @fund_formula.entry_type %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td>
      Sequence
    </td>
    <td>
      <%= @fund_formula.sequence %>
    </td>
  </tr>

  <tr>
    <td>
      AI Description
    </td>
    <td>
      <%= @fund_formula.ai_description %>
    </td>
  </tr>

  <tr>
    <td>
      Description
    </td>
    <td>
      <%= @fund_formula.description %>
    </td>
  </tr>
  <tr>
    <td>
      Formula
    </td>
    <td>
      <%= @fund_formula.formula.html_safe %>
    </td>
  </tr>
  <tr>
    <td>
      Metadata
    </td>
    <td>
      <%= @fund_formula.meta_data %>
    </td>
  </tr>

  <tr>
    <td>
      Generate YTD, Quarterly, Since Inception numbers
    </td>
    <td>
      <%= display_boolean @fund_formula.generate_ytd_qtly %>
    </td>
  </tr>
</table>

<div>
  <%= link_to  t_common(:edit), edit_fund_formula_path(@fund_formula), {class: "btn btn-outline-primary"} if policy(@fund_formula).update? %>
  <%= button_to t_common(:delete), @fund_formula, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false} if policy(@fund_formula).destroy? %>
  <%= link_to "Generate AI Description", generate_ai_description_fund_formula_path(@fund_formula), {class: "btn btn-outline-info ti ti-robot-face"} if policy(@fund_formula).generate_ai_description? %>
  <% if policy(@fund_formula).enable_formulas? %>
    <div class="btn-group">
      <div class="dropdown">
        <% enabled = @fund_formula.enabled ? "Enabled" : "Disabled" %>
        <button class="btn btn-outline-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= enabled %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <% if @fund_formula.enabled %>
          <%= button_to "Disable", fund_formula_path(@fund_formula), method: :patch, params: { fund_formula: { enabled: false } }, class: "dropdown-item" %>
        <% else %>
          <%= button_to "Enable", fund_formula_path(@fund_formula), method: :patch, params: { fund_formula: { enabled: true } }, class: "dropdown-item" %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
<% end %>
