<div class="wizard_container" data-controller="wizard">
  <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-outline-primary btn-circle">1</a>
              <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">2</a>
              <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
        </div>
      </div>
  </div>


<%= form_with(model: option_pool, validate: true) do |form| %>
  <% if option_pool.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(option_pool.errors.count, "error") %> prohibited this option_pool from being saved:</h2>

      <ul>
        <% option_pool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row setup-content" id="step-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 1. Option Pool Details </div>
            <div class="card-body">

              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :start_date %>
                <%= form.date_field :start_date, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :number_of_options %>
                <%= form.text_field :number_of_options, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :excercise_price %>
                <%= form.text_field :excercise_price, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :excercise_period_months %>
                <%= form.number_field :excercise_period_months, class: "form-control", required: true  %>
              </div>

              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row setup-content" id="step-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 2. Upload Documents </div>
            <div class="card-body">

              <div class="form-group" data-controller="directuploads" >
                <%= form.label :attachments, "Option Scheme Documents" %>
                <%= form.file_field :attachments, class: "form-control", direct_upload: true, multiple:true %>
                <small class="text-muted"> Upload multiple documents. </small>
              </div>

              <div class="form-group" data-controller="directuploads" >
                <% required = option_pool.new_record? && !Rails.env.test? %>
                <%= form.label :excercise_instructions %>
                <%= form.file_field :excercise_instructions, class: "form-control", direct_upload: true, multiple:true, required: required %>
                <small class="text-muted"> Documents describing the complete process to your employees. </small>
              </div>

              <div class="form-group" data-controller="directuploads" >
                <%= form.label :certificate_signature, "ESOP Grant Certificate Signature" %>
                <%= form.file_field :certificate_signature, class: "form-control", direct_upload: true, multiple:false %>
                <small class="text-muted"> Signature to be shown on the ESOP Grant Certificates for employees. </small>
              </div>


              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row setup-content" id="step-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 3. Description & Vesting Schedule </div>
            <div class="card-body">

            <div id='vesting_schedules' class="">              
              <%= form.fields_for :vesting_schedules do |schedule| %>
                <%= render 'vesting_schedules', :f => schedule %>
              <% end %>
            </div>


            <div class="form-group">
              <%= form.label :details %>
              <%= form.rich_text_area :details, class: "form-control trix-content"  %>
            </div>

            <%= custom_form_fields(option_pool, form) %>

            <div class="form-group">
              <%= link_to_add_association 'Add Schedule', form, :vesting_schedules , class: "btn btn-success btn-lg" %>
              <%= form.submit "Save", {class: "btn btn-primary btn-lg"}%>
            </div>
          </div>
        </div>
    </div>
  </div>

<% end %>

</div>