<div class="wizard_container" data-controller="wizard">
  <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-outline-primary btn-circle">1</a>
              <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">2</a>
              <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-outline-primary btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
        </div>
      </div>
  </div>


<%= form_with(model: option_pool, validate: true) do |form| %>
  <% if option_pool.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(option_pool.errors.count, "error") %> prohibited this option_pool from being saved:</h2>

      <ul>
        <% option_pool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row setup-content" id="step-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 1. Option Pool Details </div>
            <div class="card-body">

              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :start_date %>
                <%= form.date_field :start_date, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :number_of_options %>
                <%= form.text_field :number_of_options, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :excercise_price %>
                <%= form.text_field :excercise_price, class: "form-control", required: true  %>
              </div>

              <div class="form-group">
                <%= form.label :excercise_period_months %>
                <%= form.number_field :excercise_period_months, class: "form-control", required: true  %>
              </div>

              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row setup-content" id="step-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 2. Upload Documents </div>
            <div class="card-body">

              <%= form.label :documents, "Option Pool Documents", class: "form-label" %>
              <div class="mb-3" data-controller="multiple-upload" 
                      data-multiple-upload-types-value="<%= FileUploader::ALLOWED_TYPES.to_json %>" 
                      data-multiple-upload-server-value="<%= upload_server %>"
                      data-multiple-upload-drop-here-value="Option Pool Documents"
                      data-multiple-upload-parent-model-value="option_pool">
                  <!-- will be replaced by Uppy -->
                  <%= form.label :documents, "Select Files", class: "form-label" %>
                  <%= form.file_field :documents,
                      multiple: true,
                      class: "form-control",
                      data: { multiple_upload_target: "input" } %>
              </div>

              <div data-controller="single-upload" data-single-upload-types-value="<%= FileUploader::ALLOWED_TYPES.to_json %>" data-single-upload-server-value="<%= upload_server %>">
                <div class="mb-3">
             
                  <%= form.label :certificate_signature, class: "form-label" %>
            
                  <!-- for storing cover photo uploaded file data -->
                  <%= form.hidden_field :certificate_signature,
                    value: option_pool.cached_certificate_signature_data,
                    data: { single_upload_target: "result" },
                    id: nil %>
            
                  <!-- will be replaced by Uppy -->
                  <%= form.file_field :certificate_signature,
                    class: "form-control",
                    data: { single_upload_target: "input" } %>
                </div>
            
                <div class="UppyInput-Progress"></div>
            
                <div class="d-inline-block mt-1 mb-3">
                  <!-- static link to the thumbnail generated on attachment -->
                  <% image_src = option_pool.certificate_signature_url ? option_pool.certificate_signature_url : "" %>
                  <%= image_tag image_src,
                    width: 300,
                    class: "img-thumbnail file-upload-preview",
                    data: { single_upload_target: "preview" }  %>
                </div>
              </div>


              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row setup-content" id="step-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> 3. Description & Vesting Schedule </div>
            <div class="card-body">

            <div id='vesting_schedules' class="">              
              <%= form.fields_for :vesting_schedules do |schedule| %>
                <%= render 'vesting_schedules', :f => schedule %>
              <% end %>
            </div>


            <div class="form-group">
              <%= form.label :details %>
              <%= form.rich_text_area :details, class: "form-control trix-content"  %>
            </div>

            <%= custom_form_fields(option_pool, form) %>

            <div class="form-group">
              <%= link_to_add_association 'Add Schedule', form, :vesting_schedules , class: "btn btn-success btn-lg" %>
              <%= form.submit "Save", {class: "btn btn-primary btn-lg"}%>
            </div>
          </div>
        </div>
    </div>
  </div>

<% end %>

</div>