<tr id="<%= dom_id key_biz_metric %>">
  <td>
    <%= key_biz_metric.name %>
  </td>
  <td>
    <%= key_biz_metric.metric_type %>
  </td>
  <td>
    <%= key_biz_metric.value %>
  </td>
  <td>
    <%= l key_biz_metric.run_date %>
  </td>
  <td>
    <%= link_to  t_common(:show), key_biz_metric , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
