<%show_fund_name ||= false%>
<tr id="<%= dom_id aggregate_portfolio_investment %>">
  <td>
    <%= aggregate_portfolio_investment.commitment_type %>
  </td>
  <%if show_fund_name%>
  <td>
    <%= link_to aggregate_portfolio_investment.fund.name, aggregate_portfolio_investment.fund %>
  </td>
  <%end%>
  <td>
    <%= link_to aggregate_portfolio_investment.portfolio_company.investor_name, aggregate_portfolio_investment.portfolio_company %>
  </td>
  <td>
    <%= link_to aggregate_portfolio_investment.investment_instrument %>
  </td>
  <td>
    <%= aggregate_portfolio_investment.quantity %>
  </td>
  <td>
    <%= money_to_currency aggregate_portfolio_investment.fmv, params %>
  </td>
  <td>
    <%= money_to_currency aggregate_portfolio_investment.cost_of_sold, params %>
  </td>
  <td>
    <%= money_to_currency aggregate_portfolio_investment.avg_cost, params %>
  </td>
  <td>
    <%= link_to "Show", aggregate_portfolio_investment , {class: "btn btn-outline-primary"}%>
    <%= link_to "Add Valuation", new_valuation_path("valuation[owner_id]": aggregate_portfolio_investment.portfolio_company_id, "valuation[owner_type]": "Investor", "valuation[investment_instrument_id]": aggregate_portfolio_investment.investment_instrument_id), {class: "btn btn-outline-success"}%>
  </td>
</tr>
