<div class="api_details associated_entity" data-controller="tabs tabdetails">

  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#portfolio-investments-tab"
          data-action="click->tabdetails#loadData">Investments</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#cashflows-tab"
          data-action="click->tabdetails#loadData">Income</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>

    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#widgets-tab">Widgets</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#track-records-tab">Track Record</a>

  </nav>

  <div class="tab-content">
    <div id="portfolio-investments-tab" class="tab-pane fade in show active">
      <div id="portfolio_investments_div" class="associated_entity">
        <%= turbo_frame_tag "portfolio_investments_frame", target: "_top", src: portfolio_investments_path(aggregate_portfolio_investment_id: @aggregate_portfolio_investment.id, fund_id: @aggregate_portfolio_investment.fund_id) do %>
          <span>Loading...</span>
        <% end %>
      </div>
    </div>
    <div id="cashflows-tab" class="tab-pane fade in">
      <div id="cashflows" class="associated_entity">
        <%= render "/portfolio_cashflows/index", portfolio_cashflows: @aggregate_portfolio_investment.portfolio_cashflows.includes(:fund), aggregate_portfolio_investment: @aggregate_portfolio_investment %>
      </div>
    </div>

    <div id="docs-tab" class="tab-pane fade in">
      <div id="docs" class="associated_entity">

        <%= link_to folder_documents_path(entity_id: @aggregate_portfolio_investment.entity_id,
                                        folder_id: @aggregate_portfolio_investment.document_folder.id),
                                        class: "load_data_link",
                                        data: { turbo_frame: 'documents_tree_frame' } do %>
            <span>Loading...</span>
        <% end %>

        <%= turbo_frame_tag "documents_tree_frame", target: "_top" do %>
        <% end %>

      </div>
    </div>


    <div id="widgets-tab" class="tab-pane fade">
      <div id="widgets" class="associated_entity">
        <%= render "/ci_widgets/index", ci_widgets: aggregate_portfolio_investment.ci_widgets, owner: aggregate_portfolio_investment %>
      </div>
    </div>

    <div id="track-records-tab" class="tab-pane fade">
      <div id="track_records" class="associated_entity">
        <%= render "/ci_track_records/index", ci_track_records: aggregate_portfolio_investment.ci_track_records, owner: aggregate_portfolio_investment %>
      </div>
    </div>
  </div>

</div>
