<%
  show_fund_name ||= false
  fund = params[:fund_id].present? ? Fund.find(params[:fund_id]) : nil
%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Aggregate Portfolio Investments</h1>

  <span>
    <% if fund && policy(fund).update? %>
      <%= link_to "New Investment",
          new_portfolio_investment_path("portfolio_investment[entity_id]": current_user.entity_id,
          "portfolio_investment[fund_id]": params[:fund_id]),
          {class: "btn btn-outline-primary"} if params[:fund_id].present?  %>

      <%= link_to "Scenarios", portfolio_scenarios_path(fund_id: params[:fund_id]), { class: "btn btn-outline-success"} if params[:fund_id].present? %>




        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle upload_download_btn" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Upload / Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


              <%= link_to "Download Investments", aggregate_portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true), { class: "dropdown-item"}  %>

              <%#= link_to "Individual Investments", portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true), { class: "dropdown-item"}  %>

              <div class="dropdown-divider"></div>

              <%= link_to "Upload",
                  new_import_upload_path("import_upload[owner_id]": params[:fund_id],
                  "import_upload[owner_type]": "Fund",
                  "import_upload[import_type]": "PortfolioInvestment",
                  "sample_upload": "PORTFOLIO_SAMPLE"),
                  { class: "dropdown-item"}   %>

            </div>
          </div>
        </div>
    <% end %>
  </span>

</div>

<%= render "aggregate_portfolio_investments/stats",  aggregate_portfolio_investments:, fund: %>

<%
    import_upload_id ||= params[:import_upload_id]
    lazy_load_data ||= false
    data_source ||= aggregate_portfolio_investments_path( params: params.to_unsafe_h,
                          import_upload_id:, format: :json, all: true)
    col_params = {no_fund: true}
    column_names, field_list = get_columns(AggregatePortfolioInvestment, params: col_params)
  %>

  <div class="table-responsive" data-controller="aggregate-portfolio-investments"
   data-aggregate-portfolio-investments-lazy-load-data-value=<%= lazy_load_data %>
   data-aggregate-portfolio-investments-table-name-value="#aggregate_portfolio_investments"
   data-aggregate-portfolio-investments-field-list-value=<%=field_list%>>

    <% if lazy_load_data %>
        <a class="load_data_link" data-action="click->aggregate-portfolio-investments#loadData"><span>Load Data</span></a>
    <% end %>

    <%= render CustomTable.new(data_source:, id: "aggregate_portfolio_investments", column_names:)%>
  </div>

  <div class="associated_entity">
    <%= render "aggregate_portfolio_investments/index_charts" %>
  </div>
