<%
  show_fund_name ||= false
  fund = params[:fund_id].present? ? Fund.find(params[:fund_id]) : nil
%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Aggregate Portfolio Investments</h1>

  <span>
    <% if fund && policy(fund).update? %>
      <%= link_to "New Investment",
          new_portfolio_investment_path("portfolio_investment[entity_id]": current_user.entity_id,
          "portfolio_investment[fund_id]": params[:fund_id]),
          {class: "btn btn-outline-primary"} if params[:fund_id].present?  %>

      <%= link_to "Scenarios", portfolio_scenarios_path(fund_id: params[:fund_id]), { class: "btn btn-outline-success"} if params[:fund_id].present? %>

        


        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Upload / Download
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


              <%= link_to "Aggregate Investments", aggregate_portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true), { class: "dropdown-item"}  %>

              <%= link_to "Individual Investments", portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true), { class: "dropdown-item"}  %>

              <div class="dropdown-divider"></div>
              
              <%= link_to "Upload",
                  new_import_upload_path("import_upload[owner_id]": params[:fund_id],
                  "import_upload[owner_type]": "Fund",
                  "import_upload[import_type]": "PortfolioInvestment",
                  "sample_upload": "PORTFOLIO_SAMPLE"),
                  { class: "dropdown-item"}   %>

            </div>
          </div>
        </div>
    <% end %>
  </span>

</div>

<%= render "aggregate_portfolio_investments/stats",  aggregate_portfolio_investments:, fund: %>

<div class="table-responsive" data-controller="datatable">
  <table id="aggregate_portfolio_investments" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          For
        </th>
        <%if show_fund_name%>
        <th>
          Fund
        </th>
        <%end%>
        <th>
          Portfolio Company
        </th>
        <th>
          Instrument
        </th>
        <th>
          Bought Amount
        </th>
        <th>
          Sold Amount
        </th>
        <th>
          Current Quantity
        </th>
        <th>
          Fmv
        </th>
        <th>
          Avg Cost / Share
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% aggregate_portfolio_investments.each do |aggregate_portfolio_investment| %>
        <%= render aggregate_portfolio_investment, show_fund_name: show_fund_name %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="associated_entity">
  <%= render "aggregate_portfolio_investments/index_charts" %>
</div>
