<%
  show_fund_name ||= false
  fund = params[:fund_id].present? ? Fund.find(params[:fund_id]) : nil
%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Aggregate Portfolio Investments</h1>

  <div class="d-flex flex-wrap align-items-center gap-2">

    <% if fund && policy(fund).update? %>

      <%= link_to new_portfolio_investment_path(
                    "portfolio_investment[entity_id]": current_user.entity_id,
                    "portfolio_investment[fund_id]": fund.id),
                  class: "btn btn-outline-primary d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-plus me-2"></i> New Investment
      <% end %>

      <%= link_to portfolio_scenarios_path(fund_id: fund.id),
                  class: "btn btn-outline-success d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-sort-ascending-2 me-2"></i> Scenarios
      <% end %>

      <%= link_to stock_conversions_path(fund_id: fund.id),
                  class: "btn btn-outline-success d-inline-flex align-items-center",
                  data: { turbo: false } do %>
        <i class="ti ti-transform me-2"></i> Conversions
      <% end %>

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle d-inline-flex align-items-center upload_download_btn" type="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti ti-upload me-2"></i> <%= t_common(:upload) %> / Download
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <%= link_to aggregate_portfolio_investments_path(fund_id: fund.id, format: "xlsx", all: true),
                        class: "dropdown-item d-flex align-items-center",
                        data: { turbo: false } do %>
              <i class="ti ti-download me-2"></i> <%= t_common(:export_all) %> Investments
            <% end %>

            <span>  
              <button class="dropdown-item" data-controller="export-xl"
                data-action="click->export-xl#export"
                data-tableid="aggregate_portfolio_investments"
                data-filename="AggregatePortfolioInvestments">
                <i class="ti ti-table-export me-2"></i> <%= t_common(:export_visible) %>
              </button>
            </span>

            <!--
            Future addition if needed:
            <%= link_to portfolio_investments_path(fund_id: params[:fund_id], format: "xlsx", all: true),
                        class: "dropdown-item d-flex align-items-center",
                        data: { turbo: false } do %>
              <i class="ti ti-download me-2"></i> Individual Investments
            <% end %>
            -->

            <%= link_to portfolio_investments_report_all_investors_path(fund_id: fund.id),
                        class: "dropdown-item d-flex align-items-center",
                        data: { turbo: false } do %>
              <i class="ti ti-report me-2"></i> Portfolio Investment Report
            <% end %>

            <div class="dropdown-divider"></div>

            <%= link_to new_import_upload_path(
                          "import_upload[owner_id]": fund.id,
                          "import_upload[owner_type]": "Fund",
                          "import_upload[import_type]": "PortfolioInvestment",
                          "sample_upload": "PORTFOLIO_SAMPLE"),
                        class: "dropdown-item d-flex align-items-center",
                        data: { turbo: false } do %>
              <i class="ti ti-upload me-2"></i> <%= t_common(:upload) %>
            <% end %>

          </div>
        </div>
      </div>

      <% if current_user.entity.enable_snapshots %>
        <%= link_to aggregate_portfolio_investments_path(
                      fund_id: fund.id, snapshot: true, filter: true, time_series: true),
                    class: "btn btn-outline-primary d-inline-flex align-items-center",
                    data: { turbo: false } do %>
          <i class="ti ti-chart-line me-2"></i> Time Series
        <% end %>
      <% end %>

    <% end %>

  </div>


</div>

<%= render "aggregate_portfolio_investments/stats",  aggregate_portfolio_investments:, fund: fund unless params[:grid_only].present? %>



<!-- Table Header with our without fund -->
<% 
  api_turbo_frame = "aggregate_portfolio_investments_frame"

  default_columns_map = if params[:fund_id].present?
    AggregatePortfolioInvestment::STANDARD_COLUMNS
  else
    if params.include? "investor_id"
      AggregatePortfolioInvestment::INVESTOR_TAB_STANDARD_COLUMNS
    else
      AggregatePortfolioInvestment::STANDARD_COLUMNS_WITH_FUND
    end
  end
%>

  <%=render SearchComponent.new(data_source: aggregate_portfolio_investments_path(params: params.to_unsafe_h), turbo_frame: api_turbo_frame) %>
  
  <%= render RansackTable.new(AggregatePortfolioInvestment, q: @q, default_columns_map:, current_user: current_user, records: aggregate_portfolio_investments, report_id: params["report_id"], turbo_frame: api_turbo_frame, referrer: request.referrer) %>


<div class="associated_entity">
  <%= render "aggregate_portfolio_investments/index_charts" unless params[:grid_only].present? %>
</div>
