

<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Aggregate Investment: <%= aggregate_portfolio_investment.portfolio_company_name %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">
    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= aggregate_portfolio_investment.entity.name %>
        </td>
      </tr>
      <tr>
        <td>
          Fund
        </td>
        <td>
          <%= link_to aggregate_portfolio_investment.fund %>
        </td>
      </tr>
      <tr>
        <td>
          Portfolio Company
        </td>
        <td>
          <%= link_to aggregate_portfolio_investment.portfolio_company %>
        </td>
      </tr>

      <tr>
        <td>
          Instrument
        </td>
        <td>
          <%= link_to aggregate_portfolio_investment.investment_instrument %>
        </td>
      </tr>

      <tr>
        <td>
          Investment Domicile
        </td>
        <td>
          <%= aggregate_portfolio_investment.investment_domicile %>
        </td>
      </tr>

      
      <tr>
        <td>
          Current Quantity
        </td>
        <td>
          <%= aggregate_portfolio_investment.quantity %>
        </td>
      </tr>

      <tr>
        <td>
          Avg Cost Per Share
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.avg_cost, params %>
        </td>
      </tr>


      <tr>
        <td>
          Bought Quantity
        </td>
        <td>
          <%= aggregate_portfolio_investment.bought_quantity %>
        </td>
      </tr>

      <tr>
        <td>
          Bought Amount
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.bought_amount, params %>
        </td>
      </tr>


      <tr>
        <td>
          Transfer Quantity
        </td>
        <td>
          <%=  aggregate_portfolio_investment.transfer_quantity %>
        </td>
      </tr>

      <tr>
        <td>
          Transfer Amount
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.transfer_amount %>
        </td>
      </tr>

      <tr>
        <td>
          Sold Quantity
        </td>
        <td>
          <%= aggregate_portfolio_investment.sold_quantity %>
        </td>
      </tr>

      <tr>
        <td>
          Sold Amount
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.sold_amount, params %>
        </td>
      </tr>


      <tr>
        <td>
          Cost Of Sold (FIFO)
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.cost_of_sold, params %>
        </td>
      </tr>

      <tr>
        <td>
          FMV
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.fmv, params %>
        </td>
      </tr>

      <tr>
        <td>
          Realized Gain
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.gain, params %>
        </td>
      </tr>

      <tr>
        <td>
          Unrealized Gain
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.unrealized_gain, params %>
        </td>
      </tr>

      <tr>
        <td>
          Cost of Remaining
        </td>
        <td>
          <%= money_to_currency aggregate_portfolio_investment.cost_of_remaining, params %>
        </td>
      </tr>

      <tr>
        <td>
          Show Portfolio
        </td>
        <td>
          <% if aggregate_portfolio_investment.show_portfolio %>
            <span class="badge bg-success" type="button">
              Yes
            </span>
          <% else %>
            <span class="badge bg-warning" type="button">
                No
            </span>
          <% end %>
        </td>
      </tr>

      <%= display_custom_fields(aggregate_portfolio_investment) %>

    </table>
  </div>
</div>

<% unless aggregate_portfolio_investment.snapshot %>

<div class="associated_entity">
  <%= link_to "Preview", aggregate_portfolio_investment_path(aggregate_portfolio_investment, preview: 'true'), {class: "btn btn-outline-info"} %>
  <%= button_to "Delete", aggregate_portfolio_investment, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, msg: "Delete all buy and sell transactions associated with this aggregate portfolio entry?"} if policy(aggregate_portfolio_investment).destroy? %>

  <%= link_to "Add Valuation", new_valuation_path("valuation[owner_id]": aggregate_portfolio_investment.portfolio_company_id, "valuation[owner_type]": "Investor",  "valuation[investment_instrument_id]": aggregate_portfolio_investment.investment_instrument_id), {class: "btn btn-outline-success"}%>
  <%
    toggle_show_portfolio_text = "Show Portfolio"
    show_portfolio_value = true
    if aggregate_portfolio_investment.show_portfolio
      toggle_show_portfolio_text = "Hide Portfolio"
      show_portfolio_value = false
    end
  %>

  <%= button_to "#{toggle_show_portfolio_text}",
            toggle_show_portfolio_aggregate_portfolio_investment_path(aggregate_portfolio_investment, format: :html),
            method: :patch,
            class: "btn btn-outline-info" %>
</div>

<%= render "/aggregate_portfolio_investments/details", aggregate_portfolio_investment: aggregate_portfolio_investment %>

<%= render "/aggregate_portfolio_investments/charts", aggregate_portfolio_investment: aggregate_portfolio_investment %>

<% end %>
