<table class="table table-bordered dataTable action_table hover">
  <thead>
    <tr>
      <th>Investment</th>
      <th>Fund</th>
      <% dates = @time_series.values.flat_map { |data| data[:dates].keys }.uniq.sort %>
      <% dates.each do |date| %>
        <th colspan="<%= @fields.size %>"><%= l(date) %></th>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <% dates.each do |_date| %>
        <% @fields.each do |field| %>
          <th><%= field.capitalize %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @time_series.each do |api_id, values| %>
      
      <% api = values[:api] %>
      <% date_hash = values[:dates] %>
      
      <tr>
        <td><%= link_to api.to_s, aggregate_portfolio_investment_path(api.orignal_id) %></td>
        <td><%= link_to api.fund %></td>
        <% dates.each do |date| %>
          <% @fields.each do |field| %>
            <td>
              <%= date_hash.dig(date, field).presence || "-" %>
            </td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
  </tbody>

</table>
