<tr id="<%= dom_id capital_distribution %>">
  <td>
    <%= link_to capital_distribution.title, capital_distribution %>
  </td>
  <td>
    <%= l capital_distribution.distribution_date if capital_distribution.distribution_date %>
  </td>
  <td>
    <%= money_to_currency capital_distribution.gross_amount, params %>
  </td>
  <td>
    <%= display_boolean capital_distribution.approved %>
  </td>
  <td>
    <%= link_to  t_common(:show) , capital_distribution_path(capital_distribution) , {class: "btn btn-outline-primary ti ti-eye" }%>
    <%= link_to  t_common(:edit) , edit_capital_distribution_path(capital_distribution) , {class: "btn btn-outline-success ti ti-edit" } if policy(capital_distribution).update? %>
  </td>
</tr>