<tr id="<%= dom_id capital_distribution %>">
  <td>
    <%= capital_distribution.commitment_type %>
  </td>
  <td>
    <%= link_to capital_distribution.title, capital_distribution %>
  </td>
  <td>
    <%= money_to_currency capital_distribution.gross_amount, params %>
  </td>
  <td>
    <%= money_to_currency capital_distribution.reinvestment, params %>
  </td>
  <td>
    <%= l capital_distribution.distribution_date if capital_distribution.distribution_date %>
  </td>
  <td>
    <%= money_to_currency capital_distribution.distribution_amount, params %>
  </td>
  <td>
    <%= display_boolean capital_distribution.approved %>
  </td>
  <td>
    <%= link_to "Show" , capital_distribution_path(capital_distribution) , {class: "btn btn-outline-primary" }%>
    <%= link_to "Edit" , edit_capital_distribution_path(capital_distribution) , {class: "btn btn-outline-success" } if policy(capital_distribution).update? %>
  </td>
</tr>