<%= form_with(model: capital_distribution, validate: true) do |form| %>
  <% if capital_distribution.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(capital_distribution.errors.count, "error") %> prohibited this capital_distribution from being saved:</h2>

      <ul>
        <% capital_distribution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="currencyformat">
    <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :form_type_id, class: "form-control", hidden: true  %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"  %>
    </div>
      
    <div class="form-group">
      <%= form.label :gross_amount %> <span class="formatted_currency"></span>
      <%= form.number_field :gross_amount, class: "form-control", data: {action: "input->currencyformat#format"}   %>
    </div>

    <div class="form-group">
      <%= form.label :reinvestment %> <span class="formatted_currency"></span>
      <%= form.number_field :reinvestment, class: "form-control", data: {action: "input->currencyformat#format"}   %>
    </div>

    <div class="form-group">
      <%= form.label :distribution_date %>
      <%= form.date_field :distribution_date, class: "form-control"  %>
    </div>

    <% if capital_distribution.fund.unit_types.present? %>
    <div data-controller="call-copy">
      <% capital_distribution.fund.unit_types.split(",").each_with_index do |unit_type, index| %>
        <div class="form-group">
          <% unit_type = unit_type.strip %>
          <%= form.label :unit_type, "#{unit_type} Unit Price" %>
          <%= form.number_field :unit_type, step: :any, class: "form-control price", 
              name: "capital_distribution[unit_prices][#{unit_type}]", value: capital_distribution.unit_prices[unit_type] %>

          <% if index == 0 %>
            <div class="form-group col-md-3">
              <small><a href="#" data-action="click->call-copy#copy_all" class="small_text">Copy To All</a></small>
            </div>
          <% end %>
        </div>  
      <% end %>  
    </div>
    <% end %>

    <div class="form-group">
      <%= form.label :completed %>
      <%= form.check_box :completed, class: "form-control form-checkbox"  %>
    </div>

    <div class="form-group">
      <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
    </div>
  </div>
<% end %>
