
  <%= render FormCard.new(title: "Distribution : #{capital_distribution.fund&.name}") do %>

    <%= form_with(model: capital_distribution, validate: true) do |form| %>
      <% if capital_distribution.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(capital_distribution.errors.count, "error") %> prohibited this capital_distribution from being saved:</h2>

          <ul>
            <% capital_distribution.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div data-controller="currencyformat">
        <%= form.text_field :fund_id, class: "form-control", hidden: true  %>
        <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
        <%= form.text_field :form_type_id, class: "form-control", hidden: true  %>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control"  %>
        </div>

        <div class="form-group" data-controller="hide-co-invest">
          <%= form.label :commitment_type %>
          <%= form.select :commitment_type, CapitalCommitment::COMMITMENT_TYPES, {}, class: 'form-control commitment_type', data: {action: "change->hide-co-invest#onChange"} %>
        </div>

        <div class="form-group co-invest">
          <%= form.label :folio_id %>
          <%= form.select :capital_commitment_id, capital_distribution.fund.capital_commitments.map{|cc| ["#{cc.investor_name}: #{cc.folio_id}", cc.id] }, {include_blank: true}, class: 'form-control' %>
          <small class="text-muted">Select the Folio for the CoInvestment</small>
        </div>

        <div class="form-group pool" data-controller="capital-distribution">
          <%= form.label :distribution_on %>
          <%= form.select :distribution_on, CapitalDistribution.distribution_ons.keys, {}, { class: "form-control", data: { action: "change->capital-distribution#distribution_on_changed" } } %>
          <small class="text-muted">Select the Folio for the CoInvestment</small>
        </div>
          
        <div class="form-group" id="capital_distributions_gross_amount">
          <%= form.label :gross_amount %> <span class="formatted_currency"></span>
          <%= form.number_field :gross_amount, class: "form-control", data: {action: "input->currencyformat#format"}   %>
        </div>

        <div class="form-group" id="capital_distributions_cost_of_investment">
          <%= form.label :cost_of_investment, "Face Value For Redemption" %> <span class="formatted_currency"></span>
          <%= form.number_field :cost_of_investment, class: "form-control", data: {action: "input->currencyformat#format"}   %>

          <small class="small_text">
            Units are redeemed based on the cost of investments above and unit price specified below
          </small>
        </div>

        <div class="form-group" id="capital_distributions_reinvestment">
          <%= form.label :reinvestment %> <span class="formatted_currency"></span>
          <%= form.number_field :reinvestment, class: "form-control", data: {action: "input->currencyformat#format"}   %>
        </div>

        <div class="form-group">
          <%= form.label :distribution_date %>
          <%= form.date_field :distribution_date, class: "form-control"  %>
        </div>

        <% if capital_distribution.fund.unit_types.present? %>
        <div data-controller="call-copy">
          <% capital_distribution.fund.unit_types.split(",").each_with_index do |unit_type, index| %>
            <div class="form-group">
              <% unit_type = unit_type.strip %>
              <%= form.label :unit_type, "#{unit_type} Unit Price" %>
              <%= form.number_field :unit_type, step: :any, class: "form-control price", 
                  name: "capital_distribution[unit_prices][#{unit_type}]", value: capital_distribution.unit_prices[unit_type] %>

              <% if index == 0 %>
                <div class="form-group col-md-4">
                  <small><a href="#" data-action="click->call-copy#copy_all" class="small_text">Copy To All</a></small>
                </div>
              <% end %>
            </div>  
          <% end %>  
        </div>
        <% end %>

        <div class="form-group">
          <%= form.label :completed %>
          <%= form.check_box :completed, class: "form-check-input"  %>
        </div>

        <div class="form-group">
          <%= form.label :notes %>
          <%= form.rich_text_area :notes, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= link_to_add_association 'Add Distribution Fee', form, :distribution_fees, class: "btn btn-outline-success" %>

          <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
        </div>
      </div>
    <% end %>

<% end %>
