<%= render "/capital_distributions/stats", capital_distribution: @capital_distribution %>
<%= render ToggleCard.new(title: "Distribution: #{@capital_distribution.title}", css_class: "show_cd", state: "closed") do %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>Title</td>
      <td><%= @capital_distribution.title %></td>
    </tr>

    <tr>
      <td>Distribution On</td>
      <td><%= @capital_distribution.distribution_on %></td>
    </tr>

    <tr>
      <td>Generate Payments</td>
      <td><%= display_boolean @capital_distribution.generate_payments %></td>
    </tr>

    <tr>
      <td>Completed</td>
      <td><%= display_boolean @capital_distribution.completed %></td>
    </tr>

    <tr>
      <td>Send Notification On Complete</td>
      <td><%= display_boolean @capital_distribution.send_notification_on_complete %></td>
    </tr>

    <tr>
      <td>Fund</td>
      <td>
        <%= link_to @capital_distribution.fund.name, fund_path(@capital_distribution.fund, tab: "capital-distributions-tab") %>
      </td>
    </tr>

    <tr>
      <td>Entity</td>
      <td><%= @capital_distribution.entity.name %></td>
    </tr>

    <tr>
      <td>Gross Distribution</td>
      <td><%= money_to_currency @capital_distribution.gross_amount, params %></td>
    </tr>

    <tr>
      <td>Net Distribution</td>
      <td><%= money_to_currency @capital_distribution.distribution_amount, params %></td>
    </tr>

    <tr>
      <td>Face Value For Redemption</td>
      <td><%= money_to_currency @capital_distribution.cost_of_investment, params %></td>
    </tr>
    
    <tr>
      <td>Income</td>
      <td><%= money_to_currency @capital_distribution.income, params %></td>
    </tr>

    
    <% if @capital_distribution.distribution_fees.order(fee_type: :asc).present? %>
      <tr class="d-none d-sm-table-row">
        <td>Account Entries</td>
        <td>
          <table class="table table-bordered dataTable">
            <tr>
              <td>Name</td>
              <td>From</td>
              <td>To</td>
              <td>Type</td>
              <td>Notes</td>
            </tr>
            <% @capital_distribution.distribution_fees.each do |distribution_fee| %>
              <tr>
                <td><%= distribution_fee.name %></td>
                <td><%= l distribution_fee.start_date %></td>
                <td><%= l distribution_fee.end_date %></td>
                <td><%= distribution_fee.fee_type %></td>
                <td><%= distribution_fee.notes %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>

    

    <tr>
      <td>Reinvestment</td>
      <td>
        <%= money_to_currency @capital_distribution.reinvestment, params %><br>
        <%= link_to "Create Account Entry",
            new_account_entry_path("account_entry[entity_id]": @capital_distribution.entity_id,
            "account_entry[fund_id]": @capital_distribution.fund_id,
            "account_entry[name]": "Reinvestment",
            "account_entry[reporting_date]": @capital_distribution.distribution_date,
            "account_entry[notes]": "Reinvestment from '#{@capital_distribution.title}' on #{@capital_distribution.distribution_date}",
            "account_entry[amount]": @capital_distribution.reinvestment,
            "account_entry[entry_type]": "Reinvestment") %>
      </td>
    </tr>    

    <tr>
      <td>Distribution Date</td>
      <td><%= l @capital_distribution.distribution_date if @capital_distribution.distribution_date %></td>
    </tr>

    <% if @capital_distribution.fund.unit_types.present? %>
      <% @capital_distribution.unit_prices.each do |unit_type, price| %>
        <tr>
          <td><%= unit_type %></td>
          <td>Price: <%= price %></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td>Approved</td>
      <td><%= display_boolean @capital_distribution.approved %></td>
    </tr>

    <tr>
      <td>Payments Distributed</td>
      <td><%= money_to_currency @capital_distribution.distribution_amount, params %></td>
    </tr>

    <tr>
      <td>Notes</td>
      <td><%= @capital_distribution.notes&.html_safe %></td>
    </tr>

  </table>

<% end %>

<div>
  <% if policy(@capital_distribution).update? %>
    <%= link_to edit_capital_distribution_path(@capital_distribution), class: "btn btn-outline-primary" do %>
      <i class="ti ti-edit me-2"></i> <%= t_common(:edit) %>
    <% end %>

    <%= button_to @capital_distribution, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton",
        data: { action: "click->confirm#popup", turbo: false } do %>
      <i class="ti ti-trash me-2"></i> <%= t_common(:delete) %>
    <% end %>
  <% end %>

  <% if policy(@capital_distribution).approve? %>
    <%= button_to approve_capital_distribution_path(@capital_distribution), method: :post, class: "btn btn-outline-success", form_class: "deleteButton",
        data: { action: "click->confirm#popup", turbo: false,
                msg: "This will mark the distribution as approved. The notification will be triggered only when the payments are 'Mark Payments Completed'.",
                method: :post } do %>
      <i class="ti ti-check me-2"></i>Approve
    <% end %>
  <% end %>

  <% if policy(@capital_distribution).mark_payments_completed? %>
    <%= button_to payments_completed_capital_distribution_path(@capital_distribution),
          method: :patch, class: "btn btn-outline-success", form_class: "deleteButton",
          data: { action: "click->confirm#popup", turbo: false,
                  msg: "This will mark all payments in this distribution as completed and trigger a notification to the investors with approved users.",
                  method: :patch } do %>
      <i class="ti ti-check me-2"></i>Mark Payments Completed
    <% end %>
  <% end %>

  <% if policy(@capital_distribution).redeem_units? %>
    <%= button_to redeem_units_capital_distribution_path(@capital_distribution),
          method: :patch, class: "btn btn-outline-success", form_class: "deleteButton",
          data: { action: "click->confirm#popup", turbo: false,
                  msg: "This will compute the units to be redeemed against each commitment in this fund.",
                  method: :patch } do %>
      <i class="ti ti-arrow-back-up me-2"></i>Redeem Units
    <% end %>
  <% end %>
</div>


<input id="click_tab" value="payments-tab" hidden="hidden"/>
<%= render "/capital_distributions/details", capital_distribution: @capital_distribution %>
