<%= render FormCard.new(title: "Portfolio Investment : #{portfolio_investment.portfolio_company.presence || 'New'}") do %>

  <%= form_with(model: portfolio_investment, validate: true) do |form| %>
    <% if portfolio_investment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(portfolio_investment.errors.count, "error") %> prohibited this portfolio_investment from being saved:</h2>

        <ul>
          <% portfolio_investment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.text_field :entity_id, class: "form-control", hidden: true %>
      <%= form.text_field :fund_id, class: "form-control", hidden: true  %>

    <% if portfolio_investment.new_record? %>
    <div data-controller="select">

      <div class="form-group">
        <%= form.label :portfolio_company_id, "Portfolio Company" %>
        <%= form.select :portfolio_company_id, 
            portfolio_investment.entity.investors.portfolio_companies.order(investor_name: :asc).map{|i| [i.investor_name, i.id]}, {include_blank: true}, 
            class: "form-control", "data-action": "change->select#change", "data-target": "instrument_form_group", "data-url": "#{investment_instruments_path(fund_id: portfolio_investment.fund_id)}", "data-param": "portfolio_company_id" %>

        <small class="text-muted">
          Create <%= link_to "New Portfolio Company",
            new_investor_path("investor[entity_id]": portfolio_investment.entity_id, "investor[category]": "Portfolio Company", "back_to": new_portfolio_investment_path("portfolio_investment[fund_id]": portfolio_investment.fund_id, "portfolio_investment[entity_id]": portfolio_investment.entity_id)) %>
        </small>

      </div>

      <% investment_instruments = portfolio_investment.portfolio_company ?  portfolio_investment.portfolio_company.investment_instruments : [] %>
      <div class="form-group" id="instrument_form_group">
        <%= form.label :investment_instrument_id, "Instrument" %>
        <%= form.select :investment_instrument_id, investment_instruments.map{|i| [i.name, i.id]}, {}, class: "form-control", "data-action": "change->select#change", "data-target": "base_amount_help_text", "data-url": "#{base_amount_form_portfolio_investments_path(params: params.to_unsafe_h)}", "data-param": "investment_instrument_id" %>

        <small class="text-muted">
          Create <%= link_to "New Instrument",
            new_investment_instrument_path("investment_instrument[portfolio_company_id]": "X",
                "back_to": new_portfolio_investment_path("portfolio_investment[fund_id]": portfolio_investment.fund_id, "portfolio_investment[entity_id]": portfolio_investment.entity_id)) %>
        </small>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :investment_date %>
      <%= form.date_field :investment_date, class: "form-control"  %>
    </div>

    <div class="form-group" data-controller="currencyformat">
      <%= form.label :ex_expenses_base_amount, "Amount" %> <span class="formatted_currency"></span>
      <%= form.number_field :ex_expenses_base_amount, class: "form-control", step: :any,
          data: {action: "input->currencyformat#format"} %>
      <div id="base_amount_help_text"><small class="text-muted">Enter amount without expenses</small></div>
    </div>

    <div class="form-group">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "form-control", step: :any  %>
      <small class="text-muted">A negative quantity indicates a sell transaction.</small>
    </div>

    <% end %>
    
    <%= custom_form_fields(portfolio_investment, form) %>

    <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>