<%
  aggregate_portfolio_investment ||= nil
  if params[:aggregate_portfolio_investment_id].present?
    aggregate_portfolio_investment ||= AggregatePortfolioInvestment.find_by(id: params[:aggregate_portfolio_investment_id])
  end
  fund_id ||= params[:fund_id].presence || aggregate_portfolio_investment&.fund_id
  fund ||= Fund.find_by(id: fund_id) if fund_id.present?
  import_upload_id ||= nil
%>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= params[:title] || "Portfolio Investments" %></h1>

  <span>
    <% if (fund && policy(fund).update?) %>

      <%= link_to "New Portfolio Investment",
          new_portfolio_investment_path("portfolio_investment[entity_id]": current_user.entity_id,
          "portfolio_investment[fund_id]": fund_id,
          "portfolio_investment[aggregate_portfolio_investment_id]": aggregate_portfolio_investment&.id,
          "portfolio_investment[investment_instrument_id]": aggregate_portfolio_investment&.investment_instrument_id,
          "portfolio_investment[portfolio_company_id]": aggregate_portfolio_investment&.portfolio_company_id),
          {class: "btn btn-outline-primary"} %>
  
      <%= link_to "Upload",
          new_import_upload_path("import_upload[owner_id]": fund_id,
          "import_upload[owner_type]": "Fund",
          "import_upload[import_type]": "PortfolioInvestment",
          "sample_upload": "PORTFOLIO_SAMPLE"),
          { class: "btn btn-outline-primary"}   %>


      <%= link_to "Download", portfolio_investments_path(fund_id: fund_id, aggregate_portfolio_investment_id: aggregate_portfolio_investment&.id, format: "xlsx", all: true),  {class: "btn btn-outline-primary" } %>

    <% else %>
      <% xl_link = "#{request.path}.xlsx?#{request.query_string}" %>
      <%= link_to "Download", xl_link,  {class: "btn btn-outline-success" } %>
    <% end %>

  </span>
</div>

<% if params[:ag].present? %>
  <div class="table-responsive">
    <%
      form_type = @current_user.entity.form_types.includes(:grid_view_preferences).find_by(name: "PortfolioInvestment")
      custom_grid_columns = form_type&.ag_grids_columns.presence || PortfolioInvestment.ag_grids_default_columns
      if params[:show_fund_name].present?
        fund_params = { key: "fund_name", label: "Fund Name", data_type: "String" } 
        # add fund name to the front of the custom grid columns
        custom_grid_columns.unshift(fund_params)
      end
    %>

    <div class="portfolio_investment_ag_grid" data-controller="ag" 
      data-ag-grid-div-name-value="portfolio_investment_ag_grid"
      data-ag-lazy-load-data-value=<%= false %>
      data-custom-columns='<%= custom_grid_columns.to_json %>'
      data-group-by-column='<%= params[:group_by_column] %>'
      data-ag-table-name-value="#portfolio_investments_table" data-ag-custom-fields-value="" >

      <div id="portfolio_investments_table" class="<%= get_ag_theme %>" data-source="<%= portfolio_investments_path(params: params.to_unsafe_h, import_upload_id:, format: :json) %>">
      </div>

      </div>
  </div>

<% else %>

  <% pi_turbo_frame = "portfolio_investments_frame"%>
  <%=render SearchComponent.new(data_source: portfolio_investments_path(params: params.to_unsafe_h, import_upload_id:), turbo_frame: pi_turbo_frame) %>

  <div class="table-responsive">
      <table id="portfolio_investments" class="table table-bordered dataTable action_table hover">
          <% ransack_table_header = RansackTableHeader.new(PortfolioInvestment, q: @q, current_user: current_user, records: portfolio_investments, report_id: params["report_id"], turbo_frame: pi_turbo_frame, referrer: request.referrer, snapshot: params[:snapshot]) %>
          <%= render ransack_table_header %>
        <tbody>
          <% portfolio_investments.each do |portfolio_investment| %>
            <%= render "portfolio_investments/portfolio_investment",  portfolio_investment: portfolio_investment.decorate, columns: ransack_table_header.columns%>
          <% end %>
        </tbody>
      </table>
      <% if portfolio_investments.present? && params[:snapshot].blank? %>
        <%= page_entries_info portfolio_investments, entry_name: 'item' %>
        <%= paginate portfolio_investments, data: { turbo_frame: pi_turbo_frame } %>
      <% end %>
  </div>

<% end %>
