

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Portfolio Investment: <%= @portfolio_investment.portfolio_company_name %></h6>
      <span>
      </span>
  </div>
  <div class="card-body show_details">
    <table class="table table-bordered dataTable">
      <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @portfolio_investment.entity.name %>
        </td>
      </tr>
      <tr>
        <td>
          Fund
        </td>
        <td>
          <%= link_to @portfolio_investment.fund %>
        </td>
      </tr>
      <tr>
        <td>
          Company Name
        </td>
        <td>
          <%= link_to @portfolio_investment.portfolio_company %>
        </td>
      </tr>
      <tr>
        <td>
          Instrument
        </td>
        <td>
          <%= link_to @portfolio_investment.investment_instrument %>
        </td>
      </tr>
      <tr>
        <td>
          Investment Date
        </td>
        <td>
          <%= l @portfolio_investment.investment_date if @portfolio_investment.investment_date %>
        </td>
      </tr>

      <% if @portfolio_investment.conversion_date %>
      <tr>
        <td>
          Conversion Date
        </td>
        <td>
          <%= l @portfolio_investment.conversion_date  %>
        </td>
      </tr>
      <% end %>


      <% if @portfolio_investment.base_amount_cents != @portfolio_investment.amount_cents %>

      <tr>
        <td>
          Instrument Currency
        </td>
        <td>
          <%= @portfolio_investment.investment_instrument.currency.to_s %>
        </td>
      </tr>

      <tr>
        <td>
          Amount in Instrument Currency
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.base_amount, params %>
        </td>
      </tr>

      <% end %>
      <tr>
        <td>
          Amount
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.amount, params %>
        </td>
      </tr>

      <% if @portfolio_investment.amount_cents != @portfolio_investment.ex_expenses_amount_cents %>
      <tr>
        <td>
          Amount (Excluding Expenses)
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.ex_expenses_amount, params %>
        </td>
      </tr>
      <% end %>


      <% if @portfolio_investment.amount_cents != @portfolio_investment.net_amount_cents %>
      <tr>
        <td>
          Net Amount
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.net_amount, params %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          Quantity
        </td>
        <td>
          <%= @portfolio_investment.quantity %>
        </td>
      </tr>

      <% if @portfolio_investment.buy? %>
        <tr>
          <td>
            Sold Quantity
          </td>
          <td>
            <%= @portfolio_investment.sold_quantity %>
          </td>
        </tr>

        <tr>
          <td>
            Transfer Quantity
          </td>
          <td>
            <%= @portfolio_investment.transfer_quantity %>
          </td>
        </tr>
        <tr>
          <td>
            Transfer Amount
          </td>
          <td>
            <%= money_to_currency @portfolio_investment.transfer_amount %>
          </td>
        </tr>
        <tr>
          <td>
            Net Quantity
          </td>
          <td>
            <%= @portfolio_investment.net_quantity %>
          </td>
        </tr>

        <tr>
          <td>
            Cost of Remaining
          </td>
          <td>
            <%= @portfolio_investment.cost_of_remaining %>
          </td>
        </tr>
      <% end %>

      <% if @portfolio_investment.buy? %>
      <tr>
        <td>
          Cost Per Share
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.cost, params %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td>
          FMV
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.fmv, params %>
        </td>
      </tr>

      <% if @portfolio_investment.sell? %>

      <tr>
        <td>
          Sale Price Per Share
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.sale_price_per_share, params %>
        </td>
      </tr>



      <tr>
        <td>
          Cost of Sold
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.cost_of_sold, params %>
        </td>
      </tr>

      <tr>
        <td>
          Cost of Sold Per Share
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.cost_of_sold_per_share, params %>
        </td>
      </tr>


      <tr>
        <td>
          Gain
        </td>
        <td>
          <%= money_to_currency @portfolio_investment.gain, params %>
        </td>
      </tr>
      <% else %>
        <tr>
          <td>
            Unrealized Gain
          </td>
          <td>
            <%= money_to_currency @portfolio_investment.unrealized_gain, params %>
          </td>
        </tr>
      <% end %>


      <tr>
        <td>
          Startup
        </td>
        <td>
          <%= display_boolean @portfolio_investment.startup %>
        </td>
      </tr>


      <tr>
        <td>
          Notes
        </td>
        <td>
          <%= @portfolio_investment.notes %>
        </td>
      </tr>

      <tr>
        <td>
          Proforma
        </td>
        <td>
          <%= display_boolean @portfolio_investment.proforma %>
        </td>
      </tr>

      <% if params[:debug].present? && @portfolio_investment.sell? %>
        <tr>
          <td>
            Cost of Sold
          </td>
          <td>
            <%= money_to_currency @portfolio_investment.cost_of_sold, params %>
          </td>
        </tr>
        <tr>
          <td>
            Gain
          </td>
          <td>
            <%= money_to_currency @portfolio_investment.gain, params %>
          </td>
        </tr>
      <% end %>


      <%= display_custom_fields(@portfolio_investment) if current_user %>

      <% if @portfolio_investment.capital_distribution.present? %>
      <tr>
        <td>
          Linked Capital Distribution
        </td>
        <td>
          <%= link_to @portfolio_investment.capital_distribution %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<!-- Snapshot cannot have details -->
<% unless @portfolio_investment.snapshot %>

<div>

  <% if policy(@portfolio_investment).update? %>
    <%= link_to edit_portfolio_investment_path(@portfolio_investment), class: "btn btn-outline-primary" do %>
      <i class="ti ti-edit"></i> <%= t_common(:edit) %>
    <% end %>

    <% if policy(@portfolio_investment).conversion? %>
      <%= link_to new_stock_conversion_path(
                    "stock_conversion[from_portfolio_investment_id]": @portfolio_investment.id),
                  class: "btn btn-outline-success" do %>
        <i class="ti ti-transfer"></i>Conversion
      <% end %>
    <% end %>
  <% end %>

  <% if policy(@portfolio_investment).destroy? %>
    <%= button_to @portfolio_investment, method: :delete,
                class: "btn btn-outline-danger", form_class: "deleteButton",
                data: { action: "click->confirm#popup", turbo: false } do %>
      <i class="ti ti-trash"></i> <%= t_common(:delete) %>
    <% end %>
  <% end %>

</div>

<%= render "portfolio_investments/details", portfolio_investment: @portfolio_investment %>

<% end %>
