<%= render FormCard.new(title: "Instrument : #{investment_instrument&.portfolio_company&.investor_name.presence || 'New'}") do %>

<%= form_with(model: investment_instrument, validate: true) do |form| %>
  <% if investment_instrument.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(investment_instrument.errors.count, "error") %> prohibited this investment_instrument from being saved:</h2>

      <ul>
        <% investment_instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  <%= form.text_field :portfolio_company_id, class: "form-control", hidden: true  %>
  <%= form.text_field :back_to, class: "form-control", hidden: true, value: request.referer, name: "back_to" %>


  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <% disabled = investment_instrument.id.present? %>
  <div class="form-group">
    <%= form.label :currency %>
    <%= form.select :currency, investment_instrument.entity.currency_list, {}, class: "form-control", disabled:  %>
  </div>

  <div class="form-group">
    <%= form.label :investment_domicile %>
    <%= form.text_field :investment_domicile, class: "form-control"  %>
  </div>

  <%= custom_form_fields(investment_instrument, form) %>

  <div class="form-group">
    <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
  </div>
<% end %>

<% end %>
