<%= turbo_frame_tag "investment_instruments_list", target: "_top" do %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Investment Instruments</h1>
    <span>
      <%= link_to "New Investment Instrument", new_investment_instrument_path("investment_instrument[portfolio_company_id]": params[:portfolio_company_id]), {class: "btn btn-outline-primary"} if params[:portfolio_company_id].present? %>
      <% import_upload_id ||=  nil%>
      <%= link_to "Download", investment_instruments_path(params: params.to_unsafe_h, import_upload_id:, format: :xlsx), {class: "btn btn-outline-success"} %>


      <% owner_id = if params[:portfolio_company_id].present?
                      params[:portfolio_company_id]
                    else
                      current_user.entity_id
                    end
      %>
      <% owner_type = if params[:portfolio_company_id].present?
                      "Investor"
                    else
                      "Entity"
                    end
      %>
      <%= link_to "Upload",
                  new_import_upload_path("import_upload[owner_id]": owner_id,
                      "import_upload[owner_type]": owner_type,
                      "import_upload[import_type]": "InvestmentInstrument",
                      "sample_upload": "INVESTMENT_INSTRUMENT_SAMPLE"),
                      { class: "btn btn-outline-success"}%>
    </span>
  </div>
  <div class="table-responsive" data-controller="datatable">
    <table id="investment_instruments" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <% if params[:portfolio_company_id].blank? %>
            <th>
              Portfolio Company
            </th>
          <% end %>
          <th>
            Name
          </th>
          <th>
            Currency
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% investment_instruments.each do |investment_instrument| %>
          <%= render investment_instrument %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
