<%= turbo_frame_tag "investment_instruments_list", target: "_top" do %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Investment Instruments</h1>
    <span>

      <% entity_id = @portfolio_company ? @portfolio_company.entity_id : current_user.entity_id %>
      <% investment_instrument = InvestmentInstrument.new(portfolio_company_id: params[:portfolio_company_id], entity_id: entity_id) %>

      <% if policy(investment_instrument).new?%>
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle d-inline-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti ti-plus"></i> New
            </button>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <% investment_instrument_form_types = current_user.entity.form_types.where(name: "InvestmentInstrument") %>

              <% if investment_instrument_form_types.count > 1 %>
                <% investment_instrument_form_types.each do |form_type| %>
                  <%= link_to "Investment Instrument (#{form_type.tag.presence || form_type.id})", new_investment_instrument_path(
                                "investment_instrument[portfolio_company_id]": params[:portfolio_company_id],
                                "investment_instrument[entity_id]": entity_id,
                                "investment_instrument[form_type_id]": form_type.id),
                              class: "dropdown-item d-flex align-items-center ti ti-plus" %>
                <% end %>
              <% else %>
              <%# Show button to add new investment instrument for each separate customised form %>
                <%= link_to "Investment Instrument", new_investment_instrument_path(
                              "investment_instrument[portfolio_company_id]": params[:portfolio_company_id],
                              "investment_instrument[entity_id]": entity_id),
                            class: "dropdown-item d-flex align-items-center ti ti-user" %>

              <% end %>

            </div>
          </div>
        </div>
      <% end %>

      <% import_upload_id ||=  nil%>
      <%= link_to "Download", investment_instruments_path(params: params.to_unsafe_h, import_upload_id:, format: :xlsx), {class: "btn btn-outline-success ti ti-download"} %>


      <% owner_id = if params[:portfolio_company_id].present?
                      params[:portfolio_company_id]
                    else
                      current_user.entity_id
                    end
      %>
      <% owner_type = if params[:portfolio_company_id].present?
                      "Investor"
                    else
                      "Entity"
                    end
      %>
      <%= link_to "Upload",
                  new_import_upload_path("import_upload[owner_id]": owner_id,
                      "import_upload[owner_type]": owner_type,
                      "import_upload[import_type]": "InvestmentInstrument",
                      "sample_upload": "INVESTMENT_INSTRUMENT_SAMPLE"),
                      { class: "btn btn-outline-success ti ti-upload"}%>
    </span>
  </div>
  <div class="table-responsive" data-controller="datatable">
    <table id="investment_instruments" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <% if params[:portfolio_company_id].blank? %>
            <th>
              Portfolio Company
            </th>
          <% end %>
          <th>
            Name
          </th>
          <th>
            Currency
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% investment_instruments.each do |investment_instrument| %>
          <%= render investment_instrument %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
