<tr id="<%= dom_id investment_instrument %>">
  <% if params[:portfolio_company_id].blank? %>
    <td>
      <%= link_to investment_instrument.portfolio_company %>
    </td>
  <% end %>
  <td>
    <%= link_to investment_instrument.name, investment_instrument %>
  </td>
  <td>
    <%= investment_instrument.currency %>
  </td>
  <td>
    <%= link_to  t_common(:show), investment_instrument , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
