<% investment_type ||= @investment_type || "portfolio_investment" %>
<%= turbo_stream.update params[:target] do %>
  
      <div class=""><label for="<%= investment_type %>_investment_instrument_id">Instrument</label></div>
      <div class="">
      <select class="form-control" name="<%= investment_type %>[investment_instrument_id]" id="<%= investment_type %>_investment_instrument_id" data-action="change->select#change" data-target="base_amount_help_text" data-url="<%= base_amount_form_portfolio_investments_path(params: params.to_unsafe_h) %>" data-param= "investment_instrument_id" >
        <%= options_for_select [nil] + @investment_instruments.order(name: :asc).map{|i| [i.name, i.id]} %>
      </select>
      
      <small class="text-muted">
        Create <%= link_to "New Instrument",
          new_investment_instrument_path("investment_instrument[portfolio_company_id]": params[:portfolio_company_id]) %>
      </small>
  
<% end %>