<%= render FormCard.new(title: "Investment Instrument : #{@investment_instrument.name}") do %>
<table class="table table-bordered dataTable">
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @investment_instrument.name %>
    </td>
  </tr>

  <tr>
    <td>
      Currency
    </td>
    <td>
      <%= @investment_instrument.currency %>
    </td>
  </tr>

  <tr>
    <td>
      Investment Domicile
    </td>
    <td>
      <%= @investment_instrument.investment_domicile %>
    </td>
  </tr>

  <tr>
    <td>
      Entity
    </td>
    <td>
      <%= @investment_instrument.entity.name %>
    </td>
  </tr>
  <tr>
    <td>
      Portfolio Company
    </td>
    <td>
      <%= link_to @investment_instrument.portfolio_company %>
    </td>
  </tr>

<%= display_custom_fields(@investment_instrument) if current_user %>
</table>

<% end %>

<% if !current_user&.curr_role_investor? %>
  <%# Investor User cannot see regulatory fields%>
  <%= render "form_custom_fields/reporting_fields", object: @investment_instrument %>
<% end %>

<div class="associated_entity">
  <% if policy(@investment_instrument).edit? %>
    <%= link_to  t_common(:edit), edit_investment_instrument_path(@investment_instrument), {class: "btn btn-outline-primary ti ti-edit"} %>
    <%= button_to t_common(:delete), @investment_instrument, method: :delete, class: "btn btn-outline-danger ti ti-trash", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false, msg: "This will permanently delete this item and also all associated portfolio transactions across funds. Proceed?"}  %>
  <% end %>
</div>


<div class="associated_entity">
  <%= render "/portfolio_cashflows/index", portfolio_cashflows: @investment_instrument.portfolio_cashflows %>
</div>

<div class="associated_entity">
  <%= turbo_frame_tag "portfolio_investments_frame", target: "_top", src: portfolio_investments_path(investment_instrument_id: @investment_instrument.id) do %>
    <span>Loading...</span>
  <% end %>
</div>


<div class="associated_entity">
  <%= render "/valuations/index",
             valuations: @investment_instrument.valuations.with_synthetic.order(valuation_date: :desc),
             owner_type: "Investor",
             owner_id: @investment_instrument.portfolio_company_id %>
</div>

