<tr id="<%= dom_id custom_notification %>">
  <td>
    <%= custom_notification.email_method&.humanize %>
  </td>
  <td>
    <%= link_to custom_notification.subject, custom_notification %>
  </td>
  <td>
    <%= custom_notification.whatsapp %>
  </td>
  <td>
    <%= custom_notification.for_type %> 
    <%= link_to custom_notification.owner %>
  </td>
  <td>
    <%= display_boolean custom_notification.enabled %>
  </td>
  <td>
    <%= display_boolean custom_notification.latest %>
  </td>
  <td>
    <%= link_to  t_common(:show), custom_notification , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
