<%= render FormCard.new(title: "Custom Notification : #{custom_notification.owner}") do %>
  
  <%= form_with(model: custom_notification, validate: true) do |form| %>
    <% if custom_notification.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(custom_notification.errors.count, "error") %> prohibited this custom_notification from being saved:</h2>

        <ul>
          <% custom_notification.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_id, class: "form-control", hidden: true  %>
    <%= form.text_field :owner_type, class: "form-control", hidden: true  %>
    <%= form.text_field :for_type, class: "form-control", hidden: true  %>

    <div data-controller="adhoc-notification">
      <div class="form-group">
        <%= form.label :email_method, "For Notification" %>
        <%= form.select :email_method, custom_notification.email_methods.map{|x| [x.humanize, x]}.sort, {}, class: "form-control", "data-action": "change->adhoc-notification#change"  %>
      </div>

      <% if custom_notification.owner.respond_to?(:adhoc_notifications_to) %>
      <div class="form-group" id="adhoc_notifications_to_form_group">
        <%= form.label :to %>
        <%= form.select :to, custom_notification.owner.adhoc_notifications_to.sort, {include_blank: true}, class: "form-control"  %>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :subject %>
      <%= form.text_field :subject, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= form.label :body %>
      <%= form.rich_text_area :body, class: "form-control trix"  %>
    </div>

    <div class="form-group">
      <%= form.label :whatsapp %>
      <%= form.text_area :whatsapp, class: "form-control"  %>
    </div>

    <% if custom_notification.owner_type == "CapitalCall" %>        
        <div class="form-group">
          <%= form.label :show_details %>
          <%= form.check_box :show_details, class: "form-check-input"  %>
          <small class="form-text text-muted">This will insert a table to the end of the email outlining all the details of that remittance</small>
        </div>
    <% end %>

    <% if params[:debug].present? %>      

      <div class="form-group">
        <%= form.label :password_protect_attachment %>
        <%= form.check_box :password_protect_attachment, class: "form-check-input"  %>
        <small class="form-text text-muted">Password protect the attachment sent via email</small>
      </div>

      <div class="form-group">
        <%= form.label :attachment_password, "Field used to set the password" %>
        <%= form.text_field :attachment_password, class: "form-control"  %>
        <small class="form-text text-muted">Contact support to set this up, if you are unsure. E.x investor_kyc.PAN </small>
      </div>

    <% end %>

    <div class="form-group">
      <%= form.label :attachment_names %>
      <%= form.text_field :attachment_names, class: "form-control"  %>
    </div>

    <% if current_user.support? %>      

      <div class="form-group">
        <%= form.label :is_erb, "Dynamic Template" %>
        <%= form.check_box :is_erb, class: "form-check-input"  %>
        <small class="form-text text-muted">Check if this is a dynamic template</small>
      </div>

    <% end %>

    <div class="form-group">
      <%= form.label :no_link %>
      <%= form.check_box :no_link, class: "form-check-input"  %>
      <small class="form-text text-muted">Do not add button to view details on the app, in the email</small>
    </div>

    <div class="form-group">
      <%= form.label :enabled %>
      <%= form.check_box :enabled, class: "form-check-input"  %>
      <small class="form-text text-muted">Enable / Disable</small>
    </div>

    <div class="form-group">
      <%= form.submit t_common(:save), {class: "btn btn-outline-primary"}%>
    </div>
  <% end %>

<% end %>
