<% @account_entries = @fund.account_entries.includes(:capital_commitment, :fund).not_cumulative.where(entry_type: "Advisor Payout") %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Advisor Payouts</h1>

  <span>
        <%= link_to "Download" , account_entries_path(fund_id: @fund.id, cumulative: false, entry_type: "Advisor Payout", format: :xlsx, template: "advisor_payouts"), {class: "btn btn-outline-primary" } %>
  </span>
</div>

<div class="table-responsive" data-controller="datatable">

  <table class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Advisor Name
        </th>
        <th>
          Investor
        </th>
        <th>
          Committed Amount
        </th>
        <th>
          Folio Number
        </th>
        <th>
          Fees Payable
        </th>
        <th>
          For
        </th>
        <th>
          Reporting Date
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% @account_entries.each do |account_entry| %>
        <tr>
          <td>
            <%= account_entry.capital_commitment.json_fields["advisor_name"] %>
          </td>
          <td>
            <%= account_entry.capital_commitment.investor_name %>
          </td>
          <td>
            <%= money_to_currency account_entry.capital_commitment.committed_amount, params %>
          </td>
          <td>
            <%= link_to account_entry.capital_commitment.folio_id, account_entry.capital_commitment %>
          </td>
          <td>
            <%= money_to_currency account_entry.amount, params %>
          </td>
          <td>
            <%=  account_entry.name %>
          </td>
          <td>
            <%= l account_entry.reporting_date %>
          </td>
          <td>
            <%= link_to  t_common(:show), account_entry, class: "btn btn-outline-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>