<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable ">
  <tr>
    <td>
      <%= @access_right.owner_type %>
    </td>
    <td>
      <%= link_to @access_right.owner.name, @access_right.owner if @access_right.owner %>
    </td>
  </tr>
  <tr>
    <td>
      Access To
    </td>
    <td>
      <%= @access_right.access_to_label   %>
    </td>
  </tr>
  <tr>
    <td>
      Access Type
    </td>
    <td>
      <%= @access_right.access_type %>
    </td>
  </tr>
  <tr>
    <td>
      Metadata
    </td>
    <td>
      <%= @access_right.metadata %>
    </td>
  </tr>
</table>
