<div class='nested-fields row'>

    <div class="form-group col-md-2">
        <%= form.label :position %>
        <%= form.text_field :position, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"  %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :details %>
      <%= form.text_area :details, class: "form-control"  %>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :link %>
      <%= form.text_field :link, class: "form-control"  %>
    </div>

</div>
