
<tr id="<%= dom_id investor_notice_item %>">
  <td>
    <%= investor_notice_item.investor_notice_id %>
  </td>
  <td>
    <%= investor_notice_item.title %>
  </td>
  <td>
    <%= investor_notice_item.details %>
  </td>
  <td>
    <%= investor_notice_item.link %>
  </td>
  <td>
    <%= link_to  t_common(:show), investor_notice_item , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
