

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Investor Notice
        </td>
        <td>
          <%= @investor_notice_item.investor_notice_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Title
        </td>
        <td>
          <%= @investor_notice_item.title %>
        </td>    
      </tr>
          <tr>
        <td>
          Details
        </td>
        <td>
          <%= @investor_notice_item.details %>
        </td>    
      </tr>
          <tr>
        <td>
          Link
        </td>
        <td>
          <%= @investor_notice_item.link %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to  t_common(:edit), edit_investor_notice_item_path(@investor_notice_item), {class: "btn btn-outline-primary"} %> 
  <%= button_to t_common(:delete), @investor_notice_item, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
</div>
