<%target ||= "_top" %>
<tr id="<%= dom_id ci_track_record %>">
  <td>
    <%= ci_track_record.name %>
  </td>
  <td>
    <%= ci_track_record.prefix %>
  </td>

  <td>
    <%= ci_track_record.value %>
  </td>

  <td>
    <%= ci_track_record.suffix %>
  </td>
  <td>
    <%= ci_track_record.details %>
  </td>
  <td>
    <%= link_to  t_common(:show), ci_track_record , {class: "btn btn-outline-primary", target: target}%>
  </td>
</tr>
