<tr id="<%= dom_id investor_advisor %>">
  <td>
    <%= investor_advisor.user.entity.name %>
  </td>
  <td>
    <%= investor_advisor.user.full_name %>
  </td>
  <td>
    <%= investor_advisor.email %>
  </td>
  <td>
    <%= link_to "Show", investor_advisor , {class: "btn btn-primary"}%>
  </td>
</tr>
