
<table class="table table-bordered dataTable">
  <tr>
    <td>
      User
    </td>
    <td>
      <%= @investor_advisor.user.full_name %>
    </td>
  </tr>
  <tr>
    <td>
      Email
    </td>
    <td>
      <%= @investor_advisor.email %>
    </td>
  </tr>
  <tr>
    <td>
      Allowed Roles
    </td>
    <td>
      <%= @investor_advisor.allowed_roles.map{|r| r.to_s.humanize.titleize}.join(", ") %>
    </td>
  </tr>
  <tr>
    <td>
      Permissions
    </td>
    <td>
      <% @investor_advisor.permissions.map{|p| p.to_s.titleize}.each do |permission| %>
        <span class="badge bg-success"><%= permission %></span>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      Extended Permissions
    </td>
    <td>
      <% @investor_advisor.extended_permissions.map{|p| p.to_s.titleize}.each do |permission| %>
        <span class="badge bg-success"><%= permission %></span>
      <% end %>
    </td>
  </tr>

</table>
<div>
  <%= link_to  t_common(:edit), edit_investor_advisor_path(@investor_advisor), {class: "btn btn-outline-primary"} %> 
  <%= button_to t_common(:delete), @investor_advisor, method: :delete, class: "btn btn-outline-danger", form_class: "deleteButton", data: {action: "click->confirm#popup", turbo:false}  %>
</div>

<div class="associated_entity" data-controller="datatable">
  <%= render "/access_rights/index", 
    access_rights: AccessRight.where(user_id: @investor_advisor.user_id, 
        entity_id: @investor_advisor.entity_id).where.not(owner_type: "Folder") %>
</div>