<% if @custom_notification.present? %>
    <%= render "/custom_notifications/mail" do %>
        <%= render "/secondary_sale_mailer/sale", secondary_sale: @secondary_sale, current_user: nil if @custom_notification.show_details %>
    <% end %>
<% else %>

    <h3>Dear User</h3>

    <p>
        A new secondary sale <%= @secondary_sale.name %> has been opened by <%= @secondary_sale.entity.name %>
    </p>

    <p>
        <%= render "/secondary_sale_mailer/sale", secondary_sale: @secondary_sale, current_user: nil %>
    </p>

<% end %>

<p class="btn btn-outline-primary"><%= link_to t('secondaries_actions.view_sale'), secondary_sale_url(@secondary_sale, subdomain: @secondary_sale.entity.sub_domain) %></p>
