<h3>Dear Buyer</h3>

<p>
    The allocation process for the secondary sale <%= @secondary_sale.name %> has been completed. Please ensure that all the required documentation is has been uploaded by you, to finalize the sale.   
</p>

<% if @secondary_sale.buyer_doc_list.present? %>
<p>
    You will be required to upload the following documents: <%= @secondary_sale.buyer_doc_list %>
</p>
<% end %>

<p>
    <%= render "/secondary_sale_mailer/sale", secondary_sale: @secondary_sale, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Sale & Upload Docs', secondary_sale_url(@secondary_sale, tab: "interests-tab", subdomain: @secondary_sale.entity.sub_domain) %></p>

<h3>Next Steps</h3>
<p>
    <ul>
        <li>Login and check details of your offer/interest.</li>
        <li>Read the SPA attached to your offer.</li>
        <li>Accept the SPA.</li>
        <li>A separate email from <%= @secondary_sale.entity.name %>, will be sent to you with the details of next steps </li>
    </ul>
</p>

