<h3>Dear User</h3>

<p>
    Your Option excercise has been registered and is pending approval.
    <%=@excercise.user.full_name %> has opted for cashless excercise. Their Details -
    <%= @excercise.shares_to_allot %> shares to be alloted
    <%= @excercise.shares_to_sell %> options to be cancelled
</p>

<p>
    <%= render "/excercises/show", excercise: @excercise, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Excercise', excercise_url(@excercise, subdomain: @excercise.entity.sub_domain) %></p>
