
<tr id="<%= dom_id ticker_feed %>">
  <td>
    <%= ticker_feed.ticker %>
  </td>
  <td>
    <%= money_to_currency ticker_feed.price %>
  </td>
  <td>
    <%= ticker_feed.name %>
  </td>
  <td>
    <%= ticker_feed.source %>
  </td>
  <td>
    <%= l ticker_feed.for_date %>
  </td>
  <td>
    <%= l ticker_feed.for_time %>
  </td>
  <td>
    <%= ticker_feed.price_type %>
  </td>
  <td>
    <%= link_to  t_common(:show), ticker_feed , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
