<tr id="<%= dom_id esign %>">
  <td>
    <%= esign.user.full_name %>
    <%= esign.user.email %>    
  </td>
  <td>
    <%= link_to esign.owner_type %>
  </td>
  <td>
    <%= esign.sequence_no %>
  </td>
  <td>
    <%= link_to "Esign Link", esign.link %>
  </td>
  <td>
    <%= esign.reason %>
  </td>
  <td>
    <%= esign.status %>
  </td>
  <td>
    <%= display_boolean esign.completed %>
  </td>
  <td>
    <%= link_to "Show", esign , {class: "btn btn-primary"}%>
  </td>
</tr>
