<%= form_with(model: esign) do |form| %>
  <% if esign.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(esign.errors.count, "error") %> prohibited this esign from being saved:</h2>

      <ul>
        <% esign.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :sequence %>
    <%= form.number_field :sequence_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :reason %>
    <%= form.text_area :reason, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :completed %>
    <%= form.check_box :completed, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-outline-primary"}%>
  </div>
<% end %>
