<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @esign.entity_id %>
        </td>    
      </tr>
          <tr>
        <td>
          User
        </td>
        <td>
          <%= @esign.user_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Owner
        </td>
        <td>
          <%= @esign.owner_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Sequence
        </td>
        <td>
          <%= @esign.sequence_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Link
        </td>
        <td>
          <%= @esign.link %>
        </td>    
      </tr>
          <tr>
        <td>
          Reason
        </td>
        <td>
          <%= @esign.reason %>
        </td>    
      </tr>
          <tr>
        <td>
          Status
        </td>
        <td>
          <%= @esign.status %>
        </td>    
      </tr>
          <tr>
        <td>
          Completed
        </td>
        <td>
          <%= @esign.completed %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_esign_path(@esign), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @esign, method: :delete, class: "btn btn-danger", form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
</div>
